<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var $block \Magento\Swatches\Block\Product\Renderer\Configurable */
?>
<div class="swatch-opt-<?= $block->getProduct()->getId() ?>"></div>
<script>
    require(["jquery", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
        $('.swatch-opt-<?= $block->getProduct()->getId() ?>').SwatchRenderer({
            selectorProduct: '.product-item-details',
            onlySwatches: true,
            enableControlLabel: false,
            numberToShow: <?= $block->getNumberSwatchesPerProduct(); ?>,
            jsonConfig: <?= $block->getJsonConfig(); ?>,
            jsonSwatchConfig: <?= $block->getJsonSwatchConfig(); ?>,
            mediaCallback: '<?= $block->getMediaCallback() ?>'
        });

        // Remove swatch slider if swatch list is empty
        var swatchConfig = <?= $block->getJsonSwatchConfig(); ?>;
        if (Array.isArray(swatchConfig) && swatchConfig.length === 0) {
            $('.swatch-opt-<?= $block->getProduct()->getId() ?>').parent().remove()
        }
    });
</script>