/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Label
 * @author       Jim McGowen <jim@kurufootwear.com>
 * @copyright    Copyright (c)2018 KURU Footwear
 */

.amasty-label-container {
	z-index: auto !important;
}

.product-item-info {
	z-index: auto !important;
}

.slick-slide .product-item-photo {
	display: flex !important;
}
