<?php
/**
 * @vendor Kurufootwear
 * @module Mirasvit_Rewards
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/* @var $block Kurufootwear\Checkout\Block\Checkout\Cart\RewardsPoints */
?>

<div id="block-rewards-form" class="block-rewards-form block shipping">
    <div id="block-rewards-points-form" data-bind="scope:'block-rewards-points-form'" class="content" data-role="content" aria-labelledby="block-rewards-form-heading">
        <?php if ($points = $block->exchangePointsAvailable()): ?>
            <?php $block->notify(__('You have recently made an exchange request and received ' .
                $points . ' reward points. They have been automatically applied to this order.'));?>
        <?php endif; ?>
        <?php if ($block->getMaxPointsNumberToSpent()): ?>
            <!-- ko template: getTemplate() --><!-- /ko -->
            <script type="text/x-magento-init">
                {
                    "#block-rewards-points-form": {
                        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
                    }
                }
            </script>
            <script>
                require([
                    'mage/url',
                    'Magento_Ui/js/block-loader'
                ], function(url, blockLoader) {
                    <?php echo $points ? 'window.checkoutConfig.setAllExchangePoints = true;' : '' ?>
                    blockLoader("<?php /* @escapeNotVerified */ echo $block->getUrl('media/wysiwyg/loader.svg'); ?>");
                    return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
                })
            </script>
        <?php else: ?>
            <form id="reward-points-form" data-bind="attr: { action: ApplayPointsUrl }, blockLoader: isLoading" method="post">
                <div class="rewards__checkout-cart-usepoints">
                    <div class="reward-discount-form">
                        <div class="wrapper-available">
                            <div class="header">
                                <div class="title" data-role="title">
                                    <strong id="block-rewards-form-heading" role="heading" aria-level="2">
                                        <?php echo __('KURU CASH REWARDS');?>
                                    </strong>
                                </div>
                            </div>
                        </div>

                        <div class="slider-login">
                            <p class="login-info">
                                <?php if (!$block->isLoggedIn()):?>
                                    <a class="login-link link" href="<?php echo $block->getUrl('customer/account'); ?>">
                                        <?php echo __('Login');?>
                                    </a><?php echo __('or');?>
                                    <a class="register-link link" href="<?php echo $block->getUrl('customer/account'); ?>">
                                        <?php echo __('Register');?>
                                    </a>
                                    <?php echo __('to earn/spend KURU Rewards Points on this order.');?>
                                <?php else: ?>
                                    <?php echo __('Earn KURU Rewards Points when buying our products and get discounts.');?>
                                <?php endif; ?>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        <?php endif; ?>
    </div>
</div>
