<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/**
 * @see \Magento\Paypal\Block\Express\Review\Details
 * @var \Magento\Paypal\Block\Express\Review\Details $block
 */
?>
<div id="details-reload" class="table-wrapper order-items cart">
    <div class="table-caption">
        <?php echo $block->escapeHtml(__('Items in Your Shopping Cart')); ?>
    </div>
    <?php foreach ($block->getItems() as $item): ?>
        <?php echo $block->getItemHtml($item) ?>
    <?php endforeach ?>
    <div class="opc-block-summary">
        <?php echo $block->getChildHtml('totals'); ?>
    </div>
</div>
