<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/* @var $block \Kurufootwear\Rma\Block\CustomField\Input\Renderer\Radio */
?>
<?php
$isWrapped = $block->getIsWrapped();
$isRequired = $block->isRequired();
$fieldClasses = 'field aw-rma-custom-field';
if ($isRequired) {
    $fieldClasses .= ' required';
}
$labelClasses = 'label';
if ($isRequired) {
    $labelClasses .= ' required';
}
?>
<?php if ($isWrapped): ?>
<div class="<?php echo $fieldClasses ?>">
    <label class="<?php echo $labelClasses ?>" for="<?php echo $block->getHtmlId() ?>">
        <span><?php echo $block->getCustomField()->getFrontendLabel() ?></span>
    </label>
    <div class="control">
        <?php endif; ?>
        <?php if ($block->isEditable()): ?>
            <?php foreach ($block->getOptions() as $option): ?>
                <?php $htmlOptionId = 'custom_field_' . $option['value'] ?>
                <li>
                    <input type="radio"
                           id="<?php echo $htmlOptionId ?>"
                           name="custom_fields[<?php echo $block->getId() ?>]"
                           value="<?php echo $option['value'] ?>"
                           class="<?php if ($block->getIsRequired()): ?>required-entry<?php endif; ?>"
                           <?php if ($block->getIsDefault($option['value'])): ?>checked="checked"<?php endif; ?>
                    />
                    <label for="<?php echo $htmlOptionId ?>"><?php echo $option['label'] ?></label>
                </li>
            <?php endforeach; ?>
        <?php else: ?>
            <span><?php echo $block->getValueLabel() ?></span>
        <?php endif; ?>
        <?php if ($isWrapped): ?>
    </div>
</div>
<?php endif; ?>
