<!--
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Vault
 * @author      Krisjanis Veinbahs <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<div class="payment-method" css="'_active': (getId() === isChecked())">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="
                    attr: {'id': getId()},
                    value: getId(),
                    click: selectPaymentMethod,
                    checked: isChecked,
                    visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getId()}">
            <img data-bind="attr: {
            'src': getIcons(getCardType()).url,
            'width': getIcons(getCardType()).width,
            'height': getIcons(getCardType()).height
            }" class="payment-icon">
            <span translate="'Your Saved Credit Card ending with'"></span>
            <span text="getMaskedCard()"></span>
            <span class="expire-info">
                (
                <span translate="'Expires in'"></span>
                <span text="getExpirationDate()"></span>
                )
            </span>
        </label>
    </div>

    <div class="payment-method-content">
        <each args="getRegion('messages')" render=""></each>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                            click: placeOrder,
                            attr: {title: $t('Place Order')}">
                    <span translate="'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
