<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Catalog
 * @author      Krisjanis Veinbahs <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>

<?php /** @var \Kurufootwear\Catalog\Block\Benefits $block */ ?>
<?php $benefits = $block->getBenefits(); ?>
<?php if ($benefits): ?>
    <div class="product-benefits">
        <div class="block-wrapper">
            <div class="benefit-header">
                <h2 class="benefit-title"><?php echo __('Perfect for') ?></h2>
            </div>
            <div class="benefit-body">
                <div class="showcase-wrapper">
                    <?php foreach ($benefits as $benefit): ?>
                        <div class="benefit">
                            <div class="benefit-icon-wrapper tooltip-toggle"
                                 option-label="<?php echo $benefit->getDescription() ? $benefit->getDescription() : ''; ?>">
                                <img class="benefit-icon logo" type="image/svg+xml"
                                     src="<?php echo $benefit->getImageLink() ? $benefit->getImageLink() : ''; ?>"/>
                            </div>
                            <?php if ($benefit->getTitle()): ?>
                                <p class="benefit-title"><?php echo $benefit->getTitle(); ?></p>
                            <?php else: ?>
                                <p class="benefit-title"><?php echo $benefit->getLabel(); ?></p>
                            <?php endif; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
