<?php
/**
 * @vendor      Kurufootwear
 * @module      Magento_Catalog
 * @author      Aleksejs Baranovs <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Ltd (http://scandiweb.com)
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * @var \Kurufootwear\Catalog\Block\Benefits $block
 */
?>
<?php $benefits = $block->getBenefits(); ?>
<?php if ($benefits): ?>
    <div class="product-benefits">
        <div class="block-wrapper">
            <div class="benefit-body">
                <div class="showcase-wrapper">
                    <?php foreach ($benefits as $benefit): ?>
                        <div class="benefit">
                            <div class="text-wrapper">
                                <?php if ($benefit->getTitle()): ?>
                                    <p class="benefit-title"><?php echo $benefit->getTitle(); ?></p>
                                <?php else: ?>
                                    <p class="benefit-title"><?php echo $benefit->getLabel(); ?></p>
                                <?php endif; ?>
                                <div class="benefit-description">
                                    <?php echo $benefit->getDescription() ? $benefit->getDescription() : ''; ?>
                                </div>
                            </div>
                            <div class="benefit-icon-wrapper tooltip-toggle">
                                <img class="benefit-icon logo" type="image/svg+xml"
                                     src="<?php echo $benefit->getImageLink() ? $benefit->getImageLink() : ''; ?>"/>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        ".product-benefits": {
            "Kurufootwear_Catalog/js/colors":{"config":"value"}
        }
    }
    </script>
<?php endif; ?>
