<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/**
 * @var \Kurufootwear\Catalog\Block\Benefits $block
 */
?>
<?php $benefits = $block->getBenefits(); ?>
<?php if ($benefits): ?>
    <div class="product-benefits">
        <h3 class="product-benefits-title">
            <?php echo __('Why You\'ll Love It') ?>
        </h3>
        <div class="block-wrapper">
            <div class="benefit-body">
                <div class="showcase-wrapper">
                    <?php foreach ($benefits as $benefit): ?>
                        <div class="benefit">
                            <div class="benefit-icon-wrapper tooltip-toggle">
                                <img class="benefit-icon logo" type="image/svg+xml"
                                     src="<?php echo $benefit->getImageLink() ? $benefit->getImageLink() : ''; ?>"/>
                            </div>
                            <div class="text-wrapper">
                                <?php if ($benefit->getTitle()): ?>
                                    <p class="benefit-title"><?php echo $benefit->getTitle(); ?></p>
                                <?php else: ?>
                                    <p class="benefit-title"><?php echo $benefit->getLabel(); ?></p>
                                <?php endif; ?>
                                <div class="benefit-description">
                                    <?php echo $benefit->getDescription() ? $benefit->getDescription() : ''; ?>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
