<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Catalog
 * @author      Kristap Stalidzans <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

use Kurufootwear\Catalog\Block\CategoryList;

/** @var CategoryList $block */
$categories = $block->getCurrentCategoriesCollection();
$categoryHelper = $block->getCategoryHelper();
?>
<ol class="items am_shopby_filter_items_attr_category_ids">
    <form data-amshopby-filter="attr_category_ids">
        <?php if ($block->getParentCategoryCheck()):?>
            <li class="item" data-label="categories">
                <a amshopby-forceload="1"
                   class="am_shopby_filter_item_cat"
                   href="<?php echo $block->getShopAllLink(); ?>">
                    <span class="label">
                        <?php echo __('Shop All'); ?>
                    </span>
                </a>
            </li>
        <?php endif;?>
        <?php foreach ($categories as $category): ?>
            <li class="item" data-label="categories">
                <a amshopby-forceload="1"
                   class="am_shopby_filter_item_cat <?php echo $block->getSelectedCategory($category->getId()); ?>"
                   href="<?php echo $categoryHelper->getCategoryUrl($category); ?>">
                    <span class="label">
                        <?php echo $category->getName(); ?>
                    </span>
                </a>
            </li>
        <?php endforeach; ?>
    </form>
</ol>
