<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Kristaps Stalidzans <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
use Kurufootwear\Catalog\Block\Product\Description;
/**
 * @TODO make it dynamic to get conent
 */
?>
<?php /** @var \Kurufootwear\Catalog\Block\Product\Description $block */ ?>
<?php if ($block->getDescription()): ?>
    <div class="description-wrapper" id="content-description-wrapper">
        <div class="product-description-name">
            <h2 class="description-title">
                <?php echo $block->getProductName(); ?>
            </h2>
        </div>
        <div class="content-wrapper">
            <?php $description = $block->getProductData(Description::DESCRIPTION); ?>
            <?php if ($description): ?>
                <div class="product-description-wrapper">
                    <h3 class="product-description-title">
                        <?php echo __('Description'); ?>
                    </h3>
                    <div class="product-description-content">
                        <?php echo $description; ?>
                        <?php echo ($benefit = $block->getProductData(Description::IDEALFOR)) ? $benefit : ''; ?>
                    </div>
                </div>
            <?php endif; ?>
            <?php $benefit = $block->getProductData(Description::BENIFIT); ?>
            <?php if ($benefit):?>
                <div class="product-benefit-wrapper">
                    <h3 class="product-benefits-title">
                        <?php echo __('Why You\'ll Love It'); ?>
                    </h3>
                    <div class="product-benefits-content">
                        <?php echo $benefit; ?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
