<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/**
 * @var Description $block
 */
use Kurufootwear\Catalog\Block\Product\Description;
?>
<?php if ($block->getDescription()): ?>
    <div class="description-wrapper" id="content-description-wrapper">
        <div class="content-wrapper">
            <?php $description = $block->getProductData(Description::DESCRIPTION) ?>
            <?php if ($description): ?>
                <div class="product-description-wrapper">
                    <h3 class="product-benefits-title">
                        <?php echo __('Description') ?>
                    </h3>
                    <div class="product-description-content">
                        <?php echo $description ?>
                        <?php echo ($benefit = $block->getProductData(Description::IDEALFOR)) ? $benefit : '' ?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
