<?php
/**
 * @vendor      Kurufootwear
 * @module      Magento_Catalog
 * @author      Aleksejs Baranovs <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb, Ltd (http://scandiweb.com)
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * @var Description $block
 */
use Kurufootwear\Catalog\Block\Product\Description;
?>
<?php if ($block->getDescription()): ?>
    <div class="description-wrapper" id="content-description-wrapper">
        <div class="content-wrapper">
            <?php $description = $block->getProductData(Description::DESCRIPTION); ?>
            <?php if ($description): ?>
                <div class="product-description-wrapper">
                    <div class="product-description-content">
                        <?php echo $description; ?>
                        <?php echo ($benefit = $block->getProductData(Description::IDEALFOR)) ? $benefit : ''; ?>
                    </div>
                </div>
            <?php endif; ?>
            <?php $benefit = $block->getProductData(Description::BENIFIT); ?>
            <?php if ($benefit):?>
                <div class="product-benefit-wrapper">
                    <h3 class="product-benefits-title">
                        <?php echo __('Why You\'ll Love It'); ?>
                    </h3>
                    <div class="product-benefits-content">
                        <?php echo $benefit; ?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
