<!--
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Blog
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<div class="file-uploader-summary">
    <div class="file-uploader-filename" text="$file.name"/>
    <div class="actions">
        <button
                type="button"
                class="action-remove"
                data-role="delete-button"
                click="$parent.removeFile.bind($parent, $file)"
                attr="title: $t('Delete image')">
            <span translate="'Delete image'"/>
        </button>
    </div>
</div>
