<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block partial block-dashboard-info">
    <div class="block-title"><strong><?php echo __('Account Information') ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?php echo __('Contact Information') ?></span>
            </strong>
            <div class="box-content">
                <p class="paragraph">
                    <?php echo $block->escapeHtml($block->getName()) ?><br>
                    <?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                </p>
            </div>
            <div class="box-actions">
                <a href="<?php echo $block->getChangePasswordUrl() ?>" class="action change-password link">
                    <?php echo __('Change Password') ?>
                </a>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?php echo __('Newsletters') ?></span>
                </strong>
                <div class="box-content">
                    <p class="paragraph">
                        <?php if ($block->getIsSubscribed()): ?>
                            <?php echo __('You subscribe to Kurufootwear newsletter.') ?>
                        <?php else: ?>
                            <?php echo __('You are currently not subscribed to any newsletter.') ?>
                        <?php endif; ?>
                    </p>
                    <?php /* Extensions placeholder */ ?>
                    <?php echo $block->getChildHtml('customer.account.dashboard.info.extra')?>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>
