<!--
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<li class="item product product-item" data-role="product-item" data-mage-init='{"loader": {}}'>
    <div class="product-item-container">
        <div class="product-item-details">
            <div class="details-main">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
                    <!-- ko foreach: $parent.getRegion('itemImage') -->
                        <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                    <!-- /ko -->
                </a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                <span class="product-item-photo">
                    <!-- ko foreach: $parent.getRegion('itemImage') -->
                        <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                    <!-- /ko -->
                </span>
                <!-- /ko -->

                <div class="product-item-description">
                    <div class="product-name-container">
                        <span class="product-item-name">
                            <!-- ko if: product_has_url -->
                                <a data-bind="attr: {href: product_url}, text: product_name" class="item-name"></a>
                            <!-- /ko -->
                            <!-- ko ifnot: product_has_url -->
                                <!-- ko text: product_name --><!-- /ko -->
                            <!-- /ko -->
                        </span>
                        <div class="product-actions">
                            <div class="secondary delete-button">
                                <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}" class="action delete">
                                    <span class="delete-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- ko if: options.length -->
                        <div class="product options">
                            <span data-role="title"></span>

                            <div data-role="content" class="content options-content">
                                <dl class="product options list">
                                    <!-- ko foreach: { data: options, as: 'option' } -->
                                        <dt class="label"><!-- ko text: option.label --><!-- /ko -->:</dt>
                                        <dd class="values" data-bind="css: option.label.toLowerCase() ">
                                            <!-- ko if: Array.isArray(option.value) -->
                                                <span data-bind="html: option.value.join('<br>')"></span>
                                            <!-- /ko -->
                                            <!-- ko ifnot: Array.isArray(option.value) -->
                                                <span data-bind="html: option.value"></span>
                                            <!-- /ko -->
                                        </dd>
                                    <!-- /ko -->
                                    <dt class="label"><!-- ko i18n: 'Qty:' --><!-- /ko --></dt>
                                    <dd class="values" data-bind="text: qty"></dd>
                                </dl>
                            </div>
                        </div>
                    <!-- /ko -->

                    <div class="product-item-pricing">
                        <!-- ko if: canApplyMsrp -->

                        <div class="details-map">
                            <span class="label" data-bind="i18n: 'Price'"></span>
                            <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot: canApplyMsrp -->
                            <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                                <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
                            <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>

            <span><!--ko data: is_in_stock --><!-- /ko --></span>
        </div>
    </div>
</li>
