<?php
$term = $block->getSearchTerm();
$results = $block->getResults();
?>

<form id="comment_search_form" class="form-inline" method="GET">
	<fieldset class="fieldset admin__fieldset" id="comment_search_fieldset">
		<div class="admin__field field">
			<label class="label admin__field-label" for="tracking_number">
				<span>Search Comments</span>
			</label>
			<div class="admin__field-control control">
				<input id="search_term" name="search_term" value="<?php echo($block->escapeHtml($term)); ?>"/>
			</div>
		</div>
		<div class="admin__field field">
			<label class="label admin__field-label"></label>
			<div class="admin__field-control control">
				<button type="submit" id="search_button" class="action primary">
					<span>Search</span>
				</button>
			</div>
		</div>
	</fieldset>
</form>
	
<div class="result">
	<?php if (!empty($results)): ?>
	<table class="result-table">
		<tr>
			<th>Order #</th>
			<th>RMA #</th>
			<th>Comment</th>
		</tr>
		<?php foreach($results as $result):?>
			<tr>
				<td><a href="<?php echo($block->getOrderUrl($result['order_id'])); ?>" target="_blank"><?php echo($result['increment_id']); ?></a></td>
				<td><a href="<?php echo($block->getRmaUrl($result['rma_id'])); ?>" target="_blank"><?php echo($result['rma_id']); ?></a></td>
				<td><?php echo($result['comment']); ?></td>
			</tr>
		<?php endforeach; ?>
	</table>
	<?php endif; ?>
</div>
