// /**
// * @category  Kurufootwear
// * @package   Kurufootwear\Catalog
// * @author    Krisjanis Veinbahs <krisjanisv@scandiweb.com>
// * @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// */

.catalog-category-view {
    .page-title-wrapper,
    .toolbar.toolbar-products {
        @include media($desktop-small) {
            @include padding(0 20px);
            @include margin(null auto);
            @include display(block);
            max-width: $max-width;
            min-width: 0;
            position: relative;
            width: 100%;
        }
    }

    .page-title-wrapper {
        @include display(none);
        @include outer-container;

        @include media($desktop-small) {
            @include display(block);
            @include position(absolute);
            @include margin(20px auto);
            color: $clr-video-banner;
            font-family: $montserrat;
            font-size: $f-size-10xl;
            font-weight: bold;
            height: 0;
            left: 0;
            line-height: 30px;
            margin-top: 0;
            right: 0;
            text-align: center;
        }

        .base {
            font-size: $f-size-7xl;
            line-height: $f-size-7xl;
        }

        .page-title {
            @include media($desktop-small) {
                @include margin(13px null null);
                width: 100%;
            }
        }
    }

    .filter {
        @include outer-container;

        .block-title {
            @include media($desktop-small) {
                height: 34px;
                z-index: 1;
            }
        }
    }

    .filter-content {
        max-width: $max-width;
        width: 100%;

        @include media($desktop-small) {
            margin-top: 0;
            top: 0;
            z-index: 1;
        }

        @include media($max-width) {
            left: calc((100% - #{$max-width}) / 2) !important;
            top: 90px;
        }
    }

    .toolbar-products {
        @include padding(10px null 0);
        min-width: 100%;

        @include media($desktop-small) {
            min-width: 0;
        }

        &:first-of-type {
            @include media($desktop-small) {
                @include position(absolute);
            }
        }

        &:not(:first-of-type) {
            @include display(none);
        }

        .limiter {
            @include display(none);
            @include margin(10px 0);
            border-top: 1px solid $clr-dark-spacer;
            height: 0;
            max-width: none;
            overflow: hidden;

            @include media($tablet) {
                @include display(none);
            }
        }

        .toolbar-amount,
        .pages {
            @include display(none);
        }
    }

    .toolbar-amount,
    .product-items-amount {
        &::before {
            content: 'All shoes (';
            text-transform: inherit;
        }

        &::after {
            content: ')';
            text-transform: inherit;
        }
    }

    .product-items-amount {
        @include display(none);
        @include padding(15px null 5px);

        @include media($desktop-small) {
            float: right;
            padding-top: 13px;
        }
    }

    .sorter {
        @include position(relative);
        width: auto;

        @include media($desktop-small) {
            @include position(absolute);
            right: 40px;
            top: 8px;
            z-index: 2;
        }

        a {
            @include display(none);
        }

        label {
            @include position(absolute, null null 12px 13px);
            text-transform: uppercase;
            z-index: 1;

            @include media($desktop-small) {
                @include display(inline-block);
                left: -60px;
                text-transform: none;
                top: 8px;
            }

            &::after {
                @include media($desktop-small) {
                    content: ':';
                }
            }
        }

        .selectric {
            .label {
                float: right;

                @include media($desktop-small) {
                    height: 34px;
                    line-height: 34px;
                }
            }

            .button {
                @include media($desktop-small) {
                    height: 30px;
                    padding-right: 12px;
                }
            }
        }
    }

    .yotpo {
        .yotpo-display-wrapper {
            width: auto;
        }

        .yotpo-stars {
            @include display(inline-block);

            @include media($tablet) {
                width: auto;
            }
        }

        .yotpo-icon-star,
        .yotpo-icon-half-star,
        .yotpo-icon-empty-star {
            font-size: 14px !important;

            @include media($mobile-medium) {
                font-size: 15px !important;
            }

            @include media($mobile-medium-l) {
                font-size: 17px !important;
            }
        }

        &.bottomLine {
            @include align-items(center);
            @include display(inline-flex !important);
            height: 45px;

            @include media($tablet) {
                height: inherit;
            }
        }

        .yotpo-bottomline {
            @include display(flex);
            @include align-items(center);
            @include flex-direction(row);

            a {
                @include display(none);
                @include margin(null null null 4px);
                font-family: $source-sans-pro;
                font-size: $f-size-l;

                @include media($mobile-medium) {
                    @include display(block);
                }

                @include media($tablet) {
                    @include display(inline-block);
                }
            }
        }
    }

    .products-grid {
        width: 100%;
    }

    .product-item-info-wrapper {
        @include transition(.3s ease-in-out);
        @include position(relative);
        overflow: hidden;

        &.hover {
            @include position(absolute, 0 0 null);
            box-shadow: 0 0 4px 0 $clr-black-five;
            z-index: 1;

            .static-info {
                @include margin(15px 12px 9px);
            }

            .swatches {
                height: 40px;
                min-height: 40px;
            }

            .swatch-attribute-options {
                &.visible {
                    opacity: 1;
                }

                &:not(.visible) + .loader-wrapper {
                    z-index: 2;

                    .loader {
                        opacity: 1;
                        z-index: 3;
                    }
                }
            }
        }

        &:not(.enabled),
        &.enabled.mobile:not(.enabled-mobile) {
            .product-item-info {
                pointer-events: none;
            }
        }

        &.enabled,
        &.enabled.mobile.enabled-mobile {
            .product-item-info {
                pointer-events: auto;
            }
        }
    }

    .amasty-shopby-product-list {
        @include outer-container;
        @include margin(null null 30px);

        .empty {
            @include margin(30px null null);
        }

        .amscroll-loading {
            @include margin(null auto);
            animation: spin $duration linear infinite;
            height: 60px;
            width: 60px;
        }

        .product-item {
            @include position(relative);

            @include media(calc(#{$mobile-large} - 1)) {
                margin-bottom: 20px;
            }

            // Fixed heights (performance issues forbid use of dynamic JS)
            @media (max-width: $mobile-medium - 1) {
                margin-bottom: 8%;
            }

            @media (min-width: $mobile-medium) and (max-width: $mobile-large - 1) {
                margin-bottom: 10%;
            }

            @media (min-width: $mobile-large) and (max-width: $tablet - 1) {
                margin-bottom: 8%;
            }

            @media (min-width: $tablet) and (max-width: $tablet-medium - 1) {
                margin-bottom: 4%;
            }

            @media (min-width: $tablet-medium) and (max-width: $desktop-small - 1) {
                margin-bottom: 6%;
            }

            @media (min-width: $desktop-small) and (max-width: $desktop - 1) {
                margin-bottom: 4%;
            }

            @media  (min-width: $desktop) {
                margin-bottom: 36px;
            }

            // Column sets
            @media (max-width: $tablet - 1) {
                @include columns(2, 5);
            }

            @media (min-width: $tablet) and (max-width: $desktop-small - 1) {
                @include columns(3, 11);
            }

            @media (min-width: $desktop-small) {
                @include columns(4, 11);
            }
        }
    }

    .product-item-info {
        @include position(relative);
        @include background($clr-white);
        @include display(flex);
        flex-flow: column;
        height: 100%;
        width: 100%;

        .swatch-opt,
        .swatch-attribute,
        .product-reviews-summary,
        .swatch-attribute-selected-option {
            @include margin(0);
            @include display(none);
        }

        .swatch-attribute-label {
            @include margin(0);
            color: $clr-corduroy;
            font-family: $source-sans-pro;
            font-size: $f-size-xs;
            font-weight: normal;
        }

        .swatch-attribute-options {
            @include position(relative);
            @include margin(0 auto);
            @include display(flex);
            @include justify-content(space-around);
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
            position: relative;
            width: calc(100% - 50px);

            @include media(340px) {
                width: 60%;
            }

            > .swatch-option {
                width: 40px !important;
            }

            + .loader-wrapper {
                @include position(absolute, 0 0 0 0);
                z-index: -2;

                .loader {
                    @include position(absolute, 5px 0 0 calc(50% - 15px));
                    animation: spin $duration linear infinite;
                    background: {
                        image: url('/media/wysiwyg/loader.svg');
                        repeat: no-repeat;
                    }
                    content: '';
                    transition: opacity 0.2s ease-in-out;
                    opacity: 0;
                    width: 30px;
                    height: 30px;
                    z-index: -1;
                }
            }

            &:after {
                @include position(absolute);
            }
        }

        .swatch-attribute.color {
            @include position(relative);
            @include display(block);
        }

        .slick-track {
            @include margin(null auto);
        }

        .slick-list {
            width: 100% !important;
        }

        .slick-arrow {
            min-width: 0;
            top: 7px;
            width: 28px;
        }

        .slick-arrow::before {
            @include display(none);
        }

        .slick-prev {
            @include arrow(left, $arrowsize, 2px, $clr-dusty-gray);
            left: -18%;
        }

        .slick-next {
            @include arrow(right, $arrowsize, 2px, $clr-dusty-gray);
            right: -18%;
        }

        .swatch-option:not(.disabled):hover,
        .swatch-option {
            border: 0;
            outline: none;
        }

        .swatch-option {
            @include margin(null 5px);
            height: 40px !important;
            max-width: none;

            @media (max-width: 340px) {
                margin-left: 1px;
                margin-right: 1px;
            }
        }

        .swatches,
        .swatch-opt {
            @include display(inline-block);
            height: 0;
            min-height: 0;
            overflow: hidden;
            width: 100%;
            z-index: 1;
        }

        .swatches {
            @include transition(.3s ease-in-out);
            transform: translate3d(0, 0, 0);
        }

        .swatched .swatches * {
            height: 90%;
        }

        .static-info {
            @include margin(2px 0);
            @include display(block);
            @include flex(1 1 auto);
            @include flex-direction(column);
            @include justify-content(space-between);
            @include transition(margin .3s);
            height: 100%;
        }
    }

    .products {
        @include display(inline-flex);
        @include justify-content(flex-start);
        align-items: stretch;
        flex-flow: row wrap;
        max-width: inherit;
        min-width: 100%;

        @include media($desktop-small) {
            @include margin(null auto);
            max-width: $max-width;
        }

        &.product-items {
            @include padding(0);
        }

        .product-item-photo {
            @include display(flex);
            @include align-items(flex-start);
        }

        .product-image-photo.swatch-option-loading {
            @include margin(16% null null);

            @include media($mobile-medium) {
                @include margin(30% null null);
            }
        }

        .product-image-wrapper {
            @include margin(0 auto);

            img {
                height: 100%;
                width: 100%;
            }

            .swatch-option-loading {
                @include margin(40%);
                @include padding(30px);
                animation: spin $duration linear infinite;
                background: url('/media/wysiwyg/loader.svg') no-repeat;
                background-size: 60px 60px;
                box-sizing: border-box;
                content: url('/media/wysiwyg/loader.svg') no-repeat;
                height: 60px;
                width: 60px;

                @include media(340px) {
                    width: 60px;
                }
            }
        }

        .quality-price {
            @include display(flex);
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            height: 15px;

            > * {
                @include display(inline-block);
            }
        }

        .price-box {
            @include margin(4px 0);
            font-family: $source-sans-pro;
            font-size: $f-size-5xl;
            font-weight: 600;
        }

        .old-price,
        .special-price {
            @include display(inline-block);
            width: auto;

            @include media($tablet) {
                @include display(block);
            }
        }

        .old-price {
            @include padding(null null null 5px);
            font-size: $f-size-xxxl;
            line-height: 32px;

            .price {
                color: $clr-tundora;
                text-decoration: line-through;
            }
        }

        .product-item-name {
            color: $clr-ebony-clay;
            font-size: $f-size-l;
            line-height: 19px;
            text-align: left;
            text-transform: uppercase;

            @include media($tablet) {
                font-size: $f-size;
                line-height: 17px;
            }
        }

        // Text overflow fade-out
        .product-item-name,
        .product-swatch {
            @include media($mobile) {
                @include display(block);
                @include position(relative);
                overflow: hidden;
                white-space: nowrap;

                &::after {
                    @include position(absolute, 0 0 0 null);
                    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 108%);
                    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 108%);
                    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 108%);
                    content: '';
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#fff',GradientType=1);
                    min-width: 25px;
                }
            }
            
            .product-item-link,
            .swatch-attribute-label {
                @include media($mobile-medium) {
                    @include display(inline-block);
                    max-width: calc(100% - 4px);
                    overflow: hidden;
                }
            }
        }

        .product-image-photo {
            display: block;
            flex: 0 1 auto;
        }

        .product-item-details {
            @include display(flex);
            @include padding(2px 5px 0);
            flex: 1 1 auto;
            flex-flow: column;
            justify-content: space-between;
            position: relative;
            transition: padding .3s;

            @include media($tablet) {
                @include padding(5px 0 0);
            }
        }

        .product-item-inner {
            @include display(none);
        }

        .product-image-wrapper,
        .product-image-container {
            max-width: 100%;
            min-width: 100%;
        }
    }

    .category-bottom {
        text-align: center;

        &,
        .loader {
            min-height: 90px;
            max-height: 90px;
            height: 90px;
        }

        .loader {
            @include padding(null null 50px);

            @include media($mobile-medium) {
                @include padding(0);
            }

            .loader-spinner {
                @include transition(opacity .25s ease-in-out);
                height: 60px;
                width: 60px;
                opacity: 0;
            }

            &.loading .loader-spinner {
                opacity: 1;
            }
        }

        .button {
            @include margin(0 auto 30px);
            float: none;

            .loading {
                @include display(none);
            }

            &.loading {
                span.load {
                    @include display(none);
                }

                span.loading {
                    @include display(inline);
                }
            }
        }
    }
}

