// /**
// * @category  Kurufootwear
// * @package   Kurufootwear\Catalog
// * @author    Jim McGowen <jim@kurufootwear.com>
// * @copyright Copyright (c) 2018 KURU Footwear
// */

.catalog-category-view {
	.sw-slider {
		margin-bottom: 0;
		max-height: 96px;
		overflow: hidden;

		@include media($desktop-small) {
			max-height: none;
		}

		.sw-slider-slide {
			.desktop-slide-image  {
				width: 150%;
				
				@include media($tablet) {
					width: 100%;
				}
			}
		}
	}

	.sw-slider-text {
		background: 0 0;
		color: #ffffff;
		width: 100%;
		//@include position(absolute, 0 null null 0);
		@include margin(auto);
		
		.category-slider-content {
			@include margin(auto);
		}

		.category-slider-content-limited.category-slider-content {
			max-width: 322px;

			@include media($tablet) {
				max-width: 420px;
			}
		}

		.category-slider-subtext {
			font-size: 10px;
			line-height: 10px;

			@include media($mobile-i) {
				line-height: 12px;
			}

			@include media($desktop-small) {
				font-size: 14px;
				line-height: 21px;
			}
		}

		.category-slider-content-limited {
			.category-slider-text-right {
				@include media($mobile) {
					font-weight: 200;
					font-size: 14px;
					letter-spacing: 4px;
					@include margin(0 0 0 46px);
				}

				@include media($tablet) {
					font-size: 26px;
				}
			}

			.special-k {
				@include media($mobile) {
					@include size(29px auto);
					@include position(relative, 18px null null 101px);
				}

				@include media($tablet) {
					@include size(49px auto);
					@include position(null, 35px null null null);
				}
			}
		}

		@include media($mobile) {
			@include padding(0);
			@include position(null, -26px null null null);
		}
		
		@include media($mobile-i) {
			@include position(null, -22px null null null);
		}
		
		@include media($mobile-medium) {
			@include position(null, -18px null null null);
		}
		
		@include media($mobile-large) {
			@include position(null, -6px null null null);
		}
		
		@include media($tablet) {
			@include position(null, -33px null null null);
		}

		@include media($desktop-small) {
			@include position(null, -27 null null null);
		}

		@include media($desktop) {
			@include position(null, -6px null null null);
		}
	}
}
