// /**
// * @category  Kurufootwear
// * @package   Kurufootwear\Catalog
// * @author    Krisjanis Veinbahs <krisjanisv@scandiweb.com>
// * @author    Viktors Vipolzovs <krisjanisv@scandiweb.com>
// * @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// */

/**
 * @TODO - Remove all of this when hacky CMS pages
 * @TODO - as Category pages are fixed
 */

.catalog-category-view {
    &.category-mens-shoes,
    &.category-womens-shoes {
        .category-cms {
            @include display(none);
        }
    }
}

.category-experts-corner,
.category-best-walking-shoes,
.category-plantar-fasciitis {
    .page-title-wrapper {
        display:none;
    }

    .category-cms {
        padding-top: 0;
    }
}

.catalog-category-view {
    .category-cms {
        .social-links {
            &.clearfixed {
                @include clearfix();
                @include margin(10px null null);
            }
        }

        .full-banner {
            width: 100%;
            max-width: 100%;
        }

        .kuru-test-newsletter {
            position: relative;
        }

        .kuru-test {
            height: 340px !important;
            position: relative;

            background: {
                image: url('../images/slider-background.png');
                repeat: no-repeat;
                size: 100% 340px;
            }


            @include media($desktop-small) {
                height: 400px !important;

                background: {
                    image: url('../images/slider-background.png');
                    repeat: no-repeat;
                    size: 100% 400px;
                }
            }

            h2 {
                font-size: 33px;
                margin-left: 5%;
                color: white;
                line-height: normal;

                @include media($desktop-small) {
                    margin-left: 10% !important;
                }
            }

            p {
                margin-left: 5% !important;
                width: 90% !important;
                font-family: 'arial';
                font-size: 14px;
                line-height: 24px;
                color: #fff;

                @include media($desktop-small) {
                    margin-left: 10% !important;
                    width: 420px !important;
                }
            }
        }

        //.kuru-slider {
        //    width: 100% !important;
        //    min-width: 0;
        //
        //    @include media($desktop-small) {
        //        width: auto;
        //        min-width: 700px;
        //        float: left;
        //    }
        //
        //    .slide {
        //        width: 100% !important;
        //        background-color: transparent !important;
        //
        //        @include media($desktop-small) {
        //            width: auto !important;
        //        }
        //    }
        //}

        //.pagination {
        //    left: 45%;
        //    margin: 5px auto;
        //    position: absolute;
        //    width: 100px;
        //    top: 305px !important;
        //    z-index: 10;
        //
        //    @include media($desktop-small) {
        //        top: 360px !important;
        //        left: 50%;
        //    }
        //
        //    a {
        //        position: relative;
        //        margin-right: 12px;
        //        float: left;
        //        display: block;
        //        right: auto;
        //        width: 12px;
        //        height: 0;
        //        padding-top: 12px;
        //        background: url(http://ndiw3k-fmdginxw.lagrangesystems.net/skin/frontend/kuru/default/images/landing/xpagination-dot.png.pagespeed.ic.MKfL4RUaVW.png);
        //        overflow: hidden;
        //
        //        &.activeSlide {
        //            background: url(http://ndiw3k-fmdginxw.lagrangesystems.net/skin/frontend/kuru/default/images/landing/xpagination-dot-active.png.pagespeed.ic.3DCoFtOJO8.png);
        //        }
        //    }
        //}

        .kuru-newsletter {
            width: 100%;
            padding: 2%;
            margin: 0 0 40px 0;
            float: left;
            background: none repeat scroll 0 0 #646464;;
            min-width: 310px;
            position: relative;
            top: 0;
            z-index: 9;

            h3 {
                font-family: Arial;
                font-size: 20px;
                line-height: 24px;
                color: #fff;
            }

            p {
                width: auto !important;
                margin: 0 0 10px 0 !important;
            }

            .email {
                width: 50%;
                height: 48px;
                display: inline-block;

                @include media($desktop-small) {
                    height: 40px;
                }
            }

            .email-button {
                width: auto;
                margin: -4px 0 0 0;
                display: inline-block;
                float: inherit;

                @include media($desktop-small) {
                    margin: 1px 0 0 0;
                    float: right;
                }
            }

            @include media($desktop-small) {
                width: 45%;
                padding: 4%;
                margin-top: 20px;
                margin-right: 4%;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                background-color: rgba(0,0,0,.6);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                display: block;
                position: absolute;
                right: 0;
                top: 200px;
            }
        }
    }
}

.category-best-walking-shoes {
    #shoes-fasciitis {
        .shoesforpf-header {
            border-bottom: 2px solid #e6e6e6;
            margin: 0 0 20px 0;
            padding: 0 10px;

            h1 {
                margin: .45em 0;
                padding: 0;
                font-size: 59px;
                text-align: center;
                line-height: normal;

                @include media($desktop-small) {
                    padding-top: 10px;
                    margin: 0 0 .75em;
                }
            }
        }

        .share {
            float: left;

            @include media($mobile-large) {
                float: right;
            }
        }

        .addthis_toolbox {
            width: 220px;
            display: inline-block;
        }

        .technology-sharewithfriends {
            margin: -2px 0 0 0;
            padding: 0 5px;
            font-style: italic;
            font-size: 14px;
            display: inline-block;
            position: relative;
            top: -2px;
        }

        .shoeforpf-section1 {
            clear: both;
            font-size: 16px;
            margin-top: 62px;
            margin-left: 0;
            margin-right: 0;

            @include media($mobile-large) {
                margin-left: 4%;
                margin-right: 4%;
            }
        }

        .tagline {
            margin-left: 0;
            font-size: 16px;
            font-style: italic;

            @include media($mobile-large) {
                margin-left: 4%;
            }
        }

        .redchicane {
            float: right;
            margin-bottom: 30px;
            width: 46%;
        }

        .fasciitis-desk {
            display: none;

            @include media($mobile-large) {
                display: block;
            }
        }

        .fasciitis-ipad-mob {
            width: 100%;
            display: block;

            @include media($mobile-large) {
                display: none;
            }
        }

        .shoesforpf-section2 {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-top: 15px;
            clear: left;
            font-size: 16px;

            @include media($mobile-large) {
                margin-left: 4%;
                width: 42%;
            }
        }

        .shopthebest {
            font-size: 18px;
            font-weight: bold;
            margin-left: 0;
            margin-top: 69px;

            @include media($mobile-large) {
                margin-left: 4%;
            }
        }

        .technology-women-button1,
        .technology-men-button1 {
            float: left;
            margin-bottom: 20px;
            margin-left: 4%;
            text-align: center;
        }

        .technology-women-button1 {
            margin-left: 0;

            @include media($mobile-large) {
                margin-left: 4%;
            }
        }

        .shop-buttons {
            @include clearfix();
            text-align: right;
            margin: 20px 0 20px 0;
        }

        .shopthebest2 {
            margin: 0 0 10px 0;
            font-size: 16px;
            text-transform: uppercase;
            font-style: italic;
            display: block;
            top: 0;
            position: relative;
            text-align: center;

            @include media($mobile-large) {
                margin: 0;
                display: inline-block;
                top: -12px;
            }
        }

        .technology-shop2 {
            color: #fff;
            font-size: 22px;
            font-style: italic;
            margin-left: 12px;
            margin-top: 46px;
        }

        .technology-women-button2,
        .technology-men-button2 {
            width: 45%;
            margin: 0;
            display: inline-block;

            a {
                margin: 0;
            }

            @include media($mobile-large) {
                width: auto;
                margin-left: 4%;
                float: inherit !important;
            }
        }

        .technology-women-button2 {
            float: left;
        }

        .technology-women-button3,
        .technology-men-button3 {
            display: inline-block;
            min-width: 45%;

            .button {
                width: 100%;

                @include media($desktop-small) {
                    width: auto;
                }
            }

            @include media($desktop-small) {
                min-width: 36%;
            }
        }

        .technology-women-button3 {
            float: left;
        }

        .technology-men-button3 {
            padding: 0;
            float: right;

            @include media($desktop-small) {
                padding-left: 40px;
                float: left;
            }
        }

        #canvas {
            width: 45%;
        }

        .shoesforpf-tec {
            background: #3f474c;
            clear: both;
            color: #fff;
            float: left;
            width: 100%;

            .shoesforpf-tec-desk {
                display: none;

                @include media($mobile-large) {
                    display: block;
                }
            }

            .shoesforpf-tec-ipad-mob {
                display: block;

                @include media($mobile-large) {
                    display: none;
                }

                .tagline {
                    margin-left: 4%;
                }

                #canvas-mob {
                    display: block;
                    float: none !important;
                    margin: 10px auto 0 !important;
                    width: 80%;
                }
            }

            .technology-women-button1 {
                margin-left: 4% !important;
            }

            h2 {
                color: #fff;
                float: inherit;
                font-size: 38px;
                line-height: 47px;
                margin-left: 4%;
                margin-right: 4%;
                padding-top: 20px;
                width: 92%;

                @include media($mobile-large) {
                    width: 49%;
                    margin-right: 0;
                    float: left;
                }
            }

            h6 {
                float: inherit;
                font-size: 16px;
                font-style: italic;
                margin-left: 4%;
                margin-right: 4%;
                padding-top: 34px;
                width: 92%;

                @include media($mobile-large) {
                    float: right;
                    width: 43%;
                    margin-right: 2%;
                    margin-left: 0;
                }
            }

            p {
                margin-left: 4%;
                margin-right: 4%;
                font-size: 16px;
                width: 92%;
                margin-top: 15px;

                @include media($mobile-large) {
                    width: 49%;
                }
            }
        }

        .technology-testimonials-header {
            font-size: 40px;
            clear: left;
            text-align: center;
            padding-top: 40px;
            margin-bottom: 40px;
            text-transform: uppercase;
            line-height: normal;
        }

        .testimonialsmoneywellspent {
            float: left;
            width: 100%;
            padding-left: 0;
            margin-bottom: 25px;
            @include clearfix();

            h1 {
                font-size: 84px;
                float: left;
                padding-right: 14px;
                height: 43px;
                margin-top: -32px;
                margin-bottom: 15px;
                margin-right: -5px;
                color: #b2b4b3;
                line-height: inherit;
            }

            p {
                margin: 0;
                font-size: 16px;
                font-style: italic;
                line-height: 146%;

                .name {
                    float: right;
                }
            }

            @include media($mobile-large) {
                width: 33%;
                padding-left: 3%;
            }
        }

        .testimonialswalkingonclouds {
            float: left;
            width: 100%;
            padding-left: 0;
            margin-bottom: 25px;

            h1 {
                font-size: 84px;
                float: left;
                padding-right: 14px;
                height: 43px;
                margin-top: -32px;
                margin-bottom: 15px;
                margin-right: -5px;
                color: #b2b4b3;
                line-height: inherit;
            }

            p {
                margin: 0;
                font-size: 16px;
                font-style: italic;
                line-height: 146%;

                .name {
                    float: right;
                }
            }

            @include media($mobile-large) {
                width: 33%;
                padding-left: 3%;
            }
        }

        .testimonialsmygotoshoes {
            float: left;
            width: 100%;
            padding-left: 0;
            margin-bottom: 25px;

            h1 {
                font-size: 84px;
                float: left;
                padding-right: 14px;
                height: 43px;
                margin-top: -32px;
                margin-bottom: 15px;
                margin-right: -5px;
                color: #b2b4b3;
                line-height: inherit;
            }

            p {
                margin: 0;
                font-size: 16px;
                font-style: italic;
                line-height: 146%;

                .name {
                    float: right;
                }
            }

            @include media($mobile-large) {
                width: 33%;
                padding-left: 3%;
            }
        }

        .shoesforpf-simplybest {
            clear: left;
            text-align: center;
            font-size: 38px;
            margin-top: 20px;
            line-height: normal;
        }

        .simply-best-subheader {
            text-align: center;
            font-size: 16px;
            margin: 0;

            @include media($mobile-large) {
                margin: 0 4%;
            }
        }

        .expertapproved {
            width: 70%;
            margin: 15px 0 35px 0;

            img {
                margin-bottom: 25px;
                width: 100%;
                max-height: 226px;
            }

            h6 {
                color: #3e474c;
                font-size: 22px;
                margin-left: 7px;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }

            p {
                font-size: 16px;
                margin-right: 26px;
                margin: 8px;
                text-align: left;
            }

            @include media($mobile-large) {
                width: 27%;
                margin-left: 5%;
                float: left;
            }
        }

        .calltoaction {
            background: none repeat scroll 0 0 #3f484d;
            margin: 0;
            padding: 0 0 30px 0;
            width: 100%;
            overflow: hidden;
            @include clearfix();
        }

        #subscribecentered {
            background: #3f474c;
            width: 100%;

            @include media($desktop-small) {
                width: 60%;
                float: left;
                clear: left;
            }
        }

        .links-menu {
            width: 100%;
            margin: 0;
            overflow: hidden;
            padding: 0 6%;

            .technology-shop2 {
                margin: 20px 0 15px 0;
                text-align: center;

                @include media($desktop-small) {
                    text-align: left;
                }
            }

            @include media($desktop-small) {
                width: 40%;
                padding: 0;
                float: right;
            }
        }

        .disclaimer2 {
            clear: left;
            margin: 25px 0;
            font-style: italic;

            @include media($mobile-large) {
                margin: 25px;
            }
        }
    }
}

.category-plantar-fasciitis {
    .plantar-fasciitis {
        .header {
            background: url("../images/bg.png") no-repeat scroll right bottom rgba(0, 0, 0, 0);
            background-size: 100% 260px;
            height: 260px;
            padding-left: 5%;
            width: 100%;

            h1 {
                font-family: Arial;
                font-size: 50px;
                line-height: 100px;
                color: white;
            }

            p {
                margin: 0;
                font-family: Arial;
                font-weight: 400;
                color: white;
                font-size: 16px;
            }

            .testimonials {
                border: 0;
                margin-top: 23px;
            }
        }

        .testimonials {
            width: 340px;
            height: 75px;
            background: white;
            border-left: 3px solid #3b5998;
            display: block;
            margin: 11px 0 0 0;
            float: left;

            p {
                font-size: 12px;
                color: #3b5998;
                margin: 8px 0 0 20px;
                padding-top: 10px;
            }

            span {
                font-size: 13px;
                margin: 0 0 0 20px;
                display: block;
            }
        }

        .buy-a-kuru {
            width: 420px;
            height: 75px;
            float: right;
            font-weight: bold;

            p {
                font-size: 16px;
                margin: 31px 20px 0 0;
                float: left;
                font-weight: bold;
            }

            a {
                text-align: center;
                font-size: 14px;
                margin: 15px 0 0 0;
                float: left;
                background: #51b5e0;
                color: white;
                padding: 15px 0 15px 0;
                width: 110px;
                border: #2d95c2 solid 1px;

                &.left-part {
                    border-radius: 5px 0 0 5px;
                }

                &.right-part {
                    margin-left: -1px;
                    border-radius: 0 5px 5px 0;
                }
            }

            span {
                position: relative;
                color: white;
                font-size: 13px;
                float: left;
                margin: 30px -8px;
            }

            &.left {
                float: left;
                width: 223px;
            }
        }

        .kuru-cleaner {
            @include clearfix();
        }

        .kuru-main {
            h1.first-section {
                margin: 20px 0 0 0;
                font-size: 18px;
                line-height: 28px;
                font-weight: normal;
            }

            h1.second-section {
                margin-top: 50px;
                font-size: 22px;
                line-height: 28px;
                width: 430px;
            }

            h1.third-section {
                margin-top: 20px;
                font-size: 18px;
                line-height: 28px;
                width: 100%;
                font-weight: normal;
            }

            h1.fourth-section {
                margin-top: 20px;
                font-size: 16px;
                line-height: 22px;
                position: relative;
                text-transform: uppercase;
                width: 80%;
                z-index: 2;
            }

            .half-width {
                width: 50%;
                float: left;
            }
        }

        .kuru-test-newsletter {
            margin-top: 30px;
        }

        .disclaimer {
            display: block;
            float: left;
            font-size: 12px;
            margin: 15px 0 0 20px;
            width: 180px;
        }

        .shoes {
            margin-top: 100px;
            float: right;
        }

        .shoes-mob {
            display: none;
        }

        .kuru-test {
            .kuru-newsletter {
                top: 20px;
            }
        }

        .kuru-technology {
            background: #fff none !important;
            padding-top: 0;

            img {
                float: right;
                max-width: 492px;
                width: 48%;
            }

            h1 {
                color: #3E474C;
                line-height: 45px;
                margin-left: 0;
                margin-right: 3%;
                margin-top: 30px;
                width: 48%;
            }

            p {
                margin-right: 3%;
                width: 48%;
            }
        }

        .kuru-best {
            padding-top: 50px;

            h1 {
                font-size: 40px;
                line-height: 50px;
                text-align: center;
                margin-bottom: 20px;
            }

            p {
                width: 100%;
                margin: 0;
                font-family: arial !important;
                font-weight: bold !important;
            }

            img {
                width: 100%;
            }
        }

        .columns-cont {
            .column {
                width: 33%;
                float: left;

                h3 {
                    text-align: center;
                    font-size: 18px;
                    line-height: 24px;
                    color: #88b03e;
                    margin: 30px 0 10px;
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                    width: 230px;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }

        .last-section {
            height: 360px;
            background: url('../images/couple-bg.png') no-repeat scroll right bottom rgba(0, 0, 0, 0);
            background-size: 100% 360px;
            padding-top: 50px;

            h2 {
                margin-left: 54%;
                width: 40%;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.6);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                padding: 3px;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                font-size: 34px;
                line-height: 40px;
                color: white;
            }

            p {
                margin-left: 54%;
                width: 36%;
                font-family: arial !important;
                background-color: rgba(0, 0, 0, 0.6);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                padding: 3px;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                font-size: 12px;
                color: white;
            }

            .buy-a-kuru {
                margin-left: 54%;
                float: inherit;
            }
        }

        .newsletter-second-cont {
            width: 37%;
            margin: 30px 0;
            overflow: hidden;
            float: right;
        }
    }
}

.category-cms {
    @include padding($default-indent null);

    @include media($desktop-small) {
        padding-top: 0;
    }

    img {
        max-width: 100%;
    }

    .button-parent {
        @include clearfix;

        button {
            @include media($desktop-small) {
                float: right;
            }
        }
    }

    .slick-dots {
        button {
            @include media($desktop-small) {
                float: none;
            }
        }
    }

    .category-cms-content {
        @include clearfix();

        .category-cms-sidebar {
            width: 20%;
            padding: 14px;
            background: #f1f2f3;
            display: none;
            float: left;

            ul {
                margin: 0 0 20px 0;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        color: #747678;
                        font-size: 12px;
                    }
                }
            }

            @include media($tablet-medium) {
                width: 14%;
            }

            @include media($mobile-large) {
                display: inline;
            }
        }

        .category-cms-main {
            width: 100%;
            padding: 0;
            display: inline;
            float: left;

                .addthis-mob {
                    display: block;

                    @include media($tablet-medium) {
                        display: none;
                    }
                }

                #anatomically,
                #orthopedic {
                    background-color: #3e474c;
                    color: #fff;
                    float: left;
                    margin-bottom: 20px;
                    text-align: left;
                    width: 100%;

                    .text {
                        width: 100%;

                        @include media($desktop-small) {
                            float: left;
                            width: 42%;
                            padding: 1%;
                        }
                    }

                    h1 {
                        color: #fff;
                        font-size: 26px;
                        margin-left: 22px;
                        margin-top: 26px;
                        line-height: 1.15;

                        @include media($tablet) {
                            font-size: 38px;
                        }
                    }

                    p {
                        margin: 20px;
                        font-size: 16px;
                    }

                    canvas {
                        width: 100%;

                        @include media($mobile-large) {
                            display: inline-block;
                            width: 50%;
                            margin-left: 20px;
                            max-width: 525px;
                        }
                    }

                    .top-banner-gif {
                        @include media($desktop) {
                            float: right;
                            padding-right: 40px;
                        }
                    }
                }

                .recent-reviews-mob {
                    height: auto;
                    visibility: visible;
                    margin-bottom: 30px;

                    #slider {
                        background: #d3eaf5;
                        color: #757678;
                        display: block;
                        font-size: 15px;
                        margin-bottom: 30px;
                        margin-top: 20px;
                        padding: 10px 53px;
                        position: relative;

                        #slider-prev {
                            background: url(http://fmdginxw.lagrangesystems.net/yEdUJhV88/skin/frontend/kuru/wrd_default/images/xstatic-slider-prev.png.pagespeed.ic.sdZ23-uFVS.jpg) 0 0 no-repeat;
                            left: 15px;
                            display: block;
                            height: 58px;
                            margin-top: -36px;
                            position: absolute;
                            text-indent: -10000px;
                            top: 50%;
                            width: 14px;
                        }

                        #slider-next {
                            background: url(http://fmdginxw.lagrangesystems.net/yEdUJhV88/skin/frontend/kuru/wrd_default/images/xstatic-slider-next.png.pagespeed.ic.T7EQKGa22I.jpg) 0 0 no-repeat;
                            right: 10px;
                            display: block;
                            height: 58px;
                            margin-top: -36px;
                            position: absolute;
                            text-indent: -10000px;
                            top: 50%;
                            width: 14px;
                        }

                        ul {
                            width: auto !important;
                            margin: 0;
                        }
                    }

                    @include media($tablet-medium) {
                        height: 0px;
                        visibility: hidden;

                        &.tablet-only {
                            @include display(none);
                        }
                    }
                }

                .grid_3 {
                    width: 100%;
                    height: auto;
                    clear: both;
                    display: inline;
                    float: left;
                    position: relative;
                    margin-left: 0;
                    margin-right: 10px;

                    .buttons {
                        width: 100%;
                        margin: 0 auto;
                        padding-bottom: 30px;

                        button {
                            width: 100%;
                            min-width: 180px;
                        }

                        @include media($desktop-small) {
                            width: 300px;
                        }
                    }

                    .menu-links {
                        margin: 0;
                        padding-left: 20px;

                        li {
                            a {
                                color: $clr-picton-blue;
                            }
                        }
                    }

                    @include media($tablet-medium) {
                        width: 72%;
                    }
                }

                .grid_2 {
                    width: 26%;
                    margin: 0;
                    padding: 0;
                    display: none;
                    float: right;
                    position: relative;

                    .addthis_toolbox {
                        margin-bottom: 10px;
                    }

                    @include media($tablet-medium) {
                        display: inline;
                    }

                    .newsletter-submit {
                        @include display(block);
                    }

                    .newsletter-email-wrapper {
                        width: 100%;
                    }

                    .submit-subscribe {
                        @include margin(10px null null 0);
                        text-align: left;
                        width: 100%;
                    }
                }


            .testimonial {
                background: #d3eaf5;
                padding: 25px 7%;
                margin: 15px 0 0 0;
                font-size: 14px;
                color: #747678;
                line-height: 19px;

                .name {
                    font-weight: bold;
                    margin: 10px 0 0 10px;
                }
            }

            .orthopedic-desc {
                @include display(none);

                @include media($desktop-small) {
                    @include display(block);
                    @include padding(0 30px);
                    float: right;
                    margin-top: 26px;
                    width: 47%;
                }

                h7 {
                    font-size: 16px;
                    font-style: italic;
                }
            }

            .orthopedic-desc-mob {
                @include display(block);
                @include margin(null 20px 20px);

                @include media($desktop-small) {
                    @include display(none);
                }
            }

            .fb-comments {
                @include bp('max-width', $tablet - 1) {
                    @include display(none);
                }
            }

            #mc_embed_signup.mobile {
                @include bp('min-width', $desktop-small) {
                    @include display(none);
                }
            }

            #mc_embed_signup label {
                display: block;
                font-size: 16px;
                font-weight: bold;
            }


            @include media($mobile-large) {
                width: 80%;
                padding: 0 0 20px 20px;
            }

            @include media($tablet-medium) {
                width: 86%;
            }
        }
    }
}
