// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *
// scss-lint:disable QualifyingElement
// scss-lint:disable SelectorFormat

.catalog-category-view {
    .page-header-scroll {
        box-shadow: 0 0 0 0 $clr-grey-five;
    }

    .filter-options {
        @include background($clr-white);
        padding-bottom: 20px;
        text-align: center;
    }

    .filter-title,
    .filter-options-title {
        @include display(block);
        @include position(relative);
        @include padding(null $default-indent null);
        color: $clr-light-black;
        cursor: pointer;
        font-family: $source-sans-pro;
        font-size: $f-size-xxxl;
        font-style: normal;
        font-weight: 600;
        height: 45px;
        line-height: 45px;
        text-align: left;

        @include media($tablet) {
            @include padding(null 20px null);
            font-size: $f-size;
            font-weight: bold;
            height: auto;
        }

        &::before,
        &::after {
            @include background($clr-tundora);
            @include position(absolute);
            @include transition(transform .4s ease-out);
            @include transform(translate(-50%, -50%));
            content: '';
            top: 50%;
        }

        // Vertical line
        &::before {
            height: 9px;
            right: 24px;
            width: 1px;
        }

        // Horizontal line
        &::after {
            height: 1px;
            right: 16px;
            width: 9px;
        }

        &[aria-expanded='true']::before {
            @include transform(translate(-50%, -50%) rotate(-90deg));
        }

        &[aria-expanded='true']::after {
            @include transform(translate(-50%, -50%) rotate(180deg));
        }
    }

    .filter-options-title {
        @include media($tablet) {
            text-transform: uppercase;
        }

        @include media($desktop-small) {
            pointer-events: none;
        }

        &::before,
        &::after {
            @include display(block);

            @include media($desktop-small) {
                @include display(none);
            }
        }
    }

    .filter-options-content {
        @include media($desktop-small) {
            @include margin(null null 10px);
        }
    }

    .filter-title {
        @include transition(all .75s ease-in-out);
        background-color: $clr-light-gray;
        color: $clr-dark;
        font-family: $montserrat;
        font-size: $f-size-l;
        font-weight: bold;
        height: 40px;
        line-height: 40px;

        @include media($tablet) {
            font-size: $f-size-xxxl;
            height: 45px;
            line-height: 45px;
        }

        @include media($desktop-small) {
            @include padding(null 6px null);
            background-color: $clr-picton-blue;
            color: $clr-white;
            font-family: $source-sans-pro;
            font-size: $f-size-s;
            font-weight: 400;
            height: 34px;
            line-height: 34px;
            text-align: left;
            width: 135px;
        }

        &::before {
            @include media($desktop-small) {
                @include display(none);
            }
        }

        &::after {
            @include media($desktop-small) {
                @include clearfix;
                @include arrow(right, 7px, 1px, $clr-white);
                @include position(absolute);
                background: transparent;
                content: '';
                right: 10px;
                top: 40%;
            }
        }

        &[aria-expanded='true'] {
            @include media($desktop-small) {
                @include background($clr-white);
                color: $clr-bluewood;
            }

            &::after {
                @include media($desktop-small) {
                    @include border-color($clr-bluewood);
                    @include transform(rotate(312deg));
                }
            }

            ~ .state-filter-background .filter-clear {
                @include background($clr-picton-blue);
                @include border-color($clr-picton-blue);
                @include transition(all .75s ease-in-out);

                .button-text {
                    color: $clr-white;
                }
            }
        }
    }

    .filter {
        @include margin(5px null 0);

        @include media($tablet) {
            @include position(relative);
        }

        @include media($desktop-small) {
            @include margin(0 null null);
            @include padding(8px null null);
        }

        .filter-content {
            @include display(none);
        }

        .filter-content[role="presentation"] {
            @include display(block);
        }
    }

    .filter-content {
        @include clearfix;
        @include display(block);
        @include position(relative, 0 0 null null);
        @include transition(all .25s ease-in-out);
        max-height: 100%;

        &.active {
            @include media($desktop-small) {
                padding-top: 20px;
            }
        }
    }

    ol.items {
        @include margin(0);
        list-style-type: none;

        @include media($tablet) {
            text-align: left;
        }
    }

    .am_shopby_filter_items_attr_category_ids,
    .am_shopby_filter_items_attr_benefits,
    .am_shopby_filter_items_attr_filterable_width {
        .item {
            @include padding(5px null);

            @include media($desktop-small) {
                @include padding(1px null);
            }
        }
    }

    .am_shopby_filter_items_attr_category_ids,
    .am_shopby_filter_items_attr_benefits,
    .am_shopby_filter_items_attr_filterable_color,
    .am_shopby_filter_items_attr_size,
    .am_shopby_filter_items_attr_womens_size,
    .am_shopby_filter_items_attr_filterable_width {
        @include outer-container;
        @include padding(null $default-indent);
        text-align: left;
    }

    .am_shopby_filter_items_attr_filterable_color {
        .label {
            @include display(none);
        }

        [type="checkbox"] {
            visibility: hidden;
        }

        a {
            @include border-color($clr-white);
            @include border-style(solid);
            @include border-width(1px);
            @include display(block);
            @include margin(1px 15px 15px 1px);
            @include size(40px);
            border-radius: 30px;
            box-shadow: 0 0 0 1px $clr-silver-chalice;
            color: transparent;
            float: left;

            @include media($desktop-small) {
                @include size(30px);
            }

            &:hover,
            &.am_shopby_link_selected {
                @include position(relative);
                box-shadow: 0 0 0 1px $clr-picton-blue;
            }

            &.am_shopby_link_selected::before,
            &.am_shopby_link_selected::after {
                @include background-image(url('../images/checkmark.svg'));
                @include display(inline-block);
                @include position(absolute);
                @include size(19px 14px);
                border: 0;
                content: '';
                left: 10px;

                @include media($desktop-small) {
                    @include size(14px 10px);
                    left: 7px;
                }
            }

            &.am_shopby_link_selected::before {
                top: 11px;

                @include media($desktop-small) {
                    top: 8px;
                }
            }

            &.am_shopby_link_selected::after {
                top: 10px;

                @include media($desktop-small) {
                    top: 9px;
                }
            }
        }
    }

    .am_shopby_filter_items_attr_size,
    .am_shopby_filter_items_attr_womens_size,
    .am_shopby_filter_items_attr_filterable_color {
        .item:nth-of-type(4n+1) {
            @include media($desktop-small) {
                clear: left;
            }
        }
    }

    .am_shopby_filter_items_attr_size,
    .am_shopby_filter_items_attr_womens_size {
        .items {
            @include display(flex);
        }

        [type="checkbox"] {
            @include position(absolute);
            visibility: hidden;
        }

        input[type="radio"] {
            &:not(:disabled) + label:hover::after,
            &:not(:disabled) + .label:hover::after,
            &:checked + label::after,
            &:checked + .label::after {
                visibility: hidden;
            }
        }

        input[type="radio"] + label,
        input[type="radio"] + .label {
            &::before {
                visibility: hidden;
            }
        }

        .label {
            @include background($clr-alabaster);
            @include border-color($clr-alabaster);
            @include border-style(solid);
            @include border-width(.5px);
            @include display(table-cell);
            @include margin(null 5px 5px null);
            @include padding(0);
            @include size(56px 45px);
            box-shadow: 0 0 0 1px $clr-silver-chalice;
            color: $clr-corduroy;
            float: left;
            font-size: $f-size;
            line-height: 45px;
            text-align: center;

            @include media($desktop-small) {
                @include size(36px 28px);
                font-size: $f-size-xs;
                line-height: 28px;
            }
        }

        .label:hover {
            @include media($desktop-small) {
                box-shadow: 0 0 0 1px $clr-picton-blue;
            }
        }

        a {
            @include margin(0 auto);
        }

        .am_shopby_link_selected .label {
            @include background($clr-picton-blue);
            @include border-color($clr-white);
            color: $clr-white;
        }
    }

    .toolbar-products,
    .filter-current {
        @include display(inline-block);
    }

    .is-sticky .state-filters-wrapper {
        @include border-color($clr-dusty-gray-one-six null $clr-dusty-gray-one-six);
        @include padding(10px 20px 0);
        left: 0;
        right: 0;
        width: 100% !important;

        @include media($max-width) {
            @include border-color($clr-white null $clr-white);
        }
    }

    .state-filters-wrapper {
        @include padding(10px 0 0 0);
        @include background($clr-white);
        @include display(inline-block);
        @include margin(null);
        @include transition(border .4s ease-in);
        line-height: 0;
        width: 100%;

        @include media($desktop) {
            @include outer-container;
        }

        @include media($desktop-small) {
            @include border-color($clr-dusty-gray-one-six null $clr-white);
            margin-top: 0;
        }

        .filter-current {
            float: left;
        }

        .items {
            @include display(flex);
            @include flex-wrap(wrap);
            @include margin(null null null);
            @include padding(0);
            float: right;
        }

        .color-wrapper {
            margin-right: 7px;
        }

        .items-wrapper {
            @include border-color($clr-silver-chalice);
            @include border-style(solid);
            @include border-width(1px);
            @include display(flex);
            @include align-items(center);
            @include margin(null 10px null null);
            @include padding(null 5px);
        }

        .color-filter {
            @include border-color($clr-white);
            @include border-style(solid);
            @include border-width(1px);
            @include display(inline-block);
            @include size(14px);
            border-radius: 30px;
            box-shadow: 0 0 0 1px $clr-silver-chalice;
            color: transparent;
        }

        .block-actions {
            @include margin(null null null);
        }

        .filter-clear,
        .filter-choose {
            @include padding(0 15px);
            @include margin(0);
            background-color: $clr-gallery;
            line-height: 25px;
            min-width: inherit;
            text-align: center;
            width: 106px;

            @include media($desktop-small) {
                line-height: 27px;
            }
        }

        .button-text {
            color: $clr-bluewood;
            font-family: $source-sans-pro;
            font-size: $f-size-xs;
            font-weight: 400;
            text-transform: capitalize;
        }

        .filter-label,
        .filter-value {
            color: $clr-video-banner;
            font-family: $source-sans-pro;
            font-size: $f-size-xs;
            font-weight: 400;
            line-height: 25px;
        }

        .remove::after {
            @include cross-small(10px, $clr-bluewood);
            @include margin(5px);
            @include display(inline-flex);
        }

        .filter-actions {
            @include margin(null 0 0 null);
        }

        .filter-actions .action,
        .state-filter-items {
            /*height: 27px;*/
            margin-bottom: 8px;
        }

        .up-scroll {
            @include transition(all .3s ease-in-out);
            overflow: hidden;
            width: 0;

            .items-wrapper {
                @include background($clr-picton-blue);
                @include border-color($clr-picton-blue);
                /*@include position(relative);*/
                cursor: pointer;
                max-height: 27px;
                min-width: 100%;
                overflow: hidden;
            }

            .filter-label {
                color: $clr-white;
            }
        }
    }

    .sticky-filters-wrapper {
        &.is-sticky {
            .up-scroll {
                width: 103px;
            }

            .filter-actions {
                @include margin(null 10px 0 null);
            }
        }
    }

    .state-filter-background {
        background-color: $clr-white;
        width: 100%;
        height: 10px;
        visibility: hidden;
    }

    .filter-actions {
        @include position(relative);
        @include display(inline-block);
    }

    .border-actions {
        @include display(block);
        @include border-color($clr-gray-seven null null);
        @include border-style(solid null null);
        @include border-width(1px null null);
        bottom: 0;
        top: 50%;

        @include media($tablet) {
            @include display(none);
        }
    }

    .state-filter-fixed {
        @include position(fixed);
        @include transition(transform .4s ease-in);
        background: $clr-white;
        box-shadow: 0 0 4px 0 $clr-grey-five;
        left: 0;
        right: 0;
        top: 62px;
        z-index: 1;

        @include media($tablet) {
            top: 57px;
            z-index: 11;
        }

        .border-actions {
            @include media($tablet) {
                @include display(none);
            }
        }
    }

    .filter-options-item {
        @include media($desktop-small) {
            @include display(inline-block);
            min-width: 215px;
            padding-bottom: 15px;
            text-align: left;
            vertical-align: top;
        }

        &:nth-of-type(4) {
            @include media($desktop-small) {
                min-width: 140px;
            }
        }

        &:last-of-type {
            @include media($desktop-small) {
                min-width: 225px;
            }
        }
    }

    .am_shopby_filter_items_attr_category_ids {
        input[type="radio"] {
            + label,
            + .label {
                @include padding(null null null 0);

                &::before {
                    @include display(none);
                    visibility: hidden;
                }
            }

            &:not(:disabled) + label:hover::after,
            &:not(:disabled) + .label:hover::after,
            &:checked + label::after,
            &:checked + .label::after {
                @include display(none);
                visibility: hidden;
            }

            &:not(:disabled) + label:hover::after,
            &:not(:disabled) + .label:hover::after {
                @include display(none);
                visibility: hidden;
            }
        }

        .am_shopby_link_selected {
            color: $clr-light-blue;
        }
    }
}
// scss-lint:enable QualifyingElement
// scss-lint:enable SelectorFormat
