// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.category-plantar-fasciitis,
.category-reward-points-and-loyalty-program,
.category-sustainability,
.cms-template-page {
    .category-cms {
        @include margin(0);
        @include padding(0);
        max-width: 100%;
    }

    .plantar-fasciitis-banner {
        background: url('../images/bg.png') no-repeat center center;
        background-size: cover;
        color: $clr-white;
    }

    .testimonial {
        @include background($clr-white);
        @include margin(0 auto);
        @include padding(10px);
        color: $clr-black;
        max-width: 400px;

        .name {
            color: $clr-picton-blue;
        }
    }

    .buy-kuru {
        text-align: center;

        a {
            float: none;
        }
    }

    .kuru-main {
        @include margin(0);
        clear: both;
    }

    .small-text {
        clear: both;
        font-size: $f-size-xs;
    }

    .bold {
        font-weight: bold;
    }

    .keep-strong-banner {
        background: linear-gradient(94.6deg, $clr-transparent 0%, $clr-black-five 100%), url('../images/couple-bg.png') no-repeat center center;
        background-size: cover;

        .two-column {
            @include media($desktop-small) {
                float: right;
            }
        }

        .heading,
        .small-text,
        p {
            @include padding(0);
            color: $clr-white;
        }

        .buttons-wrapper {
            @include media($tablet) {
                @include display(flex);
                @include justify-content(center);
            }
        }

        .small-text {
            @include margin(20px auto null);
            text-align: center;

            @include media($tablet) {
                width: 50%;
            }
        }
    }
}

.category-plantar-fasciitis,
.cms-template-page {
    .three-column {
        text-align: center;

        img {
            @include media($desktop-small) {
                width: 100%;
            }
        }
    }
}

.category-sustainability {
    .sustainability-banner {
        background: url('/media/wysiwyg/Sustainability-Page-Mockup.v2_03.jpg') no-repeat center center;
        background-size: cover;
        color: $clr-white;
    }

    .buttons-wrapper {
        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(center);
        }
    }
}
