// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.category-plantar-fasciitis,
.category-best-walking-shoes,
.category-shoes-for-plantar-fasciitis,
.category-flat-feet-support,
.category-heel-pain,
.category-foot-pain,
.category-nurse-shoes,
.category-hiking-shoes,
.category-shoes-for-standing,
.category-travel-shoes,
.category-reward-points-and-loyalty-program,
.category-sustainability,
.categorypath-experts-corner-foot-care-support-shoes,
.category-work-shoes {
    .page-wrapper .page-main {
        @include margin(0);
        @include padding(0);
        max-width: 100%;
    }

    .category-cms {
        padding-top: 0;
    }

    .max-width-wrapper:nth-of-type(2) {
        @include media($desktop-small) {
            padding-top: 0;
        }
    }

    .dark-blue-part .column-wrapper {
        @include align-items(start);
    }

    .best-pair .buttons-wrapper {
        padding-bottom: 30px;

        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(center);
        }
    }

    .mobile-only {
        @include media($desktop-small) {
            @include display(none);
        }
    }

    .desktop-only {
        @include bp('max-width', $desktop-small - 1) {
            @include display(none);
        }
    }
}

.category-experts-corner .chime-in {
    @include display(none);
}

.category-nurse-shoes .nurse-banner {
    background: url('../images/nurses-bg.jpg') no-repeat center center;
    height: 280px;
}

.category-wide-shoes {
    .static-right #mc_embed_signup {
        @include margin(10px null null);
    }

    .full-banner {
        @include margin(null null 10px);
    }

    .sign-up-form.tablet-only {
        @include margin(null null 10px);

        @include media($tablet-medium) {
            @include display(none);
        }
    }
}

.category-warranty-request,
.category-plantar-fasciitis,
.category-best-walking-shoes,
.category-shoes-for-plantar-fasciitis,
.category-flat-feet-support,
.category-heel-pain,
.category-foot-pain,
.category-nurse-shoes,
.category-hiking-shoes,
.category-shoes-for-standing,
.category-shoes-for-heel-spurs,
.category-orthopedic-shoes,
.category-register-your-product,
.category-returns-and-exchanges,
.category-shipping-and-delivery,
.category-privacy-and-security,
.category-ra,
.category-warranty,
.category-travel-shoes,
.category-reward-points-and-loyalty-program,
.categorypath-experts-corner-foot-care-support-shoes,
.category-sustainability,
.category-wide-shoes,
.category-work-shoes,
.category-order-status {
    .page-title {
        @include display(none);
    }

    .register-purchase-form,
    .top-image {
        width: 100%;
    }

    .shoes-been-worn {
        font-size: $f-size-xxxl;
        font-weight: bold;
    }

    #canvas,
    #canvas-mob {
        max-width: 100%;
    }
}
