// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.category-travel-shoes {
    .travel-header,
    .couple-img {
        width: 100%;
    }

    .travel-header {
        @include media($desktop-small) {
            @include position(absolute);
            z-index: -1;
        }
    }

    .travel-banner {
        .column-wrapper {
            @include media($desktop-small) {
                @include align-items(flex-end);
                clear: both;
                padding-top: 20px;
            }
        }

        .buy-kuru {
            @include media($desktop-small) {
                text-align: center;
            }
        }

        .heading {
            text-align: left;
        }
    }

    .moto {
        font-size: $f-size-5xl;
        font-weight: bold;
    }
}
