// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.category-warranty {
    .get-help {
        @include clearfix;
        border-bottom: 1px solid $clr-silver-chalice;
        margin-bottom: 40px;
        padding-bottom: 10px;

        .link-list {
            @include display(block);
            @include margin(5px null);
            @include padding(0);
            width: 100%;

            @include media($mobile-large) {
                @include display(flex);
            }
        }

        .list-item {
            @include margin(0);
            @include padding(0);
            @include margin(10px null);
            @include span-columns(12);
            font-family: $source-sans-pro;
            font-size: $f-size;
            line-height: 18px;
            list-style-type: none;
            text-align: center;

            @include media($mobile-large) {
                @include span-columns(6);
            }
        }

        .block-title {
            font-family: $montserrat;
            font-size: $f-size-xxl;
            font-weight: normal;
            line-height: 21px;
            text-align: center;
        }
    }

    .warranty-heading,
    .warranty-button {
        text-align: center;
    }

    .warranty-button {
        @include clearfix;
        padding-bottom: 20px;

        .button {
            float: none;
        }
    }

    .warranty-bottom {
        @include padding(20px null);
        border-top: 1px solid $clr-silver-chalice;
        clear: both;
    }
}
