<?php
$numColumns = sizeof($block->getColumns());
?>
<?php if ($block->getCollection()): ?>
    <?php
    /* This part is commented to remove all <col> tags from the code. */
    /* foreach ($block->getColumns() as $_column): ?>
        <col <?php echo $_column->getHtmlProperty() ?> />
    <?php endforeach; */ ?>
    <?php if ($block->isHeaderVisible()): ?>
        <thead>
        <?php if ($block->isHeaderVisible() || $block->getFilterVisibility()): ?>
            <tr>
                <?php foreach ($block->getColumns() as $_column): ?>
                    <?php /* @var $_column \Magento\Backend\Block\Widget\Grid\Column */ ?>
                    <?php if ($_column->getHeaderHtml() == '&nbsp;'): ?>
                        <th class="data-grid-th" data-column="<?php /* @escapeNotVerified */
                        echo $_column->getId() ?>"
                            <?php echo $_column->getHeaderHtmlProperty() ?>>&nbsp;</th>
                    <?php else: ?>
                        <?php echo $_column->getHeaderHtml() ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </tr>
        <?php endif; ?>
        <?php if ($block->isFilterVisible()): ?>
            <tr class="data-grid-filters" data-role="filter-form">
                <?php $i = 0;
                foreach ($block->getColumns() as $_column): ?>
                    <td data-column="<?php /* @escapeNotVerified */
                    echo $_column->getId() ?>" <?php echo $_column->getHeaderHtmlProperty() ?>>
                        <?php echo $_column->getFilterHtml() ?>
                    </td>
                <?php endforeach; ?>
            </tr>
        <?php endif ?>
        </thead>
    <?php endif; ?>

    <tbody>

    <?php if ($block->getCollection()->getSize() > 0 && !$block->getIsCollapsed()): ?>
        <?php foreach ($block->getCollection() as $_index => $_item): ?>
            <?php if ($block->hasMultipleRows($_item)) : ?>
                <?php $block->updateItemByFirstMultiRow($_item); ?>
                <tr title="<?php /* @escapeNotVerified */ echo $block->getRowUrl($_item) ?>" data-role="row"
                    <?php if ($_class = $block->getRowClass($_item)): ?> class="<?php /* @escapeNotVerified */ echo $_class; ?>"<?php endif; ?> ><?php $i = 0;
                    foreach ($block->getColumns() as $_column):
                        if ($block->shouldRenderCell($_item, $_column)):
                            $_rowspan = $block->getRowspan($_item, $_column);
                            ?>
                        <td data-column="<?php /* @escapeNotVerified */
                        echo $_column->getId() ?>"
                            <?php echo($_rowspan ? 'rowspan="' . $_rowspan . '" ' : '') ?>
                            class="<?php /* @escapeNotVerified */
                            echo $_column->getCssProperty() ?> <?php /* @escapeNotVerified */
                            echo $_column->getId() == 'massaction' ? 'data-grid-checkbox-cell' : '' ?> <?php echo ++$i == $numColumns ? 'last' : '' ?>" >
                            <?php echo(($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;') ?>
                            </td><?php
                            if ($block->shouldRenderEmptyCell($_item, $_column)):?>
                            <td colspan="<?php /* @escapeNotVerified */
                            echo $block->getEmptyCellColspan($_item) ?>" class="last">
                                <?php /* @escapeNotVerified */
                                echo $block->getEmptyCellLabel() ?>
                                </td><?php
                            endif;
                        endif;
                    endforeach;
                    ?></tr>
                <?php $_isFirstRow = true; ?>
                <?php foreach ($block->getMultipleRows($_item) as $_i): ?>
                    <?php if ($_isFirstRow) : ?>
                        <?php $_isFirstRow = false;
                        continue; ?>
                    <?php endif; ?>
                    <tr data-role="row">
                        <?php $i = 0;
                        foreach ($block->getMultipleRowColumns($_i) as $_column):
                            ?>
                        <td data-column="<?php /* @escapeNotVerified */
                        echo $_column->getId() ?>"
                            class="<?php /* @escapeNotVerified */
                            echo $_column->getCssProperty() ?> <?php /* @escapeNotVerified */
                            echo $_column->getId() == 'massaction' ? 'data-grid-checkbox-cell' : '' ?> <?php echo ++$i == $numColumns - 1 ? 'last' : '' ?>" >
                            <?php echo(($_html = $_column->getRowField($_i)) != '' ? $_html : '&nbsp;') ?>
                            </td><?php
                        endforeach; ?>
                    </tr>
                <?php endforeach; ?>

                <?php if ($block->shouldRenderSubTotal($_item)): ?>
                    <tr class="subtotals">
                        <?php $i = 0;
                        foreach ($block->getMultipleRowColumns() as $_column): ?>
                            <td data-column="<?php /* @escapeNotVerified */
                            echo $_column->getId() ?>"
                                class="<?php /* @escapeNotVerified */
                                echo $_column->getCssProperty() ?> <?php /* @escapeNotVerified */
                                echo $_column->getId() == 'massaction' ? 'data-grid-checkbox-cell' : '' ?> <?php echo ++$i == $numColumns ? 'last' : '' ?>">
                                <?php /* @escapeNotVerified */
                                echo $_column->hasSubtotalsLabel() ? $_column->getSubtotalsLabel()
                                    : $_column->getRowField($block->getSubTotals($_item));
                                ?>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endif; ?>
            <?php else: ?>
                <tr data-role="row" title="<?php /* @escapeNotVerified */
                echo $block->getRowUrl($_item) ?>"<?php if ($_class = $block->getRowClass($_item)): ?>
                    class="<?php /* @escapeNotVerified */
                    echo $_class; ?>"<?php endif; ?> <?php if ($block->isExistingCategory() && $block->isHeroProduct($_item->getId())): ?>class="hero"<?php endif; ?> >
                    <?php $i = 0;
                    foreach ($block->getColumns() as $_column): ?>
                        <?php if ($block->shouldRenderCell($_item, $_column)): ?>
                            <td data-column="<?php /* @escapeNotVerified */
                            echo $_column->getId() ?>"
                                class="<?php /* @escapeNotVerified */
                                echo $_column->getCssProperty() ?> <?php /* @escapeNotVerified */
                                echo $_column->getId() == 'massaction' ? 'data-grid-checkbox-cell' : '' ?> <?php echo ++$i == $numColumns ? 'last' : '' ?>"
                            >
                                <?php echo(($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;') ?>
                            </td>
                            <?php if ($block->shouldRenderEmptyCell($_item, $_column)): ?>
                                <td data-column="<?php /* @escapeNotVerified */
                                echo $_column->getId() ?>"
                                    colspan="<?php /* @escapeNotVerified */
                                    echo $block->getEmptyCellColspan($_item) ?>"
                                    class="col-no-records <?php /* @escapeNotVerified */
                                    echo $block->getEmptyTextClass() ?> last"
                                >
                                    <?php /* @escapeNotVerified */
                                    echo $block->getEmptyCellLabel() ?>
                                </td>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tr>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php elseif ($block->getEmptyText()): ?>
        <tr class="data-grid-tr-no-data" data-role="row">
            <td class="<?php /* @escapeNotVerified */
            echo $block->getEmptyTextClass() ?>"
                colspan="<?php /* @escapeNotVerified */
                echo $numColumns ?>"><?php /* @escapeNotVerified */
                echo $block->getEmptyText() ?></td>
        </tr>
    <?php endif; ?>
    </tbody>

    <?php if ($block->shouldRenderTotal()): ?>
        <tfoot>
        <tr class="totals" data-role="row">
            <?php foreach ($block->getColumns() as $_column): ?>
                <th data-column="<?php /* @escapeNotVerified */
                echo $_column->getId() ?>" class="<?php /* @escapeNotVerified */ echo $_column->getCssProperty() ?>">
                    <?php /* @escapeNotVerified */
                    echo ($_column->hasTotalsLabel()) ? $_column->getTotalsLabel()
                        : $_column->getRowField($block->getTotals()) ?>
                </th>
            <?php endforeach; ?>
        </tr>
        </tfoot>
    <?php endif; ?>
<?php endif ?>
</table>
<div class="drag-list" <?php if ($block->getDragValue() == 'grid'): ?>style="display: block;"<?php endif; ?>> </div>
    <script type="text/javascript">
        var data_grid = {};
    </script>
    <?php if ($block->getCollection()->getSize() > 0 && !$block->getIsCollapsed()): ?>
       <?php foreach ($block->getCollection() as $_index => $_item): ?>
        <?php
        foreach ($block->getColumns() as $key => $_column): ?>
            <?php if ($block->shouldRenderCell($_item, $_column)): ?>
               <?php if ($_column->getData()['id']!='drag'): ?>
                <script>
                  data_grid.<?php echo $_column->getData()['id'];?> = '<?php echo addslashes((($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;')); ?>';
                </script>
               <?php endif; ?>
               <?php if ($block->shouldRenderEmptyCell($_item, $_column)): ?>
                    <?php /* @escapeNotVerified */
                    echo $block->getEmptyCellLabel() ?>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <script>
            if (!jQuery.isEmptyObject(data_grid)) {
                initPosition = parseInt(jQuery('#catalog_category_products_page-current').val()) == 1 ? 1 :
                    (parseInt(jQuery('#catalog_category_products_page-current').val()) - 1) * parseInt(jQuery('#catalog_category_products_page-limit').val()) + 1;
                position = initPosition + jQuery('.drag-list .item').length;

                jQuery('.drag-list').append(
                    '<div class="item <?php if ($block->isExistingCategory() && $block->isHeroProduct($_item->getId())): ?>hero<?php endif; ?>" id="' + data_grid.entity_id + '">' +
                        '<h2><span>' + position + '</span>. '+ data_grid.name + '</h2>'
                        + data_grid.image +
                        '<div class="info">' +
                            '<p class="price"><?php echo __('Price'); ?>: ' + data_grid.price + '</p>' +
                            '<p><?php echo __('SKU'); ?>: ' + data_grid.sku + '</p>' +
                            '<p><?php echo __('Status'); ?>: ' + data_grid.status + '</p>' +
                            '<p><?php echo __('Stock Status'); ?>: ' + data_grid.is_in_stock + '</p>' +
                            '<br/>' +
                        '</div>' +
                        '<div class="drag"></div>' +
                    '</div>'
                );
            }
        </script>
        <?php endforeach; ?>
        <?php elseif ($block->getEmptyText()): ?>
            <?php echo $block->getEmptyText() ?>
    <?php endif; ?>
<script>
    var setSortableGrid = '.set-sortable-grid',
        dragList = '.drag-list',
        productsTable = '#catalog_category_products_table',
        dragItem = '.sw-drag-item',
        tableColNotCheckbox = '.data-grid td:not(.col-in_category)',
        colCheckbox = '.data-grid .col-in_category .checkbox';

    if (jQuery(setSortableGrid).attr('data-enable')) {
        jQuery(dragList).show();
        jQuery(productsTable).hide();
    }

    if (jQuery(dragItem).hasClass('active') || jQuery(setSortableGrid).hasClass('active')) {
        loadingInterval = setInterval(function() {
            if(jQuery.parseJSON($('in_category_products').value) != null) {
                createSortable();
                clearInterval(loadingInterval);
            }
        }, 1);
    }

    // Disable checkbox toggle on row click
    jQuery(tableColNotCheckbox).click(function(e){
        e.stopImmediatePropagation();
    });

    // Add checkbox styles
    jQuery(colCheckbox).css({
        'height': '60px',
        'width': '60px',
        'left': '0',
        'right': '0',
        'top': '0'
    });
</script>
