.grad_ex {
    top: 15px;
    left: 15px;
    width: 200px;
    height: 20px;
    margin-bottom: 32px;
}
#controlled {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 400px;
    top: 0px;
}
.left {
    position: absolute;
    width: 200px;
    height: 200px;
}
.right {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 200px;
}
.bottom {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 200px;
}

.grad-wrap {
    display: none;
    border: 1px solid #000;
    background: white;
    height: 60px;
    width: 230px;
    z-index: 99;
}

.alert-close {
    background: beige;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    height: 22px;
    line-height: 24px;
    position: absolute;
    right: -8px;
    text-align: center;
    top: -9px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    width: 22px;
}