<!--
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Checkout
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div class="step-title" data-bind="i18n: 'Shipping Address'" data-role="title"></div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">

        <!-- ko if: (!quoteIsVirtual) -->
        <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko if: (!isFormInline()) -->
        <button type="button"
                data-bind="click: showInlineForm"
                class="action action-show-popup secondary-button">
            <span data-bind="i18n: 'New Address'"></span>
        </button>
        <!-- /ko -->
        <!-- ko if: (isFormInline()) -->
        <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        <span class="required-note">
            <!-- ko i18n: 'Indicates required field'--><!-- /ko -->
            </span>
        <!-- /ko -->
        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</li>


<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method hello"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <div class="checkout-shipping-method">
        <div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <!-- ko if: rates().length  -->
            <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation" novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <table class="table-checkout-shipping-method">
                        <thead>
                        <tr class="row">
                            <th class="col col-method" data-bind="i18n: 'Select Method'"></th>
                            <th class="col col-price" data-bind="i18n: 'Price'"></th>
                            <th class="col col-method" data-bind="i18n: 'Method Title'"></th>
                            <th class="col col-carrier" data-bind="i18n: 'Carrier Title'"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--ko if: standardRates().length > 0 -->
                        <tr class="standard-carrier title-wrapper" >
                            <td class="title">
                                <!-- ko text: standardRates()[0].updated_carrier --><!-- /ko -->
                            </td>
                        </tr>
                        <!--ko foreach: { data: standardRates(), as: 'method'}-->
                        <tr class="standard-carrier row" data-bind="click: $parent.selectShippingMethod">
                            <td class="col col-method">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                <input class="radio"
                                       type="radio"
                                       data-bind="attr: {
                                                                checked: $parent.rates().length == 1,
                                                                'value' : method.carrier_code + '_' + method.method_code,
                                                                'id': 's_method_' + method.method_code,
                                                                'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                             }" />
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                <input type="radio"
                                       data-bind="
                                                            value: method.carrier_code + '_' + method.method_code,
                                                            checked: $parent.isSelected,
                                                            attr: {
                                                                'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                                'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                            },
                                                            click: $parent.selectShippingMethod,
                                                            customBinding: $parent.isSelected"
                                       class="radio"/>
                                <!--/ko-->
                                <!-- /ko -->

                                <div class="label">
                                    <div class="col-info">
                                        <span class="col col-method"
                                              data-bind="text: method.updated_method, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}">
                                        </span>
                                    </div>

                                    <span class="col col-price">
                                                <!-- ko foreach: $parent.getRegion('price') -->
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                        <!-- /ko -->
                                                </span>
                                </div>
                            </td>
                        </tr>
                        <!-- ko if:  method.error_message -->
                        <tr class="standard-carrier row row-error">
                            <td class="col col-error" colspan="4">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                                <input type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                            </span>
                            </td>
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->

                        <!--ko if: expeditedRates().length > 0 -->
                        <tr class="expedited-carrier title-wrapper">
                            <td class="title">
                                <!-- ko i18n: 'Expedited Shipping' --><!-- /ko -->
                            </td>
                        </tr>
                        <!--ko foreach: { data: expeditedRates(), as: 'method'}-->
                        <tr class="expedited-carrier row" data-bind="click: $parent.selectShippingMethod">
                            <td class="col col-method">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                <input class="radio"
                                       type="radio"
                                       data-bind="attr: {
                                                                checked: $parent.rates().length == 1,
                                                                'value' : method.carrier_code + '_' + method.method_code,
                                                                'id': 's_method_' + method.method_code,
                                                                'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                             }" />
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                <input type="radio"
                                       data-bind="
                                                            value: method.carrier_code + '_' + method.method_code,
                                                            checked: $parent.isSelected,
                                                            attr: {
                                                                'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                                'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                            },
                                                            click: $parent.selectShippingMethod,
                                                            customBinding: $parent.isSelected"
                                       class="radio"/>
                                <!--/ko-->
                                <!-- /ko -->

                                <div class="label">
                                    <div class="col-info">
                                                    <span class="col col-method"
                                                          data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}"></span>
                                    </div>

                                    <span class="col col-price">
                                                <!-- ko foreach: $parent.getRegion('price') -->
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                        <!-- /ko -->
                                                </span>
                                </div>
                            </td>
                        </tr>
                        <!-- ko if:  method.error_message -->
                        <tr class="expedited-carrier row row-error">
                            <td class="col col-error">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                                <input type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                            </span>
                            </td>
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->
                        </tbody>
                    </table>
                    <div class="shipping-notes">
                        <p class="order-note">
                            <!-- ko i18n: 'Order must be received by Noon ET to ship same day. Lower 48 States only.' --><!-- /ko -->
                        </p>
                        <p class="expedited-note">
                            <!-- ko i18n: 'Expedited Shipping - business days only, no weekend or holiday delivery.' --><!-- /ko -->
                        </p>
                    </div>
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                </div>
                <!-- /ko -->
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary green-button">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 --><div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko --></div><!-- /ko -->
        </div>
    </div>
</li>
