<!--
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Checkout
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<tr class="grand totals">
    <th class="mark" colspan="1" scope="row">
        <strong data-bind="i18n: title"></strong>
    </th>
    <td class="amount" data-th="Order Total">
        <strong><span class="price" data-bind="text: getGrandTotalInclTax()"></span></strong>
    </td>
</tr>
