<?php
/**
 * @category    Kurufootwear
 * @package     Magento/Sales
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<?php
/** @var  $block \Magento\Sales\Block\Order\View */
?>
<div class="actions-toolbar">
    <div class="secondary">
        <a class="action back button secondary-button"
           href="<?php echo $block->getBackUrl() ?>">
                <span>
                    <?php echo $block->getBackTitle() ?>
                </span>
        </a>
    </div>
</div>
