<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Sales
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/**
 * @var Magento\Sales\Model\Order $_orders
 * @var Kurufootwear\Sales\Block\Order\History $block
 */
$_orders = $block->getOrders();
echo $block->getChildHtml('info');
?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('My Orders') ?></caption>
            <thead>
            <tr class="table-header">
                <th scope="col" class="col id"><?php echo __('Order #') ?></th>
                <th scope="col" class="col date"><?php echo __('Date') ?></th>
                <th scope="col" class="col status"><?php echo __('Status') ?></th>
                <th scope="col" class="col status"><?php echo __('SKU') ?></th>
                <th scope="col" class="col total"><?php echo __('Total') ?></th>
                <th scope="col" class="col actions">&nbsp;</th>
                <?php echo $block->getChildHtml('extra.column.header');?>
            </tr>
            </thead>
            <tbody class="table-body">
            <?php foreach ($_orders as $_order): ?>
                <tr class="table-row">
                    <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>"
                        class="col id">
                        <a href="<?php echo $block->getViewUrl($_order) ?>"
                           class="action view link">
                            <span>
                                <?php echo $_order->getRealOrderId() ?>
                            </span>
                        </a>
                        <span class="actions mobile-only">
                            <a href="<?php echo $block->getViewUrl($_order) ?>"
                               class="action view link">
                                <span>
                                    <?php echo __('View Order') ?>
                                </span>
                            </a>
                            <?php if (!$block->returnFinished($_order)): ?>
                                <span>|</span>
                                <a href="<?php echo $block->getRmaUrl($_order->getId()); ?>"
                                   class="action view link">
                                    <span>
                                        <?php echo __('Return') ?>
                                    </span>
                                </a>
                            <?php endif; ?>
                        </span>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Date')) ?>"
                        class="col date">
                        <span class="date">
                            <?php echo $block->formatDate($_order->getCreatedAt()) ?>
                        </span>
                    </td>
                    <?php $extra = $block->getChildBlock('extra.container'); ?>
                    <?php if ($extra): ?>
                        <?php $extra->setOrder($_order); ?>
                        <?php echo $extra->getChildHtml() ?>
                    <?php endif; ?>
                    <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>"
                        class="col status">
                        <span class="status">
                            <?php echo $_order->getStatusLabel() ?>
                        </span>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('SKU')) ?>"
                        class="col sku">
                        <span class="sku">
                            <?php echo $block->getFirstOrderSku($_order); ?>
                        </span>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Total')) ?>"
                        class="col total">
                        <?php echo $_order->formatPrice($_order->getGrandTotal()) ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>"
                        class="col actions desktop-only">
                        <?php if (!$block->returnFinished($_order)): ?>
                            <a href="<?php echo $block->getRmaUrl($_order->getId()); ?>"
                               class="action view link">
                                    <span>
                                        <?php echo __('Return') ?>
                                    </span>
                            </a>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <div class="message info empty">
        <span>
            <?php echo __('You have placed no orders.'); ?>
        </span>
    </div>
<?php endif ?>
