<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Sales
 * @author      Krisjanis Veinbahs <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var $block \Magento\Sales\Block\Order\Info */
$_order = $block->getOrder();
?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php echo __('Order Information') ?></strong>
    </div>
    <div class="block-content">
        <?php if (!$_order->getIsVirtual()): ?>
            <div class="box box-order-shipping-address">
                <strong class="box-title"><span><?php echo __('Shipping Address') ?></span></strong>
                <div class="box-content">
                    <address><?php echo $block->getFormattedAddress($_order->getShippingAddress()); ?></address>
                </div>
            </div>

            <div class="box box-order-shipping-method">
                <strong class="box-title">
                    <span><?php echo __('Shipping Method') ?></span>
                </strong>
                <div class="box-content">
                    <?php if ($_order->getShippingDescription()): ?>
                        <?php echo $block->escapeHtml($_order->getShippingDescription()); ?>
                        <?php if (($tracks = $_order->getTracksCollection()) && ($tracks->count() > 0)): ?>
                            <p><?php echo __("Tracking number: %1", $tracks->getLastItem()->getTrackNumber()); ?></p>
                        <?php endif; ?>
                    <?php else: ?>
                        <?php echo __('No shipping information available'); ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?php echo __('Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?php echo $block->getFormattedAddress($_order->getBillingAddress()); ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?php echo __('Payment Method') ?></span>
            </strong>
            <div class="box-content">
                <?php echo $block->getPaymentInfoHtml() ?>
            </div>
        </div>
    </div>
</div>
