<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Sales
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/** @var  $block Kurufootwear\Sales\Block\Order\Items */

$_order = $block->getOrder();
$dataHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$returnAllowed = $block->isReturnAllowed();
?>

<div class="table-wrapper order-items">
    <div>
        <h3 class="table-caption">
            <?php echo __('Order No. ') . $_order->getRealOrderId() ?>
        </h3>
        <a href="<?php echo $block->getReturnUrl(); ?>" class="aw-rma-new-button action primary button blue-button
            <?php echo $returnAllowed ? '' : 'disabled'; ?>">
            <span>
                <?php echo __('Create New Return'); ?>
            </span>
        </a>
    </div>
    <table class="data table table-order">
        <thead class="head">
            <th class="col id"><?php echo __('Order No.') ?></th>
            <th class="col date"><?php echo __('Ship Date') ?></th>
            <th class="col status"><?php echo __('Status') ?></th>
        </thead>
        <tbody>
            <tr>
                <td class="col id"><?php echo $_order->getRealOrderId() ?></td>
                <td class="col date"><?php echo $_order->getCreatedAt() ?></td>
                <td class="col status"><?php echo $_order->getStatusLabel() ?></td>
            </tr>
        </tbody>
    </table>
    <?php $_items = $_order->getItemsCollection(); ?>
    <?php $_index = 0; ?>
    <?php $_count = $_items->count(); ?>
    <?php $_giftMessage = ''?>
    <?php foreach ($_items as $_item): ?>
        <?php if ($_item->getParentItem()) {
            continue;
        } ?>
    <div class="table products">
        <div class="row">
            <img class="col thumbnail" src="<?php echo $_item->getImageUrl($_item->getSku()); ?>"/>
            <div class="col info">
                <div class="name">
                    <?php echo $_item->getName(); ?>
                </div>
                <div class="swatch">
                    <?php if ($size = $block->getSizeInformation($_item)): ?>
                        <p><?php echo sprintf('%s: %s', $size['label'], $size['value']) ?></p>
                    <?php endif; ?>
                </div>
            </div>
            <div class="col price">
                <div class="price">
                    <?php echo $dataHelper->currency($_item->getPrice(), true, false); ?>
                </div>
            </div>
        </div>
        <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order_item', $_item) && $_item->getGiftMessageId()): ?>
        <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessageForEntity($_item); ?>
        <div class="row">
            <div class="col options" colspan="5">
                <a href="#"
                   id="order-item-gift-message-link-<?php echo $_item->getId() ?>"
                   class="action show"
                   aria-controls="order-item-gift-message-<?php echo $_item->getId() ?>"
                   data-item-id="<?php echo $_item->getId() ?>">
                    <?php echo __('Gift Message') ?>
                </a>
                <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessageForEntity($_item); ?>
                <div class="order-gift-message"
                     id="order-item-gift-message-<?php echo $_item->getId(); ?>"
                     role="region"
                     aria-expanded="false"
                     tabindex="-1">
                    <a href="#"
                       title="<?php echo __('Close'); ?>"
                       aria-controls="order-item-gift-message-<?php echo $_item->getId(); ?>"
                       data-item-id="<?php echo $_item->getId(); ?>"
                       class="action close">
                        <?php echo __('Close'); ?>
                    </a>
                    <dl class="item-options">
                        <dt class="item-sender">
                            <strong class="label">
                                <?php echo __('From') ?>
                            </strong>
                            <?php echo $block->escapeHtml($_giftMessage->getSender()); ?>
                        </dt>
                        <dt class="item-recipient">
                            <strong class="label">
                                <?php echo __('To'); ?>
                            </strong>
                            <?php echo $block->escapeHtml($_giftMessage->getRecipient()); ?>
                        </dt>
                        <dd class="item-message">
                            <?php echo $this->helper('Magento\GiftMessage\Helper\Message')->getEscapedGiftMessage($_item); ?>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <?php endif ?>
    </div>
    <?php endforeach; ?>
    <table class="data table table-footer">
        <?php echo $block->getChildHtml('order_totals') ?>
    </table>
</div>
<?php if ($_giftMessage): ?>
    <script type="text/x-magento-init">
    {
        "a.action.show, a.action.close": {
            "giftMessage": {}
        }
    }
</script>
<?php endif; ?>
