<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Sales
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var  $block \Magento\Sales\Block\Order\View*/

?>
<div class="order-details-items ordered">
    <?php $_order = $block->getOrder() ?>

    <?php echo $block->getChildHtml('order_items.kuru') ?>

    <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order) && $_order->getGiftMessageId()): ?>
        <div class="block block-order-details-gift-message">
            <div class="block-title">
                <strong>
                    <?php echo __('Gift Message for This Order') ?>
                </strong>
            </div>
            <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessageForEntity($_order); ?>
            <div class="block-content">
                <dl class="item-options">
                    <dt class="item-sender">
                        <strong class="label">
                            <?php echo __('From') ?>
                        </strong>
                        <?php echo $block->escapeHtml($_giftMessage->getSender()) ?>
                    </dt>
                    <dt class="item-recipient">
                        <strong class="label">
                            <?php echo __('To') ?>
                        </strong>
                        <?php echo $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    </dt>
                    <dd class="item-message">
                        <?php echo $this->helper('Magento\GiftMessage\Helper\Message')->getEscapedGiftMessage($_order) ?>
                    </dd>
                </dl>
            </div>
        </div>
    <?php endif; ?>
</div>
