// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.customer-address-index {
    .messages {
        @include margin(-10px 0 20px);
        @include padding(0);
    }

    .main {
        .items {
            @include margin(null null 0);
            @include padding(0);
            list-style: none;
        }
    }

    .block-addresses-default,
    .block-addresses-list {
        .block-content,
        .items {
            @include media($tablet) {
                @include display(flex);
                @include justify-content(space-between);
                @include flex-wrap(wrap);
                width: 100%;
            }
        }

        .box,
        .item:not(.actions) {
            @include margin(0 0 20px);

            @include media($tablet) {
                @include flex(1);
                min-width: 50%;
            }
        }
    }

    .block-addresses-list .delete {
        @include margin(null null null 10px);
    }
}

.customer-address-form .main {
    .form-address-edit {
        @include media($desktop-small) {
            width: 70%;
        }
    }

    input::placeholder {
        text-transform: none;
    }

    .input-text,
    .selectric-wrapper {
        @include border-color($clr-silver-chalice);
        @include border-width(1px);
        @include margin(null null 12px);
        font-weight: normal;

        @include media($tablet) {
            @include margin(null null 8px);
        }
    }

    .input-text {
        height: 42px;
    }

    .primary {
        float: right;
    }

    .action.login {
        @include margin(0 0 5px);
    }

    .action.remind {
        @include margin(0 0 5px);
        @include display(inline-block);
    }

    .field._required,
    .field.required {
        > .label::after {
            color: $clr-cinnabar;
            content: '*';
        }
    }

    .field {
        @include margin(0);
        @include display(flex);
        min-width: 100%;

        &.choice {
            @include margin(null null 8px);
        }

        .checkbox {
            @include position(relative, 3px);
        }

        > .control {
            @include flex-grow(1);
        }

        .message {
            @include margin(0 0 5px);
        }
    }

    .street.field {
        @include display(block);
        @include padding(0);
        @include margin(null 0 0);
        @include border-width(0);

        .control {
            @include display(inline-block);
            min-width: 0;
            width: 100%;

            @include media($mobile-large) {
                @include span-columns(8);
            }

            .label {
                @include display(none);
            }

            .control,
            .field {
                @include display(block);
                min-width: 0;
                width: 100%;

                @include media($tablet) {
                    min-width: 100%;
                }
            }

            .input-text {
                width: 100%;
            }
        }
    }

    .legend {
        @include display(none);
    }

    .field {
        float: none;
    }

    .step-title {
        @include margin(0);
    }

    .fieldset {
        @include padding(0);
        @include margin(0);
        @include border-width(0);

        > br {
            @include display(none);
        }
    }
}
