// /**
//  * @vendor Kurufootwear
// * @module Magento_Customer
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */

.customer-account-create {
    .page-title-wrapper,
    .columns {
        @include outer-container();
        @include margin(null $default-indent);
        @include padding($default-indent null 40px);

        @include media($desktop-small) {
            @include margin(null auto);
            @include padding(0 $default-indent null);
        }
    }

    .block-title {
        @include margin(10px null);
        font-family: $montserrat;
        font-size: $f-size-l;
        font-weight: normal;
        line-height: 21px;
        text-transform: uppercase;
    }

    .register-container {
        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(space-between);
        }
    }

    .account-form-wrapper,
    .block-sociallogin {
        width: 100%;

        @include media($desktop-small) {
            width: 40%;
        }
    }

    .account-form-wrapper {
        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;


            > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-video-banner;
                line-height: 18px;
                text-transform: uppercase;

                @include media($mobile-large) {
                    @include span-columns(4);
                }
            }
        }

        .control {
            @include span-columns(12);

            @include media($mobile-large) {
                @include span-columns(8);
            }
        }
    }

    .field.required {
        > .label::after {
            color: $clr-cinnabar;
            content: '*';
        }
    }

    .newsletter {
        @include margin(5px null 10px);

        .checkbox {
            @include margin(0);
            @include padding(0);
            @include position(relative);
            height: 18px;
            overflow: hidden;
            top: -1px;
            vertical-align: bottom;
            width: 18px;

            + .label {
                @include padding(null null null 10px);
                font-family: $source-sans-pro;
                font-size: $f-size;
                font-weight: 400;
            }
        }
    }

    .show-pass-button {
        @include position(absolute, 18px 15px null null);
        @include display(none);
        @include retina-sprite($sprite-eye-icon-group);
        cursor: pointer;

        @include media($desktop-small) {
            @include display(block);
        }
    }

    .fieldset {
        @include margin(0);
        @include padding(0);
        @include border-width(0);
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;
    }

    .password-strength-meter {
        @include margin(10px null null);
    }

    .indicator {
        color: $clr-cinnabar;
    }

    .block-sociallogin-heading {
        @include display(none);
    }

    .block-sociallogin {
        a.sociallogin {
            &.sociallogin-twitter,
            &.sociallogin-facebook,
            &.sociallogin-google {
                @include media($tablet) {
                    @include span-columns(4);
                }
            }
        }
    }

    .social-register-text {
        font-weight: 400;
    }

    .actions-toolbar {
        .info-text {
            @include display(none);

            @include media($desktop-small) {
                @include margin(null null null 10px);
                @include display(inline-block);
                font-family: $source-sans-pro;
                font-size: $f-size-s;
                font-weight: 400;
            }
        }

        .primary {
            @include margin(null null 10px);
            width: 100%;

            @include media($desktop-small) {
                float: right;
                width: 81%;
            }
        }
    }

    .captcha-image {
        min-width: 100%;
    }

    .captcha-img {
        @include display(block);
        @include margin(10px auto);
    }

    .captcha-reload {
        min-width: 100%;
    }
}
