// /**
// * @vendor Kurufootwear
// * @module Magento_Customer
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */

.customer-account-edit {
    .edit-form-wrapper {
        @include media($desktop-small) {
            @include span-columns(9);
        }
    }

    .form-edit-account {
        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;
        }

        .control {
            @include span-columns(12);

            @include media($desktop-small) {
                @include span-columns(8);
            }
        }
    }

    .field.required {
        > .label::after {
            color: $clr-cinnabar;
            content: '*';
        }
    }

    .choice {
        @include margin(0 0 10px);

        .label {
            height: 18px;
            overflow: hidden;
            top: -1px;
            vertical-align: bottom;
            width: 18px;
        }
    }

    .show-pass-button {
        @include position(absolute, 15px 15px null null);
        @include display(none);
        @include retina-sprite($sprite-eye-icon-group);
        cursor: pointer;

        @include media($desktop-small) {
            @include display(block);
        }
    }

    .hidden,
    .password-strength-meter {
        @include display(none);
    }
}
