// /**
//  * @vendor Kurufootwear
//  * @module Magento_Customer
//  * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
//  * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
//  */
.customer-account-forgotpassword,
.customer-account-createpassword,
.customer-account-sendmepassword {
    .page-title-wrapper,
    .columns {
        @include outer-container();
        @include margin(null $default-indent);

        @include media($desktop-small) {
            @include margin(null auto);
            @include padding(null $default-indent);
        }
    }

    .page-title,
    .page-main .page-title-wrapper {
        @include margin(10px null null);
        @include display(block);
        font-family: $montserrat;
        font-size: $f-size-xxl;
        font-weight: bold;
        line-height: 21px;
    }

    .fieldset {
        @include padding(0);
        @include border-width(0);
        @include span-columns(12);
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;

        @include media($desktop-small) {
            @include span-columns(6);
        }

        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;


            > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-video-banner;
                line-height: 18px;
                text-transform: uppercase;

                @include media($desktop-small) {
                    @include span-columns(2);
                }
            }
        }

        .control {
            @include span-columns(12);

            @include media($desktop-small) {
                @include span-columns(10);
            }
        }
    }

    .field.required {
        > .label::after {
            color: $clr-cinnabar;
            content: '*';
        }
    }

    .form.password.forget {
        @include margin(null 0 null null);

        @include media($desktop-small) {
            width: 40%;
        }

        .fieldset {
            width: 100%;
        }
    }

    .actions-toolbar {
        clear: both;

        .info-text {
            @include display(none);

            @include media($desktop-small) {
                @include margin(null null null 10px);
                @include display(inline-block);
                font-family: $source-sans-pro;
                font-size: $f-size-s;
                font-weight: 400;
            }
        }

        .primary {
            @include margin(null null 10px null);
            float: right;

            @include media($desktop-small) {
                @include margin(null null null 0);
            }
        }
    }
}

.customer-account-sendmepassword {
    .page-title-wrapper {
        @include padding(null null null 0);
    }

    .page-main {
        .columns {
            @include padding(null null null 0);
        }
    }
}
