// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.customer-account-index {
    .main {
        .block:not(.partial) {
            @include padding(22px 0 22px);
            @include border-color($clr-silver-chalice);
            @include border-style(solid);
            @include border-width(0 0 1px);
        }

        .block:not(.partial):first-of-type {
            @include padding(0 0 22px);
        }

        .block:not(.partial):last-of-type {
            @include border-width(0);
        }
    }

    .block-dashboard-info,
    .block-dashboard-addresses {
        .block-content {
            @include media($tablet) {
                @include display(flex);
                @include justify-content(space-between);
            }
        }

        .box {
            @include margin(0 0 20px);

            @include media($tablet) {
                @include flex(1);
            }
        }
    }

    .block.info-address:not(.partial) {
        @include padding(null null 0);
        @include margin(null null 22px);
    }

    .block-dashboard-addresses .block-title {
        @include display(none);
    }

    .block-returns-summary {
        .secondary {
            @include display(none);
        }

        .blue-button {
            @include padding(null 25px);
        }

        .note {
            @include margin(null null 15px);
            font-style: italic;
        }
    }

    .orders-history {
        @include margin(null null 22px);
    }

    .aw-rma-list {
        @include margin(null null 22px);

        .return-items {
            @include display(none);
        }

        .table-caption {
            @include display(block);
            @include margin(null null 10px);
        }

        .return-note {
            @include margin(null null 15px);
            font-style: italic;
        }
    }

    .blocking {
        @include margin(null null 20px);

        &,
        .telephone {
            color: $clr-cinnabar;
        }

        .telephone:hover {
            color: $clr-apricot;
        }
    }
}
