// /**
// * @vendor Kurufootwear
// * @module Magento_Customer
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */

.customer-account-login,
.customer-account-trackmyorder {
    .page-title-wrapper,
    .columns {
        @include outer-container();
        @include margin(null $default-indent);
        @include padding($default-indent null 40px);

        @include media($desktop-small) {
            @include margin(null auto);
            @include padding(0 $default-indent null);
        }
    }

    .login-container {
        @include display(block);

        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(space-between);
        }
    }

    .block-title {
        @include margin(10px null);
        font-family: $montserrat;
        font-size: $f-size-l;
        font-weight: normal;
        line-height: 21px;
        text-transform: uppercase;

        .block-comment {
            font-family: $source-sans-pro;
            font-size: $f-size;
            font-weight: normal;
            line-height: 1.5;
            text-transform: none;
        }
    }

    .login-forms,
    .block-new-customer {
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;
        width: 100%;

        @include media($desktop-small) {
            width: 40%;
        }

        .fieldset {
            @include border-width(0);
            @include margin(0);
            @include padding(0);
        }
    }

    .block-customer-login {
        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;


            > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-video-banner;
                line-height: 18px;
                text-transform: uppercase;

                @include media($mobile-large) {
                    @include span-columns(3);
                }
            }
        }

        .control {
            @include span-columns(12);

            @include media($mobile-large) {
                @include span-columns(9);
            }
        }

        .actions-toolbar .primary {
            @include media($tablet) {
                float: right;
            }
        }
    }

    .field.required {
        > .label::after {
            color: $clr-cinnabar;
            content: '*';
        }
    }

    .block-sociallogin-heading {
        @include margin(0);
        color: $clr-silver-chalice;
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;
        text-transform: none;
    }

    .block-sociallogin {
        .social-register-heading,
        .social-register-text {
            @include display(none);
        }

        .block-title {
            @include margin(20px null 0);
        }

        a.sociallogin {
            &.sociallogin-twitter,
            &.sociallogin-facebook,
            &.sociallogin-google {
                @include media($tablet) {
                    @include span-columns(4);
                }
            }
        }
    }

    .block-new-customer {
        .block-title {
            @include media($tablet-medium) {
                @include margin(null 0 null);
            }
        }
    }

    .show-pass-button {
        @include position(absolute, 18px 15px null null);
        @include display(none);
        @include retina-sprite($sprite-eye-icon-group);
        cursor: pointer;

        @include media($desktop-small) {
            @include display(block);
        }

        .actions-toolbar {
            float: right;
        }
    }

    .actions-toolbar {
        .create {
            @include display(inline-block);
            @include margin(null null 10px);
            min-width: inherit;
            width: 100%;

            @include media($tablet-medium) {
                width: inherit;
            }
        }

        .secondary {
            @include display(inline-block);
            @include padding(7px null);
        }

        .remind {
            @include display(inline-block);
            @include padding(10px null);
            color: $clr-link;
        }
    }

    .account-form-wrapper {
        @include position(relative);
        width: 100%;

        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;

            > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-video-banner;
                line-height: 18px;
                text-transform: uppercase;

                @include media($mobile-large) {
                    @include span-columns(5);
                }

                @include media($desktop-small-l) {
                    @include span-columns(4);
                }
            }
        }

        .control {
            @include span-columns(12);

            @include media($mobile-large) {
                @include span-columns(7);
            }

            @include media($desktop-small-l) {
                @include span-columns(8);
            }
        }

        .actions-toolbar {
            @include margin(10px null);

            @include media($desktop-small) {
                @include position(absolute, null 0 -50px null);
            }

            .indicator {
                color: $clr-cinnabar;
            }

            .submit-accessible.hidden {
                @include display(none);
            }
        }
    }

    .registration-dropdown {
        @include display(flex);
        @include flex-direction(column-reverse);

        .create.button,
        .login.button {
            @include media($desktop-small) {
                @include align-self(self-start);
                @include margin(null auto null 0);
            }
        }

        .block-sociallogin {
            @include transition(.5s ease-in-out);
            max-height: 0;
        }

        &.open {
            .block-sociallogin {
                max-height: 400px;
            }
        }
    }

    .login-dropdown {
        @include display(flex);
        @include flex-direction(column-reverse);

        .create.button,
        .login.button {
            @include media($desktop-small) {
                @include align-self(self-end);
                @include margin(null 0 null auto);
            }
        }

        .block-sociallogin {
            @include transition(.5s ease-in-out);
            max-height: 0;
        }

        &.open {
            .block-sociallogin {
                max-height: 400px;
            }
        }
    }

    .newsletter {
        @include margin(10px null 15px);

        .checkbox {
            @include margin(0);
            @include padding(0);
            @include position(relative);
            height: 18px;
            overflow: hidden;
            top: -1px;
            vertical-align: bottom;
            width: 18px;

            + .label {
                @include padding(null null null 10px);
                font-family: $source-sans-pro;
                font-size: $f-size;
                font-weight: 400;
            }
        }
    }

    .captcha-image {
        min-width: 100%;
    }

    .captcha-img {
        @include display(block);
        @include margin(10px auto);
    }

    .captcha-reload {
        min-width: 100%;
    }
}

.customer-account-trackmyorder {
    .page-title-wrapper {
        @include padding(null null 0);
    }
}
