// /**
// * @vendor Kurufootwear
// * @module Magento_Customer
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */
.customer-account-logoutsuccess {
    .page-title-wrapper,
    .columns {
        @include outer-container();
        @include margin(null $default-indent);

        @include media($desktop) {
            @include margin(null auto);
            @include padding(null 20px);
        }
    }

    .page-title-wrapper {
        @include margin(20px null null null);
    }

    .page-title {
        font-family: $montserrat;
        font-size: $f-size-xxl;
        font-weight: normal;
        line-height: 21px;
    }

    .main {
        font-family: $source-sans-pro;
    }
}
