// /**
// * @vendor Kurufootwear
// * @module Magento_Customer
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */
.customer-account-createpassword {
    .fieldset {
        .field {
            > .label {
                @include media($mobile-large) {
                    @include span-columns(4);
                }
            }
        }

        .control {
            @include media($mobile-large) {
                @include span-columns(8);
            }
        }
    }

    .page-title-wrapper {
        @include margin(10px null null);

        .base {
            font-family: $montserrat;
            font-size: $f-size-xl;
            font-weight: bold;
        }
    }

    .actions-toolbar {
        .submit {
            float: right;
            min-width: inherit;

            @include media($desktop-small) {
                width: 300px;
            }
        }
    }
}
