// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.sales-order-history,
.customer-account-index {
    .mobile-only {
        @include media($tablet) {
            @include display(none);
        }
    }

    .desktop-only {
        @include display(none);

        @include media($tablet) {
            @include display(inherit);

            &.col {
                @include display(table-cell);
            }
        }
    }

    .table-caption {
        @include display(block);
        text-align: left;

        @include media($tablet) {
            @include display(table-caption);
        }
    }

    .col,
    .table tr:nth-child(odd),
    .table tr:nth-child(even) {
        background-color: transparent;
    }

    .col {
        font-family: $source-sans-pro;
        line-height: 18px;
        text-align: right;

        @include media($tablet) {
            @include padding(10px 15px);
            text-align: left;
        }

        &::before {
            text-align: left;
        }

        &.id {
            @include media($tablet) {
                @include padding(null null null 0);
            }
        }

        &.actions {
            @include media($tablet) {
                @include padding(null 0 null null);
                text-align: right;
            }

            .view {
                @include media($tablet) {
                    @include padding(null 8px null null);
                }
            }
        }

        &.total {
            @include padding(null null 20px);
            @include margin(null null 20px);
            @include border-color($clr-silver-chalice);
            @include border-style(solid);
            @include border-width(0 0 1px);

            @include media($tablet) {
                @include padding(10px 15px);
            }

            .price {
                color: $clr-bluewood;
                font-weight: 600;

                @include media($tablet) {
                    font-weight: bold;
                }
            }
        }
    }

    .table {
        border-collapse: collapse;
    }

    .table-header th,
    .table-row td {
        @include border-width(0);

        @include media($tablet) {
            @include border-color($clr-silver-chalice);
            @include border-style(solid);
            @include border-width(0 0 1px);
        }
    }

    .block-returns-summary {
        margin-top: 30px;

        .note {
            @include margin(null null 15px);
            font-style: italic;
        }
    }

    .history .table-header .col.actions {
        @include media($tablet) {
            width: 152px;
        }
    }

    &.account .column.main .table-body {
        @include media($mobile-medium-l) {
            @include display(block);
        }

        @include media($tablet) {
            @include display(table-row-group);
        }
    }

    .table-row {
        .col {
            @include position(relative);
            white-space: nowrap;

            @include media($tablet) {
                white-space: normal;
            }

            &.date::before,
            &.status::before,
            &.ship-to::before {
                font-weight: normal;

                @include media($tablet) {
                    font-weight: bold;
                }
            }

            &.date {
                @include margin(5px null null);

                @include media($tablet) {
                    @include margin(5px null null);
                }
            }

            &.status {
                @include margin(null null 5px);

                @include media($tablet) {
                    @include margin(null null 0);
                }
            }
        }

        .id .mobile-only {
            @include position(absolute, 29px 0 null null);
            z-index: 5;

            @include media($tablet) {
                @include position(relative, null null null 0);
            }
        }

        :not(.col).id {
            @include position(absolute, 0 null null 47px);
            font-weight: bold;

            @include media($tablet) {
                @include position(relative, null null null 0);
                font-weight: normal;
            }
        }


        :not(.col).ship-to {
            @include position(absolute, 0 null null 47px);

            @include media($tablet) {
                @include position(relative, null null null 0);
            }

            &::before {
                content: ' - ';

                @include media($tablet) {
                    content: '';
                }
            }
        }

        :not(.col).date {
            @include position(absolute, 0 null null 30px);

            @include media($tablet) {
                @include position(relative, null null null 0);
            }

            &::before {
                content: ' - ';

                @include media($tablet) {
                    content: '';
                }
            }
        }

        :not(.col).status {
            @include position(absolute, 0 null null 44px);

            @include media($tablet) {
                @include position(relative, null null null 0);
            }

            &::before {
                content: ' - ';

                @include media($tablet) {
                    content: '';
                }
            }
        }

        .action.view.link {
            @include padding(null 0 null null 8px);
        }
    }
}

.sales-order-history {
    .orders-history {
        @include margin(null null 22px);

        .table-row:last-of-type .col.total {
            @include padding(null null 22px);
            @include margin(null null 0);

            @include media($tablet) {
                @include padding(10px 15px);
            }
        }
    }

    .aw-rma-list {
        .return-items {
            @include display(none);
        }

        .table-caption {
            @include display(block);
        }

        .blocking {
            @include display(block);
            @include margin(null null 20px);

            &,
            .telephone {
                color: $clr-cinnabar;
            }

            .telephone:hover {
                color: $clr-apricot;
            }
        }
    }
}

.sales-order-view,
.guest-order-status-container {
    .aw-rma-new-button {
        @include margin(null null 10px);
        float: none;

        @include media($tablet) {
            float: right;
        }
    }

    .order-links {
        @include display(none);
    }

    th,
    td {
        @include padding(12px 12px 12px 0);
        background-color: $clr-white;
        text-align: left;
    }

    .block-title {
        @include margin(20px null null);

        @include media($tablet) {
            @include margin(30px null null);
        }
    }

    .table-caption {
        @include margin(null null 8px);

        @include media($tablet) {
            @include display(inline-block);
            @include margin(null null 20px);
        }
    }

    .table-order {
        @include margin(null null 20px);

        @include media($tablet) {
            @include margin(null null 10px);
        }

        .col {
            @include border-width(0);
        }

        .id {
            @include display(none);

            @include media($tablet) {
                @include display(table-cell);
            }
        }

        .date,
        .status {
            @include padding(0);

            @include media($tablet) {
                @include padding(12px 12px 12px 0);
            }
        }

        .head .col {
            @include border-color($clr-silver-chalice);
            @include border-style(solid);
            @include border-width(0 0 1px);
        }
    }

    .table-footer {
        @include media($desktop-small) {
            @include margin(null null null 60%);
            width: 40%;
        }

        th,
        td {
            @include padding(8px 0);
            @include border-width(0);
            background-color: $clr-white;
        }

        .mark {
            font-weight: normal;
            text-align: left;

            &::after {
                @include margin(null null null -3px);
                content: ':';
            }
        }

        .amount {
            @include padding(null 0 null 0);
            color: $clr-video-banner;
            font-weight: bold;
            text-align: right;

            &::before {
                @include padding(12px 0);
                font-weight: normal;
                text-align: left;
                width: 60%;
            }
        }

        tr:nth-last-child(2) {
            th,
            td {
                @include padding(null null 20px);
            }
        }

        .grand_total {
            background-color: $clr-white;
            font-size: $f-size-5xl;
            font-weight: bold;
            line-height: 25px;
            text-transform: uppercase;

            > * {
                @include padding(20px null null);
                @include border-color($clr-silver-chalice);
                @include border-style(solid);
                @include border-width(.5px 0 0);
            }

            .amount::before {
                @include padding(20px 0);
                font-weight: bold;
            }
        }
    }

    .block-order-details-view {
        .block-content,
        .items {
            @include media($tablet) {
                @include display(flex);
                @include justify-content(space-between);
                @include flex-wrap(wrap);
                width: 100%;
            }
        }

        .box {
            @include padding(null 20px null null);
        }

        .box,
        .item:not(.actions) {
            @include margin(0 0 20px);

            @include media($tablet) {
                @include flex(1);
                min-width: 25%;

                .box-order-billing-method {
                    @include margin(0 0 20px);
                }
            }

            .box-order-billing-method {
                @include margin(0);
            }
        }
    }

    address {
        @include padding(5px null 5px null);
        font-style: normal;

        * {
            @include margin(5px 0);
        }

        br {
            line-height: 28px;
        }
    }

    .box-content .payment-method {
        @include margin(0);

        .title {
            font-family: $source-sans-pro;
            font-weight: normal;
            text-transform: none;
        }
    }

    .table-order-items {
        @include margin(20px null null);
    }

    .table {
        border-collapse: collapse;
    }

    .products .row {
        @include border-color($clr-silver-chalice);
        @include border-style(solid);
        @include border-width(1px 0);
        @include display(flex);
        @include justify-content(space-between);

        .col {
            @include display(flex);
            @include justify-content(center);
            @include flex-direction(column);
            @include padding(0);

            &:not(.name) {
                @include margin(10px 0);
            }

            &.thumbnail {
                @include margin(auto 0);
                height: 30%;
                width: 30%;

                @include media($mobile-medium) {
                    height: 25%;
                    width: 25%;
                }

                @include media($mobile-medium-l) {
                    height: 20%;
                    width: 20%;
                }

                @include media($tablet) {
                    height: 15%;
                    width: 15%;
                }
            }

            &.info {
                @include padding(null 2% null 2%);
                text-align: left;

                @include media($mobile-medium) {
                    @include padding(null null null 10%);
                }
            }

            &.price {
                @include flex(1);
                text-align: right;
            }
        }

        .thumbnail-image {
            width: 100%;
        }

        .name {
            color: $clr-video-banner;
            font-family: $montserrat;
            font-weight: bold;
            line-height: 20px;
        }

        .swatch {
            font-size: $f-size-xs;
            line-height: 15px;
        }

        .price {
            color: $clr-video-banner;
            font-size: $f-size-5xl;
            font-weight: bold;
            line-height: 25px;
        }
    }
}
