// /**
// * @vendor Kurufootwear
// * @module Mirasvit_Rewards
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */

.rewards-referral-index {
    .content-wrapper {
        @include media($desktop-small) {
            @include span-columns(9);
        }

        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;
        }

        .required {
            > .label::after {
                color: $clr-cinnabar;
                content: '*';
            }
        }

        .control {
            @include media($desktop-small) {
                @include span-columns(6);
            }
        }

        .block {
            @include clearfix;
            margin-top: 30px;
        }

        .block-rewards-referral-list {
            margin-top: 0;
        }

        .referral-url .control {
            @include margin(null 5px null null);
        }

        .rewards-social-buttons {
            @include display(inline-block);
            @include margin(8px null);
            font-family: FontAwesome;

            .social-button {
                @include display(inline-block);
                @include padding(2px);
            }
        }

        input {
            font-weight: normal;
        }
    }
}
