// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.sales-order-view,
.guest-order-status-container {
    .order-links {
        @include display(none);
    }

    th,
    td {
        @include padding(12px 12px 12px 0);
        background-color: $clr-white;
        text-align: left;
    }

    .block-title {
        @include margin(20px null null);

        @include media($tablet) {
            @include margin(30px null null);
        }
    }

    .table-caption {
        @include margin(null null 8px);

        @include media($tablet) {
            @include margin(null null 20px);
        }
    }

    .table-order {
        @include margin(null null 20px);

        @include media($tablet) {
            @include margin(null null 10px);
        }

        .col {
            @include border-width(0);
        }

        .id {
            @include display(none);

            @include media($tablet) {
                @include display(table-cell);
            }
        }

        .date,
        .status {
            @include padding(0);

            @include media($tablet) {
                @include padding(12px 12px 12px 0);
            }
        }

        .head .col {
            @include border-color($clr-silver-chalice);
            @include border-style(solid);
            @include border-width(0 0 1px);
        }
    }

    .table-footer {
        @include media($desktop-small) {
            @include margin(null null null 60%);
            width: 40%;
        }

        th,
        td {
            @include padding(8px 0);
            @include border-width(0);
            background-color: $clr-white;
        }

        .mark {
            font-weight: normal;
            text-align: left;

            &::after {
                @include margin(null null null -3px);
                content: ':';
            }
        }

        .amount {
            @include padding(null 0 null 0);
            color: $clr-video-banner;
            font-weight: bold;
            text-align: right;

            &::before {
                @include padding(12px 0);
                font-weight: normal;
                text-align: left;
                width: 60%;
            }
        }

        tr:nth-last-child(2) {
            th,
            td {
                @include padding(null null 20px);
            }
        }

        .grand_total {
            background-color: $clr-white;
            font-size: $f-size-5xl;
            font-weight: bold;
            line-height: 25px;
            text-transform: uppercase;

            > * {
                @include padding(20px null null);
                @include border-color($clr-silver-chalice);
                @include border-style(solid);
                @include border-width(.5px 0 0);
            }

            .amount::before {
                @include padding(20px 0);
                font-weight: bold;
            }
        }
    }

    .block-order-details-view {
        .block-content,
        .items {
            @include media($tablet) {
                @include display(flex);
                @include justify-content(space-between);
                @include flex-wrap(wrap);
                width: 100%;
            }
        }

        .box {
            @include padding(null 20px null null);
        }

        .box,
        .item:not(.actions) {
            @include margin(0 0 20px);

            @include media($tablet) {
                @include flex(1);
                min-width: 25%;

                .box-order-billing-method {
                    @include margin(0 0 20px);
                }
            }

            .box-order-billing-method {
                @include margin(0);
            }
        }
    }

    address {
        @include padding(5px null 5px null);
        font-style: normal;

        * {
            @include margin(5px 0);
        }

        br {
            line-height: 28px;
        }
    }

    .box-content .payment-method {
        @include margin(0);

        .title {
            font-family: $source-sans-pro;
            font-weight: normal;
            text-transform: none;
        }
    }

    .table-order-items {
        @include margin(20px null null);
    }

    .table {
        border-collapse: collapse;
    }

    .products .row {
        @include border-color($clr-silver-chalice);
        @include border-style(solid);
        @include border-width(.5px 0 .5px);
        @include display(flex);
        @include justify-content(space-between);

        .col {
            @include display(flex);
            @include justify-content(center);
            @include flex-direction(column);
            @include padding(0);

            &:not(.name) {
                @include margin(10px 0);
            }

            &.thumbnail {
                @include margin(auto 0);
                height: 30%;
                width: 30%;

                @include media($mobile-medium) {
                    height: 25%;
                    width: 25%;
                }

                @include media($mobile-medium-l) {
                    height: 20%;
                    width: 20%;
                }

                @include media($tablet) {
                    height: 15%;
                    width: 15%;
                }
            }

            &.info {
                @include padding(null 2% null 2%);
                text-align: left;

                @include media($mobile-medium) {
                    @include padding(null null null 10%);
                }
            }

            &.price {
                @include flex(1);
                text-align: right;
            }
        }

        .thumbnail-image {
            width: 100%;
        }

        .name {
            color: $clr-video-banner;
            font-family: $montserrat;
            font-weight: bold;
            line-height: 20px;
        }

        .swatch {
            font-size: $f-size-xs;
            line-height: 15px;
        }

        .price {
            color: $clr-video-banner;
            font-size: $f-size-5xl;
            font-weight: bold;
            line-height: 25px;
        }
    }
}
