// /**
// * @vendor Kurufootwear
// * @module Mirasvit_Rewards
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */

.rewards-account-index {
    .block-information {
        padding-bottom: 15px;
    }

    .transactions-summary {
        .table-content {
            font-weight: normal;
        }

        .no-transfers {
            text-align: left;
        }

        .information {
            @include padding(null null null 0);
        }
    }

    .transaction-spendings {
        .block-title {
            @include margin(25px null null);
        }
    }
}
