///**
// * @vendor Kurufootwear
// * @module Magento_Customer
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */

.customer-account-sendmepassword {
    .page-main {
        @include outer-container();
        @include padding(20px 20px 40px);

        @include media($desktop-small) {
            @include padding(0 20px 20px);
        }
    }

    .page-title-wrapper {
        @include display(none);
    }

    .form.password {
        @include media($desktop-small) {
            @include span-columns(6);
        }
    }

    .field-custom {
        &.note {
            @include display(block);
            min-width: 100%;
        }

        &.email {
            @include margin(15px null null);
            max-width: none;
        }

        .label {
            @include margin(8px null null);
            @include display(none);
            text-transform: uppercase;

            @include media($mobile-large) {
                @include span-columns(3);
            }

            &::after {
                color: $clr-cinnabar;
                content: '*';
            }
        }

        .control {
            @include span-columns(12);

            @include media($mobile-large) {
                @include span-columns(9);
            }
        }
    }

    .password-title {
        @include margin(10px null null);
        font-size: $f-size-xl;
        font-weight: bold;
    }

    .password-button-wrapper {
        clear: both;
        float: right;
    }

    .password-button {
        @include margin(20px null null);
    }

    .password-button-text {
        font-weight: 500;
    }

    .fieldset.send-me-password {
        @include border-width(0);
        @include padding(0);
        @include margin(10px 0 0);
    }
}
