// /**
// * @vendor Kurufootwear
// * @module Magento_Customer
// * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
// * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// */

.customer-account-login,
.customer-account-create,
.customer-account-trackmyorder {
    .separator-line {
        @include display(none);

        @include media($desktop-small) {
            @include display(flex);
            @include flex-direction(column);
        }
    }

    .separator-line-before,
    .separator-line-after {
        @include background($clr-gallery);
        @include display(block);
        @include flex(1);
        @include margin(auto);
        @include size(2px 45%);
    }

    .separator-text {
        color: $clr-gallery;
        font-weight: 800;
    }
}
