// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.wishlist-index-index {
    .wishlist-form-wrapper {
        .message.info {
            float: inherit;
        }
    }

    .section-header {
        @include clearfix;

        @include media($desktop-small) {
            padding-bottom: 20px;
        }

        .section-title {
            color: $clr-bluewood;
            font-family: $montserrat;
            font-weight: bold;
            line-height: 17px;
            padding-bottom: 20px;
            text-transform: uppercase;
        }

        .share {
            @include media($tablet) {
                @include margin(0);
                float: right;
            }
        }
    }

    .form-heading {
        @include display(none);

        @include media($desktop-small) {
            @include border-color($clr-gallery);
            @include border-style(solid);
            @include border-width(2px 0);
            @include display(block);
            @include padding(10px null);
            font-weight: bold;
        }

        > * {
            @include display(inline-block);
        }

        .name-heading {
            width: 49%;
        }

        .price-heading {
            width: 12%;
        }

        .actions-heading {
            width: 38%;
        }

        .center {
            text-align: center;
        }
    }

    .form-wishlist-items {
        .products-grid {
            @include media($desktop-small) {
                border-bottom: 2px solid $clr-gallery;
            }
        }

        .product-items {
            @include padding(0);
            list-style-type: none;
        }

        .product-item {
            @include border-color($clr-alabaster);
            @include border-style(solid);
            @include border-width(4.5px 0);
            @include calc(width, '100% + 2*#{$default-indent}');
            @include clearfix;
            margin-left: -$default-indent;

            @include media($desktop-small) {
                border: 0;
                margin-left: 0;
                width: auto;
            }

            &:first-of-type {
                border-top-width: 9px;
            }

            &:last-of-type {
                border-bottom-width: 9px;
            }
        }

        .product-item-info {
            @include border-color($clr-gallery);
            @include border-style(solid);
            @include border-width(1px 0);
            @include clearfix;
            padding-top: 10px;

            @include media($desktop-small) {
                @include display(grid);
                @include display(-ms-grid);
                @include align-items(center);
                border: 0;
                -ms-grid-columns: 15% 35% 10% 40%;
                -ms-grid-rows: 50% 50%;
                grid-template-columns: 15% 35% 10% 40%;
                grid-template-rows: 50% 50%;
                justify-items: center;
            }

            > *:not(.product-item-inner):not(.product-item-photo),
            .stock {
                @include calc(width, '100% - #{$default-indent} - 100px');
                @include padding(null $default-indent);
                float: right;

                @include media($desktop-small) {
                    width: auto;
                }
            }
        }

        .product-item-photo,
        .price-box,
        .product-item-inner {
            @include media($desktop-small) {
                -ms-grid-row: 1;
                grid-row: 1/3;
                -ms-grid-row-align: center;
                -ms-grid-row-span: 2;
            }
        }

        .product-item-photo {
            @include media($desktop-small) {
                @include display(inline-block);
            }
        }

        .product-image-photo {
            @include size(100px);
            float: left;
            margin-left: $default-indent;

            @include media($desktop-small) {
                @include size(150px);
                -ms-grid-column: 1;
                margin-left: 0;
            }
        }

        .product-item-name,
        .product-item-tooltip {
            @include media($desktop-small) {
                -ms-grid-column-align: start;
                justify-self: start;
            }
        }

        .product-item-name {
            @include media($desktop-small) {
                align-self: end;
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                -ms-grid-row-align: end;
            }
        }

        .product-item-tooltip {
            @include media($desktop-small) {
                align-self: start;
                -ms-grid-column: 2;
                -ms-grid-row: 2;
                grid-row: 2;
                -ms-grid-row-align: start;
            }
        }

        .item-option-label,
        .product-item-link,
        .price-box {
            color: $clr-bluewood;
        }

        .item-options-content {
            @include clearfix;

            > * {
                float: left;
            }
        }

        .item-option-label {
            clear: both;
            padding-right: 10px;
            text-transform: uppercase;

            @include media($desktop-small) {
                clear: none;
            }
        }

        .item-option-value {
            @include margin(0);
            color: $clr-gunsmoke;
            min-width: 60px;
            padding-right: 20px;
        }

        .price-box {
            font-weight: bold;

            @include media($desktop-small) {
                -ms-grid-column: 3;
                text-align: center;
            }
        }

        .price-as-configured {
            @include margin(0);
        }

        .product-item-inner {
            clear: both;

            @include media($desktop-small) {
                @include display(grid);
                @include display(-ms-grid);
                @include align-items(center);
                -ms-grid-column: 4;
                -ms-grid-column-align: stretch;
                -ms-grid-columns: 50% 50%;
                grid-template-columns: auto 170px;
                justify-self: stretch;
            }

            .delete-text,
            .add-to-cart-text {
                @include display(inline-block);
                font-size: $f-size;
                margin-left: 5px;

                @include media($desktop-small) {
                    font-size: $f-size-xs;
                }
            }

            .delete-text {
                color: $clr-corduroy;
            }

            .add-to-cart-text.add {
                @include bp('max-width', $desktop-small - 1) {
                    color: $clr-pistachio;
                    font-weight: normal;
                    text-transform: none;
                }

                @include media($desktop-small) {
                    font-size: $f-size;
                }
            }
        }

        .box-tocart,
        .edit-delete-actions {
            border-top: 1px solid $clr-gallery;
            width: 50%;

            @include media($desktop-small) {
                border: 0;
                float: right;
                width: auto;
            }
        }

        .box-tocart {
            float: left;
            width: 50%;

            @include media($desktop-small) {
                -ms-grid-column: 2;
                -ms-grid-row-align: center;
                width: auto;
            }
        }

        .fieldset {
            @include margin(0);
            @include padding(0);
            border: 0;

            @include media($desktop-small) {
                float: right;
                min-width: 170px;
            }
        }

        .product-actions-wrapper {
            @include display(flex);
            @include align-items(center);

            @include media($desktop-small) {
                @include justify-content(space-around);
            }

            .product-item-actions {
                width: 100%;

                @include media($desktop-small) {
                    -ms-grid-column: 1;
                    width: auto;
                }
            }

            .tocart {
                @include margin(0);
                height: 55px;

                @include media($tablet) {
                    width: 100%;
                }

                @include media($desktop-small) {
                    height: 40px;
                }

                @include bp('max-width', $desktop-small - 1) {
                    @include background(none);
                }
            }

            .button-content-wrapper {
                @include bp('max-width', $desktop-small - 1) {
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(center);
                }
            }

            .add-cart-icon {
                @include media($desktop-small) {
                    @include display(none);
                }
            }

            .out-of-stock {
                @include background(none);
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                color: $clr-silver-chalice;
                min-width: 0;
                text-align: center;
                width: auto;

                @include media($desktop-small) {
                    min-width: 50px;
                }
            }
        }

        .field.qty {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            @include margin(0);
            float: left;
            height: 55px;
            max-width: none;

            @include media($desktop-small) {
                width: auto;
            }

            .label {
                @include padding(null 10px null 20px);
                color: $clr-bluewood;
                text-transform: uppercase;

                @include media($desktop-small) {
                    @include display(none);
                }
            }

            .plus-minus {
                @include display(flex);
                @include align-items(center);
            }

            .fa {
                color: $clr-silver-chalice;
            }

            .plus,
            .minus,
            .input-text {
                @include media($desktop-small) {
                    @include border-color($clr-gallery);
                    @include border-style(solid);
                }
            }

            .plus,
            .minus {
                @include padding(5px);
                cursor: pointer;

                @include media($desktop-small) {
                    @include background($clr-gallery);
                    @include border-width(1px);
                    @include padding(13px 7px 14px);
                }
            }

            .input-text {
                @include border-width(0);
                @include padding(null 0);
                font-weight: normal;
                height: 50px;
                text-align: center;
                width: auto;

                @include media($desktop-small) {
                    @include border-width(1px 0);
                    @include padding(null 8px);
                }
            }
        }

        .edit-delete-actions {
            float: right;

            @include media($desktop-small) {
                @include display(flex);
                @include justify-content(center);
            }

            .delete {
                @include border-color($clr-gallery);
                @include border-style(solid);
                @include border-width(0 0 0 1px);
                @include display(flex);
                @include align-items(center);
                @include justify-content(center);
                @include size(100% 55px);
                float: left;

                @include media($desktop-small) {
                    border: 0;
                    width: auto;
                }
            }

            .delete-icon {
                @include background-image(url('../images/delete.svg'));
                @include size(15px);
                background-size: 15px;
            }
        }
    }

    .actions-toolbar {
        @include media($tablet-medium) {
            @include display(flex);
            @include justify-content(space-between);
            padding-top: 20px;
        }

        .primary {
            @include order(1);
        }

        .tocart {
            float: right;
            margin-top: 0;

            @include media($tablet) {
                width: inherit;
            }
        }
    }
}
