<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @author       Aleksejs Baranovs <info@scandiweb.com>
 * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
?>
<?php
    $item = $block->getItem();
    $var = $block->getVarModel();
?>

<tr
    <?php echo $var->getHtmlAttribute('style', 'order_item_row_style', 'background-color: #ffffff;'); ?>
    <?php echo $var->getHtmlAttribute('bgcolor', 'order_item_row_bgcolor', '#ffffff'); ?>
    class="mteditor-bgcolor row-bg-color">
    <td colspan="6" height="5"></td>
</tr>
<tr
    <?php echo $var->getHtmlAttribute('style', 'order_item_row_style', 'background-color: #ffffff;'); ?>
    <?php echo $var->getHtmlAttribute('bgcolor', 'order_item_row_bgcolor', '#ffffff'); ?>
    class="mteditor-bgcolor row-bg-color">

    <td></td>
    <td align="<?php echo $block->isRTL() ? 'right' : 'left'; ?>" height="35">
        <?php if ($block->showImage()): ?>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="60px" valign="top"><img alt="<?php echo $block->escapeHtml($item->getName()) ?>" src="<?php echo $this->getItemImage($item);?>" width="100%"/> </td>
                <td width="5px"></td>
                <td>
        <?php endif; ?>
        <table cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; ">
            <tr>
                <td
                    <?php echo $var->getHtmlAttribute('style', 'order_item_name_text', 'color: #707582; font-size: 14px; height:25px!important'); ?>
                    height="25" colspan="2" class="mteditor-color table-row-color">
                    <b><?php echo $block->escapeHtml($item->getName()) ?></b>
                </td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <tr
                <?php echo $var->getHtmlAttribute('style', 'order_item_options', 'color: #707582; font-size: 15px; line-height: 20px'); ?>
                class="mteditor-color table-row-color">
                <td height="25"
                    <?php echo $var->getTextEditAttribute('order_item_options_sku_text_1');?>
                    <?php echo $var->getHtmlAttribute('style', 'order_item_options_sku', 'font-size: 14px; font-weight: bold'); ?> >
                    <?php echo $var->getValue('order_item_options_sku_text_1', __('Sku'));?>&nbsp;&nbsp;</td>
                <td style="font-size: 14px; "><?php echo $block->escapeHtml($block->getSku($item)) ?></td>
            </tr>
            <?php if ($block->getItemOptions()): ?>
                <?php foreach ($block->getItemOptions() as $option): ?>
                    <tr
                        <?php echo $var->getHtmlAttribute('style', 'order_item_options', 'color: #707582; font-size: 15px; line-height: 20px'); ?>
                        class="mteditor-color table-row-color">
                        <td height="25" style="font-size: 14px; font-weight: bold"><?php echo $option['label'] ?>&nbsp;&nbsp;</td>
                        <td style="font-size: 14px; "><?php echo nl2br($option['value']) ?></td>
                    </tr>
                <?php endforeach; ?>
                <tr>
                    <td colspan="2" height="3"></td>
                </tr>
            <?php endif; ?>
        </table>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?php echo $addInfoBlock->setItem($item)->toHtml(); ?>
        <?php endif; ?>

        <?php if ($block->showImage()): ?>
                    </td>
                </tr>
            </table>
    <?php endif; ?>
    </td>

    <td valign="top"
        <?php echo $var->getHtmlAttribute('style', 'order_item_name_text_qty', 'color: #707582; font-size: 14px; height:25px!important'); ?>
        class="mteditor-color table-row-color"
        align="center" height="35" >
        <?php echo $item->getQtyOrdered()*1 ?>
    </td>
    <td
        valign="top"
        <?php echo $var->getHtmlAttribute('style', 'order_item_name_text_subtotal', 'color: #707582; font-size: 14px; height:25px!important'); ?>
        class="mteditor-color table-row-color"
        align="<?php echo $block->isRTL()?'left':'right';?>"  height="35" >
        <?php echo $block->getItemRowPrice($item); ?>
    </td>
    <td></td>
</tr>

<?php if ($giftMessage = $block->getItemGiftMessage()): ?>
    <tr
        <?php echo $var->getHtmlAttribute('style', 'order_item_row_style', 'background-color: #ffffff;'); ?>
        <?php echo $var->getHtmlAttribute('bgcolor', 'order_item_row_bgcolor', '#ffffff'); ?>
        class="mteditor-bgcolor row-bg-color">
        <td colspan="6" >
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?php echo __('Gift Message') ?></h3>
                        <strong><?php echo __('From:'); ?></strong> <?php echo $block->escapeHtml($giftMessage->getSender()) ?>
                        <br /><strong><?php echo __('To:'); ?></strong> <?php echo $block->escapeHtml($giftMessage->getRecipient()) ?>
                        <br /><strong><?php echo __('Message:'); ?></strong>
                        <br /><?= $block->escapeHtml($giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<?php endif; ?>
<tr
    <?php echo $var->getHtmlAttribute('style', 'order_item_row_style', 'background-color: #ffffff;'); ?>
    <?php echo $var->getHtmlAttribute('bgcolor', 'order_item_row_bgcolor', '#ffffff'); ?>
    class="mteditor-bgcolor row-bg-color">
    <td colspan="6" height="5"></td>
</tr>