<!--
/**
 * @category    Scandiweb
 * @package     Kurufootwear/default
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->

<!-- ko foreach: getRegion('messages') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="shopping">
    <!-- ko if: isFormVisible -->
    <p><span data-bind="i18n: 'Email Address'"></span>: <span data-bind="text: getEmailAddress()"></span></p>
    <p class="track-message" data-bind="i18n: 'You can track your order status by creating an account.'"></p>
    <form method="post" data-bind="submit: createAccount" class="actions-toolbar account">
        <button type="submit" class="action primary blue-button" data-bind="disable: creationStarted">
            <!-- ko i18n: 'Create an account' --><!-- /ko -->
        </button>
    </form>
    <!-- /ko -->
    <!-- ko if: accountCreated -->
    <p data-bind="i18n: 'A letter with further instructions will be sent to your email.'"></p>
    <!-- /ko -->
    <div class="actions-toolbar continue">
        <div class="primary">
            <a class="continue-shopping-link" href="/">
                <button class="action primary secondary-button continue">
                    <!-- ko i18n: 'Continue Shopping' --><!-- /ko -->
                </button>
            </a>
        </div>
    </div>
</div>
