<!--
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Checkout
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <div class="ship-to">
        <div class="shipping-information-title">
            <span class="title" data-bind="i18n: 'Shipping details'"></span>
            <button class="action action-edit" data-bind="click: back">
                <span class="edit-icon"/>
                <span class="edit-text" data-bind="i18n: 'Edit'"></span>
            </button>
        </div>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
</div>
<!--/ko-->
