/**
 * Scandiweb_DraggableProducts
 *
 * @category    DraggableProducts
 * @package     Scandiweb_DraggableProducts
 * @author      Aleksandrs Vasilievs <aleksandrsv@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 */
@someMarginVariable: 10px;

.sw-drag-item {
    background: url("../img/drag.png");
    display: block;
    position: relative;
    background-size: 100%;
    z-index: 1;
    cursor: move;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    left: 3px;
    width: 21px;
    height: 21px;
}

.set-sortable-grid {
    background: url("../img/grid.png");
    display: block;
    width: 21px;
    height: 20px;
    background-size: 100%;
    z-index: 1;
    margin-left: auto;
    top: 5px;
    margin-right: 5px;
}

.admin__data-grid-header-row  .admin__control-support-text:nth-of-type(2) {
    position: relative;
}

.sortable {
    line-height: 35px;
    div {
        opacity: 0.6;
        cursor: pointer;
        float: left;
        position: relative;
        left: 0;
        margin-right: 5px;

        &.active {
            opacity: 1;
            cursor: default;
        }
    }
}

.admin__data-grid-wrap {
   padding-top: 0;
}

#catalog_category_products_table tr.hero td {
  background-color: #EB5202 !important;

  &.col-drag {
    display: none;
  }

  &.col-position {
    display: none;
  }
}

.drag-list {
    display: none;
    position: relative;
    right: 4px;

    .item {
        display: inline;
        width: calc(~"25% - "@someMarginVariable);
        width: -moz-calc(~"25% - "@someMarginVariable);
        width: -webkit-calc(~"25% - "@someMarginVariable);
        width: -o-calc(~"25% - "@someMarginVariable);
        float: left;
        border: 1px black;
        margin: 5px;
        border-style: solid;
        padding: 4px;
        font-size: 10px;
        position: relative;
        height: 154px;
        background: #FFFFFF;

        &.hero {
            background-color: #EB5202 !important;
            .info {
                .position, .admin__grid-control {
                    display: none !important;
                }
            }

            .drag {
                display: none;
            }
        }

        .drag {
            background: url("../img/grid.png");
            display: block;
            width: 35px;
            height: 25px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            cursor: move;
            background-size: cover;

        }

        h2 {
            font-size: 14px;
            height: 32px;
        }

        .info {
            width: ~"calc(100% - 55px)";
            padding-right: 5px;
            float: right;

            .admin__grid-control-value {
                display: none;
            }

            .admin__grid-control {
                display: inline;
                margin-left: 5px;
            }

            .position {
                display: inline;
            }
        }

        .data-grid-checkbox-cell-inner {
            float: left;
            margin-left: 0;
            padding-left: 0;
        }

        .input-text {
            border: 0;
            outline: none;
            pointer-events: none;
            width: 10px;
        }
    }
}