<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var $block \Scandiweb\Swatches\Block\Product\Renderer\Configurable */
?>
<div class="swatch-opt" data-role="swatch-options"></div>
<script>
    require(["jquery", "arrive", "jquery/ui", "Magento_Swatches/js/swatch-renderer"], function ($) {
        $('.swatch-opt').SwatchRenderer({
            "titleSuffix": "<?= $block->getTitleSuffix() ?>",
            "productId": <?= $block->getProduct()->getId(); ?>,
            "jsonConfigAjaxUrl": "<?= $block->getUrl('sw_swatches/json/get'); ?>",
            "jsonConfig": <?= $block->getJsonConfig(); ?>, // This is only used as a fallback if AJAX fails
            "jsonSwatchConfig": <?= $block->getJsonSwatchConfig(); ?>,
            "mediaCallback": "<?= $block->getMediaCallback() ?>",
            "gallerySwitchStrategy": "<?= $block->getVar('gallery_switch_strategy',
                'Magento_ConfigurableProduct') ?: 'replace'; ?>"
        });
    });
</script>