<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Swatches
 * @author       Aleksejs Baranovs <info@scandiweb.com>
 * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
 */

/** @var $block \Scandiweb\Swatches\Block\Product\Renderer\Configurable */
?>
<div class="swatch-opt" data-role="swatch-options"></div>
<script>
    require(["jquery", "arrive", "jquery/ui", "Magento_Swatches/js/swatch-renderer-new-pdp"], function ($) {
        $('.swatch-opt').SwatchRenderer({
            "titleSuffix": "<?= $block->getTitleSuffix() ?>",
            "productId": <?= $block->getProduct()->getId(); ?>,
            "jsonConfigAjaxUrl": "<?= $block->getUrl('sw_swatches/json/get'); ?>",
            "jsonConfig": <?= $block->getJsonConfig(); ?>, // This is only used as a fallback if AJAX fails
            "jsonSwatchConfig": <?= $block->getJsonSwatchConfig(); ?>,
            "mediaCallback": "<?= $block->getMediaCallback() ?>",
            "gallerySwitchStrategy": "<?= $block->getVar('gallery_switch_strategy',
                'Magento_ConfigurableProduct') ?: 'replace'; ?>"
        });
    });
</script>