<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/* @var $block \Kurufootwear\Rma\Block\Customer\Request\View\Actions */
?>
<?php
    $request = $block->getRequestModel();
?>
<div class="kf-rma-view-actions">
    <?php echo $block->getChildHtml('back') ?>
    <a id="aw-rma-print-label-button" class="action primary button blue-button" target="_blank"
            title="<?php echo __('Print Label') ?>" href="<?= $block->getShippingLabelUrl(); ?>">
        <span><?php echo __('Print Label') ?></span>
    </a>
</div>
