<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/* @var $block \Aheadworks\Rma\Block\BackLink */
?>
<button id="aw-rma-back-button" type="button" class="action secondary secondary-button" title="<?php echo $block->escapeHtml(__('Back')) ?>">
    <span><?php echo $block->escapeHtml(__('Back')) ?></span>
</button>
<script type="text/x-magento-init">
{
    "#aw-rma-back-button": {
        "awRmaButtonControl": {
            "newLocation": <?php echo \Zend_Json::encode($block->getBackUrl()) ?>
        }
    }
}
</script>