<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Braintree
 * @author       Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/**
 * @var \Magento\Braintree\Block\Paypal\Button $block
 */

$id = $block->getContainerId() . mt_rand();

$config = [
    'Magento_Braintree/js/paypal/button' => [
        'id' => $id,
        'clientToken' => $block->getClientToken(),
        'displayName' => $block->getMerchantName(),
        'actionSuccess' => $block->getActionSuccess()
    ]
];

?>
<div data-mage-init='<?php /* @noEscape */ echo json_encode($config); ?>'
     class="paypal checkout paypal-logo braintree-paypal-logo<?php
     /* @noEscape */ echo $block->getContainerId(); ?>-container">
    <div class="paypal-info-tooltip field-tooltip-content tooltip-toggle" data-target="dropdown" aria-hidden="true"
         option-label="<?= __('Are you a PayPal customer? Pay now with address and payment details stored in your PayPal account.'); ?>">
        <img class="info-tooltip-icon"
             src="<?php echo $block->getViewFileUrl('images/info-icon.svg'); ?>"
             alt="Pay with PayPal"/>
    </div>
    <button data-currency="<?php /* @noEscape */ echo $block->getCurrency(); ?>"
            data-locale="<?php /* @noEscape */ echo $block->getLocale(); ?>"
            data-amount="<?php /* @noEscape */ echo $block->getAmount(); ?>"
            id="<?php /* @noEscape */ echo $id; ?>"
            class="action-braintree-paypal-logo secondary-button" disabled>
        <div class="braintree-paypal-button-hidden clickable"></div>
        <span class="braintree-info"><?php echo _('Pay with PayPal') ?></span>
        <img class="braintree-paypal-button-logo"
             src="<?php echo $block->getViewFileUrl('images/paypal-icon.svg'); ?>"
             alt="Pay with PayPal"/>
    </button>
</div>
