.aw_bold {
  font-weight: bold;
}
.aw-no-display {
  display: none;
}
.aw-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  padding: 0;
  text-align: center;
}
.aw-container .aw-column {
  display: inline-block;
  flex-direction: column;
  width: 100%;
  float: left;
  text-align: left;
}
.aw-container.columns-to-center {
  justify-content: center;
}
.aw-page-container {
  margin-top: 6rem;
  text-align: justify;
}
.aw-columns-1 .aw-column {
  width: 50%;
  float: none !important;
}
.aw-columns-2 .aw-column {
  width: 45%;
  margin: 0;
}
.aw-columns-3 .aw-column {
  width: 25%;
  margin: 0 2%;
}
.article-list {
  display: inline-block;
  margin-bottom: 50px;
  text-align: left;
}
.article-list .category-name .category-icon {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
}
.article-list .category-name a {
  line-height: 2.5rem;
  padding-left: 4rem;
  color: #333333;
}
.article-list ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 0;
}
.article-list ul li a {
  color: #333333;
}
.article-list ul li.image-item {
  padding-left: 4rem;
  background-repeat: no-repeat !important;
  background-size: 2rem !important;
}
.article-list ul.aw-list-style li:before {
  display: inline-block;
  content: '';
}
.article-list .more-articles-link {
  padding-left: 4rem;
  color: #497dce;
}
#aw-faq__helpfulness {
  margin-top: 4rem;
}
#aw__helpfulness-voting {
  padding: 0 1rem;
}
#aw__helpfulness-voting a {
  text-decoration: underline;
}
#aw__helpfulness-voting a:hover {
  cursor: pointer;
}
.faq-index-index .page-title-wrapper {
  display: block;
}
.aw-faq-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aw-faq-search form button[type="submit"] {
  margin-left: 1%;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search-results .results-list {
  text-align: left;
}
.search-results .results-list h3 {
  font-weight: normal;
  color: #888;
}
.search-results .results-list.article-list ul li {
  padding-left: 0;
}
@media screen and (max-width: 750px) {
  .aw-columns-1 .aw-column,
  .aw-columns-2 .aw-column,
  .aw-columns-3 .aw-column {
    width: 100%;
  }
  .aw-faq-search form {
    display: inline-block;
    width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .aw-faq-search form #aw-faq-search-field {
    clear: both;
  }
  .aw-faq-search form button[type="submit"] {
    margin-left: 0;
    margin-top: 2%;
  }
}
