<?php
/**
 * @vendor Scandiweb
 * @module Scandiweb_SizeChart
 * @author Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Magento. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * @var $block Scandiweb\SizeChart\Block\SizeChartButton
 */
?>
<?php if ($block->getSizeChartAttribute()): ?>
    <div class="product-size-guide">
        <a href="#" class="size-guide blue" data-link="<?php echo $block->getSizeChartLink()?>">
            <span>Size Guide</span>
        </a>
    </div>
    <script type="text/x-magento-init">
        {
            ".size-guide": {
                "sizeGuide": {}
            }
        }
    </script>
<?php endif; ?>
