<?php
/**
 * @vendor Scandiweb
 * @module Scandiweb_SizeChart
 * @author Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Magento. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * @var $block Scandiweb\SizeChart\Block\SizeChart
 */
?>
<div class="product-size-guide">
    <div class="size-guide-dialog">
        <?php echo $block->getSizeChartBlock(); ?>
    </div>
</div>
