<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Update Bag'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart update">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
            <div class="field qty">
                <label class="label" for="qty">
                    <span><?php echo __('Qty:') ?></span>
                </label>
                <div class="empty-space"></div>
                <div class="control qty plus-minus">
                    <div class="minus" onclick=""><i class="fa fa-minus"></i></div>
                    <input type="text"
                           pattern="\d*"
                           size="4"
                           name="qty"
                           id="qty"
                           maxlength="12"
                           value="<?php echo $block->getProductDefaultQty() * 1 ?>"
                           title="<?php echo __('Qty') ?>"
                           class="input-text qty qty-input"
                           data-validate="{'required-number':true, digits:true, 'validate-greater-than-zero':true}"/>
                    <div class="plus" onclick=""><i class="fa fa-plus"></i></div>
                </div>
            </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?php echo $buttonTitle ?>"
                        class="action primary tocart green-button"
                        id="product-updatecart-button">
                    <span><?php echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "validation": {},
                "addToCart": {
                    "cartButtonId": "#product-updatecart-button",
                    "cartForm": "#product_addtocart_form"
                }
            }
        }
    </script>
<?php endif; ?>
