// Bourbon
@import '../scss/vendor/bourbon/bourbon';

// Neat
@import '../scss/vendor/neat/neat';

// Font Awesome
@import '../scss/vendor/font-awesome/font-awesome';

// Common
@import '../scss/common/common';

// Variables
@import '../scss/common/variables';

// Default header
@import '../scss/components/header';

body {
    @include margin(0);
}

.maintenance-page {
    @include background(linear-gradient(180deg, $clr-transparent 0%, $clr-alto-four 100%));
    min-height: 100vh;
    text-align: center;

    .header {
        @include background($clr-white);
        @include position(relative);
        max-height: 68px;
        overflow: hidden;
        text-align: center;
        width: 100%;

        @include media($desktop-small) {
            @include align-items(center);
            @include justify-content(space-between);
        }

        .header-top {
            @include display(inline-block);
            @include padding(null 0);
            float: none;
            width: auto;

            @include media($desktop-small) {
                @include padding(null $default-indent);
            }

            .logo {
                @include margin(null 0);
            }
        }

        .header-right {
            @include position(absolute, 20px 0 null null);

            @include media($desktop-small) {
                @include position(relative);
                padding-right: $default-indent;
                top: 0;
            }

            .phone-icon {
                @include display(inline-block);
            }

            .phone-icon-image::before {
                @include background-image(url('../images/phone-checkout.svg'));
                @include display(inline-block);
                @include size(28px);
                content: '';
                margin-right: 20px;
            }

            .call-text {
                @include display(none);

                @include media($desktop-small) {
                    @include display(inline-block);
                    line-height: 18px;
                    text-align: left;
                }
            }

            .speak-text {
                text-transform: uppercase;
            }
        }
    }

    .main-part {
        @include padding(null $default-indent);
        overflow-x: hidden;

        @include media($tablet-medium) {
            @include margin(null auto);
            @include padding(40px null);
            max-width: 1150px;
        }
    }

    .logo-image {
        @include padding($default-indent 0);

        img {
            width: 110px;
        }
    }

    .maintenance-title {
        @include margin(0);
        color: $clr-picton-blue;
        font-family: $montserrat;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 96px;

        @include media($tablet-medium) {
            @include margin(150px null 20px);
            font-size: 40px;
            float: left;
        }

        @include media($desktop) {
            font-size: 52px;
        }
    }

    .error-image {
        @include padding($default-indent);

        @include media($tablet-medium) {
            float: right;
        }

        img {
            height: auto;
            max-width: 100%;

            @include media($tablet-medium) {
                max-width: 500px;
            }

            @include media($desktop-small) {
                max-width: 100%;
            }
        }
    }

    .error-text {
        padding-bottom: $default-indent;

        @include media($tablet-medium) {
            float: left;
            text-align: left;
        }
    }

    .maintenance-info {
        @include margin(0);
        font-size: $f-size;
        font-weight: normal;
    }

    .back-link {
        @include display(block);
        font-weight: 400;
        padding-top: 40px;
    }

    .kuru-chat-container {
        @include display(none);
    }

    .social-links {
        @include margin(10px null);

        .fa {
            @include margin(null 20px null null);
            font-size: 22px;

            @include media($mobile-medium) {
                font-size: 32px;
            }
        }
    }
}
