<?php
/**
 * @vendor Kurufootwear
 * @module Magento_LayeredNavigation
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/**
 * Category layered navigation
 * @var $block \Kurufootwear\Shopby\Block\Navigation
 */

use Amasty\Shopby\Model\Layer\Filter\Category;

$filtered = count($block->getLayer()->getState()->getFilters());
$_checkAgent = $this->helper('Kurufootwear\Shopby\Helper\Detect');
$_filterStatus = $block->getLayer()->getState()->getFilters();
$firstRender = false;
?>
<?php if ($block->canShowBlock()): ?>
    <div class="block filter" id="layered-filter-block" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": true, "animate": 250
        <?php if ($_filterStatus): ?>
            <?php if (!$_checkAgent->isMobile() || $_checkAgent->isTablet()): ?>
                <?= ', "active": [0]'; ?>
            <?php else: ?>
                <?= ', "active": false'; ?>
            <?php endif; ?>
        <?php endif; ?>}}'>

        <div class="block-title filter-title" data-role="title" data-count="<?= $filtered; ?>">
            <span><?= __('Filter products') ?></span>
        </div>
        <div class="block-content filter-content <?= $_filterStatus ? 'active' : '' ?>" data-role="collapsible">
            <?php $wrapOptions = false; ?>
            <div class="filter-options" id="narrow-by-list" data-role="content"
                 data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": true, "animate": 250}}'>
                <div data-role="collapsible" class="filter-options-item category">
                    <div data-role="title" class="filter-options-title">
                        <?= __('Category') ?>
                    </div>
                    <div data-role="content" class="filter-options-content">
                        <?php echo $this->getLayout()->createBlock(\Kurufootwear\Catalog\Block\CategoryList::class)->setTemplate('Kurufootwear_Catalog::category.phtml')->toHtml(); ?>
                    </div>
                </div>
                <?php foreach ($block->getFilters() as $filter): ?>
                    <?php if ($filter->getItemsCount()): ?>
                        <?php if (!$wrapOptions): ?>
                            <?php $wrapOptions = true; endif; ?>
                        <?php $filterCode = str_replace(" ", "-", strtolower($filter->getName())); ?>
                        <?php if (!$filter instanceof Category): ?>
                            <div data-role="collapsible" class="filter-options-item <?= $filterCode ?>">
                                <div data-role="title" class="filter-options-title">
                                    <?= __($filter->getName()) ?>
                                </div>
                                <div data-role="content" class="filter-options-content">
                                    <?= $block->getChildBlock('renderer')->render($filter); ?>
                                </div>
                            </div>
                        <?php endif; ?>

                    <?php endif; ?>
                <?php endforeach; ?>
                <?php if ($wrapOptions): ?>
            </div>
        <?php else: ?>
            <script>
                require([
                    'jquery'
                ], function ($) {
                    $('#layered-filter-block').addClass('filter-no-options');
                });
            </script>
            <?php endif; ?>
        </div>

        <div class="state-filter-background">
            <div class="state-filters-wrapper">
                <?= $block->getChildHtml('state') ?>

                <?php if ($block->getLayer()->getState()->getFilters()): ?>
                    <div class="block-actions filter-actions">
                        <a href="<?= $block->getClearUrl() ?>" class="button action clear filter-clear">
                            <span class="button-text">
                                <?= __('Reset Filters') ?>
                            </span>
                        </a>
                    </div>
                <?php endif; ?>

                <div class="product-items-amount">
                    <span>
                        <?php echo $productCollectionSize = $block->getLayer()->getProductCollection()->getSize(); ?>
                        <?php if ($productCollectionSize == 1): ?>
                            <?php echo __(' item'); ?>
                        <?php else: ?>
                            <?php echo __(' items'); ?>
                        <?php endif; ?>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/x-magento-init">
        {
            "*": {
                "Kurufootwear_Shopby/js/functions": {}
            }
        }

        </script>
    </div>
<?php endif; ?>
