<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
RMA {{var request.getTextId()}} has been canceled by customer

<h3>RMA details</h3>

<p>ID: {{var request.getTextId()}}<br />
    Order ID: #<a href="{{var request.getNotifyOrderAdminLink()}}">#{{var request.getOrderId()}}</a>.<br />
    Customer: {{var request.getCustomerName()}} <{{var request.getCustomerEmail()}}><br />
    Date: {{var request.getCreatedAt()}}
    Request Type: {{var request.getRequestTypeName()}}<br />
    Package Opened: {{var request.getPackageOpenedLabel()}}</p>
<p>Items<br />
    {{layout handle="awrma_email_request_item" rma_request=$request}}</p>