<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
<p>We have received your <strong>{{var request.getRequestTypeName()}}</strong> request. If you requested a label be emailed to you, please find it attached.</p>

<p>Your request has been assigned RMA (Return Merchandise Authorization)  {{var request.getTextId()}}. </p>

<br>

<p>To view <strong>next steps</strong> to process your {{var request.getRequestTypeName()}} request, visit <a href="{{var request.getUrl()}}"><strong>your account</strong></a>. Please remember shoes must be in original (new) condition to be returned or exchanged.</p>

<br>

<p>
    Questions about Returns and Exchanges? Please visit our <a href="http://www.kurufootwear.com/customer-service/returns-and-exchanges.html">Exchanges and Returns Policy</a> or email a KURU GURU at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">customers@kurufootwear.com</a>
</p>