<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
Your return item/s for RMA (Return Merchandise Authorization) {{var request.getTextId()}} were received and approved for refund.
<br /><br />
A refund will soon be applied as a credit to your credit card, and you will be notified of this refund via email. Please note that depending on your credit card company, it may take an additional 2-10 business days for this refund to appear on your account.
<br /><br />
