<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
We're sorry to hear your Kuru shoes aren’t living up to expectations. We strive to bring you the best products available, but sometimes a rogue pair slips through our strict quality control and onto your feet. We stand behind our products, and would be happy to send you a replacement pair should this issue qualify for warranty replacement.
<p>Following are the steps to process your warranty request:<br><br>
    <strong>STEP 1: SUBMIT PHOTOS OF THE PRODUCT DEFECT</strong><br>
    Please submit digital images of the product defect. To do so, log in to your account (find a link below) and find the RMA {{var request.getTextId()}} request. Once there, you will be able to attach files and upload them. Alternatively, you can email your photos to warranty@kurufootwear.com. Please use "Warranty RMA {{var request.getTextId()}}" as the subject line when emailing your photos.<br><br>
    <strong>STEP 2: WE REVIEW</strong><br>
    Once we receive the photos, we'll review them to determine if the product qualifies for warranty replacement.<br><br>
    <strong>STEP 3: SHIP THE DEFECTIVE ITEM BACK</strong><br>
    We may request that you mail the actual product back to us in order to complete the warranty process. Once we determine the product is eligible for warranty replacement, we'll repair the item or issue a warranty replacement.<br>
</p>

Please note that we do not offer refunds as part of our warranty program. For full details about our <a href="www.kurufootwear.com/customer-service/warranty.html">Warranty Policy</a>, please visit www.kurufootwear.com/customer-service/warranty.html
<br><br>
We got your back.