<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
Your RMA {{var request.getTextId()}} has been successfully resolved with status "{{var request.getStatusName()}}".

<!-- [ header starts here] -->
<tr>
    <td valign="middle"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
</tr>
<!-- [ middle starts here] -->