<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
<p>We have reviewed the photos you sent of your defective shoes and it looks like they qualify for warranty repair or replacement. Your Warranty RMA Number is: {{var request.getTextId()}}
</p>
<p>You are <strong>two</strong> easy steps away from getting your warranty request processed:<br><br>
    <strong>STEP 1: PACKAGE YOUR DEFECTIVE PAIR</strong><br>
    Return your defective shoes in any suitable cardboard shipping box. Remove all pre-existing labels and markings from the box.
    <BR><BR>
    <strong>STEP 2: SHIP YOUR DEFECTIVE SHOES</strong><br>
    Prominently write your RMA number on the outside of the shipping packaging. Please use your preferred shipping method to return your defective items to us. We suggest using a shipping service with tracking*.
</p>
<p>Mail your package to the following address:</p>
KURU: WARRANTY<br>
RMA {{var request.getTextId()}}<br>
4390 S. Century Dr.<br>
Salt Lake City, UT 84123
<br><br>
Once we receive your shipment, we will inspect the product and either repair the defect, or replace the product with the same item. Or, if we no longer have the same item, we will allow you to choose a similar, in-stock product for replacement. Please understand that we do not offer refunds as part of our warranty program.
<br><br>
We got your back.
<br><br>
*Kuru is not responsible for lost or misdirected shipments. For all the details about our warranty program, read our <a href="http://www.kurufootwear.com/customer-service/warranty.html">100% Warranty Policy</a> at http://www.kurufootwear.com/customer-service/warranty.html

{{depend request.getConfirmShippingIsRequired()}}<p>Once you have shipped your item/s back to us, login to your account and notify us by pressing the "Confirm Return Shipment" button in the upper right of your RMA request.</p>{{/depend}}
