<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
<p>We received your RMA request. Unfortunately, the order (or items within your order) for which you requested an RMA is not eligible for return or exchange. This may be due to one or more of the following:
</p>
<p><ul>
    <li>The original order date is older than the allotted time to process an exchange or return per our <a href="http://www.kurufootwear.com/customer-service/returns-and-exchanges.html">Exchange and Return Policy</a></li>
    <li>One or more of the items you requested for return were purchased as an All Sales Final promotion and are not eligible for exchange or return</li>
    <li>This order was an exchange processed for a previous order. Please understand that the eligibility for FREE exchanges starts from the order date of the first original order, and does not renew on subsequent exchange orders.</li>
</ul></p>
Should you have any questions or comments, you can send us an email at customers@kurufootwear.com. Please use "RMA {{var request.getTextId()}}" in the subject line when sending us an email so we can better respond.
