<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
<p>We received your RMA request. You indicated that the item(s) being returned cannot be sold as new. Unfortunately, as stated in our <a href="http://www.kurufootwear.com/customer-service/returns-and-exchanges.html">Exchange and Return Policy</a>, shoes that cannot be sold as new are unable to be returned or exchanged.
    <br><br>
    Should you have any questions or comments, you can send us an email at customers@kurufootwear.com. Please use "RMA {{var request.getTextId()}}" in the subject line when sending us an email so we can better respond.
    <br><br>
