<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
We have received your exchange items for RMA {{var request.getTextId()}}.
<br><br>
Please be aware that we need to collect an additional amount from you.  This can be because the item you are requesting for exchange is at a higher price than the item you returned, or because there is additional cost for shipping to an international address. In order to process your exchange, we need to charge your credit card for the extra amount.
<br><br>
Our website does not keep your credit card information on file.   This is done for your security and privacy.  So when you have a moment, please call us Toll-Free at 877-211-5878 (M-F 9-5pm MST) so we can process your credit card for the extra amount.
<br><br>
When calling, please reference RMA {{var request.getTextId()}}.
<br>
