<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
We have determined that Warranty RMA {{var request.getTextId()}} qualifies for warranty replacement. We will process your warranty request and either repair your shoes (if applicable) or mail out a warranty replacement pair shortly.
<br><br>
We've got your back!
<br><br>
RMA  {{var request.getTextId()}} status has been changed to: "{{var request.getStatusName()}}".

