<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
<p>We received your return for RMA {{var request.getTextId()}}. Unfortunately, the shoes we received are not in new condition. Our <a href="http://www.kurufootwear.com/customer-service/returns-and-exchanges.html">Exchange and Return Policy</a> clearly states that shoes that cannot be sold as new are unable to be returned or exchanged.
    <br><br>
    As a result, we will be sending the shoes back to you.
    <br><br>
    Should you have any questions, you can send us an email at customers@kurufootwear.com. Please use "RMA {{var request.getTextId()}}" in the subject line when sending us an email so we can better respond.
