<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
We received your item/s for exchange and have issued in-store credit to your account (in the form of KURU Rewards Points). You can now order your exchange pair with the KURU Rewards Points.
<br /><br />
<strong>Here's how to process your exchange order:</strong>
<br /><br />
<strong>1. </strong> <a href="https://www.kurufootwear.com/customer/account/login">Login to your account</a>
<br /><br />
<strong>2. </strong>Begin shopping and add your exchange item/s to your cart
<br /><br />
<strong>3. </strong><a href="http://www.kurufootwear.com/checkout/cart">View your Cart</a> and apply the KURU Rewards Points to pay for your order.
<br /><br />
<strong>4. </strong>Checkout and enjoy your new pair of KURU shoes!
<br /><br />
If you have any questions or need help with your exchange, please email a KURU GURU at customers@kurufootwear.com or call us toll-free at 877-211-5878 (available M-F, 9-5pm, MST).