<!--@subject Kuru Footwear RMA {{var request.getTextId()}} @-->
<p>We have uploaded your return shipping label for you to use with your EXCHANGE. Please login to your account to download and print the label.
</p>
<a href="{{var request.getUrl()}}">CLICK HERE TO ACCESS AND PRINT YOUR PREPAID SHIPPING LABEL</a>
<br>
<p>HOW TO GET YOUR LABEL: Log in to your account, click on "Returns and Exchanges" in the left menu and then "View Request" for this RMA. Your label will be a downloadable .pdf link in the Comments. Due to varying international postage rules and regulations, we are unable to provide a shipping label for International and APO/FPO orders.)</p>
<br>
<p>It's as easy as <strong>1-2-3</strong> to process your exchange:
    <br>
    <br>
    <strong>STEP 1: SHOES IN ORIGINAL CONDITION</strong>
    <br>
    Only shoes that can be sold as new can be returned. Shoes with dirt markings, food residue, pet hair, or other signs of use cannot be exchanged.
    <br>
    <br>
    <strong>STEP 2: SUITABLE SHIPPING BOX</strong>
    <br>
    Package your shoes in the original or similar shipping box. Include any paperwork that came with the shoes. Please do not use the shoe box as a shipping box.
    <br><br>
    <strong>STEP 3: SHIP YOUR ORDER BACK TO US</strong>
    <br>
    Prominently write your RMA number on the return shipping label. Login to your account and access this RMA to download and print the prepaid shipping label.
    <br>

<p><a href="{{var request.getUrl()}}">CLICK HERE TO ACCESS AND PRINT YOUR PREPAID SHIPPING LABEL</a> (Log in to your account and click on "Returns and Exchanges" on the left navigation. Click on your RMA "View Request" on the right, scroll down on the page that is opened to the blue .pdf link named RMA{{var request.getTextId()}}EX.pdf, open as a 'PDF' and then select 'Print').</p>

<p>Once labeled, drop your package off at the nearest {{shipplabel}} Store (DO NOT USE A {{shipplabel}} DROP BOX). </p>
</p>
<p>Mail your exchange to the following address:</p>
KURU: EXCHANGES<br>
RMA {{var request.getTextId()}}<br>
4416 S. Century Dr.<br>
Salt Lake City, UT 84123
<br><br>
<p>Once we receive your shoes and have approved them for exchange,  we will issue in-store credit in the form of KURU Rewards points for you to use when ordering your exchange pair.  All you have to do is login to your account to access your KURU Rewards points, and when you are ready to make a purchase, select how many Rewards Points to apply towards your purchase in your shopping cart.  It's that simple!  <br><br>

    ---------------------------------
    KURU is not responsible for lost or misdirected shipments. For more information, read our <a href="http://www.kurufootwear.com/customer-service/returns-and-exchanges.html">Exchange and Return Policy</a> at http://www.kurufootwear.com/customer-service/returns-and-exchanges.html

    This email is for exchange RMA: {{var request.getTextId()}}