// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.promo-blocks {
    .promo-block-list {
        @include outer-container($max-width);
        @include padding(null 20px);

        @include media($desktop-small) {
            @include display(flex);
        }
    }

    .promo-list-item {
        @include margin(0 null 5px);
        @include span-columns(12);
        background-color: $clr-cards;

        @include media($desktop-small) {
            @include margin(0 5px null null);
        }
    }

    .promo-block {
        @include margin(0);
        @include padding(15px);
        height: 100%;
        text-align: left;
        width: 100%;

        &::before {
            @include arrow(right, 12px, 1px, $clr-card-caret);
            @include position(absolute);
            content: '';
            right: 20px;
            top: 47%;
        }
    }

    .promo-header,
    .promo-message {
        color: $clr-card-text;
        font-family: $montserrat;
        font-size: $f-size;
        font-weight: bold;
        text-align: inherit;
        width: 100%;

        p {
            @include margin(0);
        }
    }

    .promo-header {
        @include padding(5px null);
        text-transform: uppercase;
    }

    .promo-message {
        font-family: $source-sans-pro;
        font-weight: normal;
        text-transform: none;
    }
}
