// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.block-product-slider,
.related {
    @include media($mobile-medium-l) {
        @include padding(null 15px null 20px);
    }

    @include media($desktop) {
        @include margin(null auto);
        max-width: $max-width;
    }

    .slick-track {
        @include margin(null auto);
    }

    .slick-slider,
    .list {
        @include display(none);
    }

    .slick-initialized {
        @include display(block);
        max-width: inherit;

        &:hover {
            .slick-arrow {
                @include margin(0);
                @include transition(background 450ms ease-in);
                background-color: $clr-picton-blue;
            }

            .slick-next::before {
                @include arrow(right, 10px, 1px, $clr-white);
            }

            .slick-prev::before {
                @include arrow(left, 10px, 1px, $clr-white);
            }
        }

        .slick-arrow {
            @include margin(0);
            @include transition(background 450ms ease-out);
            background-color: transparent;
            height: 100%;
            min-width: inherit;
            opacity: .45;
            width: 16px;
            z-index: 1;

            @include media(1500px) {
                width: 30px;
            }

            &::before {
                @include position(absolute);
                content: '';
                top: 48%;
            }
        }

        .slick-prev {
            left: -21px;

            @include media(1500px) {
                left: -34px;
            }

            &::before {
                right: 0;

                @include media(1500px) {
                    right: 8px;
                }
            }
        }

        .slick-next {
            right: -17px;

            @include media(1500px) {
                right: -30px;
            }

            &::before {
                left: 0;

                @include media(1500px) {
                    left: 8px;
                }
            }
        }
    }

    .list span {
        max-width: inherit;
        width: inherit;

        @include media($tablet) {
            float: inherit;
        }
    }

    .yotpo-bottomline span {
        @include media($tablet) {
            float: left;
        }
    }

    .block-title {
        @include padding(15px);
        font-family: $montserrat;
        font-size: $f-size-10xl;
        text-align: center;
        text-transform: uppercase;
    }

    .product-item-name {
        color: $clr-ebony-clay;
        font-family: $montserrat;
        font-size: $f-size;
        font-weight: bold;

        .item-name,
        .item-category {
            @include display(inline-block);
        }

        .item-name {
            text-transform: uppercase;
        }
    }

    .product-item-link {
        @include display(block);
    }

    .product-item-color-wrapper {
        @include margin(3px 0);
    }

    .product-color {
        font-family: $source-sans-pro;
        font-size: $f-size-xs;
    }

    .product-item {
        background-color: $clr-grey-white;
    }

    .product-item-details {
        @include margin(16px 5px 2px);
        min-height: 42px;
    }

    .product-item-photo {
        @include display(flex);
        @include flex-direction(row);
        align-items: center;
        justify-content: center;
    }

    .product-image-wrapper {
        @include padding(0 null);
    }

    .standalone-bottomline {
        @include margin(10px);
        float: right;
    }

    .slick-slide {
        @include display(flex);
        @include flex-direction(column);
        @include flex(1 100%);
        @include padding(0 5px);
        @include position(relative);
        @include margin(null 5px null null);
        height: $slider-height-hp;
        min-height: 265px;

        img {
            height: auto;
            max-height: 250px;
            max-width: 250px;
            width: 100%;
        }
    }

    .slick-arrow {
        &::before {
            content: '';
        }
    }
}

.related {
    @include margin(10px null);

    .slick-initialized {
        max-width: 100%;

        .slick-slide {
            @include display(block !important);
        }

        .product-item-link {
            color: $clr-ebony-clay;
            font-family: $source-sans-pro;
            font-size: $f-size-s;
            font-weight: 600;
        }
    }
}

.block-product-slider {
    min-height: 265px;

    .slick-track {
        @include display(flex);
        @include align-items(stretch);
    }

    .block-title {
        @include padding(0 null 20px);
    }

    .yotpo.bottomLine {
        @include display(block);
        min-height: 38px;
    }
}
