<!--
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_SubscribeAtCheckout
 * @author Kristaps Stalidzans <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->
<!-- ko if: visible -->
<div class="field">
    <div class="control">
        <!-- ko if: changeable -->
        <input class="input-text-field"
               type="checkbox"
               data-bind="
                                    textInput: 1,
                                    checked: checked"
               name="newsletter-subscribe"
               id="newsletter-subscribe" />
        <label class="label" for="newsletter-subscribe">
            <span data-bind="i18n: checkoutLabel"></span>
        </label>
        <!-- /ko -->
        <!-- ko ifnot: changeable -->
        <input type="checkbox"
               id="newsletter-subscribe-disabled"
               disabled="disabled"
               checked="checked"/>
        <label class="label" for="newsletter-subscribe-disabled">
            <span data-bind="i18n: checkoutLabel"></span>
        </label>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
