<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Yotpo
 * @author       Aleksejs Baranovs <info@scandiweb.com>
 * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
?>

<?php if ($this->isRenderWidget()): ?>
    <div class="review block-title title">
        <strong id="block-review-heading"><?php echo __('Customer Reviews') ?></strong>
    </div>
	<div class="yotpo yotpo-main-widget"
		 data-product-id="<?php echo $this->getProductId() ?>"
		 data-name="<?php echo $this->getProductName() ?>"
		 data-description="<?php echo $this->getProductDescription() ?>"
		 data-url="<?php echo $this->getProductUrl() ?>"
		 data-image-url="<?php echo $this->getProductImageUrl() ?>">
    </div>
<?php endif; ?>