<?php
/**
 * @category    Scandiweb
 * @package     Kurufootwear/Customer
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/** @var $block \Kurufootwear\Framework\View\Element\Html\Links */
?>
<div class="block account-nav">
    <div class="title">
        <strong><?php /* @escapeNotVerified */ echo __('My Account'); ?></strong>
    </div>
    <div class="content">
        <nav class="account-nav">
            <ul class="nav items">
                <?php echo $block->getChildHtml();?>
            </ul>
        </nav>
    </div>
    <div class="mobile-content">
        <nav class="account-nav">
            <select name="nav-mobile items" onChange="window.document.location.href=this.options[this.selectedIndex].value;" title="mobile-nav">
                <?php foreach($block->getLinks() as $link): ?>
                    <option class="link" <?php echo $link->isCurrent() ? "selected='selected'" : '' ?> value="<?php echo $link->getHref() ?>"><?php echo $link->getLabel() ?></option>
                <?php endforeach; ?>
            </select>
        </nav>
    </div>
</div>
