<?php
/**
 * @category    Scandiweb
 * @package     Kurufootwear/Customer
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>

<div class="separator-line">
    <div class="separator-line-before"></div>
    <div class="separator-text">OR</div>
    <div class="separator-line-after"></div>
</div>
