<!--
/**
 * @vendor      Kurufootwear
 * @module      Mirasvit_Rewards
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Magento. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
 -->
<!--@subject {{var customer.name}} invites you to {{var store.getFrontendName()}} @-->

{{template config_path="design/email/header_template"}}

<p>Dear {{var name}},<br><br></p>

<p>I love KURU and they are letting me send some friends the equivalent of $10 in-store credit to be used at their store.
    To get this in-store credit, simply create an account by clicking this link <a href="{{var invitation_url}}">{{var store.getFrontendName()}}</a> and then clicking on
    "Register/Login" in the upper right. As long as you create an account via that link, the Reward Points will be issued and allow you to get a discount on your first order! <br></p>
<p>{{var customer.name}}</p>

<p>P.S. This is a great deal.
    {{depend message}}
    {{var message|text}} <br>
    {{/depend}}
</p>

<p>This email was sent by {{var customer.name}} {{var customer.email}} </p>


{{template config_path="design/email/footer_template"}}
