<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Zopim
 * @author      Aleksejs Baranovs <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/* Initialize zopim chat */
/** @var \Kurufootwear\Zopim\Block\Chat  $block */
?>
<?php if ($block->isEnabled()): ?>
    <script type="text/javascript">
        window.zESettings = {
            webWidget: {
                contactOptions: {
                    enabled: true
                }
            }
        };
    </script>
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=d32853c5-bd20-4dcb-81d0-57805a977033"> </script>
    <script type="text/x-magento-init">
        {
            "*": {
                "Kurufootwear_Zopim/js/kuru_chat": {
                    "helpBarOfflineText": "<?php echo $block->getHelpBarOfflineText() ?>",
                    "helpBarOnlineText": "<?php echo $block->getHelpBarOnlineText() ?>"
                }
            }
        }
    </script>
<?php endif; ?>