<!--
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Checkout
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<!-- ko if: quoteIsVirtual == 0 -->
<!-- ko if: isBothPricesDisplayed() -->
<tr class="totals shipping excl">
    <th class="mark" scope="row">
        <span class="label">
            <!-- ko i18n: 'Shipping & Handling' --><!-- /ko -->
        </span>
    </th>
    <td class="amount">
        <!-- ko if: isCalculated() -->
        <span class="price"
              data-bind="text: getExcludingValue(), attr: {'data-th': excludingTaxMessage}"></span>
        <!-- /ko -->
        <!-- ko ifnot: isCalculated() -->
        <span class="not-calculated"
              data-bind="text: getExcludingValue(), attr: {'data-th': excludingTaxMessage}"></span>
        <!-- /ko -->
    </td>
</tr>
<tr class="totals shipping incl">
    <th class="mark" scope="row">
        <span class="label">
            <!-- ko i18n: 'Shipping & Handling' --><!-- /ko -->
        </span>
    </th>
    <td class="amount">
        <!-- ko if: isCalculated() -->
        <span class="price"
              data-bind="text: getIncludingValue(), attr: {'data-th': title + ' ' + excludingTaxMessage}"></span>
        <!-- /ko -->
        <!-- ko ifnot: isCalculated() -->
        <span class="not-calculated"
              data-bind="text: getIncludingValue(), attr: {'data-th': title + ' ' + excludingTaxMessage}"></span>
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
<!-- ko if: isIncludingDisplayed() -->
<tr class="totals shipping incl">
    <th class="mark" scope="row">
        <span class="label">
            <!-- ko i18n: 'Shipping & Handling' --><!-- /ko -->
        </span>
    </th>
    <td class="amount">
        <!-- ko if: isCalculated() -->
        <span class="price"
              data-bind="text: getIncludingValue(), attr: {'data-th': title}"></span>
        <!-- /ko -->
        <!-- ko ifnot: isCalculated() -->
        <span class="not-calculated"
              data-bind="text: getIncludingValue(), attr: {'data-th': title}"></span>
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
<!-- ko if: isExcludingDisplayed() -->
<tr class="totals shipping excl">
    <th class="mark" scope="row">
        <span class="label">
            <!-- ko i18n: 'Shipping & Handling' --><!-- /ko -->
        </span>
    </th>
    <td class="amount">
        <!-- ko if: isCalculated() -->
        <span class="price"
              data-bind="text: getValue(), attr: {'data-th': title}"></span>
        <!-- /ko -->
        <!-- ko ifnot: isCalculated() -->
        <span class="not-calculated"
              data-bind="text: getValue(), attr: {'data-th': title}"></span>
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
<!-- /ko -->
