<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/

/* @var $block \Aheadworks\Faq\Block\Adminhtml\Page\Menu\Item */
?>
<li><a <?php /* @noEscape */ echo $block->serializeLinkAttributes() ?>><?php /* @noEscape */ echo $block->getLabel() ?></a></li>
