/**
 * @category    Kurufootwear
 * @package     Kurufootwear\DiscountCode
 * @author      Jim McGowen <jim@kurufootwear.com>
 * @copyright   Copyright (c) 2018 KURU Footwear. All rights reserved.
 */

.cart.item.message.notice {
	background-color: #9e9e9e29;
}

.checkout-cart-index .product-item-name {
	display: block;
}
