<?php
/**
 * @vendor      Scandiweb
 * @module      Scandiweb_SocialLogin
 * @author      Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var $this Scandiweb\SocialLogin\Block\Providers */
?>

<?php if (($providers = $this->getProvidersWithSortOrder()) && count($providers) > 0 && !$this->isLoggedIn()): ?>

    <div class="block block-sociallogin">
        <div class="block-title">
            <strong class="social-register-heading"><?php echo __('Social sign up'); ?></strong>
            <p id="block-sociallogin-heading" class="block-sociallogin-heading" role="heading"><?php echo __('Register with:'); ?></p>
        </div>

        <div class="block-content" aria-labelledby="block-sociallogin-heading">
            <p class="social-register-text"><?php echo __('If you have an account on any of the following social networks, you can register with your social account.'); ?></p>
            <?php foreach ($providers as $key => $provider): ?>
                <a href="<?php echo $provider['url'] ?>"
                   class="action button primary sociallogin sociallogin-<?php echo $key; ?>"
                   id="sociallogin-<?php echo $key; ?>">
                    <span><?php echo ucfirst($key); ?></span>
                </a>
            <?php endforeach; ?>
        </div>
    </div>

<?php endif; ?>

<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
</script>
