<?php
/**
 * @vendor Kurufootwear
 * @module Scandiweb_SocialLogin
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/** @var \Kurufootwear\Customer\Block\Form\Edit $block */
?>
<div class="edit-form-wrapper">
    <form class="form form-edit-account" action="<?php echo $block->getUrl('customer/account/editPost') ?>"
          method="post" id="form-validate" enctype="multipart/form-data"
          data-hasrequired="<?php echo __('* Required Fields') ?>" autocomplete="off">
        <fieldset class="fieldset info">
            <?php echo $block->getBlockHtml('formkey') ?>
            <legend class="legend">
                <span><?php echo __('Account Information') ?></span>
            </legend>
            <br>
            <div class="field choice hidden">
                <input type="checkbox"
                       name="change_email"
                       id="change-email"
                       value="1"
                       checked
                       title="<?php echo __('Change Email') ?>"
                       class="checkbox" />
                <label class="label" for="change-email">
                    <span><?php echo __('Change Email') ?></span>
                </label>
            </div>
            <div class="field email required">
                <label class="label" for="email">
                    <span><?php echo __('Email Address') ?></span>
                </label>
                <div class="control">
                    <input type="email" name="email"
                           id="email" autocomplete="email"
                           value="<?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?>"
                           title="<?php echo __('Email Address') ?>"
                           placeholder="<?php echo __('Email Address') ?>"
                           class="input-text"
                           data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>

            <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
            <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
            <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
            <?php if ($_dob->isEnabled()): ?>
                <?php echo $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
            <?php endif ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <?php echo $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
            <?php endif ?>
            <?php if ($_gender->isEnabled()): ?>
                <?php echo $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
            <?php endif ?>
        </fieldset>
        <fieldset class="fieldset password" data-container="change-email-password">
            <div class="field password current">
                <label class="label" for="current-password">
                    <span><?php echo __('Current Password') ?></span>
                </label>
                <div class="control">
                    <input type="password"
                           class="input-text show-password"
                           name="current_password"
                           id="current-password"
                           placeholder="<?php echo __('Current Password') ?>"
                           autocomplete="off"/>
                    <span class="show-pass-button"></span>
                </div>
            </div>
            <div class="field new password" data-container="new-password"
                 data-mage-init='{"passwordStrengthIndicator": {}}'>
                <label class="label" for="password">
                    <span><?php echo __('New Password') ?></span>
                </label>
                <div class="control">
                    <input type="password" class="input-text show-password new-password" name="password" id="password"
                           data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                           data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                           data-input="new-password"
                           data-validate="{'validate-customer-password-account': true}"
                           placeholder="<?php echo __('New Password') ?>"
                           autocomplete="off"/>
                    <span class="show-pass-button"></span>
                    <div id="password-strength-meter-container" data-role="password-strength-meter">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?php echo __('Password Strength'); ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?php echo __('No Password'); ?>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field confirm password" data-container="confirm-password">
                <label class="label" for="password-confirmation">
                    <span><?php echo __('Confirm New Password') ?></span>
                </label>
                <div class="control">
                    <input type="password" class="input-text show-password"
                           name="password_confirmation"
                           id="password-confirmation"
                           data-input="confirm-password"
                           placeholder="<?php echo __('Confirm New Password') ?>"
                           autocomplete="off"/>
                    <span class="show-pass-button"></span>
                </div>
            </div>
            <?php echo $block->getChildHtml('form_additional_info'); ?>
        </fieldset>
        <div class="customer-subscriptions">
            <?php echo $block->getLayout()->createBlock('Mirasvit\Rewards\Block\Newsletter\Unsubscribe')->toHtml(); ?>
            <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Newsletter')->setTemplate('Magento_Customer::form/newsletter-info.phtml')->toHtml(); ?>
        </div>
        <div class="actions-toolbar">
            <div class="secondary">
                <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back button secondary-button">
                    <span><?php echo __('Back') ?></span>
                </a>
            </div>
            <div class="primary">
                <button type="submit" class="action save primary button blue-button" title="<?php echo __('Save') ?>">
                    <span><?php echo __('Save Changes') ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
<script>
    require([
        'jquery',
        'mage/mage',
        'customValidation'
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = <?php echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;

        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?php echo __('Change Email') ?>",
                "titleChangePassword": "<?php echo __('Change Password') ?>",
                "titleChangeEmailAndPassword": "<?php echo __('Change Email and Password') ?>"
            }
        }
    }
</script>
