<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\NetSuite
 * @author      Jim McGowen <jim@kurufootwear.com>
 * @copyright   Copyright (c) 2018 KURU Footwear. All rights reserved.
 */

/* @var $block \Kurufootwear\NetSuite\Block\System\Config\TestConnection */
?>

<script>
    require([
        'jquery'
    ], function($){
        
        $('#testButton').click(function () {
            $("#testMessage").text("Testing connection to NetSuite...");
            $.ajax({
                "type": "POST",
                "url": "<?php echo $block->getAjaxUrl() ?>",
                "dataType": "json",
                "data": {form_key: window.FORM_KEY}
            }).done(function(response) {
                $('#testMessage').text(response.message);
            });
        });
    });
</script>

<?php echo $block->getButtonHtml() ?>
<div id="testMessage"></div>
