// *
// * @vendor      Kurufootwear
// * @module      Kurufootwear/Catalog
// * @author      Krisjanis Veinbahs <info@scandiweb.com>
// * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
// * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// *

.product-benefits {
    @include margin(40px);
    @include outer-container($max-width);
    clear: both;

    .block-wrapper {
        @include margin(10px 20px);

        .benefit-body {
            .benefit-title {
                color: $clr-corduroy;
                font-size: $f-size-xs;
                line-height: 15px;
                text-align: center;
                word-wrap: break-word;
            }
        }

        .benefit-header {
            @include margin(0 0 40px);
            color: $clr-ebony-clay;
            line-height: 30px;
            text-align: center;

            .benefit-title {
                font-size: $f-size-10xl;
            }
        }

        .showcase-wrapper {
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
        }

        .benefit {
            @include display(inline-block);
            @include margin(0 10px);
            width: 70px;
        }

        .benefit-icon-wrapper {
            @include display(flex);
            @include background($clr-corduroy);
            @include justify-content(space-around);
            @include align-items(center);
            @include margin(0 auto);
            border: 2px solid $clr-white;
            border-radius: 100%;
            box-shadow: none;
            height: 55px;
            transition: all .3s ease-in-out;
            width: 55px;

            &:hover {
                box-shadow: 0 0 4px $clr-corduroy,
                            0 0 4px $clr-corduroy,
                            0 0 4px $clr-corduroy;
            }
        }

        .benefit-icon {
            @include padding(20%);
            max-height: 100%;
            max-width: 100%;
            min-height: 100%;
            width: 100%;
        }
    }
}
