.minicart-cms-block {
    @include display(none);

    @include media($desktop-small) {
        @include background($clr-gallery);
        @include display(block);
        @include margin(20px 30px);
        @include padding(15px 20px);
    }

    .part {
        @include display(flex);
        @include align-items(center);
        @include padding(7px 0);
    }

    .icon {
        @include display(inline-table);
        width: 35px;
    }

    .text {
        font-size: $f-size-xs;
        line-height: 15px;
    }
}
