// *
// * @vendor      Kurufootwear
// * @module      Kurufootwear/default
// * @author      Krisjanis Veinbahs <info@scandiweb.com>
// * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
// * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// *

.lightweight-magic-block {
    @include media($desktop-small) {
        @include margin(null auto);
        max-width: $max-width;
    }

    .block-wrapper {
        @include margin(16px 20px);
        @include padding(2em 16px);
        background: {
            image: url('../images/lightweight_magic_banner_mobile.png');
            position: center;
            repeat: no-repeat;
            size: cover;
        }

        @include media($tablet) {
            @include padding(100px null);
            background: {
                image: url('../images/lightweight_magic_banner.png');
            }
        }
    }

    .magic-header {
        font-size: $f-size-10xl;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }

    .magic-message {
        @include padding(0 20px);
        font-size: $f-size-xxxl;
        line-height: 23px;
        text-align: center;

        @include media($tablet) {
            @include padding(0 40px);
        }

        @include media($desktop-small) {
            @include padding(0 200px);
        }

        @include media($desktop) {
            @include padding(0 300px);
        }
    }

    .learn-how {
        background: $clr-picton-blue;
        color: $clr-white;
        float: inherit;
        font-weight: bold;

        @include media($tablet) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
