///**
// * @category     Kurufootwear
// * @package      Kurufootwear/default
// * @author       Aleksejs Baranovs <info@scandiweb.com>
// * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
// */

.order-status-check-modal {
    display: none;

    .order-status-table {
        border: 0;
        padding: 0;
        margin: 0 0 10px 0;
    }

    .order-status-message {
        float: none;
        padding: 0;
        margin: 0;
        width: 100%;

        &.error,
        &.success {
            padding: 10px 12px;
        }
    }

    .loading-mask {
        @include background($clr-black-zero-five);
        @include position(absolute, 0);
        height: 100%;
        width: 100%;
        z-index: 10;
    }

    .loader {
        @include position(absolute, calc(50% - 32px) null null calc(50% - 32px));
        animation: spin $duration linear infinite;
        background: url('/media/wysiwyg/loader.svg') no-repeat;
        height: 64px;
        transform: translate(-50%, -50%);
        width: 64px;

        * {
            @include display(none);
        }
    }
}

.modals-wrapper {
    .order-status-check-modal {
        display: block;
    }
}