// *
// * @vendor      Kurufootwear
// * @module      Kurufootwear/Catalog
// * @author      Krisjanis Veinbahs <info@scandiweb.com>
// * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
// * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// *

.product-salespoints {
    @include margin(10px);
    @include outer-container($max-width);
    clear: both;

    .block-wrapper {
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between);
        @include margin(10px 20px);

        @include media($desktop-small) {
            @include flex-direction(row);
        }

        .salepoint {
            @include align-items(center);
            @include background($clr-gallery);
            @include display(flex);
            @include flex-grow(1);
            @include justify-content(center);
            @include margin(null null 12px);
            @include padding(15px 0);
            font-size: $f-size-xs;
            font-weight: bold;
            line-height: 15px;

            @include media($desktop-small) {
                @include margin(null 12px 0 null);
            }

            .sales-icon {
                @include margin(-2px 15px null null);
                height: 25px;
            }

            &:last-of-type {
                @include margin(0);
            }

            .ship-info,
            .transport-disclaimer,
            .return-days {
                @include margin(null 5px null 5px);
                font-weight: normal;
            }
        }
    }
}
