// *
// * @vendor      Kurufootwear
// * @module      Kurufootwear/Catalog
// * @author      Krisjanis Veinbahs <info@scandiweb.com>
// * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
// * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// *

.product-technology {
    @include margin(20px 0);
    @include background($clr-gallery);
    clear: both;

    .block-wrapper {
        @include margin(10px 0);
        @include outer-container($max-width);
        @include padding(50px 20px);

        @include media($desktop-small) {
            @include padding(50px);
        }

        .block-header {
            @include margin(0 20px 20px);
            text-align: center;

            .title {
                @include margin(0 0 10px);
                color: $clr-ebony-clay;
                font-size: $f-size-10xl;
                line-height: 30px;
            }

            .slogan {
                color: $clr-gray-light;
                font-size: $f-size-l;
                line-height: 19px;
            }
        }

        .block-body {
            clear: both;

            @include media($desktop-small) {
                @include align-items(center);
                @include display(flex);
                @include flex-direction(row-reverse);
                @include justify-content(space-between);
            }
        }

        .illustration {
            @include margin(0 0 35px);
            text-align: center;
            width: 100%;

            @include media($desktop-small) {
                @include margin(0);
            }

            .technology-image {
                max-width: 100%;
            }
        }

        .description {
            @include margin(0 25px 0);

            @include media($desktop-small) {
                @include margin(0);
                width: 100%;
            }
        }

        .desc-msg {
            @include margin(0 0 25px);
            font-size: $f-size;

            &:last-of-type {
                @include margin(0);
            }

            .msg-one {
                @include margin(0 -3px 0 0);
                font-weight: bold;
            }
        }
    }
}
