// *
// * @vendor      Kurufootwear
// * @module      Kurufootwear/default
// * @author      Krisjanis Veinbahs <info@scandiweb.com>
// * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
// * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// *

.yotpo-pictures-gallery {
    &.col.yotpo {
        @include margin(0);
    }

    .y-image-overlay:hover {
        opacity: .3;

        .y-image-overlay {
            background-color: $clr-white;
            border-radius: 0;
            opacity: .3;
        }
    }
}

.yotpo-wrapper-ugc-1 {
    overflow: hidden;

    @include media($desktop-small) {
        @include margin(null auto);
        max-width: $max-width;
    }

    .yotpo-wrapper-ugc-2 {
        @include margin(5px 20px 16px);
        display: flex;
        justify-content: space-between;
    }

    .col {
        width: calc((100% - 10px) / 3);
    }

    .yotpo-col2 {
        background: {
            image: url('../images/yotpo_instagram.jpg');
            position: center;
            size: cover;
        }
        display: flex;
        flex-direction: column;
        position: relative;

        &:hover {
            opacity: .7;
        }

        > * {
            @include position(absolute);
            color: $clr-white;
            transform: translateX(-50%);
        }

        .kurulove {
            @include display(flex);
            justify-content: center;
            left: 50%;
            top: 0;

            @include media($mobile-medium) {
                top: 6%;
            }

            .kuru,
            .love {
                @include margin(0);
                line-height: 53px;

                @include media($tablet) {
                    @include margin(12px 0);
                }
            }

            .kuru {
                font-family: $montserrat;
                font-weight: bold;
            }

            .love {
                font-weight: 600;

                @include media($tablet) {
                    line-height: 55px;
                }
            }

            * {
                font-size: $f-size-xs;

                @include media($mobile-large) {
                    font-size: $f-size-5xl;
                }

                @include media($tablet-medium) {
                    font-size: $f-size-10xl;
                }

                @include media($desktop-small) {
                    font-size: $f-size-20xl;
                }
            }
        }

        .tinted {
            background: $clr-black;
            height: 100%;
            left: 50%;
            opacity: .3;
            width: 100%;
        }

        .instawear {
            left: 50%;
            text-align: center;
            top: 45%;
            vertical-align: middle;

            @include media($mobile-medium) {
                top: 54%;
            }

            .fa-instagram {
                font-size: $f-size;

                @include media($mobile-medium) {
                    font-size: $f-size-xl;
                }

                @include media($mobile-large) {
                    font-size: $f-size-7xl;
                }

                @include media($tablet-medium) {
                    font-size: $f-size-14xl;
                }

                @include media($desktop-small) {
                    font-size: $f-size-20xl;
                }
            }

            .fa-instagram:hover {
                background: $clr-white;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .wear {
                font-family: $montserrat;
                font-size: $f-size-xxxs;
                font-weight: bold;
                margin-top: 5px;

                @include media($mobile-medium) {
                    font-size: $f-size-xs;
                }

                @include media($mobile-large) {
                    font-size: $f-size-xl;
                }

                @include media($tablet-medium) {
                    font-size: $f-size-5xl;
                }

                @include media($desktop-small) {
                    font-size: $f-size-12xl;
                }
            }
        }
    }
    // scss-lint:disable ImportantRule
    .yotpo-pictures-gallery-header-wrapper,
    .yotpo-col1 .yotpo-single-image-container:nth-child(n+5), // Remove 5++
    .yotpo-col3 .yotpo-single-image-container:nth-child(-n+4), // Remove 1-4
    .yotpo-col3 .yotpo-single-image-container:nth-child(n+9) { // Remove 9++
        @include display(none);
    }

    .yotpo-single-image-container {
        overflow: hidden;
        width: calc(50% - 2.5px) !important;

        .y-image-wrapper {
            > * {
                border-radius: 0;
            }

            img {
                transform: scale(1.02);
            }
        }

        &:nth-child(n+7):nth-child(-n+8),
        &:nth-child(n+3):nth-child(-n+4) {
            margin-bottom: 0 !important;
        }

        &:nth-child(2n) {
            margin-right: 0 !important;
        }

        &:nth-child(2n - 1) {
            margin-right: 5px !important;
        }
    }

    .yotpo-hover-icon {
        @include display(none !important);
    }
    // scss-lint:enable ImportantRule
}

.yotpo-lightbox-wrapper {
    // scss-lint:disable ImportantRule
    .yotpo-label {
        @include display(none !important);
    }
    // scss-lint:enable ImportantRule
}
