// *
// * @vendor      Kurufootwear
// * @module      Kurufootwear/default
// * @author      Krisjanis Veinbahs <info@scandiweb.com>
// * @copyright   Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
// * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
// *

.yotpo-conversion-widget {
    @include display(none);
}

.yotpo.bottomLine {
    @include display(block);
    min-height: 38px;
}

.yotpo-stars span,
.yotpo-review-stars span,
.yotpo .review-stars span {
    color: $clr-picton-blue !important;
}

.yotpo-size-bar-offset,
.yotpo-size-bar-fit {
    background-color: $clr-yotpo-blue !important;
}

.yotpo-wrapper {
    @include media($desktop-small) {
        @include margin(null auto);
        max-width: $max-width;
    }

    .yotpo-moto {
        @include margin(25px 0 0 0);
        color: $clr-white;
        font-family: $montserrat;
        font-size: $f-size-10xl;
        font-weight: bold;
        text-transform: uppercase;
    }

    .yotpo-customers {
        @include margin(-70px 0 0 0);
        color: $clr-picton-blue;
        font-family: $source-sans-pro;
        font-size: $f-size-xl;
        font-weight: normal;
    }

    .yotpo-moto,
    .yotpo-customers {
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
    }

    .slider-wrapper {
        @include margin(20px);
        @include display(flex);

        background: {
            image: url('../images/yotpo_reviews.jpg');
            position: center;
        }
        height: 350px;
        max-height: 350px;
        min-height: 350px;
    }

    .fade-wrapper {
        @include margin(0 auto);
        min-height: 100%;
        width: 300px;
    }
}

// scss-lint:disable ImportantRule
.yotpo-reviews-carousel {
    &,
    .yotpo-display-wrapper,
    .scroller,
    .yotpo-carousel,
    .y-slider-container,
    .single-carousel.review {
        height: 100%;
        min-height: 100%;
        vertical-align: middle;
    }

    #carousel-top-panel,
    .stars-container,
    .product-image-container,
    .carousel-read-more,
    .yotpo-label {
        @include display(none !important);
    }

    .yotpo-carousel {
        @include padding(60px 0 50px !important);
    }

    .single-carousel.review {
        @include display(table !important);

        .small-version {
            @include display(table-cell !important);
        }

        .big-version {
            @include display(none !important);
        }

        .small-version,
        .big-version {
            height: 100%;
            vertical-align: middle;
        }
    }

    .carousel-display-wrapper .yotpo-carousel .right-side {
        @include padding(0 20px);
        width: 100% !important;

        .carousel-review-body {
            color: $clr-white;
            font-family: $source-sans-pro !important;
            font-size: $f-size-xxxl;
            font-style: normal !important;
            line-height: 23px;
            text-align: center !important;
        }
    }

    .carousel-review-author {
        @include margin(15px 0 0 !important);
        color: $clr-white !important;
    }

    .carousel-read-more,
    .carousel-review-author {
        min-width: 100%;
        text-align: center !important;
    }

    .carousel-review-title {
        color: $clr-white !important;
        font-family: $montserrat;
        text-align: center;
    }

    .yotpo-display-wrapper {
        @include padding(0 !important);
    }

    .review {
        transform: translateX(-10px);

        @include media($mobile-medium) {
            transform: translateX(5px);
        }
    }
}
// scss-lint:enable ImportantRule
