<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php if ($block->getContinueShoppingUrl()): ?>
    <a class="action continue button secondary-button"
       href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
       title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
        <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
    </a>
<?php endif; ?>

