<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>

<div data-block="minicart" class="minicart-wrapper">
    <a class="action showcart" onclick="" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>"
       data-bind="scope: 'minicart_content'">
        <span class="shopping-bag-icon">
            <!-- ko ifnot: getCartParam('summary_count') -->
                <span class="icon-empty">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="22" viewBox="0 0 19 22" class="icon-desktop">
                        <path fill="#000000" fill-rule="evenodd" d="M17.9540783,19.9374418 C17.9540783,20.0187622 17.8855705,20.0870086 17.8045115,20.0870086 L1.36657982,20.0870086 C1.28552089,20.0870086 1.21701302,20.0185007 1.21701302,19.9293359 L2.12786266,5.31941381 C2.12786266,5.2380934 2.19637053,5.16932405 2.27742946,5.16932405 L5.28576168,5.16932405 L5.32524522,6.38416207 C5.33465851,6.67257497 5.56789905,6.89404889 5.8649408,6.8898652 C6.15361518,6.88045191 6.38005723,6.638844 6.37064393,6.35016962 L6.33220631,5.16932405 L12.7303707,5.16932405 L12.7695927,6.38416207 C12.7787445,6.66708388 13.0109392,6.89012668 13.2920306,6.89012668 C13.5977012,6.88045191 13.8244047,6.638844 13.8149914,6.35016962 L13.7765538,5.16932405 L16.7971756,5.16932405 C16.878496,5.16932405 16.9467424,5.2380934 16.9467424,5.3154916 L17.9540783,19.9374418 Z M9.50474822,1.15455371 C11.1863288,1.15455371 12.565638,2.45907951 12.691933,4.12366386 L6.31730193,4.12366386 C6.43601404,2.46692393 7.81846101,1.15455371 9.50474822,1.15455371 L9.50474822,1.15455371 Z M13.7383777,4.12366386 C13.6175737,1.89009812 11.7678612,0.108632034 9.50474822,0.108632034 C7.24686481,0.108632034 5.40055158,1.88199223 5.27242617,4.12366386 L2.27742946,4.12366386 C1.61823733,4.12366386 1.08194099,4.66022167 1.08194099,5.3275197 L0.171091345,19.9374418 C0.171091345,20.5966339 0.707387683,21.1329303 1.36657982,21.1329303 L17.8045115,21.1329303 C18.4637037,21.1329303 19,20.5966339 19,19.9411025 L17.9926641,5.31941381 C17.9926641,4.66022167 17.4563677,4.12366386 16.7971756,4.12366386 L13.7383777,4.12366386 Z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27" class="icon-mobile">
                        <path fill="#000000" fill-rule="evenodd" d="M22.6788358,25.4474257 C22.6788358,25.5512201 22.5922995,25.6383273 22.4899093,25.6383273 L1.72620609,25.6383273 C1.62381586,25.6383273 1.5372796,25.5508864 1.5372796,25.4370797 L2.68782652,6.78950635 C2.68782652,6.68571194 2.77436278,6.59793724 2.87675301,6.59793724 L6.67675159,6.59793724 L6.72662554,8.14851232 C6.73851602,8.51663206 7.03313564,8.79931331 7.40834628,8.7939734 C7.7729876,8.78195861 8.05901965,8.47357907 8.04712918,8.10512558 L7.99857639,6.59793724 L16.0804682,6.59793724 L16.1300119,8.14851232 C16.1415721,8.50962343 16.4348705,8.79430715 16.7899334,8.79430715 C17.1760436,8.78195861 17.462406,8.47357907 17.4505155,8.10512558 L17.4019627,6.59793724 L21.217485,6.59793724 C21.3202055,6.59793724 21.4064115,6.68571194 21.4064115,6.78450019 L22.6788358,25.4474257 Z M12.0059978,1.47363037 C14.1300995,1.47363037 15.8723848,3.13867967 16.0319154,5.26329459 L7.9797498,5.26329459 C8.12970194,3.14869199 9.87595074,1.47363037 12.0059978,1.47363037 L12.0059978,1.47363037 Z M17.3537402,5.26329459 C17.2011458,2.41245251 14.8646668,0.138653978 12.0059978,0.138653978 C9.1539345,0.138653978 6.82174936,2.40210645 6.65990675,5.26329459 L2.87675301,5.26329459 C2.04408926,5.26329459 1.3666623,5.94813748 1.3666623,6.79985242 L0.216115384,25.4474257 C0.216115384,26.2887946 0.893542337,26.9733037 1.72620609,26.9733037 L22.4899093,26.9733037 C23.322573,26.9733037 24,26.2887946 24,25.4520981 L22.7275757,6.78950635 C22.7275757,5.94813748 22.0501487,5.26329459 21.217485,5.26329459 L17.3537402,5.26329459 Z"/>
                    </svg>
                    <span class="counter qty empty"
                          data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                        <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
                    </span>
                </span>
            <!-- /ko -->
            <!-- ko if: getCartParam('summary_count') -->
                <span class="icon-filled">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="21" viewBox="0 0 19 21" class="icon-desktop">
                        <path fill="#000000" fill-rule="evenodd" d="M994.418468,20.0447129 C996.115329,20.0447129 997.507171,21.347731 997.634614,23.0103916 L991.202059,23.0103916 C991.32185,21.3555664 992.716858,20.0447129 994.418468,20.0447129 L994.418468,20.0447129 Z M998.690567,23.0103916 C998.568666,20.7794072 996.702145,19 994.418468,19 C992.140068,19 990.276978,20.7713107 990.147689,23.0103916 L987.125478,23.0103916 C986.460296,23.0103916 985.919126,23.5463293 985.919126,24.2128561 L985,38.8058932 C985,39.4643235 985.541169,40 986.206351,40 L1002.79365,40 C1003.45883,40 1004,39.4643235 1004,38.8095497 L1002.98351,24.2047596 C1002.98351,23.5463293 1002.44234,23.0103916 1001.77716,23.0103916 L998.690567,23.0103916 Z" transform="translate(-985 -19)"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27" class="icon-mobile">
                        <path fill="#000000" fill-rule="evenodd" d="M12.0059978,1.47363037 C14.1300995,1.47363037 15.8723848,3.13867967 16.0319154,5.26329459 L7.9797498,5.26329459 C8.12970194,3.14869199 9.87595074,1.47363037 12.0059978,1.47363037 L12.0059978,1.47363037 Z M17.3537402,5.26329459 C17.2011458,2.41245251 14.8646668,0.138653978 12.0059978,0.138653978 C9.1539345,0.138653978 6.82174936,2.40210645 6.65990675,5.26329459 L2.87675301,5.26329459 C2.04408926,5.26329459 1.3666623,5.94813748 1.3666623,6.79985242 L0.216115384,25.4474257 C0.216115384,26.2887946 0.893542337,26.9733037 1.72620609,26.9733037 L22.4899093,26.9733037 C23.322573,26.9733037 24,26.2887946 24,25.4520981 L22.7275757,6.78950635 C22.7275757,5.94813748 22.0501487,5.26329459 21.217485,5.26329459 L17.3537402,5.26329459 Z"/>
                    </svg>
                    <span class="counter qty empty"
                          data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                        <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
                    </span>
                </span>
            <!-- /ko -->
        </span>
        <span class="hidecart">
            <span class="bar1"></span>
            <span class="bar2"></span>
        </span>
    </a>
    <div class="minicart-overlay"></div>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":".page-wrapper [data-block=minicart]",
                "animate": "400",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "closeOnClickOutside": true,
                "triggerClass":"active",
                "parentClass":"minicart-opened",
                "defaultDialogClass":"minicart-sidebar-wrapper",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" class="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>


