<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<?php
/**  @var $block \Magento\Checkout\Block\Cart */
?>
<div class="cart-empty">
    <?php echo $block->getChildHtml('checkout_cart_empty_widget'); ?>
    <img class="empty-icon" src="<?php echo $block->getViewFileUrl('images/empty_cart.svg')?>"
         alt="<?php echo _('Empty cart icon')?>"/>
    <p><?php /* @escapeNotVerified */ echo __('You have no items in your shopping bag.') ?></p>
    <?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
</div>
