<?php
/**
 * @vendor Kurufootwear
 * @module Mirasvit_Rewards
 * @author Kristaps Stalidzans <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php /** @var $block \Mirasvit\Rewards\Block\Newsletter\Unsubscribe */ ?>
<?php if ($block->isAllow()): ?>
    <div class="choice">
        <input type="checkbox" name="rewards_subscription" id="rewards_subscription" value="1"
           title="<?php echo __('Referral point earn notification') ?>"
            <?php if ($block->isRewardsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
        <label for="rewards_subscription" class="label">
            <span><?php echo __('Referral point earn notification'); ?></span>
        </label>
        <input type="hidden" name="rewards_subscription_key" value="1">
    </div>
<?php endif; ?>
