// *
// * @category    Scandiweb
// * @package     Kurufootwear/Rma
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.aw-rma-customer-createrequeststep {
    .page-main {
        @include padding(0);
        max-width: 100%;
    }

    .column.main {
        width: 100%;
    }

    .create-request {
        padding-top: 30px;
    }

    .product-info-block-wrapper {
        height: auto;
        min-height: 90px;
    }

    .product-info-block {
        @include background($clr-gallery);
        @include display(flex);
        @include align-items(center);
        @include margin(null auto);
        @include padding(5px null);
        opacity: 0;
        width: 100%;

        @include media($tablet) {
            max-width: 480px;
            min-width: 320px;
            width: auto;
        }

        .rma-product-name {
            font-size: $f-size-xl;
        }
    }

    .rma-image-box {
        @include padding(10px 25px);

        img {
            vertical-align: middle;
        }
    }

    .rma-product-main-info {
        padding-right: 25px;
    }

    .rma-product-name {
        font-weight: bold;
        text-transform: uppercase;
    }

    .rma-product-swatch {
        .label {
            padding-right: 10px;
            text-transform: uppercase;
            width: 60px;
        }

        .value {
            color: $clr-corduroy;
        }
    }

    .rma-title-with-name {
        @include padding(40px null);
        clear: both;
        font-family: $montserrat;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    .sv_main {
        text-align: center;
    }

    .sv_q_title {
        @include display(none);
    }

    .sv_q_erbox {
        text-align: center;

        div {
            @include display(none);
        }

        &::after {
            color: $clr-red;
            content: 'Please select one of the options below';
            font-size: $f-size-xxxl;
            font-weight: 600;
        }
    }

    .answers-wrapper {
        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(center);
            @include padding(60px null null);
        }
    }

    .sv_q_radiogroup {
        margin-bottom: 5px;
        width: 100% !important;

        @include media($tablet) {
            max-width: 230px;
        }
    }

    input {
        ~ span:last-of-type {
            @include display(block !important);
            @include padding(13px 20px);
            box-shadow: inset 0 0 0 1px $secondary-button-color;
            color: $secondary-button-color;
            cursor: pointer;
            position: relative !important;
            text-align: center;
            vertical-align: middle;

            @include media($desktop-small) {
                @include padding(10px null);
            }

            .fa {
                margin-right: 10px;
            }

            .width-narrow,
            .width-wide {
                @include transform(rotate(45deg));
            }

            &::before,
            &::after {
                @include media($desktop-small) {
                    @include position(absolute);
                    border: 2px solid transparent;
                    content: '';
                    height: 0;
                    left: 0;
                    top: 0;
                    width: 0;
                }
            }

            &:hover {
                @include media($desktop-small) {
                    color: $clr-pistachio;
                }
            }

            &:hover::before,
            &:hover::after {
                @include media($desktop-small) {
                    height: 100%;
                    width: 100%;
                }
            }

            &:hover::before {
                @include media($desktop-small) {
                    @include transition(width .25s ease-out, height .25s ease-out .25s);
                    border-right-color: $clr-pistachio;
                    border-top-color: $clr-pistachio;
                }
            }

            &:hover::after {
                @include media($desktop-small) {
                    @include transition(height .25s ease-out, width .25s ease-out .25s);
                    border-bottom-color: $clr-pistachio;
                    border-left-color: $clr-pistachio;
                }
            }
        }

        &:checked ~ span:last-of-type {
            @include display(block !important);
            @include background($clr-pistachio);
            box-shadow: none;
            color: $clr-white;

            .choice-wrapper::after {
                @include background-image(url('../images/checkmark.svg'));
                @include display(inline-block);
                @include position(relative);
                @include size(14px 10px);
                border: 0;
                content: '';
                margin-left: 10px;
            }
        }
    }

    textarea {
        font-size: $f-size-l;
        max-width: 545px;
        min-height: 100px;
        resize: none;
    }

    .question-title {
        @include margin(40px null 20px);
        color: $clr-bluewood;
        font-family: $montserrat;
        font-size: $f-size-10xl;
        font-weight: normal;
        text-align: center;
    }

    .question-form {
        width: 100%;
    }

    .from-right {
        margin-left: 100%;
    }

    .from-left {
        margin-left: -100%;
    }

    .in {
        @include transition(all .5s ease-in-out);
        margin-left: 0;
    }

    .to-right {
        margin-left: 100%;
    }

    .to-left {
        margin-left: -100%;
    }

    .rma-survey {
        @include outer-container();
        @include padding(null $default-indent);

        .navigation {
            @include display(flex);
            @include justify-content(center);
            padding-top: 30px;

            @include media($desktop-small) {
                padding-top: 60px;
            }

            .prev-wrap {
                margin-right: 5px;
            }

            .previous.button,
            .next.button {
                float: none;
                min-width: 90px;
                opacity: 0;
            }
        }
    }
}
