// *
// * @category    Scandiweb
// * @package     Kurufootwear/Rma
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.account.aw-rma-customer-index,
.account.aw-rma-customer-selectorderstep {
    .blocking {
        @include margin(null null 20px);

        &,
        .telephone {
            color: $clr-cinnabar;
        }

        .telephone:hover {
            color: $clr-apricot;
        }
    }

    .messages {
        @include padding(null null null 0);
    }

    .order-item-select {
        @include background($clr-white);
    }

    .return-note {
        @include margin(null null 15px);
        font-style: italic;
    }

    .table-caption {
        @include display(none);
    }

    .aw-rma-new-button {
        @include margin(0 auto 20px);
        float: initial;

        @include media($tablet-medium) {
            @include margin(0);
            float: right;
        }
    }

    .action {
        min-width: initial;
    }

    .order-item-row {
        background: transparent;

        .sub-table-title,
        .table-header {
            background: transparent;
        }
    }

    .aw-rma-new.select-order .select-order-table .order-item-row.selected,
    .order-item-row .sub-item-table,
    .table-content.selected-item {
        @include background($clr-gallery);
    }

    .sub-table {
        background: transparent;
    }

    .sub-item-table {
        @include display(block);

        @include media($mobile-large) {
            @include display(table-row);
        }

        &:nth-child(even),
        &:nth-child(odd) {
            @include background($clr-gallery);
        }

        .product {
            @include padding(8px 0);
        }

        .col {
            @include display(table-cell);
            @include padding(0);
        }

        .item-id {
            @include padding(null 19px null 4px);
            width: 4%;
        }
    }

    .select-order-table .item-id,
    .select-message {
        @include border-width(null 0 null 5px);
        @include border-color(null 0 null $clr-pistachio);
        @include border-style(null 0 null solid);
    }

    .table-title-rma {
        @include display(table-cell);
        @include position(static);
        @include border-color(0);
        @include border-style(0);
        @include border-width(0);
        @include padding(0 null null 0);
        background-color: transparent;
        font-family: $montserrat;
        font-size: $f-size;
        text-transform: capitalize;
    }

    .col {
        @include border-width(0);
        @include border-color(0);
        @include border-style(0);
    }

    .product-name {
        @include padding(10px null null 40px);
        text-align: left;
    }

    .item-image {
        width: 15%;
    }

    .item-status {
        @include padding(5px null null 40px);
        list-style-type: none;
    }

    .image-wrapper {
        float: initial;

        @include media($mobile-medium-l) {
            float: left;
        }
    }

    .status-wrapper {
        float: left;
    }

    .order-link {
        color: $clr-picton-blue;
    }

    .list-item {
        @include display(inline-block);

        .text {
            @include margin(null 10px null null);
        }
    }

    .list-item:not(:first-of-type) {
        @include margin(null 10px);
    }

    .radio-label {
        @include margin(null null 9px null);
    }

    .input-wrapper {
        @include display(inline-block);
    }

    .table-header-rma {
        @include display(table-row);

        .order-id {
            width: 5%;
        }

        &:nth-child(odd) {
            background: transparent;
        }
    }

    .table-content {
        @include display(table-row);
        background-color: transparent;
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;
        line-height: 18px;
        text-align: left;

        .order {
            width: 13%;
        }

        .order-date {
            width: 12%;
        }

        .order-id {
            @include padding(10px 15px);
        }

        .selected-item {
            @include border-width(null 0 null 5px);
            @include border-color(null 0 null $clr-pistachio);
            @include border-style(null 0 null solid);
            background: $clr-gallery !important;
        }
    }

    .order-total {
        float: initial;

        @include media($mobile-medium) {
            float: right;
        }

        .price {
            @include margin(null 15px null);
            float: right;
        }
    }

    .items-for-return-content {
        @include padding(null 10px);
        float: right;
        text-align: right;
        width: 100%;

        @include media($mobile-medium-l) {
            width: 50%;
        }

        .input-qty {
            width: 40px;
        }

        .control,
        .qty-total {
            @include display(inline-flex);
        }

        .qty-total {
            @include align-items(center);
        }
    }

    .product-image {
        height: 80px;
        width: 80px;
    }
}

.account.aw-rma-customer-index,
.account.sales-order-history,
.account.customer-account-index {

    .mobile-only {
        @include media($tablet) {
            @include display(none);
        }
    }

    .desktop-only {
        @include display(none);

        @include media($tablet) {
            @include display(inherit);

            &.col {
                @include display(table-cell);
            }
        }
    }

    .column.main .aw-rma-list {
        .table-header {
            @include display(none);

            @include media($tablet) {
                @include display(table-row);
            }

            .updated-at,
            .created-at {
                white-space: nowrap;
            }
        }

        .table-body {
            @include media($mobile-medium-l) {
                @include display(block);
            }

            @include media($tablet) {
                @include display(table-row-group);
            }
        }

        .table-content {
            @include display(block);
            font-size: $f-size;

            @include media($tablet) {
                @include display(table-row);
            }
        }

        .col {
            @include media($tablet) {
                @include border-color($clr-silver-chalice);
                @include border-style(solid);
                @include border-width(null null 1px);
            }
        }

        .table-col {
            @include padding(0 0 null null);
            @include display(block);
            @include position(relative);
            min-width: 100%;
            text-align: left;

            @include media($tablet) {
                @include padding(10px 10px 10px 0);
                @include display(table-cell);
                min-width: 0;
            }

            &::before {
                @include display(inline-block);
                @include position(absolute, 0 null null 0);
                color: $clr-gunsmoke;
                content: attr(data-th);
                font-weight: normal;
                width: 45%;

                @include media($tablet) {
                    @include display(none);
                }
            }

            &.actions {
                @include border-color($clr-silver-chalice);
                @include border-style(solid);
                @include border-width(null null 1px);
                @include display(none);

                @include media($tablet) {
                    @include display(table-cell);
                    white-space: nowrap;
                }
            }

            &.id {
                &::before {
                    font-weight: bold;
                }

                .value {
                    @include margin(null null null 53px);

                    @include media($tablet) {
                        @include margin(0);
                    }

                    &.id {
                        font-weight: bold;

                        @include media($tablet) {
                            font-weight: normal;
                        }
                    }

                    &::before {
                        content: '';
                    }
                }

                .actions.mobile-only {
                    @include position(absolute, 0 0 null null);

                }
            }

            .value {
                @include position(relative);

                &::before {
                    @include position(absolute, null null null -8px);
                    color: $clr-gunsmoke;
                    content: '-';

                    @include media($tablet) {
                        @include display(none);
                    }
                }
            }
        }

        .order-link.value {
            @include margin(null null null 62px);

            @include media($tablet) {
                @include margin(0);
            }
        }

        .product-links.value {
            @include margin(null null null 76px);

            @include media($tablet) {
                @include margin(0);
            }
        }

        .status.value {
            @include margin(null null null 50px);

            @include media($tablet) {
                @include margin(0);
            }
        }

        .updated-at.value {
            @include margin(null null null 82px);

            @include media($tablet) {
                @include margin(0);
            }
        }

        .created-at {
            &.table-col {
                @include padding(10px 10px 10px 0);
                @include margin(null null 20px);
                @include border-color($clr-silver-chalice);
                @include border-style(solid);
                @include border-width(null null 1px);
            }

            &.value {
                @include margin(null null null 76px);

                @include media($tablet) {
                    @include margin(0);
                }
            }
        }
    }
}
