// *
// * @category    Scandiweb
// * @package     Kurufootwear/Rma
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.account.aw-rma-customer-selectorderstep {
    .column.main {
        .table-content {
            @include display(flex);
            @include align-items(center);

            @include media($tablet) {
                @include display(table-row);
            }

            .order-date {
                width: auto;
            }
        }

        .table-body {
            @include display(block);

            @include media($tablet) {
                @include display(table-row-group);
            }
        }
    }

    .blocking {
        &,
        .telephone {
            color: $clr-cinnabar;
        }

        .telephone:hover {
            color: $clr-apricot;
        }
    }

    .col.product {
        @include padding(null null null 14px);
        @include display(flex);

        @include media($tablet) {
            @include padding(null null null 0);
            @include display(table-cell);
        }

        .product-name {
            @include padding(null null null 10px);

            @include media($tablet) {
                @include padding(null null null 40px);
            }
        }

        .product-image {
            height: 70px;
            width: 70px;

            @include media($tablet) {
                height: 80px;
                width: 80px;
            }
        }
    }

    .table-header-rma {
        @include display(none);

        @include media($tablet) {
            @include display(table-row);
        }
    }

    .order-id {
        @include display(inline-block);

        @include media($tablet) {
            @include display(table-cell);
        }

        .radio-label {
            @include margin(null null 11px);
        }
    }

    .table-col.order {
        @include display(inline);
        @include flex(1);

        @include media($tablet) {
            @include display(table-cell);
        }
    }

    .table-col.order-date,
    .table-col.order-total {
        @include display(inline-block);

        @include media($tablet) {
            @include display(table-cell);
        }
    }

    .selected-item,
    .select-item {
        @include display(none);
        @include padding(null null null 15px);
        @include border-width(null 0 null 5px);
        @include border-color(null 0 null $clr-pistachio);
        @include border-style(null 0 null solid);

        @include media($tablet) {
            @include padding(null null null 0);
        }

        &,
        .table-col {
            @include background($clr-gallery);
        }

        .table-col {
            @include display(table-cell);
            text-align: left;

            &.select-message {
                @include padding(14px null);
            }
        }
    }

    .select-item {
        @include padding(0);
        @include margin(0);
        @include background(transparent);
        @include border-width(null 0 null 5px);
        @include border-color(null 0 null $clr-pistachio);
        @include border-style(null 0 null solid);

        .table-col {
            @include background($clr-gallery);
        }

        .table-padding {
            @include padding(0);
            @include margin(0);
            @include border-width(null 0 null 5px);
            @include border-color(null 0 null $clr-pistachio);
            @include border-style(null 0 null solid);
        }
    }

    .order-message {
        @include margin(8px null null);
        font-family: $source-sans-pro;
        font-weight: normal;
        text-transform: initial;
    }

    .selected-item + .select-item {
        @include display(block);

        @include media($tablet) {
            @include display(table-row);
        }
    }

    .select-order-table .col {
        text-align: left;
    }

    .table-title-rma.order-total,
    .table-col.order-total {
        @include padding(null 10px null null);
        text-align: right;

        .price {
            @include margin(null 0 null null);
        }
    }

    .sub-item-table {
        @include display(flex);

        @include media($tablet) {
            @include display(table-row);
        }

        .item-id {
            @include display(flex);
            @include align-items(center);
            @include padding(null null null 10px);

            @include media($tablet) {
                @include display(table-cell);
            }

            .order-item-select {
                font-size: 18px;
                height: 18px;
                width: 18px;
            }
        }
    }
}
