// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.aw-rma-customer-view {
    .aw-rma-list-title {
        margin-bottom: 25px;
    }

    .kf-rma-view-actions {
        @include media($tablet) {
            @include display(flex);
            @include justify-content(space-between);
            width: 100%;
        }

        @include media($desktop-small) {
            float: right;
            width: auto;
        }

        .action {
            @include media($tablet) {
                width: 33%;
            }

            @include media($desktop-small) {
                @include margin(0 auto auto 10px);
                min-width: 50px;
                width: auto;
            }
        }
    }

    .field {
        max-width: 100%;
    }

    .block-rma-general {
        @include background($clr-gallery);
        overflow: hidden;

        .fieldset {
            @include media($desktop-small) {
                float: left;
                width: 50%;
            }

            .field:not(.choice) > .label {
                @include display(block);
                margin-left: 0 !important;
                width: 45% !important;
            }
        }

        .rma-label {
            float: left;
            width: 50%;
        }
    }

    .box-rma-contact-info {
        .edit {
            @include display(flex);
            @include align-items(center);
        }

        .edit-icon {
            @include background(url('../images/edit.svg') center 12px);
            @include display(inline-block);
            @include margin(null 8px null null);
            @include size(12px);
            vertical-align: middle;
        }

        .edit-text {
            @include display(inline-block);
            color: $clr-corduroy;
            font-size: $f-size-xs;
            text-transform: none;
        }

        .info {
            @include display(inline-block);
        }
    }

    .block-items {
        @include padding(20px null);


        .block-items-title {
            font-weight: 600;
            margin-bottom: 10px;
            padding-left: 2px;
        }
    }

    .aw-rma-view-items {
        width: 100%;

        .product {
            max-width: 100px;
        }

        .price {
            text-align: right;
        }
    }

    .aw-rma-file-upload-container {
        @include media($tablet) {
            @include display(inline-block);
        }
    }

    .aw-rma-file-upload {
        @include padding(0);
        border: 0;
        border-radius: 0;
        width: 100%;
    }

    .aw-rma-attachments {
        z-index: -1;
    }

    .block-thread {
        .thread-messages {
            .aw-rma-view__thread-message {
                margin-left: 0;

                @include bp('max-width', $tablet - 1) {
                    width: 100%;
                }
            }

            .customer {
                @include background($clr-gallery);
                @include media($tablet) {
                    margin-left: 30%;
                }
            }

            .admin.auto {
                @include background($clr-feta);
            }
        }
    }
}
