<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/

/* @var $block \Aheadworks\Faq\Block\Adminhtml\Page\Menu */
?>
<div class="aw-blog-menu">
    <div class="actions dropdown closable">
        <button type="button"
                class="admin__action-dropdown"
                data-mage-init='{"dropdown":{}}'
                data-toggle="dropdown"
                aria-haspopup="true">
            <span class="admin__action-dropdown-text"><?php /* @noEscape */ echo $block->getTitle() ?></span>
        </button>
        <ul class="dropdown-menu"><?php /* @noEscape */ echo $block->getChildHtml() ?></ul>
    </div>
</div>
