<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @author       Jelena Sorohova <info@scandiweb.com>
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<?php
/**  @var $block Kurufootwear\Contact\Block\ContactInfo */
?>

<?php if ($block->getPhone() != NULL): ?>
    <div class="phone-icon"><a href="tel:<?php echo $block->getPlainPhone(); ?>" class="phone-icon-image"></a></div>
    <div class="call-text">
        <div class="speak-text"><?php echo __('Speak with a live person toll-free'); ?></div>
        <div class="call-us">
            <a class="blue" href="tel:<?php echo $block->getPlainPhone(); ?>"><?php echo $block->getPhone(); ?></a>
            <?php echo $block->getHours(); ?>
        </div>
    </div>
<?php endif; ?>
