<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<?php if ($block->isPossibleOnepageCheckout()):?>
    <div class="button-wrapper">
        <a data-role="proceed-to-checkout"  data-mage-init='{"gtmEmitter":{"onclick":{"paymentClick":"creditcard"}}}'
            title="<?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?>"
            class="button action primary green-button checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"
            <?php if (!$block->isDisabled()):?>href="<?php /* @escapeNotVerified */ echo $block->getCheckoutUrl(); ?>"<?php endif; ?>
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
                <span><?php /* @escapeNotVerified */ echo __('Proceed to Checkout') ?></span>
                <img class="checkout-lock-icon"
                     src="<?php echo $block->getViewFileUrl('images/lock.svg'); ?>"
                     alt="Proceed to checkout"/>
        </a>
    </div>
    <script>
        require([
            'disableButtonAfterClick'
        ], function (disableButtonAfterClick) {
            disableButtonAfterClick.initialize('.button[data-role="proceed-to-checkout"]');
        })
    </script>
<?php endif?>
