<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @author       Jelena Sorohova <info@scandiweb.com>
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<?php
/**  @var $block Kurufootwear\Contact\Block\ContactInfo */
?>

<div class="checkout-main-top">
    <h1 class="page-title">Safe & Secure Checkout</h1>
    <div class="questions-text">
        <?php if($block->getPhone() != NULL): ?>
            <span><?php echo __('Questions? Need Help?');?></span>
            <span><?php echo __('Call us '); ?><a href="tel:<?php echo $block->getPlainPhone(); ?>" class="blue"><?php echo $block->getPhone(); ?></a></span>
            <?php if($block->getHours() != NULL): ?>
                <span><?php echo __('(available ') . $block->getHours() . ')'; ?></span>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>

