<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Wishlist
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/** @var $block \Magento\Wishlist\Block\Customer\Wishlist\Button */
?>

<?php if ($block->getWishlist()->getItemsCount() && $block->getWishlist()->getShared() < $block->getConfig()->getSharingEmailLimit()): ?>
    <button type="submit" name="save_and_share" title="<?php echo __('Share Wish List') ?>" class="action share secondary-button">
        <span><?php echo __('Share Wish List') ?></span>
    </button>
<?php endif;?>
