<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Catalog
 * @author      Kristaps Stalidzans <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php /** @var $block \Magento\Catalog\Block\Product\Image */ ?>

<span class="product-image-container">
    <span class="product-image-wrapper">
        <img class="product-image-photo"
             <?php echo $block->getCustomAttributes(); ?>
             src="<?php echo $block->getImageUrl(); ?>"
             width="<?php echo $block->getResizedImageWidth(); ?>"
             height="<?php echo $block->getResizedImageHeight(); ?>"
             alt="<?php echo $block->stripTags($block->getLabel(), null, true); ?>"/></span>
</span>
