<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * Product list template
 *
 * @var $block \Kurufootwear\Catalog\Block\Product\ListProduct
 */
?>
<?php

use Magento\Catalog\Block\Product\ReviewRendererInterface;
use Magento\Framework\App\Action\Action;

$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php echo $block->getToolbarHtml(); ?>
<?php echo $block->getAdditionalHtml(); ?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?php echo __('We can\'t find products matching the selection.') ?></div>
    </div>
<?php else: ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php echo $viewMode; ?> products-<?php echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
            <?php $productIdentifier = 'product-' . $_product->getId(); ?>
            <?php echo($iterator++ == 1) ? '<li class="item product product-item ' . $productIdentifier . '">' :
                    '</li><li class="item product product-item ' . $productIdentifier . '">' ?>
                <div class="product-item-info-wrapper enabled">
                    <div class="product-item-info" data-container="product-grid">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                        <?php // Product Image ?>
                        <a href="<?php echo $block->getProductUrl($_product) ?>" class="product photo product-item-photo" tabindex="-1">
                            <?php echo $productImage->toHtml(); ?>
                        </a>
                        <div class="product details product-item-details">
                            <div class="static-info">
                                <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
                                <div class="static-text">
                                    <strong class="product name product-item-name">
                                        <a class="product-item-link"
                                           href="<?php echo $block->getProductUrl($_product) ?>">
                                            <?php $feName = $_product->getData('fename'); ?>
                                            <?php if ($feName): ?>
                                                <?php echo $feName; ?>
                                            <?php else:?>
                                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                            <?php endif; ?>
                                        </a>
                                    </strong>
                                    <div class="product-swatch">
                                        <p class="swatch-attribute-label">
                                            <?php $label = $block->getItemColor($_product); ?>
                                            <?php echo $label ? $label : '&nbsp'; ?>
                                        </p>
                                    </div>
                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                                    <div class="quality-price">
                                        <?php echo $block->getProductPrice($_product) ?>
                                        <div class="yotpo bottomLine"
                                             data-product-id="<?php echo $block->getProductId($_product) ?>"
                                             data-url="<?php echo $block->getProductUrl($_product) ?>">
                                        </div>
                                    </div>

                                    <div class="product-item-inner">
                                        <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                            <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                <?php if ($_product->isSaleable()): ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                    <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                                class="action tocart primary">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <div class="stock available">
                                                            <span><?php echo __('In stock') ?></span>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable">
                                                            <span><?php echo __('Out of stock') ?></span>
                                                        </div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                            <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                                <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                                    <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                                <?php endif; ?>
                                            </div>
                                        </div>
                                        <?php if ($showDescription):?>
                                            <div class="product description product-item-description">
                                                <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                                <a href="<?php echo $block->getProductUrl($_product) ?>" title="<?php echo $_productNameStripped ?>"
                                                   class="action more"><?php echo __('Learn More') ?></a>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <script>
        require([
            'jquery',
        ], function($) {
            var reInitYotpo = function(){
                yotpo.clean();
                yotpo.initWidgets();
            };

            // On infinite scroll page load
            $(document).on('load_more_page_finished', function() {
                window.yotpo && reInitYotpo();
            });
        });
    </script>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
