<ul>
    <li><a href="#headers">Headers</a></li>
    <li><a href="#inputs">Inputs</a></li>
    <li><a href="#textarea">Textarea</a></li>
    <li><a href="#radio">Radio Buttons</a></li>
    <li><a href="#checkboxes">Checkboxes</a></li>
    <li><a href="#dropdowns">Dropdowns</a></li>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#tables">Tables</a></li>
</ul>
<h2 id="headers">Headers</h2>
<h1>This is a H1 tag.</h1>
<h2>This is a H2 tag.</h2>
<h3>This is a H3 tag.</h3>
<h4>This is a H4 tag.</h4>
<h5>This is a H5 tag.</h5>
<h6>This is a H6 tag.</h6>
<br>
<h2 id="buttons">Buttons</h2>
<a class="button" href="#"><span>Default Button</span></a>
<a class="button blue-button" href="#"><span>Blue Button</span></a>
<a class="button green-button" href="#"><span>Green Button</span></a>
<a class="button blue-button arrowed" href="#"><span>Arrowed Blue Button</span></a>
<a class="button secondary-button" href="#"><span>Secondary Button</span></a>
<br>
<h2 id="links">Links</h2>
<a>Link</a>
<a class="blue">Blue link</a>
<a class="green-hover">Green hover link</a>
<a class="heading-link">Heading link</a>
<h2 id="inputs">Inputs</h2>
<br>
<div class="field"><input type="text" placeholder="First name"/></div>
<div class="field field-password"><input type="password" placeholder="Password"/></div>
<div class="field valid field-info"><input type="text" placeholder="Email*" value="John.right@mail.com"/></div>
<div class="field error"><input type="text" placeholder="Last name*" class/><span class="error-text">This is a required field</span></div>
<br>
<h2 id="textarea">Textarea</h2>
<textarea id="" name="" rows="10" cols="30"></textarea>
<br>
<h2 id="radio">Radio Buttons</h2>
<input name="radio1" type="radio" /><label for="radio1">Radio Button 1</label>
<input name="radio1" type="radio" /><label for="radio1">Radio Button 2</label>
<input name="disabledRadio" disabled="disabled" type="radio" /><label for="disabledRadio">Disabled Radio Button</label>
<input name="disabledRadio" checked="checked" disabled="disabled" type="radio" /><label for="disabledRadio">Disabled Radio Button - Checked</label>
<br>
<h2 id="checkboxes">Checkboxes</h2>
<p>&nbsp;</p>
<p><input type="checkbox" name="checkbox1" /><label for="checkbox1">Checkbox</label></p>
<p><input type="checkbox" disabled="disabled" name="checkbox2" /><label for="checkbox2">Disabled Checkbox</label></p>
<p><input type="checkbox" checked="checked" disabled="disabled" name="checkbox3" /><label for="checkbox3">Disabled Checkbox - Checked</label></p>
<h2>&nbsp;</h2>
<h2 id="dropdowns">Dropdown</h2>
<p>&nbsp;</p>
<p><select> <option value="">Option</option> </select></p>
<h2>&nbsp;</h2>
<h2>Disabled Dropdown</h2>
<p>&nbsp;</p>
<p><select disabled="disabled"> <option value="">Option</option> </select></p>
<h2>&nbsp;</h2>
<h2 id="alerts">Alerts</h2>
<p>&nbsp;</p>
<div class="page messages">
    <div data-placeholder="messages"></div>
    <div class="messages">
        <div class="message-error error message">
            <div data-bind="html: message.text">Error</div>
        </div>
        <div class="message-error alert message">
            <div data-bind="html: message.text">Alert</div>
        </div>
        <div class="message-error success message">
            <div data-bind="html: message.text">Success</div>
        </div>
        <div class="message-error notice message">
            <div data-bind="html: message.text">Notice</div>
        </div>
    </div>
</div>
<p style="clear: both;">&nbsp;</p>
<h2 id="tables">Tables</h2>
<p>&nbsp;</p>
<table class="table">
    <thead>
    <tr><th>Order #</th><th>Date</th><th>Ship To</th><th>Total</th><th>Status</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>100000068</td>
        <td>05/04/14</td>
        <td>Marc Acosta</td>
        <td>$1024.45</td>
        <td>Pending</td>
    </tr>
    <tr>
        <td>100000068</td>
        <td>05/04/14</td>
        <td>Marc Acosta</td>
        <td>$1024.45</td>
        <td>Pending</td>
    </tr>
    <tr>
        <td>100000068</td>
        <td>05/04/14</td>
        <td>Marc Acosta</td>
        <td>$1024.45</td>
        <td>Pending</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
