<div class="grey-part innovation-banner-wrapper">
    <div class="innovation-banner">
        <div class="grey-part-content innovation-banner-content">
            <div class="heading">It's not just another shoe... It's a KURU</div>
            <div class="video-wrapper" data-video-link="//www.youtube.com/watch?v=UQmpi1NYbUE">
            <span class="image-container">
                <img src="{{media url="wysiwyg/playback.svg"}}" alt="Video thumbnail" class="video-image"/>
            </span>
                <span class="text-container">
                <p class="video-text">Smarter shoes. Click to watch and learn more.</p>
            </span>
            </div>
        </div>
    </div>
</div>
<div class="grey-part">
    <div class="grey-part-content">
        <div class="heading">Hug your heels with the <strong>KURU</strong>SOLE</div>
        <p class="intro-text hug-heels-text">The patented and proven <strong>KURU</strong>SOLE works as one with nature to create the world’s most comfortable shoe.</p>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <div class="illustration">
                    <img class="technology-image" src="{{media url="wysiwyg/technology.gif"}}">
                </div>
            </div>
            <div class="two-column">
                <p>Imagine a shoe shaped like your feet to keep the natural fat pad under your foot healthy, promising improved positioning for a longer, more fulfilled life.</p>
                <p>Some of the best minds helped us combine proven orthotic support with the latest, space-age materials. What resulted exceeded even our expectations.</p>
                <p>The cutting-edge <strong>KURU</strong>SOLE hugs your heels unlike anything else. This helps keep your fat pad exactly where nature intended. It is no wonder that by working with nature, <strong>KURU</strong>SOLE helps you feel better aligned and balanced for a healthier, happier life.</p>
                <p class="italic">That. Is. Genius.</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>
<div class="max-width-wrapper power-of-three">
    <div class="heading">The power of three = True KURU comfort</div>
    <div class="white-part">
        <div class="column-wrapper reverse">
            <div class="two-column illustration-tooltips">
                <div class="illustration illustration-right">
                    <img src="{{media url="wysiwyg/kuru-shoe-expanded.png"}}">
                    <div class="blue-tooltip insoles-tooltip tooltip-toggle" option-type="2" option-label="KURU ULTIMATE INSOLES use space-age foams that are biomechanically shaped. They use your natural body heat to mold to your feet for a truly custom fit. "></div>
                    <div class="blue-tooltip kloud-tooltip tooltip-toggle" option-type="2" option-label="Our proprietary KURUCLOUD foam uses advanced polymers, improved heel strike angles and a subtle rocker sole for a silky smooth stride. "></div>
                    <div class="blue-tooltip kradl-tooltip tooltip-toggle" option-type="2" option-label="The secret to the feel good effect of KURU is the superior HEELKRADL component. This piece is the heart of our KURUSOLE technology platform. It does all the work to hug your heels so you can do more and go longer. "></div>
                </div>
            </div>
            <div class="two-column">
                <p class="part-heading">Ultimate insoles / Happy comfort</p>
                <p class="description">We use space-age foams that are biomechanically shaped, allowing your natural body heat to mold to your feet and form a truly custom fit.</p>
                <p class="part-heading"><strong>KURU</strong>CLOUD / Let time fly by</p>
                <p class="description">Super-light midsole foam uses advanced polymers, improved heel strike angles and a uniquely rockered sole design for a smooth ride.</p>
                <p class="part-heading">HEELKRADL / Love your feet</p>
                <p class="description">The heart of our <strong>KURU</strong>SOLE platform, this key component to the feel good effect of KURU hugs your heels and keeps your feet happy.</p>
            </div>
        </div>
    </div>
</div>
<script>
    require([
        'jquery',
        'Scandiweb_Slider/js/lity.min'
    ], function ($, lity) {
        'use strict';

        $(function() {
            $('.video-wrapper').click(function(e) {
                lity($('.video-wrapper').data('videoLink'));
                e.preventDefault();
            });
        });
    });
</script>
