<div class="main-part">
    <h1 class="not-found">404</h1>
    <div class="error-image">
        <img src="{{media url="wysiwyg/404-image.png"}}" alt="Not found" />
    </div>
    <div class="error-text">
        <p class="cant-find">What you were looking for doesn't exist,</p>
        <p class="cant-find">or the address has changed.</p>
        <a class="back-link blue" href="{{store url="/"}}">Return back</a>
    </div>
</div>
