<div class="max-width-wrapper">
    <div class="heading">Smarter shoes</div>

    <p class="intro-text">The proven, patented <strong>KURU</strong>SOLE&trade;. Designed by experts to work with nature for complete comfort. This is the new standard.</p>
</div>

<div class="grey-part">
    <div class="grey-part-content">
        <div class="part-heading">Hug your heels &trade;</div>
        <div class="two-column">
            <p>Imagine a shoe shaped like your feet to keep the natural fat pad under your foot healthy, promising improved positioning for a longer, more fulfilled life.</p>
            <p>Some of the best minds helped us combine proven orthotic support with the latest, space-age materials. What resulted exceeded even our expectations.</p>
            <p>The cutting-edge <strong>KURU</strong>SOLE&trade; hugs your heels unlike anything else. This helps keep your fat pad exactly where nature intended. It is no wonder that by working with nature, KURUSOLE&trade; helps you feel better aligned and balanced for a healthier, happier life.</p>
            <p class="italic">That. Is. Genius.</p>
            <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
            <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
        </div>
        <div class="two-column">
            <p>Nature designed every foot with fat pads to cushion your every step. Stop your shoes from messing with nature. <strong>KURU</strong>SOLE&trade; is crafted to hug your heels with every move.</p>
            <div class="illustration">
                <img class="technology-image" src="{{media url="wysiwyg/technology.gif"}}">
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">The power of three</div>

    <p class="intro-text">The breakthrough <strong>KURU</strong>SOLE&trade; has raised the bar for the world’s most comfortable shoe. But we didn't stop there. <strong>KURU</strong>SOLE&trade; combines with other technologies to deliver a powerful system that is healthier for your feet giving you the energy to feel amazing.</p>

    <div class="white-part">
        <div class="three-column">
            <div class="illustration">
                <img src="{{media url="wysiwyg/comfort.png"}}">
            </div>
            <p class="part-heading">Happy comfort</p>
            <p>KURU <strong>ULTIMATE INSOLES &trade;</strong> use space-age foams that are biomechanically shaped. They use your natural body heat to mold to your feet for a truly custom fit. </p>
            <p>What you get is custom molded support for premium shock absorption and reliable arch support for true happiness.</p>
        </div>
        <div class="three-column">
            <div class="illustration">
                <img src="{{media url="wysiwyg/love-feet.png"}}">
            </div>
            <p class="part-heading">Love your feet</p>
            <p>The secret to the feel good effect of KURU is the superior <strong>HEEL</strong>KRADL&trade; component. This piece is the heart of our <strong>KURU</strong>SOLE&trade; technology platform. It does all the work to hug your heels so you can do more and go longer. </p>
            <p>With the <strong>HEEL</strong>KRADL&trade; under foot, you will love being on your feet.</p>
        </div>
        <div class="three-column">
            <div class="illustration">
                <img src="{{media url="wysiwyg/time-fly.png"}}">
            </div>
            <p class="part-heading">Let time fly by</p>
            <p>Our proprietary <strong>KURU</strong>KLOUD&trade; midsole foam uses advanced polymers, improved heel strike angles and a subtle rocker sole design for a silky smooth stride.</p>
            <p><strong>KURU</strong>KLOUD&trade; keeps you refreshed so you can focus on yourself and others. With a ride this easy, time simply flies by.</p>
        </div>
    </div>
</div>
