<p>By unsubscribing below, you will be removed from all KURU email lists</p>

<form name="unsubscribe"
      class="unsubscribe"
      id="unsubscribe"
      action="{{store url='newsletter/subscriber/emailUnsubscribe'}}"
      data-mage-init='{"validation":{}}'
      method="post">
    <div class="input-wrap">
        <label class="label required">Email</label>
        <input class="text-input" placeholder="Email" type="text" name="email" data-validate="{required:true, 'validate-email':true}"><br/>
    </div>
    <input class="blue-button button" type="Submit" name="Submit" value="Unsubscribe">
</form>
