<div class="main-banner why-kuru-banner">
    <div class="banner-content">
        <div class="heading left-align">Why KURU?</div>
        <div class="two-column">
            <div class="part-heading">We believe in the power of dreams to change lives.</div>
            <p>Based in beautiful Salt Lake City, Utah - KURU is independently owned and web-driven.</p>
            <p>What started as an idea born from a child’s dream, developed into the birth of KURU and the launch
                of our direct-to-consumer model in 2009. Since then, thousands have experienced the unique style,
                superior support and unimaginable comfort of KURU, and we continue to define how footwear should feel with our relentless focus on innovation and commitment to endless comfort.</p>
            <p>We live and love to design and develop footwear that performs at the highest level, while empowering you to get out and go chase your dreams.
                With nature on our side, some science and a bit of magic; we will continue to define the future of how footwear should feel. It’s not just another shoe, it's a KURU.</p>
            <p>GO. OPEN LIFE</p>
            <a class="button blue-button arrowed" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
            <a class="button blue-button arrowed" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="column-wrapper reverse">
        <div class="three-column illustration-tooltips">
            <div class="illustration illustration-right">
                <img src="{{media url="wysiwyg/kuru-shoe-expanded.png"}}">
                <div class="blue-tooltip insoles-tooltip tooltip-toggle" option-label="KURU ULTIMATE INSOLES use space-age foams that are biomechanically shaped. They use your natural body heat to mold to your feet for a truly custom fit. "></div>
                <div class="blue-tooltip kradl-tooltip tooltip-toggle" option-label="The secret to the feel good effect of KURU is the superior HEELKRADL component. This piece is the heart of our KURUSOLE technology platform. It does all the work to hug your heels so you can do more and go longer. "></div>
                <div class="blue-tooltip kloud-tooltip tooltip-toggle" option-label="Our proprietary KURUKLOUD foam uses advanced polymers, improved heel strike angles and a subtle rocker sole for a silky smooth stride. "></div>
            </div>
        </div>
        <div class="two-thirds-column">
            <div class="heading left-align">It's not just another shoe... It's a KURU</div>
            <div class="part-heading">Technology that transforms your life</div>
            <p>Absolutely nothing touches the natural comfort and stability proven by our patented <strong>KURU</strong>SOLE.
                Unlike other shoes that flatten the fat cushion in your heel, KURU moves with every step to keep it where nature intended.
                When you work with nature, you can expect maximum results. Exercise, work, or simply seeking energy to do more, <strong>KURU</strong> can be trusted to help you feel good.</p>
            <p><strong class="uppercase">SMARTER SHOES.</strong></p>
            <a class="button blue-button" href="{{store url="innovation"}}"><span>KURUSOLE Technology</span></a>
        </div>
    </div>
</div>

<div class="grey-part">
    <div class="grey-part-content center-align">
        <div class="heading">KURU Cares</div>
        <p class="intro-text">Imagine if you had the ability to control how your favorite brands give back. With <strong>KURU</strong> CARES, you choose how we give back.</p>
        <div class="icons-part icons-two-column">
            <div class="icon-horizontal-wrapper">
                <div class="icon-wrapper">
                    <img src="{{media url="wysiwyg/education.svg"}}">
                </div>
                <div class="heading-text-wrapper">
                    <div class="part-heading">Education</div>
                    <div class="two-row-icon-text">Investing in our children for a brighter future.</div>
                </div>
            </div>
            <div class="icon-horizontal-wrapper">
                <div class="icon-wrapper">
                    <img src="{{media url="wysiwyg/environment.svg"}}">
                </div>
                <div class="heading-text-wrapper">
                    <div class="part-heading">Environmental impact</div>
                    <div class="two-row-icon-text">Reduce humanity's impact to keep the earth beautiful for all.</div>
                </div>
            </div>
            <div class="icon-horizontal-wrapper">
                <div class="icon-wrapper">
                    <img src="{{media url="wysiwyg/economics.svg"}}">
                </div>
                <div class="heading-text-wrapper">
                    <div class="part-heading">Economic development</div>
                    <div class="two-row-icon-text">Helping lift people out of abject poverty.</div>
                </div>
            </div>
            <div class="icon-horizontal-wrapper">
                <div class="icon-wrapper">
                    <img src="{{media url="wysiwyg/health.svg"}}">
                </div>
                <div class="heading-text-wrapper">
                    <div class="part-heading">Health and well-being</div>
                    <div class="two-row-icon-text">Disease research to help people live happy, longer..</div>
                </div>
            </div>
        </div>
        <p class="intro-text">We have hand-selected causes that focus on The Four Pillars of Sustainability and Social Responsibility.<br>
            By meeting these pillars, you can trust the chosen charities will make a lasting difference. Together.</p>
    </div>
</div>

<div class="difference-banner center-align">
    <div class="banner-content">
        <div class="heading">Let's make a difference. Together.</div>
        <p class="intro-text">Sustainability is about improving the world around us; creating opportunities; and leaving a legacy for our children. All of us have the
            power to effect social and environmental change. Through <strong>KURU</strong> CARES, you can take a small step to help improve our world.</p>
        <p class="intro-text">Join us as we make a difference. Simply register your purchase and select your charity of choice. Now that’s empowering!</p>
        <a class="button blue-button" href="{{store direct_url="sustainability/register-your-product.html"}}"><span>Register your purchase</span></a>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">KURU CASH REWARDS</div>
    <p class="intro-text">Loyalty deserves to be rewarded. With <strong>KURU</strong> CASH, there are four awesome ways to earn and joining is FREE!</p>
    <div class="icons-part icons-one-line">
        <div class="icon-vertical-wrapper">
            <img class="icon" src="{{media url="wysiwyg/yellow-envelope.svg"}}">
            <div class="one-row-icon-text">Sign up for KURU insider news</div>
        </div>
        <div class="icon-vertical-wrapper">
            <img class="icon" src="{{media url="wysiwyg/yellow-pen.svg"}}">
            <div class="one-row-icon-text">Write a product review</div>
        </div>
        <div class="icon-vertical-wrapper">
            <img class="icon" src="{{media url="wysiwyg/yellow-bag.svg"}}">
            <div class="one-row-icon-text">Make a purchase</div>
        </div>
        <div class="icon-vertical-wrapper">
            <img class="icon" src="{{media url="wysiwyg/yellow-arrow.svg"}}">
            <div class="one-row-icon-text">Refer a friend</div>
        </div>
    </div>
    <p class="intro-text">Getting started is easy and enrolling to receive <strong>KURU</strong> CASH is automatic.</p>
    <a class="button blue-button" href="{{store direct_url="customer-service/reward-points-and-loyalty-program.html"}}"><span>Get started</span></a>
</div>

{{block class="Magento\\Cms\\Block\\Block" block_id="yotpo-reviews"}}

{{block class="Magento\\Cms\\Block\\Block" block_id="yotpo_ugc"}}

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="grey-part exchange">
    <div class="img"></div>
    <div class="grey-part-content">
        <div class="heading">FREE Exchanges & FREE Returns</div>
        <div class="kuru-green-text days-text">For 45 days</div>
        <a class="button blue-button" href="{{store direct_url="customer-service/returns-and-exchanges.html"}}"><span>Learn more</span></a>
        <p class="intro-text uppercase">Free Shipping</p>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Our customers love KURU</div>
    <p class="intro-text">Exercising, working or simply seeking the energy to do more, <strong>KURU</strong> can be trusted to help keep you going and feeling good.</p>
    <div class="icons-part icons-one-line">
        <div class="icon-vertical-wrapper">
            <div class="kuru-green-text percentage">86%</div>
            <div class="one-row-icon-text">Recommend <strong>KURU</strong> to friends and family</div>
        </div>
        <div class="icon-vertical-wrapper">
            <div class="kuru-green-text percentage">82%</div>
            <div class="one-row-icon-text">Will buy <strong>KURU</strong> again</div>
        </div>
        <div class="icon-vertical-wrapper">
            <div class="kuru-green-text percentage">88%</div>
            <div class="one-row-icon-text">Agree that <strong>KURU</strong> is ergonomically correct for their feet</div>
        </div>
        <div class="icon-vertical-wrapper">
            <div class="kuru-green-text percentage">79%</div>
            <div class="one-row-icon-text">Agree <strong>KURU</strong> are more supportive than other shoes</div>
        </div>
    </div>
    <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
    <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
</div>
