<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Shopby
 * @author Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/**
 * @var \Kurufootwear\Shopby\Block\Navigation\State $block
 */

$_filters = $block->getActiveFilters()
?>
<div class="filter-current">
    <ol class="items">
        <li class="block-actions filter-actions up-scroll">
            <div class="items-wrapper state-filter-items filter-choose">
                <span class="filter-label">
                    <?= __('Filter products') ?>
                </span>
            </div>
        </li>

        <?php foreach ($_filters as $_filter): ?>
            <?php $_filterSetting = $block->getFilterSetting($_filter->getFilter());?>
            <li class="item am_shopby_state_container">
                <?php $clearLinkUrl = $_filter->getClearLinkUrl(); ?>
                <?php $currentFilterName = $block->escapeHtml(__($_filter->getName())) . " " . $block->stripTags($_filter->getLabel()); ?>
                <?php $filterLabels = explode(', ', $_filter->getLabel()); ?>
                <?php
                    $filters = $_filter->getValue();
                    if (count($filters) > 0) {
                        $filterOneByOne = array_combine($filters, $filterLabels);
                    } else {
                        $filterOneByOne = [];
                    }
                ?>
                <?php foreach ($filterOneByOne as $key => $value): ?>
                    <div class="items-wrapper state-filter-items">
                        <?php if ($colorData = $block->getFilterColor($_filter->getFilter()->getRequestVar(), $key)):?>
                            <div class="color-wrapper">
                                <span class="color-filter" <?= $colorData; ?>></span>
                            </div>
                        <?php endif;?>
                        <span class="filter-label">
                            <?= $block->escapeHtml(__($_filter->getName())) . ':'; ?>
                        </span>
                        <span class="filter-value">
                            <?= $value; ?>
                        </span>
                        <a class="action remove" href="<?= $this->helper('Kurufootwear\Shopby\Helper\UrlBuilder')->buildUrl($_filter->getFilter(), $value); ?>"></a>
                    </div>
                <?php endforeach; ?>
                <?php if ($clearLinkUrl): ?>
                    <a class="action previous" href="<?= $_filter->getRemoveUrl() ?>"
                       title="<?= __('Previous') ?>">
                        <span><?= __('Previous') ?></span>
                    </a>
                    <a class="action remove"
                       title="<?= $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?>"
                       href="<?= $clearLinkUrl ?>">
                        <span><?= $block->escapeHtml($_filter->getFilter()->getClearLinkText()) ?></span>
                    </a>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ol>
</div>
