<!--
/**
 * @vendor      Kurufootwear
 * @module      Magento_Customer
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Magento. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
 -->
<!--@subject {{trans "Welcome %name," name=$customer.name}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.password":"Customer Password",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p>
    {{trans "Welcome %name to %store_name." name=$customer.name store_name=$store.getFrontendName()}}
    {{trans " An account has been created for you. Your account makes it super easy to exchange or return an order, redeem your KURU Cash and access previous orders."}}
</p>
<p>
    {{trans "If you haven't already, we recommend changing your password to something you will remember. "}}
    {{trans 'To update your password, use the password below to <a href="%customer_url">Login</a> to <a href="%customer_url">My Account</a> page:'

        customer_url=$this.getUrl($store,'customer/account/',[_nosid:1])
    |raw}}
</p>
<ul class="email-password-wrapper">
    <li class="account-info">Use the following information when prompted to log in:</li>
    <li><strong>{{trans "Email:"}}</strong> {{var customer.email}}</li>
    <li><strong>{{trans "Password:"}}</strong> <em>{{trans "Password you set when creating account"}}</em></li>
</ul>
<p>{{trans "Your account at KURU lets you:"}}</p>
<ul>
    <li>{{trans "Easily process returns and exchanges"}}</li>
    <li>{{trans "Earn and redeem KURU Rewards Points"}}</li>
    <li>{{trans "Access your previous orders"}}</li>
    <li>{{trans "More quickly proceed through checkout when making a purchase"}}</li>
    <li>{{trans "Store alternative addresses (for shipping to multiple family members and friends!)"}}</li>
</ul>
<p>{{trans 'Have questions? Please contact a KURU GURU at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</p>
{{template config_path="design/email/footer_template"}}
