<!--
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Checkout
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->

<div class="shipping-address-item" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <div class="address">
        <div class="line"><!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko --> <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --></div>
        <div class="line"><!-- ko text: address().street --><!-- /ko --></div>
        <div class="line"><!-- ko text: address().city --><!-- /ko -->, <!-- ko text: address().region --><!-- /ko --> <!-- ko text: address().postcode --><!-- /ko --></div><br/>
        <div class="line"><!-- ko text: getCountryName(address().countryId) --><!-- /ko --></div>
        <div class="line"><!-- ko text: address().telephone --><!-- /ko --></div>
    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
    <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
    <!-- ko if: element[attribute].value != null -->
        <div class="line"><!-- ko text: element[attribute].value --><!-- /ko --></div>
    <!-- /ko -->
    <!-- ko if: element[attribute].value == null -->
        <div class="line"><!-- ko text: element[attribute] --><!-- /ko --></div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    </div>
    <div class="address-interact">
        <button type="button" data-bind="click: selectAddress" class="action blue-button action-select-shipping-item">
            <span data-bind="i18n: 'Ship Here'"></span>
        </button>
    </div>
</div>
