<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Shopby
 * @author Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
use Amasty\Shopby\Model\Layer\Filter\Category;
?>
<?php
/** @var \Amasty\Shopby\Model\FilterSetting $filterSetting */
/** @var \Kurufootwear\Shopby\Block\Navigation\FilterRenderer $block */

$filterUniqId = $block->escapeId(uniqid());
?>
<?php if ($filterSetting->isShowSearchBox()): ?>
    <div class="amshopby-search-box">
        <input type="text" class="am_shopby_filter_search_box_<?php echo $filterSetting->getFilterCode(); ?>"
               placeholder="<?php echo __('Search') ?>">
    </div>
<?php endif; ?>

<ol class="items am_shopby_filter_items_<?php echo $filterSetting->getFilterCode(); ?>">
    <form data-amshopby-filter="<?php echo $filterSetting->getFilterCode(); ?>">
        <?php /** @var \Amasty\Shopby\Model\Layer\Filter\Item $filterItem */ ?>
        <?php foreach ($filterItems as $filterItem): ?>
            <?php $uniqId = uniqid(); ?>
            <?php $inputType = !$filterSetting->isMultiselect() || in_array($filterSetting->getFilterCode(), ['rating', 'stock']) ? 'radio' : 'checkbox' ?>
            <li class="item" data-label="<?php echo $this->escapeHtml($filterItem->getLabel()) ?>">
                <?php if ($filterItem->getCount() > 0): ?>
                    <?php $checked = $this->checkedFilter($filterItem) ? ' checked' : ''; ?>
                    <a
                        <?php if ($block->getFilter() instanceof Category) echo 'amshopby-forceload="1"'; ?>
                            class="am_shopby_filter_item_<?php echo $block->escapeId($uniqId) ?> <?php if ($filterItem->getName() == 'Color') {
                                echo 'tooltip-toggle';
                            } ?>"
                            href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>"
                        <?php if ($filterItem->getName() == 'Color'): ?>
                            <?php echo $block->getAttribute($filterItem->getValueString()); ?>
                            <?php echo ' option-label="' . $this->escapeHtml($filterItem->getLabel()) . '"'; ?>
                        <?php endif; ?>>
                        <?php if ($inputType == 'checkbox' || $block->getRadioAllowed()): ?>
                            <input
                                    name="amshopby[<?php echo $block->getFilter()->getRequestVar(); ?>][]"
                                    value="<?php echo $filterItem->getValueString(); ?>"
                                    type="<?php echo $inputType; ?>"
                                    style="<?php echo(in_array($filterSetting->getFilterCode(), ['rating', 'stock']) ? 'display: none;' : '') ?>"
                                <?php echo $checked ?>
                            />
                        <?php endif; ?>
                        <span class="label">
                    <?php echo $filterItem->getLabel(); ?>
                </span>
                    </a>
                <?php else: ?>
                    <span class="label">
                <?php echo $filterItem->getLabel(); ?>
            </span>
                <?php endif; ?>
                <script type="text/x-magento-init">
                    {
                        ".am_shopby_filter_item_<?php echo $block->escapeId($uniqId) ?>": {
                            "amShopbyFilterItemDefault": {
                                "collectFilters": <?php echo $block->collectFilters(); ?>
                            }
                        }
                    }
                </script>
            </li>
        <?php endforeach; ?>
    </form>
</ol>

<?php if ($filterSetting->getAddFromToWidget() && isset($fromToConfig) && is_array($fromToConfig)) :?>
    <div id="am_shopby_filter_widget_<?php echo $filterSetting->getFilterCode(); ?>">
        <form data-amshopby-filter="<?php echo $filterSetting->getFilterCode();?>">
            <input
                type="hidden"
                amshopby-fromto-id="value"
                <?php if ($fromToConfig['from'] && $fromToConfig['to']) :?>
                    value="<?php echo $fromToConfig['from'];?>-<?php echo ($fromToConfig['to']);?>"
                <?php endif;?>
                name="<?php echo 'amshopby[' .$block->getFilter()->getRequestVar() . '][]'
                ?>"/>
            <div class="range">
                <input
                    class="amshopby-filter-price-from"
                    data-validate="{'validate-number':true}"
                    amshopby-fromto-id="from"
                    type="text" class="input-text" placeholder="<?php echo __('From')?>"/>
                <input
                    class="amshopby-filter-price-to"
                    data-validate="{'validate-number':true}"
                    amshopby-fromto-id="to"
                    type="text" class="input-text" placeholder="<?php echo __('To')?>"/>
                <?php if (!$block->collectFilters()):?>
                    <button class="amshopby-filter-price-go"
                            amshopby-fromto-id="go"
                        ><?php echo __('Go')?></button>
                <?php endif;?>
            </div>
        </form>
    </div>
    <script type="text/x-magento-init">
        {
            "#am_shopby_filter_widget_<?php echo $filterSetting->getFilterCode(); ?>": {
                "amShopbyFilterFromTo": {
                        "enabled": <?php echo ($filterSetting->getAddFromToWidget() ? '1' : '0')?>,
                        "collectFilters": <?php echo $block->collectFilters();?>,
                        "from":"<?php echo $fromToConfig['from'];?>",
                        "to":"<?php echo $fromToConfig['to'];?>",
                        "min":"<?php echo $fromToConfig['min'];?>",
                        "max":"<?php echo $fromToConfig['max'];?>",
                        "isSlider":0,
                        "url": "<?php echo $block->getSliderUrlTemplate(); ?>"
                    }
            }
        }
    </script>
<?php endif;?>

<?php if($filterSetting->isShowSearchBox()): ?>
    <script type="text/x-magento-init">
        {
            ".am_shopby_filter_search_box_<?php echo $filterSetting->getFilterCode()?>": {
                "amShopbyFilterSearch": {
                    "highlightTemplate": "<span class='amshopby-hightlighted'>$&</span>",
                    "itemsSelector": ".am_shopby_filter_items_<?php echo $filterSetting->getFilterCode();?>"
                }
            }
        }
    </script>
<?php endif; ?>

<?php if($filterSetting->getNumberUnfoldedOptions()): ?>
    <button class="amshopby-more-button">
        <a class="am_shopby_filter_items_<?php echo $filterSetting->getFilterCode()?>_show_more" data-text-more="<?php echo __("More")?>" data-text-less="<?php echo __("Less")?>" href="javascript:void(0)" data-is-hide="false">
            <?php echo __("Less")?>
        </a>
    </button>
    <script type="text/x-magento-init">
        {
            ".am_shopby_filter_items_<?php echo $filterSetting->getFilterCode()?>": {
                "amShopbyFilterHideMoreOptions": {
                    "numberUnfoldedOptions": <?php echo $filterSetting->getNumberUnfoldedOptions()?>,
                    "buttonSelector": ".am_shopby_filter_items_<?php echo $filterSetting->getFilterCode()?>_show_more"
                }
            }
        }
    </script>
<?php endif; ?>
