<?php
/**
 * Header promo block template
 *
 * @vendor      Scandiweb
 * @module      Scandiweb_Promo
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 *
 * @var $block Scandiweb\Promo\Block\Promo
 */
?>
<?php if ($block->isEnabled()): ?>
    <div id="header_block_promo" class="header-block-promo">
        <div class="inner">
            <span class="header-block-text">
                <?php echo $block->getChildHtml('header.promo') ?>
            </span>
            <span class="header-block-x">&#10005;</span>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        "#header_block_promo": {
            "Scandiweb_Promo/js/showPromo": {}
        }
    }
    </script>
<?php endif; ?>
