<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Contact
 * @author Kristaps Stalidzans <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<div class="contact-wrapper">
    <div class="contact-form-wrapper">
        <?php echo $block->getChildHtml('google.maps') ?>
        <form class="form contact"
              action="<?php echo $block->getFormAction(); ?>"
              id="contact-form"
              method="post"
              data-hasrequired="<?php echo __('* Indicates required field') ?>"
              data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <div class="field email required">
                    <label class="label" for="email">
                        <span><?php echo __('Email') ?></span>
                    </label>
                    <div class="control">
                        <input name="email" id="email"
                               title="<?php echo __('Email') ?>"
                               value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>"
                               class="input-text"
                               type="email"
                               placeholder="<?php echo __('Email') ?>"
                               data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <div class="field name required">
                    <label class="label" for="name">
                        <span><?php echo __('Name') ?></span>
                    </label>
                    <div class="control">
                        <input name="name" id="name"
                               title="<?php echo __('Name') ?>"
                               placeholder="<?php echo __('Name') ?>"
                               value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>"
                               class="input-text"
                               type="text"
                               data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field telephone">
                    <label class="label" for="telephone">
                        <span><?php echo __('Phone Number') ?></span>
                    </label>
                    <div class="control">
                        <input name="telephone" id="telephone"
                               placeholder="<?php echo __('Phone Number') ?>"
                               title="<?php echo __('Phone Number') ?>"
                               value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>"
                               class="input-text"
                               type="text" />
                    </div>
                </div>
                <div class="field comment required">
                    <label class="label" for="comment">
                        <span><?php echo __('What’s on your mind?') ?></span>
                    </label>
                    <div class="control">
                        <textarea name="comment" id="comment"
                                  title="<?php echo __('What’s on your mind?') ?>"
                                  placeholder="<?php echo __('Message text') ?>"
                                  class="input-text"
                                  cols="5"
                                  rows="3"
                                  data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form.additional.info'); ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <input type="hidden" name="hideit" id="hideit" value="" />
                    <button type="submit" title="<?php echo __('Submit') ?>" class="action submit primary button blue-button">
                        <span><?php echo __('Submit') ?></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
