.faq-index-index,
.faq-article-index,
.faq-category-index,
.faq-search-index {
    .page-main {
        @include outer-container();
        @include padding($default-indent);

        @include media($desktop-small) {
            @include margin(10px auto);
            @include padding(null $default-indent);
        }
    }

    .page-title-wrapper {
        @include margin($default-indent null null);
        @include display(block);
    }

    .block-links {
        .link-list {
            @include display(block);
            @include margin(5px null);
            @include padding(0);
            width: 100%;

            @include media($mobile-large) {
                @include display(flex);
            }
        }

        .list-item {
            @include margin(0);
            @include padding(0);
            @include margin(10px null);
            @include span-columns(12);
            font-family: $source-sans-pro;
            font-size: $f-size;
            line-height: 18px;
            list-style-type: none;

            @include media($mobile-large) {
                @include span-columns(6);
            }
        }
    }

    .get-help {
        @include clearfix;

        .block-title {
            font-family: $montserrat;
            font-size: $f-size-xxl;
            font-weight: normal;
            line-height: 21px;
            text-align: center;
        }

        .list-item {
            color: $clr-picton-blue;
            text-align: center;
        }
    }

    .aw-faq-search {
        @include margin(0 auto);
        width: 100%;

        @include media($desktop-small) {
            width: 50%;
        }

        .aw-search-field {
            @include display(inline-block);
            width: 100%;
        }

        .aw-faq-search-form {
            width: 100%;
        }

        .input-text {
            width: 100%;

            @include media($desktop-small) {
                @include calc(width, '100% - 180px');
            }
        }

        .action {
            @include display(inline-block);
            @include margin(10px 0 0);
            @include padding(13px 15px);
            float: right;
            width: 100%;


            @include media($desktop-small) {
                @include margin(0);
                width: inherit;
            }
        }
    }
}

.faq-index-index {
    .aw-container {
        @include margin(10px null null);

        .aw-column {
            @include span-columns(12);
            @include margin(10px null);
            @include padding(5px);
            @include border-color($clr-alto);
            @include border-style(solid);
            @include border-width(1px);

            @include media($desktop-small) {
                @include span-columns(3);
                width: 30.23176%;
            }
        }

        .aw-column:nth-of-type(3n+3) {
            @include media($desktop-small) {
                margin-right: 0;
            }
        }

        .article-list {
            width: 100%;
        }

        .category-name {
            font-family: $montserrat;
            font-size: $f-size;
            font-weight: normal;
            text-align: center;

            a {
                @include padding(0);
                @include margin(0 auto);
            }
        }

        .article-link {
            @include margin(5px null);
            font-family: $source-sans-pro;
            font-size: $f-size;
            font-weight: 400;
        }

        .list-item {
            @include margin(5px null);
        }
    }

    .contact-wrapper {
        @include display(block);
        @include padding(50px null);

        @include media($desktop-small) {
            @include display(flex);
        }
    }

    .contact-form-wrapper,
    .contact-info-block {
        width: 100%;

        @include media($desktop-small) {
            @include margin(null null 10px);
            width: 50%;
        }
    }

    .contact-info-block {
        @include padding(30px);

        .contact-list,
        .link-list {
            @include margin(0);
            @include padding(0);
        }

        .contact-list {
            @include media($desktop-small) {
                padding-left: 50px;
            }
        }

        .list-item {
            @include margin(0);
            @include padding(0);
            list-style-type: none;
        }

        .block-title {
            @include margin(null null 20px);
            color: $clr-video-banner;
            font-family: $montserrat;
            font-size: $f-size-l;
            text-transform: uppercase;
        }
    }

    .block-contact {
        .list-item {
            @include display(block);
            width: 100%;

            @include media($tablet) {
                @include display(inline-flex);
                @include margin(10px null);
                width: 49%;
            }

            @include media($desktop-small) {
                @include display(flex);
                @include margin(20px null);
                width: 100%;
            }

            &:first-of-type {
                @include media($desktop-small) {
                    margin-top: 0;
                }
            }
        }

        .icon-wrapper {
            @include margin(null auto);
            @include padding(10px null);
            float: inherit;

            @include media($tablet) {
                @include display(block);
                @include margin(null 25px);
                @include padding(0 null);
            }

            @include media($desktop-small) {
                @include display(inline-block);
                @include padding(10px 30px 10px 10px);
                @include margin(null 0);
                float: left;
            }
        }

        .contact-icon {
            @include display(block);
            @include margin(null auto);
            @include padding(null 10px);
            height: 46px;
            width: auto;

            @include media($tablet) {
                @include margin(null 0);
                @include padding(null 0);
            }

            @include media($desktop-small) {
                height: 30px;
            }

        }

        .list-item-wrapper {
            @include margin(0 null);
            text-align: center;

            @include media($tablet) {
                @include margin(5px null);
                text-align: left;
            }
        }

        .phone,
        .list-links,
        .list-dates {
            color: $clr-picton-blue;
        }

        .list-text {
            font-family: $source-sans-pro;
            font-size: $f-size;
            line-height: 14px;
        }

        .list-title {
            text-transform: uppercase;
        }
    }

    .contact-form-wrapper {
        .legend {
            font-family: $montserrat;
            font-size: $f-size;
            font-weight: bold;
            line-height: 14px;
            text-transform: uppercase;
        }

        .fieldset {
            @include border-width(0);
            @include margin(0);
            @include padding(0);
        }

        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;

            > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-video-banner;
                line-height: 18px;
                text-transform: uppercase;

                @include media($mobile-large) {
                    @include span-columns(3);
                }
            }

            &.required > .label::after {
                color: $clr-cinnabar;
                content: '*';
            }
        }

        .control {
            @include span-columns(12);

            @include media($mobile-large) {
                @include span-columns(9);
            }
        }

        .actions-toolbar {
            @include display(inline-block);
            width: 100%;

            @include media($desktop-small) {
                @include display(flex);
                @include align-items(center);
                @include justify-content(space-between);
            }
        }

        .primary {
            float: right;
            width: 100%;

            @include media($desktop-small) {
                max-width: 300px;
                width: inherit;
            }
        }

        .indicator {
            color: $clr-cinnabar;
        }

        .ask-question,
        .block-title,
        .ask-form {
            font-family: $source-sans-pro;
            font-size: $f-size;
            font-weight: 400;
        }

        .block-title {
            font-size: $f-size-xxxl;
        }

        .ask-question {
            padding-bottom: 15px;
        }

        .ask-form-wrapper {
            padding-top: 10px;
            width: 100%;

            .ask-form {
                @include margin(5px 0);
                float: inherit;
                text-align: left;

                @include media($desktop-small) {
                    float: right;
                }
            }
        }
    }
}

.faq-search-index {
    .results-list .article-list {
        width: 100%;
    }

    h3 {
        @include margin(5px null);
    }

    .aw-list-style {
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;
    }
}

.faq-article-index {
    .aw-page-container {
        @include margin(30px null null);
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;
    }
}

.faq-category-index {
    .aw-page-container {
        @include margin(0 null null);
        width: 100%;
    }

    .aw-list-style {
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: 400;
    }
}
