<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
 /** @var \Magento\Framework\View\Element\Template $block */ ?>

<span>
    <?php /* @noEscape */ echo __('Thank you for voting!'); ?>&nbsp
    <a href="<?php echo $block->escapeUrl($block->getLink()) ?>">
        <?php echo $block->escapeHtml($block->getMessage()); ?>
    </a>
</span>
