<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Catalog
 * @author      Aleksejs Baranovs <info@scandiweb.com>
 * @copyright   Copyright (c) 2018 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
    $required = '';
    if ($block->hasRequiredOptions()) {
        $required = ' data-hasrequired="' . __('* Required Fields') . '"';
    }
?>
<div class="product-options-wrapper initializing" id="product-options-wrapper"<?php echo $required ?>>
    <div class="fieldset" tabindex="0">
        <?php echo $block->getChildHtml('', true) ?>
    </div>
</div>
