// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.breadcrumbs {
    @include display(none);

    @include media($desktop-small) {
        @include display(block);
        @include outer-container();
        @include margin(10px auto 0);
    }

    .items {
        @include media($desktop-small) {
            @include padding(0 $default-indent);
            @include margin(0);
        }

        .item:not(:last-of-type)::after {
            @include media($desktop-small) {
                content: ' / ';
            }
        }

        .item a:hover {
            @include media($desktop-small) {
                color: $clr-picton-blue;
            }
        }
    }

    .item,
    .item * {
        @include media($desktop-small) {
            @include display(inline-block);
            color: $clr-corduroy;
            font-size: $f-size-s;
            font-weight: normal;
        }
    }
}
