// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

button,
.button,
%button {
    @include background($clr-gallery);
    @include display(inline-block);
    @include padding(16px);
    @include position(relative);
    border: 0;
    border-radius: 0;
    clear: both;
    cursor: pointer;
    float: left;
    font-family: $base-font-family;
    font-size: $f-size-xxxl;
    line-height: $base-font-size;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;

    @include media($tablet) {
        min-width: 170px;
        width: auto;
    }

    @include media($desktop-small) {
        @include padding(12px 27px);
        font-size: $base-font-size;
    }

    &.blue-button {
        @include button-transition();
    }

    &.orange-button {
        @include button-transition($clr-anzac, $clr-tussock);
    }

    &.green-button {
        @include button-transition($clr-pistachio, $clr-pistachio-hover);
    }

    &.grey-button {
        @include button-transition($clr-desert-storm, $clr-quill-gray, $clr-ebony-clay);
    }

    &.black-button {
        @include button-transition($clr-black, $clr-greyish-brown);
    }

    &.secondary-button {
        @include background(none);
        @include transition(color .25s);
        box-shadow: inset 0 0 0 1px $secondary-button-hover-color;
        color: $secondary-button-hover-color;
        font-weight: normal;

        @include media($desktop-small) {
            @include padding(12px 17px);
            box-shadow: inset 0 0 0 1px $secondary-button-color;
            color: $secondary-button-color;
        }

        &::before,
        &::after {
            @include media($desktop-small) {
                @include position(absolute);
                border: 2px solid transparent;
                content: '';
                height: 0;
                left: 0;
                top: 0;
                width: 0;
            }
        }

        &:hover {
            @include media($desktop-small) {
                color: $secondary-button-hover-color;
            }

            &:disabled {
                @include media($desktop-small) {
                    color: $secondary-button-color;
                }
            }

            &::before,
            &::after {
                @include media($desktop-small) {
                    height: 100%;
                    width: 100%;
                }
            }

            &::before {
                @include media($desktop-small) {
                    @include transition(width .25s ease-out, height .25s ease-out .25s);
                    border-right-color: $secondary-button-hover-color;
                    border-top-color: $secondary-button-hover-color;
                }
             }

            &::after {
                @include media($desktop-small) {
                    @include transition(height .25s ease-out, width .25s ease-out .25s);
                    border-bottom-color: $secondary-button-hover-color;
                    border-left-color: $secondary-button-hover-color;
                }
            }
        }
    }

    &:disabled,
    &.disabled {
        cursor: auto;
        opacity: .5;
        pointer-events: none;

        &::before,
        &::after {
            @include transition-property(none);
            border: 0;
        }
    }

    &.arrowed,
    &.back-arrowed,
    .back-arrowed {
        &::before {
            @include position(absolute);
            font-family: FontAwesome;
            font-weight: normal;
            z-index: 1;
        }
    }

    &.arrowed {
        padding-right: 40px;

        &::before {
            content: '\f105';
            right: 20px;
        }

        &:hover,
        &:focus {
            &::before {
                @include animation(jump 1s infinite);
            }
        }
    }

    &.back-arrowed,
    .back-arrowed {
        &::before {
            content: '\f104';
            left: 20px;
        }

        &:hover,
        &:focus {
            &::before {
                @include animation(jump-back 1s infinite);
            }
        }
    }

    .button-title {
        white-space: normal;
    }

    .back-arrowed {
        @include position(absolute, 0 null null 0);
        @include size(100%);
        padding-top: 16px;
        z-index: 2;

        @include media($desktop-small) {
            padding-top: 12px;
        }

        ~ .button-text {
            padding-left: 25px;

            @include media($desktop-small) {
                padding-left: 15px;
            }
        }
    }
}

.pages-items {
    @include clearfix;
    list-style: none;

    .label {
        @include display(none);
    }

    .item {
        @include display(block);
        // border: solid 2px $clr-iron;
        // color: $base-button-border-color;
        float: left;
        height: 47px;
        line-height: 43px;
        margin-right: 7px;
        text-align: center;
        width: 46px;

        @include media($tablet) {
            height: 29px;
            line-height: 25px;
            margin-right: 7px;
            width: 28px;
        }

        &:hover {
           // border-color: $base-button-border-color;
            cursor: pointer;
        }

        &.current {
            // border-color: $clr-yellow;

            &:hover {
                cursor: auto;
            }
        }

        a {
            @include display(block);
            height: 100%;
            text-decoration: none;
            width: 100%;
        }

        &.pages-item-next {
            line-height: 41px;

            @include media($tablet) {
                line-height: 23px;
            }

            span {
                @include display(none);
            }

            &::before {
                @include display(block);
                content: '>';
            }
        }

        &.pages-item-previous {
            line-height: 41px;

            @include media($tablet) {
                line-height: 23px;
            }

            span {
                @include display(none);
            }

            &::before {
                @include display(block);
                content: '<';
            }
        }

        &.disabled {
            &:hover {
                // @include border-color($clr-iron);
            }

            &::before {
                // color: $clr-iron;
            }
        }
    }
}

.not-active-link {
    cursor: default;
    pointer-events: none;
}
