// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *
// scss-lint:disable QualifyingElement

.hidden {
    display: none;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="checkbox"],
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
textarea {
    @include border-color($clr-dusty-gray);
    @include border-style(solid);
    @include border-width(1px);
    @include padding(16px);
    -webkit-appearance: none;
    color: $clr-bluewood;
    font-family: $source-sans-pro;
    font-size: $base-font-size;
    font-weight: 400;
    height: 48px;
    width: 100%;

    @include media($tablet) {
        @include padding(12px);
        height: 40px;
        line-height: 18px;
    }

    &.mage-error,
    ~ .mage-error {
        @include border-color($clr-cinnabar);
        color: $clr-cinnabar;
    }

    &:hover,
    &:focus {
        @include border-color($clr-picton-blue);
    }
}

input,
textarea {
    @include placeholder {
        color: $clr-silver-chalice;
        font-family: $source-sans-pro;
        font-weight: 400;
        text-transform: capitalize;
    }
}

input[type="radio"] {
    @include display(none);

    + label,
    + .label {
        @include display(inline-block);
        @include padding(null null null 25px);
        @include position(relative);
        cursor: pointer;
        font-size: $base-font-size;
        line-height: $base-font-size;

        &::before {
            @include border-color($clr-white);
            @include border-style(solid);
            @include border-width(1px);
            @include display(inline-block);
            @include position(absolute);
            @include size(12px);
            background: $clr-white;
            border-radius: 10px;
            box-shadow: 0 0 0 1px $clr-alto;
            content: '';
            left: 0;
            top: 1px;
            visibility: visible;
        }
    }

    &:not(:disabled) + label:hover::before,
    &:not(:disabled) + .label:hover::before {
        box-shadow: 0 0 0 1px $clr-picton-blue;
    }

    &:not(:disabled) + label:hover::after,
    &:not(:disabled) + .label:hover::after,
    &:checked + label::after,
    &:checked + .label::after {
        @include display(block);
        @include position(absolute);
        @include size(10px);
        border-radius: 10px;
        content: '';
        left: 1px;
        top: 2px;
        visibility: visible;
    }

    &:not(:disabled):not(:checked) + label:hover::after,
    &:not(:disabled):not(:checked) + .label:hover::after {
        background-color: $clr-alto;
    }

    &:checked + label::after,
    &:checked + .label::after {
        background-color: $clr-picton-blue;
    }
}

input[type="checkbox"] {
    @include appearance(inherit);
    @include background($clr-white);
    @include border-color($clr-alto);
    @include border-style(solid);
    @include border-width(1px);
    @include position(relative);
    @include size(12px);

    + label,
    + .label {
        @include padding(null null null 10px);
    }

    &:not(:disabled):hover {
        @include border-color($clr-picton-blue);
    }

    &:checked::after {
        @include position(absolute);
        @include transform(translate(-50%, -50%));
        color: $clr-pistachio;
        content: '\2713';
        left: 50%;
        top: 50%;
    }
}

textarea {
    @include padding(12px null);
    height: 85px;
    resize: vertical;
}

input[type="range"] {
    @include background-image(linear-gradient($clr-pistachio, $clr-pistachio));
    @include margin(auto);
    @include padding(0);
    -webkit-appearance: none;
    background-color: $clr-alto;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    border-radius: 10px;
    cursor: pointer;
    height: 6px;
    outline: none;
    width: 50%;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        box-shadow: none;
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: $clr-pistachio;
        border: 1px solid $clr-white;
        border-radius: 100%;
        box-shadow: 0 0 1px 0 $clr-black-one;
        height: 14px;
        width: 14px;
    }

    &::-moz-range-thumb {
        background: $clr-pistachio;
        border: 0;
        border-radius: 100%;
        box-shadow: 0 0 1px 0 $clr-black-one;
        height: 14px;
        width: 14px;
    }
}

.field {
    @include display(inline-block);
    @include margin(null 5px null null);
    @include position(relative);
    float: left;
    margin-bottom: 10px;
    width: 100%;

    @include media($tablet) {
        max-width: 360px;
    }

    &.field-password {
        &::after {
            @include display(inline-block);
            @include position(absolute);
            color: $clr-silver-chalice;
            content: '\f06e';
            font-family: FontAwesome;
            right: 17px;
            top: 14px;

            @include media($tablet) {
                top: 9px;
            }
        }

        input[type="password"] {
            padding-right: 35px;
        }
    }

    &.field-phone {
        &::before {
            content: '';
            display: inline-block;
            left: 16px;
            position: absolute;
            top: 19px;

            @include media($tablet) {
                top: 17px;
            }
        }

        input {
            padding-left: 44px;
        }
    }

    &.field-info {
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 13px;
            top: 15px;

            @include media($tablet) {
                top: 13px;
            }
        }

        input {
            padding-right: 35px;
        }
    }

    .error-text {
        bottom: 0;
        display: none;
        font-size: $f-size-xs;
        left: 0;
        line-height: $f-size-xs;
        position: absolute;
        width: 100%;
    }

    div.mage-error {
        color: $clr-cinnabar;
    }

    &.error {
        padding-bottom: 16px;

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            border-color: $clr-cinnabar;
        }

        .error-text {
            color: $clr-cinnabar;
            display: inline-block;
        }
    }
}

select {
    @include appearance(none);
    @include background($clr-white);
    @include border-color($clr-silver-chalice);
    @include border-style(solid);
    @include border-width(1px);
    @include clearfix();
    @include padding(null 32px null 18px);
    @include position(relative);
    @include size(100% 48px);
    border-radius: 0;
    cursor: pointer;
    font-size: $f-size;
    line-height: 14px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    visibility: hidden;
    text-transform: uppercase;

    @include media($tablet) {
        width: 200px;
    }

    &::before {
        @include display(inline-block);
        @include position(absolute);
        color: $clr-silver-chalice;
        content: '\f106';
        font-family: FontAwesome;
        right: 17px;
        top: 14px;
    }
}

.selectric-wrapper {
    .selectric,
    .selectric-items,
    .button::after {
        @include border-color($clr-silver-chalice);
        @include border-style(solid);
        @include border-width(1px);
    }

    .selectric {
        @include background(transparent);

        .label {
            @include margin(0);
            @include padding(0 50px 0 12px);
            color: $clr-corduroy;
            font-size: $f-size;
            height: 40px;
            line-height: 40px;
        }

        .button {
            @include background($clr-white);
            @include margin(0);
            @include padding(null 24px);
            min-width: 0;

            &::after {
                @include display(block);
                @include size(7px);
                @include transform(rotate(315deg));
                border-width: 0 0 1px 1px;
            }
        }
    }

    .selectric-items {
        @include background($clr-white);

        li {
            @include padding(12px);
            color: $clr-corduroy;
            font-size: $f-size;

            &.highlighted,
            &.selected,
            &:hover {
                @include background($clr-alabaster);
            }

            &.disabled::after {
                content: 'Not available';
                float: right;
                font-size: $f-size-xxs;
            }
        }

        // .selectric-scroll::before {
        //    @include position(absolute);
        //    @include size(100%);
        //    background-image: linear-gradient(to bottom, transparent 75%, $clr-white);
        //    content: '';
        // }
    }

    &.selectric-hover,
    &.selectric-open {
        z-index: 1;

        .selectric {
            @include border-color($clr-picton-blue);
        }
    }

    &.selectric-open {
        // Workaround to fix safari zoom out bug
        overflow: visible !important;
        z-index: 2;

        .selectric {
            .button::after {
                @include transform(rotate(135deg));
                top: 8px;
            }
        }
    }
}

*:focus {
    outline: none;
}
// scss-lint:enable QualifyingElement
