// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *
.row {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    clear: both;
    content: '';
    display: table;
}

.row .col {
    box-sizing: border-box;
    float: left;
    padding: 0 .75rem;
}

.row .col.no-padding {
    padding: 0;
}

.row .col.s1 {
    margin-left: 0;
    width: 8.33333%;
}

.row .col.s2 {
    margin-left: 0;
    width: 16.66667%;
}

.row .col.s3 {
    margin-left: 0;
    width: 25%;
}

.row .col.s4 {
    margin-left: 0;
    width: 33.33333%;
}

.row .col.s5 {
    margin-left: 0;
    width: 41.66667%;
}

.row .col.s6 {
    margin-left: 0;
    width: 50%;
}

.row .col.s7 {
    margin-left: 0;
    width: 58.33333%;
}

.row .col.s8 {
    margin-left: 0;
    width: 66.66667%;
}

.row .col.s9 {
    margin-left: 0;
    width: 75%;
}

.row .col.s10 {
    margin-left: 0;
    width: 83.33333%;
}

.row .col.s11 {
    margin-left: 0;
    width: 91.66667%;
}

.row .col.s12 {
    margin-left: 0;
    width: 100%;
}

.row .col.offset-s1 {
    margin-left: 8.33333%;
}

.row .col.offset-s2 {
    margin-left: 16.66667%;
}

.row .col.offset-s3 {
    margin-left: 25%;
}

.row .col.offset-s4 {
    margin-left: 33.33333%;
}

.row .col.offset-s5 {
    margin-left: 41.66667%;
}

.row .col.offset-s6 {
    margin-left: 50%;
}

.row .col.offset-s7 {
    margin-left: 58.33333%;
}

.row .col.offset-s8 {
    margin-left: 66.66667%;
}

.row .col.offset-s9 {
    margin-left: 75%;
}

.row .col.offset-s10 {
    margin-left: 83.33333%;
}

.row .col.offset-s11 {
    margin-left: 91.66667%;
}

.row .col.offset-s12 {
    margin-left: 100%;
}

@media only screen and (min-width : $tablet) {
    .row .col.m1 {
        margin-left: 0;
        width: 8.33333%;
    }

    .row .col.m2 {
        margin-left: 0;
        width: 16.66667%;
    }

    .row .col.m3 {
        margin-left: 0;
        width: 25%;
    }

    .row .col.m4 {
        margin-left: 0;
        width: 33.33333%;
    }

    .row .col.m5 {
        margin-left: 0;
        width: 41.66667%;
    }

    .row .col.m6 {
        margin-left: 0;
        width: 50%;
    }

    .row .col.m7 {
        margin-left: 0;
        width: 58.33333%;
    }

    .row .col.m8 {
        margin-left: 0;
        width: 66.66667%;
    }

    .row .col.m9 {
        margin-left: 0;
        width: 75%;
    }

    .row .col.m10 {
        margin-left: 0;
        width: 83.33333%;
    }

    .row .col.m11 {
        margin-left: 0;
        width: 91.66667%;
    }

    .row .col.m12 {
        margin-left: 0;
        width: 100%;
    }

    .row .col.offset-m1 {
        margin-left: 8.33333%;
    }

    .row .col.offset-m2 {
        margin-left: 16.66667%;
    }

    .row .col.offset-m3 {
        margin-left: 25%;
    }

    .row .col.offset-m4 {
        margin-left: 33.33333%;
    }

    .row .col.offset-m5 {
        margin-left: 41.66667%;
    }

    .row .col.offset-m6 {
        margin-left: 50%;
    }

    .row .col.offset-m7 {
        margin-left: 58.33333%;
    }

    .row .col.offset-m8 {
        margin-left: 66.66667%;
    }

    .row .col.offset-m9 {
        margin-left: 75%;
    }

    .row .col.offset-m10 {
        margin-left: 83.33333%;
    }

    .row .col.offset-m11 {
        margin-left: 91.66667%;
    }

    .row .col.offset-m12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width : $desktop) {
    .row .col.l1 {
        margin-left: 0;
        width: 8.33333%;
    }

    .row .col.l2 {
        margin-left: 0;
        width: 16.66667%;
    }

    .row .col.l3 {
        margin-left: 0;
        width: 25%;
    }

    .row .col.l4 {
        margin-left: 0;
        width: 33.33333%;
    }

    .row .col.l5 {
        margin-left: 0;
        width: 41.66667%;
    }

    .row .col.l6 {
        margin-left: 0;
        width: 50%;
    }

    .row .col.l7 {
        margin-left: 0;
        width: 58.33333%;
    }

    .row .col.l8 {
        margin-left: 0;
        width: 66.66667%;
    }

    .row .col.l9 {
        margin-left: 0;
        width: 75%;
    }

    .row .col.l10 {
        margin-left: 0;
        width: 83.33333%;
    }

    .row .col.l11 {
        margin-left: 0;
        width: 91.66667%;
    }

    .row .col.l12 {
        margin-left: 0;
        width: 100%;
    }

    .row .col.offset-l1 {
        margin-left: 8.33333%;
    }

    .row .col.offset-l2 {
        margin-left: 16.66667%;
    }

    .row .col.offset-l3 {
        margin-left: 25%;
    }

    .row .col.offset-l4 {
        margin-left: 33.33333%;
    }

    .row .col.offset-l5 {
        margin-left: 41.66667%;
    }

    .row .col.offset-l6 {
        margin-left: 50%;
    }

    .row .col.offset-l7 {
        margin-left: 58.33333%;
    }

    .row .col.offset-l8 {
        margin-left: 66.66667%;
    }

    .row .col.offset-l9 {
        margin-left: 75%;
    }

    .row .col.offset-l10 {
        margin-left: 83.33333%;
    }

    .row .col.offset-l11 {
        margin-left: 91.66667%;
    }

    .row .col.offset-l12 {
        margin-left: 100%;
    }
}
