// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.list {
    @include clearfix;
    @include display(block);
    list-style: none;
    margin: 0;
    max-width: 630px;
    padding: 0;
    width: 100%;

    li {
        display: block;
        float: left;
        width: 100%;
    }

    span {
        @include display(block);
        width: 100%;

        @include media($tablet) {
            float: left;
            max-width: 144px;
            width: 50%;
        }
    }
}
