// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.message {
    @include display(block);
    @include margin(10px null);
    @include padding(10px 12px);
    border-left: 4px solid;
    clear: both;
    color: $clr-gunsmoke;
    width: 100%;

    @include media($desktop-small) {
        float: left;
        width: auto;
    }

    &.success {
        @include border-color($clr-atlantis);
        background-color: $clr-rum-swizzle;
    }

    &.error {
        @include border-color($clr-cardinal);
        background-color: $clr-fantasy;
    }

    &.notice {
        @include border-color($clr-picton-blue);
        background-color: $clr-polar;
    }
}

.messages {
    @include padding(0 20px);
    min-width: 100%;

    @include media($desktop-small) {
        @include display(block);
        @include outer-container();
        min-width: 0;
    }
}

// Exceptions to the message padding style
.account,
.checkout-index-index,
.catalog-category-view {
    .messages {
        @include padding(null 0);
    }
}

.page.messages {
    @include padding(0);
}
