// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *
// Creates arrow using two borders and rotate degrees.
// @access public
// @example scss - Usage
//   .foo {
//     @include arrow();
//   }
@mixin arrow($direction: right, $height: 10px, $thickness: 2px, $color: $clr-mid-gray, $angle: 45deg) {
    border: $thickness solid $color;
    border-width: 0 0 $thickness $thickness;

    @if $direction == right {
        $angle: 225deg;
    }

    @if $direction == left {
        $angle: 45deg;
    }

    @if $direction == up {
        $angle: 135deg;
    }

    @if $direction == down {
        $angle: 315deg;
    }

    @include transform(rotate($angle));
    display: block;
    height: $height;
    width: $height;
}

$mq-support: true !default;
$mq-fixed-value: 1366px !default;

@mixin bp($feature, $value) {
    // Set global device param
    $media: only screen;

    // Media queries supported
    @if $mq-support == true {

        @media #{$media} and ($feature: $value) {
            @content;
        }

        // Media queries not supported
    } @else {

        @if $feature == 'min-width' {
            @if $value <= $mq-fixed-value {
                @content;
            }
        } @else if $feature == 'max-width' {
            @if $value >= $mq-fixed-value {
                @content;
            }
        }

    }
}

@mixin cross($height: 10px, $color: $clr-mid-gray, $angle: 45deg) {
    @include background(linear-gradient(to bottom, transparent 45%, $color 50%, $color 50%, transparent 65%),
        linear-gradient(to right, transparent 50%, $color 50%, $color 50%, transparent 65%));
    @include transform(rotate($angle));
    content: '';
    display: block;
    height: $height;
    width: $height;
}

@mixin cross-small($height: 10px, $color: $clr-mid-gray, $angle: 45deg) {
    @include background(linear-gradient(to bottom, transparent 40%, $clr-black 60%, $clr-black 60%, transparent 35%),
            linear-gradient(to right, transparent 40%, $clr-black 60%, $clr-black 50%, transparent 35%));
    @include transform(rotate($angle));
    content: '';
    display: block;
    height: $height;
    width: $height;
}

// Mixin to customize scrollbars
// Beware, this does not work in all browsers
// @author Hugo Giraudel
// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
// @param {Color} $foreground-color - Scrollbar's color
// @param {Color} $background-color [mix($primary, white, 75%)] - Scrollbar's color
// @example scss - Scrollbar styling
// @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, $clr-white, 50%)) {
    ::-webkit-scrollbar {
        height: $size;
        width: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    // body {
    //   scrollbar-face-color: $foreground-color;
    //   scrollbar-track-color: $background-color;
    // }
}

// css3 mixin for text-shadow
@mixin text-shadow($shadow...) {
    $shadow: if(length($shadow) > 0, $shadow, default);
    $shadows-without-spread: join((), (), comma);
    $shadows: join((), (), comma);
    $has-spread: false;
    @each $layer in $shadow {
        $layer: if($layer == "default", $default, $layer);
        @if length($layer) > 4 {
            $has-spread: true;
            $shadows-without-spread: append($shadows-without-spread, nth($layer, 1) nth($layer, 2) nth($layer, 3) nth($layer, 5));
            $shadows: append($shadows, $layer);
        } @else {
            $shadows-without-spread: append($shadows-without-spread, $layer);
            $shadows: append($shadows, $layer);
        }
    }
    @if $has-spread {
        text-shadow: $shadows-without-spread;
    }
    text-shadow: $shadows;
}


@mixin button-transition($button-background: $clr-picton-blue, $button-hover-background: $clr-danube, $button-text-color: $clr-white) {
    @include padding(16px null);
    @include text-decoration(none);
    @include user-select(none);
    background-color: $button-background;
    color: $button-text-color;
    font-weight: bold;
    outline: 0 none;
    overflow: hidden;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;

    @include media($desktop-small) {
        @include padding(12px 17px);
    }

    > * {
        color: $button-text-color;
        position: relative;
        z-index: 1;
    }

    &::after {
        @include media($desktop-small) {
            @include position(absolute);
            @include transform(skewX(-20deg));
            @include transition(all 450ms cubic-bezier(.19, 1, .22, 1));
            @include transition-timing-function(ease-in-out);
            background-color: $button-hover-background;
            content: '';
            height: 100%;
            right: 115%;
            top: 0;
            width: 140%;
        }
    }

    &:hover,
    &:focus {
        &:disabled {
            &::after {
                background-color: $button-background;
            }

        }

        &::after {
            @include media($desktop-small) {
                right: -20%;
            }
        }
    }
}

@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        -#{$prefix}-#{$property}: $value;
    }

    #{$property}: $value;
}

@mixin transition-multiple($value) {
    @include prefix(transition, unquote($value), 'webkit' 'moz');
}

// Style sequential blocks into columns
// Mixin must be added to parent
// Creates appropriate width and spacing between columns
@mixin columns($columns, $spacing) {
    margin-right: calc(#{$spacing} * 1px);
    width: calc((100% / #{$columns}) - ((1px * #{$spacing} * (#{$columns} - 1)) / #{$columns}));

    &:nth-of-type(#{$columns}n) {
        margin-right: 0;
    }
}

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
    &:nth-child(#{$nth}+1) { clear: none; }
}
