// /**
// * @category     Kurufootwear
// * @package      Kurufootwear/default
// * @author       Aleksejs Baranovs <info@scandiweb.com>
// * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
// */

// Not checkout, because checkout sidebar is made using modal
body:not(.checkout-index-index) {
    // scss-lint:disable SelectorFormat
    &._has-modal {
        @include size(100%);
        overflow: hidden;
    }

    .modals-wrapper {
        display: block;

        .modal-popup {
            @include position(fixed, 0);
            overflow-y: auto;
            visibility: hidden;
            z-index: 900;

            &._show {
                visibility: visible;

                .modal-inner-wrap {
                    transform: translateY(0);
                }
            }
        }
    }
    // scss-lint:enable SelectorFormat

    .modals-overlay {
        @include position(fixed, 0);
        background-color: $clr-modal-overlay;
        z-index: 899;
    }

    .modal-inner-wrap {
        @include margin(5rem auto);
        @include padding(35px);
        @include position(absolute, 0 0 null);
        @include size(95% auto);
        background-color: $clr-white;
        box-shadow: 0 0 10px $clr-border-shadow;
        max-width: 800px;
        transition: all .2s ease-in;
        transform: translateY(-200%);

        @include media($tablet) {
            @include size(75% auto);
        }
    }

    .modal-content {
        @include margin(10px null);
    }

    .modal-header {
        text-align: right;

        .action-close {
            @include border-width(0);
            @include margin(0);
            @include padding(0);
            @include size(30px);
            background: none;
            min-width: 0;

            &::before {
                @include cross(20px);
            }

            > span {
                display: none;
            }
        }
    }
}
