// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *


.fa-facebook-official:hover {
    color: $clr-havelock-blue;
}

.fa-twitter:hover {
    color: $clr-viking;
}

.fa-google-plus,
.fa-youtube-play,
.fa-pinterest {
    &:hover {
        color: $clr-mandy;
    }
}

.fa-instagram:hover {
    background: linear-gradient(35.83deg, $clr-lightning-yellow 0%, $clr-radical-red 35%, $clr-purple-heart 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sociallogin {
    @include background(none !important);
    @include border-color($clr-silver-chalice);
    @include border-style(solid);
    @include border-width(1px);
    color: $clr-silver-chalice;
    font-weight: normal;
    text-transform: none;

    @include media($tablet) {
        clear: none;
        min-width: 0;
    }

    @include media($desktop-small) {
        @include padding(12px 17px);
    }

    &:hover {
        color: $clr-silver-chalice;
    }

    &::before {
        @include display(inline-block);
        font-family: FontAwesome;
        margin-right: 5px;
    }
}

.sociallogin-facebook {
    color: $clr-havelock-blue;

    &:hover {
        color: $clr-havelock-blue;
    }

    &::before {
        content: '\f09a';
    }
}

.sociallogin-twitter {
    color: $clr-viking;

    &:hover {
        color: $clr-viking;
    }

    &::before {
        content: '\f099';
    }
}

.sociallogin-google {
    color: $clr-mandy;

    &:hover {
        color: $clr-mandy;
    }

    &::before {
        content: '\f0d5';
    }
}
