// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.table {
    @include display(block);
    border-collapse: collapse;
    color: $clr-gunsmoke;
    text-align: center;
    width: 100%;

    @include media($tablet) {
        @include display(table);
    }

    th {
        @include border-color($clr-white);
        @include border-width(2.5px);
        @include border-style(solid);
        @include padding(12px 19px);
        @include position(absolute);
        background-color: $clr-quill-gray;
        color: $clr-bluewood;
        left: -9999px;
        top: -9999px;

        @include media($tablet) {
            @include display(table-cell);
            @include position(static);
            font-weight: bold;
        }

        &:first-of-type {
            @include media($tablet) {
                border-left: 0;
            }
        }

        &:last-of-type {
            @include media($tablet) {
                border-right: 0;
            }
        }
    }

    tr {
        @include display(block);

        @include media($tablet) {
            @include display(table-row);
        }

        &:nth-child(even) {
            background-color: $clr-desert-storm;
        }

        &:nth-child(odd) {
            background-color: $clr-alabaster;
        }
    }

    tbody {
        @include display(block);

        @include media($tablet) {
            @include display(table-row-group);
        }
    }

    td {
        @include display(block);
        @include position(relative);
        border-left: 2.5px solid $clr-white;
        border-right: 2.5px solid $clr-white;
        min-height: 25px;
        padding-left: 50%;

        @include media($tablet) {
            @include display(table-cell);
            @include padding(8px 13px);
        }

        &:first-of-type {
            @include media($tablet) {
                border-left: 0;
            }
        }

        &:last-of-type {
            @include media($tablet) {
                border-right: 0;
            }
        }

        &::before {
            @include display(inline-block);
            @include position(absolute);
            content: attr(data-th);
            font-weight: 700;
            left: 0;
            top: 0;
            width: 45%;

            @include media($tablet) {
                @include display(none);
            }
        }
    }
}
