// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *
body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
    text-transform: uppercase;
}

h1 {
    font-size: $f-size-xl;
    font-weight: 700;
    line-height: $f-size-xl;
}

h2 {
    font-size: $f-size-xxxl;
    font-weight: 600;
    line-height: $f-size-xxxl;
}

h3 {
    font-size: $f-size-xxl;
    line-height: $f-size-xxl;
}

h4 {
    font-size: $f-size-l;
    line-height: $f-size-l;
}

strong {
    font-weight: bold;
}

a {
    color: $base-font-color;
    text-decoration: none;

    &:hover {
        color: $base-link-color;
    }

    &.blue {
        color: $base-link-color;

        &:hover {
            text-decoration: underline;
        }
    }

    &.green {
        color: $clr-pistachio;

        &:hover {
            text-decoration: underline;
        }
    }

    &.green-hover:hover {
        color: $clr-pistachio;
    }

    &.heading-link {
        @include position(relative);
        font-family: $heading-font-family;
        font-weight: bold;
        text-transform: uppercase;

        &::before,
        &::after {
            @include display(block);
            @include position(absolute);
            @include background($clr-pistachio);
            @include transition(width .3s ease-in-out);
            bottom: 0;
            content: '';
            height: 1px;
            width: 0;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &:hover {
            color: $base-font-color;

            &::before,
            &::after {
                width: 50%;
            }
        }
    }
}

.submenu-link,
.href-link {
    font-size: $f-size-xs;
    line-height: 45px;
    text-transform: uppercase;

    @include media($tablet) {
        float: left;
        font-weight: 600;
        width: 25%;
    }

    @include media($desktop-small) {
        float: none;
        font-size: $f-size;
        font-weight: normal;
        line-height: 25px;
        text-transform: none;
        width: auto;
    }

    &.size {
        @include background($clr-alabaster);
        @include border-color($clr-silver-chalice);
        @include border-style(solid);
        @include border-width(1px);
        @include display(table-cell);
        @include margin(null 3px 3px null);
        @include padding(0);
        @include size(56px 45px);
        color: $clr-corduroy;
        float: left;
        font-size: $f-size;
        text-align: center;

        @include media($desktop-small) {
            @include size(36px 28px);
            font-size: $f-size-xs;
        }
    }

    &.size:hover {
        @include media($desktop-small) {
            @include background($clr-picton-blue);
            color: $clr-white;
        }
    }

    &.color {
        @include background($clr-black);
        @include border-color($clr-white);
        @include border-style(solid);
        @include border-width(1px);
        @include display(block);
        @include margin(1px 15px 15px 1px);
        @include size(40px);
        border-radius: 30px;
        box-shadow: 0 0 0 1px $clr-silver-chalice;
        color: transparent;
        float: left;

        @include media($desktop-small) {
            @include size(30px);
        }
    }

    &.color:hover {
        @include media($desktop-small) {
            box-shadow: 0 0 0 1px $clr-picton-blue;
        }
    }

    &.color-black {
        @include background(linear-gradient(135deg, $clr-gray 0%, $clr-black 100%));
    }

    &.color-grey {
        @include background(linear-gradient(135deg, $clr-silver 0%, $clr-gray 100%));
    }

    &.color-white {
        @include background(linear-gradient(135deg, $clr-white 0%, $clr-gallery 100%));
    }

    &.color-blue {
        @include background(linear-gradient(135deg, $clr-azure-radiance 0%, $clr-resolution-blue 100%));
    }

    &.color-green {
        @include background(linear-gradient(135deg, $clr-conifer 0%, $clr-apple 100%));
    }

    &.color-brown {
        @include background(linear-gradient(135deg, $clr-roman-coffee 0%, $clr-milbrook 100%));
    }

    &.color-yellow {
        @include background(linear-gradient(135deg, $clr-yellow 0%, $clr-lightning-yellow 100%));
    }

    &.color-orange {
        @include background(linear-gradient(135deg, $clr-yellow-orange 0%, $clr-flamenco 100%));
    }

    &.color-red {
        @include background(linear-gradient(135deg, $clr-red 0%, $clr-sangria 100%));
    }

    &.color-pink {
        @include background(linear-gradient(135deg, $clr-colonial-white 0%, $clr-amaranth 100%));
    }

    &.color-purple {
        @include background(linear-gradient(135deg, $clr-lavander 0%, $clr-affair 100%));
    }

    &.color-multi {
        @include background(linear-gradient(135deg, $clr-red 0%, $clr-orange 25%, $clr-yellow 40%, $clr-green 55%, $clr-cyan 70%, $clr-blue 85%, $clr-violet 100%));
    }

    &.bold {
        font-weight: bold;
    }
}

p a {
    color: $base-link-color;

    &:hover {
        text-decoration: underline;
    }
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}
