// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *
// Breakpoints
$mobile: 320px;
$mobile-i: 375px; // iphone 6, 6s, 7, 8, X
$mobile-ip: 414px; // iphone 6+, 6s+, 7+, 8+
$mobile-medium: 425px;
$mobile-medium-l: 480px;
$mobile-large: 600px;
$tablet: 768px;
$tablet-medium: 900px;
$desktop-small: 1024px;
$desktop-small-l: 1130px;
$desktop-small-xl: 1250px;
$desktop: 1366px;
$desktop-medium: 1395px;
$desktop-large: 1440px;

// Grid settings
$max-width: $desktop;
$gutter: 14px;

// Product page gallery
$pdp-gallery-height-small: 400px;
$pdp-gallery-height: 600px;

// Slider height
$slider-height-hp: 100%;

// Font Sizes
$f-size-35xl: 50px;
$f-size-28xl: 43px;
$f-size-25xl: 40px;
$f-size-20xl: 35px;
$f-size-19xl: 34px;
$f-size-18xl: 33px;
$f-size-17xl: 32px;
$f-size-16xl: 31px;
$f-size-15xl: 30px;
$f-size-14xl: 29px;
$f-size-13xl: 28px;
$f-size-12xl: 27px;
$f-size-11xl: 26px;
$f-size-10xl: 25px;
$f-size-9xl: 24px;
$f-size-8xl: 23px;
$f-size-7xl: 22px;
$f-size-6xl: 21px;
$f-size-5xl: 20px;
$f-size-xxxxl: 19px;
$f-size-xxxl: 18px;
$f-size-xxl: 17px;
$f-size-xl: 16px;
$f-size-l: 15px;

$f-size: 14px;

$f-size-s: 13px;
$f-size-xs: 12px;
$f-size-xxs: 11px;
$f-size-xxxs: 10px;

$f-size-filters: $f-size;

// Colors
$clr-white:             #fff;
$clr-alabaster:         #f7f7f7;
$clr-gallery:           #efefef;
$clr-iron:              #d1d4d9;
$clr-silver-chalice:    #b2b2b2;
$clr-gray-chateau:      #a7afb5;
$clr-corduroy:          #707372;
$clr-bone:              #ebe0d0;
$clr-amber:             #f6be00;
$clr-jaffa:             #f28f34;
$clr-linen:             #fbebeb;
$clr-cinnabar:          #e54545;
$clr-burn-umber:        #862633;
$clr-link-water:        #d3eaf5;
$clr-picton-blue:       #51b5e0;
$clr-hippie-blue:       #6ba4b8;
$clr-bluewood:          #243746;
$clr-salt-box:          #5d4e64;
$clr-feta:              #f3fbeb;
$clr-pistachio:         #8cd600;
$clr-black:             #000;
$clr-light-gray:        #f0efef;
$clr-dark:              #2b3540;
$clr-rebeca-purple:     #639;
$clr-red:               #f00;
$clr-yotpo-blue:        #3085c7;
$clr-fiord:             #425362;

// Custom opacity colors
$clr-black-zero:            rgba(0, 0, 0, 0);
$clr-black-zero-five:       rgba(0, 0, 0, .05);
$clr-black-one:             rgba(0, 0, 0, .1);
$clr-black-five:            rgba(0, 0, 0, .5);
$clr-bluewood-zero-eight:   rgba(36, 55, 70, .08);
$clr-dusty-gray-one-six:    rgba(151, 151, 151, .16);
$clr-grey-two:              rgba(142, 142, 142, .2);
$clr-grey-five:             rgba(142, 142, 142, .5);
$clr-alto-four:             rgba(216, 216, 216, .4);
$clr-alabaster-five:        rgba(247, 247, 247, .5);
$clr-white-three:           rgba(255, 255, 255, .3);
$clr-white-eight-five:      rgba(255, 255, 255, .95);
$clr-transparent:           rgba(255, 255, 255, 0);
$clr-picton-blue-seven:     rgba(81, 181, 224, .7);
$clr-modal-overlay:         rgba(51, 51, 51, .55);
$clr-border-shadow:         rgba(0, 0, 0, .08);

// Social icons colors
$clr-lightning-yellow:  #fabd2e;
$clr-mandy:             #e05151;
$clr-radical-red:       #fb3e60;
$clr-viking:            #60b4e1;
$clr-havelock-blue:     #5b88d9;
$clr-purple-heart:      #6b39dd;

// Hover colors
$clr-pistachio-hover:   #84cb00;


$clr-gray-four:         #f4f4f4;
$clr-desert-storm:      #f0f0ef;
$clr-gray-seven:        #e0e0e0;
$clr-mercury:           #e3e3e3;
$clr-quill-gray:        #d7d7d6;
$clr-alto:              #d3d3d3;
$clr-dusty-gray:        #979797;
$clr-gunsmoke:          #7a7d7c;
$clr-jumbo:             #737078;
$clr-tundora:           #494949;
$clr-mako:              #3e474c;
$clr-anzac:             #ddab4d;
$clr-tussock:           #c69944;
$clr-fantasy:           #f9eceb;
$clr-apricot:           #ec7373;
$clr-cardinal:          #d22525;
$clr-polar:             #edf5fb;

$clr-light-blue:        #41b6e6;
$clr-light-blue-2:      #65c4eb;
$clr-danube:            #56a1ca;
$clr-ebony-clay:        #2c3540;
$clr-rum-swizzle:       #f5fbec;
$clr-atlantis:          #9cd242;
$clr-sushi:             #84b537;
$clr-greyish-brown:     #505050;
$clr-light-black:       #2b3540;
$clr-black:             #000;
$clr-greyish-brown:     #505050;
$clr-mine-shaft:        #222222;
$clr-video-banner:      #253746;
$clr-grey-white:        #efefef;
$clr-warm-grey:         #9d9d9d;
$clr-promo-hover:       #f7f5f5;


// Temporary solution
$clr-gray-light: #515558;
$clr-dark-border: #d6d6d6;
$clr-dark-spacer: #e0e0e0;
$clr-gray: #808080;
$clr-silver: #c0c0c0;
$clr-azure-radiance: #0575e6;
$clr-resolution-blue: #021b79;
$clr-conifer: #a8e063;
$clr-apple: #56ab2f;
$clr-roman-coffee: #795548;
$clr-milbrook: #5d4037;
$clr-red: #f00;
$clr-sangria: #a00000;
$clr-colonial-white: #ffedbc;
$clr-yellow-orange: #ffa73d;
$clr-flamenco: #ff7f04;
$clr-orange: #ffa500;
$clr-yellow: #ff0;
$clr-green: #008000;
$clr-cyan: #0ff;
$clr-blue: #00f;
$clr-violet: #7f00ff;
$clr-amaranth: #ed4264;
$clr-lavander: #d04ed6;
$clr-affair: #834d9b;
$clr-link: #40b2e1;
$clr-blue-stars: #53b4df;
$clr-kuru-green: #80d018;
// ----------------


// Fonts
@include font-face('Montserrat', '../fonts/Montserrat-Hairline', 100, normal, $file-formats: ttf otf);
@include font-face('Montserrat', '../fonts/Montserrat-UltraLight', 200, normal, $file-formats: ttf otf);
@include font-face('Montserrat', '../fonts/Montserrat-Light', 300, normal, $file-formats: ttf otf);
@include font-face('Montserrat', '../fonts/Montserrat-Regular', normal, normal, $file-formats: ttf otf);
@include font-face('Montserrat', '../fonts/Montserrat-SemiBold', 600, normal, $file-formats: ttf otf);
@include font-face('Montserrat', '../fonts/Montserrat-Bold', bold, normal, $file-formats: ttf otf);
@include font-face('Montserrat', '../fonts/Montserrat-ExtraBold', 800, normal, $file-formats: ttf otf);
@include font-face('Montserrat', '../fonts/Montserrat-Black', 900, normal, $file-formats: ttf otf);

$montserrat: 'Montserrat', 'Helvetica', 'Arial', sans-serif;

@include font-face('SourceSansPro', '../fonts/SourceSansPro-ExtraLight', 200, normal, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-ExtraLightIt', 200, italic, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-Light', 300, normal, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-LightIt', 300, italic, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-Regular', normal, normal, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-Semibold', 600, normal, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-SemiboldIt', 600, italic, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-Bold', 700, normal, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-BoldIt', 700, italic, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-Black', 900, normal, $file-formats: ttf otf);
@include font-face('SourceSansPro', '../fonts/SourceSansPro-BlackIt', 900, italic, $file-formats: ttf otf);

$source-sans-pro: 'SourceSansPro', 'Helvetica', 'Arial', sans-serif;

// Typography
$base-font-family: $source-sans-pro;
$heading-font-family: $montserrat;
$base-font-weight: normal;
$base-font-size: $f-size;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: $clr-bluewood;
$base-link-color: $clr-picton-blue;
$clr-mid-gray: #808080;
$slider-font-color: $clr-greyish-brown;

// Base colors
$clr-cards: $clr-grey-white;
$clr-card-text: $clr-video-banner;
$clr-card-caret: $clr-warm-grey;
$clr-header-text: $clr-video-banner;

// Indents
$default-indent: 20px;

// Sizes
$arrowsize: 10px;

// Button
$secondary-button-color:        $clr-dusty-gray;
$secondary-button-hover-color:  $clr-picton-blue;
// $base-button-background: $clr-white;
// $base-button-hover-background: $clr-tuna;
// $base-button-border-color: $clr-tuna;
// $base-button-color: $clr-vulcan;
// $base-button-hover-color: $clr-white;
// $base-button-font-family: $helvetica-condensed;

// Spinner
$duration: 700ms;

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// ========================================
// Animation speed
// ========================================
$menuDropdownSpeed: .3s; // For desktop menu dropdowns
$menuSlideOutSpeed: .3s; // Menu slide out speed on tablet and mobile
$menuSlideDownSpeed: .3s; // Sticky header animations speed

// Keyframes
@keyframes jump {
    0% {
        right: 20px;
    }

    50% {
        right: 15px;
    }

    100% {
        right: 20px;
    }
}

@keyframes jump-back {
    0% {
        left: 20px;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 20px;
    }
}

@keyframes subscribe-jump {
    0% {
        right: 12px;
    }

    50% {
        right: 9px;
    }

    100% {
        right: 12px;
    }
}

@keyframes jump-slider-right {
    0% {
        left: 8px;
    }

    50% {
        left: 4px;
    }

    100% {
        left: 8px;
    }
}

@keyframes jump-slider-left {
    0% {
        right: 7px;
    }

    50% {
        right: 2px;
    }

    100% {
        right: 7px;
    }
}
