<?php
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */

/**
 * @var \Amazon\Payment\Block\Minicart\Button $block
 */
$config = [
    'Amazon_Payment/js/amazon-button' => [
        'buttonType' => 'PwA'
    ]
];

$tooltipConfig = [
    'dropdown' => [
        'activeClass' => '_active'
    ]
];
?>

<div id="minicart-amazon-pay-button" class="main-container amazon-minicart-container">
    <div class="amazon-info-tooltip field-tooltip-content tooltip-toggle" data-target="dropdown" aria-hidden="true"
         option-label="<?= __('Are you an Amazon customer? Pay now with address and payment details stored in your Amazon account.'); ?>">
        <img class="info-tooltip-icon"
             src="<?php echo $block->getViewFileUrl('images/info-icon.svg'); ?>"
             alt="Pay with Amazon"/>
    </div>
    <a class="amazon-button-container secondary-button button" data-mage-init='{"gtmEmitter":{"onclick":{"paymentClick":"amazon"}}}'>
        <div class="amazon-button">
            <div id="PayWithAmazon-<?php echo $block->getParentBlock()->getJsId() ?>"
                 class="login-with-amazon"
                 data-mage-init='<?php /* @noEscape */ echo json_encode($config); ?>'>
                <span class="amazon-title minicart-hidden">
                    <?= _('Pay with Amazon Pay') ?>
                </span>
                <img class="amazon-icon minicart-hidden"
                     src="<?php echo $block->getViewFileUrl('images/amazon-icon.svg'); ?>"
                     alt="Pay with Amazon"/>
            </div>
        </div>
        <div class="amazon-minicart-button"></div>
    </a>
</div>
