<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Wishlist
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/* @var $block \Magento\Wishlist\Block\Customer\Wishlist\Item\Options */
?>

<?php $options = $block->getOptionList(); ?>

<div class="tooltip wrapper product-item-tooltip">
    <?php if ($options): ?>
        <div class="tooltip content">
            <dl class="item-options-content">
                <?php foreach ($options as $option): ?>
                    <dt class="item-option-label"><?php echo $block->escapeHtml($option['label']) . ':' ?></dt>
                    <dd class="item-option-value">
                        <?php if (is_array($option['value'])): ?>
                            <?php echo nl2br(implode("\n", $option['value'])) ?>
                        <?php else: ?>
                            <?php echo $option['value'] ?>
                        <?php endif; ?>
                    </dd>
                <?php endforeach; ?>
            </dl>
        </div>
    <?php endif ?>
</div>
