<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Wishlist
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/* @var $block \Magento\Wishlist\Block\Customer\Wishlist */
?>

<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
    <?php echo($block->getChildHtml('wishlist.rss.link'));?>
    <div class="section-header">
        <span class="section-title"><?php echo __('My Wishlist'); ?></span>
        <?php echo $block->getChildHtml('wishlist.share.button');?>
    </div>
    <div class="wishlist-form-wrapper">
        <div class="form-heading">
            <span class="name-heading"><?php echo __('Product name'); ?></span>
            <span class="price-heading center"><?php echo __('Unit price'); ?></span>
            <span class="actions-heading center"><?php echo __('Actions'); ?></span>
        </div>
        <form class="form-wishlist-items" id="wishlist-view-form"
              data-mage-init='{"wishlist":{
          "addToCartUrl":<?php echo $block->getItemAddToCartParams("%item%");?>,
          "addAllToCartUrl":<?php echo $block->getAddAllToCartParams(); ?>,
          "commentString":""},
          "validation": {}}' action="<?php echo $block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()]) ?>" method="post">
            <?php echo $block->getChildHtml('top'); ?>
            <?php if ($block->hasWishlistItems()): ?>
                <?php echo $block->getBlockHtml('formkey');?>
                <?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?>
                <?php echo $block->getChildHtml('items');?>
            <?php else: ?>
                <div class="message info empty"><span><?php echo __('You have no items in your wish list.') ?></span></div>
            <?php endif ?>
            <?php echo $block->getChildHtml('bottom'); ?>
            <div class="actions-toolbar">
                <div class="primary">
                    <?php echo $block->getChildHtml('control_buttons');?>
                </div>
                <div class="secondary">
                    <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back button secondary-button">
                        <span><?php echo __('Back') ?></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <script id="form-tmpl" type="text/x-magento-template">
      <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
          <% if (data.qty) { %>
          <input name="qty" value="<%- data.qty %>">
          <% } %>
          
          <% if (data.item) { %>
          <input name="item" value="<%- data.item %>">
          <% } %>
          
          <% if (data.entity) { %>
          <input name="entity" value="<%- data.entity %>">
          <% } %>
      </form>
  </script>
<?php endif ?>
