{{template config_path="design/email/header_template"}}

<p>Dear {{var request.getCustomerName()}}!<p>
    {{var content}}
    {{depend request.getNotifyHasComment()}}
    {{var depname}}:<br />
    {{var request.getNotifyCommentText()}}
    {{/depend}}
<p>View your <a href="{{var request.getUrl()}}"><strong>{{var request.getRequestTypeName()}} request</strong></a>
    by visiting the following link <a href="{{var request.getUrl()}}">{{var request.getUrl()}}</a>.</p>

{{template config_path="design/email/footer_template"}}