{{template config_path="design/email/header_template"}}

<p>Dear {{var request.getCustomerName()}}<p>
    {{var content}}
    {{depend request.getNotifyHasComment()}}
    {{var depname}}:<br />
    {{var request.getNotifyCommentText()}}
    {{/depend}}
<p>To view your {{var request.getRequestTypeName()}} request, please go to the following link <a href="{{var request.getUrl()}}">{{var request.getUrl()}}</a></p>

{{template config_path="design/email/footer_template"}}