<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Jim McGowen <jim@kurufootwear.com>
 * @copyright   Copyright (c) 2017 KURU Footwear. All rights reserved.
 */

/** @var \Aheadworks\Rma\Model\Request $rmaRequest */
$rmaRequest = $block->getRmaRequest();
/** @var \Kurufootwear\Rma\Model\Inspection $inspection */
$inspection = $block->getInspection();
$receivedItems = $inspection->getReceivedItems();

$disable = true;
if (is_null($rmaRequest->getInspection()) || 
	$rmaRequest->getStatusId() == Kurufootwear\Rma\Model\Source\Request\Status::WAREHOUSE_APPROVED ||
    $rmaRequest->getStatusId() == Kurufootwear\Rma\Model\Source\Request\Status::APPROVED ||
    $rmaRequest->getStatusId() == Kurufootwear\Rma\Model\Source\Request\Status::POINTS_ISSUED || 
	$rmaRequest->getStatusId() == Kurufootwear\Rma\Model\Source\Request\Status::ON_HOLD) 
{
	$disable = false;
}
?>
<div id="warehouse_inspection_form" class="form-inline">
    <fieldset class="fieldset admin__fieldset" id="request_warehosue_inspection_fieldset">
        <div class="admin__field field">
            <label class="label admin__field-label" for="wi_inspector_initials">
                <span>Inspector Initials</span>
            </label>
            <div class="admin__field-control control">
                <input id="wi_inspector_initials" name="warehouse_inspection[initials]" value="<?php echo $block->escapeQuote($inspection->getInspectorInitials()); ?>" title="Inspector Initials" type="text" class="input-text admin__control-text" maxlength="3" <?php if ($disable) echo 'disabled'; ?>/>
            </div>
        </div>
	    <div class="admin__field field">
		    <label class="label admin__field-label">
			    <span>Items Received</span>
		    </label>
		    <div class="admin__field-control control">
			    <div class="control-value">
                    <?php foreach ($rmaRequest->getItemsCollection() as $item): ?>
	                    <?php $item->getCustomFields(); ?>
	                    <div class="wi-item-wrap">
		                    <div class="wi-item-container">
			                    <input id="item_<?php echo $block->escapeQuote($item->getItemId()); ?>" type="checkbox" <?php if(is_array($receivedItems) && array_key_exists($item->getItemId(), $receivedItems)) {echo 'checked';} ?> name="warehouse_inspection[received_items][]" value="<?php echo $block->escapeQuote($item->getItemId()); ?>" class="wi-item-checkbox" <?php if ($disable) echo 'disabled'; ?>/>
			                    <label class="wi-item-label"><span><strong><?php echo $block->escapeHtml($item->getSku()) . ' - ' . $block->escapeHtml($item->getName())?></strong></span></label>
		                    </div>
		                    <div class="wi-reason-container">
			                    <label>
				                    <span><?php echo $block->escapeHtml($item->getReasonLabel()); ?></span>
				                    <?php if (!empty($item->getOtherDescription())): ?>
		                            <span><?php echo $block->escapeHtml($item->getOtherDescription()); ?></span>
		                            <?php endif ?>
			                    </label>
		                    </div>
		                    <div class="wi-qty-container">
			                    <label>
				                    <span>Quantity:</span>
				                    <input type="text" class="wi-qty input-text admin__control-text" name="warehouse_inspection[qty][<?php echo $block->escapeQuote($item->getItemId()); ?>]" value="<?php if(!empty($receivedItems[$item->getItemId()])) {echo $block->escapeHtml($receivedItems[$item->getItemId()]['qty']);} else {echo $block->escapeHtml($item->getQty());} ?>" <?php if ($disable) echo 'disabled'; ?>/>
			                    </label>
		                    </div>
		                    <div class="wi-grade-container">
			                    <label>
				                    <span class="wi-grade-label">Grade:</span>
				                    <label>
					                    <input type="radio" class="wi-grade-radio" name="warehouse_inspection[grades][<?php echo $block->escapeQuote($item->getItemId()); ?>]" value="A" <?php if(!empty($receivedItems[$item->getItemId()]) && $receivedItems[$item->getItemId()]['grade'] == 'A') {echo 'checked';} ?> <?php if ($disable) echo 'disabled'; ?>/><span>A-Resale</span>
				                    </label>
				                    <label>
					                    <input type="radio" class="wi-grade-radio" name="warehouse_inspection[grades][<?php echo $block->escapeQuote($item->getItemId()); ?>]" value="C" <?php if(!empty($receivedItems[$item->getItemId()]) && $receivedItems[$item->getItemId()]['grade'] == 'C') {echo 'checked';} ?> <?php if ($disable) echo 'disabled'; ?>/><span>C-Worn</span>
				                    </label>
				                    <label>
					                    <input type="radio" class="wi-grade-radio" name="warehouse_inspection[grades][<?php echo $block->escapeQuote($item->getItemId()); ?>]" value="D" <?php if(!empty($receivedItems[$item->getItemId()]) && $receivedItems[$item->getItemId()]['grade'] == 'D') {echo 'checked';} ?> <?php if ($disable) echo 'disabled'; ?>/><span>D-Donate</span>
				                    </label>
			                    </label>
			                    <input type="hidden" name="validate_<?php echo $block->escapeQuote($item->getItemId()); ?>" value="<?php echo $block->escapeQuote($item->getItemId()); ?>" data-validate="{validate_grade:true}"/>
		                    </div>
	                    </div>
                    <?php endforeach ?>
			    </div>
		    </div>
	    </div>
	    <div class="admin__field field">
		    <label class="label admin__field-label" for="wi_other_skus">
			    <span>Other SKU(s)</span>
		    </label>
		    <div class="admin__field-control control">
			    <input id="wi_other_skus" name="warehouse_inspection[other_skus]" value="<?php echo $block->escapeQuote($inspection->getOtherSkus()); ?>" title="Other SKU(s)" type="text" class="input-text admin__control-text" <?php if ($disable) echo 'disabled'; ?>/>
		    </div>
	    </div>
	    <div class="admin__field field">
		    <label class="label admin__field-label" for="wi_notes">
			    <span>Warehouse Notes</span>
		    </label>
		    <div class="admin__field-control control">
			    <textarea id="wi_notes" name="warehouse_inspection[notes]" <?php if ($disable) echo 'disabled'; ?>><?php echo $block->escapeHtml($inspection->getWarehouseNotes()); ?></textarea>
		    </div>
	    </div>
	    <?php if (!empty($this->getFormattedInspectedDate())): ?>
	    <div class="admin__field field">
		    <label class="label admin__field-label">
			    <span>Inspected Date</span>
		    </label>
		    <div class="admin__field-control control">
			    <span class="control-value" id="wi_inspected_date"><?php echo $block->escapeHtml($this->getFormattedInspectedDate()); ?></span>
		    </div>
	    </div>
	    <?php else: ?>
		<div class="admin__field field">
		    <label class="label admin__field-label"></label>
		    <div class="admin__field-control control">
			    <button id="complete_inspection_btn" class="action primary">
				    <span>Complete Inspection</span>
			    </button>
		    </div>
	    </div>
	    <?php endif ?>
    </fieldset>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Kurufootwear_Rma/js/warehouse":{
                "currStatus": <?php echo $block->escapeJsQuote($rmaRequest->getStatusId()) ?>,
                "STATUS_APPROVED": <?php echo Kurufootwear\Rma\Model\Source\Request\Status::APPROVED ?>,
                "STATUS_WAREHOUSE_APPROVED": <?php echo Kurufootwear\Rma\Model\Source\Request\Status::WAREHOUSE_APPROVED ?>
            }
        }
    }
</script>
