<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Customer
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/**
 * @var \Kurufootwear\Customer\Block\Adminhtml\Edit\Tab\View\CustomerNotes $block
 */
?>
<div class="fieldset-wrapper customer-notes">
    <div class="fieldset-wrapper-title">
        <span class="title"><?php echo __('Customer Notes') ?></span>
    </div>
    <section class="admin__page-section">
        <div class="admin__field customer_notes">
            <label for="customer_notes" class="admin__field-label">
                <?php echo __('Enter Customer Notes') ?>
            </label>
            <div class="admin__field-control">
                <?php $customerNotes = $block->getCustomerNotes() ?>
                <textarea name="customer[customer_notes]"
                          rows="3"
                          cols="5"
                          maxlength="255"
                          id="customer_notes"
                          data-form-part="customer_form"
                          class="admin__control-textarea"><?php echo $customerNotes ? $customerNotes : '' ?></textarea>
            </div>
        </div>
    </section>
</div>
