<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Revo
 * @author Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php use Magento\Framework\App\Action\Action; ?>

<?php $_items = $block->getSliderProductsCollection() ?>
<?php if(count($_items)==0) : ?>
<?php return  ?>
<?php endif ?>

<?php $_helper = $this->helper('Magento\Catalog\Helper\Output') ?>
<?php $sliderId = $block->getSliderDisplayId() ?>
<?php $slider = $block->getSlider()  ?>
<?php $image = 'category_page_grid' ?>
<?php $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW ?>
<?php $viewMode = 'grid' ?>
<?php $class = $slider->getType() ?>
<?php $type = "" ?>
<?php $showWishlist = $slider->getDisplayWishlist() ?>
<?php $showCompare = $slider->getDisplayCompare() ?>
<?php $showCart = $slider->getDisplayCart() ?>
<?php $enableSwatches = $slider->getEnableSwatches() ?>
<?php $enableAjaxcart = $slider->getEnableAjaxcart() ?>
<div class="block block-product-slider slider-list <?php echo $class; ?>" <?php echo $slider->getRtl() ? 'dir="rtl" ' : "" ?> >
    <?php if($slider->getDisplayTitle()): ?>
        <div class="block-title title">
            <strong id="block-<?php echo $class?>-heading" role="heading" aria-level="2"><?php echo $slider->getTitle() ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content content" aria-labelledby="block-<?php echo $class?>-heading">
        <?php if(!empty($_items)): ?>
            <div class="products wrapper grid products-grid products-<?php echo $type; ?>">
            <ol class="products list items product-slider<?php echo $sliderId ?>">
                <?php foreach($_items as $collection): ?>
                    <?php $iterator = 1; ?>
                    <?php foreach ($collection as $_item): ?>

                    <?php echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                    <div class="<?php if($enableSwatches): ?>product-item-info<?php endif ?> product-item-info<?php echo $slider->getGrid() ? '' : '-'.$class ?>">
                        <div class="product details product-item-details">
                            <strong class="product name product-item-name">
                                <a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php echo $block->getProductUrl($_item) ?>">
                                    <span class="item-category"><?php echo $block->getProductCategoryName($_item->getCategoryIds()); ?> </span>
                                    <span class="item-name"><?php echo $block->escapeHtml($_item->getName()) ?></span>
                                </a>
                            </strong>

                            <?php $productColor = $block->getProductColor($_item); ?>
                            <?php if ($productColor != NULL): ?>
                                <div class="product-item-color-wrapper">
                                    <span class="product-color">
                                        <?php echo $productColor; ?>
                                    </span>
                                </div>
                            <?php endif; ?>

                            <?php if($slider->getDisplayPrice()): ?>
                                <?php echo $block->getProductPrice($_item); ?>
                            <?php endif ?>
                            <?php if ($templateType): ?>
                                <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                            <?php endif; ?>

                            <?php echo $block->getRevoProductDetailsHtml($_item); ?>

                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <?php if($enableSwatches): ?><div class="product-item-inner"> <?php endif ?>
                                <div class="product actions product-item-actions">
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if($enableAjaxcart): ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                    <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                                        <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                                class="action tocart primary">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php echo __('Add to Cart') ?>">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                        $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                        ?>
                                                        <button class="action tocart primary"
                                                                data-post='<?php echo $postData; ?>'
                                                                type="button" title="<?php echo __('Add to Cart') ?>">
                                                            <span><?php echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php endif; ?>  <!-- enable swatches-->
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <?php if($enableSwatches): ?></div> <?php endif ?>
                            <?php endif; ?>
                        </div>
                        <a href="<?php echo $block->getProductUrl($_item) ?>" class="product photo product-item-photo">
                            <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                        </a>
                        <a href="<?php echo $block->getProductUrl($_item) ?>" class="yotpo bottomLine"
                             data-product-id="<?php echo $block->getProductId($_item) ?>"
                             data-url="<?php echo $block->getProductUrl($_item) ?>">
                        </a>
                    </div>
                    <?php echo($iterator == count($collection)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                <?php endforeach ?>
            </ol>
        </div>
        <?php endif ?>
    </div>
</div>

<?php if(!$slider->getGrid()): ?>
<script type="text/javascript">
    require(['jquery', 'slick'], function($){
        $(function(){
            $('.product-slider'+<?php echo $sliderId ?>).slick({
                dots: <?php echo var_export((bool)$slider->getNavigation()) ?>,
                infinite: <?php echo var_export((bool)$slider->getInfinite()) ?>,
                slidesToShow: <?php echo $slider->getSlidesToShow() ?>,
                slidesToScroll: <?php echo $slider->getSlidesToScroll() ?>,
                speed: <?php echo $slider->getSpeed() ?>,
                autoplay: <?php echo var_export((bool)$slider->getAutoplay()) ?>,
                autoplaySpeed: <?php echo $slider->getAutoplaySpeed() ?>,
                cssEase: 'linear',
                rtl: <?php echo var_export((bool)$slider->getRtl()) ?>,
                arrows: true,
                responsive: [
                    {
                        breakpoint: <?php echo $slider->getBreakpointLarge() ?>,
                        settings: {
                            slidesToShow: <?php echo $slider->getLargeSlidesToShow() ?>,
                            slidesToScroll: <?php echo $slider->getLargeSlidesToScroll() ?>,
                            arrows: true
                        }
                    },
                    {
                        breakpoint: <?php echo $slider->getBreakpointMedium() ?>,
                        settings: {
                            slidesToShow: <?php echo $slider->getMediumSlidesToShow() ?>,
                            slidesToScroll: <?php echo $slider->getMediumSlidesToScroll() ?>,
                            arrows: true
                        }
                    },
                    {
                        breakpoint: <?php echo $slider->getBreakpointSmall() ?>,
                        settings: {
                            slidesToShow: <?php echo $slider->getSmallSlidesToShow() ?>,
                            slidesToScroll: <?php echo $slider->getSmallSlidesToScroll() ?>,
                            centerMode: true,
                            centerPadding: '20px',
                            arrows: false
                        }
                    }
                ]
            })
        })
    });
</script>
<?php endif ?>

