<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_OrderStatus
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/** @var \Kurufootwear\OrderStatus\Block\GuestOrderStatus\View $block */
?>
<div class="guest-order-status-container">
    <div class="cms-page-title">
        <h2><?php echo __('Check my order status') ?></h2>
    </div>
    <p class="status-text"><?php echo __('Please enter your order number and email address to see the status of your order.') ?></p>
    <?php $orderIncrementId = $block->getOrderIncrementId() ?>
    <?php $emailAddress = $block->getEmail() ?>
    <form name="order-status" action="" method="post" id="order-status" data-mage-init='{"validation": {}}'>
        <fieldset class="order-status-table">
            <div class="field order-id required">
                <label for="increment_id"><?php echo __("Order Number") ?><em>*</em></label>
                <div class="control">
                    <input class="input-text "
                           type="text"
                           name="increment_id"
                           id="increment_id"
                           placeholder="<?php echo __('e.g. 1029039120') ?>"
                           data-validate="{required: true}"
                           value="<?php echo $block->escapeHtmlAttr($orderIncrementId) ?>"/>
                </div>
            </div>
            <div class="field email required">
                <label for="email_address"><?php echo __("Email Address") ?><em>*</em></label>
                <div class="control">
                    <input class="input-text required-entry validate-email"
                           name="email_address"
                           type="text"
                           id="email_address"
                           value="<?php echo $block->escapeHtmlAttr($emailAddress) ?>"
                           placeholder="<?php echo __('e.g. john@doe.com') ?>"
                           data-validate="{required: true, 'validate-email': true}"
                           size="30"/>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" title=" <?php echo __('Check order status') ?>" class="action submit primary">
                    <span><span><?php echo __('Check order status') ?></span></span>
                </button>
            </div>
        </div>
    </form>

    <?php if (!empty($orderIncrementId)): ?>
        <?php $order = $block->getOrderInfo($orderIncrementId, $emailAddress); ?>

        <?php if ($order): ?>
            <div class="table-wrapper order-items">
                <div>
                    <h3 class="table-caption">
                        <?php echo __('Order No. ') . $order->getRealOrderId() ?>
                    </h3>
                </div>
                <table class="data table table-order">
                    <thead class="head">
                        <th class="col id"><?php echo __('Order No.') ?></th>
                        <th class="col date"><?php echo __('Ship Date') ?></th>
                        <th class="col status"><?php echo __('Status') ?></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col id"><?php echo $order->getRealOrderId() ?></td>
                        <td class="col date"><?php echo $order->getCreatedAt() ?></td>
                        <td class="col status"><?php echo $order->getStatusLabel() ?></td>
                    </tr>
                    </tbody>
                </table>

                <?php foreach ($order->getItemsCollection() as $item): ?>
                    <?php if ($item->getParentItem()) {
                        continue;
                    } ?>
                    <div class="table products">
                        <div class="row">
                            <img class="col thumbnail" src="<?php echo $item->getImageUrl($item->getSku()) ?>"/>
                            <div class="col info">
                                <div class="name">
                                    <?php echo $item->getName(); ?>
                                </div>
                                <div class="swatch">
                                    <?php if ($size = $block->getSizeInformation($item)): ?>
                                        <p><?php echo sprintf('%s: %s', $size['label'], $size['value']) ?></p>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="col price">
                                <div class="price">
                                    <?php echo $order->formatPrice($item->getPrice()); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>

            <div class="block block-order-details-view">
                <div class="block-title">
                    <h3><?php echo __('Order Information') ?></h3>
                </div>
                <div class="block-content">
                    <?php if (!$order->getIsVirtual()): ?>
                        <div class="box box-order-shipping-address">
                            <strong class="box-title"><span><?php echo __('Shipping Address') ?></span></strong>
                            <div class="box-content">
                                <address><?php echo $block->getFormattedAddress($order->getShippingAddress()) ?></address>
                            </div>
                        </div>

                        <div class="box box-order-shipping-method">
                            <strong class="box-title">
                                <span><?php echo __('Shipping Method') ?></span>
                            </strong>
                            <div class="box-content">
                                <?php if ($order->getShippingDescription()): ?>
                                    <?php echo $order->getShippingDescription() ?>
                                    <?php if (($tracks = $order->getTracksCollection()) && ($tracks->count() > 0)): ?>
                                        <p><?php echo __('Tracking number: %1', $tracks->getLastItem()->getTrackNumber()) ?></p>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php echo __('No shipping information available'); ?>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>

                    <div class="box box-order-billing-address">
                        <strong class="box-title">
                            <span><?php echo __('Billing Address') ?></span>
                        </strong>
                        <div class="box-content">
                            <address><?php echo $block->getFormattedAddress($order->getBillingAddress()) ?></address>
                        </div>
                    </div>
                    <div class="box box-order-billing-method">
                        <strong class="box-title">
                            <span><?php echo __('Payment Method') ?></span>
                        </strong>
                        <div class="box-content">
                            <?php echo $block->getPaymentInfoHtml($order) ?>
                        </div>
                    </div>
                </div>
            </div>
        <?php else: ?>
            <div class="error-msg">
                <?php echo __('We were unable to find your order information. Please verify your Order Number and Email Address are correct.') ?>
            </div>
        <?php endif; ?>
    <?php endif; ?>
</div>
