<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_OrderStatus
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/** @var \Kurufootwear\OrderStatus\Block\OrderStatusModal $block */
?>

<div class="order-status-check-modal" data-mage-init='{"loader": {}}'>
    <div class="title-wrapper">
        <h2 class="order-status-title"><?php echo __('Order Status') ?></h2>
    </div>
    <p class="status-text">
        <?= __('Track your order by entering your order number and email below or if you would like to create an account or log in ') ?>
        <a href="<?php echo $block->getRegistrationUrl() ?>"><?php echo sprintf('(%s)', __('click here')) ?></a>
    </p>
    <form name="order-status" action="<?php echo $block->getFormActionUrl() ?>" method="post" id="order-status" class="order-status-form" data-mage-init='{"validation":{}}'>
        <fieldset class="order-status-table">
            <div class="field order-id required">
                <label for="increment_id"><?= __('Order Number') ?><em>*</em></label>
                <div class="control">
                    <input class="input-text "
                           type="text"
                           name="increment_id"
                           id="increment_id"
                           placeholder="<?= __('e.g. 1029039120') ?>"
                           data-validate="{required: true}"/>
                </div>
            </div>
            <div class="field email required">
                <label for="email_address"><?= __('Email Address') ?><em>*</em></label>
                <div class="control">
                    <input class="input-text required-entry validate-email"
                           name="email_address"
                           type="text"
                           id="email_address"
                           placeholder="<?= __('e.g. john@doe.com') ?>"
                           data-validate="{required: true, 'validate-email': true}"
                           size="30"/>
                </div>
            </div>
        </fieldset>
    </form>
    <p class="order-status-message message"></p>
</div>
<script type="text/x-magento-init">
    {
        ".order-status-check-modal": {
            "Kurufootwear_OrderStatus/js/order-status-modal": {
                "actionUrl": "<?php echo $block->getCheckActionUrl() ?>",
                "orderStatusUrl": "<?php echo $block->getOrderStatusUrl() ?>"
            }
        }
    }
</script>
