<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Rewards
 * @author      Kristaps Stalidzans <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * @var \Kurufootwear\Rewards\Block\Referral\Listing $block
 * $block->getRewardsData()  \Mirasvit\Rewards\Helper\Data  $_rewardsData
 */
?>
<div class="content-wrapper">
    <?php if ($block->getFacebookIsActive()): ?>
        <div id="fb-root"></div>
    <?php endif; ?>
    <?php $collection = $block->getReferralCollection(); ?>
    <div class="block block-rewards-referral-list">
        <div class="block-title">
            <strong><?php echo __('Referral Codes and Url'); ?></strong>
        </div>
        <div class="block-content">
             <div class="field referral-url">
                <label class="label" for="referral-url">
                    <span><?php echo __('Referral Url'); ?></span>
                </label>
                <div class="control">
                    <input name="referral-url"
                           id="referral-url"
                           type="text"
                           class="input-text"
                           title="<?php echo __('Referral Url'); ?>"
                           value="<?php echo $block->getShareUrl(); ?>"
                           readonly>
                </div>
                 <div class="rewards-social-buttons">
                     <div class="social-button fb">
                         <a class="fa-facebook-official" href="https://www.facebook.com/sharer/sharer.php?u=<?= $block->getShareUrl(); ?>" target="_blank"></a>
                     </div>
                     <div class="social-button tw">
                         <a class="fa-twitter" href="https://twitter.com/share?url=<?= $block->getShareUrl(); ?>" target="_blank"></a>
                     </div>
                     <div class="social-button pintrest">
                         <a class="fa-pinterest" href="http://pinterest.com/pin/create/button/?url=<?= urlencode($block->getShareUrl()); ?>" target="_blank"></a>
                     </div>
                     <div class="social-button gp">
                         <a class="fa-google-plus" href="https://plus.google.com/share?url=<?= $block->getShareUrl(); ?>" target="_blank"></a>
                     </div>
                 </div>
            </div>
            <div class="field referral-code">
                <label class="label" for="referral-code">
                    <span><?php echo __('Referral Code'); ?></span>
                </label>
                <div class="control">
                    <input name="referral-code"
                           id="referral-code"
                           type="text"
                           class="input-text"
                           title="<?php echo __('Referral Code'); ?>"
                           value="<?php echo $block->getReferralCode(); ?>"
                           readonly>
                </div>
            </div>
            <div class="field referral-code">
                <label class="label" for="referral-email">
                    <span><?php echo __('Referral Email'); ?></span>
                </label>
                <div class="control">
                    <input name="referral-email"
                           id="referral-email"
                           type="text"
                           class="input-text"
                           title="<?php echo __('Referral Email'); ?>"
                           value="<?php echo $block->getCustomerEmail(); ?>"
                           readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-title">
            <strong><?= __('Send Invitations') ?></strong>
        </div>
        <div class="block-content">
            <form action="<?= $block->getUrl('rewards/referral/post'); ?>"
                  method="POST"
                  enctype="multipart/form-data"
                  id="referralForm">
                <div class="fieldset">
                    <?= $block->getChildHtml('rewards.notification'); ?>
                    <div class="field field-email required">
                        <label for="email" class="label">
                            <span><?= __('Send To'); ?></span>
                        </label>
                        <div class="control">
                            <textarea style="width: 100%"
                                      name="email"
                                      type="text"
                                      placeholder="<?php echo __('Enter email list separated with comas'); ?>"
                                      id='email'
                                      class="input-text required-entry"></textarea>
                        </div>
                    </div>
                    <div class="field field-name-lastname">
                        <label for="message" class="label">
                            <span><?= __('Message Text'); ?></span>
                        </label>
                        <div class="control">
                            <textarea style="width: 100%"
                                      name="message"
                                      type="text"
                                      placeholder="<?php echo __('Your message text (optional)'); ?>"
                                      id='message'
                                      class="input-text"></textarea>
                        </div>
                    </div>
                    <div class="buttons-set">
                        <button type="submit"
                                title="<?= __('Send Invitations'); ?>"
                                class="action primary button blue-button">
                            <span><?= __('Send Invitations'); ?></span>
                        </button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                var fbLocaleCode = '<?=$block->getLocaleCode(); ?>';
                var fbAppId = '<?=$block->getAppId(); ?>';
            </script>
        </div>
    </div>
    <div class="block">
        <div class="block-title">
            <strong><?= __('Referrals Preferences'); ?></strong>
        </div>
        <div class="block-content">
            <?php echo $block->getLayout()->createBlock('Mirasvit\Rewards\Block\Newsletter\Unsubscribe')->toHtml(); ?>
        </div>
    </div>
    <div class="block">
        <div class="block-title">
            <strong><?= __('Referrals List'); ?></strong>
        </div>
        <div class="block-content">
            <?php if ($collection->count()): ?>
                <div class="table-wrapper">
                    <table class="data-table table" id="referral-table">
                        <thead>
                        <tr class="table-header">
                            <th class="table-title">
                                <?= __('Email'); ?>
                            </th>
                            <th class="table-title">
                                <?= __('Status'); ?>
                            </th>
                            <th class="table-title">
                                <?= __('Points'); ?>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        <?php foreach ($collection as $referral): ?>
                            <tr class="table-content">
                                <td class="table-col" data-th="<?= __('Email'); ?>">
                                    <?= $referral->getEmail() ? $referral->getEmail() : '-'; ?>
                                </td>
                                <td class="table-col" data-th="<?= __('Status'); ?>">
                                    <?= $referral->getStatusName(); ?>
                                </td>
                                <td class="table-col" data-th="<?= __('Points'); ?>" class="last">
                                    <?php if ($referral->getPointsAmount()): ?>
                                        <?= $this->helper('Mirasvit\Rewards\Helper\Data')->formatPoints($referral->getPointsAmount()); ?>
                                    <?php else: ?>
                                        -
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            <?php else: ?>
                <p><?= __('You don\'t have any referrals yet.'); ?></p>
            <?php endif ?>
        </div>
    </div>
</div>
