// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-no-route {
    @include background(linear-gradient(180deg, $clr-transparent 0%, $clr-alto-four 100%));
    min-height: 100vh;
    text-align: center;

    .main-part {
        @include padding(null $default-indent);

        @include media($tablet-medium) {
            @include margin(null auto);
            @include padding(50px null);
            max-width: 1000px;
        }
    }

    .logo-image {
        @include padding($default-indent 0);

        img {
            width: 110px;
        }
    }

    .not-found {
        @include margin(0);
        color: $clr-picton-blue;
        font-family: $montserrat;
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 96px;

        @include media($tablet-medium) {
            @include margin(150px null 20px);
            float: left;
        }
    }

    .error-image {
        @include padding($default-indent);

        @include media($tablet-medium) {
            float: right;
        }

        img {
            height: auto;
            max-width: 100%;

            @include media($tablet-medium) {
                max-width: 500px;
            }

            @include media($desktop-small) {
                max-width: 100%;
            }
        }
    }

    .error-text {
        padding-bottom: $default-indent;

        @include media($tablet-medium) {
            float: left;
            text-align: left;
        }
    }

    .cant-find {
        @include margin(0);
        color: $clr-bluewood;
        font-size: $f-size-xl;
        font-weight: bold;
    }

    .back-link {
        @include display(block);
        font-weight: 400;
        padding-top: 40px;
    }

    .kuru-chat-container {
        @include display(none);
    }
}
