// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-page-view,
.catalog-category-view,
.category-cms {
    color: $clr-bluewood;

    .page-main {
        @include clearfix;
        @include margin(null auto);
        @include padding(null $default-indent);
        max-width: $desktop;
    }

    .max-width-wrapper,
    .grey-part-content,
    .dark-blue-part-content,
    .banner-content {
        @include clearfix;
        @include margin(null auto);
        @include padding(50px $default-indent);
        max-width: $desktop;
    }

    .column-wrapper {
        @include media($desktop-small) {
            @include display(flex);
            @include align-items(center);
        }

        &.align-top {
            @include media($desktop-small) {
                @include align-items(start);
            }
        }

        &.reverse {
            @include media($desktop-small) {
                @include flex-direction(row-reverse);
            }

            .two-column:first-of-type {
                @include media($desktop-small) {
                    margin-right: 0;
                }
            }

            .two-column:last-of-type {
                @include media($desktop-small) {
                    margin-right: 2%;
                }
            }
        }
    }

    .grey-part,
    .dark-blue-part {
        @include clearfix;
        @include padding(10px null);
    }

    .grey-part {
        @include background($clr-gallery);
    }

    .dark-blue-part {
        @include background(#3F474C);
        color: $clr-white;
    }

    .center-align {
        @include media($desktop-small) {
            text-align: center;
        }

        &.tablet-center {
            @include media($tablet) {
                text-align: center;

                .button {
                    float: none;
                }
            }
        }

        &.mobile-center {
            text-align: center;

            .button {
                float: none;
            }
        }
    }

    .uppercase {
        text-transform: uppercase;
    }

    .heading,
    .part-heading {
        font-family: $montserrat;
        font-weight: bold;
        text-transform: uppercase;
    }

    .heading {
        font-size: $f-size-xxxxl;
        margin-bottom: 10px;
        text-align: center;

        @include media($desktop-small) {
            font-size: $f-size-10xl;
            padding-bottom: 10px;
        }

        &.left-align {
            text-align: left;
        }
    }

    .italic {
        font-style: italic;
    }

    .bold {
        font-weight: bold;
    }

    .illustration {
        @include padding(10px null);
        text-align: center;

        img {
            max-width: 100%;
        }

        &.stretch {
            @include media($desktop-small) {
                img {
                    width: 100%;
                }
            }
        }
    }

    .illustration-right {
        @include media($desktop-small) {
            text-align: right;
        }
    }

    .two-column {
        @include clearfix;
        clear: both;

        @include media($desktop-small) {
            @include span-columns(6);
            clear: none;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .two-thirds-column {
        @include media($desktop-small) {
            @include span-columns(8);
        }
    }

    .three-column {
        @include media($desktop-small) {
            @include span-columns(4);
        }
    }

    .icons-part {
        text-align: center;

        @include media($tablet) {
            @include display(flex);
            @include flex-wrap(wrap);
        }
    }

    .icon-horizontal-wrapper {
        @include padding(20px null);
        @include display(flex);

        @include media($tablet) {
            width: 50%;
        }

        .heading-text-wrapper {
            text-align: left;
        }
    }

    .icon-vertical-wrapper {
        @include padding(20px null);

        @include media($tablet) {
            @include padding(30px 20px);
            width: 25%;
        }
    }

    .kuru-green-text {
        color: $clr-pistachio;
    }

    .green-heading,
    .blue-heading {
        font-size: $f-size-xxxl;
    }

    .green-heading {
        color: $clr-pistachio;
    }

    .blue-heading {
        color: $clr-picton-blue;
    }

    .blue-tooltip {
        @include background(url('/media/wysiwyg/blue-tooltip.svg'));
        @include size(32px);
    }

    .illustration-tooltips {
        text-align: center;

        .illustration {
            @include display(inline-block);
            @include position(relative);
        }

        .blue-tooltip {
            @include position(absolute);
        }

        .insoles-tooltip {
            left: 22%;
            top: 62%;
        }

        .kradl-tooltip {
            left: 63%;
            top: 50%;
        }

        .kloud-tooltip {
            left: 43%;
            top: 77%;
        }

        .part-heading {
            margin-bottom: 5px;
        }

        .description {
            @include margin(0 null 20px);
        }
    }

    .buttons-wrapper {
        @include clearfix;

        .button {
            @include media($tablet) {
                clear: none;
                float: left;
                margin-right: 10px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }


    .cms-newsletter {
        .field {
            max-width: 100%;
            padding-top: 20px;
        }

        .newsletter-submit {
            @include media($tablet) {
                @include display(flex);
                @include justify-content(center);
            }
        }

        .newsletter-email-wrapper {
            @include media($tablet) {
                width: 300px;
            }
        }

        .newsletter-email {
            @include media($tablet) {
                height: 48px;
            }

            @include media($desktop-small) {
                height: 38px;
            }
        }

        .mage-error {
            text-align: left;
        }

        .submit-subscribe {
            @include media($tablet) {
                @include margin(0 null null 10px);
                clear: none;
                height: 48px;
            }

            @include media($desktop-small) {
                height: 38px;
            }
        }
    }

    .slider-banner {
        background: url('../images/slider-background.png') no-repeat center center;
        background-size: cover;
    }

    .slider-newsletter {
        color: $clr-white;
        padding-top: 20px;

        @include media($desktop-small) {
            padding-top: 0;
        }

        .newsletter-submit {
            @include justify-content(start);
        }
    }

    .kuru-slider:not(.bxslider) {
        color: $clr-white;

        @include media($desktop-small) {
            width: 90%;
        }

        .slick-slide {
            @include padding(null 5px);
        }

        .slick-dots li {
            &.slick-active button::before {
                background-color: $clr-white;
            }

            button::before {
                border-color: $clr-white;
            }
        }
    }

    .recent-reviews-mob {
        @include background($clr-link-water);
        @include padding(20px);
        overflow: hidden;

        @include media($desktop-small) {
            @include display(none);
        }

        .kuru-slider {
            color: $clr-bluewood;
        }
    }

    .quote {
        font-style: italic;
        text-align: left;

        &::before {
            color: $clr-silver-chalice;
            content: '"';
            float: left;
            font-size: 60px;
            font-style: normal;
            font-weight: bold;
            line-height: 50px;
        }

        p {
            margin-left: 50px;
        }
    }

    .quote-author {
        text-align: right;
    }

    .addthis_cont {
        @include clearfix;
        float: right;
    }

    .kuru-main {
        clear: both;
    }

    .legals {
        clear: both;
        font-size: $f-size-xs;
        padding-top: 20px;
    }
}
