// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-guidelines {
    .page-main {
        @include margin(null auto);
        @include padding(20px);
        max-width: $desktop;
    }

    h2 {
        clear: both;
    }
}
