// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-innovation {
    .breadcrumbs {
        @include display(none);
    }

    .innovation-banner-wrapper {
        @include padding(0);
    }

    .innovation-banner {
        background: linear-gradient(0deg, $clr-black-one 0%, $clr-black-one 100%), url('/media/wysiwyg/innovation-banner.png') no-repeat center center;
        background-size: contain;

        @include media($desktop-small) {
            @include padding(150px null);
        }
    }

    .innovation-banner-content {
        @include display(flex);
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        color: $clr-white;

        .heading {
            padding-bottom: 30px;
        }
    }

    .video-wrapper {
        cursor: pointer;
        text-align: center;
    }

    .hug-heels-text {
        font-family: $montserrat;
        text-align: center;
    }
}
