///**
// * @category     Kurufootwear
// * @package      Kurufootwear/default
// * @author       Aleksejs Baranovs <info@scandiweb.com>
// * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
// */

.category-order-status {
    .table {
        &.products {
            display: block;
            min-width: 0;
        }
    }

    .order-status-table {
        border: 0;
        padding: 0;
        margin: 0;
    }

    .actions-toolbar {
        .submit {
            float: none;
        }
    }

    .contact-info {
        text-align: center;
    }

    .error-msg {
        color: $clr-cinnabar;
    }

    .order-items {
        margin-top: 20px;
    }
}
