// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-reviews {
    .yotpo-reviews .yotpo-review {
        @include margin(0);

        @include media($tablet) {
            @include display(inline-block);
            vertical-align: top;
            width: 49%;
        }

        &:nth-child(2n+1) {
            @include media($tablet) {
                margin-right: 10px;
            }

            @include media($desktop-small) {
                margin-right: 15px;
            }

            @include media($desktop) {
                margin-right: 22px;
            }
        }
    }
}
