// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-technology,
.cms-why-kuru,
.cms-innovation,
.cms-template-page {
    .page-main {
        @include padding(0);
        max-width: 100%;
    }
}
