// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-unsubscribe {
    .page-main {
        @include margin(30px null);

        @include media($desktop-small) {
            @include margin(0 null 20px);
        }
    }

    .unsubscribe {
        @include media($desktop-small) {
            max-width: 40%;
        }
    }

    .label {
        @include display(none);
        float: none;
        text-transform: uppercase;

        @include media($desktop-small) {
            @include display(inline-block);
            width: 25%;
        }

        &.required:after {
            color: $clr-cinnabar;
            content: '*';
        }
    }

    .text-input {
        float: none;

        @include media($desktop-small) {
            width: 75%;
        }
    }

    .button {
        clear: both;
        float: right;
    }
}
