// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.cms-why-kuru {
    .breadcrumbs {
        @include display(none);
    }

    .heading {
        @include bp('max-width', $desktop-small - 1) {
            text-align: left;
        }
    }

    .why-kuru-banner {
        background: linear-gradient(94.6deg, $clr-white 0%, $clr-white-three 100%), url('/media/wysiwyg/why-kuru-banner.jpg') no-repeat center center;
        background-size: cover;

        @include media($desktop-small) {
            background: linear-gradient(94.6deg, $clr-white 0%, $clr-white-three 45%, $clr-transparent 100%), url('/media/wysiwyg/why-kuru-banner.jpg') no-repeat center center;
            background-size: cover;
        }

        .banner-content {
            @include padding(50px null);
        }
    }

    .two-thirds-column {
        @include clearfix;
    }

    .illustration {
        @include media($desktop-small) {
            @include size(60%);
        }
    }

    .icons-two-column {
        @include media($desktop-small) {
            @include margin(null auto);
            width: 80%;
        }

        @include media($desktop-small-xl) {
            width: 65%;
        }

        .icon-wrapper {
            min-width: 100px;
            width: 100px;
        }
    }

    .icons-one-line {
        @include media($desktop-small-xl) {
            @include margin(null auto);
            width: 80%;
        }
    }

    .difference-banner,
    .max-width-wrapper {
        .button {
            float: none;
        }
    }

    .difference-banner {
        background: url('/media/wysiwyg/difference-banner.png');
        background-size: cover;
    }

    .yotpo-wrapper {
        max-width: 100%;

        .slider-wrapper {
            @include margin(0);
            background-size: cover;
        }

        .yotpo-customers {
            padding-top: 10px;
        }
    }

    .days-text {
        font-family: $montserrat;
        font-size: 33px;
        font-weight: bold;
        line-height: 33px;
        text-transform: uppercase;

        @include media($desktop-small) {
            font-size: $f-size-28xl;
            line-height: $f-size-28xl;
        }
    }

    .exchange {
        @include padding(0);
        text-align: center;

        @include media($tablet-medium) {
            @include display(flex);
            @include justify-content(center);
            height: 220px;
        }

        .grey-part-content {
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(center);
            @include margin(0 auto);
            @include padding(0 20px 20px);
            text-align: center;

            @include media($tablet) {
                width: 325px;
            }

            @include media($desktop-small) {
                @include margin(0);
                @include padding(0);
            }
        }

        .img {
            background: url('/media/wysiwyg/kuru-shoe.png') no-repeat bottom;
            height: 230px;

            @include media($tablet-medium) {
                background-position: center;
                height: 100%;
                margin-right: 50px;
                width: 457px;
            }
        }

        .heading {
            @include margin(0);
            @include padding(0);
            text-align: center;
        }

        .intro-text {
            @include margin(5px 0 0);
        }
    }

    .percentage {
        font-family: $montserrat;
        font-size: $f-size-15xl;
        font-weight: bold;
    }
}
