<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Theme
 * @author       Krisjanis Veinbahs <krisjanisv@kurufootwear.com>
 * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
?>
<?php if ($crumbs && is_array($crumbs)) : ?>
    <div class="breadcrumbs">
        <ul class="items">
            <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                <li class="item <?php /* @escapeNotVerified */ echo $crumbName ?>">
                    <?php if ($url = $crumbInfo['link']) : ?>
                        <?php $url = $url === "/" ? $this->getUrl("/") : $url;?>
                        <a href="<?php /* @escapeNotVerified */ echo $url ?>" title="<?php echo $block->escapeHtml($crumbInfo['title']) ?>">
                            <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                        </a>
                    <?php elseif ($crumbInfo['last']) : ?>
                        <strong><?php echo $block->escapeHtml($crumbInfo['label']) ?></strong>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($crumbInfo['label']) ?>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>
