<?php
/**
 * Subscribe block for CMS pages
 *
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<div class="block newsletter cms-newsletter">
    <form class="form subscribe"
        novalidate
        action="<?php echo $block->getFormActionUrl() ?>"
        method="post"
        data-mage-init='{"validation": {"errorClass": "mage-error"}}'
        id="newsletter-validate-detail">
        <div class="field newsletter">
            <div class="newsletter-submit">
                <div class="newsletter-email-wrapper">
                    <input name="email" type="email" id="newsletter" class="newsletter-email"
                           placeholder="<?php echo __('Enter your email') ?>"
                           data-validate="{required:true, 'validate-email':true}"/>
                </div>
                <button type="submit" id="submit-subscribe" class="blue-button submit-subscribe arrowed" title="<?php echo __('Sign up') ?>">
                    <span><?php echo __('Subscribe') ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
