<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Theme
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<div class="cookie-notification" data-mage-init='{"cookieNotification": {}}'>
    <div class="content-wrapper">
        <p class="cookie-message">
            <?php echo __("Cookies on the KURU website. We use cookies to ensure that you have a comfortable experience on our website."); ?>
        </p>
        <div class="primary cookie-accept">
            <button type="submit" class="action submit primary blue-button">
                <span><?php echo __('Got it!') ?></span>
            </button>
        </div>
    </div>
</div>
