<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Theme
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<div class="slider-container homepage-slider">
    <?php echo $this->getChildHtml('hp-slider'); ?>
</div>
<script>
    require([
        'jquery',
        'Scandiweb_Slider/js/lity.min'
    ], function ($, lity) {
        'use strict';

        $(function() {
            $('.video-wrapper').click(function(e) {
                lity($('.video-wrapper').data('videoLink'));
                e.preventDefault();
            });
        });
    });
</script>
