// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.account {
    .page-main {
        @include outer-container();
        @include padding($default-indent);

        @include media($desktop-small) {
            @include padding(5px null null);
        }

        &::after {
            height: 40px;
        }

        .actions-toolbar,
        .return-button {
            .secondary,
            .secondary-button {
                width: 100%;

                @include media($tablet-medium) {
                    width: inherit;
                }
            }

            .primary,
            .blue-button {
                @include margin(5px null null);
                float: right;
                width: 100%;

                @include media($tablet-medium) {
                    width: inherit;
                }
            }

            .create {
                @include display(inline-block);
                @include margin(null null 10px);
                min-width: inherit;
                width: 100%;

                @include media($tablet-medium) {
                    width: 400px;
                }
            }
        }
    }

    .sidebar-main,
    .column.main {
        .title,
        .block-title,
        .table-caption,
        .legend,
        .page-title {
            color: $clr-bluewood;
            font-family: $montserrat;
            font-size: $f-size;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
        }
    }

    .sidebar-main {
        @include media($desktop-small) {
            @include padding(null 10px null null);
            float: left;
            width: 200px;
        }

        @include media($desktop-small) {
            width: 240px;
        }

        .content,
        .title {
            @include display(none);

            @include media($desktop-small) {
                @include display(inherit);
            }
        }

        .mobile-content {
            @include margin(null null 20px);

            @include media($desktop-small) {
                @include display(none);
            }

            .label {
                color: $clr-bluewood;
            }

            .nav-mobile,
            .label {
                @include padding(0 20px);
            }

            .label,
            .link {
                text-transform: none;
            }
        }

        .nav {
            &.items {
                @include padding(0);
                list-style: none;
            }

            &.item {
                @include padding(10px null);
                color: $clr-bluewood;
                font-size: $f-size;
            }

            strong {
                color: $clr-picton-blue;
                font-weight: normal;
            }
        }
    }

    .column.main {
        @include media($desktop-small) {
            float: right;
            width: calc(100% - 200px);
        }

        @include media($desktop-small) {
            width: calc(100% - 240px);
        }

        .block-title,
        .table-caption,
        .legend {
            @include margin(null null 20px);
        }

        .block-content,
        .box-content {
            color: $clr-bluewood;
            line-height: 22px;
        }

        .paragraph {
            @include display(block);
            @include margin(5px 0);
        }

        .link {
            @include margin(5px null null);
            color: $clr-picton-blue;
            font-size: $f-size;
            line-height: 20px;
            text-transform: none;
        }

        address {
            @include padding(5px 20px 5px null);
            font-style: normal;

            * {
                @include margin(5px 0);
            }

            br {
                line-height: 28px;
            }
        }

        .fieldset {
            @include padding(0);
            @include margin(0);
            @include border-width(0);

            > br {
                @include display(none);
            }
        }

        .field {
            &:not(.choice) > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-bluewood;
                font-family: $source-sans-pro;
                font-weight: 400;
                line-height: 18px;
                text-transform: uppercase;

                @include media($mobile-large) {
                    @include span-columns(4);
                }
            }
        }

        .table-body {
            @include display(block);

            @include media($mobile-medium-l) {
                @include display(table-row-group);
            }

            .order-link,
            .products,
            .request-link,
            .product-link {
                color: $clr-picton-blue;
            }
        }

        .table-header,
        .table-content {
            @include display(block);
            background-color: transparent;
            font-family: $source-sans-pro;
            font-size: $f-size-xs;
            font-weight: bold;
            line-height: 18px;
            text-align: left;

            @include media($mobile-large) {
                @include display(table-row);
                font-size: $f-size;
            }
        }

        .table-col {
            @include display(table-cell);
            @include padding(8px 0);
            @include border-width(0);
            font-weight: normal;

            &::before {
                @include position(inital);
                content: '';
            }
        }

        .table-title {
            @include display(table-cell);
            @include position(static);
            @include border-color(null null $clr-alto);
            @include border-style(null null solid);
            @include border-width(null 0 1px);
            @include padding(0 null null 0);
            background-color: transparent;
            text-transform: capitalize;
            width: 33.33%;
        }

        .table-header {
            .products {
                text-transform: initial;
            }

            .id,
            .order-id,
            .updated-at,
            .created-at {
                @include media($tablet) {
                    width: 15.28%;
                }
            }

            .actions {
                @include media($tablet) {
                    width: 10.5%;
                }
            }
        }

        .return-items {
            @include margin(30px null 40px);
            font-family: $source-sans-pro;
            font-size: $f-size;
            font-weight: 400;
            line-height: 18px;
        }
    }
}
