<?php
/**
 * @vendor Scandiweb
 * @module Scandiweb_Yotpo
 * @author Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 * @var $block \Scandiweb\Yotpo\Block\Product\QuestionsAndAnswers
 */
?>

<div id="productq-qa-container" data-role="product-qa">
    <div class="yotpo yotpo-main-widget"
         data-product-id="<?php echo $block->getProductId(); ?>"
         data-name="<?php echo $block->getProduct()->getName(); ?>"
         data-url="<?php echo $block->getProduct()->getProductUrl(); ?>"
         data-imageurl="<?php echo $block->getProductImage(); ?>"
         data-description="<?php echo $block->escapeHtml($block->getProduct()->getData('description')); ?>"
         data-mode="questions">
    </div>
</div>
<?php echo $block->getChildHtml(); ?>
