<?php
/**
 * @vendor Scandiweb
 * @module Scandiweb_Yotpo
 * @author Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * @var $block \Scandiweb\Yotpo\Block\Product\QaForm
 */
?>
<div class="block question-add">
    <div class="block-title">
        <strong><?php echo __('Write Your Own Question') ?></strong>
    </div>
<div class="block-content">
    <form action="<?php echo $block->getAction() ?>" class="question-form" method="post" id="question-form" data-role="product-question-form" data-bind="scope: 'question-form'">
        <?php echo $block->getBlockHtml('formkey'); ?>
        <?php echo $block->getChildHtml('form_fields_before')?>
        <fieldset class="fieldset question-fieldset" data-hasrequired="<?php __('* Required Fields'); ?>">
            <div class="field question-field-name required">
                <label for="name_field" class="label">
                    <span><?php echo __('Name') ?></span>
                </label>
                <div class="control">
                    <input type="text" name="nickname" id="name_field" class="input-text" data-validate="{required:true}" data-bind="value: name()" />
                </div>
            </div>
            <?php if (!$block->isCustomerLoggedIn()): ?>
                <div class="field question-field-email required">
                    <label for="email_field" class="label">
                        <span><?php echo __('Email') ?></span>
                    </label>
                    <div class="control">
                        <input type="text" name="email" id="email_field" class="input-text" data-validate="{required:true, , 'validate-email':true}" data-bind="value: review().email" />
                    </div>
                </div>
            <?php endif;?>
            <div class="field question-field-text required">
                <label for="question_field" class="label">
                    <span><?php echo __('Question') ?></span>
                </label>
                <div class="control">
                    <textarea name="question" id="question_field" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().question"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar question-form-actions">
            <div class="primary actions-primary">
                <button type="submit" class="action submit primary">
                    <span><?php echo __('Submit Question') ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
</div>
