<!DOCTYPE html>
<head>
    <title>Kurufootwear Unavailable</title>
    <base href="<?= $this->getViewFileUrl()?>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="*"/>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main class="page-main">
    <div class="maintenance-page">
    <header class="page-header">
        <div class="header content">
            <div class="header-top">
                <a rel="home" class="logo" href="https://dev.kurufootwear.com/" title="KURU Shoes">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="13.59 8.78 187.2 38.44"
                         style="enable-background:new 0 0 187.2 38.44;" xml:space="preserve">
                    <path class="st0" d="M 47.151565,32.409629 C 45.998375,30.679843 43.884198,29.718856 42.154413,29.718856 L 13.516854,29.911053 V 47.208905 H 20.435995 V 36.637997 L 41.577818,36.637997 L 48.689155,47.208905 H 57.145879 Z
                        M 13.516854,25.874888 L 20.435995,25.874888 V 8.7692367 L 13.516854,8.7692367 Z
                        M 46.382775,8.7692367 34.850872,25.874888 L 40.424628,25.874888 C 41.577818,25.874888 43.499799,24.913893 44.845185,23.568506 V 23.568506 L 55.031702,8.7692367 Z
                        M 147.47912,8.7692367 L 115.18978,8.7692367 C 112.69122,8.7692367 110.76923,10.883414 110.76923,13.189795 V 25.874888 L 117.68838,25.874888 V 15.496176 L 144.98054,15.496176 V 25.874888 L 151.89967,25.874888 V 13.189795 C 151.89967,10.691218 149.9777,8.7692367 147.47912,8.7692367 Z
                        M 193.79892,25.874888 L 200.71807,25.874888 V 8.7692367 L 193.79892,8.7692367 Z
                        M 159.58761,25.874888 L 166.50675,25.874888 V 8.7692367 L 159.58761,8.7692367 Z
                        M 96.546549,25.874888 H 103.46569 V 8.7692367 H 96.546549 Z
                        M 62.335246,25.874888 L 69.254387,25.874888 V 8.7692367 L 62.335246,8.7692367 Z
                        M 145.74933,47.208905 H 154.20607 L 144.21175,32.409629 V 32.409629 C 143.05855,30.679843 140.94408,29.75103 139.21459,29.718856 L 110.76923,29.718856 V 47.016709 H 117.68838 V 36.445795 L 138.83019,36.445795 Z
                        M 193.79892,29.911053 V 40.289764 H 166.50675 V 29.911053 L 159.58761,29.911053 V 42.788341 C 159.58761,45.286924 161.7018,47.208905 164.00817,47.208905 H 196.2975 C 198.79607,47.208905 200.71807,45.094721 200.71807,42.788341 V 29.911053 Z
                        M 103.46569,29.911053 V 42.788341 C 103.46569,45.286924 101.3515,47.208905 99.045128,47.208905 H 66.755793 C 64.257229,47.208905 62.335246,45.094721 62.335246,42.788341 V 29.911053 L 69.254387,29.911053 V 40.48196 H 96.546549 V 29.911053 Z"></path>
                </svg>
                </a>
            </div>
            <div class="header-right">
                <div class="phone-icon">
                    <a href="tel:8772115878" class="phone-icon-image"></a>
                </div>
                <div class="call-text">
                    <div class="speak-text">Speak with a live person</div>
                    <div class="call-us">
                        Call us toll-free at: <a class="blue" href="tel:8772115878">(877) 211-5878</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-part">
        <h1 class="maintenance-title">Unavailable</h1>
        <div class="error-image">
            <img src="images/503-image.png" alt="Not found">
        </div>
        <div class="error-text">
            <p class="maintenance-info">Service Temporarily Unavailable</p>
            <p class="maintenance-info">Please try again later</p>
            <a class="back-link blue" href="/">Try again</a>
        </div>
    </div>
</div>
</main>
</body>
