<?php
/**
 * @category    Kurufootwear
 * @package     Magento/Customer
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<div class="actions-toolbar">
    <div class="secondary">
        <a class="action back button secondary-button"
           href="<?php echo $block->escapeUrl($this->getUrl('customer/account/')) ?>">
            <span><?php echo __('Back') ?></span>
        </a>
    </div>
</div>
