<!--
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<div class="block-title minicart-title">
    <span class="text"><!-- ko i18n: 'In Your Cart' --><!-- /ko --></span>
    <button type="button"
            id="btn-minicart-close"
            class="action close close-icon"
            data-action="close"
            data-bind="attr: { title: $t('Continue shopping') }">
        <span class="bar1"></span>
        <span class="bar2"></span>
    </button>
</div>

<div class="block-content minicart-content">
    <span id="class-buddy"></span>

    <!-- ko if: getCartParam('summary_count') -->
        <div data-action="scroll" class="minicart-items-wrapper">
            <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartParam('items'), as: 'item' }">
                <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
                <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} --><!-- /ko -->
                <!-- /ko -->
            </ol>
        </div>
    <!-- /ko -->

    <!-- ko ifnot: getCartParam('summary_count') -->
        <div class="empty-cart">
            <span class="empty-icon"></span>
            <strong class="subtitle empty" data-bind="visible: closeSidebar()">
                <!-- ko i18n: 'You have no items in your shopping bag.' --><!-- /ko -->
            </strong>

            <button type="button"
                    id="btn-minicart-close"
                    class="action close continue-shopping"
                    data-action="close"
                    data-bind="attr: { title: $t('Continue shopping') }">
                <span><!-- ko i18n: 'Continue shopping' --><!-- /ko --></span>
            </button>
            <!-- ko if: getCartParam('cart_empty_message') -->
            <p class="minicart empty text"><!-- ko text: getCartParam('cart_empty_message') --><!-- /ko --></p>
            <!-- /ko -->
        </div>

    <!-- /ko -->

    <!-- ko if: getCartParam('summary_count') -->

        <!-- ko if: getCartParam('possible_onepage_checkout') -->
            <!-- ko foreach: getRegion('subtotalContainer') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->

        <!-- ko foreach: getRegion('extraInfo') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <div class="actions">
            <div class="secondary viewcart-container">
                <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                    <span><!-- ko i18n: 'Edit Cart' --><!-- /ko --></span>
                </a>
            </div>
            <div class="primary">
                <button
                        id="top-cart-btn-checkout"
                        type="button"
                        class="action primary checkout black-button"
                        data-bind="attr: {title: $t('Checkout With Card')}">
                    <!-- ko i18n: 'Checkout With Card' --><!-- /ko -->
                </button>
                <div class="express-checkouts-wrapper">
                    <div class="title">
                        <!-- ko i18n: 'Express Checkouts:' --><!-- /ko -->
                    </div>
                    <div data-bind="html: getCartParam('extra_actions')" class="express-checkouts"></div>
                </div>
            </div>
        </div>
    <!-- /ko -->

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
