<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/** @var $block Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
?>
<div class="cart item">
    <div class="item-wrapper">
        <div class="product-item-photo">
            <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
        </div>
        <div class="product-item-details">
            <strong class="product name product-item-name"><?= $block->escapeHtml($block->getProductName()) ?></strong>
            <div class="color-swatch">
                <?php if ($_options = $block->getOptionList()):?>
                    <?php foreach ($_options as $_option) : ?>
                        <?php if ($_option['label'] == 'Color'): ?>
                        <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <span class="color-label">
                                <?= $_formatedOptionValue['value'] ?>
                            </span>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif;?>
            </div>
        </div>
        <div class="col price" data-th="<?= $block->escapeHtml(__('Price'));?>">
            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayCartPriceInclTax() || $this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices()): ?>
                <span class="price-including-tax" data-label="<?= $block->escapeHtml(__('Incl. Tax'));?>">
                        <?= $block->getUnitPriceInclTaxHtml($_item); ?>
                    </span>
            <?php endif; ?>
            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayCartPriceExclTax() || $this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices()): ?>
                <span class="price-excluding-tax" data-label="<?= $block->escapeHtml(__('Excl. Tax'));?>">
                        <?= $block->getUnitPriceExclTaxHtml($_item); ?>
                    </span>
            <?php endif; ?>
        </div>
    </div>
</div>
