<?php
/**
 * @category  Kurufootwear
 * @package   Kurufootwear\Blog
 * @author    Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/** @var  $block Kurufootwear\Blog\Block\Sidebar\Categories */
?>

<?php
$categories = $block->getCategories();
?>

<div class="sidebar block-categories">
    <div class="block-title">
        <?php echo _('Categories') ?>
    </div>
    <div class="block-content mobile-only">
        <select name="category-list" onChange="window.document.location.href=this.options[this.selectedIndex].value;">
            <?php foreach($categories as $category): ?>
                <option class="link" <?php echo $block->isCategoryCurrent($category) ? "selected='selected'" : '' ?>
                        value="<?php echo $category->getUrl() ?>">
                    <?php echo $category->getName(); ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="block-content desktop-only">
        <ul class="category-list">
            <?php foreach ($categories as $category): ?>
                <div class="category-name">
                    <a class="link <?php echo $block->isCategoryCurrent($category) ? 'selected' : '' ?>"
                       href="<?php echo $category->getUrl() ?>">
                        <?php echo $category->getName() ?>
                    </a>
                </div>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
