<?php
/**
 * @category  Kurufootwear
 * @package   Kurufootwear\Blog
 * @author    Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/** @var  $block Kurufootwear\Blog\Block\Sidebar\Socials */
?>

<div class="sidebar block-socials">
    <div class="block-title">
        <?php echo _('Share') ?>
    </div>
    <div class="block-content">
        <?php echo $block->getSocialCmsBlockHtml() ?>
    </div>
</div>
