<!--
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Braintree
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<div data-bind="attr: {class: 'payment-method payment-method-' + getCode()}, css: {'_active': isActive()}"
     data-mage-init='{"collapsible":{"animate": "250", "openedState": "active", "saveState": true}}'>
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <div id="message-container"></div>
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="credit-wrapper">
            <div class="legacy-border">
                <form id="co-transparent-form-braintree" class="form" data-bind="" method="post" action="#" novalidate="novalidate">
                    <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
                        <legend class="legend">
                            <span><!-- ko i18n: 'Credit Card Information'--><!-- /ko --></span>
                        </legend>
                        <br>
                        <div class="field type">
                            <div class="control">
                                <input type="hidden"
                                       name="payment[cc_type]"
                                       class="input-text"
                                       value=""
                                       data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                                        value: creditCardType
                            ">
                            </div>
                        </div>
                        <div class="field number required">
                            <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                                <span><!-- ko i18n: 'Credit Card Number'--><!-- /ko --></span>
                            </label>
                            <div class="control">
                                <div data-bind="attr: {id: getCode() + '_cc_number'}" class="hosted-control"></div>
                                <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Credit Card Number'--><!-- /ko --></div>
                            </div>
                        </div>
                        <div class="field number required">
                            <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                                <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                            </label>
                            <div class="control">
                                <div class="hosted-date-wrap">
                                    <div data-bind="attr: {id: getCode() + '_expirationMonth'}"
                                         class="hosted-control hosted-date"></div>

                                    <div data-bind="attr: {id: getCode() + '_expirationYear'}"
                                         class="hosted-control hosted-date"></div>

                                    <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Expiration Date'--><!-- /ko --></div>
                                </div>
                            </div>
                        </div>
                        <!-- ko if: (hasVerification())-->
                        <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                            <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                                <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
                            </label>
                            <div class="control _with-tooltip">
                                <div data-bind="attr: {id: getCode() + '_cc_cid'}" class="hosted-control hosted-cid"></div>
                                <div class="hosted-error"><!-- ko i18n: 'Please, enter valid Card Verification Number'--><!-- /ko --></div>

                                <div class="field-tooltip toggle">
                                <span class="field-tooltip-action action-cvv"
                                      tabindex="0"
                                      data-toggle="dropdown"
                                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                                </span>
                                    <div class="field-tooltip-content"
                                         data-target="dropdown"
                                         data-bind="html: getCvvImageHtml()"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: (isVaultEnabled())-->
                        <div class="field choice">
                            <input type="checkbox"
                                   name="vault[is_enabled]"
                                   class="checkbox"
                                   data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
                            <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                                <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
                            </label>
                            <div class="field-tooltip toggle">
                                <span class="field-tooltip-action action-vault"
                                      tabindex="0"
                                      data-toggle="dropdown"
                                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                    <span translate="'What is this?'"></span>
                                </span>
                                <div class="field-tooltip-content"
                                     data-target="dropdown"
                                     translate="'We store you payment information securely on Braintree servers via SSL.'"></div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </fieldset>
                    <input type="submit" id="braintree_submit"  style="display:none" />
                </form>
                <div class="checkout-agreements-block">
                    <!-- ko foreach: $parent.getRegion('before-place-order') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action primary checkout"
                                type="submit"
                                data-bind="
                                    click: placeOrderClick,
                                    css: {disabled: !isPlaceOrderActionAllowed()},
                                    attr: {title: $t('Place Order')}">
                            <span data-bind="i18n: 'Place Order'"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="security-badges">
                <div class="ssl">
                    <div class="ssl-logo"/>
                    <span class="ssl-info">
                        <!-- ko i18n: 'Our site uses the latest SSL Security Encryption. You can trust your information is safe.' --><!-- /ko -->
                    </span>
                </div>
                <div class="godaddy-logo"/>
            </div>
        </div>
    </div>
</div>
