<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2018 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * Product list toolbar
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
$allOrders = $block->getAvailableOrders();
$currentOrderCode = $block->getCurrentOrder();
$currentOrderLabel = $allOrders[$currentOrderCode];
?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?php echo __('Sort By') ?></label>
    <select id="sorter" data-role="sorter" class="sorter-options">
        <option value="<?php echo $currentOrderCode; ?>"
                selected="selected">
            <?php echo $block->escapeHtml(__($currentOrderLabel)) ?>
        </option>
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <?php if (!$block->isOrderCurrent($_key)): ?>
                <option value="<?php echo $_key; ?>">
                    <?php echo $block->escapeHtml(__($_order)) ?>
                </option>
            <?php endif;?>
        <?php endforeach; ?>
    </select>
</div>
