<!--
/**
 * @category    Scandiweb
 * @package     Kurufootwear/default
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<!-- ko if: isDisplayed() -->
<tr class="rewards-points">
    <th class="mark" scope="row" data-bind="text: title"></th>
    <td class="amount">
        <span class="price" data-bind ="text: parseInt(getValue()), attr:{'data-label': title}"></span>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
<!-- /ko -->
