<!--
/**
 * @category    Scandiweb
 * @package     Kurufootwear/default
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<!-- ko if: isShowRewards() -->
<form id="reward-points-form" data-bind="attr: { action: ApplayPointsUrl }, blockLoader: isLoading" method="post">
    <div class="rewards__checkout-cart-usepoints">
        <div class="reward-discount-form">
            <div class="wrapper-available">
                <div class="header">
                    <div class="title" data-role="title">
                        <strong id="block-rewards-form-heading" role="heading" aria-level="2">
                            <!-- ko i18n: 'SPEND YOUR KURU CASH'--><!-- /ko -->
                        </strong>
                        <strong></strong>
                    </div>
                    <label class="instructions" for="points_amount"><!-- ko i18n: 'Move slider to spend your KURU Cash'--><!-- /ko --></label>
                </div>
                <p class="available-amount amount">
                    <!-- ko i18n: 'You have'--><!-- /ko -->
                    <span class="currency-wrapper">
                        <span class="kuru-currency">K</span>
                        <b class="points" data-bind="text: rewardsPointsAvailble"></b>
                    </span>
                </p>
            </div>

            <div class="input-box" data-bind='
                        event: {
                            change: rewardsFormSubmit.bind($data, false)
                        }
                    '>
                <input type="range" min="0" class="input-slider" id="points_amount" name="points_amount"
                       data-bind='
                        value: rewardsPointsUsed,
                        attr: {
                            "max": chechoutRewardsPointsMax
                        }'
                       required
                />
            </div>

            <div class="wrapper-used">
                <p class="used-amount amount">
                    <!-- ko i18n: 'You will spend'--><!-- /ko -->
                    <span class="currency-wrapper">
                    <span class="kuru-currency">K</span>
                    <b class="points" data-bind="text: rewardsPointsUsed"></b>
                </span>
                </p>
                <div class="onestepcheckout-newsletter checkbox-group">
                    <input type="checkbox" id="points_all" name="points_all"
                           class="checkbox osc-additional-data" data-bind="
                           click: setMaxPoints,
                           checked: useMaxPoints,
                           attr: {
                               checked: useMaxPoints
                           }
                    ">
                    <label class="label-checkbox" for="points_all">
                        <span class="check"></span>
                        <span class="box-check"></span>
                        <!-- ko i18n: 'Maximize my discount'--><!-- /ko -->
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /ko -->
