// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.contact-index-index {
    .page-main {
        @include outer-container();
        @include padding($default-indent);

        @include media($desktop) {
            @include margin(null auto);
            @include padding(0 null);
        }
    }

    .column {
        .legend {
            font-family: $montserrat;
            font-size: $f-size;
            font-weight: bold;
            line-height: 14px;
            text-transform: uppercase;
        }

        .fieldset {
            @include border-width(0);
            @include margin(0);
            @include padding(0);
        }

        .field {
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;

            > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-video-banner;
                line-height: 18px;
                text-transform: uppercase;

                @include media($desktop-small) {
                    @include span-columns(3);
                }
            }

            &.required > .label::after {
                color: $clr-cinnabar;
                content: '*';
            }
        }

        .control {
            @include span-columns(12);

            @include media($desktop-small) {
                @include span-columns(9);
            }
        }
    }

    .indicator {
        color: $clr-cinnabar;
    }

    .actions-toolbar {
        .info-text {
            @include margin(null null null 10px);
            @include display(inline-block);
            font-family: $source-sans-pro;
            font-size: $f-size;
            font-weight: 400;
        }

        .primary {
            @include margin(null null 10px null);
            width: 100%;

            @include media($desktop-small) {
                float: right;
                width: inherit;
            }
        }
    }

    .contact-wrapper {
        @include display(block);

        @include media($desktop-small) {
            @include display(flex);
        }
    }

    .google-map-contact {
        @include margin(null -50vw 10px);
        @include position(relative, null 50%);
        height: 300px;
        overflow: hidden;
        width: 100vw;

        @include media($tablet) {
            @include margin(null 0 null);
            @include position(relative, null 0);
            overflow: inherit;
            width: 100%;
        }
    }

    .contact-form-wrapper,
    .contact-info-block {
        width: 100%;

        @include media($desktop-small) {
            @include margin(null null 10px);
            width: 50%;
        }

        .block-title {
            @include margin(null null 30px);
            color: $clr-video-banner;
            font-family: $montserrat;
            font-size: $f-size-l;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .contact-form-wrapper {
        @include margin(null 50px null null);

        .map-container {
            margin-bottom: 30px;
        }

        .contact {
            margin-bottom: 35px;
            overflow: hidden;
        }
    }

    .contact-list,
    .link-list {
        @include padding(0);
    }

    .list-item {
        @include margin(0);
        @include padding(0);
        list-style-type: none;
    }

    .block-info {
        font-family: $source-sans-pro;
        font-size: $f-size;
        line-height: 18px;
    }

    .info-paragraph {
        @include margin(10px null);

        @include media($desktop-small) {
            @include margin(30px null);
        }
    }

    .block-contact {
        .list-item {
            @include display(block);
            @include margin(10px null 20px);
            width: 100%;

            @include media($tablet) {
                @include display(inline-flex);
                width: 49%;
            }

            @include media($desktop-small) {
                @include margin(0 null 20px);
            }
        }

        .icon-wrapper {
            @include margin(null auto);
            @include padding(10px null);
            float: inherit;

            @include media($tablet) {
                @include display(block);
                @include margin(null 25px);
                @include padding(0 null);
            }

            @include media($desktop-small) {
                @include display(inline-block);
                @include padding(10px 20px 10px null);
                @include margin(null 0);
                float: left;
            }
        }

        .contact-icon {
            @include display(block);
            @include margin(null auto);
            @include padding(null 10px);
            height: 46px;
            width: auto;

            @include media($tablet) {
                @include margin(null 0);
                @include padding(null 0);
            }

            @include media($desktop-small) {
                height: 30px;
            }

        }

        .list-item-wrapper {
            @include margin(0 null);
            text-align: center;

            @include media($tablet) {
                @include margin(5px null);
                padding-right: 15px;
                text-align: left;
            }
        }

        .list-text {
            font-family: $source-sans-pro;
            font-size: $f-size;
            line-height: 20px;
        }

        .list-title {
            text-transform: uppercase;
        }
    }

    .contact-kuru {
        .block-title {
            @include margin(60px null 20px);
        }
    }

    .get-help {
        .block-links {
            @include media($desktop-small) {
                padding-bottom: 14px;
            }
        }

        .link-list {
            @include display(block);
            @include margin(5px null null);
            width: 100%;

            @include media($mobile-medium-l) {
                @include display(flex);
                margin-bottom: 20px;
            }
        }

        .list-item {
            @include margin(null null 5px);
            @include span-columns(12);
            font-family: $source-sans-pro;
            font-size: $f-size;
            line-height: 18px;

            @include media($mobile-medium-l) {
                @include span-columns(6);
            }
        }

        .link-list:last-of-type {
            .list-item {
                @include media($mobile-medium-l) {
                    @include span-columns(4);
                }
            }
        }

        .help-links {
            color: $clr-picton-blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .gm-style-iw + div {
        @include display(none);
    }
}
