<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Blog
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/* @var $block Kurufootwear\Blog\Block\PostList */
?>
<?php
$posts = $block->getPosts();
?>
<?php if (count($posts)): ?>
    <div class="blog-posts">
        <?php foreach ($posts as $post): ?>
            <div class="blog-post">
                <a class="thumbnail-wrapper" href="<?php echo $post->getUrl(); ?>">
                    <div class="thumbnail" style="background-image:url('<?php echo $block->getFullThumbnail($post) ?>');"></div>
                </a>
                <?php $categories = $post->getPublicCategories(); ?>
                <?php foreach ($categories as $index => $category): ?>
                    <a class="categories"
                       href="<?php echo $category->getUrl(); ?>">
                        <?php echo $category->getName(); ?>
                    </a>
                    <span class="seperator">
                        <?php echo (count($categories) == $index + 1) ? '' : ','; ?>
                    </span>
                <?php endforeach; ?>
                <h2 class="title">
                    <a href="<?php echo $post->getUrl(); ?>">
                        <?php echo $block->escapeHtml($post->getTitle()); ?>
                    </a>
                </h2>
            </div>
        <?php endforeach; ?>
    </div>
    <?php echo $block->getChildHtml('pager'); ?>
<?php else: ?>
    <div class="message info empty">
        <div><?php echo $block->escapeHtml(__('No posts.')) ?></div>
    </div>
<?php endif; ?>
