<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Blog
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

$slides = $block->getSliderPosts();
?>
<div class="slider-container post-slider">
    <?php foreach ($slides as $slide): ?>
        <div class="blog-post slide">
            <a class="thumbnail-wrapper" href="<?php echo $slide->getUrl(); ?>">
                <div class="thumbnail" style="background-image:url('<?php echo $block->getFullThumbnail($slide) ?>');"></div>
            </a>
            <h2 class="title">
                <a <?php echo ($slide->getWhiteTitle()) ? 'class="white"': ''; ?> href="<?php echo $slide->getUrl(); ?>">
                    <?php echo $slide->getTitle(); ?>
                </a>
            </h2>
        </div>
    <?php endforeach; ?>
</div>
<script type="text/javascript">
    //<![CDATA[
    require(['jquery', 'scandiweb/slider'], function($) {
        $('.post-slider').slick({
            arrows: false,
            dots: true
        });
    });
    //]]>
</script>
