// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.review-customer-index {
    .product-review-item {
        @include border-color(null null $clr-dark-border);
        @include border-style(null null solid);
        @include border-width(null null 1px);
        @include padding(10px null);

        &:last-of-type {
            @include media($desktop-small) {
                @include border-width(null null 0);
            }
        }

        .product-item-name,
        .review-date,
        .product-review {
            color: $clr-video-banner;
            font-family: $source-sans-pro;
            font-size: $f-size-xl;
            font-weight: 600;
            line-height: 20px;

            @include media($desktop-small) {
                font-size: $f-size;

            }
        }

        .review-date {
            font-weight: 400;
        }

        .bottomLine {
            float: right;
        }

        .product-review-header {
            @include padding(10px null);

            @include media($desktop-small) {
                @include padding(0 null);
            }
        }

        .product-review {
            @include display(inline-block);
            font-style: italic;
        }

        .product-review-detail {
            font-weight: 400;
        }
    }

    .field.required {
        > .label::after {
            color: $clr-cinnabar;
            content: '*';
        }
    }

    .reviews-wrapper {
        @include span-columns(12);
    }
}
