<?php
/**
 * @vendor      Kurufootwear
 * @module      Magento_Review
 * @author      Kristaps Stalidzans <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var \Kurufootwear\Review\Block\Customer\ListCustomer $block */
?>
<div class="reviews-wrapper">
    <?php if ($block->getReviews() && count($block->getReviews())): ?>
        <div class="review title">
            <?php echo __('My Product Reviews') ?>
        </div>
        <?php foreach ($block->getReviews() as $_review): ?>
            <div class="product-review-item">
                <div class="product-review-header">
                    <div class="product-item-name">
                        <a href="<?php echo $block->getProductUrl($_review->getEntityPkValue()); ?>"><?php echo $block->escapeHtml($_review->getName()) ?></a>
                    </div>
                    <div class="review-date">
                        <?php echo $block->dateFormat($_review->getReviewCreatedAt()); ?>
                    </div>
                    <div class="yotpo bottomLine"
                         data-product-id="<?php echo $_review->getEntityPkValue(); ?>"
                         data-url="<?php echo$block->getProductUrl($_review->getEntityPkValue()); ?>">
                    </div>
                </div>
                <div class="product-review">
                    <div class="product-review-heading">
                        <?php echo $block->escapeHtml($_review->getTitle()); ?>
                    </div>
                    <p class="product-review-detail">
                        <?php echo $block->escapeHtml($_review->getDetail()); ?>
                    </p>
                </div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <div class="message info empty">
            <span><?php echo __('You have submitted no reviews.') ?></span>
        </div>
    <?php endif; ?>
</div>
