<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Catalog
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Shopping Bag'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <div class="actions">
                <button type="submit"
                        title="<?php echo $buttonTitle ?>"
                        class="action primary tocart black-button"
                        id="product-addtocart-button">
                    <span><?php echo $buttonTitle ?></span>
                </button>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
    <div class="stock-message-wrapper">
        <p class="stock-message"></p>
    </div>
<?php endif; ?>
<script>
    var supportsAjax = window.XMLHttpRequest;
    if (supportsAjax) {
        // If ajax is supported, the js Component will handle requests
        // but sometimes it's slow to initialise, so in that time we handle
        // all with Vanilla JS
        var button = document.getElementById("product-addtocart-button");
        button.type = "button"; // Disable submit by form post
        button.addEventListener('click', function() {
            // Assign data property - button was clicked
            // (To be used in the catalogAddToCart component)
            var button = document.getElementById("product-addtocart-button");
            button.setAttribute('data-clicked', "1");
        });
    }
</script>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script>
<?php endif; ?>
