<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Catalog
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/** @see \Magento\Catalog\Block\Product\View\Description */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
$_attributeValue = $_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
?>
<?php if ($_attributeValue): ?>
    <div class="product attibute <?php echo $_className?>">
        <?php if($_attributeLabel): ?>
            <div class="label"><?php echo $_attributeLabel; ?>:</div>
        <?php endif; ?>
        <?php if ($_className == 'orig-name'): ?>
                <h1 class="value" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></h1>
            <?php else:?>
                <div class="value" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></div>
        <?php endif; ?>
    </div>
<?php endif; ?>
