<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Catalog
 * @author       Aleksejs Baranovs <info@scandiweb.com>
 * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/**
 * @var $block \Scandi\MagicZoom\Block\Gallery
 */
?>
<div class="mz-gallery-container">
    <div class="mz-gallery-placeholder gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder"></div>
    <div class="desktop-gallery-placeholder">
        <?php $iterator = 0 ?>
        <?php foreach ($block->getGalleryImages() as $image): ?>
            <img src="<?php echo $image->getMediumImageUrl() ?>"
                 alt="<?php echo $image->getLabel() ?>"
                 href="<?php echo $image->getLargeImageUrl() ?>"
                 class="desktop-image <?php echo $iterator === 0 ? 'first' : ''; ?>">
            <?php $iterator++ ?>
        <?php endforeach; ?>
    </div>
    <div data-role="loader" class="loading-mask <?php echo $block->getFirstImageUrl() ? 'image' : '' ?>">
        <div class="loader">
            <?php if ($imageUrl = $block->getFirstImageUrl()): ?>
                <img src="<?php echo $imageUrl ?>" class="base-image" draggable="false">
            <?php else: ?>
                <img class="loader-spinner" draggable="false" src="<?php echo $this->getBaseUrl() . 'media/wysiwyg/loader.svg'; ?>" alt="<?php echo __('Loading...') ?>">
            <?php endif; ?>
        </div>
    </div>
</div>
<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script type="text/javascript">
    require([
        'fixedPdpDetails',
        'scandiGallery'
    ], function(fixedPdpDetails) {
        fixedPdpDetails.initialize();
    });

    var config = {
        'width': <?php echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
        'height': <?php echo $block->getImageAttribute('product_page_image_medium', 'height'); ?>
    },
    loader = document.querySelectorAll('.mz-gallery-container [data-role="loader"]')[0];
</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "Magento_Catalog/js/gallery-new-pdp": {
                "data": <?php echo $block->getGalleryImagesJson(); ?>,
                "sliderSettings": {
                    "videoPopup": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/video_popup'); ?>,
                    "options": { <?php /* Options will be passed directly to Slick, can add additional settings here */ ?>
                        "autoplay": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/autoslide_enabled'); ?>,
                        "autoplaySpeed": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/autoslide_timeout'); ?>,
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "dots": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/show_dots', true); ?>,
                        "arrows": false,
                        "infinite": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/infinite', true); ?>,
                        "responsive": [
                            {
                                "breakpoint": 1024,
                                "settings": {
                                    "dots": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/show_dots_mobile', true); ?>
                                }
                            }
                        ]
                    }
                },
                "imagePopup": {
                    "imagePopupStatus": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/image_popup'); ?>,
                    "options": { <?php /* Options will be passed directly to Fancybox, can add additional settings here */ ?>
                        "slideShow" : false,
                        "fullScreen": false,
	                    "thumbs" : false
                    }
                },
                "videoSettings": {
                    "showRelated": false,
                    "videoAutoRestart": false
                }
            }
        }
    }
</script>
