<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Catalog
 * @author       Krisjanis Veinbahs <krisjanisv@kurufootwear.com>
 * @copyright    Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
?>
<?php
/** @see \Magento\Catalog\Block\Product\View\Description */
?>
<?php
$_product = $block->getProduct();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
$_attributeValue = $_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
?>
<?php if ($_attributeValue): ?>
    <div class="product attibute <?php echo $_className?>">
        <?php if($_attributeLabel): ?>
            <div class="label"><?php echo $_attributeLabel; ?>:</div>
        <?php endif; ?>
        <?php if ($_className == 'orig-name'): ?>
                <h1 class="value" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></h1>
            <?php else:?>
                <div class="value" <?php echo $_attributeAddAttribute;?>><?php echo $_attributeValue; ?></div>
        <?php endif; ?>
        <?php echo $this->getBlockHtml('bottomline'); ?>
    </div>
<?php endif; ?>
