<div class="read-more-wrapper">
    <a href="#content-description-wrapper" class="read-more href-link blue bold">
        <span class="blue"><?php echo __('Read More') . ' >'; ?></span>
    </a>
</div>
