<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Catalog
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/** @see \Kurufootwear\Catalog\Block\Product\View\Width */
/** @var $block \Kurufootwear\Catalog\Block\Product\View\Width */
/**
 *  Hax for product width
 *
 * @TODO Remove HAX when products ir merged
 */
?>
<?php
    $_product = $block->getProduct();
    $width = $block->getCurrentProductWidth();
?>
<?php if ($width): ?>
    <?php $data = $block->getOptionArray(); ?>
    <div class="product attribute width">
        <span class="label">Width</span>
        <div class="width wrapper">
            <?php foreach ($data as $url => $label): ?>
                <?php
                    $isChecked = $width == $label;
                    $isDisabled = $url == '';
                ?>
                <?php if ($isChecked || $isDisabled): ?>
                    <a class="swatch-option text button secondary-button
                        <?php echo $isChecked ? 'checked' : '' ?>
                        <?php echo $isDisabled ? 'disabled' : '' ?>">
                        <?php echo $label; ?>
                    </a>
                <?php else: ?>
                    <a href="<?php echo $url; ?>" class="swatch-option text button available secondary-button">
                        <?php echo $label; ?>
                    </a>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        ".product.attribute.width": {
            "Kurufootwear_Catalog/js/width":{}
        }
    }
    </script>
<?php endif; ?>
