<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Catalog
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
?>
<?php
/** @see \Kurufootwear\Catalog\Block\Product\View\Width */
/** @var $block \Kurufootwear\Catalog\Block\Product\View\Width */
?>
<?php $width = $block->getCurrentProductWidth() ?>
<?php if ($width): ?>
    <?php $data = $block->getOptionArray() ?>
    <div class="product attribute width">
        <span class="label"><?php echo __('Choose width') ?></span>
        <div class="width wrapper">
            <?php foreach ($data as $url => $label): ?>
                <?php
                    $isChecked = $width == $label;
                    $isDisabled = $url == '';
                ?>
                <?php if ($isChecked || $isDisabled): ?>
                    <a class="swatch-option text button secondary-button
                        <?php echo $isChecked ? 'checked' : '' ?>
                        <?php echo $isDisabled ? 'disabled' : '' ?>">
                        <?php echo $label; ?>
                    </a>
                <?php else: ?>
                    <a href="<?php echo $url; ?>" class="swatch-option text button available secondary-button">
                        <?php echo $label ?>
                    </a>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        ".product.attribute.width": {
            "Kurufootwear_Catalog/js/width":{}
        }
    }
    </script>
<?php endif; ?>
