.wrapper {
    background-color: #F6F6F6;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0;
    padding:0;
}

.main {
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    margin: 40px auto;
    max-width: 600px;
    padding: 10px 10px 0;
}

.header,
.main-content {
    padding: 10px;
}

.greeting {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 11px 0;
}

h3 {
    background-color: #EAEAEA;
    font-size: 13px;
    line-height:1em;
    margin: 0;
    padding: 5px 9px 6px 9px;
}

p {
    font-size: 12px;
    line-height: 16px;
}

a {
    color: #1E7EC8;
}

.bold {
    font-weight: bold;
}

.footer {
    background: #EAEAEA;
    text-align:center;
}

// Order e-mail
.order-details {
    width: 100%;
}

.address-details,
.method-info {
    border: 1px solid #EAEAEA;
    font-size: 12px;
    padding: 0;
    vertical-align: top;
    width: 50%;

    .payment-method,
    p {
        margin: 0;
        padding: 7px 9px 9px 9px;
    }
}

.order-number {
    float: left;
    font-size: 18px;
    padding-right: 10px;
}

.order-placed {
    font-size: 15px;
    line-height: 20px;
}

.email-items {
    margin-top: 10px;
    width: 100%;

    .item-info {
        text-align: left;
    }

    .item-qty {
        text-align: center;
    }

    .item-price,
    .order-totals {
        text-align: right;
    }

    .option-label {
        float: left;
    }
}

.payment-method {
    margin: 0;
}

.email-password-wrapper {
    background-color: #f9f9f9;
    border: 1px solid #EAEAEA;
    padding: 13px 18px;

    .account-info {
        list-style-type: none;
        margin-left: 0;
    }
}
