<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Blog
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/* @var $block \Aheadworks\Blog\Block\Post */

$post = $block->getPost();
?>
<?php if ($post): ?>
    <article class="blog-posts-post blog-post">
        <header class="blog-post-header">
            <div class="blog-post-info">
                <span class="author-category">
                    <span class="by">
                        <?php echo _('By'); ?>
                    </span>
                    <span class="author">
                        <?php echo $post->getAuthorName(); ?>
                    </span>
                    <span class="in">
                        <?php echo _('in'); ?>
                    </span>
                    <?php $categories = $post->getPublicCategories(); ?>
                    <?php foreach ($categories as $index => $category): ?>
                        <a class="categories"
                           href="<?php echo $category->getUrl(); ?>">
                            <?php echo $block->escapeHtml($category->getName()); ?>
                        </a>
                        <span class="seperator">
                            <?php echo (count($categories) == $index + 1) ? '' : ','; ?>
                        </span>
                    <?php endforeach; ?>
                </span>
                <span class="date">
                    <?php echo $block->formatDate($post->getPublishDate(), \IntlDateFormatter::MEDIUM) ?>
                </span>
            </div>
            <h1 class="blog-post-title">
                <?php if ($block->isListItemMode()): ?>
                    <a href="<?php echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>" class="blog-post-title-link">
                        <?php echo $block->escapeHtml($post->getTitle()) ?>
                    </a>
                <?php else: ?>
                    <?php echo $block->escapeHtml($post->getTitle()) ?>
                <?php endif; ?>
            </h1>
        </header>
        <?php if (!is_null($post->getThumbnail())): ?>
            <div class="blog-post-thumbnail thumbnail-wrapper">
                    <div class="thumbnail" style="background-image:url('<?php echo $block->getFullThumbnail($post) ?>');"></div>
            </div>
        <?php endif; ?>
        <div class="blog-post-content">
            <?php echo $block->getContent($post) ?>
        </div>
        <?php if ($block->showReadMoreButton($post)): ?>
            <p class="blog-post-read-more-wrapper">
                <a href="<?php echo $block->escapeXssInUrl($block->getPostUrl($post)) ?>"
                   class="blog-post-read-more action primary link">
                    <?php echo $block->escapeHtml(__('Read more')) ?>
                </a>
            </p>
        <?php endif; ?>
        <?php if ($block->isViewMode()): ?>
        <?php if (count($post->getTagNames()) > 0): ?>
            <div class="blog-post-tags">
                <span class="title">
                    <?php echo _('Tags: ')?>
                </span>
                <?php $tagNames = $post->getTagNames(); ?>
                <?php foreach ($tagNames as $index => $tagName): ?>
                    <a class="tag link"
                       href="<?php echo $block->escapeXssInUrl($block->getSearchByTagUrl($tagName)) ?>">
                        <?php echo $block->escapeHtml($tagName) ?>
                    </a>
                    <span class="seperator">
                        <?php echo (count($tagNames) == $index + 1) ? '' : ','; ?>
                    </span>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
        <?php endif; ?>
        <?php echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterPost()) ?>
        <?php if ($block->isViewMode() && $block->commentsEnabled()): ?>
            <?php echo $block->getDisqusEmbedHtml() ?>
        <?php endif; ?>
        <?php echo $block->getRelatedProductHtml($block->isViewMode(), $block->getPositionAfterComments()) ?>
    </article>
<?php endif; ?>
