<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 *
 * @var $block \Kurufootwear\Contact\Block\ContactInfo
 *
 */
$apiKey = $block->getApiKey();
?>
<?php if ($apiKey || $block->getAddress() != NULL): ?>
    <div class="block-title">
        <?php echo __('Visit our Utah location'); ?>
    </div>
    <?php if ($block->getAddress() != NULL): ?>
        <p class="info-paragraph">
            <?php echo __('Our address is: ') . $block->getAddress(); ?>
            <?php if ($block->getCity() != NULL): ?>
                <?php echo ', ' . $block->getCity(); ?>
            <?php endif; ?>
            <?php if ($block->getState() != NULL): ?>
                <?php echo ', ' . $block->getState(); ?>
            <?php endif; ?>
        </p>
    <?php endif; ?>
    <?php if ($apiKey): ?>
        <div class="map-container">
            <div class="top-figures">
                <div class="top-left-figure contact-figure"></div>
                <div class="top-right-figure contact-figure"></div>
            </div>
            <div id="map" class="google-map-contact"></div>
            <div class="bottom-figures">
                <div class="bottom-left-mobile-figure contact-figure"></div>
                <div class="bottom-right-mobile-figure contact-figure"></div>
            </div>
        </div>
        <script>
            function initMap() {
                // Store coordinates
                var store = new google.maps.LatLng(<?php echo $block->getCoordinates() ?>);

                // Map itself
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 11,
                    center: store,
                    disableDefaultUI: true,
                    zoomControl: false,
                    styles: [
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#444444"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 45
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#aad2e3"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        }
                    ]
                });

                // Marker to the store location with custom image
                var icon = '../../../media/icons/google_maps_marker.png';
                var marker = new google.maps.Marker({
                    position: store,
                    map: map,
                    opacity: 0
                });

                // Infowindow with a logo
                var infoWindow = new google.maps.InfoWindow();
                infoWindow.setOptions({
                    content: '<div class="kuru-inner"><img style="padding-left: 25px;" class="kuru-inner-img" src="../../../media/logos/logo_new.svg"></div>',
                });

                // Style infowindow accordingly to the design
                google.maps.event.addListener(infoWindow, 'domready', function() {
                    var iWindow = document.getElementsByClassName('gm-style-kuru');
                    for (var i = 0; i < iWindow.length; i++) {
                        var iwBackground = iWindow[i].previousSibling;

                        // Remove shadow, default tail and background
                        for (var j = 0; j < iwBackground.children.length; j++) {
                            iwBackground.children[j].style.display = 'none';
                        }
                        // Add new div for background for easier styling via css
                        var newBackground = document.createElement('div');
                        newBackground.className = 'kuru-background';
                        iwBackground.appendChild(newBackground);

                        // Add custom tail image
                        var tailBox = document.createElement('div');
                        tailBox.innerHTML = '<img class="kuru-tail-img" src="../../../media/images/infowindow-tail.png">';
                        iwBackground.appendChild(tailBox);

                        // Remove close button
                        var iwClose = iWindow[i].nextSibling;
                        iwClose.style.display = 'none';
                        iWindow[i].style.top = '5px';
                        iWindow[i].style.left = '0';
                    }
                });

                infoWindow.open(map, marker);

                // Offset variables
                var offsetX = 0;
                var offsetY = 0;

                // Offset center for desktop
                if(window.innerWidth > 768) {
                    map.panBy(offsetX, offsetY);
                }

                // Keep marker in the center on browser window resize
                google.maps.event.addDomListener(window, 'resize', function() {
                    if(window.innerWidth > 768) {
                        map.setCenter(store);
                        map.panBy(offsetX, offsetY);
                    }
                    else {
                        map.setCenter(store);
                    }
                });

            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey; ?>&callback=initMap">
        </script>
    <?php endif; ?>
<?php endif; ?>