<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 *
 * @var $block \Kurufootwear\Contact\Block\ContactInfo
 *
 */
?>
<div class="block-contact">
    <ul class="contact-list">
        <li class="list-item">
            <div class="icon-wrapper">
                <img class="contact-icon" src="<?php echo $block->getMedia('icons/questions.svg'); ?>" alt=""/>
            </div>
            <div class="list-item-wrapper">
                <div class="list-title">
                    <?php echo __('Chat with a guru'); ?>
                </div>
                <a href="#" class="list-links kuru-chat-toggler-help blue capitalize" alt="Help Links">
                    <?php echo __('Open live chat'); ?>
                </a>
            </div>
        </li>
        <li class="list-item">
            <div class="icon-wrapper">
                <img class="contact-icon" src="<?php echo $block->getMedia('icons/clock.svg'); ?>" alt=""/>
            </div>
            <div class="list-item-wrapper">
                <div class="list-title">
                    <?php echo __('We\'re open'); ?>
                </div>
                <div class="list-text"><?php echo $block->getHours(); ?></div>
            </div>
        </li>
        <li class="list-item">
            <div class="icon-wrapper">
                <img class="contact-icon" src="<?php echo $block->getMedia('icons/phone.svg'); ?>" alt=""/>
            </div>
            <div class="list-item-wrapper">
                <div class="list-title">
                    <?php echo __('Speak with a live KURU GURU'); ?>
                </div>
                <div class="list-text">
                    <?php echo __('Call us toll-free at') . ':'; ?> <a href="tel:<?php echo $block->getPlainPhone(); ?>" class="blue"><?php echo $block->getPhone(); ?></a>
                </div>
            </div>
        </li>
        <li class="list-item">
            <div class="icon-wrapper">
                <img class="contact-icon" src="<?php echo $block->getMedia('icons/envelope.svg'); ?>" alt=""/>
            </div>
            <div class="list-item-wrapper">
                <div class="list-title">
                    <?php echo __('Email us'); ?>
                </div>
                <div class="list-text">
                    <?php echo __('Email us:'); ?> <a href="mailto:<?php echo $block->getEmail(); ?>" class="blue"><?php echo $block->getEmail(); ?></a>
                </div>
            </div>
        </li>
    </ul>
</div>
