<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>

<div class="mobile-menu">
    <span class="bar1"></span>
    <span class="bar2"></span>
    <span class="bar3"></span>
    <span class="bar4"></span>
</div>
