<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<?php
/**
 * @var $block \Scandiweb\Menumanager\Block\Menu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ? $block->getColumnsLimit() : 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<nav class="navigation desktop" role="navigation">
    <div class="nav-container">
        <ul class="ui-menu">
            <?php echo $_menu; ?>
        </ul>
    </div>
</nav>
