<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @author       Jelena Sorohova <info@scandiweb.com>
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/** @var \Kurufootwear\Contact\Block\ContactInfo $block*/
?>

<div class="account-links">
    <?php if ($block->isLoggedIn()): ?>
        <a href="<?php echo $block->getUrl('customer/account') ?>" class="header-account-button">My account</a>
    <?php else: ?>
        <a href="<?php echo $block->getUrl('customer/account/login') ?>" class="header-account-button">Log in / Join</a>
    <?php endif; ?>
    <div class="help">
        <a href="<?php echo $block->getUrl('contact') ?>" class="header-account-button help-link">Help</a>
        <div class="help-submenu">
            <div class="help-submenu-content">
                <div class="help-item">
                    <div class="help-item-wrapper">
                        <a href="<?php echo $block->getUrl('faq') ?>">
                            <div class="icon-wrapper"><img class="contact-icon" src="<?php echo $block->getMedia('icons/question-mark.svg'); ?>" alt=""/></div>
                            <div class="contact-text"><?php echo __('FAQs'); ?></div>
                        </a>
                    </div>
                </div>
                <div class="help-item">
                    <div class="help-item-wrapper">
                        <a href="tel:<?php echo $block->getPlainPhone(); ?>">
                            <div class="icon-wrapper"><img class="contact-icon" src="<?php echo $block->getMedia('icons/phone-larger.svg'); ?>" alt=""/></div>
                            <div class="contact-text"><?php echo $block->getPhone(); ?></div>
                        </a>
                    </div>
                </div>
                <div class="help-item">
                    <div class="help-item-wrapper">
                        <a href="#" class="list-links kuru-chat-toggler-help">
                            <div class="icon-wrapper"><img class="contact-icon" src="<?php echo $block->getMedia('icons/chat.svg'); ?>" alt=""/></div>
                            <div class="contact-text zopim-help-bar-text"><?php echo $block->getHelpBarOfflineText() ?></div>
                        </a>
                    </div>
                </div>
                <div class="help-item">
                    <div class="help-item-wrapper">
                        <a href="mailto:<?php echo $block->getEmail(); ?>">
                            <div class="icon-wrapper"><img class="contact-icon" src="<?php echo $block->getMedia('icons/mail.svg'); ?>" alt=""/></div>
                            <div class="contact-text"><?php echo $block->getEmail(); ?></div>
                        </a>
                    </div>
                </div>
                <div class="help-item">
                    <div class="help-item-wrapper">
                        <a href="#" class="order-status-trigger<?php echo $block->isLoggedIn() ? '-customer' : '' ?>" id="order-status-link">
                            <div class="icon-wrapper"><img class="contact-icon" src="<?php echo $block->getMedia('icons/package.svg'); ?>" alt=""/></div>
                            <div class="contact-text"><?php echo __('Check order status'); ?></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
