<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>

<?php
/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
<style>
    .page-header .logo:hover path {
        d: path('M 47.150118,35.425084 C 45.99891,33.698266 43.888349,32.738934 42.161531,32.738934 L 13.573125,30.052764 V 47.129076 H 20.480393 V 36.960035 L 41.585932,38.87872 48.68507,47.129076 H 57.127282 Z M 13.573125,25.831663 L 20.480393,26.407268 V 10.482174 L 13.573125,8.7553572 Z M 46.574509,14.895156 34.870537,27.942212 L 39.667248,28.325951 C 41.202199,28.325951 42.161531,27.366606 44.463958,25.447923 V 25.447923 L 55.208598,16.046366 Z M 147.30551,16.813838 L 115.07159,18.156916 C 112.57728,18.156916 110.65863,20.267472 110.65863,22.569895 V 31.779582 L 117.56589,31.587715 V 25.256057 L 144.8112,23.912972 V 30.24463 L 151.71848,29.669029 V 21.226818 C 151.71848,18.732521 149.79981,16.813838 147.30551,16.813838 Z M 193.54585,26.599134 L 200.45311,25.831663 V 8.7553572 L 193.54585,10.674041 Z M 159.39319,28.709691 L 166.30046,28.134086 V 14.703282 L 159.39319,15.662627 Z M 96.460339,31.779582 H 103.3676 V 18.156916 H 96.460339 Z M 62.307736,31.012116 L 69.214997,31.395849 V 17.005704 L 62.307736,16.430099 Z M 145.57866,47.129076 H 154.02089 L 144.04376,36.19256 V 36.19256 C 142.89254,34.465752 140.782,33.5064 139.05515,33.5064 L 110.65863,34.849485 V 47.129076 H 117.56589 V 41.756746 L 138.67139,40.797414 Z M 193.54585,30.628373 V 40.221805 H 166.30046 V 32.163325 L 159.39319,32.547058 V 42.716098 C 159.39319,45.210382 161.5038,47.129076 163.80623,47.129076 H 196.04015 C 198.53437,47.129076 200.45311,45.018515 200.45311,42.716098 V 30.052764 Z M 103.3676,34.849485 V 42.716098 C 103.3676,45.210382 101.25706,47.129076 98.954633,47.129076 H 66.720713 C 64.22642,47.129076 62.307736,45.018515 62.307736,42.716098 V 34.273875 L 69.214997,34.657618 V 40.413671 H 96.460339 V 35.041351 Z');
    }
</style>
<a rel="home" class="logo" id="animatedLogo" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="13.59 8.78 187.2 38.44" style="enable-background:new 0 0 187.2 38.44;" xml:space="preserve">
        <path class="st0" d="M 47.151565,32.409629 C 45.998375,30.679843 43.884198,29.718856 42.154413,29.718856 L 13.516854,29.911053 V 47.208905 H 20.435995 V 36.637997 L 41.577818,36.637997 L 48.689155,47.208905 H 57.145879 Z
            M 13.516854,25.874888 L 20.435995,25.874888 V 8.7692367 L 13.516854,8.7692367 Z
            M 46.382775,8.7692367 34.850872,25.874888 L 40.424628,25.874888 C 41.577818,25.874888 43.499799,24.913893 44.845185,23.568506 V 23.568506 L 55.031702,8.7692367 Z
            M 147.47912,8.7692367 L 115.18978,8.7692367 C 112.69122,8.7692367 110.76923,10.883414 110.76923,13.189795 V 25.874888 L 117.68838,25.874888 V 15.496176 L 144.98054,15.496176 V 25.874888 L 151.89967,25.874888 V 13.189795 C 151.89967,10.691218 149.9777,8.7692367 147.47912,8.7692367 Z
            M 193.79892,25.874888 L 200.71807,25.874888 V 8.7692367 L 193.79892,8.7692367 Z
            M 159.58761,25.874888 L 166.50675,25.874888 V 8.7692367 L 159.58761,8.7692367 Z
            M 96.546549,25.874888 H 103.46569 V 8.7692367 H 96.546549 Z
            M 62.335246,25.874888 L 69.254387,25.874888 V 8.7692367 L 62.335246,8.7692367 Z
            M 145.74933,47.208905 H 154.20607 L 144.21175,32.409629 V 32.409629 C 143.05855,30.679843 140.94408,29.75103 139.21459,29.718856 L 110.76923,29.718856 V 47.016709 H 117.68838 V 36.445795 L 138.83019,36.445795 Z
            M 193.79892,29.911053 V 40.289764 H 166.50675 V 29.911053 L 159.58761,29.911053 V 42.788341 C 159.58761,45.286924 161.7018,47.208905 164.00817,47.208905 H 196.2975 C 198.79607,47.208905 200.71807,45.094721 200.71807,42.788341 V 29.911053 Z
            M 103.46569,29.911053 V 42.788341 C 103.46569,45.286924 101.3515,47.208905 99.045128,47.208905 H 66.755793 C 64.257229,47.208905 62.335246,45.094721 62.335246,42.788341 V 29.911053 L 69.254387,29.911053 V 40.48196 H 96.546549 V 29.911053 Z">
            <animate id="animateLogoInwards" attributeType="XML" attributeName="d"
            from="M 47.151565,32.409629 C 45.998375,30.679843 43.884198,29.718856 42.154413,29.718856 L 13.516854,29.911053 V 47.208905 H 20.435995 V 36.637997 L 41.577818,36.637997 L 48.689155,47.208905 H 57.145879 Z
            M 13.516854,25.874888 L 20.435995,25.874888 V 8.7692367 L 13.516854,8.7692367 Z
            M 46.382775,8.7692367 34.850872,25.874888 L 40.424628,25.874888 C 41.577818,25.874888 43.499799,24.913893 44.845185,23.568506 V 23.568506 L 55.031702,8.7692367 Z
            M 147.47912,8.7692367 L 115.18978,8.7692367 C 112.69122,8.7692367 110.76923,10.883414 110.76923,13.189795 V 25.874888 L 117.68838,25.874888 V 15.496176 L 144.98054,15.496176 V 25.874888 L 151.89967,25.874888 V 13.189795 C 151.89967,10.691218 149.9777,8.7692367 147.47912,8.7692367 Z
            M 193.79892,25.874888 L 200.71807,25.874888 V 8.7692367 L 193.79892,8.7692367 Z
            M 159.58761,25.874888 L 166.50675,25.874888 V 8.7692367 L 159.58761,8.7692367 Z
            M 96.546549,25.874888 H 103.46569 V 8.7692367 H 96.546549 Z
            M 62.335246,25.874888 L 69.254387,25.874888 V 8.7692367 L 62.335246,8.7692367 Z
            M 145.74933,47.208905 H 154.20607 L 144.21175,32.409629 V 32.409629 C 143.05855,30.679843 140.94408,29.75103 139.21459,29.718856 L 110.76923,29.718856 V 47.016709 H 117.68838 V 36.445795 L 138.83019,36.445795 Z
            M 193.79892,29.911053 V 40.289764 H 166.50675 V 29.911053 L 159.58761,29.911053 V 42.788341 C 159.58761,45.286924 161.7018,47.208905 164.00817,47.208905 H 196.2975 C 198.79607,47.208905 200.71807,45.094721 200.71807,42.788341 V 29.911053 Z
            M 103.46569,29.911053 V 42.788341 C 103.46569,45.286924 101.3515,47.208905 99.045128,47.208905 H 66.755793 C 64.257229,47.208905 62.335246,45.094721 62.335246,42.788341 V 29.911053 L 69.254387,29.911053 V 40.48196 H 96.546549 V 29.911053 Z"
            to="M 47.150118,35.425084 C 45.99891,33.698266 43.888349,32.738934 42.161531,32.738934 L 13.573125,30.052764 V 47.129076 H 20.480393 V 36.960035 L 41.585932,38.87872 48.68507,47.129076 H 57.127282 Z M 13.573125,25.831663 L 20.480393,26.407268 V 10.482174 L 13.573125,8.7553572 Z M 46.574509,14.895156 34.870537,27.942212 L 39.667248,28.325951 C 41.202199,28.325951 42.161531,27.366606 44.463958,25.447923 V 25.447923 L 55.208598,16.046366 Z M 147.30551,16.813838 L 115.07159,18.156916 C 112.57728,18.156916 110.65863,20.267472 110.65863,22.569895 V 31.779582 L 117.56589,31.587715 V 25.256057 L 144.8112,23.912972 V 30.24463 L 151.71848,29.669029 V 21.226818 C 151.71848,18.732521 149.79981,16.813838 147.30551,16.813838 Z M 193.54585,26.599134 L 200.45311,25.831663 V 8.7553572 L 193.54585,10.674041 Z M 159.39319,28.709691 L 166.30046,28.134086 V 14.703282 L 159.39319,15.662627 Z M 96.460339,31.779582 H 103.3676 V 18.156916 H 96.460339 Z M 62.307736,31.012116 L 69.214997,31.395849 V 17.005704 L 62.307736,16.430099 Z M 145.57866,47.129076 H 154.02089 L 144.04376,36.19256 V 36.19256 C 142.89254,34.465752 140.782,33.5064 139.05515,33.5064 L 110.65863,34.849485 V 47.129076 H 117.56589 V 41.756746 L 138.67139,40.797414 Z M 193.54585,30.628373 V 40.221805 H 166.30046 V 32.163325 L 159.39319,32.547058 V 42.716098 C 159.39319,45.210382 161.5038,47.129076 163.80623,47.129076 H 196.04015 C 198.53437,47.129076 200.45311,45.018515 200.45311,42.716098 V 30.052764 Z M 103.3676,34.849485 V 42.716098 C 103.3676,45.210382 101.25706,47.129076 98.954633,47.129076 H 66.720713 C 64.22642,47.129076 62.307736,45.018515 62.307736,42.716098 V 34.273875 L 69.214997,34.657618 V 40.413671 H 96.460339 V 35.041351 Z"
                     dur="0.75s"
                     begin="animatedLogo.mouseenter"
            />
            <animate id="animateLogoOutwards" attributeType="XML" attributeName="d"
                     to="M 47.151565,32.409629 C 45.998375,30.679843 43.884198,29.718856 42.154413,29.718856 L 13.516854,29.911053 V 47.208905 H 20.435995 V 36.637997 L 41.577818,36.637997 L 48.689155,47.208905 H 57.145879 Z
            M 13.516854,25.874888 L 20.435995,25.874888 V 8.7692367 L 13.516854,8.7692367 Z
            M 46.382775,8.7692367 34.850872,25.874888 L 40.424628,25.874888 C 41.577818,25.874888 43.499799,24.913893 44.845185,23.568506 V 23.568506 L 55.031702,8.7692367 Z
            M 147.47912,8.7692367 L 115.18978,8.7692367 C 112.69122,8.7692367 110.76923,10.883414 110.76923,13.189795 V 25.874888 L 117.68838,25.874888 V 15.496176 L 144.98054,15.496176 V 25.874888 L 151.89967,25.874888 V 13.189795 C 151.89967,10.691218 149.9777,8.7692367 147.47912,8.7692367 Z
            M 193.79892,25.874888 L 200.71807,25.874888 V 8.7692367 L 193.79892,8.7692367 Z
            M 159.58761,25.874888 L 166.50675,25.874888 V 8.7692367 L 159.58761,8.7692367 Z
            M 96.546549,25.874888 H 103.46569 V 8.7692367 H 96.546549 Z
            M 62.335246,25.874888 L 69.254387,25.874888 V 8.7692367 L 62.335246,8.7692367 Z
            M 145.74933,47.208905 H 154.20607 L 144.21175,32.409629 V 32.409629 C 143.05855,30.679843 140.94408,29.75103 139.21459,29.718856 L 110.76923,29.718856 V 47.016709 H 117.68838 V 36.445795 L 138.83019,36.445795 Z
            M 193.79892,29.911053 V 40.289764 H 166.50675 V 29.911053 L 159.58761,29.911053 V 42.788341 C 159.58761,45.286924 161.7018,47.208905 164.00817,47.208905 H 196.2975 C 198.79607,47.208905 200.71807,45.094721 200.71807,42.788341 V 29.911053 Z
            M 103.46569,29.911053 V 42.788341 C 103.46569,45.286924 101.3515,47.208905 99.045128,47.208905 H 66.755793 C 64.257229,47.208905 62.335246,45.094721 62.335246,42.788341 V 29.911053 L 69.254387,29.911053 V 40.48196 H 96.546549 V 29.911053 Z"
                     from="M 47.150118,35.425084 C 45.99891,33.698266 43.888349,32.738934 42.161531,32.738934 L 13.573125,30.052764 V 47.129076 H 20.480393 V 36.960035 L 41.585932,38.87872 48.68507,47.129076 H 57.127282 Z M 13.573125,25.831663 L 20.480393,26.407268 V 10.482174 L 13.573125,8.7553572 Z M 46.574509,14.895156 34.870537,27.942212 L 39.667248,28.325951 C 41.202199,28.325951 42.161531,27.366606 44.463958,25.447923 V 25.447923 L 55.208598,16.046366 Z M 147.30551,16.813838 L 115.07159,18.156916 C 112.57728,18.156916 110.65863,20.267472 110.65863,22.569895 V 31.779582 L 117.56589,31.587715 V 25.256057 L 144.8112,23.912972 V 30.24463 L 151.71848,29.669029 V 21.226818 C 151.71848,18.732521 149.79981,16.813838 147.30551,16.813838 Z M 193.54585,26.599134 L 200.45311,25.831663 V 8.7553572 L 193.54585,10.674041 Z M 159.39319,28.709691 L 166.30046,28.134086 V 14.703282 L 159.39319,15.662627 Z M 96.460339,31.779582 H 103.3676 V 18.156916 H 96.460339 Z M 62.307736,31.012116 L 69.214997,31.395849 V 17.005704 L 62.307736,16.430099 Z M 145.57866,47.129076 H 154.02089 L 144.04376,36.19256 V 36.19256 C 142.89254,34.465752 140.782,33.5064 139.05515,33.5064 L 110.65863,34.849485 V 47.129076 H 117.56589 V 41.756746 L 138.67139,40.797414 Z M 193.54585,30.628373 V 40.221805 H 166.30046 V 32.163325 L 159.39319,32.547058 V 42.716098 C 159.39319,45.210382 161.5038,47.129076 163.80623,47.129076 H 196.04015 C 198.53437,47.129076 200.45311,45.018515 200.45311,42.716098 V 30.052764 Z M 103.3676,34.849485 V 42.716098 C 103.3676,45.210382 101.25706,47.129076 98.954633,47.129076 H 66.720713 C 64.22642,47.129076 62.307736,45.018515 62.307736,42.716098 V 34.273875 L 69.214997,34.657618 V 40.413671 H 96.460339 V 35.041351 Z"
                     dur="0.75s"
                     begin="animateLogoInwards.endEvent"
                     fill="freeze"
            />
        </path>
    </svg>
</a>
