<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/* @var $block \Kurufootwear\Rma\Block\Customer\Request\ListRequest */
$requests = $block->getRequestCollection();
?>
<?php if ($requests && count($requests)): ?>
    <div class="table-wrapper aw-rma-list">
        <h2 class="table-caption title">
            <?= __('My RMA Requests') ?>
        </h2>
        <div class="return-note">
            <span>
                <?php printf(__('Note: Orders can\'t be returned after %d days of the original order.'), $block->getRequestPeriod()); ?>
            </span>
            <a class="link" href="<?= $block->getReturnPolicyUrl(); ?>">
                <?= __('Please see the full Return and Exchange policy here.'); ?>
            </a>
            <span>
                <?php echo __('You have no RMA requests.'); ?>
            </span>
        </div>
        <?php if ($block->isOpenExchange()): ?>
            <div class="blocking">
                <span>
                    <?php echo __('You have an exchange in progress. Please place an order for your exchange, using your reward points, before starting a new return. If you need assistance please contact a KURU GURU at ') ?>
                </span>
                <a class="telephone" href="8772115878">(877) 211-5878</a>
                <span>
                    <?php echo __(' who would be happy to help.'); ?>
                </span>
            </div>
        <?php endif; ?>
        <table class="data table" id="my-rma-table">
        <thead>
            <tr class="table-header">
                <th scope="col" class="table-title col id"><?php echo __('Return #'); ?></th>
                <th scope="col" class="table-title col order-id"><?php echo __('Order ID'); ?></th>
                <th scope="col" class="table-title col products"><?php echo __('Product(s)'); ?></th>
                <th scope="col" class="table-title col status"><?php echo __('Status'); ?></th>
                <th scope="col" class="table-title col updated-at"><?php echo __('Updated At'); ?></th>
                <th scope="col" class="table-title col created-at"><?php echo __('Created At'); ?></th>
                <th scope="col" class="table-title col actions">&nbsp;</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <?php foreach ($requests as $request): ?>
                <tr class="table-content">
                    <td data-th="<?php echo $block->escapeHtml(__('Return #')); ?>" class="table-col col id">
                        <span class="value id">
                            <?php echo substr($request->getIncrementId(), 1); ?>
                        </span>
                        <a class="actions mobile-only" href="<?php echo $block->getRequestViewUrl($request->getId()); ?>">
                            <span class="request-link"><?php echo __('View Request'); ?></span>
                        </a>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Order ID')); ?>" class="table-col col order-id">
                        <a class="value order-link" href="<?php echo $block->getOrderViewUrl($request->getOrderId()); ?>">
                            <span>#<?php echo $request->getOrderIncrementId(); ?></span>
                        </a>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Product(s)')); ?>" class="table-col col products">
                        <div class="value product-links">
                            <?php foreach ($request->getItemsCollection() as $requestItem): ?>
                                <?php if ($block->isProductExists($requestItem->getProductId())): ?>
                                    <a class="product-link" href="<?php echo $block->getProductViewUrl($requestItem); ?>">
                                        <span><?php echo $requestItem->getName(); ?></span>
                                    </a>
                                <?php else: ?>
                                    <span class="product-link">
                                        <?php echo $requestItem->getName(); ?>
                                    </span>
                                <?php endif; ?>
                                <br/>
                            <?php endforeach; ?>
                        </div>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Status')); ?>" class="table-col col status">
                        <span class="value status">
                            <?php echo $request->getStatusFrontendLabel(); ?>
                        </span>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Updated At')); ?>" class="table-col col updated-at">
                        <span class="value updated-at">
                            <?php echo $block->formatDate($request->getUpdatedAt()); ?>
                        </span>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Created At')); ?>" class="table-col col created-at">
                        <span class="value created-at">
                            <?php echo $block->formatDate($request->getCreatedAt()); ?>
                        </span>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Actions')); ?>" class="table-col col actions">
                        <a class="value actions desktop-only" href="<?php echo $block->getRequestViewUrl($request->getId()); ?>">
                            <span class="request-link"><?php echo __('View Request'); ?></span>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <div class="return-items">
            <span><?php echo count($requests) . ' ' . __('Items(s)'); ?></span>
        </div>
    </div>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('You have no returns.'); ?></span></div>
<?php endif ?>
