<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/* @var $block \Kurufootwear\Rma\Block\Customer\Request\ListRequest */
$requests = $block->getRequestCollection();
?>
<div class="block block-returns-summary">
    <div class="block-title">
        <strong><?php echo _('Returns and Exchanges'); ?></strong>
    </div>
    <div class="return-note">
        <span>
            <?php printf(__('Note: Orders can\'t be returned after %d days of the original order.'), $block->getRequestPeriod()); ?>
        </span>
        <a class="link" href="<?= $block->getReturnPolicyUrl(); ?>">
            <?= __('Please see the full Return and Exchange policy here.'); ?>
        </a>
        <span>
            <?php echo __('You have no RMA requests.'); ?>
        </span>
    </div>
    <?php if ($requests && count($requests)): ?>
        <div class="table-wrapper aw-rma-list">
            <table class="data table" id="my-rma-table">
                <thead>
                <tr class="table-header">
                    <th scope="col" class="table-title col id"><?php echo __('Return ID'); ?></th>
                    <th scope="col" class="table-title col order-id"><?php echo __('Order ID'); ?></th>
                    <th scope="col" class="table-title col products"><?php echo __('Product(s)'); ?></th>
                    <th scope="col" class="table-title col status"><?php echo __('Status'); ?></th>
                    <th scope="col" class="table-title col updated-at"><?php echo __('Updated At'); ?></th>
                    <th scope="col" class="table-title col created-at"><?php echo __('Created At'); ?></th>
                    <th scope="col" class="table-title col actions">&nbsp;</th>
                </tr>
                </thead>
                <tbody class="table-body">
                <?php foreach ($requests as $request): ?>
                    <tr class="table-content">
                        <td data-th="<?php echo $block->escapeHtml(__('Return ID')); ?>" class="table-col col id">
                            <?php echo $request->getIncrementId(); ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('Order ID')); ?>" class="table-col col order-id">
                            <a href="<?php echo $block->getOrderViewUrl($request->getOrderId()); ?>">
                                <span>#<?php echo $request->getOrderIncrementId(); ?></span>
                            </a>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('Product(s)')); ?>" class="table-col col products">
                            <?php foreach ($request->getItemsCollection() as $requestItem): ?>
                                <?php if ($block->isProductExists($requestItem->getProductId())): ?>
                                    <a href="<?php echo $block->getProductViewUrl($requestItem); ?>">
                                        <span><?php echo $requestItem->getName(); ?></span>
                                    </a>
                                <?php else: ?>
                                    <?php echo $requestItem->getName(); ?>
                                <?php endif; ?>
                                <br/>
                            <?php endforeach; ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('Status')); ?>" class="table-col col status">
                            <?php echo $request->getStatusFrontendLabel(); ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('Updated At')); ?>" class="table-col col updated_at">
                            <?php echo $block->formatDate($request->getUpdatedAt()); ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('Created At')); ?>" class="table-col col created_at">
                            <?php echo $block->formatDate($request->getCreatedAt()); ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('Actions')); ?>" class="table-col col actions">
                            <a href="<?php echo $block->getRequestViewUrl($request->getId()); ?>">
                                <span><?php echo __('View Request'); ?></span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <div class="info empty">
            <span>
                <?php echo __('You have no RMA requests.'); ?>
            </span>
        </div>
    <?php endif ?>
    <div class="return-button">
        <div class="secondary">
            <a class="action back button secondary-button"
               href="<?php echo $block->escapeUrl($this->getUrl('customer/account/')); ?>">
                <span><?php echo __('Back'); ?></span>
            </a>
        </div>
        <div class="primary">
            <a class="button blue-button" href="<?php echo $block->getUrl('aw_rma/customer'); ?>">
                <span class="button-title">
                    <?php echo _('Return / Exchange an Order'); ?>
                </span>
            </a>
        </div>
    </div>
</div>
