<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/* @var $block \Kurufootwear\Rma\Block\Customer\NewRequest\Button */
?>
<?php
$title = __('Create New Return');
?>

<button type="button" class="aw-rma-new-button action primary blue-button" title="<?php echo $title ?>"
    <?php echo $block->isOpenExchange() ? 'disabled' : '';?>>
    <span><?php echo $title; ?></span>
</button>
<script>
    require(['jquery'], function($){
        $(document).ready(function() {
            $('.aw-rma-new-button').on('click', function() {
                $(location).attr('href', <?php echo \Zend_Json::encode($block->getUrl('*/*/new')); ?>);
            });
        });
    });
</script>
