<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Paypal
 * @author       Jim McGowen <jim@kurufootwear.com>
 * @copyright   Copyright (c) 2017 KURU Footwear. All rights reserved.
 */

use Magento\Paypal\Block\Express\InContext\Minicart\Button;

$id = $block->getContainerId() . mt_rand();

/**
 * @var \Magento\Paypal\Block\Express\InContext\Minicart\Button $block
 */
$mockButtonClass = 'braintree-paypal-button-hidden';
$config = [
    'Magento_Paypal/js/in-context/button' => [
        'id' => $block->getContainerId(),
        'mockButton' => $mockButtonClass,
        'paypalButton' => Button::PAYPAL_BUTTON_ID,
        'addToCartSelector' => $block->getAddToCartSelector()
    ],
    'gtmEmitter' => [
        'onclick' => [
            'paymentClick' => 'paypal'
        ]
    ]
];
?>

<div data-mage-init='<?php /* @noEscape */ echo json_encode($config); ?>'
     class="main-container paypal checkout paypal-logo braintree-paypal-logo <?php
     /* @noEscape */ echo $block->getContainerId(); ?>-container">
	<div class="paypal-info-tooltip field-tooltip-content tooltip-toggle" data-target="dropdown" aria-hidden="true"
	     option-label="<?= __('Are you a PayPal customer? Pay now with address and payment details stored in your PayPal account.'); ?>">
		<img class="info-tooltip-icon"
		     src="<?php echo $block->getViewFileUrl('images/info-icon.svg'); ?>"
		     alt="Pay with PayPal"/>
	</div>
	<button data-currency="<?php /* @noEscape */ echo $block->getCurrency(); ?>"
	        data-locale="<?php /* @noEscape */ echo $block->getLocale(); ?>"
	        data-amount="<?php /* @noEscape */ echo $block->getAmount(); ?>"
	        id="<?php /* @noEscape */ echo $id; ?>"
	        class="action-braintree-paypal-logo action-paypal-express-logo secondary-button">
		<a id="<?php /* @noEscape */ echo $block->getContainerId(); ?>" class="<?php echo $mockButtonClass; ?> clickable" href="#">
			<div class="button-content">
				<span class="braintree-info"><?php echo _('Pay with PayPal') ?></span>
				<img class="braintree-paypal-button-logo"
				     src="<?php echo $block->getViewFileUrl('images/paypal-icon.svg'); ?>"
				     alt="Pay with PayPal"/>
			</div>
		</a>
	</button>
    <div class="paypal-minicart-button"></div>
</div>