/**
 * @vendor Kurufootwear
 * @module Scandiweb_Slider
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

.sw-slider-slide { position: relative; }
.sw-slider-products .product-item-info {
    background:#fff;
    padding:10px;
}
.sw-slider-text {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.6);
    padding: 1em;
    margin: 2em 4em;
}
.mobile-slide-image {
    display: none;
}
.desktop-slide-image {
    display: block;
}
@media (max-width: 1024px) {
    .mobile-slide-image {
        display: block;
    }
    .desktop-slide-image {
        display: none;
    }
}
.desktop-slide {
    display: block;
}
.sw-slider-text.a-right { text-align: right; }
.sw-slider-text.a-left { text-align: left; }
.sw-slider-text.a-center { text-align: center; }

