// *
// * @vendor      Kurufootwear
// * @theme       Kurufootwear/default
// * @author      Krisjanis Veinbahs <krisjanisv@scandiweb.com>
// * @copyright   Copyright (c) 2018 KURU Footwear. All rights reserved.
// *

.cookie-notification {
    @include position(fixed, null 0 0 0);
    background: $clr-mine-shaft;
    bottom: -100px;
    color: $clr-white;
    opacity: 0;
    transition: bottom 0.25s ease-in-out 0s, opacity 0.25s ease-in-out 0.25s;
    z-index: 16000003; // One above zopim chat

    &.visible {
        bottom: 0;
        opacity: 1;
        transition: bottom 0.25s ease-in-out 0.25s, opacity 0.25s ease-in-out 0s;
    }

    .content-wrapper {
        @include outer-container($max-width);
        @include padding(10px 20px);
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(center);
    }

    .cookie-accept {
        flex: 1;

        .submit {
            @include margin(0);
            float: right;
        }
    }
}