// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.page-layout-custom-header,
.checkout-index-index,
.checkout-onepage-success {
    .header {
        @include background($clr-white);
        @include position(relative);
        max-height: 68px;
        overflow: hidden;
        text-align: center;
        width: 100%;

        @include media($desktop-small) {
            @include align-items(center);
            @include justify-content(space-between);
        }

        .header-top {
            @include display(inline-block);
            @include padding(null 0);
            float: none;
            width: auto;

            @include media($desktop-small) {
                @include padding(null $default-indent);
            }

            .logo {
                @include margin(null 0);
            }
        }

        .header-right {
            @include position(absolute, 20px 0 null null);

            @include media($desktop-small) {
                @include position(relative);
                padding-right: $default-indent;
                top: 0;
            }

            .phone-icon {
                @include display(inline-block);
            }

            .phone-icon-image::before {
                @include background-image(url('../images/phone-checkout.svg'));
                @include display(inline-block);
                @include size(28px);
                content: '';
                margin-right: 20px;
            }

            .call-text {
                @include display(none);

                @include media($desktop-small) {
                    @include display(inline-block);
                    line-height: 18px;
                    text-align: left;
                }
            }

            .speak-text {
                text-transform: uppercase;
            }
        }
    }
}
