// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

// Necessary for footer to be sticky
.page-wrapper {
    @include media($tablet) {
        @include display(flex);
        @include flex-direction(column);
        min-height: 100vh;
    }

    > * {
        @include media($tablet) {
            width: 100%;
        }
    }
}

// -------------------------------

.page-footer {
    @include position(relative);
    z-index: 0;
}

.footer.content {
    background-color: $clr-desert-storm;
    color: $clr-ebony-clay;
    font-size: $f-size-xl;
    line-height: 23px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    text-transform: uppercase;

    @include media($desktop-small) {
        font-size: $f-size;
        overflow: auto;
    }

    ul {
        @include padding(0);
        list-style-type: none;
    }

    .footer-main {
        @include margin(null auto);
        @include padding(30px 20px null);
        max-width: $desktop;

        @include media($desktop-small) {
            @include padding(25px 20px null);
            overflow: hidden;
        }
    }

    .footer-content-links {
        @include media($desktop-small) {
            @include calc(width, '100% - 300px');
            @include position(relative);
            float: left;
            overflow: hidden;
        }
    }

    .social-links {
        @include media($desktop-small) {
            @include position(absolute);
            bottom: 10px;
        }

        .fa {
            font-size: 24px;
            padding-right: 23px;

            @include media($tablet) {
                font-size: 32px;
            }

            @include media($desktop-small) {
                font-size: 14px;
                padding-right: 13px;
            }

            &:last-of-type {
                padding-right: 0;
            }

        }
    }

    .expandable {
        margin-top: 0;
        padding-top: 30px;

        @include media($tablet) {
            padding-top: 40px;
        }

        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(space-between);
            padding-top: 0;
            width: 100%;
        }

        .has-children {
            @include padding(18px null);

            @include media($tablet) {
                @include padding(25px null);
            }

            @include media($desktop-small) {
                @include span-columns(3);
                padding-top: 0;
            }

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                @include media($tablet) {
                    padding-bottom: 40px;
                }
            }
        }

        .title {
            @include margin(0);
            @include position(relative);
            cursor: pointer;

            @include media($desktop-small) {
                cursor: default;
                pointer-events: none;
            }

            &::after {
                @include arrow(right, 7px, 1px, $clr-ebony-clay);
                @include position(absolute);
                content: '';
                right: 2px;
                top: 25%;
                transition-duration: .2s;

                @include media($desktop-small) {
                    @include display(none);
                }
            }

            &.submenu-open::after {
                @include transform(translateY(-50%) rotate(315deg));
                top: 60%;
            }
        }

        .title-span {
            font-weight: 600;
        }

        .sub-menu {
            @include display(none);
            padding-top: 10px;

            @include media($tablet) {
                padding-top: 17px;
            }

            @include media($desktop-small) {
                @include display(block);
                padding-top: 10px;
            }

            li {
                @include padding(7.5px null);

                @include media($desktop-small) {
                    @include padding(4px null);
                }
            }
        }


        .footer-link {
            color: $clr-gunsmoke;
            text-transform: none;

            &:hover {
                color: $base-link-color;
            }

            .fa {
                @include size(35px 30px);
                font-size: 16px;
                margin-left: 1px;
            }
        }
    }

    .footer-subscribe {
        @include media($desktop-small) {
            float: right;
            max-width: 300px;
        }
    }

    .block.newsletter {
        padding-bottom: 30px;

        .form {
            overflow: hidden;
        }

        .field {
            @include media($tablet) {
                max-width: 100%;
            }
        }

        .label {
            font-weight: 600;

            .blue-text {
                color: $clr-picton-blue;
            }
        }

        .newsletter-submit {
            @include margin(20px null null);
            @include position(relative);

            @include media($desktop-small) {
                @include margin(0 null);
            }

            .mage-error {
                float: left;
                font-size: $f-size;
                text-transform: none;

                @include media($desktop-small) {
                    font-size: $f-size-xxxs;
                    line-height: $f-size;
                }
            }
        }

        .newsletter-email {
            @include padding(20px);
            border: 0;
            color: $clr-ebony-clay;
            height: 55px;

            @include media($tablet) {
                @include calc(width, '100% - 55px');
            }

            @include media($desktop-small) {
                @include border-style(solid);
                @include border-width(1px);
                @include border-color($clr-white);
                @include calc(width, '100% - 34px');
                @include padding(10px);
                font-size: $f-size-xs;
                height: 34px;
            }

            @include placeholder {
                font-weight: 600;
                text-transform: none;

                @include media($desktop-small) {
                    font-weight: 400;
                }
            }

            &:hover,
            &:focus {
                @include border-color($clr-picton-blue);
            }
        }

        .submit-subscribe {
            @include padding(null 20px);
            background: $clr-viking;
            color: $clr-white;
            min-width: 34px;
            text-align: left;
            text-transform: none;
            width: 100%;

            @include media($tablet) {
                @include position(absolute);
                @include size(55px);
                float: right;
                margin-top: 0;
                top: 0;
            }

            @include media($desktop-small) {
                @include padding(0);
                @include size(34px);
            }

            &::before {
                @include media($tablet) {
                    font-size: 24px;
                    right: 21px;
                    top: 19px;
                }

                @include media($desktop-small) {
                    font-size: 19px;
                    right: 12px;
                    top: 11px;
                }
            }

            &:hover::before {
                @include animation(none);

                @include media($desktop-small) {
                    @include animation(subscribe-jump 1s infinite);
                }
            }

            span {
                @include media($tablet) {
                    @include display(none);
                }
            }
        }

        .newsletter-text {
            font-size: $f-size-xs;
            line-height: $f-size-xl;
            margin-top: 10px;
            text-align: center;
            text-transform: none;

            @include media($tablet) {
                font-size: $f-size;
            }

            @include media($desktop-small) {
                color: $clr-jumbo;
                font-size: $f-size-xs;
                line-height: $f-size-xxxl;
                margin-top: 0;
                text-align: left;
            }

            p {
                @include margin(5px null 10px);
            }
        }
    }

    .footer-bottom {
        background-color: $clr-ebony-clay;
    }

    .footer-delivery {
        @include margin(null auto);
        @include padding(null 20px);
        max-width: $desktop;
        text-align: center;

        @include media($desktop-small) {
            @include align-items(center);
            @include display(flex);
            @include justify-content(space-between);
            height: 45px;
        }

        .footer-delivery-content {
            @include media($tablet) {
                @include align-items(center);
                @include display(flex);
                @include padding(30px 0 20px);
            }

            @include media($desktop-small) {
                @include margin(0);
                @include padding(0);
                @include order(1);
            }
        }

        .delivery-title {
            @include display(none);

            @include media($tablet) {
                @include display(inline-block);
                @include margin(0);
                color: $clr-gray-chateau;
                opacity: .6;
                text-align: left;
                width: 250px;
            }

            @include media($desktop-small) {
                margin-right: 15px;
                text-transform: none;
                width: auto;
            }
        }

        .delivery-images {
            @include align-items(center);
            @include display(flex);
            @include justify-content(space-around);
            @include padding(30px null 15px);

            @include media($tablet) {
                @include padding(0);
                @include calc(width, '100% - 250px');
            }

            @include media($desktop-small) {
                width: 260px;
            }
        }

        .delivery {
            height: 15px;
            object-fit: cover;
            opacity: .6;

            @include media($tablet) {
                height: 20px;
            }

            @include media($desktop-small) {
                height: 14px;
                padding-right: 13px;
            }
        }

        .amazon {
            margin-top: 4px;
        }

        .braintree {
            height: 10px;

            @include media($tablet) {
                height: 16px;
            }

            @include media($desktop-small) {
                height: 10px;
            }
        }

        .copyright {
            @include padding(10px null);
            color: $clr-gray-chateau;
            font-size: $f-size-xs;
            line-height: 15px;
            opacity: .6;
            text-transform: none;

            @include media($desktop-small) {
                @include padding(0);
                float: left;
                font-size: $f-size;
            }
        }
    }
}

.footer.amazon-payments-footer {
    @include display(none);
}
