// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.sticky-header-wrapper {
    z-index: 4;
}

.page-header {
    height: 68px;
    z-index: 9 !important;

    @include media($desktop-small) {
        @include background($clr-white);
        box-shadow: 0 1px 4px -1px $clr-grey-five;
        font-size: $f-size;
    }

    .content {
        box-shadow: 0 1px 4px -1px $clr-grey-five;
        overflow: hidden;

        @include media($desktop-small) {
            @include display(flex);
            @include margin(null auto);
            box-shadow: none;
            max-width: $max-width;
        }
    }

    .nav-toggle {
        @include display(none);
    }

    .header-top {
        @include background($clr-white);
        @include calc(width, '100% - 44px');
        @include display(flex);
        @include justify-content(center);
        @include padding(20px 0 20px 20px);
        @include position(relative);
        float: left;
        z-index: 2;

        @include media($desktop-small) {
            @include position(relative);
            padding-right: 25px;
            width: auto;
        }
    }

    .mobile-menu {
        @include position(absolute);
        @include transition(.5s ease-in-out);
        @include transform(rotate(0deg));
        cursor: pointer;
        height: 20px;
        left: $default-indent;
        top: 25px;
        width: 29px;

        @include media($desktop-small) {
            @include display(none);
        }

        span {
            @include display(block);
            @include position(absolute);
            @include transition(.25s ease-in-out);
            @include transform(rotate(0deg));
            background: $clr-black;
            height: 1.75px;
            left: 0;
            width: 100%;
        }

        .bar1 {
            top: 0;
        }

        .bar2,
        .bar3 {
            top: 8px;
        }

        .bar4 {
            top: 17px;
        }

        &.open {
            .bar1,
            .bar4 {
                left: 50%;
                top: 9px;
                width: 0;
            }

            .bar2 {
                @include transform(rotate(45deg));
            }

            .bar3 {
                @include transform(rotate(-45deg));
            }
        }
    }

    .logo {
        @include display(block);
        @include margin(2px 0 0 30px);

        @include media($desktop-small) {
            @include margin(2px 0 0);
        }

        > * {
            @include display(block);
            @include margin(0 auto);
            @include size(120px 25px);
        }

        polyline,
        line,
        path {
            transition: .6s;
        }

        path {
            fill: $clr-black;
        }

        img {
            @include display(block);
            @include margin(0 auto);
            height: auto;
            width: 120px;

            @include media($desktop-small) {
                @include margin(0 auto);
            }
        }
    }

    .header-main {
        @include background($clr-white);
        @include position(fixed);
        @include transition(left .6s cubic-bezier(.25, .8, .25, 1));
        height: 100%;
        left: -100%;
        overflow-y: scroll;
        top: 52px;
        width: 100%;
        z-index: 5;

        @include media($tablet) {
            top: 60px;
        }

        @include media($desktop-small) {
            @include position(relative);
            @include padding(0 0 0 10px);
            left: 0;
            line-height: 28px;
            overflow: visible;
            text-align: center;
            top: 0 !important;
            z-index: 2;
        }

        &.opened {
            left: 0;
            opacity: 1;
        }
    }

    .account-links,
    .navigation.desktop,
    .copyright {
        @include padding($default-indent $default-indent null);

        @include media($desktop-small) {
            @include padding(0);
        }
    }

    .account-links {
        @include media($tablet) {
            @include display(flex);
            @include justify-content(space-between);
        }

        @include media($desktop-small) {
            @include align-items(stretch);
            @include display(flex);
            float: right;
            min-height: 68px;

            &::after {
                @include margin(auto 0);
                border-right: 1px solid $clr-corduroy;
                content: '';
                height: 20px;
            }
        }
    }

    .header-account-button {
        @include border-color($secondary-button-hover-color);
        @include border-style(solid);
        @include border-width(1px);
        @include display(block);
        @include padding(16px 32px);
        clear: both;
        color: $secondary-button-hover-color;
        font-size: $f-size-xxxl;
        line-height: $base-font-size;
        margin-top: 5px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;

        @include media($tablet) {
            width: 33%;
        }

        @include media($desktop-small) {
            @include display(inline-block);
            @include padding(0 8px);
            border: 0;
            color: $base-font-color;
            font-size: $f-size;
            line-height: 68px;
            margin-top: 0;
            text-transform: none;
            vertical-align: baseline;
            white-space: nowrap;
            width: 100%;
        }

        &:hover {
            @include media($desktop-small) {
                color: $base-link-color;
            }
        }
    }

    .help .help-submenu,
    .navigation .level0.submenu {
        @include display(none);

        @include media($desktop-small) {
            @include display(block);
            @include transition(max-height .6s ease-in-out);
            @include position(absolute, 60px 0 null null);
            background-color: $clr-white-eight-five;
            max-height: 0;
            overflow: hidden;
            position: fixed;
            text-align: center;
            width: 100vw;
            z-index: 55;
        }
    }

    .help {
        @include media($tablet) {
            width: 33%;
        }

        @include media($desktop-small) {
            @include display(inline);
            margin-right: 10px;
        }

        &:hover > .help-submenu {
            @include media($desktop-small) {
                box-shadow: 0 2px 4px 0 $clr-grey-two;
                max-height: 1000px;
            }
        }

        .help-link {
            width: 100%;
        }

        .help-submenu-content {
            @include display(flex);
            @include justify-content(center);
            @include padding(70px null);
        }

        .help-item {
            width: 200px;
        }

        .icon-wrapper {
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            height: 46px;
        }
    }

    .minicart-sidebar-wrapper {
        @include display(block !important);
    }

    .minicart-wrapper {
        @include background($clr-white);
        @include padding(20px 20px 15px 0);
        @include size(44px 67px);
        float: right;
        z-index: 2;

        @include media($desktop-small) {
            @include padding(0 5px);
            @include position(relative);
            @include size(auto);
            right: 0;
            top: 0;
        }

        .block-minicart {
            &::-webkit-scrollbar {
                background: transparent;
                width: 0;
            }
        }

        .showcart {
            @include position(relative);
            cursor: pointer;
        }

        .shopping-bag-icon {
            @include display(inline-block);
            @include position(relative);
            @include size(24px 27px);
            @include transition(opacity .5s);
            opacity: 1;
            overflow: hidden;

            @include media($desktop-small) {
                @include size(50px 62px);
            }

            .icon-mobile {
                @include media($desktop-small) {
                    @include display(none);
                }
            }

            .icon-desktop {
                @include display(none);

                @include media($desktop-small) {
                    @include display(block);
                }
            }

            .icon-empty,
            .icon-filled {
                @include media($desktop-small) {
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(center);
                    height: 68px;
                }
            }

            .loading-mask {
                position: static !important;

                img {
                    @include position(absolute, 0 0 0 0);
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .counter {
            @include position(absolute);
            font-size: $f-size-xs;
            font-weight: bold;
            left: 0;
            top: 7px;
            width: 24px;

            @include media($desktop-small) {
                font-weight: normal;
                top: 26px;
                left: 15px;
                width: 20px;
            }

            .loading-mask {
                @include display(none);
            }
        }

        .icon-filled,
        .icon-empty {
            text-align: center;
        }

        .icon-filled {
            .counter {
                color: $clr-white;
            }
        }

        .hidecart {
            @include position(absolute, 0 -2px null null);
            @include size(29px 20px);
            @include transition(opacity .5s);
            opacity: 0;

            @include media($desktop-small) {
                @include display(none);
            }

            .bar1,
            .bar2 {
                @include background($clr-black);
                @include position(absolute);
                @include size(100% 1.75px);
                @include transition(.5s ease-in-out);
                @include transform(rotate(0deg));
            }
        }
    }

    .navigation {
        @include margin(15px null 140px);

        @include media($desktop-small) {
            @include display(inline-block);
            @include margin(0 null);
        }

        ul {
            @include margin(0);
            @include padding(0);
            list-style: none;
        }

        .nav-container {
            border-top: solid 1px $clr-mercury;

            @include media($desktop-small) {
                border: 0;
            }
        }

        .level0 {
            &.level-top {
                @include padding(15px null);
                border-bottom: solid 1px $clr-mercury;

                @include media($tablet) {
                    @include padding(25px null);
                }

                @include media($desktop-small) {
                    @include display(inline-block);
                    @include padding(0 15px);
                    border: 0;
                }
            }

            &.level-top:hover > .submenu {
                @include media($desktop-small) {
                    box-shadow: 0 2px 4px 0 $clr-grey-two;
                    max-height: 1000px;
                }
            }

            .level-top {
                @include media($desktop-small) {
                    @include display(block);
                    @include padding(25px null);

                    &:hover {
                        color: inherit;
                    }
                }

                &:hover .top-item::before,
                &:hover .top-item::after {
                    @include media($desktop-small) {
                        width: 50%;
                    }
                }
            }
        }

        .top-item,
        .submenu-label {
            font-size: $f-size-xxl;
            line-height: 23px;
        }

        .top-item {
            @include display(block);
            @include position(relative);
            font-weight: 600;
            text-transform: uppercase;

            @include media($desktop-small) {
                font-family: $montserrat;
                font-size: $f-size;
                line-height: 16px;
            }

            &::before,
            &::after {
                @include media($desktop-small) {
                    @include display(block);
                    @include position(absolute);
                    @include background($clr-black);
                    @include transition(width .3s ease-in-out);
                    bottom: 0;
                    content: '';
                    height: 1px;
                    width: 0;
                }
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }

            &:hover {
                color: $base-font-color;
            }
        }

        .hover-show {
            &::after {
                @include arrow(right, 8px, 1px, $clr-tundora);
                @include position(absolute);
                content: '';
                right: 2px;
                top: 30%;
                transition-duration: .2s;

                @include media($desktop-small) {
                    @include size(0 1px);
                    @include transform(none);
                    border: 0;
                    right: 0;
                    top: auto;
                }
            }

            &.level1-open::after {
                @include transform(translateY(-50%) rotate(315deg));
                top: 60%;

                @include media($desktop-small) {
                    @include transform(none);
                    top: auto;
                }
            }
        }


        .blue {
            @include media($desktop-small) {
                color: $base-link-color;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .submenu-label {
            @include display(block);
            @include position(relative);
            cursor: pointer;

            @include media($desktop-small) {
                @include margin(35px null 10px);
                cursor: default;
                font-size: $f-size;
                font-weight: bold;
                line-height: 12px;
                text-transform: uppercase;
            }

            &::before,
            &::after {
                @include background($clr-tundora);
                @include position(absolute);
                @include transition(transform .4s ease-out);
                @include transform(translate(-50%, -50%));
                content: '';
                top: 50%;

                @include media($desktop-small) {
                    @include display(none);
                }
            }

            // Vertical line
            &::before {
                height: 9px;
                right: 4px;
                width: 1px;
            }

            // Horizontal line
            &::after {
                height: 1px;
                right: -4px;
                width: 9px;
            }

            &.level2-open::before {
                @include transform(translate(-50%, -50%) rotate(-90deg));
            }

            &.level2-open::after {
                @include transform(translate(-50%, -50%) rotate(180deg));
            }
        }

        .submenu-link {
            font-size: $f-size-xs;
            line-height: 45px;
            text-transform: uppercase;

            @include media($tablet) {
                float: left;
                font-weight: 600;
                width: 25%;
            }

            @include media($desktop-small) {
                float: none;
                font-size: $f-size;
                font-weight: normal;
                line-height: 25px;
                text-transform: none;
                width: auto;
            }

            &.size {
                @include background($clr-alabaster);
                @include border-color($clr-silver-chalice);
                @include border-style(solid);
                @include border-width(1px);
                @include display(table-cell);
                @include margin(null 3px 3px null);
                @include padding(0);
                @include size(56px 45px);
                color: $clr-corduroy;
                float: left;
                font-size: $f-size;
                text-align: center;

                @include media($desktop-small) {
                    @include size(36px 28px);
                    font-size: $f-size-xs;
                }
            }

            &.size:hover {
                @include media($desktop-small) {
                    @include background($clr-picton-blue);
                    color: $clr-white;
                }
            }

            &.color {
                @include background($clr-black);
                @include border-color($clr-white);
                @include border-style(solid);
                @include border-width(1px);
                @include display(block);
                @include margin(1px 15px 15px 1px);
                @include size(40px);
                border-radius: 30px;
                box-shadow: 0 0 0 1px $clr-silver-chalice;
                color: transparent;
                float: left;

                @include media($desktop-small) {
                    @include size(30px);
                }
            }

            &.color:hover {
                @include media($desktop-small) {
                    box-shadow: 0 0 0 1px $clr-picton-blue;
                }
            }

            &.color-black {
                @include background(linear-gradient(135deg, $clr-gray 0%, $clr-black 100%));
            }

            &.color-grey {
                @include background(linear-gradient(135deg, $clr-silver 0%, $clr-gray 100%));
            }

            &.color-white {
                @include background(linear-gradient(135deg, $clr-white 0%, $clr-gallery 100%));
            }

            &.color-blue {
                @include background(linear-gradient(135deg, $clr-azure-radiance 0%, $clr-resolution-blue 100%));
            }

            &.color-green {
                @include background(linear-gradient(135deg, $clr-conifer 0%, $clr-apple 100%));
            }

            &.color-brown {
                @include background(linear-gradient(135deg, $clr-roman-coffee 0%, $clr-milbrook 100%));
            }

            &.color-yellow {
                @include background(linear-gradient(135deg, $clr-yellow 0%, $clr-lightning-yellow 100%));
            }

            &.color-orange {
                @include background(linear-gradient(135deg, $clr-yellow-orange 0%, $clr-flamenco 100%));
            }

            &.color-red {
                @include background(linear-gradient(135deg, $clr-red 0%, $clr-sangria 100%));
            }

            &.color-pink {
                @include background(linear-gradient(135deg, $clr-colonial-white 0%, $clr-amaranth 100%));
            }

            &.color-purple {
                @include background(linear-gradient(135deg, $clr-lavander 0%, $clr-affair 100%));
            }

            &.color-multi {
                @include background(linear-gradient(135deg, $clr-red 0%, $clr-orange 25%, $clr-yellow 40%, $clr-green 55%, $clr-cyan 70%, $clr-blue 85%, $clr-violet 100%));
            }
        }

        .level1 {
            @include padding(10px null);
            @include transition(margin-top .2s ease-out);

            @include media($desktop-small) {
                @include display(inline-block);
                min-width: 240px;
                padding-bottom: 15px;
                text-align: left;
                vertical-align: top;
            }

            &.first {
                padding-top: 15px;

                @include media($desktop-small) {
                    @include display(none);
                }
            }

            &.open {
                @include calc(width, '100% + 2*#{$default-indent}');
                @include padding(null $default-indent);
                background-color: $clr-alabaster;
                margin-left: -$default-indent;
                margin-top: 10px;

                @include media($tablet) {
                    @include calc(width, '100% + 50px');
                    @include margin(15px null null -30px);
                    @include padding(null 30px);
                }
            }

            &.submenu {
                @include display(none);
                overflow: hidden;

                @include media($desktop-small) {
                    @include display(block);
                }
            }
        }

        .level1.submenu.open {
            @include calc(width, '100% + 2*#{$default-indent}');
            @include padding(null $default-indent);
            background-color: $clr-alabaster;
            margin-left: -$default-indent;
        }

        .mobile-only {
            &::before,
            &::after {
                content: none;
            }
        }

        .level2 {
            @include media($desktop-small) {
                @include display(block);
                width: 100%;
            }

            a {
                @include display(block);
            }

            &.last {
                padding-bottom: 0;
            }

            &:nth-of-type(4n+1) {
                @include media($desktop-small) {
                    clear: left;
                }
            }
        }
    }

    .copyright {
        @include background($clr-white);
        @include position(fixed);
        bottom: 0;
        color: $clr-silver-chalice;
        font-size: $f-size-xs;
        text-align: center;
        width: 100%;

        @include media($desktop-small) {
            @include display(none);
        }
    }
}
