// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.header-block-promo {
    @include display(none);
    background-color: $clr-gallery;

    .inner {
        @include outer-container($max-width);
        @include padding(4px 20px);
        text-align: center;

        @include media($desktop-small) {
            @include margin(null auto);
            max-width: $max-width;
        }
    }

    .header-block-text {
        color: $clr-header-text;
        font-family: $source-sans-pro;
        font-size: $f-size-xs;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    .header-block-x {
        @include position(absolute);
        @include padding(1px 7px);
        cursor: pointer;
        font-size: $f-size;
        right: 0;
        top: 4px;
    }

    .promo-more-link {
        color: $clr-picton-blue;
    }
}
