// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.minicart-overlay {
    opacity: 0;
    transition: all ease .2s;

    &.active {
        @include media($desktop-small) {
            @include position(fixed, 0 null null 0);
            @include size(100%);
            @include background($clr-black-five);
            opacity: 1;
        }
    }
}

.minicart-sidebar-wrapper {
    > div {
        @include media($desktop-small) {
            box-shadow: 0 0 4px 0 $clr-grey-five;
        }
    }
}

.block-minicart {
    @include background($clr-white);
    @include position(fixed);
    @include backface-visibility(hidden);
    color: $clr-bluewood;
    height: 100%;
    overflow-y: scroll;
    right: -100%;
    top: 52px;
    width: 100%;
    transition: right ease-in-out .5s;
    z-index: 5;

    @include media($desktop-small) {
        overflow-y: hidden;
        right: -465px;
        top: 0;
        width: 460px;
    }

    .minicart-content-wrapper {
        @include media($desktop-small) {
            height: 100%;
            overflow: hidden;
        }
    }

    .minicart-content {
        padding: 0 25px;

        @include media($desktop-small) {
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }

    .empty-icon {
        @include display(block);
        @include margin(10px auto);
        @include size(183px 200px);
        background: {
            image: url('../images/empty_cart.svg');
            position: center;
            size: contain;
        }
    }

    .close-icon {
        @include display(none);
        @include transform(translate3d(0, 0, 0));

        @include media($desktop-small) {
            @include display(block);
            @include background(none);
            @include margin(0);
            @include size(15px);
            float: right;
            min-width: 0;
        }

        .bar1,
        .bar2 {
            @include background($clr-black);
            @include position(absolute);
            @include size(15px 3px);
            right: 0;
        }

        .bar1 {
            @include transform(rotate(45deg));
        }

        .bar2 {
            @include transform(rotate(-45deg));
        }
    }

    .minicart-title {
        @include padding(20px 25px null);
        @include backface-visibility(hidden);
        font-family: $montserrat;
        font-size: $f-size-xxxl;
        font-weight: bold;
        text-transform: uppercase;

        @include media($desktop-small) {
            @include padding(23px null 20px);
            font-size: $f-size-5xl;
        }
    }

    .empty-cart {
        @include padding(20px);

        @include media($desktop-small) {
            @include padding(null 30px);
        }
    }

    .subtitle {
        @include display(block);

        &.empty {
            @include margin(null null 15px);
            text-align: center;
        }
    }

    .continue-shopping {
        @include background($clr-silver-chalice);
        width: 100%;
    }

    .minicart-items {
        @include padding(0);
        list-style-type: none;

        @include media($desktop-small) {
            @include margin(0 null 30px);
        }
    }

    .product-item {
        @include border-color($clr-silver);
        @include border-style(solid);
        @include border-width(1px 0 0);
        @include position(relative);

        &:last-of-type {
            @include border-width(1px 0);
        }

        .loading-mask {
            @include position(absolute, 0);
            @include size(100%);
            z-index: 10;
        }

        .loader {
            @include position(absolute, calc(50% - 32px) null null calc(50% - 32px));
            @include size(64px);
            animation: spin $duration linear infinite;
            background: url('/media/wysiwyg/loader.svg') no-repeat;
            transform: translate(-50%, -50%);

            * {
                @include display(none);
            }
        }
    }

    .product-item-details {
        @include position(relative);
    }

    .details-main {
        @include padding(20px 0);
        display: table;
        width: 100%;

        @include media($desktop-small) {
            @include padding(12px 0 0);
        }

        &:first-of-type {
            @include media($desktop-small) {
                padding-top: 30px;
            }
        }

        &:last-of-type {
            @include media($desktop-small) {
                padding-bottom: 30px;
            }
        }
    }

    .product-item-photo {
        display: table-cell;
        padding-right: 30px;
        width: 80px;
        vertical-align: middle;

        .product-image-photo {
            display: block;
        }
    }

    .product-item-description {
        display: table-cell;
        position: relative;
        width: calc(100% - 80px);
        vertical-align: top;

        .product-item-name {
            display: block;
            padding-right: 20px;
            text-transform: uppercase;
            font-size: $f-size-xl;
        }

        .item-name {
            font-weight: bold;
        }

        .product-name-container {
            @include position(relative);
        }

        .delete-icon {
            @include size(15px);
            background: url('../images/delete.svg') 15px;
            display: block;
        }

        .product-actions {
            @include position(absolute, 50% 0 null null);
            transform: translateY(-50%);
        }
    }

    .minicart-price {
        font-size: $f-size;
        font-weight: 600;

        @include media($desktop-small) {
            font-size: $f-size-xl;
        }
    }

    .options-content {
        box-shadow: none;
        color: $clr-corduroy;

        @include media($desktop-small) {
            font-size: $f-size;
        }

        .label {
            float: left;
            padding-right: 5px;
            text-transform: uppercase;
        }

        .values {
            color: $clr-corduroy;
            margin: 0;

            &:last-of-type {
                width: calc(100% - 60px);
            }

            @include media($desktop-small) {
                overflow: hidden;
            }

            span {
                @include media($tablet) {
                    float: none;
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }

    .product-item-pricing {
        @include position(absolute, null 0 0 null);
    }

    .subtotal {
        font-size: $f-size-xl;
        font-weight: bold;
        line-height: 22px;
        overflow: hidden;

        @include media($desktop-small) {
            font-size: $f-size-xxxl;
        }

        .label {
            float: left;
            font-family: $montserrat;
            text-transform: uppercase;
        }

        .amount {
            font-size: $f-size-5xl;
            float: right;
            font-weight: 600;
        }
    }

    .checkout {
        @include margin(null null 35px);
        @include padding(15px null);
        width: 100%;
    }

    .minicart-items-wrapper {
        @include media($desktop-small) {
            position: relative;
            left: 150px;
            display: none;
            transform: translate3d(0, 0, 0);
        }
    }

    .express-checkouts {
        @include media($desktop-small) {
            display: table;
            border-collapse: separate;
            border-spacing: 35px 0;
            margin: 0 -35px;
            width: calc(100% + 70px);
        }
    }

    .actions {
        padding-bottom: 70px;

        @include media($desktop-small) {
            padding-bottom: 100px;
        }
    }

    .main-container {
        @include position(relative);
        border: 1px solid $clr-corduroy;
        border-radius: 3px;
        display: inline-block;
        height: 50px;
        padding: 0;
        margin: 0 0 20px 0;
        text-align: center;
        width: calc(50% - 10px);

        @include media($desktop-small) {
            display: table-cell;
            width: calc(100% / 3);
            vertical-align: top;
        }

        &:nth-of-type(odd) {
            float: left;
            margin-right: 10px;
        }

        &:nth-of-type(even) {
            float: right;
            margin-left: 10px;
        }

        &:nth-of-type(odd),
        &:nth-of-type(even) {
            @include media($desktop-small) {
                float: none;
                margin-right: 0;
            }
        }
    }

    .amazon-button,
    .action-braintree-paypal-logo {
        @include position(absolute, 0);
        @include size(100%);
        padding: 0;
        margin: 0;
        overflow: hidden;
        // scss-lint:disable ImportantRule
        opacity: 0 !important;
        // scss-lint:enable ImportantRule
        z-index: 10;
    }

    .action-braintree-paypal-logo {
        .button-content {
            @include size(100%);
        }

        .braintree-info {
            @include size(100%);
            display: block;
        }

        img {
            display: none;
        }
    }

    .amazon-button-container {
        &.button {
            @include size(100%);
            box-shadow: none;
            padding: 0;
            margin: 0;
            min-width: 0;
        }
    }

    .secondary-button {
        min-width: 0;
        width: 100%;

        &:hover {
            &:before,
            &:after {
                display: none;
            }
        }
    }

    .amazon-info-tooltip {
        @include display(none);
    }

    .minicart-hidden {
        display: none;
    }

    .amazon-minicart-button,
    .paypal-minicart-button {
        @include position(absolute, 50% 0 null);
        display: inline-block;
        margin: auto;
        transform: translateY(-50%);
    }

    .amazon-minicart-button {
        @include retina-sprite($sprite-amazon-pay-group);
    }

    .paypal-minicart-button {
        @include retina-sprite($sprite-paypal-group);
    }

    .paypal-info-tooltip {
        @include display(none);
    }

    .viewcart-container {
        margin-bottom: 15px;
        text-transform: uppercase;

        @include media($desktop-small) {
            margin-bottom: 21px;
        }

        .viewcart {
            @include position(relative);
            color: $clr-corduroy;
            font-weight: 500;

            &:hover {
                &::before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }

            &::before {
                @include position(absolute, null null -1px 0);
                @include size(100% 1px);
                background-color: $clr-black;
                content: '';
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .express-checkouts-wrapper {
        display: inline-block;
        width: 100%;

        .title {
            margin-bottom: 10px;
            font-size: $f-size-xl;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .paypal-logo {
        &.after {
            display: none;
        }
    }
    
    .braintree-apple-pay-wrap {
        display: none;
    }

    .braintree-apple-pay-button {
        width: 100%;
        cursor: pointer;
    }

    .braintree-apple-pay-logo {
        background-image: url(../images/apple-pay.svg);
        background-position: 50% 50%;
        background-size: 50px;
        background-repeat: no-repeat;
        margin: auto;
        min-height: 48px;
    }
}

.minicart-wrapper {
    &.minicart-opened {
        .block-minicart {
            right: 0;
        }

        .shopping-bag-icon {
            opacity: 0;
        }

        .showcart {
            pointer-events: none;
        }

        .hidecart {
            opacity: 1;

            .bar1 {
                @include transform(rotate(45deg));
            }

            .bar2 {
                @include transform(rotate(-45deg));
            }
        }
    }
}
