// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

// Required for sticky-positioning Zendesk chat relative to page
html {
    @include position(relative);
}

// Fix for IE sticky footer
body {
    @include display(flex);
    position: relative;
}

.page-wrapper {
    min-width: 100%;
    overflow-x: hidden;
    width: 100%;
}

.page-main {
    @include padding(0);
    flex: 1 0 auto;
    z-index: 1;
}

.modals-wrapper {
    display: none;
}

.overlayed {
    overflow: hidden;
}

.lity-close {
    margin-right: 10px;
    min-width: 0;
}

.slick-slide .yotpo-bottomline {
    @include display(flex);

    .text-m {
        font-size: $f-size-xl;
        line-height: $f-size-10xl;
        padding-left: 4px;

        @include media($mobile-medium-l) {
            font-size: 14.5px;
            line-height: 18px;
        }
    }

    .yotpo-icon-star,
    .yotpo-icon-half-star,
    .yotpo-icon-empty-star {
        font-size: $f-size-7xl !important;

        @include media($mobile-medium-l) {
            font-size: 17.5px !important;
        }
    }
}
