// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.homepage-slider,
.catalog-product-view .slider-container,
.cms-page-view .slider-container {
    @include media($desktop-small) {
        @include margin(null auto);
    }

    .slick-slider {
        @include margin(null null 39px);

        @include media($desktop-small) {
            @include margin(null null 37px);
        }
    }

    .slick-slide {
        height: auto;
        max-height: none;

        @include media($tablet) {
            max-height: 500px;
        }

        @include media($desktop-small) {
            max-height: none;
        }
    }

    .slick-initialized {
        clear: both;
    }

    .sw-slider-slide img {
        height: auto;
        width: 140%;

        @include media($mobile-medium) {
            width: 100%;
        }

        @include media($desktop-small) {
            width: 130%;
        }

        @include media($desktop-medium) {
            width: 100%;
        }
    }

    .desktop-slide-image {
        @include display(none);

        @include media($desktop-small) {
            @include margin(null null null 50%);
            @include transform(translateX(-50%));
            @include display(block);
        }
    }

    .mobile-slide-image {
        @include display(block);

        @include media($desktop-small) {
            @include display(none);
        }
    }

    .sw-slider-text {
        @include margin(0 auto);
        background: transparent;
        bottom: 0;
        top: auto;
        width: 100%;

        @include media($desktop-small) {
            @include position(absolute);
            @include transform(translate(-50%, -20px));
            @include padding(0 20px);

            left: 50%;
            max-width: $max-width;
        }
    }

    .banner-title {
        color: $slider-font-color;
        font-size: $f-size-20xl;
        font-weight: bold;
        line-height: 40px;

        @include media($tablet) {
            @include margin(0);
        }

        @include media($desktop) {
            font-size: $f-size-35xl;
        }
    }

    .banner-message {
        color: $slider-font-color;
        font-family: $montserrat;
        font-size: $f-size-xxxl;
        font-style: normal;
        letter-spacing: 0;
        line-height: 21px;
        text-transform: inherit;

        @include media($tablet) {
            font-family: $montserrat;
            font-size: $f-size-20xl;
            font-weight: 400;
            line-height: 42px;
        }

        @include media($desktop-small) {
            font-size: $f-size-10xl;
        }
    }

    .button {
        @include padding(30px 17px);
        @include position(relative);
        text-align: left;
        width: 100%;

        @include media($desktop-small) {
            @include padding(22px 100px);
            float: inherit;
            font-size: $f-size;
            min-width: 170px;
            width: auto;
        }

        span {
            @include media($desktop-small) {
                @include position(absolute);
            }
        }

        &:first-of-type {
            @include media($desktop-small) {
                @include margin(null 10px null null);
            }
        }

        &::before {
            @include arrow(right, 10px, 1px, $clr-white);
            @include position(absolute);
            content: '';
            right: 20px;
            top: 41%;
        }
    }

    .a-right {
        .button:first-of-type {
            @include media($desktop-small) {
                @include margin(null 0 null null);
            }
        }
    }

    .button-text {
        font-family: $montserrat;

        @include media($desktop-small) {
            left: 15px;
            top: 35%;
        }
    }

    .video-wrapper,
    .text-container {
        @include display(inline-block);
        @include margin(3px 0 10px);
        cursor: pointer;

        img {
            height: 49px;
            width: auto;
        }
    }

    .text-container {
        @include padding(0 12px 0 95px);
        cursor: pointer;
        float: right;
    }

    .image-container {
        @include position(absolute);

        &::after {
            @include position(absolute);
            border-color: transparent transparent transparent $clr-white;
            border-style: solid;
            border-width: 13px 0 13px 23px;
            bottom: 13px;
            content: '';
            height: 0;
            left: 37%;
            opacity: .72;
            width: 0;
        }
    }

    .video-text {
        color: $clr-video-banner;
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;
    }

    .color-white {
        color: $clr-white;
    }

    .color-black {
        color: $clr-black;
    }

    .color-orange {
        color: $clr-jaffa;
    }

    .text-left {
        text-align: left;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }
}

.slick-slider {
    .slick-dots li button::before {
        background-color: transparent;
        border: 1px solid $clr-video-banner;
        border-radius: 50%;
        content: 'placeholder';
        color: $clr-transparent;
        font-size: $f-size;
        height: 8px;
        line-height: 10px;
        width: 8px;
        z-index: 10;
    }

    .slick-dots li.slick-active button::before {
        background-color: $clr-video-banner;
        color: transparent;
        opacity: .75;
    }
}
