// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.kuru-tooltip-theme {
    @include display(inline-block);
    @include padding(7px 14px 18px);
    @include background($clr-white);
    border: 1px solid $clr-desert-storm;
    box-shadow: 0 2px 2px 0 $clr-alabaster-five;
    max-width: 230px;
    overflow: hidden;
    z-index: 1;

    .kuru-tooltip-image,
    .kuru-tooltip-color {
        height: 130px;
        width: 130px;
    }

    .kuru-tooltip-text {
        @include margin(12px null 0);
        color: $clr-corduroy;
        font-family: $source-sans-pro;
        font-size: $f-size-xs;
        line-height: 15px;
        text-align: center;
    }

    [x-arrow] {
        @include margin(0 auto);
        overflow: hidden;

        &,
        &::after {
            height: 13px;
            width: 13px;
        }

        &::after {
            @include transform(rotate(45deg));
            background: $clr-white;
            box-shadow: 0 2px 2px 0 $clr-alabaster-five;
            content: '';
        }
    }
}

[x-placement=top] .kuru-tooltip-theme [x-arrow] {
    @include position(absolute, null 0 -6px 0);

    &::after {
        @include position(absolute, -7px 0 null 0);
        border-bottom: 1px solid $clr-desert-storm;
        border-right: 1px solid $clr-desert-storm;
    }
}

[x-placement=bottom] .kuru-tooltip-theme [x-arrow] {
    @include position(absolute, -12px 0 null 0);

    &::after {
        @include position(absolute, null 0 -7px 0);
        border-left: 1px solid $clr-desert-storm;
        border-top: 1px solid $clr-desert-storm;
    }
}
