// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2018 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.zopim {
    &:nth-of-type(3) {
        transform: none !important;
        bottom: 35px;

        @include media($tablet) {
            transform: inherit !important;
        }
    }

    &[data-test-id="ChatWidgetMobileButton"] {
        display: block !important;

        &.disabled {
            display: none !important;
        }
    }
}