<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Wishlist
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/** @var $block \Magento\Wishlist\Block\Catalog\Product\View\Addto\Wishlist */
?>

<?php if ($block->isWishListAllowed()) : ?>
    <a href="#"
       class="action towishlist"
       data-post='<?php echo $block->getWishlistParams(); ?>'
       data-action="add-to-wishlist">
        <i class="fa fa-heart"></i>
        <span class="wishlist-text"><?php echo __('Add to Wish List') ?></span>
    </a>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php echo $block->getWishlistOptionsJson() ?>
        }
    }
</script>
