<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Wishlist
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<?php
/* @var $block \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart */
/* @var \Magento\Wishlist\Model\Item $item */

$item = $block->getItem();
?>

<?php foreach ($block->getChildNames() as $childName): ?>
    <?php echo $block->getLayout()->renderElement($childName, false); ?>
<?php endforeach;?>

<div class="box-tocart">
    <fieldset class="fieldset">
        <div class="product-actions-wrapper">
            <div class="product-item-actions">
                <div class="actions-primary">
                    <?php if ($block->checkSalableProduct($item)): ?>
                        <button type="button"
                                data-role="tocart"
                                data-post='<?php echo $block->getItemAddToCartParams($item)?>'
                                title="<?php echo __('Add to Bag') ?>"
                                data-item-id="<?php echo $item->getId()?>"
                                class="action tocart primary green-button">
                            <span class="button-content-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 24 27" class="cart-icon add-cart-icon">
                                    <path fill="#8CD600" fill-rule="evenodd" d="M12.0059978,1.47363037 C14.1300995,1.47363037 15.8723848,3.13867967 16.0319154,5.26329459 L7.9797498,5.26329459 C8.12970194,3.14869199 9.87595074,1.47363037 12.0059978,1.47363037 L12.0059978,1.47363037 Z M17.3537402,5.26329459 C17.2011458,2.41245251 14.8646668,0.138653978 12.0059978,0.138653978 C9.1539345,0.138653978 6.82174936,2.40210645 6.65990675,5.26329459 L2.87675301,5.26329459 C2.04408926,5.26329459 1.3666623,5.94813748 1.3666623,6.79985242 L0.216115384,25.4474257 C0.216115384,26.2887946 0.893542337,26.9733037 1.72620609,26.9733037 L22.4899093,26.9733037 C23.322573,26.9733037 24,26.2887946 24,25.4520981 L22.7275757,6.78950635 C22.7275757,5.94813748 22.0501487,5.26329459 21.217485,5.26329459 L17.3537402,5.26329459 Z"/>
                                </svg>
                                <span class="add-to-cart-text add"><?php echo __('Add to Bag') ?></span>
                            </span>
                        </button>
                    <?php else: ?>
                        <div class="tocart out-of-stock">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="17" viewBox="0 0 24 27" class="cart-icon">
                                <path fill="#b2b2b2" fill-rule="evenodd" d="M22.6788358,25.4474257 C22.6788358,25.5512201 22.5922995,25.6383273 22.4899093,25.6383273 L1.72620609,25.6383273 C1.62381586,25.6383273 1.5372796,25.5508864 1.5372796,25.4370797 L2.68782652,6.78950635 C2.68782652,6.68571194 2.77436278,6.59793724 2.87675301,6.59793724 L6.67675159,6.59793724 L6.72662554,8.14851232 C6.73851602,8.51663206 7.03313564,8.79931331 7.40834628,8.7939734 C7.7729876,8.78195861 8.05901965,8.47357907 8.04712918,8.10512558 L7.99857639,6.59793724 L16.0804682,6.59793724 L16.1300119,8.14851232 C16.1415721,8.50962343 16.4348705,8.79430715 16.7899334,8.79430715 C17.1760436,8.78195861 17.462406,8.47357907 17.4505155,8.10512558 L17.4019627,6.59793724 L21.217485,6.59793724 C21.3202055,6.59793724 21.4064115,6.68571194 21.4064115,6.78450019 L22.6788358,25.4474257 Z M12.0059978,1.47363037 C14.1300995,1.47363037 15.8723848,3.13867967 16.0319154,5.26329459 L7.9797498,5.26329459 C8.12970194,3.14869199 9.87595074,1.47363037 12.0059978,1.47363037 L12.0059978,1.47363037 Z M17.3537402,5.26329459 C17.2011458,2.41245251 14.8646668,0.138653978 12.0059978,0.138653978 C9.1539345,0.138653978 6.82174936,2.40210645 6.65990675,5.26329459 L2.87675301,5.26329459 C2.04408926,5.26329459 1.3666623,5.94813748 1.3666623,6.79985242 L0.216115384,25.4474257 C0.216115384,26.2887946 0.893542337,26.9733037 1.72620609,26.9733037 L22.4899093,26.9733037 C23.322573,26.9733037 24,26.2887946 24,25.4520981 L22.7275757,6.78950635 C22.7275757,5.94813748 22.0501487,5.26329459 21.217485,5.26329459 L17.3537402,5.26329459 Z"/>
                            </svg>
                            <span class="add-to-cart-text"><?php echo __('Out of stock') ?></span>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </fieldset>
</div>
