<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Wishlist
 * @author      Jelena Sorohova <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>

<a href="#"
   class="btn-remove action delete"
   data-role="remove"
   data-post-remove='<?php echo $block->getItemRemoveParams($block->getItem()); ?>'
   title="<?php echo __('Remove Item') ?>">
    <span class="delete-icon"></span>
    <span class="delete-text"><?php echo __('Remove item')?></span>
</a>
