<!--
/**
* @vendor Kurufootwear
* @module Kurufootwear_OrderComments
* @author Krišjānis Veinbahs <krisjanisv@scandiweb.com>
* @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
* @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
*/
-->
<!--<div class="payment-option _collapsible opc-payment-additional discount-code"-->
     <!--data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">-->
    <!--<div class="payment-option-title field choice" data-role="title">-->
        <!--<span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">-->
            <!--&lt;!&ndash; ko i18n: 'Apply Discount Code'&ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
        <!--</span>-->
    <!--</div>-->
    <!--<div class="payment-option-content" data-role="content">-->
        <!--&lt;!&ndash; ko foreach: getRegion('messages') &ndash;&gt;-->
        <!--&lt;!&ndash; ko template: getTemplate() &ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;-->
        <!--&lt;!&ndash;/ko&ndash;&gt;-->
        <!--<form class="form form-discount" id="discount-form">-->
            <!--<div class="payment-option-inner">-->
                <!--<div class="field">-->
                    <!--<label class="label" for="discount-code">-->
                        <!--<span data-bind="i18n: 'Enter discount code'"></span>-->
                    <!--</label>-->
                    <!--<div class="control">-->
                        <!--<input class="input-text"-->
                               <!--type="text"-->
                               <!--id="discount-code"-->
                               <!--name="discount_code"-->
                               <!--data-validate="{'required-entry':true}"-->
                               <!--data-bind="value: couponCode, attr:{placeholder: $t('Enter discount code')} " />-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="actions-toolbar">-->
                <!--<div class="primary">-->
                    <!--&lt;!&ndash; ko ifnot: isApplied() &ndash;&gt;-->
                    <!--<button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">-->
                        <!--<span>&lt;!&ndash; ko i18n: 'Apply Discount'&ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;</span>-->
                    <!--</button>-->
                    <!--&lt;!&ndash; /ko &ndash;&gt;-->
                    <!--&lt;!&ndash; ko if: isApplied() &ndash;&gt;-->
                    <!--<button class="action action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">-->
                        <!--<span>&lt;!&ndash; ko i18n: 'Cancel coupon'&ndash;&gt;&lt;!&ndash; /ko &ndash;&gt;</span>-->
                    <!--</button>-->
                    <!--&lt;!&ndash; /ko &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
