<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/**
 * @see \Magento\Checkout\Block\Cart\Totals
 * @var \Magento\Checkout\Block\Cart\Totals $block
 */
?>
<?php if ($block->getTotals()): ?>
    <?php $_colspan = 3; ?>
    <div class="totals-wrap">
        <?php foreach ($this->getTotals() as $total): ?>
            <?php if ($total->getTitle()->getText() !== 'Grand Total'): ?>
                <span class="label">
                    <?= $total->getTitle()->getText(); ?>
                </span>
                <span class="value price">
                    <?= $block->getFormattedPrice($total->getValue()) ?>
                </span>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
    <div class="grand-total">
        <?php foreach ($this->getTotals() as $total): ?>
            <?php if ($total->getTitle()->getText() == 'Grand Total'): ?>
                <span class="label">
                    <?= __('Total') ?>
                </span>
                <span class="value price">
                    <?= $block->getFormattedPrice($total->getValue()) ?>
                </span>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
