<?php
/** @var $block \Magento\Bundle\Block\Sales\Order\Items\Renderer */
?>
<?php $parentItem = $block->getItem() ?>
<?php $options = $parentItem->getProductOptionByCode('bundle_options'); ?>
<dl class="item-options">
<?php foreach ($options as $option): ?>
    <dt class="u-semibold"><?php /* @escapeNotVerified */ echo $option['label'] ?></dt>
    <dd>
    <?php foreach ($option['value'] as $product): ?>
        <div class="tooltip content">
            <p><?php echo $block->escapeHtml($product['title']) ?> x <?php echo $block->escapeHtml($product['qty']) ?></p>
        </div>
    <?php endforeach; ?>
    </dd>
<?php endforeach; ?>
</dl>
<?php if ($options = $block->getItemOptions()): ?>
    <dl class="item-options">
        <?php foreach ($options as $option) : ?>
            <dt><?php echo $block->escapeHtml($option['label']) ?></dt>
            <?php if (!$block->getPrintStatus()): ?>
                <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                <dd<?php if (isset($formatedOptionValue['full_view'])): ?> class="tooltip wrapper"<?php endif; ?>>
                    <?php /* @escapeNotVerified */ echo $formatedOptionValue['value'] ?>
                    <?php if (isset($formatedOptionValue['full_view'])): ?>
                        <div class="tooltip content">
                            <dl class="item options">
                                <dt><?php echo $block->escapeHtml($option['label']) ?></dt>
                                <dd><?php /* @escapeNotVerified */ echo $formatedOptionValue['full_view'] ?></dd>
                            </dl>
                        </div>
                    <?php endif; ?>
                </dd>
            <?php else: ?>
                <dd><?php echo $block->escapeHtml((isset($option['print_value']) ? $option['print_value'] : $option['value'])) ?></dd>
            <?php endif; ?>
        <?php endforeach; ?>
    </dl>
<?php endif; ?>
