<?php if ($options = $block->getItemOptions()): ?>
    <dl class="item-options">
        <?php foreach ($options as $option) : ?>
            <dt class="u-semibold"><?php echo $block->escapeHtml($option['label']) ?>:</dt>
            <?php if (!$block->getPrintStatus()): ?>
                <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                <dd>
                    <?php if (isset($formatedOptionValue['full_view'])): ?>
                        <?php /* @escapeNotVerified */ echo $formatedOptionValue['full_view'] ?>
                    <?php else: ?>
                        <?php /* @escapeNotVerified */ echo $formatedOptionValue['value'] ?>
                    <?php endif; ?>
                </dd>
            <?php else: ?>
                <dd>
                    <?php echo nl2br($block->escapeHtml((isset($option['print_value']) ? $option['print_value'] : $option['value']))) ?>
                </dd>
            <?php endif; ?>
        <?php endforeach; ?>
    </dl>
<?php endif; ?>
