<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/FAQ
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
 /** @var $block \Aheadworks\Faq\Block\Search\Search */?>
<?php $searchQuery = $block->getData('data') ? $block->getData('data') : $block->getSearchQueryString();?>
<div class="aw-faq-search">
    <form action="<?php echo $block->escapeUrl($block->getFaqSearchUrl()) ?>" method="get" role="search">
        <div class="aw-search-field">
            <div class="control">
                <input id="aw-faq-search-field" type="text"
                        placeholder="<?php echo $block->escapeHtml(__('Type here to search FAQ articles')); ?>"
                        class="input-text"
                        name="<?php echo $block->getQueryParamName() ?>"
                        role="combobox"
                        aria-required="true"
                        required
                        value="<?php echo $block->escapeHtml($searchQuery) ?>"/>
                <input type="hidden" name="routeName" value="<?php echo $block->escapeHtml($block->getRouteName()) ?>" />
                <div id="search_autocomplete" class="search-autocomplete"></div>
            </div>
        </div>
            <button type="submit" title="<?php echo  $block->escapeHtml(__('Search')); ?>" class="action primary blue-button">
                <span><?php echo  $block->escapeHtml(__('Search')); ?></span>
            </button>
    </form>
</div>
