<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */
?>
<form class="form password forget"
      action="<?php echo $block->getUrl('*/*/forgotpasswordpost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset" data-hasrequired="<?php echo __('* Required Fields') ?>">
        <div class="field note">
            <?php echo __('Please enter your email address below to receive a password reset link.'); ?>
        </div>
        <div class="field email required">
            <label for="email_address" class="label">
                <span><?php echo __('Email') ?></span>
            </label>
            <div class="control">
                <input type="email" name="email" alt="email" id="email_address" class="input-text"
                       value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>"
                       data-validate="{required:true, 'validate-email':true}"
                       placeholder="<?php echo __('Email') ?>">
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info'); ?>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary button blue-button">
                    <span><?php echo __('Reset My Password') ?></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
