<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<?php $initiallyOpen = true; ?>
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" class="block-heading" role="heading" aria-level="2">
            <?php echo __('Registered Customers'); ?>
        </strong>
        <p class="block-comment">
            <?php echo __('If you have an account with us, please log in.'); ?>
        </p>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php echo $block->getPostActionUrl() ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php echo __('* Required Fields') ?>">
                <div class="login-dropdown" data-mage-init='{ "collapsible": {
                    "openedState": "open",
                    "animate": "250",
                    "active": <?= $initiallyOpen ? 'true' : 'false'; ?>,
                    "saveState": false,
                    "collapsible": true
                }}'>
                    <?php echo $block->getChildHtml('sociallogin.login'); ?>
                    <div class="actions-toolbar" data-role="title">
                        <div class="primary">
                            <button class="action login primary button blue-button" name="send" id="send2" type="button">
                                <span><?php echo __('Log In') ?></span>
                            </button>
                        </div>
                        <div class="secondary">
                            <a class="action remind" href="<?php echo $block->getForgotPasswordUrl(); ?>">
                                <span><?php echo __('Forgot Your Password?') ?></span>
                            </a>
                        </div>
                    </div>

                    <div class="fields content" data-role="content" <?= $initiallyOpen ? '' : 'style="display: none;"'; ?>>
                        <div class="field email required">
                            <label class="label" for="email">
                                <span><?php echo __('Email') ?></span>
                            </label>
                            <div class="control">
                                <input name="login[username]"
                                       value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?>
                                       id="email" type="email" class="input-text" title="<?php echo __('Email') ?>"
                                       placeholder="<?php echo __('Email') ?>"
                                       data-validate="{required:true, 'validate-email':true}">
                            </div>
                        </div>
                        <div class="field password required">
                            <label for="pass" class="label">
                                <span><?php echo __('Password') ?></span>
                            </label>
                            <div class="control">
                                <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?>
                                       class="input-text show-password" id="pass" title="<?php echo __('Password') ?>"
                                       placeholder="<?php echo __('Password') ?>"
                                       data-validate="{required:true}">
                                <span class="show-pass-button"></span>
                            </div>
                        </div>
                        <?php echo $block->getChildHtml('form_additional_info'); ?>
                    </div>
                </div>
            </fieldset>
            <input type="submit" class="submit-accessible hidden"/>
            <script>
                require([
                    'expandSubmitButtons'
                ], function (expandSubmitButtons) {
                    expandSubmitButtons.initializeLoginButton();
                })
            </script>
        </form>
    </div>
</div>
