<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
?>
<div class="choice">
    <input type="checkbox" name="is_subscription" id="is_subscription" value="1"
           title="<?php echo __('Newsletter subscription') ?>"<?php if ($block->getIsSubscribed()): ?> checked="checked"<?php endif; ?>
           class="checkbox">
    <label for="is_subscription" class="label">
        <span><?php echo __('Newsletter subscription') ?></span>
    </label>
</div>
