<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/** @var \Magento\Customer\Block\Account\Resetpassword $block */
?>
<form action="<?php echo $block->getUrl('*/*/resetpasswordpost', ['_query' => ['id' => $block->getCustomerId(), 'token' => $block->getResetPasswordLinkToken()]]); ?>"
      method="post"
      <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?>
      id="form-validate"
      class="form password reset"
      data-mage-init='{"validation": {}, "customValidation": {}}'>
    <fieldset class="fieldset" data-hasrequired="<?php echo __('* Required Fields'); ?>">
        <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label class="label" for="password">
                <span><?php echo __('Password'); ?></span>
            </label>
            <div class="control">
                <input type="password" class="input-text show-password" name="password" id="password"
                       data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password-custom':true}"
                       placeholder="<?php echo __('Password'); ?>"
                       autocomplete="off">
                <span class="show-pass-button"></span>
                <div id="password-strength-meter-container" data-role="password-strength-meter">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?php echo __('Password Strength'); ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?php echo __('No Password'); ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirmation required">
            <label class="label" for="password-confirmation">
                <span><?php echo __('Confirm Password'); ?></span>
            </label>
            <div class="control">
                <input type="password" class="input-text show-password"
                       name="password_confirmation"
                       id="password-confirmation"
                       data-validate="{required:true,equalTo:'#password'}"
                       placeholder="<?php echo __('Confirm Password'); ?>"
                       autocomplete="off">
                <span class="show-pass-button"></span>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary button blue-button">
                    <span><?php echo __('Set Password'); ?></span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
