<?php
/**
 * @category     Kurufootwear
 * @package      Kurufootwear/Customer
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<form class="form password forget"
      action="<?= $block->getUrl('*/*/sendmepasswordpost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset" data-hasrequired="<?= __('* Required Fields') ?>">
        <div class="field note">
            <?= __('Please enter your email address below to receive a password link.'); ?>
        </div>
        <div class="field email required">
            <label for="email_address" class="label">
                <span>
                    <?= __('Email') ?>
                </span>
            </label>
            <div class="control">
                <input type="email" name="email" alt="email" id="email_address" placeholder="<?= __("Email"); ?>"
                       class="input-text" value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>"
                       data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info'); ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary blue-button">
                <span>
                    <?= __('Send Password') ?>
                </span>
            </button>
        </div>
    </div>
</form>
