//
// @category  Kurufootwear
// @package   Kurufootwear\Blog
// @author    Krisjanis Veinbahs <krisjanisv@scandiweb.com>
// @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
//

.aw-blog-index-index,
.aw-blog-category-view,
.aw-blog-post-view {
    .page-main {
        @include outer-container();
        @include padding(10px $default-indent);

        @include media($desktop-small) {
            @include padding(5px null null);
        }

        &::after {
            height: 40px;
        }
    }

    .sidebar-wrapper {
        @include media($desktop-small) {
            @include padding(null 10px null null);
            float: left;
            width: 210px;
        }

        #blog-sidebar-recent-posts,
        #blog-sidebar-tag-cloud {
            @include display(none);
        }

        .content {
            @include display(none);

            @include media($desktop-small) {
                @include display(inherit);
            }
        }

        .category-name {
            @include margin(20px null);
        }

        .block-title,
        .blog-sidebar-block-title {
            @include margin(null null 15px);
            color: $clr-video-banner;
            font-family: $montserrat;
            font-size: $f-size;
            font-weight: bold;
            line-height: 17px;
            text-transform: uppercase;
        }

        ul {
            @include padding(0);
            list-style: none;

            li,
            .link {
                @include padding(10px null);
                font-family: $source-sans-pro;
                font-size: $f-size;
                font-weight: normal;
                text-transform: uppercase;
            }

            .selected {
                color: $clr-picton-blue;
            }
        }
    }

    .column.main {
        @include media($desktop-small) {
            float: right;
            width: calc(100% - 200px);
        }

        @include media($desktop-small) {
            width: calc(100% - 240px);
        }
    }

    .block-categories {
        .desktop-only {
            @include display(none);

            @include media($desktop-small) {
                @include display(block);
            }
        }

        .mobile-only {
            @include display(block);

            @include media($desktop-small) {
                @include display(none);
            }
        }
    }

    .block-socials {
        @include display(none);
        @include margin(20px 0);
        @include padding(10px 0);
        @include border-color($clr-dusty-gray);
        @include border-style(solid);
        @include border-width(1px 0);

        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(space-between);
        }

        .block-title {
            @include display(inline-block);
            @include padding(10px null);
            @include margin(null null 0);
            color: $clr-video-banner;
            font-family: $source-sans-pro;
            font-weight: normal;
            width: 40%;
        }

        .block-content {
            @include display(inline-block);
            width: 60%;
        }

        .social-links {
            @include display(flex);
            @include justify-content(space-between);
            height: 100%;
        }

        .fa {
            @include margin(auto 0);
        }
    }
}
