//
// @category  Kurufootwear
// @package   Kurufootwear\Blog
// @author    Krisjanis Veinbahs <krisjanisv@scandiweb.com>
// @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
//

.aw-blog-index-index,
.aw-blog-category-view {
    .blog-posts {
        @include margin(40px null 0);
        @include display(flex);
        @include flex-wrap(wrap);

        @include media($tablet) {
            @include margin(null null 15px);
        }
    }

    .post-slider {
        @include margin(25px null null);

        @include media($desktop-small) {
            @include margin(0 null null);
        }

        .blog-post {
            @include position(relative);
            @include margin(0);

            .thumbnail-wrapper {
                @include media($tablet) {
                    height: 35vw;
                }

                @include media($desktop-small) {
                    height: calc((100vw - 210px) * .35);
                }

                @include media($desktop) {
                    height: 404px;
                }
            }
        }

        .title {
            @include display(flex);
            @include align-items(center);
            @include position(absolute, 0 null 0 10px);
            width: 90%;

            @include media($mobile-medium-l) {
                @include position(absolute, 0 null 0 20px);
                width: 70%;
            }

            .white {
                color: $clr-white;
            }
        }
    }

    .blog-post {
        @include margin(null null 25px);
        width: 100%;

        @include media($tablet) {
            @include margin(null 15px 15px null);
            width: calc(50% - (15px) / 2);
        }

        &:nth-of-type(2n) {
            @include media($tablet) {
                @include margin(null 0 null null);
            }
        }

        .thumbnail-wrapper {
            @include display(block);
            height: 50vw;
            overflow: hidden;
            text-align: center;

            @include media($tablet) {
                height: 25vw;
            }

            @include media($desktop-small) {
                height: calc((100vw - 210px) * .25);
            }

            @include media($desktop) {
                height: 288px;
            }
        }

        .thumbnail {
            @include display(block);
            background-position: center;
            background-size: cover;
            height: 100%;
            width: 100%;
        }

        .seperator {
            @include display(inline-block);
            @include margin(null null null -2px);
        }

        .category-name {
            color: $clr-corduroy;
        }

        .title {
            @include margin(null null 0);
            float: none;
            font-family: $montserrat;
            font-size: $f-size-xxl;
            font-weight: bold;
            line-height: 16px;

            @include media($tablet) {
                width: 70%;
            }
        }
    }
}
