//
// @category  Kurufootwear
// @package   Kurufootwear\Blog
// @author    Krisjanis Veinbahs <krisjanisv@scandiweb.com>
// @copyright Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// @license   http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
//

.aw-blog-post-view {
    .blog-post {
        @include margin(10px null null);

        @include media($desktop-small) {
            @include margin(0 null null);
        }
    }

    .blog-post-info {
        @include display(flex);
        @include justify-content(space-between);
        font-size: $f-size-l;
        line-height: 19px;
    }

    .blog-post-title {
        @include margin(10px null 20px);
    }

    .seperator {
        @include display(inline-block);
        @include margin(null null null -2px);
    }

    .thumbnail-wrapper {
        @include margin(25px null);
        @include display(block);
        height: 50vw;
        overflow: hidden;
        text-align: center;

        @include media($tablet) {
            height: 45vw;
        }

        @include media($desktop-small) {
            height: calc((100vw - 210px) * .45);
        }

        @include media($desktop) {
            height: 484px;
        }
    }

    .thumbnail {
        @include display(block);
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .blog-post-content {
        @include margin(10px null);
        color: $clr-corduroy;

        img {
            @include display(block);
            @include margin(10px auto);
            max-width: 100%;
        }
    }
}
