<?php
/**
 * Footer subscribe block
 *
 * @category     Kurufootwear
 * @package      Kurufootwear/default
 * @copyright    Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<div class="footer-subscribe">
    <div class="block newsletter">
        <div class="content">
            <form class="form subscribe"
                novalidate
                action="<?php echo $block->getFormActionUrl() ?>"
                method="post"
                data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                id="newsletter-validate-detail">
                <div class="field newsletter">
                    <label class="label" for="newsletter"><span><span class="blue-text"><?php echo __('Sign up.') ?></span> <?php echo __('Stay in the loop') ?></span></label>
                    <div class="newsletter-submit">
                        <input name="email" type="email" id="newsletter" class="newsletter-email"
                                    placeholder="<?php echo __('Your email address') ?>"
                                    data-validate="{required:true, 'validate-email':true}"/>
                        <button type="submit" id="submit-subscribe" class="blue-button arrowed submit-subscribe" title="<?php echo __('Sign up') ?>">
                            <span><?php echo __('Sign up') ?></span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="newsletter-text">
                <p>Sign me up for KURU Footwear emails, featuring exclusive offers, latest product info, news about upcoming events and more.</p>
                <p>By clicking the “Sign up” button, I confirm I am over 13 years old age. See our Privacy Policy for details.</p>
            </div>
        </div>
    </div>
</div>
