<?php
/**
 * @category    Scandiweb
 * @package     Kurufootwear/default
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <div class="art thanks-art">
        <div class="success-halo"></div>
        <div class="check-mark-wrapper">
            <img class="check-mark icon" src="<?php echo $block->getViewFileUrl('images/check.svg') ?>"/>
        </div>
        <p class="thanks-message response"><?php echo __('Thank you!') ?></p>
        <p class="thanks-description"><?php echo __('We have received your order') ?></p>
        <?php if ($block->getOrderId()):?>
            <p class="thanks-description">
                <?php echo __('Your Order Number: %1', sprintf(
                        '<a href="%s" class="order-number"><strong>%s</strong></a>',
                        $block->escapeHtml($block->isLoggedIn() ? $block->getViewOrderUrl() : $block->getGuestOrderViewUrl()),
                        $block->escapeHtml($block->getOrderId())
                )) ?>
            </p>
        <?php endif;?>
        <?php echo $block->getAdditionalInfoHtml() ?>
    </div>


    <div class="response-info success">
        <p class="bold large"><?php echo __('What to expect next:') ?></p>
        <p><?php echo __('We want you to be completely happy with your purchase. Here are a few tips to ensure you get the perfect pair of shoes.') ?></p>
        <ul>
            <li>
                <span class="bold">
                    <?php echo __('Clean Surface - '); ?>
                </span>
                <?php echo __('Try your new shoes on a clean surface to ensure proper fit and size. Focus on the length of the shoes to determine if they are fitting correctly. If they feel tight, do not forget to completely loosen the shoe laces down to the toes. Sometimes our shoes come tightly laced from our factories.');?>
            </li>
        </ul>
        <p><?php echo __('FREE Exchanges and FREE Returns - To help you get the perfect fit, all shoes in NEW CONDITION are eligible for our convenient FREE Exchanges (domestic US orders only) as well as our easy, FREE returns.') ?></p>
        <ul>
            <li>
                <span class="bold">
                    <?php echo __('Give it a Little Time - '); ?>
                </span>
                <?php echo __('The breakthrough KURUSOLE™ with HEELHUGR™ technology has the power to transform your life. But this can take time. This is why we recommend wearing the shoes 2~3 hours per day for the first few weeks. KURU shoes use your body heat to mold to your feet. This break-in period allows them to custom mold to your feet while allowing time for your body to adapt to the support of our technology.');?>
            </li>
        </ul>
        <p class="bold large"><?php echo __('When will my order ship?') ?></p>
        <p><?php echo __('We want you to receive your order ASAP. That is why most orders ship within 1 business day (not including pre-order styles). As soon as we ship your order, we will email you a tracking number.') ?></p>
    </div>

    <div class="actions-toolbar see-order">
        <div class="primary">
            <a class="see-order-link" href="<?php echo $block->isLoggedIn() ? $block->getViewOrderUrl() : $block->getGuestOrderViewUrl() ?>">
                <button class="action primary blue-button see-order">
                    <!-- ko i18n: 'See your order' --><!-- /ko -->
                </button>
            </a>
        </div>
        <div class="secondary">
            <a class="continue-shopping-link" href="<?php echo $block->getBaseUrl() ?>">
                <button class="action primary blue-button continue" href="<?php echo $block->getBaseUrl() ?>">
                    <!-- ko i18n: 'Shop now' --><!-- /ko -->
                </button>
            </a>
        </div>
    </div>
</div>
