#request_edit_tabs_request_content .field-1,
#request_edit_tabs_request_content .field-2 {
	display: none;
}

@media (min-width: 768px) {
	.aw-rma-admin-rma-edit.page-layout-admin-2columns-left .page-columns .main-col {
		width: 100% !important;
		background: #f1f1f1;
		border: 1px solid #e3e3e3;
	}
	.aw-rma-admin-rma-edit.page-layout-admin-2columns-left .page-columns .side-col {
		width: calc( (100%) * .60 - 30px );
		margin-left: 0;
	}
}