/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Jim McGowen <jim@kurufootwear.com>
 * @copyright   Copyright (c) 2017 KURU Footwear. All rights reserved.
 */

/* Warehouse Inspection Tab */
#wi_inspector_initials {
	width: 65px;
	text-transform: uppercase;
}

#warehouse_inspection_form .admin__fieldset > .admin__field > .admin__field-control {
	width: calc((100%) * 0.75 - 30px);
}

#wi_notes {
	width: 100%;
	height: 117px;
	padding: 10px;
}

.wi-qty-container,
.wi-grade-container,
.wi-reason-container {
	margin-left: 30px;
}

.wi-reason-container {
	padding: 5px 0;
	font-style: italic;
}

.wi-grade-container label {
	margin-right: 10px;
}

.wi-qty {
	width: 40px !important;
	margin-left: 10px;
}

.wi-grade-label {
	margin-right: 10px;
}

.wi-grade-radio {
	margin-right: 5px;
}

.wi-item-checkbox {
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}

.wi-item-label {
	overflow: auto;
	display: block;
}

.wi-item-wrap {
	padding-bottom: 16px;
}

.wi-qty {
	padding: 1px 6px;
}

.wi-grade-container {
	padding-top: 5px;
}
