<?php
/**
 * @category    Scandiweb
 * @package     Kurufootwear/Customer
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */
?>
<form class="form-address-edit"
      action="<?php echo $block->getSaveUrl() ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?php echo __('* Required Fields') ?>">
    <fieldset class="fieldset">
        <?php echo $block->getBlockHtml('formkey')?>
        <input type="hidden"
               name="success_url"
               value="<?php echo $block->getSuccessUrl() ?>">
        <input type="hidden"
               name="error_url"
               value="<?php echo $block->getErrorUrl() ?>">
        <?php echo $block->getNameBlockHtml() ?>
        <div class="field company">
            <label class="label" for="company">
                <span>
                    <?php echo __('Company') ?>
                </span>
            </label>
            <div class="control">
                <input type="text"
                       placeholder="<?php echo _('Enter your company')?>"
                       name="company"
                       id="company"
                       title="<?php echo __('Company') ?>"
                       value="<?php echo $block->escapeHtml($block->getAddress()->getCompany()) ?>"
                       class="input-text <?php echo $this
                           ->helper('Magento\Customer\Helper\Address')
                           ->getAttributeValidationClass('company') ?>">
            </div>
        </div>
        <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
            <div class="field taxvat">
                <label class="label"
                       for="vat_id">
                    <span>
                        <?php echo __('VAT Number') ?></span></label>
                <div class="control">
                    <input type="text"
                           placeholder="Enter your VAT number"
                           name="vat_id"
                           value="<?php echo $block->escapeHtml($block->getAddress()->getVatId()) ?>"
                           title="<?php echo __('VAT Number') ?>"
                           class="input-text <?php echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id') ?>"
                           id="vat_id">
                </div>
            </div>
        <?php endif; ?>
        <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
        <div class="field street required">
            <label for="street_1"
                   class="label">
                <span>
                    <?php echo __('Address') ?>
                </span>
            </label>
            <div class="control">
                <input type="text"
                       placeholder="Enter your address"
                       name="street[]"
                       value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>"
                       title="<?php echo __('Street Address') ?>"
                       id="street_1"
                       class="input-text <?php echo $_streetValidationClass ?>"/>
                <div class="nested">
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                        <div class="field additional">
                            <label class="label"
                                   for="street_<?php echo $_i+1 ?>">
                                <span>
                                    <?php echo __('Street Address %1', $_i+1) ?>
                                </span>
                            </label>
                            <div class="control">
                                <input type="text"
                                       placeholder="Enter your Address"
                                       name="street[]"
                                       value="<?php echo $block->escapeHtml($block->getStreetLine($_i+1)) ?>"
                                       title="<?php echo __('Street Address %1', $_i+1) ?>"
                                       id="street_<?php echo $_i+1 ?>"
                                       class="input-text <?php  echo $_streetValidationClass ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>
        <div class="field city required">
            <label class="label" for="city">
                <span>
                    <?php echo __('City') ?>
                </span>
            </label>
            <div class="control">
                <input type="text"
                       placeholder="Enter your City"
                       name="city"
                       value="<?php echo $block->escapeHtml($block->getAddress()->getCity()) ?>"
                       title="<?php echo __('City') ?>"
                       class="input-text <?php echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>"
                       id="city">
            </div>
        </div>
        <div class="field region required">
            <label class="label"
                   for="region_id">
                <span>
                    <?php echo __('State') ?>
                </span>
            </label>
            <div class="control">
                <select id="region_id"
                        name="region_id"
                        title="<?php echo __('State') ?>"
                        class="validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                    <option value="">
                        <?php echo __('Select your State') ?>
                    </option>
                </select>
                <input type="text"
                       placeholder="Enter your State"
                       id="region"
                       name="region"
                       value="<?php echo $block->escapeHtml($block->getRegion()) ?>"
                       title="<?php echo __('State') ?>"
                       class="input-text <?php echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"
                    <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>
                />
            </div>
        </div>
        <div class="field zip required">
            <label class="label"
                   for="zip">
                <span>
                    <?php echo __('Zip Code') ?>
                </span>
            </label>
            <div class="control">
                <input type="text"
                       placeholder="Enter your ZIP code"
                       name="postcode"
                       value="<?php echo $block->escapeHtml($block->getAddress()->getPostcode()) ?>"
                       title="<?php echo __('Zip/Postal Code') ?>"
                       id="zip"
                       class="input-text validate-zip-international <?php echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
            </div>
        </div>
        <div class="field country required">
            <label class="label" for="country">
                <span>
                    <?php echo __('Country') ?>
                </span>
            </label>
            <div class="control">
                <?php echo $block->getCountryHtmlSelect() ?>
            </div>
        </div>
        <div class="field telephone required">
            <label class="label"
                   for="telephone">
                <span>
                    <?php echo __('Telephone') ?>
                </span>
            </label>
            <div class="control">
                <input type="text"
                       placeholder="Enter your phone number"
                       name="telephone"
                       value="<?php echo $block->escapeHtml($block->getAddress()->getTelephone()) ?>"
                       title="<?php echo __('Phone Number') ?>"
                       class="input-text <?php echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>"
                       id="telephone">
            </div>
        </div>

        <?php if ($block->isDefaultBilling()): ?>
        <?php elseif ($block->canSetAsDefaultBilling()): ?>
            <div class="field choice set billing">
                <input type="checkbox"
                       id="primary_billing"
                       name="default_billing"
                       value="1"
                       class="checkbox">
                <label class="label"
                       for="primary_billing">
                    <span>
                        <?php echo __('Use as my default billing address') ?></span></label>
            </div>
        <?php else: ?>
            <input type="hidden" name="default_billing" value="1" />
        <?php endif; ?>

        <?php if ($block->isDefaultShipping()): ?>
        <?php elseif ($block->canSetAsDefaultShipping()): ?>
            <div class="field choice set shipping">
                <input type="checkbox"
                       id="primary_shipping"
                       name="default_shipping"
                       value="1"
                       class="checkbox">
                <label class="label"
                       for="primary_shipping">
                    <span>
                        <?php echo __('Use as my default shipping address') ?>
                    </span>
                </label>
            </div>
        <?php else: ?>
            <input type="hidden"
                   name="default_shipping"
                   value="1">
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="secondary">
            <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back button secondary-button">
                <span><?php echo __('Back') ?></span>
            </a>
        </div>
        <div class="primary">
            <button type="submit"
                    class="action save primary blue-button"
                    data-action="save-address"
                    title="<?php /* @escapeNotVerified */ echo __('Save Address') ?>">
                <span>
                    <?php /* @escapeNotVerified */ echo __('Save Address') ?>
                </span>
            </button>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<script>
    require([
        'jquery',
        'initMask'
    ], function ($, initMask) {
        $(document).ready(function () {
            initMask.initialize();
        });
    })
</script>
