<?php
/**
 * @category    Scandiweb
 * @package     Kurufootwear/Customer
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
?>

<div class="block-title">
    <strong><?php /* @escapeNotVerified */ echo __('Address Book') ?></strong>
</div>
