<?php
/**
 * @vendor      Kurufootwear
 * @module      Kurufootwear_Rewards
 * @author      Kristaps Stalidzans <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license     http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
use Kurufootwear\Rewards\Block\Account\Listing;

/** @var Listing $block */
$collectionArray = $block->getTransactionCollectionArray();
$helper = $this->helper('Mirasvit\Rewards\Helper\Data');
$points = $block->getBalancePoints();
$balance = $points > 0 ? $helper->formatPoints($points) : 'No Points';
?>
<div class="content-wrapper">
    <div class="block block-rewards-account-summary">
        <div class="block-title">
            <strong><?= __('Points Summary') ?></strong>
        </div>
        <div class="block-information">
            <p><?= __('You have <b>%1</b> in your account.', $balance); ?></p>
            <p><?= $block->getChildHtml('rewards.notification'); ?></p>
        </div>
    </div>
    <?php if ($collectionArray): ?>
        <?php foreach ($collectionArray as $title => $collection): ?>
            <div class="block transactions-summary transaction-<?php echo strtolower($title); ?>">
                <div class="block-title">
                    <strong><?= __($title); ?></strong>
                </div>
                <div class="block-content">
                    <div class="table-wrapper prositive orders-recent">
                        <table class="data-table table">
                            <thead>
                                <tr class="table-header">
                                    <th class="table-title">
                                        <?= __('Points'); ?>
                                    </th>
                                    <th class="table-title">
                                        <?= __('Date'); ?>
                                    </th>
                                    <th class="table-title">
                                        <?= __('Comment'); ?>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                            <?php if ($collection->count()): ?>
                                <?php $odd = 0 ?>
                                <?php foreach ($collection as $transaction): ?>
                                    <tr class="table-content <?= ++$odd % 2 ? 'odd' : 'even'; ?> <?= $collection->getLastItem() == $transaction ? 'last' : ''; ?>">
                                        <td class="table-col" data-th="<?= __('Points'); ?>">
                                            <span><?php echo $transaction->getAmount(); ?></span>
                                        </td>
                                        <td class="table-col" data-th="<?= __('Date'); ?>">
                                            <?= $block->formatDate($transaction->getCreatedAt(), \IntlDateFormatter::MEDIUM); ?>
                                        </td>
                                        <td class="table-col" data-th="<?= __('Comment'); ?>">
                                            <?= $transaction->getComment(); ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <tr class="table-content odd no-transfers">
                                    <td class="information table-col" colspan="2">
                                        <?= __('There are no transfers.'); ?>
                                    </td>
                                </tr>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <div class="block-information">
            <p><?= __('There are no transfers.'); ?></p>
        </div>
    <?php endif; ?>
</div>
