<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var \Mirasvit\Rewards\Block\Account\Listing $block */
?>
<div class="block block-rewards-account-summary">
    <div class="block-title">
        <strong><?= __('Points Summary') ?></strong>
    </div>
    <div class="block-content">
        <p class="point-counter paragraph"><?= __('You have <b>%1</b> in your account.', $this->helper('Mirasvit\Rewards\Helper\Data')->formatPoints($block->getBalancePoints())); ?></p>
        <a class="rewards-link link" href="<?php echo $block->getUrl('rewards/account') ?>">
            <?php echo __('Visit My Points & Rewards Section')?>
        </a>
    </div>
</div>
