<?php
/**
 * @vendor Kurufootwear
 * @module Scandi_MagicZoom
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
/**
 * Product media data template
 *
 * @var $block \Scandi\MagicZoom\Block\Gallery
 */
?>
<div class="mz-gallery-container">
    <div class="mz-gallery-thumbs-wrap"></div>
    <div class="mz-gallery-placeholder gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    </div>
    <div data-role="loader" class="loading-mask <?php echo $block->getFirstImageUrl() ? 'image' : '' ?>">
        <div class="loader">
            <?php if ($imageUrl = $block->getFirstImageUrl()): ?>
                <img src="<?php echo $imageUrl ?>" class="base-image" draggable="false" ondragstart="return false;">
            <?php else: ?>
                <img class="loader-spinner" draggable="false" ondragstart="return false;" src="<?php echo $this->getBaseUrl() . 'media/wysiwyg/loader.svg'; ?>" alt="<?php echo __('Loading...') ?>">
            <?php endif; ?>
        </div>
    </div>
</div>
<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script type="text/javascript">
    require(['scandiGallery']);
    var config = {
            'width': <?php echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
            'height': <?php echo $block->getImageAttribute('product_page_image_medium', 'height'); ?>
        },
        loader = document.querySelectorAll('.mz-gallery-container [data-role="loader"]')[0];
</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "scandiGallery": {
                "data": <?php echo $block->getGalleryImagesJson(); ?>,
                "sliderSettings": {
                    "videoPopup": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/video_popup'); ?>,
                    "options": { <?php /* Options will be passed directly to Slick, can add additional settings here */ ?>
                        "autoplay": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/autoslide_enabled'); ?>,
                        "autoplaySpeed": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/autoslide_timeout'); ?>,
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "dots": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/show_dots', true); ?>,
                        "arrows": false,
                        "infinite": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/infinite', true); ?>,
                        "responsive": [
                            {
                                "breakpoint": 1024,
                                "settings": {
                                    "dots": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/show_dots_mobile', true); ?>
                                }
                            }
                        ]
                    }
                },
                "imagePopup": {
                    "imagePopupStatus": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/image_popup'); ?>,
                    "options": { <?php /* Options will be passed directly to Fancybox, can add additional settings here */ ?>
                        "slideShow" : false,
                        "fullScreen": false,
	                    "thumbs" : false
                    }
                },
                "thumbsSettings": {
                    "options": { <?php /* Options will be passed directly to Slick, can add additional settings here */ ?>
                        "vertical": true,
                        "slidesToShow": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/thumb_count'); ?>,
                        "slidesToScroll": 1,
                        "autoplay": false,
                        "focusOnSelect": true,
                        "centerMode": true,
                        "variableWidth": false,
                        "centerPadding": 0,
                        "dots": false,
                        "arrows": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/show_arrows', true); ?>,
                        "infinite": <?php echo $block->getConfigVal('scandi_magiczoom/slider_settings/infinite', true); ?>
                    }
                },
                "zoomSettings": {
                    "zoomEnabled": <?php echo $block->getConfigVal('scandi_magiczoom/zoom_settings/zoom_enabled'); ?>,
                    "autoType": true,
                    "options": { <?php /* Options will be passed directly to ElevateZoom, can add additional settings here */ ?>
                        "zoomType": "<?php echo $block->getConfigVal('scandi_magiczoom/zoom_settings/zoom_type'); ?>",
                        "zoomWindowPosition": 3,
                        "zoomWindowOffetx": 20,
                        "responsive": true,
                        "zoomWindowFadeIn": true,
                        "zoomWindowFadeOut": true,
                        "containLensZoom": true,
                        "borderColour": "transparent",
                        "zoomWindowWidth": 660,
                        "zoomWindowHeight": 500
                    }
                },
                "videoSettings": {
                    "showRelated": false,
                    "videoAutoRestart": false
                }
            }
        }
    }
</script>
