<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading line-separated">The Best Walking Shoes</div>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p>You walk every day. In fact, the average human takes an average of 6,000 steps per day, or almost 3 miles a day. That is a lot of steps to trust to just any old shoe.</p>
            <p>Without the best walking shoes for your feet, you could end up with lifelong foot pain as you age. There are many who claim to be the best walking shoes. The truth is,
                most walking shoes are constructed very differently than the best walking shoes should be.</p>
            <p>Some shoes are comfortable when you slip them on, only to leave you with aching, painful feet after a few hours of wear. The reason is simple.
                Most shoes are flat inside which means they do not conform to your foot. </p>
            <p>Imagine walking shoes that conformed to your unique foot shape offering all-day long comfort so you could do more, exercise longer, and be more fit.
                Imagine a whole new level of injury prevention and improved quality of life. </p>
            <p>KURU shoes offers revolutionary, orthotic quality support built directly into every pair of shoes.
                This powerful technology results in a whole new level of comfort never before seen in walking shoes.</p>
            <p class="italic">Higher quality of life.</p>
            <div class="buttons-wrapper">
                <p class="bold">Shop for our best-selling Walking Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html?benefits=Walking"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html?benefits=Walking"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="//kurufootwear.s3.amazonaws.com/media/planatarfasciitis/landing_pages_plantarfasciitis.gif" alt="Women's Chicane">
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">Feel good technology for walking</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">Quite simply, <strong>KURU</strong>SOLE™ is the special sauce that makes KURU the best walking shoes in the world.
                    It’s no wonder KURU is quickly becoming the web’s #1 favorite new walking shoe.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>The secret to making KURU the best walking shoes in the world is how the shoes become more comfortable as they magically mold to your unique feet. This is achieved
                    with advanced materials that use your body heat to mold to your feet. But, a custom fit is only half the story. </p>
                <p>The other half is how <strong>KURU</strong>SOLE™ works with nature for a new standard in fitness and health. <strong>KURU</strong>SOLE™ is designed to flex inward to cup your natural fat pad.
                    This means KURU keeps the fat pad under your heel bone, allowing for unsurpassed levels of natural cushioning. When other, flat walking shoes are
                    flattening your fat pad with each step, KURU is keeping your feet healthier for new levels of wellness.</p>
                <p class="italic">Feel better.</p>
                <p>Shop for our best-selling Walking Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html?benefits=Walking"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html?benefits=Walking"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Why others love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p>I love these shoes. I started wearing these shoes the second I received them. I wore it everyday for over a year and ready to get my second pair.
                I have experiencing knee and ankle pain before, but since wearing these Kuru's, the pain is gone.</p>
            <p class="quote-author">~ Rich</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>Wow!!! Perfect fit right out of the box.... I was worried they were going to rub the back of my heel. After wearing them a couple hours... didn't bother me at all.
                The heel cup feels fantastic. Nothing like any of my other shoes.</p>
            <p class="quote-author">~ Cheryl</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>I have a pair of Kuru I'm wearing now. They fit Great. Great for walking, which I do lot of with my job. Just ordered another pair.
                ustomer service was very helpful in getting me in the right size.</p>
            <p class="quote-author">~ Mike</p>
        </div>
    </div>
</div>

<div class="slider-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="kuru-slider">
                <div class="slide">
                    <h2>Dynamic Rocker Sole</h2>
                    <p>The best walking shoes will include a rockered sole that allows for an improved, more natural walking motion. Unfortunately, most walking shoes do not have a properly rounded heel strike zone.
                        This can get in the way when you are out exercising and walking.</p>
                    <p><strong>KURU</strong>’s best walking shoes have an optimized heel strike angle zone to properly align and cushion your foot with every step.
                        The silky smooth transition from heel to toe can help prevent injury so you have no down time from your daily walking routine.</p>
                </div>
                <div class="slide">
                    <h2>Shaped Like You</h2>
                    <p>Every <strong>KURU</strong> shoe starts with the shape of a real human foot. We engineered a broad, natural foot shape in the toes, allowing your feet to spread out
                        throughout the day. KURU is shaped to work with nature for maximum health and an improved quality of life.</p>
                </div>
                <div class="slide">
                    <h2>Silky Smooth Ride</h2>
                    <p>We put a lot of effort into creating the perfect shape of our outsole and midsole. That is why <strong>KURU</strong> promises an improved, rockered sole shape.
                        This shape lets your foot roll naturally as you walk, reducing impacts for advanced relief.</p>
                </div>
                <div class="slide">
                    <h2>Multi-Function Solution</h2>
                    <p>The best walking shoes are both functional and stylish. Versatile styling gives you more options to match your outfits with your daily activities.</p>
                    <p>KURU’s best walking shoes offer functionality and on-trend style for any activity, including sporty and casual styles to meet your comfort and fashion needs.</p>
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="slider-newsletter">
                <h3>FREE Plantar Fasciitis Secrets from the Experts</h3>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper best-pair">
    <div class="heading">The Best Pair of Walking Shoes You'll Find</div>
    <p class="intro-text center-align">KURU shoes are different. Not only did we pack some of the best technology into our shoes, but our walking shoes have also improved the quality of life for thousands of people just like you:</p>
    <div class="buttons-wrapper">
        <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
        <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
    </div>

    <div class="three-column">
        <div class="illustration">
            <img src="//kurufootwear.s3.amazonaws.com/media/technology-page-mockup.png">
        </div>
        <p class="part-heading">Happy comfort</p>
        <p>The better your walking shoes fit, the better your feet will feel. Areas of fit to focus on include a deep heel pocket to cradle your heel
            and prevent slipping and a forefoot with enough wiggle room for your toes. </p>
        <p>Simply put, KURU’s best walking shoes just fit better. The proven <strong>KURU</strong>SOLE™ footbed technology is designed to flex and adapt to your heel shape. In addition,
            <strong>KURU</strong>SOLE™ luxuriously molds to the contours of your foot over time. </p>
        <p>We use an advanced, anatomical last shape that is ergonomically correct. This means KURU walking shoes are shaped like your feet, with instantly familiar arch support,
            ideal heel stability, and perfect amount of room for your toes.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="//kurufootwear.s3.amazonaws.com/media/technology-page-mockup.v2_03.jpg">
        </div>
        <p class="part-heading">Love your feet</p>
        <p>Many walking shoes do not last as long. Often, the foam insole quickly flattens out. The best walking shoes use better grade foams that keep their shape.
            The best walking shoes also have a durable, high-grade rubber outsole that won't peel.</p>
        <p>KURU’s best walking shoes are built with space-age materials that may cost more, but will outlast most others.
            In addition, the durable rubber outsole construction on KURU shoes provides proven durability and improved performance.</p>
        <p>In fact, KURU shoes are so well constructed, we back them with a solid <a href="{{store direct_url="customer-service/warranty.html"}}" class="blue">warranty policy</a> against any and all manufacturer defects.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="//kurufootwear.s3.amazonaws.com/media/technology-page-mockup.v2_06.jpg">
        </div>
        <p class="part-heading">Let time fly by</p>
        <p>Podiatrists know that poor support in walking shoes is a big contributor to foot problems. The best walking shoes must offer proper arch and heel support.</p>
        <p>Since your feet aren’t flat, KURU walking shoes are not flat. The insoles of KURU’s best walking shoes are shaped to provide perfect arch support and heel stability for comfort that will last all day.</p>
        <p>With KURU’s best walking shoes, you will go longer and do more, optimizing your energy so you can be happy.</p>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>
