<div class="category-side-menu">
    <div class="side-menu-block">
        <h5>Technology</h5>
        <ul>
            <li><a href="{{store url="innovation"}}">KuruSole Technology</a></li>
        </ul>
    </div>

    <div class="side-menu-block">
        <h5>Sustainability</h5>
        <ul>
            <li><a href="{{store direct_url="sustainability.html"}}">Kuru Cares</a></li>
            <li><a href="{{store direct_url="sustainability/register-your-product.html"}}">Register Your Purchase</a></li>
        </ul>
    </div>

    <div class="side-menu-block">
        <h5>Why Kuru</h5>
        <ul>
            <li><a href="{{store url="why-kuru"}}">Why Kuru</a></li>
            <li><a href="{{store direct_url="customer-service/returns-and-exchanges.html"}}">FREE Exchanges</a></li>
        </ul>
    </div>

    <div class="side-menu-block">
        <h5>Experts Corner</h5>
        <ul>
            <li><a href="{{store direct_url="experts-corner.html"}}">Experts Corner</a></li>
            <li><a href="{{store direct_url="mens-shoes.html"}}">Mens Shoes</a></li>
            <li><a href="{{store direct_url="womens-shoes.html"}}">Womens Shoes</a></li>
            <li><a href="{{store direct_url="experts-corner/best-walking-shoes.html"}}">Walking Shoes</a></li>
            <li><a href="{{store direct_url="experts-corner/shoes-for-traveling.html"}}">Traveling Shoes</a></li>
            <li><a href="{{store direct_url="experts-corner/plantar-fasciitis.html"}}">Plantar Fasciitis</a></li>
        </ul>
    </div>

    <div class="side-menu-block">
        <h5>Customer Service</h5>
        <ul>
            <li><a href="{{store url="contacts"}}">Contact Us</a></li>
            <li><a href="{{store direct_url="customer-service/shipping-and-delivery.html"}}">Shipping and Delivery</a></li>
            <li><a href="{{store direct_url="customer-service/shipping-and-delivery.html"}}">International Shipping</a></li>
            <li><a href="{{store direct_url="customer-service/returns-and-exchanges.html"}}">Exchanges and Returns</a></li>
            <li><a href="{{store direct_url="customer-service/warranty.html"}}">Warranty Policy</a></li>
            <li><a href="{{store direct_url="customer-service/privacy-and-security.html"}}">Privacy and Security</a></li>
            <li><a href="{{store direct_url="customer-service/order-status.html"}}">Check my order status</a></li>
        </ul>
    </div>
</div>