<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        {{block class="Kurufootwear\\OrderStatus\\Block\\GuestOrderStatus\\View" template="Kurufootwear_OrderStatus::guest-order-status.phtml"}}
    </div>
</div>