<div class="contact-kuru">
    <div class="block-info">
        <p class="info-paragraph">If you prefer a more personal experience, a KURU GURU would love to be of help.
            You can contact a KURU GURU one of the following ways:</p>
    </div>
</div>
