<!-- Start of signup -->
<script language="javascript">
    <!--
    function validate_signup(frm) {
        var emailAddress = frm.Email.value;
        var errorString = '';
        if (emailAddress == '' || emailAddress.indexOf('@') == -1) {
            errorString = 'Please enter your email address';
        }


        var els = frm.getElementsByTagName('input');
        for (var i = 0; i < els.length; i++)
        {
            if (els[i].className == 'text' || els[i].className == 'date' || els[i].className == 'number')
            {
                if (els[i].value == '')
                    errorString = 'Please complete all required fields.';
            }
            else if (els[i].className == 'radio')
            {
                var toCheck = document.getElementsByName(els[i].name);
                var radioChecked = false;
                for (var j = 0; j < toCheck.length; j++)
                {
                    if (toCheck[j].name == els[i].name && toCheck[j].checked)
                        radioChecked = true;
                }
                if (!radioChecked)
                    errorString = 'Please complete all required fields.';
            }
        }



        var isError = false;
        if (errorString.length > 0)
            isError = true;

        if (isError)
            alert(errorString);
        return !isError;
    }


    //-->
</script>

<form name="signup" id="signup" action="http://dmtrk.com/signup.ashx" method="post" onsubmit="return validate_signup(this)">
    <input type="hidden" name="addressbookid" value="348521">
    <!-- UserID - required field, do not remove -->
    <input type="hidden" name="userid" value="119119">
    <!-- ReturnURL - when the user hits submit, they'll get sent here -->
    <input type="hidden" name="ReturnURL" value="">
    <!-- Email - the user's email address -->

    <input type="email" value="" name="Email" class="email placeholder" id="mce-EMAIL" placeholder="email address" required>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button email-button button-landing">
</form>


<!-- End of signup -->

<style>
    .kuru-newsletter h3 {font-family: Arial;}.kuru-newsletter input[type='submit']{font-family: Arial!important;}
</style>