<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <div id="heel-pain">
            <div class="addthis-mob">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
                <!-- AddThis Button END -->
            </div>

            <img class="full-banner" src="{{media url="wysiwyg/feet-and-dandelions.jpg"}}" alt="feet and dandelions"/>
            <div class="grid_3 alpha">

                <div class="recent-reviews-mob tablet-only">
                    <h3>Recent Reviews</h3>
                    <div class="main-slider">
                        <div class="bxslider kuru-slider">
                            <div class="slide"><p>"From the minute I tried these on until right now, they feel as though I am walking in bare feet."</p><p><strong>Andy</strong></p></div>
                            <div class="slide"><p>"The best shoes I've ever worn. Period."</p><p><strong>Rick</strong></p></div>
                        </div>
                    </div>
                </div> <!--recent-reviews-mob-->

                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup" class="sign-up-form tablet-only">
                    <label for="mce-EMAIL">Sign up for the FREE KURU Insider Newsletter</label>
                    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
                </div>

                <h2>Why Get Wide Shoes When You Can Get KURU?</h2>

                <p>It can be hard to find shoes to fit wide feet in a way that is completely comfortable. Tight, rigid footwear can constrict the feet and can feel like an unnatural burden throughout the day.  </p>

                <p>What if you could find a shoe that was built around the shape of your foot to give you more comfort, better mobility, and room to wiggle your toes? Imagine how much better you would feel if you did not have to search high and low for wide shoes that still do not fit comfortably. </p>

                <p>KURU shoes have an ergonomic shape that allows the foot to naturally flex and shape to your foot with each movement. No wide shoes out there can bring you a completely anatomical shape the way KURU can. This means that the toebox is naturally wider, so you get the fit and feel you need without wide shoes. </p>

                <p><I>Personalized.</I></p>
                <br/><br/>
                <h2>Wide Shoes Feel, No Wide Shoes Restrictions</h2>

                <p>A busy lifestyle demands highly functional shoes that can be worn anywhere. From the workplace to gym, KURU shoes are stylish, durable, and totally comfortable. Each shoe is designed to offer complete versatility in movement by working with nature to create a shape that better adapts to your foot’s natural shape.</p>

                <p>The remarkable <strong>KURU</strong>SOLE&trade; orthotic footbed flexes inward with each step to actually cup your heel pad. This helps to reinforce your body’s natural cushioning mechanism. A more roomy forefoot built on a broad, anatomical last allows the foot to splay naturally as the foot swells throughout the day. This superior shape prevents the toes from getting pinched as you move, and contributes to the easy-to-wear feel of the shoe.</p>

                <p>KURU shoes are designed to not only give you tremendous support, but total versatility as well. When you need a shoe that has the durability and traction for trail hiking, but the stylish sophistication of a casual urban walker, KURU shoes are the most versatile shoes around.</p>


                <p><I>Unsurpassed.</I></p>


                <div class="buttons-wrapper">
                    <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-heel-pain.html"}}"><span>Best-Selling WOMENS Shoes</span></a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-heel-pain.html"}}"><span>Best-Selling MENS Shoes</span></a>
                </div>

                <br />


                <p><!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style  addthis_toolbox-bottom">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->
                </p>

                <p class="disclaimer"><i>DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign of a more serious condition. Because everyone´s feet and body are different, your results may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical professional prior to any treatment regimen. If your pain persists, see a doctor.</i></p>

                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-comments" data-href="http://www.kurufootwear.com/" data-num-posts="4" data-width="475"></div>

            </div>

            <div class="grid_2 static-right">

                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->

                <div class="recent-reviews">
                    <h3>Recent Reviews</h3>
                    <div class="testimonial" ><p>"From the minute I tried these on until right now, they feel as though I am walking in bare feet."</p>
                        <div class="name" ><p>Andy</p></div>
                    </div>
                    <div class="testimonial"><p>"The best shoes I've ever worn. Period."</p>
                        <div class="name"><p>Rick</p></div>
                    </div>
                </div> <!-- recent-reviews -->

                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup" class="sign-up-form">
                    <label for="mce-EMAIL">Sign up for the FREE KURU Insider Newsletter</label>
                    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
                </div>

                <!--End mc_embed_signup-->



            </div>
        </div><!-- heel-pain -->
    </div>
</div>