<script>
    require(["jquery", "js/data", "js/shoe"], function ($) {
        $(document).ready(function () {
            // Attach shoe pictures to canvas'es
            var shoe = new Shoe('canvas');
            var shoe = new Shoe('canvas-mob');
        })
    });
</script>

<div class="category-cms-content">
    <div class="max-width-wrapper">
        <div class="heading">Most Comfortable Work Shoes</div>
        <p class="part-heading center-align">Finally, Work Shoes That Work for You</p>

        <!-- AddThis Button BEGIN -->
        <div class="addthis_cont">
            <span>Share<b> with your friends</b>.</span>
            <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_preferred_5"></a>
                <a class="addthis_button_preferred_6"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
        </div>
        <!-- AddThis Button END -->

        <div class="kuru-main">
            <p>You spend the majority of your work day on your feet, which takes a toll on your entire body. Knee, joint, foot pain, and even lower back problems are a reality for many working people — no matter what you do for a living. Much of this pain comes from the quality of work shoes we wear on a daily basis. The majority of work shoes are flat inside, which means they do not provide the support your heels and arches need to avoid health problems and injury.</p>

            <div class="two-column">
                <p>What if there were work shoes that would work for you? Imagine comfortable work shoes that flexed to adapt to your unique feet. Imagine getting the cushioning and support needed so you could finish your job with energy to spare.KURU offers the most comfortable work shoes because they actually mold to your individual foot to provide custom cushioning and reliable support. </p>

                <p>The remarkable, patented <strong>KURU</strong>SOLE&trade; technology means every part of your foot receives perfect support for a genuinely comfortable experience every time you put on your work shoes. With stability and support you can trust, you can focus on your job. With KURU, time flies by as you enjoy a better quality of life. </p>

                <p>New level of contentment.</p>
                <img src="http://kurufootwear.s3.amazonaws.com/media/travel-shoes/experts-corner-work-shoes.gif"
                     alt="The most comfortable and reliable work shoes" title="Work Shoes"
                     class="redchicane fasciitis-ipad-mob mobile-only"/>

                <div class="buttons-wrapper">
                    <p class="bold">Shop the best-selling Work Shoes:</p>
                    <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
                </div>
            </div>
            <div class="two-column">
                <img src="http://kurufootwear.s3.amazonaws.com/media/travel-shoes/experts-corner-work-shoes.gif"
                     alt="The most comfortable and reliable work shoes"
                     title="Work Shoes" class="redchicane fasciitis-desk desktop-only"/>
            </div>
        </div>
    </div>
    <div class="dark-blue-part">
        <div class="dark-blue-part-content">
            <div class="heading">Feel Better Technology</div>

            <div class="two-column">
                <p>The innovative new <strong>KURU</strong>SOLE&trade; offers something no other work shoe ever has&mdash;a medical-grade orthotic insole sculpted into the shoe itself. This shape includes a deep heel cup to match your natural heel shape to keep your natural heel fat pad in place. This promises powerful heel stability and superior shock absorption with perfect arch support.</p>
                <div class="illustration mobile-only">
                    <canvas id="canvas-mob" width="450" height="250"></canvas>
                </div>
                <p>The top layer of <strong>KURU</strong>SOLE&trade; includes Ultimate Insoles&trade; that feature space-age, heat-sensitive foams to custom mold to your individual foot over time.</p>
                <p>The ground-breaking <strong>KURU</strong>SOLE&trade; technology in every KURU work shoe allows you to go longer so you can get the job done. Magnify your quality of life and be more happy.</p>
                <p>Imagine a naturally superior design that is healthier for your feet. These are KURU work shoes, the best work shoes for all day mobility.</p>
                <p class="tagline">Energizing.</p>

                <div class="buttons-wrapper">
                    <p class="bold">Shop the best-selling Work Shoes:</p>
                    <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
                </div>
            </div>

            <div class="two-column">
                <div class="illustration desktop-only">
                    <canvas id="canvas" width="450" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="max-width-wrapper">
        <div class="heading">Why Others Love KURU</div>
        <div class="three-column">
            <div class="quote">
                <p>They were comfortable from day one...no need to break in! I am able to work all day under grueling conditions with considerably less foot, ankle, knee, hip and back pain! A great pair of shoes makes an incredible difference in one's performance and attitude!</p>
                <p class="quote-author">~Susan W., FL</p>
            </div>
        </div>
        <div class="three-column">
            <div class="quote">
                <p>They are very comfortable overall and the black Chicanes are conservative-looking enough to wear to work.</p>
                <p class="quote-author">~Susan P., MI</p>
            </div>
        </div>
        <div class="three-column">
            <div class="quote">
                <p>I can honestly say these are the most comfortable shoes I have ever worn.</p>
                <p class="quote-author">~Travis B., TX</p>
            </div>
        </div>
    </div>

    <div class="max-width-wrapper">
        <div class="heading">The Most Comfortable Work Shoes Built for You</div>
        <p class="center-align">We know you can not put your life or job on hold for foot pain. This is why we developed a work shoe you can wear anytime, anywhere, without being held back by foot pain. A stylish, versatile design means that you can comfortably wear your shoes to work and around town.</p>
        <div class="three-column">
            <div class="illustration stretch">
                <img src="{{media url="wysiwyg/caduceus-support-mobile.jpg"}}" alt="The most comfortable and reliable work shoes" title="Work Shoes"/>
            </div>
            <div class="blue-heading center-align">Better Durability</div>
            <p class="center-align">Working hard, day in and day out, requires a shoe that lasts. Many shoes you wear to work break down quickly and do not have the quality construction to handle sustained activity. KURU work shoes maintain our signature support for all day wear, every day.</p>
            <p class="center-align">This combined with a grippy, cupped rubber outsole means you can do more and go longer.</p>
            <p class="center-align italic">Improved mobility.</p>
        </div>
        <div class="three-column">
            <div class="illustration stretch">
                <img src="{{media url="wysiwyg/leaves-support-mobile.jpg"}}" alt="The most comfortable and reliable work shoes" title="Work Shoes"/>
            </div>
            <div class="blue-heading center-align">Uncompromising Support</div>
            <p class="center-align">Moving around all day on unforgivable surfaces requires a supportive shoe. Poor support in your shoes is a major contributor to foot pain, and this makes your job even harder. Our built-in anatomical footbed provides a naturally cushioned platform that cups your heel and molds to your individual foot for more health and wellness.</p>
            <p class="center-align">Focus on your work and others so you can get more done and feel better at the end of each day.</p>
            <p class="center-align italic">New levels of satisfaction.</p>
        </div>
        <div class="three-column">
            <div class="illustration stretch">
                <img src="{{media url="wysiwyg/feet-support-mobile.jpg"}}" alt="The most comfortable and reliable work shoes" title="Work Shoes"/>
            </div>
            <div class="blue-heading center-align">Capable and Stylish</div>
            <p class="center-align">Who wouldn’t want a shoe that is good for your feet as well as stylish and multifunctional? When you can have work shoes that are also perfect for a night out or a day on the trails, why settle for anything less?</p>
            <p class="center-align">The versatile design and performance ready construction make KURU work shoes your go-to shoes everyday.</p>
            <p class="center-align italic">Personalized.</p>
        </div>
    </div>

    <div class="grey-part">
        <div class="grey-part-content">
            <div class="two-column">
                <div class="heading">Become An Insider. Get the Exclusive KURU Newsletter.</div>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
            <div class="two-column">
                <br class="mobile-only">
                <div class="heading">Shop the best-selling shoes</div>
                <div class="buttons-wrapper center-align tablet-center">
                    <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}">
                        <span>Women's Shoes</span>
                    </a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}">
                        <span>Men's Shoes</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="max-width-wrapper">
        <div class="clear"></div>
        <p class="italic">DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical professional prior to any treatment regimen.</p>
    </div>
</div>