<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <div id="expert-corners">
            <div id="anatomically">
                <div class="text">
                    <h1>SMART SHOES</h1>
                    <p>The amazing <strong>KURU</strong>SOLE&trade;. Designed by experts to dynamically adapt to your feet for complete comfort. Theirs don't do that.</p>
                    <p>Genius.</p>
                </div>
                <img class="top-banner-gif" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
            </div>

            <div class="addthis-mob">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->
            </div>

            <div class="recent-reviews-mob">
                <h3>Recent Reviews</h3>
                <div class="main-slider">
                    <div class="bxslider kuru-slider">
                        <div class="slide"><p>"Absolutely terrific--comfortable all day long, great traction and support for uneven terrain!"</p><p><strong>Sara</strong></p></div>
                        <div class="slide"><p>"The rave reviews are true!"</p><p><strong>Liz</strong></p></div>
                        <div class="slide"><p>"Very comfortable out of the box...the perfect travel shoe."</p><p><strong>Graffiti Wall: Best Walking Shoes, RickSteves.com</strong></p></div>
                        <div class="slide"><p>"These are by far the most comfortable shoes I have ever worn."</p><p><strong>Diane</strong></p></div>
                        <div class="slide"><p>"OMG, what an amazingly comfortable and supportive shoe!!"</p><p><strong>Pam</strong></p></div>
                    </div>
                </div>
            </div> <!--recent-reviews-mob-->

            <div class="clear"></div>


            <div class="grid_3">
                <h1>Experts' Corner</h1>

                <p><span style="font-family: arial, helvetica, sans-serif; font-size: small;">At KURU, we challenged some of the brightest minds we could find to create phenomenally comfortable shoes that surpass what was thought possible.</p>

                <p>After years of development, the revolutionary <strong>KURU</strong>SOLE&trade; technology debuted creating smart shoes that shape themselves to your feet. KURU has transformed the lives of thousands.</span></p>

                <p><i>Trusted.</i></p>

                <h3>How Nature Cushions Your Body</h3>

                <p><span style="font-family: arial, helvetica, sans-serif; font-size: small;">The human foot is an amazing creation of nature, serving as the necessary foundation for the rest of the human body. The key is to realize the human foot not only supports, but also cushions the body.</p>

                <p>Nature evolved your feet by including a soft, one inch thick, fatty tissue under the heel bone. This fat pad serves to absorb every step. </p>

                <p>The modern world has thrown a curveball to nature. Nature didn't anticipate all the flat and unforgiving surfaces we walk on every day. Whether it is concrete, carpet or marble, these flat surfaces flatten the fat pad, significantly reducing your fat pad's ability to cushion your every step.</p>

                <p>KURU shoes are built on the world's best technology for the human foot. As shown in the animation above, KURU actually cups nature's fat pad. By magically flexing inward with every single step, your fat pad is enabled to cushion your every step. </p>

                <p>It's no wonder more experts endorse KURU as the most comfortable shoes available.</p>

                <p><i>Proven.</i></p>

                <br />
                <div class="buttons">
                    <button onclick="window.location = '/womens-shoes/womens-shoes-for-heel-pain.html';" class="button" ><span><span class="arrow">Shop WOMENS Shoes</span></span></button>
                    <button onclick="window.location = '/mens-shoes/mens-shoes-for-heel-pain.html';" class="button" ><span><span class="arrow">Shop MENS Shoes</span></span></button>
                </div>

                <br />
                <div class="chime-in">
                    <h3>The Experts Chime In</h3>
                    <p>Learn from the experts below:</p>
                    <p>FOOT PAIN</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/foot-care/top-of-foot-pain.html"}}">Top of Foot Pain: Doctor Recommended Solutions and Treatments</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/ball-of-foot-pain.html"}}">Ball of Foot Pain: Symptoms, Causes and Proven Treatments</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/foot-pain.html"}}">Foot Pain: The Miracle Cure?</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/pain-in-arch-of-foot.html"}}">Pain in Arch of Foot:Best Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/heel-of-foot-pain.html"}}">Pain in Heel of Foot: Failsafe Tips and Tricks</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/achilles-tendon-pain.html"}}">Achilles Tendon Pain: Causes and Treatments</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/heel-pain.html"}}">Heel Pain: World's Best Shoes--Dr. Recommended</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/heel-spurs.html"}}">Heel Spurs: The Most Comfortable Shoes from KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/best-shoes-for-heel-spurs.html"}}">The Best Shoes for Heel Spurs--KURU Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/shoes-for-heel-spurs.html"}}">Shoes for Heel Spurs: KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/sore-heels.html"}}">Sore Heels: Relief in Comfortable Shoes</a></li>
                    </ul>

                    <p>PLANTAR FASCIITIS</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis.html"}}">Plantar Fasciitis: Best Treatments for Symptoms and Causes of Plantar Fasciitis</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis/why-does-plantar-fasciitis-hurt.html"}}">Why Does Plantar Fasciitis Hurt? Exclusive, Proven Treatments</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis/shoes-for-plantar-fasciitis.html"}}">Shoes for Plantar Fasciitis: KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis/nursing-shoes-for-plantar-fasciitis.html"}}">Nursing Shoes for Plantar Fasciitis</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis/plantar-fasciitis-stretches.html"}}">Plantar Fasciitis Stretches You Must Know</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis/treatment-of-plantar-fasciitis.html"}}">Treatment for Plantar Fasciitis</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis/what-is-plantar-fasciitis.html"}}">What is Plantar Fasciitis: Facts You Need to Know</a></li>
                    </ul>

                    <p>FOOT CARE</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/foot-care/shoes-for-heel-pain.html"}}">Shoes for Heel Pain: The Best Heel Pain Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/diabetic-shoes.html"}}">Diabetic Shoes: Podiarist Recommended Solution for Diabetic Foot Pain</a></li>
                        <li><a href="{{store direct_url="experts-corner/anatomically-shaped-footwear.html"}}">Anatomically Shaped Footwear: Doctor Approved</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/orthotics.html"}}">Orthotics: Doctor Recommended, Medical Grade Orthotics</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/arch-support-shoes.html"}}">Arch Support Shoes: Trusted Reviews and Recommendations</a></li>
                        <li><a href="{{store direct_url="experts-corner/orthopedic-shoes.html"}}">Orthopedic Shoes that Actually Look Good: Doctor Recommended</a></li>
                        <li><a href="{{store direct_url="fashionable-orthopedic-shoes.html"}}">Fashionable Orthopedic Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care.html"}}">Foot Care Through KURU Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/shoe-inserts.html"}}">Shoe Inserts: The Best Revealed. What You NEED to Know</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/shoes-for-heel-spurs.html"}}">Shoes for Heel Spurs: KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/orthopedic-shoes/orthopedic-shoes-for-men.html"}}">Orthopedic Shoes for Men</a></li>
                        <li><a href="{{store direct_url="experts-corner/orthopedic-shoes/orthopedic-shoes-for-women.html"}}">Orthopedic Shoes for Women</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/arch-support-inserts.html"}}">Arch Support Inserts: Built In</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/heel-fat-pad.html"}}">The Heel Fat Pad: What You Must Know</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/heel-support.html"}}">Heel Support: KURU Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/support-shoes.html"}}">Support Shoes: KURU Most Comfortable Shoes for Support</a></li>
                    </ul>

                    <p>OUTDOOR/FITNESS SHOES</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/cross-training-shoes.html"}}"> Versatile Cross Training Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/athletic-shoes.html"}}">The Most Reliable Performance Athletic Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/fitness-shoes.html"}}">Get Active with KURU Fitness Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/hiking-shoes.html"}}">The Best Hiking Shoes with Trusted Reviews</a></li>
                        <li><a href="{{store direct_url="experts-corner/outdoor-shoes.html"}}">KURU Amazing Outdoor Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/running-shoes.html"}}">Rediscover Amazing Running Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/trail-running-shoes.html"}}">The Best Trail Running Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/hiking-shoes-for-men.html"}}">The Most Supportive and Comfortable Hiking Shoes for Men</a></li>
                        <li><a href="{{store direct_url="experts-corner/hiking-shoes-for-women.html"}}">Comfortable and Supportive Hiking Shoes for Women</a></li>
                        <li><a href="{{store direct_url="experts-corner/trail-shoes.html"}}">Incredibly Comfortable and Supportive Trail Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/tennis-shoes.html"}}">KURU: The Most Comfortable Tennis Shoes</a></li>
                    </ul>

                    <p>WALKING/TRAVEL</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/casual-shoes.html"}}">The Most Trusted Casual Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/slip-on-shoes.html"}}">Slip on Shoes for Comfort</a></li>
                        <li><a href="{{store direct_url="experts-corner/best-walking-shoes.html"}}">The Best Walking Shoes in the World with Revolutionary Comfort</a></li>
                        <li><a href="{{store direct_url="experts-corner/travel-shoes.html"}}">World's Best, Top Rated Travel Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/walking-shoes.html"}}">Incredibly Supportive Walking Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/sneakers.html"}}">Comfortable, Casual, and Always Supportive Sneakers</a></li>
                        <li><a href="{{store direct_url="experts-corner/mens-casual-shoes.html"}}">The Most Comfortable and Stylish Mens Casual Shoes</a></li>
                    </ul>

                    <p>WORK/DRESS</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/work-shoes.html"}}">The Most Comfortable and Durable Work Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/dress-shoes.html"}}">Sophisticated and Stylish Dress Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/mens-shoes.html"}}">KURU: Discover Better Mens Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/womens-shoes.html"}}">Supportive and Stylish Womens Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/leather-shoes.html"}}">The Most Stylish and Comfortable Leather Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/suede-shoes.html"}}">The Perfect Suede Shoes for Everyday</a></li>
                        <li><a href="{{store direct_url="experts-corner/loafers.html"}}">KURU: The Most Comfortable Loafers</a></li>
                        <li><a href="{{store direct_url="experts-corner/suede-shoes.html"}}">The Most Stylish and Versatile Mens Suede Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/business-shoes.html"}}">KURU: The Most Stylish and Comfortable Business Shoes</a></li>
                    </ul>

                    <p>ASSORTED</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/shoes-online.html"}}">KURU: The Most Comfortable Shoes Online</a></li>
                        <li><a href="{{store direct_url="experts-corner/brown-shoes.html"}}">The Most Supportive and Stylish Brown Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/white-shoes.html"}}">The World's Most Comfortable and Versatile White Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/black-shoes.html"}}">World's Most Comfortable All Black Shoes for an Active Life</a></li>
                        <li><a href="{{store direct_url="experts-corner/cute-shoes.html"}}">Your Everyday Cute Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/wide-shoes.html"}}">Comfort and Support in KURU Wide Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/new-shoes.html"}}">KURU: Your Most Comfortable New Shoes</a></li>
                        <li><a href="{{store direct_url="sustainability.html"}}">KURU Cares: Industry Leading Consumer Empowered Sustainability Program</a></li>
                    </ul>

                    <p>ARCH SUPPORT</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/foot-care/arch-support-womens.html"}}">KURU Arch Support Women's Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/arch-support-mens.html"}}">Arch Support Men's Shoes--KURU Footwear</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/arch-support-shoe-accessories.html"}}">KURU Arch Support Insoles that Relieve Pain</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/general-support-accessories.html"}}">General Support Accessories to Treat Pain--KURU Footwear</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/arch-support-best-shoes.html"}}">Arch Support: Best Shoes from KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/general-support-best-shoes.html"}}">KURU Best Support Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/misc-medical-conditions.html"}}">Misc Medical Conditions-- How KURU Can Help</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/flat-feet-support.html"}}">KURU Shoes for Comfortable Flat Feet Support</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/flat-feet-arch-support.html"}}">Best Shoes with Arch Supports for Flat Feet--KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/arch-support-for-feet.html"}}">Best Shoes with Arch Support for Feet--KURU Footwear</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/general-support-for-feet.html"}}">KURU Best Shoes with Support for Feet</a></li>
                        <li><a href="{{store direct_url="experts-corner/foot-care/high-arch-support.html"}}">High Arch Support Shoes--KURU Footwear</a></li>
                    </ul>

                    <p>ORTHOTICS</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/foot-care/orthotic-shoes.html"}}">The Best Orthotic Shoes--KURU</a></li>
                        <!--<li>Dr Recommended Orthopedic Kids Shoes--KURU</a></li>-->
                        <li><a href="{{store direct_url="experts-corner/comfortable-orthopedic-shoes.html"}}">The World's Most Comfortable Orthopedic Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/ortho-shoes.html"}}">Ortho Shoes, Orthopaedic Shoes--KURU Footwear</a></li>
                        <li><a href="{{store direct_url="experts-corner/impact-protection-shoes.html"}}">Best Impact Protection Footwear</a></li>
                        <li><a href="{{store direct_url="experts-corner/anti-gravity-shoes.html"}}">Gravity Defying Anti Gravity Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/coil-shoes.html"}}">More Comfortable than Coil Shoes--KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/spring-heel-shoes.html"}}">More Comfort Than Spring Heel Shoes--KURU Footwear</a></li>
                        <li><a href="{{store direct_url="experts-corner/spring-shoe-store.html"}}">More Comfort Than Spring Shoes--KURU Store</a></li>
                        <li><a href="{{store direct_url="experts-corner/spring-shoes.html"}}">Better Than Shoes with Springs--KURU Patent-Pending Insole</a></li>
                        <li><a href="{{store direct_url="experts-corner/shock-absorber-shoes.html"}}">World's Best Shock Absorbing Shoes--KURU Footwear</a></li>
                    </ul>

                    <p>GEL SHOES</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/gel-foundation.html"}}">KURU Better than Gel Foundation Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/gel-heel.html"}}">More Supportive than Gel Heels and Gel Heel Cups</a></li>
                        <li><a href="{{store direct_url="experts-corner/gel-pain-relief.html"}}">KURU More Effective than Gel Supports</a></li>
                        <li><a href="{{store direct_url="experts-corner/gel-insoles.html"}}">KURU More Cushioned than Gel Insoles</a></li>
                        <li><a href="{{store direct_url="experts-corner/gel-shoes.html"}}">Most Comfortable, Better than Gel Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/womens-gel-shoes.html"}}">Dr. Recommended Better than Gel Shoes</a></li>
                    </ul>

                    <p>COMFORTABLE SHOES</p>
                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/comfortable-shoes-for-men.html"}}">Best Comfortable Shoes for Men</a></li>
                        <li><a href="{{store direct_url="experts-corner/comfortable-shoes-for-women.html"}}">KURU Best Walking and Comfort Women Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/most-comfortable-shoes.html"}}">KURU: The Most Comfortable Shoes Ever</a></li>
                        <li><a href="{{store direct_url="experts-corner/most-comfortable-sneakers.html"}}">KURU Most Comfortable Sneakers</a></li>
                        <li><a href="{{store direct_url="experts-corner/worlds-most-comfortable-shoes.html"}}">World's Most Comfortable Shoes--KURU Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/comfortable-shoes.html"}}">KURU: Comfortable, Highly Supportive Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/comfort-shoes-for-women.html"}}">The Most Supportive Comfort Shoes for Women</a></li>
                        <li><a href="{{store direct_url="experts-corner/comfort-shoes.html"}}">World's Most Comfortable Shoes for Unparalleled Comfort</a></li>
                    </ul>

                    <p>OCCUPATIONAL</p>

                    <ul class="menu-links">
                        <li><a href="{{store direct_url="experts-corner/cosmetologist-shoes.html"}}">The Best Shoes for Cosmetologists--KURU</a></li>
                        <li><a href="{{store direct_url="experts-corner/flat-feet-shoes.html"}}">KURU Technology: Best Shoes for Flat Feet</a></li>
                        <li><a href="{{store direct_url="experts-corner/nurse-shoes.html"}}">Most Comfortable Shoes for Nurses--KURU Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/shoes-for-retail-work.html"}}">KURU: Most Comfortable Shoes for Retail Work</a></li>
                        <li><a href="{{store direct_url="experts-corner/shoes-for-standing.html"}}">KURU: Best Shoes for Standing</a></li>
                        <li><a href="{{store direct_url="experts-corner/walking-shoes-for-men.html"}}">Best Walking Shoes for Men</a></li>
                        <li><a href="{{store direct_url="experts-corner/walking-shoes-for-women.html"}}">KURU: Best Walking Shoes for Women</a></li>
                        <li><a href="{{store direct_url="experts-corner/work-shoes.html"}}">The Most Comfortable and Durable Work Shoes</a></li>
                        <li><a href="{{store direct_url="experts-corner/work-shoes-for-men.html"}}">Best Work Shoes for Men</a></li>
                        <li><a href="{{store direct_url="experts-corner/work-shoes-for-women.html"}}">The Best Work Shoes for Women</a></li>
                    </ul>

                    <br />
                </div>

                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->

                <br />

                <p><em><font size="1">Disclaimer: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your pain persists, this could be a sign of a more serious condition. Always consult a trained medical professional prior to any treatment regimen. Because everyone's feet and body are different, your results may vary from the customer experiences and testimonials shared on this site.</font></em></p>


            </div>

            <div class="grid_2 static-right">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->
                <br />

                <h3>Recent Reviews</h3>
                <div class="testimonial">"Absolutely terrific--comfortable all day long, great traction and support for uneven terrain!"
                    <div class="name">Sara</div>
                </div>
                <div class="testimonial">"The rave reviews are true!"
                    <div class="name">Liz</div>
                </div>
                <div class="testimonial">"Very comfortable out of the box...the perfect travel shoe."
                    <div class="name">Graffiti Wall: Best Walking Shoes, RickSteves.com</div>
                </div>
                <div class="testimonial">"These are by far the most comfortable shoes I have ever worn."
                    <div class="name">Diane</div>
                </div>
                <div class="testimonial">"OMG, what an amazingly comfortable and supportive shoe!!"
                    <div class="name">Pam</div>
                </div>
            </div>
        </div><!-- expert-corners -->
    </div>
</div>