<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        {{block class="Magento\\Cms\\Block\\Block" block_id="experts-corner"}}
    </div>
</div>