<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">Flat Feet Support</div>
    <p class="intro-text center-align">The Most Comfortable Flat Feet Support Shoes</p>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p>Having flat feet can cause everyday foot pain and lead to more severe foot conditions if left unaddressed. Breakdown in the arches is painful and often requires
                better footwear. Shoes with the proper flat feet supports can significantly improve comfort, stability, and overall foot health.</p>
            <p>KURU shoes offer total support for flat feet through an incredible orthotic midsole that cushions and stabilizes the foot during movement.</p>
            <p>More support in the arch means that you get flat foot support like no other shoe.</p>
            <p class="italic">Transforming Support.</p>
            <div class="buttons-wrapper">
                <p class="bold">Shop the Best-Selling Flat Feet Support Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="http://kurufootwear.s3.amazonaws.com/media/experts-corner-arch-support.gif" alt="The most supportive shoes for flat feet">
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">Dynamic Technology</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">A doctor recommended orthopedic design creates more room in the forefoot with a more stable midsole for better arch support for flat feet.
                    This more natural shape helps keep your feet in a healthier position as you move.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>Each KURU shoe gives you the benefit of multi-density support in the forefoot, plantar fascia, and arch regions. </p>
                <p>The shapely foam <strong>KURU</strong>SOLE™ molds to your foot for flat feet arch support that won’t break down.</p>
                <p class="italic">Unsurpassed Comfort.</p>
                <p class="bold">Shop the Best-Selling Flat Feet Support Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Why others love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p>I have extremely flat feet and at age 57 I have never been without foor pain. I bought a pair of Kuru's last week and 90% of my foot pain is gone!
                Not 100% pain free but I have never been this close before.</p>
            <p class="quote-author">~ Bill</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>The shoes provide sufficient arch & heel support that avoids development of plantar fascitis, since I'm flat-footed and I work on my feet for a living (massage therapist).</p>
            <p class="quote-author">~ Reginald</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>very comfortable, supportive shoe, hasn't completely solved my issues, but my feet are nowhere near as sore at the end of a 9hr work day. </p>
            <p class="quote-author">~ Deborah</p>
        </div>
    </div>
</div>

<div class="max-width-wrapper best-pair">
    <div class="heading">Flat Feet: The Most Supportive Shoe</div>
    <div class="buttons-wrapper">
        <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
        <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
    </div>

    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/expert-approved_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Improved Movement</p>
        <p>A lighter, more efficient design makes KURU shoes perfect for life on the go. </p>
        <p>Breathable, water resistant nylon-textile fabric provides moisture wicking and durability for enhanced comfort and performance.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/naturally-better_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Support and Versatility</p>
        <p>The amazing support in KURU shoes make them perfect <a href="{{store direct_url="/experts-corner/comfort-shoes.html"}}" class=blue>comfort shoes</a> for any activity. </p>
        <p>Flat feet arch supports center the foot better for a more anatomically correct heel to toe strike. A flexible forefoot gives you the benefit of a more natural walking feel against the ground.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/chase-pain_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Inspired to Live</p>
        <p>KURU shoes not only give you the benefit of arch supports for flat feet, but also inspire you to participate in activities that give meaning to your life. </p>
        <p>With a stylish, functional design, KURU lets you focus on living and worry less about foot pain.</p>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>