<div class="footer-content-links">
    <div class="social-links" itemscope itemtype="http://schema.org/Organization">
        <link itemprop="url" href="{{store url=""}}">
        <a itemprop="sameAs" href="https://www.facebook.com/kurufootwear" target="_blank" class="fa fa-facebook-official"><span></span></a>
        <a itemprop="sameAs" href="https://twitter.com/kurufootwear" target="_blank" class="fa fa-twitter"><span></span></a>
        <a itemprop="sameAs" href="https://www.instagram.com/kurufootwear" target="_blank" class="fa fa-instagram"><span></span></a>
        <a itemprop="sameAs" href="https://www.youtube.com/user/kurufootwear" target="_blank" class="fa fa-youtube-play"><span></span></a>
        <a itemprop="sameAs" href="https://www.pinterest.com/IheartKuru" target="_blank" class="fa fa-pinterest"><span></span></a>
        <a itemprop="sameAs" href="https://plus.google.com/115133418458509133323" target="_blank" class="fa fa-google-plus"><span></span></a>
    </div>
    <ul class="expandable">
        <li class="has-children">
            <p class="title"><span class="title-span">Let's connect</span></p>
            <ul class="sub-menu">
                <li><a class="footer-link faq" href="{{store url="faq"}}"><i class="fa fa-question-circle-o"></i>FAQs</a></li>
                <li><a class="footer-link email" href="{{store url="contact"}}"><i class="fa fa-envelope-o"></i>Email Us</a></li>
                <li><a class="footer-link kuru-chat-toggler-help chat" href="#"><i class="fa fa-comment-o"></i>Online chat</a></li>
                <li><a class="footer-link phone" href="tel:8772115878"><i class="fa fa-phone"></i>Call Us</a></li>
            </ul>
        </li>
        <li class="has-children">
            <p class="title"><span class="title-span">Customer Care</span></p>
            <ul class="sub-menu">
                <li><a class="footer-link" href="{{store url="customer/account"}}">Login/Register</a></li>
                <li><a class="footer-link" href="{{store direct_url="customer-service/reward-points-and-loyalty-program.html"}}">KURU Cash Rewards</a></li>
                <li><a class="footer-link" href="{{store direct_url="customer-service/returns-and-exchanges.html"}}">Exchange & Return Policy</a></li>
                <li><a class="footer-link" href="{{store direct_url="customer-service/shipping-and-delivery.html"}}">Shipping Policy</a></li>
                <li><a class="footer-link" href="{{store direct_url="customer-service/warranty.html"}}">Warranty Policy</a></li>
                <li><a class="footer-link" href="{{store direct_url="customer-service/privacy-and-security.html"}}">Terms & Privacy Policy</a></li>
                <li><a class="footer-link" href="{{store direct_url="customer-service/order-status.html"}}">Check my order status</a></li>
            </ul>
        </li>
        <li class="has-children">
            <p class="title"><span class="title-span">Shop by category</span></p>
            <ul class="sub-menu">
                <li><a class="footer-link" href="{{store direct_url="womens-shoes.html"}}">Women's Shoes</a></li>
                <li><a class="footer-link" href="{{store direct_url="mens-shoes.html"}}">Men's Shoes</a></li>
                <li><a class="footer-link" href="{{store direct_url="experts-corner/best-walking-shoes.html"}}">Walking Shoes</a></li>
                <li><a class="footer-link" href="{{store direct_url="experts-corner/hiking-shoes.html"}}">Hiking Shoes</a></li>
                <li><a class="footer-link" href="{{store direct_url="experts-corner/travel-shoes.html"}}">Travel Shoes</a></li>
                <li><a class="footer-link" href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis.html"}}">Plantar Fasciitis Shoes</a></li>
            </ul>
        </li>
        <li class="has-children">
            <p class="title"><span class="title-span">About KURU</span></p>
            <ul class="sub-menu">
                <li><a class="footer-link" href="{{store url="why-kuru"}}">Our Story</a></li>
                <li><a class="footer-link" href="{{store url="innovation"}}">Innovation</a></li>
                <li><a class="footer-link" href="{{store direct_url="reviews"}}">Customer Reviews</a></li>
                <li><a class="footer-link" href="{{store url="blog"}}">Blog</a></li>
                <li><a class="footer-link" href="{{store direct_url="experts-corner.html"}}">Experts Corner</a></li>
                <li><a class="footer-link" href="{{store direct_url="sustainability.html"}}">KURU Cares</a></li>
                <li><a class="footer-link" href="{{store url="contact"}}">Contact Us</a></li>
            </ul>
        </li>
    </ul>
</div>