<div class="footer-delivery-content">
    <p class="delivery-title">Shop Safely And Securely</p>
    <div class="delivery-images">
        <img class="delivery paypal" src="{{media url="logos/paypal.svg"}}" alt="PayPal" />
        <img class="delivery amazon" src="{{media url="logos/amazon.svg"}}" alt="Amazon" />
        <img class="delivery braintree" src="{{media url="logos/braintree.svg"}}" alt="Braintree" />
    </div>
</div>