<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">Best Shoes for Foot Pain</div>
    <p>Foot pain is not only annoying, but also affects your daily routines and can prevent many of the activities you love. Common foot pain in heel persists for many reasons, but one obvious reason is the kind of shoes you wear.</p>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p>If your foot pain is mainly <a class="blue" href="{{store direct_url="experts-corner/foot-care/heel-pain.html"}}">heel pain</a>, it can stop you dead in your tracks.</p>
            <p>The constant pounding of running, walking, and standing on hard, uneven surfaces takes a huge toll on our feet. What’s worse, our body’s were not designed for such hard, unforgiving surfaces. No matter how much you try to ignore it, everyday foot pain is only made worse by flat, unsupportive shoes.</p>

            <p>Often, over-the-counter medications, inserts or stretches are prescribed for general foot pain. However, stretches and medications don’t treat your foot pain at the source, so it continues to nag day in and day out.</p>

            <p class="italic">Lasting Comfort.</p>
            <div class="buttons-wrapper">
                <p class="bold">Shop the best-selling Foot Pain Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="//kurufootwear.s3.amazonaws.com/media/footpain/landing_page_footpain.gif" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">Foot Pain Technology</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">The unique <strong>KURU</strong>SOLE™ technology is so powerful for foot pain, it is patented. Instead of using flimsy constructions and materials, the space-age materials in KURU custom mold to your feet for amazing support and relief.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>We worked with leading medical experts to develop the breakthrough ergonomic <b>KURU</b>SOLE™. This proven technology promises new levels of support and comfort for foot pain. </p>
                <p>The patented flexing action of <b>KURU</b>SOLE™ cups the natural fat pad of your feet. This cradles your feet so nature can cushion your every step as you walk. </p>
                <p>To top things off, the super advanced insole is smart enough to use your body heat to custom mold to your feet. This provides cushioning and support so you can focus on others and have an improved quality of life.</p>
                <p class="italic">Go. Open Life.™</p>
                <p class="bold">Shop for our Best Shoes for Foot Pain:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Why others love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p>I've been wearing Kuru shoes for at least 8 months. At the time I started wearing these shoes I had heel pain in my left foot. Now my heel pain is gone. I will always wear Kuru. </p>
            <p class="quote-author">~ Diane, NY</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>I had been living in agony, trying everything I could think of to get some relief for my foot pain. From the very first day these shoes were so comfortable. My foot pain is a thing of the past. Thank you KURU!!</p>
            <p class="quote-author">~ Leigh</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>I can honestly say these are the most comfortable shoes I have ever worn.</p>
            <p class="quote-author">~ Eileen</p>
        </div>
    </div>
</div>

<div class="slider-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="kuru-slider">
                <div class="slide">
                    <h2>KURU Shoes Out Perform Orthotics</h2>
                    <p>Custom orthotics can be extremely costly and are a hassle to switch from one pair of shoes to another.</p>
                </div>
                <div class="slide">
                    <p>What if there were shoes that start with the shape of your foot. Imagine a shoe that custom adapts to your feet, offering superior support and pain relief for all day wear. Imagine no longer being cranky or crabby because of foot pain</p>
                </div>
                <div class="slide">
                    <p>KURU shoes offer an unparalleled solution for foot pain. KURU shoes feature a groundbreaking orthotic technology that give you the benefit of an anatomical midsole for increased support in the arch and heel so you can walk, run and even exercise without worrying about your pain.</p>
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="slider-newsletter">
                <h3>FREE Foot Pain Secrets from the Experts</h3>
                <p>+ 5 Must know tips to solve Foot Pain</p>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>