<div class="get-help">
    <div class="block-title">Get Help</div>
    <div class="block-links">
        <ul class="link-list">
            <li class="list-item">
                <a href="{{store url='faq'}}" class="help-links" alt="FAQs">FAQs</a>
            </li>
            <li class="list-item">
                <a href="{{store direct_url='customer-service/warranty.html'}}" class="help-links" alt="Warranty Policy">Warranty Policy</a>
            </li>
            <li class="list-item">
                <a href="{{store direct_url='customer-service/returns-and-exchanges.html'}}" class="help-links" alt="Returns & Exchanges">Returns & Exchanges</a>
            </li>
            <li class="list-item">
                <a href="{{store direct_url='customer-service/shipping-and-delivery.html'}}" class="help-links" alt="International Orders">International Orders</a>
            </li>
            <li class="list-item">
                <a href="{{store direct_url='customer-service/shipping-and-delivery.html}}" class="help-links" alt="Shipping Policy">Shipping Policy</a>
            </li>
        </ul>
    </div>
</div>