<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">Sharp Heel Pain: Self Treatment You Can Count On</div>
    <p class="intro-text center-align">Do you suffer from sharp heel pain? Is your heel pain constant, nagging and debilitating?
        Unfortunately, almost everyone will deal with heel pain at one time or another.</p>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p>What’s worse, sharp heel pain can happen to anyone, regardless of physical fitness, gender or even body type. In fact, those who are physically
                active are many times at more risk for heel pain or heel spurs. </p>
            <p>Many professionals suggest surgery as a solution for heel pain and heel spurs. However, surgery is invasive, expensive, and has long recovery times.
                Even more risky, with surgery, your feet may never be the same, and your heel pain may continue.</p>
            <p>Imagine a self-treatment for heel pain that you can do at home. What if this heel pain treatment was as simple as a shoe that would cradle your
                heel for complete comfort so you can forget your heel pain and have the energy to feel better and do more? </p>
            <p>The revolutionary <strong>KURU</strong>SOLE™ technology built into every KURU shoe is so powerful for heel pain, it is patented. This proven technology is designed to work
                with your body so you can heal from your pain. Unlike other shoes that are flat, this simple technology hugs your heel for improved cushioning and relief
                from your heel spurs.</p>
            <p class="italic">Hope.</p>
            <div class="buttons-wrapper">
                <p class="bold">Shop the best-selling Heel Pain Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-heel-pain.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-heel-pain.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="http://kurufootwear.s3.amazonaws.com/media/planatarfasciitis/landing_pages_plantarfasciitis.gif" alt="Women's Chicane">
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">A Patented Solution for Heel Pain</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">KURU’s unique technology offers all the support benefits of an orthotic, with space-age foams that use your body
                    heat to custom mold and adapt to your unique foot shape.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>The unique <strong>KURU</strong>SOLE™ dynamically flexes to cradle your heels. This gives you exceptional support and cushioning so your body can heal from your heel pain.</p>
                <p>The secret is how <strong>KURU</strong>SOLE™ works to keep your fat pad under your heel for natural comfort. No other shoe adapts to your feet like KURU.
                    This means you can have a better quality of life so you can focus on others and not be distracted by your pain.</p>
                <p class="italic">Superior.</p>
                <p class="bold">Shop the best-selling Heel Pain Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-heel-pain.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-heel-pain.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Why others love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p>I've been wearing Kuru shoes for at least 8 months. At the time I started wearing these shoes I had heel pain in my left foot. Now my heel pain is gone.
                I will always wear Kuru.</p>
            <p class="quote-author">~ Diane, N</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>I tried every shoe advertised for heel pain and nothing helped. I've done every stretch recommended to no avail.
                I started wearing your shoe and have finally realized, my pain is about 99% gone.</p>
            <p class="quote-author">~ Redlime, GA</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>Used my shoes from Kuru to go hiking in Colorado. I didn't feel any pain from my plantar fasciitis during hikes of several hours.
                I will order more Kuru shoes based on the success I have had.</p>
            <p class="quote-author">~ Laurel P., California</p>
        </div>
    </div>
</div>

<div class="slider-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="kuru-slider">
                <div class="slide">
                    <h2>You Should Know</h2>
                    <p>With the potential to help the millions suffering from plantar fasciitis, <strong>KURU</strong> is a leading solution for those with plantar fasciitis. </p>
                    <p>Severe heel pain in your foot is many times a result of either <a class="blue" href="{{store direct_url="/experts-corner/foot-care/heel-spurs.html"}}">heel spurs</a> or <a class="blue" href="{{store direct_url="/experts-corner/foot-care/plantar-fasciitis.html"}}">plantar fasciitis.</a></p>
                    <p>Heel spurs, which are small bone growths, may start out as small annoyances but quickly become debilitating. Many of the symptoms of heel spurs are similar to plantar fasciitis. In fact, 70% of those who suffer from plantar fasciitis also have a heel spur.</p>
                </div>
                <div class="slide">
                    <h2>Heel Spur Help</h2>
                    <p>Under X-Ray, heel spurs show up as small growths of bone under the heel. Bone spurs commonly form in the same area as where the plantar fascia connects to the heel bone.</p>
                    <p>Usually, sharp heel pain in the foot is the beginning stages of plantar fasciitis. Because heel spurs usually occur alongside plantar fasciitis, it's the inflammation of the plantar fascia that causes the pain, not the spur itself.</p>
                    <p class="italic">Simplified.</p>
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="slider-newsletter">
                <h3>FREE Foot Pain Secrets from the Experts</h3>
                <p>+ 5 Must know tips to solve Foot Pain</p>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper best-pair">
    <div class="heading">What Causes Heel Pain</div>
    <p class="intro-text center-align">The plantar fascia is a thick, fibrous connective tissue that runs from the heel to the ball of the foot.
        This strong and tight tissue helps support and maintain the shape of the arch. It is also one of the major transmitters of weight across the foot as you walk or run,
        which places tremendous stress on the plantar fascia.</p>
    <div class="buttons-wrapper">
        <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-heel-pain.html"}}"><span>Women's shoes</span></a>
        <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-heel-pain.html"}}"><span>Men's shoes</span></a>
    </div>

    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/expert-approved_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Plantar Fasciitis</p>
        <p>When you have plantar fasciitis, the plantar fascia becomes inflamed and degenerative. This makes normal activities quite painful.</p>
        <p>Symptoms are usually at their worst in the morning after sleep. At that time, the plantar fascia is tight, so even simple movements stretch the plantar fascia,
            causing severe heel pain. As you begin to loosen the plantar fascia, the pain usually subsides, but often returns with prolonged standing or walking.</p>
        <p>Usually, heel spurs form in response to <a href="{{store direct_url="experts-corner/foot-care/plantar-fasciitis.html"}}" class=blue>plantar fasciitis</a>.
            However, while 70 percent of patients with plantar fasciitis have a heel spur, X-rays show that almost 50 percent of patients with no symptoms of plantar
            fasciitis also have a heel spur. As a result, many people have heel spurs and do not even know it.</p>
        <p class="italic">Power in Knowledge.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/naturally-better_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Upgrade Your Shoes</p>
        <p>Because plantar fasciitis, heel spurs and heel pain are related, treating them is very similar. </p>
        <p>The first step in self heel pain treatment is upgrading to better, more supportive shoes. KURU shoes are a cost effective solution to help prevent the sharp heel
            pain in your foot. KURU’s proprietary <strong>KURU</strong>SOLE™ technology cups your heels better than any other shoe for superior all-day wear.</p>
        <p>With KURU, our superior technology gives you amazing <a href="{{store direct_url="experts-corner/foot-care/arch-support-shoes.html"}}" class=blue>arch support</a>
            combined with a super comfortable heel cup to help you heal naturally. Forget about your heel pain so you can go longer, and do more.</p>
        <p class="italic">Like Magic.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/chase-pain_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Chase the Pain Away</p>
        <p>With almost 9 out of 10 of customers recommending KURU to others, you can trust KURU shoes for plantar fasciitis to offer amazing comfort, stability and support.
            The strongest proof comes directly from someone who's life has been transformed by KURU. </p>
        <p>Robert, one of our fans, wrote, “they are by far the most comfortable shoe I have ever worn and have all but cured an acute case of plantar fasciitis.
            This sounds like hype, but they are the best thing since sliced bread!"</p>
        <p class="italic">World class.</p>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>