<div class="promo-blocks">
    <ol class="promo-block-list">
        <li class="promo-list-item">
            <a class="promo-block button grey-button arrowed" href="{{store direct_url="sustainability.html"}}">
            <div>
                <div class="promo-header">
                    KURU Cares
                </div>
                <div class="promo-message">
                    <p>Give back through KURU’s</p>
                    <p>revolutionary sustainability program.</p>
                </div>
            </div>
            </a>
        </li>
        <li class="promo-list-item">
            <a class="promo-block button grey-button arrowed" href="{{store direct_url="customer-service/reward-points-and-loyalty-program.html"}}">
            <div>
                <div class="promo-header">
                    <p>GET 5% BACK</p>
                    <p>ON EVERY ORDER</p>
                </div>
                <div class="promo-message">
                    <p>Join the KURU Rewards Club for FREE</p>
                </div>
            </div>
            </a>
        </li>
        <li class="promo-list-item">
            <a class="promo-block button grey-button arrowed" href="{{store direct_url="customer-service/returns-and-exchanges.html"}}">
            <div>
                <div class="promo-header">
                    <p>FREE SHIPPING, RETURNS,</p>
                    <p>& EXCHANGES</p>
                </div>
                <div class="promo-message">
                    <p>On all orders shipped within the U.S.</p>
                </div>
            </div>
            </a>
        </li>
    </ol>
</div>