<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <img src="{{media url="wysiwyg/Head-Legal.jpg"}}" alt="KURU Privacy Policy" class="top-image" />
        
        <h1>Privacy Policy and Terms of Use Agreement</h1>
        <p>This website uses cookies to allow us to see how the site is used. The cookies cannot identify you. If you continue to use this site we will assume that you are happy with this. To learn more about cookies, you can visit <a rel="nofollow" href="http://www.aboutcookies.org/">this website</a>.
        
        <p><strong>Your privacy is of the utmost importance at KURU, and we adhere to a high standard of privacy. The following Privacy Policy and Terms of Use describe our policy regarding your private and personally identifiable information: </strong></p>
        
        <p><strong>CALIFORNIA PROP 65 WARNING:</strong> KURU strives to have safe and environmentally friendly products. However, California law requires us to disclose that some of the products shown on this site may contain chemical(s) known to the State of California to cause cancer, birth defects or other reproductive harm.</p>
        
        <p>The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. Any type of pain that persists could be a sign of a more serious condition and should be consulted with by a trained medical professional. Because everyone's feet and body are different, your results may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical professional prior to any treatment regimen.</p>
        
        <h1>PRIVACY POLICY</h1>
        <p>KURU considers customer privacy of utmost importance. The purpose of this Privacy Policy is to describe the kinds of information that we may gather about you; how we may use that information; how we protect it; when we may disclose it; and the choices you have regarding your information.</p>
        <p>By visiting kurufootwear.com&nbsp; (&ldquo;Site&rdquo;), you are consenting to the practices described in the current version of this Privacy Policy. If you have visited the Site previously, please review the Privacy Policy again to be sure you are familiar with its present terms.</p>
        <p>If you have any questions or concerns about the privacy or security of your information, you may contact us.</p>
        <h1>Non-Personal Information that We Collect</h1>
        <p>We may automatically collect non-personally identifiable information from you when you visit our Site. This information includes your Internet Protocol ("IP") address, which is the number automatically assigned to your computer whenever you access the Internet. This number does not identify your name, email address, or other personal information. We use your IP address to help diagnose problems with our server and to administer our Site.</p>
        <p>We may also collect non-personally identifiable information through the use of cookies. A cookie is an alphanumeric file that a Web site puts on your hard drive so that it can remember something about you while you are using the Site or when you return to the Site. Cookies make it easier for you to use our Site. We use a cookie in order to retain the contents in your shopping cart while you are visiting other areas on our Site. When you are done, the products in your cart are still there for you to buy. We may also use cookies to gather certain aggregate usage information about the numbers and frequency of visitors to our Site and individual pages of our Site. This data helps us improve the appearance and usability of the Site.</p>
        <p>KURU, its advertisers and ad servers may also use cookies, as well as files called "Web beacons" or "clear gifs" to determine on an anonymous basis which advertisements and promotions our Site users have seen and how users responded to them.</p>
        <h1>How we use cookies</h1>
        <p>
            A cookie is a small file which asks permission to be placed on your computer's hard drive.
            Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit
            a particular site. Cookies allow web applications to respond to you as an individual. The web application
            can tailor its operations to your needs, likes and dislikes by gathering and remembering information about
            your preferences.
        </p>
        <p>
            We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic
            and improve our website in order to tailor it to customer needs. We only use this information for statistical
            analysis purposes and then the data is removed from the system.
        </p>
        <p>
            Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful
            and which you do not. A cookie in no way gives us access to your computer or any information about you,
            other than the data you choose to share with us. You can choose to accept or decline cookies.
            Most web browsers automatically accept cookies, but you can usually modify your browser setting
            to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
        </p>
        
        
        <h1>Personal Information that We Collect</h1>
        <p>We may collect your personally identifiable information, such as your name, shipping address, billing address, email address, phone number and credit card information, in the course of processing your order, or when we otherwise communicate with you. For example, through order forms on our Site and through signups for our mailing list, we collect personally identifiable information necessary for shipping products that you purchase. We also may collect your financial information (like your credit card number and billing address) and your contact information (like your email address, phone number and shipping address).</p>
        <h1>Information from Other Sources</h1>
        <p>Information that you give us may be combined with other personally identifiable information (such as order history and demographic information) from third-party sources to make our marketing efforts more efficient. Examples of other information we receive from third-party sources include updated delivery and address information, which we use to correct our records and deliver your next purchase or marketing materials more easily.</p>
        <h1>Uses of your Information</h1>
        <p>Financial information that is collected is used to bill you for products that you request. Contact information from the order form is used to send orders and information about KURU to you.</p>
        <p>If you register for email or if you provide your email address to us, we will send you emails. These emails will inform you of our launch of new products, of special sales, of promotional offers from our partners, of environmental issues we think are important, and of potential employment opportunities with KURU that you may find of interest, and of other events taking place in our stores near you. If you currently receive our emails and do not wish to continue receiving them, please see the "How to remove your name from our mailing, sharing or email list" section below.</p>
        <p>We use your shipping address to ship your products to you and we may send marketing mailings to you. We use your billing address, if different than your shipping address, to verify your billing information. We never share our customer names or addresses, e-mail addresses or other personally identifiable information, other than to the extent described in the &ldquo;Disclosures of Your Information&rdquo; section below. If you do not wish to receive mailings from us, please see the "How to remove your name from our mailing, sharing or email list" section below.</p>
        <h1>Disclosures of Your Information</h1>
        <p>We do not disclose your personal information to other companies, persons or agencies, except for the purposes described below:</p>
        <p>Service Providers: We employ other companies and individuals to perform certain services and functions on our behalf. Examples may include operating and maintaining our Site, taking orders, fulfilling orders, delivering packages, sending postal mail and email, removing repetitive information from customer lists, analyzing data, providing marketing consultation and assistance, distributing customer surveys, processing credit card payments, and providing customer service. These companies have access to personal information needed to perform their services or functions, but may not use it for other purposes.</p>
        <p>For Your Protection and Ours: We may release personally identifiable information when we believe it is appropriate to comply with applicable law regulation, legal process, or governmental request; enforce or apply our Terms of Use and other agreements; or protect the rights, property, or safety of KURU, our customers, our employees or others.</p>
        <p>Business Transfers: As we continue to develop our business, we might sell or buy subsidiaries or business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing privacy policy (unless, of course, the customer consents otherwise). Also, in the unlikely event that KURU or substantially all of its assets are acquired, customer information will of course be one of the transferred assets.</p>
        <p>Sharing: We may share your name and postal address with other reputable companies so they may send you catalogs about products of potential interest. We do not share credit card information or email address with these third parties. If you prefer that we not share your name and postal address with other companies, please see "How to remove your name from our mailing, sharing or email list" section below.</p>
        <p>With Your Consent: Other than as set out above, you will receive notice when information about you might go to third parties, and you will have the opportunity to choose not to share the information.</p>
        <h1>How to Remove your Name from Our Mailing, Sharing or Email List</h1>
        <p>Our Site provides you the choice to receive communications from us at the point where we request information about you.</p>
        <p>Our Site gives you the following options for removing your information from our database to not receive future communications, or to no longer receive our service, or to not share your name and address with other companies.</p>
        <ol>
            <li><a href="http://www.kurufootwear.com/unsubscribe" target="_blank">Unsubscribe from our newsletter</a> </li>
            <li>Send an email to:  customers [at] kurufootwear [dot] com<br /> </li>
        </ol>
        <h1>Children's Privacy</h1>
        <p>Kurufootwear.com does not sell merchandise for purchase by children. If you are under 18, you may use our Site only with the involvement of a parent or guardian. Should a child whom we know to be under 13 send personal information to us, we will use that information only to respond directly to that child to inform him or her that we must have parental consent before receiving his or her personal information. KURU does not market to minors.</p>
        <h1>External Links</h1>
        <p>If any part of the Site links you to other Web sites, those Web sites do not operate under this privacy policy. We recommend that you examine the privacy statements posted on those other Web sites to understand their procedures for collecting, using, and disclosing personal information.</p>
        
        <h1>TERMS OF USE AGREEMENT</h1>
        <p>By using this Site, you agree to be legally bound by all the terms and conditions contained in this Terms of Use Agreement ("Agreement"). Please read these terms carefully. By using this Site you also represent that you are at least 18 years old, or you are at least the minimum legal age to enter into a contract in the jurisdiction in which you are viewing the Site. In addition, when you use any current or future version of this Site or any other KURU Web Site, you also will be subject to the terms and conditions of this Agreement. Please print a copy of this Agreement for your records.</p>
        <p>We may, from time to time, modify the terms of this Agreement. When we make changes, we will post those changes here. Your use of the Site following any such modification constitutes your agreement to the terms of the modified Agreement.</p>
        <h1>Privacy</h1>
        <p>Please review our Privacy Policy, which also governs your visit to the Site, to understand our privacy practices. The terms and conditions of our Privacy Policy are incorporated herein and made a part of this Agreement.</p>
        <h1>Orders</h1>
        <p>KURU does not sell products to children. KURU only sells products to adults, ages 18 years and older, who can purchase them with a credit card. KURU reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in its sole discretion, including, without limitation, if KURU believes that user conduct violates applicable law or is harmful to the interests of KURU or its affiliates.</p>
        <p>KURU does not guarantee that product on the webstore is in stock. All orders are subject to product availability. A product SKU, Style, and/or color that is listed on the Site, and available to add to the shopping cart, is not guaranteed in stock. All orders are subject to available inventory after the order is placed.</p>
        <p>Once submitted, an order cannot be cancelled. All order returns and exchanges require an RA number.</p>
        <p>Product that has been worn, is not in brand new condition, or cannot be re-sold, cannot be returned for a refund or exchange. If an item ordered through the Site is out of stock, on backorder, or no longer available, KURU reserves the right to cancel the order with no recourse.</p>
        <p>Orders are subject to product availability. Product in the store is not guaranteed in stock. The pricing listed on this Site includes the resale of all packaging including the inner box and shipping box to you, the customer.</p>
        <h1>Returns and Exchanges</h1>
        <p>Should you want to return or exchange a purchase, you may do so per the terms of the KURU Exchange &amp; Return Policy. KURU is not responsible for the cost of return shipping. Product that is returned for refund or exchange must be returned in brand-new, re-saleable condition and must not show any signs of wear. In addition, the packaging for the shoes must also be in new condition (excluding the shipping box). In addition, all returns must be accompanied with an RMA (Return Merchandise Authorization) number. (See the KURU Exchange & Return Policy on this Site for additional details.)</p>
        <h1>Intellectual Property</h1>
        <p>KURU does not solicit or accept product ideas, innovations, suggestions, technology concepts, designs or anything similar (collectively &ldquo;Intellectual Property&rdquo;) through this Site. Please do not send any Intellectual Property, or other product innovations and ideas to KURU through this Site. Should you choose to send any such Intellectual Property, in so doing, you grant to KURU an irrevocable, in perpetuity, royalty-free license to use the Intellectual Property. In addition, you agree to hold KURU, its affiliates and assigns harmless from using the Intellectual Property and agree to not take any legal action against KURU for said use of Intellectual Property. KURU is under no obligation to notify you of use of the submitted Intellectual Property. You also acknowledge and accept that there is a high likelihood that KURU is developing, or intends to develop product that uses Intellectual Property that is very similar, or exactly the same, as what is submitted. You also agree that this clause in this Terms of Use Agreement supersede all other legal agreements, even if the Intellectual Property sent has a legal agreement attached. This clause can only be modified via a separate, signed agreement by both parties.</p>
        <h1>Trademarks</h1>
        <p>KURU&reg; and the stylized &ldquo;K&rdquo; Logo are registered trademarks of KURU Footwear in the United States and other countries. KuruSole&trade;, Kribs&trade;, BombrSpec&trade;, Consumer Empowered Sustainability&trade;, KURU Cares&trade;, HeelKradl&trade;, StabilitWall&trade;, BombrShell&trade;, World's Most Anatomical Active Footwear&trade;, World's Most Comfortable Shoes&trade;, and other marks indicated and/or used on our Site or used offline are trademarks or registered trademarks of KURU in the United States and/or other countries. All rights reserved.</p>
        <p>This Site may refer to third-party trademarks. All rights in the product names, company names, trade names, graphics, logos, page headers, button icons, scripts, product packaging, trade dress and designs of all KURU or third-party products or services, whether or not appearing in large print or with the trademark symbol, belong exclusively to KURU or their respective owners and are protected from reproduction, imitation, dilution, or confusing or misleading uses under national and international trademark and copyright laws. The use or misuse of these trademarks or any materials, except as permitted herein, is expressly prohibited, and nothing stated or implied on this Site confers on you any license or right under any patent or trademark of KURU or any third party.</p>
        <h1>Patent</h1>
        <p>The KuruSole&trade; Midsole Chassis is patent-pending.</p>
        <h1>Copyright</h1>
        <p>All copyright rights in the text, images, photographs, graphics, user interface, and other content provided on the Site, and the selection, coordination, and arrangement of such content, are owned by KURU or its third-party licensors to the full extent provided under the United States Copyright Act and all international copyright laws. Under applicable copyright laws, you are prohibited from copying, reproducing, modifying, distributing, displaying, performing, or transmitting any of the contents of the Site for any purposes. Nothing stated or implied on the Site confers on you any license or right under any copyright of KURU or any third party.<br /> The Site and the information contained in reference herein are for your personal, non-commercial use only. Except as otherwise specifically permitted herein, you shall not broadcast, duplicate, copy, reproduce, edit, manipulate, modify, publish, rent, sell, publicly display, perform, distribute, transmit, or circulate to anyone the contents of this Site, or use the contents of this Site in litigation, or for any commercial or promotional purposes, without the express written consent of KURU or its lawful successors and assigns. For usage permission, contact us directly.</p>
        <p>All content posted to the Site by visitors becomes the sole copyrighted property of KURU. KURU has exclusive right to the content posted to its Site for any and all commercial purposes. All visitors are bound by the terms of use as soon as they engage with the Site and/or post content, whether through a product review, emails, submission of a contact us form, etc. KURU reserves the exclusive right to modify, delete, replicate, or alter any content posted by visitors through an "engagement" activity with the Site.</p>
        <h1>Notice of Copyright Infringement</h1>
        <p>KURU respects the intellectual property of others. If you believe that your work has been copied and is accessible on this Site in a way that constitutes copyright infringement, please provide KURU with the following information:</p>
        <p>Identification of the original copyrighted work claimed to have been infringed;<br /> Identification of the allegedly infringing material on the Site that is requested to be removed;<br /> Your name, address, and daytime telephone number, and an email address, so that KURU may contact you if necessary;<br /> A statement that you have a good faith belief that the use of the copyrighted work is not authorized by the copyright owner, its agent, or the law;<br /> A statement that the information in the notification is accurate and, under penalty of perjury, that the signatory is authorized to act on behalf of the owner of an exclusive copyright right that is allegedly infringed, and;<br /> An electronic or physical signature of the copyright owner or someone authorized on the owner's behalf to assert infringement of copyright and to submit the statement.</p>
        <p>Please contact us via customers [at] kurufootwear [dot] com for the correct physical mailing address for such legal correspondence.</p>
        <h1>License and Site Access</h1>
        <p>KURU grants you a limited license to access and make personal use of this Site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of KURU. This license does not include any resale or commercial use of this Site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of this Site or its contents; any downloading or copying of account information for the benefit of another merchant; or any use of data mining, robots, spiders or similar data gathering and extraction tools.</p>
        <p>Neither this Site nor any portion of this Site may be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of KURU. You may not frame or use framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of KURU and our affiliates without express written consent. You may not use meta tags or any other hidden text using KURU&rsquo;s name or trademarks without the express written consent of KURU. Any unauthorized use terminates the permission or license granted by KURU.</p>
        <p>You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page or other relevant page of kurufootwear.com so long as the link does not portray KURU or its products or services in a false, misleading, derogatory, or otherwise offensive manner. You may not use any KURU logo or other proprietary graphic or trademark as part of the link without express written permission. You may not make any other part of this Site, other than the home page of the Site, available as part of another service by "deep linking," or otherwise, without prior written permission from KURU.</p>
        <h1>Third Party and Co-Branded Web Sites</h1>
        <p>This Site may contain hyperlinks ("links") to Web Sites operated by persons or entities other than KURU ("third-party Web Sites") or to co-branded Web Sites operated by a third party, including affiliates ("co-branded Web Sites"). We provide such links for your reference and convenience only. A link from KURU to a third-party Web Site does not imply or mean that we endorse the content on that third-party or co-branded Web Site or the operator or operations of that Web Site. You are solely responsible for determining the extent to which you use any content at any third party or co-branded Web Sites to which you might link from our Site. KURU IS NOT RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGES INCURRED AS A RESULT OF ANY DEALINGS WITH ANY THIRD-PARTY WEB SITE OR CO-BRANDED WEB SITE, ANY MERCHANT OR OPERATOR OF A THIRD-PARTY WEB SITE OR CO-BRANDED WEB SITE, OR ANY OTHER PERSON WITH WHOM YOU ENGAGE IN ANY TRANSACTION.</p>
        <h1>Your Responsibilities</h1>
        <p>You agree to comply with all applicable law in connection with your use of the Site, and such further limitations as may be set forth in any written or on-screen notice from KURU. As a condition of your use of the Site, you warrant that you will not use the Site for any purpose that is unlawful or prohibited by this Agreement. All information that you provide in connection with a purchase or transaction or other monetary transaction interaction with this Site or any co-branded Web Site will be accurate, complete, and current. You will pay all charges incurred by users of your credit card, debit card, or other payment method used in connection with a purchase or transaction or other monetary transaction interaction with KURU or any co-branded Web Site at the prices in effect when such charges are incurred. You will pay any applicable taxes, if any, relating to any such purchases, transactions or other monetary transaction interactions.</p>
        <p>By using this Site, you agree not to violate or attempt to violate the security of the Site, including, without limitation, actions such as:</p>
        <p>Accessing data not intended for you or logging into a server or account that you are not authorized to access;<br /> Attempting to probe, scan, or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;<br /> Attempting to interfere with service to any user, host, or network, including, without limitation, by way of submitting a virus to or overloading, "flooding," "spamming," "mailbombing," or "crashing" the Site;<br /> Sending unsolicited email, including promotions and/or advertising of products or services, and<br /> Forging any TCP/IP packet header or any part of the header information in any email or posting.</p>
        <h1>Risk of Loss</h1>
        <p>All products purchased from the Site are transported and delivered to you by an independent carrier not affiliated with, or controlled by, KURU. Title to products purchased on the Site, as well as the risk of loss for such products, passes to you when KURU delivers these items to the carrier.</p>
        <h1>Product Information</h1>
        <p>KURU attempts to be as accurate as possible in describing its products. We do not warrant that product descriptions or other content of this Site are accurate, complete, reliable, current, or error-free. Unless otherwise stated, the prices displayed at the Site are quoted in U.S. Dollars. KURU does not guarantee the availability of product, even when listed on the Site as available. At times, the Site may not contain a correct representation of product available in stock. In such an event, KURU may choose to reimburse the customer for the full amount charged to their credit card, or other payment method, and is exempt from reimbursing or any damages beyond the original charge.</p>
        <h1>Colors</h1>
        <p>We have made every effort to display as accurately as possible the colors of our products that appear at the Site. As the actual colors you see depend on your computer monitor, however, we cannot guarantee that your monitor's display of any color will be accurate. In addition, many of the materials used in KURU&rsquo;s products are natural and, therefore, have naturally occurring variations in colors across production runs.</p>
        <h1>Information/Content on this Site</h1>
        <p>The information and content on this Site is given for informational purposes only and is not medical advice. This includes any advice or recommendations received verbally on the phone or in writing via email from KURU, its representatives and/or affiliates. All the testimonials on this Site come from real people who actually own KURU products. However, their experiences and testimonials do not represent a guarantee of performance or results. Your results may vary significantly from their results when using KURU products. Always consult a trained medical professional prior to any treatment regimen.</p>
        
        
        <p>DISCLAIMER OF WARRANTIES AND LIMITATIONS ON LIABILITY<br /> THIS SITE IS PROVIDED BY KURU ON AN "AS IS" AND "AS AVAILABLE" BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW, KURU MAKES NO REPRESENTATIONS AND WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, THIRD-PARTY CONTENT, MATERIALS, PRODUCTS, SERVICES OR LINKED SERVICES PROVIDED ON OR THROUGH THIS SITE, INCLUDING WITHOUT LIMITATION, THAT THE INFORMATION PROVIDED THROUGH THE SITE WILL BE FREE FROM ERROR, OMISSION, INTERRUPTION, DEFECT, OR DELAY IN OPERATION, OR FROM TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS; THAT THE SITE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; THAT DEFECTS OR ERRORS IN THE SERVICE WILL BE CORRECTED; OR THAT THE CONTENT ON THE SITE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY INFORMATION ON THIS SITE IS SUBJECT TO CHANGE WITHOUT NOTICE, AND WE DISCLAIM ALL RESPONSIBILITY FOR THESE CHANGES. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. KURU RESERVES THE EXCLUSIVE RIGHT TO CANCEL ANY ORDER, EVEN IF ALREADY PAID FOR AND CHARGED FOR REASONS INCLUDING, BUT NOT LIMITED TO: PRICE LISTING ERROR, ORDER PROCESSING ERRORS, LACK OF PRODUCT AVAILABILITY, FOR PRODUCT DISTRIBUTION REASONS, ETC.</p>
        <p>IN NO EVENT WILL KURU, OR ANY PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING THIS SITE, BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTIAL, EXEMPLARY, PUNITIVE, SPECIAL AND CONSEQUENTIAL DAMAGES OR ANY DAMAGES OF ANY TYPE OR NATURE ARISING OUT OF YOUR ACCESS, USE, MISUSE, OR INABILITY TO USE THIS SITE OR ANY LINKED SITES OR SERVICES; IN THE EVENT A THIRD PARTY INTERCEPTS OR DECRYPTS ANY TRANSMISSION OF INFORMATION THAT YOU PROVIDE TO KURU THROUGH THE SITE; OR IN CONNECTION WITH ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, OR LINE OR SYSTEM FAILURE, WHETHER IN AN ACTION UNDER CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY, OR ANY OTHER THEORY, EVEN IF WE HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. CERTAIN STATES OR JURISDICTIONS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DICLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.</p>
        <p>THE TESTIMONIALS AND OTHER CONTENT ON THIS SITE MAY NOT REPRESENT NORMAL RESULTS. KURU IN NO WAY MAKES ANY GUARANTEES OR WARRANTY REPRESENTATION THAT THE REVIEWS, TESTIMONIALS, OR EXPERIENCES OF ONE CUSTOMER, AS SHARED THROUGH TESTIMONIALS, REVIEWS, OR QUOTES ON THE SITE, REPRESENT REASONABLE EXPECTATIONS OF PRODUCT PERFORMANCE. CUSTOMER REVIEWS, TESTIMONIALS, AND QUOTES ON THIS SITE ARE GATHERED FROM EMAILS SENT IN BY CUSTOMERS, PHONE CALLS RECEIVED BY CUSTOMERS, REVIEWS SUBMITTED AND POSTED ON KURUFOOTWEAR.COM, OTHER WEBSITE REVIEWS, EDITORIAL REVIEWS, ETC.</p>
        <h1>Applicable Law and Disputes</h1>
        <p>This Agreement, your rights and obligations, our rights and obligations, and all actions contemplated by this Agreement will be governed by the laws of the United States of America and the State of Utah, without regard to principles of conflicts of law and as if this Agreement were a contract wholly entered into and wholly performed within the State of Utah. This Agreement will not be governed by the United Nations Convention on Contracts for the International Sale of Goods.</p>
        <p>Any dispute relating in any way to your visit to the Site or to products you purchase through KURU shall be submitted to confidential arbitration in Salt Lake City, Utah, United States of America, except that, to the extent you have in any manner violated or threatened to violate KURU&rsquo;s intellectual property rights, KURU may seek injunctive or other appropriate relief in any state or federal court in the State of Utah, United States of America, and you consent to exclusive jurisdiction and venue in such courts. Arbitration under this Agreement shall be conducted under the rules then prevailing of JAMS/ENDISPUTE Streamlined Arbitration Rules and Procedures in effect at the time of filing of the demand for arbitration. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.</p>
        <h1>Indemnification</h1>
        <p>You agree to defend, indemnify, and hold harmless KURU and its affiliates, successors and assigns, and their directors, officers, employees, agents, co-branders or other partners from and against any and all allegations, claims, demands, actions, causes of action, proceedings (whether threatened or pending), orders, damages, losses, liabilities, costs and expenses, including reasonable attorney's fees and other legal expenses, and judgments of any kind of nature, incurred by KURU arising out of or relating to your use of the Site, your violation of this Agreement, or your violation of any rights of another.</p>
        <h1>Miscellaneous Legal Provisions</h1>
        <p>We may discontinue the Site at any time and for any reason, without notice. We may change the contents, operation, or any and all other features of the Site at any time for any reason, without notice. We may discontinue or restrict your use of the Site at any time for any reason, without notice.</p>
        <p>Use of this Site and/or conducting a transaction on, or through, this Site is an acceptance of the terms and conditions of this legal policy and privacy policy. You automatically consent to be bound by this legal policy as soon as an order is placed, regardless of whether you have checked a box signifying the reading and acceptance of this legal policy.</p>
        <p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and KURU  as a result of this Agreement or your use of this Site. Nothing contained in this Agreement is in derogation of KURU&rsquo;s right to comply with governmental, court, and law enforcement requests or requirements relating to your use of this Site or information provided to or gathered by KURU with respect to such use. A printed version of this Agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>
        <p>The failure of KURU to enforce any provisions of this Agreement or respond to a breach by you or other parties shall not in any way waive its right to enforce subsequently any terms or conditions of this Agreement or to act with respect to similar breaches.<br /> If any provision in this Agreement is invalid or unenforceable under applicable law, the remaining provisions will continue in full force and effect, and the invalid unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision.</p>
        <p>This Agreement is the entire and final Agreement regarding our Site and its content, and supersedes any prior or contemporaneous communications between KURU and you regarding our Site and its contents.</p>
        <p>KURU reserves the right to modify, change, or update the Terms of Use and Privacy Policy at any time and is under no obligation, and assumes no responsibility to update you, whether you are a customer or not, in the event this Privacy Policy or Terms of Use Agreement is modified or changed. To know the latest version of this policy, please visit this page.</p>
        <p>All rights not expressly granted herein are hereby reserved.</p>
        <p>LAST UPDATED DATE: July 22, 2016</p>
    </div>
</div>