<div class="lightweight-magic-block">
    <div class="block-wrapper">
        <div class="text-wrapper">
            <h2 class="magic-header">
                Lightweight magic
            </h2>
            <div class="magic-message">
                <p>World's leading comfort shoe technology. Other shoes flatten
                    your fat pad. KURU molds to your feet, promising unprecedented
                    comfort and revolutionary support.</p>
            </div>
            <a href="{{store url="innovation"}}" class="learn-how button blue-button">
            <span class="button-text">Learn how</span>
            </a>
        </div>
    </div>
</div>
