<div class="part">
    <span class="icon">
        <img src="{{media url="icons/shipping-truck.svg"}}">
    </span>
    <span class="text">Get the Perfect Fit with <b>45 day FREE Exchanges</b> on all domestic orders</span>
</div>
<div class="part">
    <span class="icon">
        <img src="{{media url="icons/return-package.svg"}}">
    </span>
    <span class="text">Try it hassle-free with our <b>45 day FREE Returns</b> on all domestic orders</span>
</div>
<div class="part">
    <span class="icon">
        <img src="{{media url="icons/map.svg"}}">
    </span>
    <span class="text">Enjoy <b>FREE ground shipping</b> on all domestic orders</span>
</div>