<div class="plantar-fasciitis">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="main-banner plantar-fasciitis-banner">
        <div class="banner-content">
            <h1 class="heading">Plantar Fasciitis Shoes</h1>
            <div class="two-column">
                <div class="testimonial">
                    <p class="name">Sherry Cashmere</p>
                    <p>Best shoe for planter fasciitis... I work on my feet all day and these are a God send.</p>
                </div>
            </div>
            <div class="two-column buy-kuru">
                <p>Buy a KURU:</p>
                <div class="buttons-wrapper">
                    <a onclick="_gaq.push(['_trackEvent', 'CTA', 'Click', 'Landing-Purchase-Variation1-woman']);" class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-plantar-fasciitis.html"}}"><span>Women's shoes</span></a>
                    <a onclick="_gaq.push(['_trackEvent', 'CTA', 'Click', 'Landing-Purchase-Variation1-men']);" class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-plantar-fasciitis.html"}}"><span>Men's shoes</span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="max-width-wrapper">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_cont">
            <span>Share<b> with your friends</b>.</span>
            <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_preferred_5"></a>
                <a class="addthis_button_preferred_6"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
        </div>
        <!-- AddThis Button END -->

        <div class="kuru-main">
            <div class="two-column">
                <p>One big problem for those suffering from plantar fasciitis is the constant pounding caused by the hard, flat, unforgiving surfaces upon which we walk.
                    These flat surfaces, such as concrete, asphalt, tile and more, result in higher impacts on our bodies.</p>
                <div class="part-heading">What if there was a simple, affordable solution to renew your active lifestyle and help with your plantar fasciitis?</div>
                <p>Imagine a solution that starts with simply slipping on a pair of plantar fasciitis shoes.</p>
                <p>Our technology is so powerful for plantar fasciitis, it is patented. It is no wonder KURU shoes have helped thousands who suffer from plantar fasciitis.</p>
                <p>SHOP THE BEST-SELLING PLANTAR FASCIITIS SHOES</p>
                <div class="buttons-wrapper">
                    <a onclick="_gaq.push(['_trackEvent', 'CTA', 'Click', 'Landing-Purchase-Variation1-woman']);" class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-plantar-fasciitis.html"}}"><span>Women's shoes</span></a>
                    <a onclick="_gaq.push(['_trackEvent', 'CTA', 'Click', 'Landing-Purchase-Variation1-men']);" class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-plantar-fasciitis.html"}}"><span>Men's shoes</span></a>
                </div>
                <p class="small-text">All KURU Shoes come with our revolutionary, patented <strong>KURU</strong>SOLE™ Technology for your plantar fasciitis.</p>
            </div>
            <div class="two-column">
                <div class="illustration">
                    <img src="//kurufootwear.s3.amazonaws.com/media/planatarfasciitis/landing_pages_plantarfasciitis-smaller.gif" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="slider-banner">
        <div class="banner-content">
            <div class="two-column">
                <div class="kuru-slider">
                    <div class="slide">
                        <h2>Dr. Recommended</h2>
                        <p>Doctors know the key to alleviating foot problems is proper support. That's why more Doctors are recommending KURU.</p>
                        <p>In fact, Dr. Roger Sheffield said "After decades of practicing as a physician, I have seen a lot of different products designed to solve health problems. KURU is the #1 shoe that has helped my Plantar Fasciitis".</p>
                    </div>
                    <div class="slide">
                        <h2>Genius Technology</h2>
                        <p>Nature placed a fat pad under your heel bone to cushion every step. A team of medical experts developed the innovative <b>KURU</b>SOLE&trade; footbed to dynamically flex inward to cup your fat pad.</p>
                        <p>This flexing technology helps keep the fat pad under your heel bone. This means KuruSole works with nature to give you unparalleled comfort and cushioning.</p>
                    </div>
                    <div class="slide">
                        <h2>Proven Results</h2>
                        <p>Our customers love their shoes. In fact, an astounding 9 out of 10 customers recommend KURU to their friends.</p>
                        <p>One simple example is Robert, who wrote, “they are by far the most comfortable shoe I have ever worn and have all but cured an acute case of plantar fasciitis. This sounds like hype, but they are the best thing since sliced bread!"</p>
                    </div>
                    <div class="slide">
                        <h2>Get Your Life Back</h2>
                        <p>You will love your KURU shoes. In fact, KURU has helped more people get back to the activities they love. Whether you are an avid runner, a competitive walker, a day hiker, or just love to see the sights of the world, it is time to start living.</p>
                        <p>As Erin told us, “I am an avid runner. I put them on and my feet felt sooo good. Thanks for making such a wonderful shoe!”</p>
                    </div>
                </div>
            </div>
            <div class="two-column">
                <div class="slider-newsletter">
                    <h3>FREE Plantar Fasciitis Secrets from the Experts</h3>
                    <p>+ 5 Must know tips to solve plantar fasciitis</p>
                    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
                </div>
            </div>
        </div>
    </div>

    <div class="max-width-wrapper">
        <div class="column-wrapper">
            <div class="two-column">
                <div class="illustration">
                    <img src="//ndiw3k-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/apain-heel-desk.png.pagespeed.ic.iPjmX7t3yA.webp" alt="" />
                </div>
            </div>
            <div class="two-column">
                <div class="heading">Transforming Plantar Technology</div>
                <p>To truly transform your life, we knew it would take more than just offer another pair of premium orthopedic comfort shoes.
                    That's why we developed the patented <strong>KURU</strong>SOLE™ technology.</p>
                <p>This innovative technology is perfect for your plantar fasciitis. The secret is the orthotic-inspired <strong>HEEL</strong>KRADL™ molded into the footbed.
                    This amazingly comfortable <strong>HEEL</strong>KRADL™ dynamically flexes inward to keep your fat pad under your heel, helping your foot naturally cushion your every step.</p>
                <p>To top it off, we include our proprietary ULTIMATE INSOLES™ that us space-age foam and your body's heat to custom mold to the unique contours of your foot.
                    This gives you custom molded fit on top, with proven support underneath.</p>
            </div>
        </div>
    </div>

    <div class="grey-part">
        <div class="grey-part-content">
            <div class="heading">Why is KURU the best plantar fasciitis shoe?</div>
            <div class="intro-text bold">
                KURU shoes are different. Not only did we pack some of the best, medical-grade technology into our shoes, but our shoes also offer some incredibly
                unique benefits that have helped thousands of people just like you with their plantar fasciitis:
            </div>
            <div class="three-column">
                <div class="illustration">
                    <img src="http://fmdginxw.lagrangesystems.net/yEdUJhV88/skin/frontend/kuru/wrd_default/images/landing/xplantar-1-mob.png.pagespeed.ic.Z3iQ6-nCMV.png">
                </div>
                <div class="green-heading">Natural, Anatomical Shape</div>
                <p>The last is a tool used in shoe-making that determines the shape and fit of a shoe. Since a word-class last is the foundation for a superior shoe, we engineered a proprietary,
                    anatomical shape in the toes that is broader, allowing your feet to more naturally spread out. What results is remarkable fit with all-day comfort.</p>
            </div>
            <div class="three-column">
                <div class="illustration">
                    <img src="http://fmdginxw.lagrangesystems.net/yEdUJhV88/skin/frontend/kuru/wrd_default/images/landing/xplantar-2-mob.png.pagespeed.ic.nZayS3jRzC.png">
                </div>
                <div class="green-heading">Improved Sole Shape</div>
                <p>We spent countless hours dialing in the shape of our outsole, midsole and insole. That's why our shoes have a superior, rockered sole shape. This perfect design magically molds
                    to your feet on top while letting your foot roll naturally underneath as you walk, reducing impacts on both your skeletal structure and plantar fascia.</p>
            </div>
            <div class="three-column">
                <div class="illustration">
                    <img src="http://fmdginxw.lagrangesystems.net/yEdUJhV88/skin/frontend/kuru/wrd_default/images/landing/xplantar-3-mob.png.pagespeed.ic.W4EA1Fes0F.png">
                </div>
                <div class="green-heading">Versatile Styling</div>
                <p>The holy grail for plantar fasciitis shoes is not only legendary technology on the inside, but versatile styling on the outside. By offering a variety of styles and designs,
                    KURU plantar fasciitis shoes are perfect for your morning walks, traveling abroad, or simply running errands. Relief has never come easier.</p>
            </div>
        </div>
    </div>

    <div class="keep-strong-banner">
        <div class="banner-content">
            <div class="two-column">
                <div class="heading">Keep strong with KURU!</div>
                <div class="buttons-wrapper">
                    <a onclick="_gaq.push(['_trackEvent', 'CTA', 'Click', 'Landing-Purchase-Variation1-woman']);" class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-plantar-fasciitis.html"}}"><span>Women's shoes</span></a>
                    <a onclick="_gaq.push(['_trackEvent', 'CTA', 'Click', 'Landing-Purchase-Variation1-men']);" class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-plantar-fasciitis.html"}}"><span>Men's shoes</span></a>
                </div>
                <p class="small-text">All KURU Shoes come with our revolutionary, patented <strong>KURU</strong>SOLE™ Technology for your plantar fasciitis.</p>
            </div>
        </div>
    </div>

    <div class="max-width-wrapper center-align">
        <div class="heading">Become a KURU insider</div>
        <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
        {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
    </div>

    <div class="max-width-wrapper">
        <div class="social-links">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_cont second">
                <span>Interesting article? Share with your friends.</span>
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
            </div>
            <!-- AddThis Button END -->
        </div>
        <div class="legals">
            DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
            of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
            professional prior to any treatment regimen.
        </div>
    </div>
</div>
