<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">Most Comfortable Shoes for Nurses</div>
    <p class="intro-text center-align">As a nurse, your day is hectic. Running, walking, and standing for long hours is not just mentally straining, but physically demanding as well.
        Don’t let foot pain be a main discomfort during your day.</p>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p>Your job demands that you take care of other people. As such, the last thing you need is to worry about is plantar fasciitis.
                This constant stress on your feet demands the most comfortable nurse shoes so you don't have to worry about your own pain.
                Spending so much time on the hard, flat surfaces of a hospital floor can lead to regular foot pain. Or even worse, lead to conditions like . </p>
            <p>What if there was a nurse shoe that could help prevent foot pain? Imagine going all day without achy feet to greet you when you get home.
                Imagine how grateful you would be with one less thing to worry about.</p>
            <p>The many hours on your feet can’t be changed, but having the mobility for all-day comfort can.</p>
            <p>KURU shoes are quickly becoming the #1 nurse shoes because of the powerful comfort, pain relief, and security they provide.
                The revolutionary <strong>KURU</strong>SOLE™ midsole technology offers unprecedented support and cushioning that is transforming hospitals across the nation.</p>
            <p class="italic">Ultimate relief.</p>
            <div class="buttons-wrapper">
                <p class="bold">Shop the best-selling Nurse Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html?benefits=Nursing%2Fhealthcare"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html?benefits=Nursing%2Fhealthcare"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="http://kurufootwear.s3.amazonaws.com/media/nurse-shoes/Nurses-Shoes_03.jpg" alt="Kinetic White Walking Shoes">
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">Technology for Nurses</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">Nature designed every foot with fat pads in the heel and forefoot to cushion and absorb shock with each step.
                    Other premium comfort shoes mess with nature. They have flat footbeds which flatten your fat pad.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>The medical-grade KURUSOLE™ technology does what no other nurse shoe can. It flexes and forms to your foot as you run your rounds.
                    Through an innovative design, <strong>KURU</strong>SOLE™ provides a more natural fit with increased stability in the arch and heel. </p>
                <p>But we didn’t stop there. A powerful orthotic heel cradle dynamically cups your heel to reinforce the natural cushioning of the body’s heel fat pad.
                    This gives you a superior, more secure fit so you can do more at work while avoiding health issues.</p>
                <p class="italic">KURUSOLE™ helps you feel good as you do your rounds.</p>
                <p class="bold">Shop the best-selling Nurse Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html?benefits=Nursing%2Fhealthcare"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html?benefits=Nursing%2Fhealthcare"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="nurse-banner"></div>

<div class="max-width-wrapper">
    <div class="heading">Why nurses love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p>
                I'm a nurse and I work 12 hour shifts. I am standing and walking most of that time. These shoes were great, I didn't even have to break them in.
                The first time I wore them was a very busy shift. I had minimal pain in my feet afterward, where in the recent past I have been limping in pain.
                No joke, I thought I might have to find another job because of my foot pain...These are comfortable and quiet which is also good for Nursing! </p>
            <p class="quote-author">~ Ginny T.</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>I work as a registered nurse in a major hospital. I wear my kurus all the time and absolutely love them.
                Best thing about them is that my feet never hurt after a full twelve hour shift on my feet.</p>
            <p class="quote-author">~ Sarah H.</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>I'm on my feet 12 plus hours a day - seven days a week. I developed plantar fasciitis and could barely walk. Within 2 to 3 weeks of wearing these shoes
                and ice on my foot at night it was 90% better. Today one year later I can't even tell what foot it was. I just ordered another pair and still wear them.
                They are so comfortable. Thanks Kuru!</p>
            <p class="quote-author">~ Julie P.</p>
        </div>
    </div>
</div>

<div class="max-width-wrapper best-pair">
    <div class="heading">Simply the Best Shoes for Nurses</div>
    <p class="intro-text center-align">KURU shoes are different. Not only did we pack some of the best, medical-grade technology into our shoes, but our nurses
        shoes have improved the quality of life for thousands of people just like you:</p>
    <div class="buttons-wrapper">
        <a class="button blue-button" href="{{store direct_url="womens-shoes.html?benefits=Nursing%2Fhealthcare"}}"><span>Women's shoes</span></a>
        <a class="button blue-button" href="{{store direct_url="mens-shoes.html?benefits=Nursing%2Fhealthcare"}}"><span>Men's shoes</span></a>
    </div>

    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/expert-approved_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Shhh! Patients Sleeping</p>
        <p>KURU nurse shoes work for you like no other shoe. KURU’s rockered sole is optimized with the perfect heel strike angles. This helps align your heel for a nearly
            silent step. In addition, the smooth, quiet rocker shape is perfect as you transition from heel to toe.  </p>
        <p>KURU nurse shoes work hard for you so you can go all day and focus on your patients, not your feet. With KURU nurse shoes, time flies by,
            allowing you to feel good for a better quality of life.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/stethescope.png"}}">
        </div>
        <p class="blue-heading">Be More Compassionate</p>
        <p>Since KURU nurse shoes are the world’s most comfortable shoes, this empowers you to be even more compassionate to your patients. </p>
        <p>As a nurse, foot pain can lead to being cranky and crabby—which we all know is not good for bedside manners. KURU’s breakthrough technology helps you have all-day mobility so you feel great.</p>
        <p>Forget about your feet and deliver new levels of patient care.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/Medical-icon.png"}}">
        </div>
        <p class="blue-heading">Professional and Stylish</p>
        <p>When you’re running around at work, you need cute nurse shoes that are job-appropriate and highly versatile. KURU shoes are built with lightweight,
            durable materials and non-marking, rubber sole traction to ensure a solid footing.</p>
        <p>With KURU nurse shoes, you get a stylish shoe that works for your active life outside of work as well. </p>
        <p>KURU is the new standard for the best, most comfortable nurse shoes.</p>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>