<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <div id="orthopedic">
            <div class="orthopedic-desc">
                <h7><strong>KURU</strong>SOLE&trade; transforms what an orthopedic shoe can accomplish. By dynamically adapting to your foot with each step, <strong>KURU</strong>SOLE&trade; protectively cups your heel fat pad. Let your feet function more naturally so you can enjoy the new standard of orthopedic shoes. </h7>
                <img class="top-banner-gif" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
            </div>
            <h1>Superior Orthopedic Shoes</h1>
            <p>Your body is masterfully designed to cushion your every step. Unfortunately, aging flattens nature’s shock absorber. To make matters worse, most orthopedic shoes are flat inside, which smashes the fat pad. This means the fat pad loses its ability to cushion and protect your body.
                </br>
                </br>
                The revolutionary <strong>KURU</strong>SOLE&trade; changes everything. Trust <strong>KURU</strong>SOLE&trade; to help you do more and go longer while avoiding health issues.</p>
            <p>KURU gives you true happiness.</p>
            <div class="orthopedic-desc orthopedic-desc-mob">
                <img class="top-banner-gif" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                <h7>The <strong>KURU</strong>SOLE&trade; technology has literally transformed what an orthopedic shoe can accomplish. By dynamically adapting to your foot with each step, <strong>KURU</strong>SOLE&trade; protectively cups your heel fat pad. By allowing your feet to function more naturally, you can enjoy the new standard of orthopedic shoes. <br/></h7>
            </div>
        </div>

        <div class="grid_3 alpha">
            <div class="addthis-mob">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->
            </div>

            <h1>Orthopedic Shoes and a Little Known Secret</h1>

            <p>Since your feet are the foundation for your whole body, foot health is critical to healthy aging.</p>
            <p>Unfortunately, most orthopedic shoes can fall short when it comes to supporting this foundation. The reason they fall short is because they are flat inside. Your feet are not flat, so how can a flat shoe properly support your feet? It can not.</p>
            <p>Up to now, the solution has been costly orthotics that are hard, sometimes uncomfortable to wear, and may not fit very well in your different styles of shoes.</p>

            <p>What if you could get the proven support of custom orthotics built in to your orthopedic shoes? What if the shoe was on-trend and cost less than even a doctor’s visit? Imagine banishing any foot pain so you can more energy for your daily activities. How much better would you feel with this newfound quality of life? </p>
            <p>KURU’s award-winning orthopedic shoes offer the perfect combination of proven orthotic support, amazing comfort and styles you'll love to wear. With a unique, patent-pending orthotic technology molded inside every pair of shoes, it is no wonder more Doctors and Physical Therapists recommend KURU orthopedic shoes.</p>


            <h2>Dr. Recommended Orthopedic Shoes</h2>

            <p>Our <strong>KURU</strong>SOLE&trade; technology uses space-age foams for an amazing, custom molded fit. In the first few weeks of wearing your KURU orthopedic shoes, the footbed uses your body heat to magically mold to your unique foot shape. No other orthopedic shoe adapts quite like KURU</p>

            <p>But we didn’t stop there. Our breakthrough <strong>KURU</strong>SOLE&trade; technology has set the new standard for orthopedic shoes. This superior technology flexes inward with every step, creating a cupping action that cradles the fat pad of your heel for maximum cushioning. This amazing technology has made KURU the worlds most anatomical orthopedic shoes.</p>

            <div class="testimonial"> “These shoes are very comfortable for my plantar fasciitis ...There is no need for orthotics in these shoes.”
                <div class="name">-Cindy S., MI</div>
            </div>

            <div class="buttons">
                <button onclick="window.location = '/womens-shoes.html';" class="button arrowed" ><span>SHOP WOMEN'S Orthopedic Shoes</span></button>
                <button onclick="window.location = '/mens-shoes.html';" class="button arrowed"><span>SHOP MEN'S Orthopedic Shoes</span></button>
            </div>

            <h2>What makes KURU the Best Orthopedic Shoes?</h2>
            <p>It is simple. Since the beginning of time, shoes have been flat. When orthopedic shoes were introduced, they continued to be flat. KURU orthopedic shoes are pioneering a new category of shoes that adapt to you.</p>
            <p>The perfect orthopedic shoe should feel instantly familiar. If your orthopedic shoes require further customization and fitting by a specialist, it is doubtful they’ll do the job. </p>
            <p>Here are a few things that make KURU far superior over other orthopedic shoes:</p>
            <ul>
                <li>
                    <strong>Superior Styling - </strong>Many are shocked when they see KURU styling. It is hard to believe that we packed such amazing, proven medical grade technology in an orthopedic shoe that looks as good as KURU. This makes KURU one of the most versatile orthopedic shoes on the market today.
                    <p>With the legendary support of KURU, you can do more and go longer. Whether you are exercising, running, walking, or simply want to avoid health issues, you will be grateful for the feel good effect of KURU orthopedic shoes.</p>
                </li>
                <br />
                <li>
                    <strong>Feel Good Shape - </strong>KURU is the only orthopedic shoe with the  <strong>KURU</strong>SOLE&trade; orthotic molded into every pair. KURU orthopedic shoes are perfectly shaped in every area that matter. With just the right amount of arch support, combined with a heel cup that hugs your heel, you will be amazed at how time flies.
                    <p>A more broad toe box gives you the security of knowing your feet have the perfect amount of space for all-day mobility. With 88% of customers agreeing that KURU is <i>ergonomic for my feet</i>, it’s no wonder KURU delivers happiness with a shape made just for you.</p>
                </li>
                <br />
                <li>
                    <strong>Superior Security -</strong> An astounding 86% of our customers recommend KURU to their friends and family. This is due in part to how KURU has helped thousands avoid health issues for an improved quality of life. And, we make sure you can continue to feel good with our <a href="{{store direct_url="customer-service/warranty.html"}}" >100% Warranty.</a>
                </li>
                <br />
            </ul>

            <div class="buttons">
                <button onclick="window.location = '/womens-shoes.html';" class="button arrowed" ><span>SHOP WOMEN'S Orthopedic Shoes</span></button>
                <button onclick="window.location = '/mens-shoes.html';" class="button arrowed"><span>SHOP MEN'S Orthopedic Shoes</span></button>
            </div>

            <div class="recent-reviews-mob">
                <div class="kuru-slider bxslider">
                    <div class="slide"><p>“These shoes are the best shoes i have and have bought for my PF. I have custom orthotics and I will wear those still to wear different shoes. But only if I will not be on my feet for a long time. ... I am really amazed at how well they work. I was skeptical and hesitant but they really do help my feet a lot.” </p><p><strong>Roxana R., MO</strong></p></div>
                    <div class="slide"><p>"I don't have any heel pain when I walk if I'm wear my Kuru shoes. I also have high arches and the Kuru shoes have good arch support." </p><p><strong>Phyllis S. NV</strong></p></div>
                </div>
            </div>

            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
            <!-- AddThis Button END -->

            <p class="disclaimer"><i>DISCLAIMER:The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. Because everyone's feet and body are different, your results may vary from the customer experiences and testimonials shared on this site.  Always consult a trained medical professional prior to any treatment regimen.</i></p>

            <div id="mc_embed_signup" class="mobile">
                <label for="mce-EMAIL">Get 5 FREE Foot Health Tips from the Experts</label>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>

            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="http://www.kurufootwear.com" data-num-posts="4"></div>

        </div>
        <div class="grid_2 static-right">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_preferred_5"></a>
                <a class="addthis_button_preferred_6"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
            <!-- AddThis Button END -->

            <div id="mc_embed_signup">
                <label for="mce-EMAIL">Get 5 FREE Foot Health Tips from the Experts</label>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>

            <div class="testimonial">“These shoes are the best shoes i have and have bought for my PF. I have custom orthotics and I will wear those still to wear different shoes. But only if I will not be on my feet for a long time. ... I am really amazed at how well they work. I was skeptical and hesitant but they really do help my feet a lot.”
                <div class="name">Roxanna R., MO</div>
            </div>
            <div class="testimonial">"I don't have any heel pain when I walk if I'm wear my Kuru shoes. I also have high arches and the Kuru shoes have good arch support."
                <div class="name">Phyllis S. NV</div>
            </div>
            <br/>
            <div id="mc_embed_signup">
                <label for="mce-EMAIL">Get 5 FREE Foot Health Tips from the Experts</label>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>


    </div>
</div>