<div class="product-salespoints">
    <div class="block-wrapper">
        <div class="salepoint shipping-time">
            <img class="sales-icon business-day" src="{{media url='icons/business-day.svg'}}" alt="One business day"></img>
            <span class="sales-msg ship-info">Usually ships</span>
            <span class="day-info">within ONE business day</span>
        </div>
        <div class="salepoint return-policy">
            <img class="sales-icon return-package" src="{{media url='icons/return-package.svg'}}" alt="Return package"></img>
            <span class="sales-msg return-info">FREE returns & exchanges</span>
            <span class="sales-msg return-days"> for 45 days</span>
        </div>
        <div class="salepoint shipping-transport">
            <img class="sales-icon icon transport-info" src="{{media url='icons/shipping-truck.svg'}}" alt="Shipping truck"></img>
            <span class="sales-msg transport-info">FREE shipping</span>
            <span class="sales-msg transport-disclaimer"> on all ground domestic orders</span>
        </div>
    </div>
</div>
