<div class="product-salespoints">
    <div class="salepoint">
        <div class="image-wrapper">
            <img class="sales-icon" src="{{media url='icons/hassle-free.svg'}}" alt="Hassle Free" />
        </div>
        <p class="text-wrapper">
            <b>Hassle Free</b> Exchanges and Returns
        </p>
    </div>
    <div class="salepoint">
        <div class="image-wrapper">
            <img class="sales-icon" src="{{media url='icons/free-shipping.svg'}}" alt="FREE shipping" />
        </div>
        <p class="text-wrapper">
            <b>FREE shipping</b> on all Domestic Orders
        </p>
    </div>
    <div class="salepoint">
        <div class="image-wrapper">
            <img class="sales-icon" src="{{media url='icons/kuru-guru.svg'}}" alt="KURU GURU" />
        </div>
        <p class="text-wrapper">
            <b>KURU GURU’S</b> Make Great Friends
        </p>
    </div>
</div>
