<div class="product-salespoints">
    <div class="salepoint">
        <div class="image-wrapper">
            <img class="sales-icon" src="{{media url='icons/delivery.svg'}}" alt="FREE shipping" />
        </div>
        <p class="text-wrapper">
            <b>Free Shipping on all Domestic Orders</b>
        </p>
    </div>
    <div class="salepoint">
        <div class="image-wrapper">
            <img class="sales-icon" src="{{media url='icons/like.svg'}}" alt="Hassle Free" />
        </div>
        <p class="text-wrapper">
            <b>Hassle Free Exchanges and Returns</b>
        </p>
    </div>
</div>
