<div class="product-technology">
    <div class="block-wrapper">
        <div class="block-header">
            <h2 class="title">LIGHTWEIGHT MAGIC</h2>
            <span class="slogan">The power of <strong>KURU</strong>SOLE&#8482; in every step</span>
        </div>
        <div class="block-body">
            <div class="illustration">
                <img class="technology-image" src="{{media url='wysiwyg/technology.gif'}}" alt="Kurufootwear technology">
            </div>
            <div class="description">
                <div class="fit desc-msg">
                    <span class="msg-one">Custom Fit - ULTIMATE</span>
                    <span class="msg-two">INSOLES&#8482; use space-age foams to custom mold to your feet</span>
                </div>
                <div class="support desc-msg">
                    <span class="msg-one">Heel Support - ULTIMATE</span>
                    <span class="msg-two">INSOLES&#8482; feature a proven seamless heel and arch support for a healthier stride</span>
                </div>
                <div class="cushioning desc-msg">
                    <span class="msg-one">Nature's Cushioning - KURU</span>
                    <span class="msg-two">SOLE&#8482; technology literally hugs your heel as nature intended</span>
                </div>
            </div>
        </div>
    </div>
</div>
