<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <img src="{{media url="wysiwyg/RMA-banner.v3.png"}}" alt="RMA Authorization" class="top-image" />

        <p>Whether you ordered the wrong size, or the color is different than you expected, don't worry, we want to make you happy. To exchange or return your order, please follow the steps below:</p>

        <h2>STEP 1: LOG IN AND SELECT THE ORDER TO BE RETURNED</h2>
        <p><strong><a href="{{store url="customer/account/login"}}">LOG IN</a></strong> to your account using the SAME EMAIL you used when placing your original order and select the order that contains the item/s to be returned.</p>
        <div><button onclick="window.location = '/customer/account/login';" class="button arrowed"><span>Log In to Your Account</span></button></div
        <br />

        <h2>STEP 2: CLICK RETURN/EXCHANGE ITEM/S BUTTON</h2>
        <p>Click on the "Return/Exchange Item/s" button in your order.</p>

        <h2>STEP 3: COMPLETE THE RETURNS & EXCHANGE FORM</h2>
        <p>Complete and submit the "Returns and Exchanges" form. Make sure to remove any item/s you are not returning.</p>

        <h2>STEP 4: SEND YOUR ITEM/S BACK</h2>
        <p>To take advantage of our FREE Returns & Exchanges policy, use our pre-paid shipping label to send your order back to us (pre-paid labels available only for orders shipped within the US).</p>

        <p>Remember, only items that can be sold as new can be exchanged or returned. Shoes with signs of wear, dirt markings, food residue, pet hair, or other residue cannot be exchanged or returned. For more details, please visit our <a href="{{store direct_url="customer-service/returns-and-exchanges.html"}}">Returns and Exchanges Policy</a>.</p>

        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
        <!-- AddThis Button END -->

    </div>
</div>
