<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <img src="{{media url="wysiwyg/Head-Reurns.jpg"}}" alt="Exchanges and Returns" class="top-image" />
        <h1>EXCHANGES AND RETURNS POLICY</h1>
        <p>We get it. Buying shoes online can seem risky. That's why we offer a 'No-Hassle' policy to ensure you get the perfect fit in your new KURUs. As long as your return is in new, unworn condition you can return or exchange them for FREE to make you happy!</p>

        <br />

        <h2>100% FREE RETURNS</h2>

        <p>Most who purchase KURU shoes end up keeping them. However, sometimes our shoes just don't meet your unique needs. Don't worry, because you can return your order for refund under the following guidelines:</p>

        <ul>
            <li><span class="underline">New, Unworn Condition & 45 Days</span> - All item/s in original, new, unworn condition* can be returned within 45 days of Original order Date. </li>
            <li><span class="underline">FREE Shipping</span> - When using our provided shipping label, return shipping is FREE on all domestic orders shipped within the U.S.*</li>
            <li><span class="underline">No Re-stocking Fees</span> - Our return policy includes a full refund of the original purchase price of items returned in new condition. We do not refund international duties, taxes, or VAT.</li>
            <li><span class="underline">RMA Number</span> - All returns must have a Return Merchandise Authorization number (RMA) for tracking purposes. </li>
            <li><span class="underline">Original Packaging</span> - Products must be in the original packaging and shipped back in a suitable shipping box. Please do not use the shoe box as a shipping box.</li>
            <li>NOTE: Some promotions and closeouts include shoes that are Final Sale and cannot be exchanged or returned. Please read all promotional materials and product descriptions prior to purchase. </li>
        </ul>

        <p>It's that simple. Once we receive your shoes, we will process your refund and automatically apply a credit to your credit card within 7 business days. Depending on your credit card company, it may take an additional 2-14 business days for the credit to appear on your account. Should you have any questions, feel free to <a href="{{store direct_url="contact"}}">contact us</a>.</p>

        <p>Peace of mind.</p>

        <div><button onclick="window.location = '/customer-service/ra.html';" class="button arrowed"><span>Process a Return</span></button></div>
        <br />

        <h2>100% FREE EXCHANGES</h2>

        <p>Whether you ordered the wrong size or the color on your computer screen is different than real life, don't worry, we make exchanges easy. The following conditions apply to exchanges:</p>

        <ul>
            <li><span class="underline">New Condition & 45 Days</span> - All items in new, unused condition* can be exchanged within 45 days of Original order Date. </li>
            <li><span class="underline">FREE Shipping</span> - When using our provided shipping label, return shipping is FREE on all domestic orders shipped within the U.S.*</li>
            <li><span class="underline">Original Packaging</span> - Products must be in the original shoe box and/or packaging. Please do not use the shoe box as a shipping box.</li>
            <li><span class="underline">RMA</span> - Include an RMA (Return Merchandise Authorization) number on your exchange for tracking purposes. To get an RMA, process an exchange <a href="{{store direct_url="customer-service/ra.html"}}">here</a>.
            <li>NOTE: Some promotions and closeouts include shoes that are Final Sale and cannot be exchanged or returned. Please read all promotional materials and product descriptions prior to purchase. </li>
        </ul>

        <p>Hassle-free.</p>

        <div><button onclick="window.location = '/customer-service/ra.html';" class="button arrowed"><span>Process an Exchange</span></button></div>
        <br />

        <p><em>INTERNATIONAL/APO ORDERS:</em> Due to varying international postage rules and regulations, we are unable to pay the return shipping on international and APO/FPO orders. Any duties, taxes, fees, or VAT are the sole responsibility of the recipient. Shipping costs, both ways, for returns and exchanges on International and APO/FPO orders are the responsibility of the recipient. </p>
        <br />

        <p class="shoes-been-worn">*CAN I RETURN SHOES THAT HAVE BEEN WORN?</p>

        <p>When you receive your shoes, try them on a clean, carpeted surface to confirm the correct size and style. Only shoes that can be sold as brand new can be returned or exchanged. <em>Shoes with dirt or food residue, pet hair, or wear marks and other signs of wear can not be exchanged or returned.</em> If a return is deemed worn, we are unable to return or exchange the item/s and will return them to you.</p>

        <br />
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
        <!-- AddThis Button END -->
    </div>
</div>