<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">KURU Cash Rewards</div>
    <p class="center-align">Loyalty deserves to be rewarded. With KURU Cash, the more you do, the more you earn. Best of all, joining is FREE.</p>
    <!--<p class="center-align"><a href="{{store direct_url="customer-service/reward-points-and-loyalty-program/how-to-redeem-rewards.html"}}">Learn how to spend your KURU Cash</a></p>-->
</div>

<div class="grey-part">
    <div class="grey-part-content">
        <div class="column-wrapper">
            <div class="three-column">
                <div class="illustration">
                    <img src="http://ekjbje-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/aPurchase_1.png.pagespeed.ic.tfibv8KIGF.webp">
                </div>
            </div>
            <div class="two-thirds-column">
                <div class="heading left-align">Every time you buy, you get KURU Cash</div>
                <ul>
                    <li>KURU Cash Points can be used on your future orders. </li>
                    <li>Even orders on discontinued end of season items qualify for KURU Cash Points.</li>
                    <li>Get 5% back in KURU Cash on every purchase.</li>
                    <li>Make sure you <a href="{{store url="customer/account/login"}}">create an account</a> and are logged in when shopping to be eligible for points.</li>
                </ul>
                <div class="buttons-wrapper">
                    <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="column-wrapper reverse">
        <div class="three-column">
            <div class="illustration">
                <img src="http://ufjavh-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/asign-up_2.png.pagespeed.ic.Zmb_7mSrlt.webp">
            </div>
        </div>
        <div class="two-thirds-column">
            <div class="heading left-align">Privileged Access with our KURU INSIDER Newsletter</div>
            <p>Our KURU INSIDER Newsletter is your direct connection to exclusive promotions and the latest updates. <a href="{{store url="customer/account/login"}}">Log in to your account</a> and sign up for our KURU INSIDER Newsletter to receive your KURU Cash Points. Make sure to sign up under "<a href="{{store url="customer/account/login"}}">Newsletter Subscriptions</a>" in the left menu option.</p>
            <div class="buttons-wrapper">
                <a class="button blue-button" href="{{store url="customer/account/login"}}"><span>Sign up for our FREE newsletter</span></a>
            </div>
        </div>
    </div>
</div>

<div class="grey-part">
    <div class="grey-part-content">
        <div class="column-wrapper">
            <div class="three-column">
                <div class="illustration">
                    <img src="http://ekjbje-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/arefer_1.png.pagespeed.ic.55zjY-yqLe.webp">
                </div>
            </div>
            <div class="two-thirds-column">
                <div class="heading left-align">Refer Your Friends: Give $10, Get $10</div>
                <p>It's fun introducing your friends to a new brand. With our KURU Cash rewards you can send your friends an exclusive $10 OFF their first order. After their first purchase, we will give you $10 in KURU Cash as a thank you.</p>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="column-wrapper reverse">
        <div class="three-column">
            <div class="illustration">
                <img src="http://ekjbje-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/areview_4.jpg.pagespeed.ic.kIlSAXKfI9.webp">
            </div>
        </div>
        <div class="two-thirds-column">
            <div class="heading left-align">Write a Review, Get KURU Cash</div>
            <p>You probably read customer reviews when buying KURU. Return the favor by writing your own review. Write about why you LOVE your KURU shoes and how they help you live a better life. Once your review is published, we will deposit KURU Cash into your account. Get started writing your review by <a href="{{store url="customer/account/login"}}">logging in to your account.</a></p>
            <div class="buttons-wrapper">
                <a class="button blue-button" href="{{store url="customer/account/login"}}"><span>Log in to your account</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="three-column">
        <div class="illustration">
            <img src="http://ndiw3k-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/aspending.png.pagespeed.ic.2_ULZa431D.webp">
        </div>
        <div class="heading">Spending Your KURU Cash</div>
        <p>Spending your KURU Cash is easy. Simply <a rel="nofollow" href="{{store url="customer/account/login"}}">log in to your account</a> to view your points activities and balance.</p>
        <p>To redeem points, when viewing your shopping cart, you can apply your points balance to your purchase.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="http://ndiw3k-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/aexpire.png.pagespeed.ic.9Xw2FpWlHe.webp">
        </div>
        <div class="heading">Does my KURU Cash Expire?</div>
        <p>As long as you continue earning points every 12 months, like making a purchase, your points will never expire.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="http://ndiw3k-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/amoney.png.pagespeed.ic.yQAcMqApuy.webp">
        </div>
        <div class="heading">What's KURU Cash Worth?</div>
        <p>100 points=$1.00</br>
            1,000 points=$10.00</br>
            10,000 points=$100.00</p>
    </div>
</div>

<div class="keep-strong-banner">
    <div class="banner-content center-align">
        <div class="heading">Getting Started is Easy</div>
        <p>Enrolling to receive KURU Cash is automatic.</p>
        <div class="buttons-wrapper">
            <a class="button blue-button" href="{{store url="customer/account/login"}}"><span>Create an Account</span></a>
            <a class="button blue-button" href="{{store url="customer/account/login"}}"><span>Login to Your Existing Account</span></a>
        </div>
        <p>Remember, you must be <a rel="nofollow" href="{{store url="customer/account/login"}}">signed in to your account</a> to be eligible for KURU Cash.</p>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="legals">
        <div class="heading">KURU CASH Rewards RULES AND CONDITIONS:</div>
        <p>KURU Cash Rewards are not redeemable for cash, have no cash value, and can only be redeemed for merchandise. Points expire 12 months from the most recent point-earning activity. As long as you engage in some kind of activity that earns new points , your points will continue to remain active for 12 months after that activity. </p>
        <p>By enrolling in this program, you agree to be bound by the following Terms and Conditions of KURU Cash Rewards </p>

        <strong>General</strong>

        <p>As used in these Terms and Conditions (“Terms”), “you”,  “your”,  and “member”  mean each customer who has a registered customer account at KURU (“Program”).  The terms “we”, “our”, and “us” mean KURU Footwear as administrator of the Program. </p>

        <p>We reserve the right to add to and/or change these Terms of the Program at any time, at our sole discretion. This may include changing the number of points earned for various actions and activities, or changing what activities and actions are eligible for reward points. In addition, we may change the number of points required to redeem, or we may expire points as explained more fully below. We may also change the value of each point. </p>

        <p>Any changes or modifications to the Program will be effective immediately upon posting the revisions to this page, and you waive any right you may have to receive specific notice of such changes or modifications. Your continued participation in the Program will confirm your acceptance of such changes or modifications, and your agreement to be bound by these Terms and any changes or modifications thereof; therefore, you should review these Terms frequently to understand the terms and conditions that apply to the Program. If you do not agree to the revised Terms, you must notify us by contacting us toll-free at 877-211-5878 or in writing via our <a rel="nofollow" href="{{store direct_url="customer-service/contact-us.html"}}">contact us</a> form. </p>

        <p>We reserve the right to terminate the program with three months prior notice.  Your right to earn points and redeem accumulated points will terminate three months after we give you this notice.  Further, we may terminate your account and you will forfeit all accumulated points if you violate these Terms.  We reserve the right to freeze or terminate the Program account of any person in the event of any fraud or abuse in connection with this Program.  In such a case, all points in the account will be forfeited.  Only one account per individual/customer is permitted.  Any attempt to create multiple accounts to build up points will be deemed an abuse of the Program. KURU reserves the right to modify, remove, delete or change points in any account that were done in error, whether human or computer error.</p>

        <p>The interpretation and application of these Terms are in the sole discretion and determination of us, which in each case shall be final and conclusive. Program is void where prohibited by law.</p>

        <strong>Privacy</strong>

        <p>This Program and your personal information are subject to our <a rel="nofollow" href="{{store direct_url="customer-service/privacy-and-security.html"}}">Privacy Policy</a>.</p>

        <strong>How to Enroll</strong>

        <p>This Program is not targeted towards, nor intended for use by, anyone under the age of 18. You are automatically enrolled in the Program when an account is created with us, or when you make a purchase. You must use a legitimate email address in order for your purchases to be eligible to receive point credits. If you do not use a legitimate email address that you have personal access to and control over, you forfeit any points issued to that account. </p>

        <strong>Earning Points</strong>

        <p>The Program is a points-based program which allows you to earn and redeem points.  There is no limit to the number of points you can earn.  If a qualifying purchase is returned for a refund, the number of points associated with the amount spent on the returned item will be deducted from your Program account balance.  There may be a delay in posting points to your account.  If you feel there is a discrepancy in your account, you can notify us within 60 days following the transaction or action date for which you believe you should have received points.  We may require documentation to support any discrepancy claim.</p>

        <strong>Retroactive Points</strong>

        <p>Purchases made before the implementation of the Program or made when not logged in to your account are not qualifying purchases. Actions or activities that are eligible for reward points, but are not done when signed in to your account can not be retroactively applied. No points will be earned for these non-qualifying purchases and actions.</p>

        <strong>Redeeming Points</strong>

        <p>Points have no cash value.  Points are not redeemable for cash, and can only be redeemed for merchandise.  The sale of points is strictly prohibited. </p>

        <p>Subject to our rights to add, delete, or otherwise make changes to the Program points structure, points may be redeemed for products  from and through our website, kurufootwear.com. Certain products may be ineligible for points redemption.  Points cannot be redeemed to pay for any shipping expense or sales tax associated with the redemption of points.  You are responsible for paying sales tax and any associated shipping expense related to the redeeming of points.</p>

        <p>You are solely responsible for ensuring that your shipping address is correct. We will not be responsible for orders that are shipped to an address different than the one in the Program records as of the date of redemption. You must specify the desired ship-to address when redeeming the points in an order. Only one Program account may be associated with a single email address. You must also ensure that a valid and current email address is in your account.   We assume no responsibility for errors caused by incorrect member information.</p>

        <strong>Points Expiration</strong>

        <p>We retain the right to cancel any member’s points in the event of inactivity.  Points expire 12 months from the most recent point-earning activity. As long as you engage in some kind of activity that earns new points within 12 months of the previous point-earning activity, your points will still be active.  No extensions, cash refunds, or other exchanges will be allowed for expired or canceled points. </p>

        <strong>Disclaimer of Warranties</strong>
        <p>WE MAKE NO WARRANTY OF ANY KIND REGARDING THE PROGRAM, WHICH IS PROVIDED ON AN "AS-IS" AND "AS-AVAILABLE" BASIS. WE EXPRESSLY DISCLAIM ANY REPRESENTATION OR WARRANTY THAT OUR PROGRAM WILL BE ERROR-FREE. WE FURTHER DISCLAIM ANY WARRANTY AS TO THE ACCURACY, COMPLETENESS AND TIMELINESS OF ANY CONTENT OR INFORMATION DISTRIBUTED WITH RESPECT TO THE PROGRAM. WE EXPRESSLY DISCLAIM ALL WARRANTIES AND CONDITIONS, INCLUDING IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, NON-INFRINGEMENT, AND THOSE ARISING BY STATUTE OR OTHERWISE IN LAW OR FROM A COURSE OF DEALING OR USAGE OF TRADE. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THIS WARRANTY DISCLAIMER MAY BE LIMITED IN ITS APPLICABILITY TO YOU.</p>

        <strong>Governing Law and Consent to Jurisdiction</strong>
        <p>The laws of the state of Utah, without regard to its conflict of laws principles, will govern these Terms, as well as your and our observance of them.  If you take any legal action relating to your use of this Program or these Terms, you agree to file such action only in the state or federal courts located in Salt Lake County, Utah. </p>

        <strong>No Waiver</strong>
        <p>Our failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by us in writing.  No waiver of any of the provisions of these Terms shall be deemed or shall constitute a waiver of any other provisions hereof, nor shall any waiver constitute a continuing waiver unless otherwise expressly provided.</p>

        <strong>Release of Liability</strong>
        <p>You release us, along with our officers, directors, employees and agents from and against any and all liability relating to your membership or participation in the Program and its Terms along with our general <a rel="nofollow" href="{{store direct_url="customer-service/privacy-and-security.html"}}">Privacy Policy and Terms of Use</a>.</p>

        <strong>Other Terms and Conditions</strong>
        <p>If any provision of these Terms is found to be invalid or unenforceable by a court of competent jurisdiction, such provision shall be severed from the remainder of these Terms, which will otherwise remain in full force and effect.</p>

        <p>These Terms constitute the entire  Program agreement between you and us.  They supersede all prior or other arrangements, understandings, negotiations and discussions, whether oral or written.</p>
    </div>
</div>
