<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <img src="{{media url="wysiwyg/Head-Shipping.jpg"}}"  alt="Consumer Empowered Sustainability" class="top-image" />
        <h2>The Best: FREE Domestic Shipping</h2>
        <p>We keep it simple. All orders shipped within the US ship FREE via standard ground service. (UPS for Domestic, USPS for HI and AK)</p>

        <p>Need your order faster? Upgrade to UPS 3-Day service in checkout for an incredibly low $8.95. (Orders shipping to HI and AK and US Territories ship via USPS Priority)</p>

        <p class="italic">Simple.</p>

        <h2>Fast Ship Times and Methods</h2>
        <p>FAST SHIP TIMES AND METHODS We want your order to arrive as soon as possible, which is why almost all orders ship within 1 business day. To make sure you get your order as soon as possible, we have multiple warehouses across the United States. Your order will ship from the nearest warehouse that contains your items.</p>

        <ul>
            <li>FREE STANDARD SHIPPING*- most orders ship within 1 business day (excluding weekends and holidays) of order date via UPS, USPS Priority or other regional carrier to get your order to you as fast as possible. Most standard ground shipments arrive within 5 business days. Weekend delivery is not available. (Excludes US Territories)</li>
            <li>EXPEDITED 3-DAY SHIPPING*- most orders ship within 1 business day (excluding weekends and holidays) of order date. Expedited shipping times are based on business days after the order ships and does not include order processing time. Weekend delivery is not available.</li>
        </ul>

        <p class="italic">Easy.</p>

        <h2>Flat-Rate International Shipping</h2>
        <p>We bring KURU to the world by offering international shipping. International shipments, including those to Canada, ship via USPS. Any additional duties, taxes, fees, or VAT due on international orders are the sole responsibility of the recipient. Following are our Flat-Rate International shipping costs (USD):</p>

        <ul>
            <li>US TERRITORIES - $2</li>
            <li>CANADA - $19 </li>
            <li>UK/EUROPE - $29</li>
            <li>ASIA - $29</li>
            <li>AUS/NZ - $29</li>
            <li>MEXICO - $29</li>
        </ul>

        <p>Due to International Customs and duties, we are unable to offer free exchanges on any international orders. Any and all return or exchange shipping fees are the recipient's responsibility.</p>
        <p>Customs or duties are the responsibility of the recipient and the fees vary for every country and order. Please understand that customs fees and duties are not refundable.</p>

        <p class="italic">Worldwide.</p>

        <h2>When Will My Order Arrive?</h2>
        <p>Customs or duties are the responsibility of the recipient and the fees vary for every country and order. Please understand that customs fees and duties are not refundable. Worldwide. WHEN WILL MY ORDER ARRIVE? Want to know when your order will be delivered? We ship from two warehouse locations. Generally, we will ship your order from the nearest warehouse that contains your items.</p>

        <p>The following applies to estimated delivery times:</p>
        <ul>
            <li>The maps apply to UPS Standard Ground Shipments and do not apply to orders shipped via USPS. Orders may be shipped via USPS at KURU's discretion.</li>
            <li>These are only estimates and not guaranteed ship times.</li>
            <li>Estimated times do not include order processing time.</li>
            <li>Estimated times are business days, not calendar days</li>
        </ul>

        <p>Orders typically ship within 1-2 business days after order receipt from either our Kentucky or Utah warehouse.</p>

        <h3>Kentucky Warehouse Shipments</h3>
        <br />
        <div class="center-align"><img src="{{media url="wysiwyg/UPS_Time_in_Transit_-_Lexington.png"}}" alt="KURU Order Ship Time from Kentucky" /></div>
        <br /><br />

        <h3>Utah Warehouse Shipments</h3>
        <br />

        <div class="center-align"><img src="{{media url="wysiwyg/UPS_Time_in_Transit_-_Utah.png"}}" alt="KURU Order Ship Time from Utah" /></div>
        <br /><br />

        <h2>Days We Process Orders</h2>
        <p>We process orders most business days except major holidays such as Memorial Day, Independence Day, Labor Day, Thanksgiving, Christmas day and New Years day. Those days, we will be celebrating with our friends and loved ones, as we hope you will as well!</p>
        <p class="italic">Perfect.</p>

        <p>*If you are shipping to either Alaska or Hawaii or US Territories, your order will ship via USPS Priority International service. Expedited shipping is not available for shipments to these States or Territories.</p>
        <br /><!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
        <!-- AddThis Button END -->
    </div>
</div>