<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">Shoes for Plantar Fasciitis</div>
    <p class="intro-text center-align">Powerful, proven solutions from the web's #1 favorite shoe for plantar fasciitis. Focus on others and be happy.</p>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p>Concrete, asphalt, tile and other hard surfaces are a big problem for your body. When you walk on these unforgiving surfaces, your feet suffer the most.</p>
            <p>To make matters worse, most shoes have flat insoles. If you are walking on flat insoles, you are at risk of continued pain from plantar fasciitis.
                Until you make a change for more supportive shoes, your risk and pain may continue.</p>
            <p>What if there was a solution to plantar fasciitis that could start with a pair of shoes for plantar fasciitis? Imagine a shoe that,
                instead of being flat, had a deep heel cup and contoured footbed to help relieve your pain and to help prevent injury. </p>
            <p>KURU is quickly becoming the #1 leading shoe for plantar fasciitis due to the revolutionary <strong>KURU</strong>SOLE™ footbed technology
                that offers a new standard of heel and arch support to help with your plantar fasciitis.</p>
            <p class="italic">Breakthrough.</p>
            <div class="buttons-wrapper">
                <p class="bold">Shop the best-selling Plantar Fasciitis Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-plantar-fasciitis.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-plantar-fasciitis.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="http://kurufootwear.s3.amazonaws.com/media/planatarfasciitis/landing_pages_plantarfasciitis.gif" alt="Women's Chicane">
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">Smarter Technology for Plantar Fasciitis</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">KURU has helped thousands who were down and out from plantar fasciitis. Through an ideal routine of morning stretches and
                    exercises while wearing KURU shoes for plantar fasciitis throughout the day, you can get amazing results.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>Our groundbreaking <strong>KURU</strong>SOLE™ technology is smarter. It flexes to adapt to your foot with each step. This flexing helps cup your fat pad under your
                    heel bone for remarkable stability, support and relief. With such smart technology that adapts to your unique foot, it is no wonder more
                    Doctors recommend KURU shoes for plantar fasciitis.</p>
                <p>To truly transform your life, we knew it would take more than just another pair of premium shoes for plantar fasciitis.
                    That is why we developed KURU with the patented <strong>KURU</strong>SOLE™ technology.</p>
                <p class="italic">The new standard.</p>
                <p class="bold">Shop the best-selling Plantar Fasciitis Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-plantar-fasciitis.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-plantar-fasciitis.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Why others love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p> am a pharmacist suffering with plantar fasciitis. I received my 1st pair of Kuru shoes and I will never wear another shoe.
                I noticed the difference within a few days and now I go some days ‘without any pain at all. You now have a customer for life!</p>
            <p class="quote-author">~ Greg L., RPh</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>I have had calf and foot surgery on both legs for plantar fasciitis. Kuru shoes have certainly aided in my recovery.
                My feet fill great after wearing them all day.</p>
            <p class="quote-author">~ Darin S., Indiana</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>Used my shoes from Kuru to go hiking in Colorado. I didn't feel any pain from my plantar fasciitis during
                hikes of several hours. I will order more Kuru shoes based on the success I have had.</p>
            <p class="quote-author">~ Laurel P., California</p>
        </div>
    </div>
</div>

<div class="slider-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="kuru-slider">
                <div class="slide">
                    <h2>Gateway to Living</h2>
                    <p>With the potential to help the millions suffering from plantar fasciitis, <strong>KURU</strong> is a leading solution for those with plantar fasciitis. </p>
                    <p>As Monica D. told us, "For the first time in 3 years I am able to get up in the morning with out all most falling on my face with pain.
                        I still have some pain but is nothing compared to the way I was before wearing your shoes. I...will never buy any other tennis shoe again...your
                        shoes have given me back my life."</p>
                </div>
                <div class="slide">
                    <h2>Shaped Like You</h2>
                    <p>Every <strong>KURU</strong> shoe starts with the shape of a real human foot. We engineered a broad, natural foot shape in the toes, allowing your
                        feet to spread out throughout the day. KURU is shaped to work with nature for maximum health and an improved quality of life. </p>
                    <p>Get instantly familiar fit for all-day comfort and wear.</p>
                </div>
                <div class="slide">
                    <h2>Silky Smooth Ride</h2>
                    <p>We put a lot of effort into creating the perfect shape of our outsole and midsole. That is why <strong>KURU</strong> promises an improved, rockered sole shape.
                        This shape lets your foot roll naturally as you walk, reducing impacts for advanced relief.</p>
                    <p>With a ride this smooth, forget your pain and start focusing on what matters most&mdash;yourself and others.</p>
                </div>
                <div class="slide">
                    <h2>Time to Look Good</h2>
                    <p>Plantar fasciitis shoes from <strong>KURU</strong> not only boast legendary technology on the inside, but versatile styling on the outside.
                        This is where KURU shines. With multiple styles and designs, KURU shoes for plantar fasciitis are attractive for your morning walks, superior for traveling abroad, and simply stunning for running errands.</p>
                    <p>Relief has never come easier.</p>
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="slider-newsletter">
                <h3>FREE Plantar Fasciitis Secrets from the Experts</h3>
                <p>+ 5 Must know tips to solve plantar fasciitis</p>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper best-pair">
    <div class="heading">Simply the Best Shoes for Plantar Fasciitis</div>
    <p class="intro-text center-align">KURU shoes are different. Not only did we pack some of the best technology into our shoes,
        but our plantar fasciitis shoes have also improved the quality of life for thousands of people just like you:</p>
    <div class="buttons-wrapper">
        <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-plantar-fasciitis.html"}}"><span>Women's shoes</span></a>
        <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-plantar-fasciitis.html"}}"><span>Men's shoes</span></a>
    </div>

    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/expert-approved_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Expert Approved</p>
        <p>Doctors have always known that poor-quality shoes can increase plantar fasciitis heel pain. That is why more Doctors recommend KURU shoes for plantar fasciitis to people like you.</p>
        <p>In fact, Dr. Roger Sheffield wrote, "After decades of practicing as a physician, I have seen a lot of different products designed to solve health problems.
            KURU is the #1 shoe that has helped my Plantar Fasciitis".</p>
        <p>Trust the experts to help you avoid injuries so you can love your life.</p>
        <p class="italic">Reliable.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/naturally-better_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Naturally Better</p>
        <p>KURU shoes for plantar fasciitis work with nature to help with plantar heel issues. Nature placed a fat pad under your heel bone to cushion your every step.
            With this in mind, our team of medical experts developed the revolutionary <strong>KURU</strong>SOLE™ midsole technology. </p>
        <p>This space-age technology cups your foot to keep the fat pad under your heel bone. This means KURU works with nature to not only cushion every step, but also to help your body heal itself.
            This gives you maximum comfort and mobility from your plantar fasciitis so you can be happy.</p>
        <p class="italic">Raising the bar.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/chase-pain_mobile.jpg"}}">
        </div>
        <p class="blue-heading">Chase the Pain Away</p>
        <p>With almost 9 out of 10 of customers recommending KURU to others, you can trust KURU shoes for plantar fasciitis to offer amazing comfort, stability and support.
            The strongest proof comes directly from someone who's life has been transformed by KURU. </p>
        <p>Robert, one of our fans, wrote, “they are by far the most comfortable shoe I have ever worn and have all but cured an acute case of plantar fasciitis.
            This sounds like hype, but they are the best thing since sliced bread!"</p>
        <p class="italic">World class.</p>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>