<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">Best Hiking Shoes for the Trail</div>
    <p>When it comes to your hiking shoes, quality and shape are the most important aspects. When you are hiking, especially with a loaded pack, you can not risk your body's foundation—your feet.</p>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p>There's a lot of places where we get away with beat up, worn out gear that has long since seen its prime. However, when it comes to your hiking shoes, ‘beat up’ and ‘worn out’ are two things you definitely need to avoid. When hiking, especially with a loaded pack, you can't risk your body's foundation—your feet.</p>

            <p>Imagine what it would be like to have the perfect hiking shoe that is rugged enough to summit one of Colorado's Fourteeners, yet effortlessly transitions to the local bar for a round of beers. How much better would your feet feel if you could surround your feet with support in all the right places?</p>

            <p>KURU hiking shoes give you total versatility with superior trail feel. The aggressive lugs combine with our premium <b>KURU</b>SOLE™ technology to give you amazing support and stability on the trail. With KURU hiking shoes, you will have your best trip ever.</p>

            <p class="italic">Lasting Comfort.</p>
            <div class="buttons-wrapper">
                <p class="bold">Shop the best-selling Hiking Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="//kurufootwear.s3.amazonaws.com/media/footpain/landing_page_footpain.gif" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">Hiking Shoe Technology</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">KURU hiking shoes keep you on the trail and away from the ibuprofen and moleskin. The amazing <strong>KURU</strong>SOLE™ hugs the natural fat pad in your heels for superior cushioning and comfort. This is feel good technology for the trail.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>KURU hiking shoes are unlike any other trail shoes. Our patented <b>KURU</b>SOLE™, with <b>HEEL</b>HUGR™ Technology, is crafted into every pair of hiking shoes. This revolutionary technology offers orthotic-quality support that cups your heel for stability and sure-footed traction.</p>
                <p>KURU shoes have logged thousands of miles in the Rocky Mountains to optimize every aspect of the <b>KURU</b>SOLE™ technology. We set a new standard when we received a patent for <b>KURU</b>SOLE™, helping make KURU the World's most anatomical midsole for hiking shoes.</p>
                <p>Never to stop short of perfection, we use a unique, heat-reactive foam insole that custom molds to your foot shape so you can go longer and make the next summit.</p>
                <p class="italic">Enjoy Your Hike.</p>
                <p class="bold">Shop for our Best Shoes for Hiking:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Why others love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p>“I have never had on a more comfortable shoe. I love them and plan on doing all my hiking in them. I needed a comfortable hiking shoe and I found the exact combination in one shoe. Thank you Kuru.”  </p>
            <p class="quote-author">~ Connie L</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>Used my shoes from Kuru to go hiking in Colorado. I didn't feel any pain from my plantar faciatis during hikes of several hours. I will order more Kuru shoes based on the success I have had.”</p>
            <p class="quote-author">~ Laurel P</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>"I hike a lot and have trouble with plantar fasciitis. These shoes made my feet feel much better!"</p>
            <p class="quote-author">~ Mitzi</p>
        </div>
    </div>
</div>

<div class="slider-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="kuru-slider">
                <div class="slide">
                    <h2>Superior Traction</h2>
                    <p>KURU hiking shoes feature a cupped rubber outsole construction for superior durability and performance. In fact, our rubber outsoles draw inspiration from the most grippy tires—trials motorcycle tires. Just like trials tires, KURU hiking shoes can scale some of the most rugged terrain without skipping a beat.</p>
                    <p>Get the security of traction you can trust.</p>
                </div>
                <div class="slide">
                    <h2>#hugyourheel</h2>
                    <p>Out of the box, KURU are the most supportive hiking shoes available. How? Our patented KURUSOLE™ midsole technology includes an orthotic molded into the footbed. Say goodbye to costly aftermarket insoles and get the support you should be getting with a new pair of trail shoes the minute you put them on.</p>
                    <p>No other hiking shoe hugs your heels for maximum happiness on the trail.</p>
                </div>
                <div class="slide">
                    <h2>Feel Good, Naturally</h2>
                    <p>KURU hiking shoes are more natural. Through the KURUSOLE™ technology, they use your natural fat pad to cushion your every step. But, that is not all.</p>
                    <p>KURU hiking shoes use a low profile, flexible forefoot design that allows your foot to flex more naturally for superior trail feel.</p>
                    <p>This low profile design helps you feel the trail beneath your feet, bringing you closer to nature. Be content as you connect with your natural environment on a whole new level.</p>
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="slider-newsletter">
                <h3>FREE Tips for Men's Hiking Shoes</h3>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>