<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="max-width-wrapper">
    <div class="heading">Most Comfortable Shoes For Standing</div>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_cont">
        <span>Share<b> with your friends</b>.</span>
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_preferred_5"></a>
            <a class="addthis_button_preferred_6"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
    </div>
    <!-- AddThis Button END -->

    <div class="kuru-main">
        <div class="two-column">
            <p class="part-heading">KURU: The Best Shoes for Standing</p>
            <p>When you spend long hours standing on your feet, you risk getting foot pain, or, even worse, a chronic condition such as plantar fasciitis.</p>
            <p>But here is a little secret, it is not the standing that causes foot pain—it’s often the shoes you wear that leads to pain.
                Your feet are built to support the weight of the whole body and can withstand a lot of strain. However, since almost all shoes are flat inside,
                the long hours spent standing and walking in flat shoes is likely to cause you serious pain.</p>
            <p>What if there were shoes for standing that could help prevent or ease the pain of standing? Imagine how much more productive you could be if you had the best shoes for standing.</p>
            <div class="buttons-wrapper">
                <p class="bold uppercase">Shop KURU's best-selling shoes for standing:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
        <div class="two-column">
            <div class="illustration">
                <img src="{{media url="wysiwyg/shoesStanding.jpg"}}">
            </div>
        </div>
    </div>
    <div class="kuru-main">
        <div class="two-column">
            <div class="illustration">
                <img src="{{media url="wysiwyg/redChicane.jpg"}}">
            </div>
        </div>
        <div class="two-column">
            <p class="part-heading">Transform Your Life</p>
            <p><strong>KURU</strong> shoes are transforming the lives of those who stand all day for work, on vacation, or just out for the day. Our innovative
                <strong>KURU</strong>SOLE™ orthotic built into the foot bed uses advanced materials which allows the shoes to custom mold to the contours of your unique feet.
                This gives you support that hugs your heels and arch for total comfort.</p>
            <p class="bold">As a leader in shoes for standing, KURU promises maximum comfort to help you avoid pain and even injury from standing all day. Focus on your work and let time fly.</p>
            <p class="italic">Better quality of life.</p>
            <div class="buttons-wrapper">
                <p class="bold uppercase">Shop KURU's best-selling shoes for standing:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="slider-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="kuru-slider">
                <div class="slide">
                    <h2>Focus On Work</h2>
                    <p>Every KURU shoe is designed around the shape of a human foot. Our anatomically crafted <strong>KURU</strong>SOLE&trade;technology gives you improved arch support while cupping your heels as you move. This more natural shape gives you a custom fit with unparalleled full foot support across the forefoot, arch, and heel.</p>
                    <p>This brilliant design truly helps cushion your natural heel fat pad, making <strong>KURU</strong> a sensational shoe for standing all day.</p>
                </div>
                <div class="slide">
                    <h2>Feel Content</h2>
                    <p><strong>KURU</strong>’s best shoes for standing all day are built for movement. We designed the incredibly lightweight <strong>KURU</strong>KLOUD&trade; midsole EVA foam to give our best shoes for standing a flexible forefoot so your toes can comfortably splay out as your foot swells throughout the day. This promises a more natural fit for standing all day so you feel better longer.</p>
                    <p>Get an instantly familiar fit for all-day comfort and wear.</p>
                </div>
                <div class="slide">
                    <h2>Experts Agree</h2>
                    <p><strong>KURU</strong>’s custom orthotic design is doctor recommended for helping to reduce foot pain. With all the time you spend standing, orthopedic shoes that actually deliver premium cushion and support are essential for your mobility. </p>
                    <p>Get new levels of shock absorption and support to increase your productivity with <strong>KURU</strong> shoes. You will be able to focus on your job or other responsibilities rather than your pain. Have more energy at the end of every day with the best shoes for standing.</p>
                    <p>All-day comfort.</p>
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="slider-newsletter">
                <h3>Get Exclusive Updates on KURU Shoes</h3>
                <p>+ 55 Must know tips to solve plantar fasciitis</p>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">A Patented Solution for Heel Pain</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <p class="italic">Nature designed every foot with fat pads in the heel and forefoot to cushion and absorb shock with each step.
                    Other premium comfort shoes mess with nature. They have flat foot beds which flatten your fat pad.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p>The ground-breaking <strong>KURU</strong>SOLE™ does something no other shoe can. Through a medical-grade orthotic midsole, <strong>KURU</strong>SOLE™ magically flexes to
                    adapt to your feet for a happy and healthy fit. But that’s not all, this unique flexing cups your heel fat pad so nature’s shock absorber stays
                    where it belongs—below your heel.</p>
                <p>Our powerful, patented design works with nature to complement your feet for an instantly familiar fit. <strong>KURU</strong>SOLE™ empowers you by aligning your
                    body’s foundation–your feet– for an in incredibly cushioned and natural gait. At the end of every day, you can feel healthier and more grateful.</p>
                <p class="italic">Standing, transformed.</p>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Why others love KURU</div>
    <div class="three-column">
        <div class="quote">
            <p>I am able to walk after standing for long periods. I haven't been experiencing any heel pain.</p>
            <p class="quote-author">~ Charles C.</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>At work, I stand in dress shoes all day long. It's horrible. My feet kill even before lunch. I quickly put on my Kuru's and went about all the errands I had.
                It was my first half day of wearing them and my feet feel great.</p>
            <p class="quote-author">~ Morgan</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
            <p>The support in the heel keeps my feet from hurting while standing at work all day. Shoes are just comfortable overall.</p>
            <p class="quote-author">~ Nicole B.</p>
        </div>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>