<div class="category-cms-content">
    <div class="category-cms-sidebar">
        {{block class="Magento\\Cms\\Block\\Block" block_id="category-menu"}}
    </div>

    <div class="category-cms-main">
        <div id="heel-pain">
            <img src="{{media url="wysiwyg/feet-on-the-beach.jpg"}}" alt="shoes for heel spurs" style="width: 100%;"/>
            <div class="grid_3 alpha">
                <div class="addthis-mob">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_preferred_5"></a>
                        <a class="addthis_button_preferred_6"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                    <!-- AddThis Button END -->
                </div>

                <div class="recent-reviews-mob">
                    <h3>Recent Reviews</h3>
                    <div class="main-slider">
                        <div class="bxslider kuru-slider">
                            <div class="slide"><p>"I had heel pain so I researched all styles of shoes. I decided to give these a try and "WOW"...what a difference they made. The heel pain went away and every time I wear these shoes."</p><p><strong>Olive</strong></p></div>
                            <div class="slide"><p>"I suffer from PF and inserts and other shoes give a measure of relief but from the minute I received these shoes and put them on the difference is just amazing."</p><p><strong>Mark</strong></p></div>
                        </div>
                    </div>
                </div> <!--recent-reviews-mob-->

                <div id="mc_embed_signup" class="mobile">
                    <label for="mce-EMAIL">FREE 5 Need-to-Know Tips to Solve Foot Pain Newsletter</label>
                    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
                </div>

                <br>

                <h2>KURU: The Best Shoes for Heel Spurs</h2>
                <p>Foot pain of any kind is miserable, but when that pain is concentrated in the heel of the foot, it can be difficult to function at your best. Pain in the heel affects your entire walking gait since the heel is the first part of the foot to receive impact as you move.</p>

                <p>This regular pain could be due to a variety of causes, but it could also be a result of heel spurs. These protrusions on bone on the heel are painful and can often be caused by constant strain on the feet, abnormal walking gaits, excessive weight, athletic activity, and poorly supported shoes.</p>

                <p>Whatever the origins of heel spurs, the good news is that wearing the best shoes for heel spurs. Highly comfortable, <a href="http://www.kurufootwear.com/experts-corner/foot-care/support-shoes.html">supportive shoes</a> can significantly reduce foot pain and get you back to activity. Heel spur shoes are essential to managing heel pain and getting past heel spurs.</p>

                <p>KURU shoes are the best shoes for heel spurs due to the incredible levels of comfort and support in the arch, heel, and forefoot. With an orthotic midsole that better cushions and supports the entire foot, you get a higher level of comfort to help manage heel spurs.</p>

                <p>Better.</p>

                <h2>Amazing Midsole Technology for Heel Spur Shoes</h2>

                <p>The incredible <strong>KURU</strong>SOLE&trade; midsole technology features significant arch and heel support to help reduce heel pain. By giving your feet that extra level of support through a more naturally shaped footbed, KURU shoes for heel spurs help reduce <a href="http://www.kurufootwear.com/experts-corner/foot-care/heel-spurs.html">heel spur</a> pain and contribute to a healthier walking gait.</p>

                <p>Since so many shoes are flat, they actually negatively affect your walking movement and can lead to foot pain and conditions like heel spurs and <a href="http://www.kurufootwear.com/experts-corner/foot-care/plantar-fasciitis/shoes-for-plantar-fasciitis.html">plantar fasciitis</a>. With KURU, you get anatomically shaped heel spur shoes that work with the natural cushioning and flexibility of the foot to give you total comfort and support as you move.</p>

                <p>When you spend your day on hard, flat surfaces, you don’t need another hard, flat shoe. KURU shoes are the best shoes for heel spurs because they actually form to your individual foot as you walk for a custom fit.</p>

                <p>An anatomical midsole with a powerful ergonomic shape gives you the benefits of a more natural shape and sustained comfort and support for your busy life.</p>

                <p><I>Dynamic.<I></p>

                <div class="buttons">
                    <button onclick="window.location = '/womens-shoes/womens-shoes-for-heel-pain.html';" class="buttonm arrowed" ><span>Shop the Best-Selling Women's Shoes</span></button>
                    <button onclick="window.location = '/mens-shoes/mens-shoes-for-heel-pain.html';" class="button arrowed"><span>Shop the Best-Selling Men's Shoes</span></button>
                </div>


                <p><!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style  addthis_toolbox-bottom">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->
                </p>

                <p class="disclaimer"><i>DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. Because everyone´s feet and body are different, your results may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical professional prior to any treatment regimen. </i></p>

                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-comments" data-href="http://www.kurufootwear.com/" data-num-posts="4" data-width="475"></div>

            </div>

            <div class="grid_2 static-right">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
                <!-- AddThis Button END -->

                <div id="mc_embed_signup">
                    <label for="mce-EMAIL">FREE 5 Need-to-Know Tips to Solve Foot Pain Newsletter</label>
                    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
                </div>

                <div class="recent-reviews">
                    <h3>Recent Reviews</h3>
                    <div class="testimonial"><p> "I had heel pain so I researched all styles of shoes. I decided to give these a try and "WOW"...what a difference they made. The heel pain went away and every time I wear these shoes."</p>
                        <div class="name"><p>Olive</p></div>
                    </div>
                    <div class="testimonial"><p> "I suffer from PF and inserts and other shoes give a measure of relief but from the minute I received these shoes and put them on the difference is just amazing."</p>
                        <div class="name"><p>Mark</p></div>
                    </div>
                </div> <!-- recent-reviews -->

                <div id="mc_embed_signup">
                    <label for="mce-EMAIL">FREE 5 Need-to-Know Tips to Solve Foot Pain Newsletter</label>
                    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
                </div>
            </div>
        </div><!-- heel-pain -->
    </div>
</div>