<div class="size-chart-wrapper">
    <div class="size-title">KURU Size Chart</div>
    <div class="table-wrapper socks-table-wrapper">
        <table class="data-table table socks-table">
            <thead class="table-head">
                <tr class="table-header">
                    <th class="table-title">SIZE</th>
                    <th class="table-title">WOMEN'S</th>
                    <th class="table-title">MEN'S</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-content">
                    <td class="table-col">XL</td>
                    <td class="table-col">12.5 - 14</td>
                    <td class="table-col"></td>
                </tr>
                <tr class="table-content">
                    <td class="table-col">L</td>
                    <td class="table-col">10.5 - 12</td>
                    <td class="table-col">12</td>
                </tr>
                <tr class="table-content">
                    <td class="table-col">M</td>
                    <td class="table-col">7.5 - 10</td>
                    <td class="table-col">9 - 11.5</td>
                </tr>
                <tr class="table-content">
                    <td class="table-col">S</td>
                    <td class="table-col">6 - 7</td>
                    <td class="table-col">6 - 8.5</td>
                </tr>
                <tr class="table-content">
                    <td class="table-col">XS</td>
                    <td class="table-col"></td>
                    <td class="table-col">5 - 5.5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
