<div class="size-chart-wrapper">
    <div class="size-title">KURU Size Chart</div>
    <div class="table-wrapper">
        <table class="data-tabe table">
            <thead class="table-head">
            <tr class="table-header">
                <th class="table-title">US Women's</th>
                <th class="table-title">US Men's</th>
                <th class="table-title">EU</th>
                <th class="table-title">UK</th>
                <th class="table-title">JP</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr class="table-content">
                <td class="table-col">5</td>
                <td class="table-col"></td>
                <td class="table-col">35</td>
                <td class="table-col">2.5</td>
                <td class="table-col">21.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">5.5</td>
                <td class="table-col"></td>
                <td class="table-col">35.5</td>
                <td class="table-col">3</td>
                <td class="table-col">22</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">6</td>
                <td class="table-col"></td>
                <td class="table-col">36</td>
                <td class="table-col">3.5</td>
                <td class="table-col">22.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">6.5</td>
                <td class="table-col"></td>
                <td class="table-col">37</td>
                <td class="table-col">4</td>
                <td class="table-col">23</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">7</td>
                <td class="table-col"></td>
                <td class="table-col">37.5</td>
                <td class="table-col">4.5</td>
                <td class="table-col">23.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">7.5</td>
                <td class="table-col"></td>
                <td class="table-col">38</td>
                <td class="table-col">5</td>
                <td class="table-col">24</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">8</td>
                <td class="table-col"></td>
                <td class="table-col">38.5</td>
                <td class="table-col">5.5</td>
                <td class="table-col">24.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">8.5</td>
                <td class="table-col">7</td>
                <td class="table-col">39</td>
                <td class="table-col">6</td>
                <td class="table-col">25</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">9</td>
                <td class="table-col">7.5</td>
                <td class="table-col">40</td>
                <td class="table-col">6.5</td>
                <td class="table-col">25.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">9.5</td>
                <td class="table-col">8</td>
                <td class="table-col">40.5</td>
                <td class="table-col">7</td>
                <td class="table-col">26</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">10</td>
                <td class="table-col">8.5</td>
                <td class="table-col">41</td>
                <td class="table-col">7.5</td>
                <td class="table-col">26.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">10.5</td>
                <td class="table-col">9</td>
                <td class="table-col">42</td>
                <td class="table-col">8</td>
                <td class="table-col">27</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">11</td>
                <td class="table-col">9.5</td>
                <td class="table-col">42.5</td>
                <td class="table-col">8.5</td>
                <td class="table-col">27.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col">12</td>
                <td class="table-col">10</td>
                <td class="table-col">43</td>
                <td class="table-col">9</td>
                <td class="table-col">28</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">10.5</td>
                <td class="table-col">44</td>
                <td class="table-col">9.5</td>
                <td class="table-col">28.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">11</td>
                <td class="table-col">44.5</td>
                <td class="table-col">10</td>
                <td class="table-col">29</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">11.5</td>
                <td class="table-col">45</td>
                <td class="table-col">10.5</td>
                <td class="table-col">29.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">12</td>
                <td class="table-col">46</td>
                <td class="table-col">11</td>
                <td class="table-col">30</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">12.5</td>
                <td class="table-col">46.5</td>
                <td class="table-col">11.5</td>
                <td class="table-col">30.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">13</td>
                <td class="table-col">47</td>
                <td class="table-col">12</td>
                <td class="table-col">31</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">13.5</td>
                <td class="table-col">47.5</td>
                <td class="table-col">12.5</td>
                <td class="table-col">31.5</td>
            </tr>
            <tr class="table-content">
                <td class="table-col"></td>
                <td class="table-col">14</td>
                <td class="table-col">48</td>
                <td class="table-col">13</td>
                <td class="table-col">32</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="size-notes">
        <p class="notes-heading">Understanding “FIT” notes: </p>
        <p class="notes-text">
            ALL KURU shoes are sold in US sizing. IF the “FIT” note says “1/2 size small”, you should purchase a 1/2 size larger than your normal size (e.g if wear an 8, purchase an 8.5). If the note says “1/2 size big," then purchase a 1/2 size smaller than your normal size.
        </p>
    </div>
</div>
