<div class="social-links" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="{{store url=""}}">
    <a itemprop="sameAs" href="https://www.facebook.com/kurufootwear" target="_blank" class="fa fa-facebook-official"><span></span></a>
    <a itemprop="sameAs" href="https://twitter.com/kurufootwear" target="_blank" class="fa fa-twitter"><span></span></a>
    <a itemprop="sameAs" href="https://www.instagram.com/kurufootwear" target="_blank" class="fa fa-instagram"><span></span></a>
    <a itemprop="sameAs" href="https://www.youtube.com/user/kurufootwear" target="_blank" class="fa fa-youtube-play"><span></span></a>
    <a itemprop="sameAs" href="https://www.pinterest.com/IheartKuru" target="_blank" class="fa fa-pinterest"><span></span></a>
    <a itemprop="sameAs" href="https://plus.google.com/115133418458509133323" target="_blank" class="fa fa-google-plus"><span></span></a>
</div>