<script>
    require(["jquery", "js/data", "js/shoe"], function ($) {
        $(document).ready(function () {
            // Attach shoe pictures to canvas'es
            var shoe = new Shoe('canvas');
            var shoe = new Shoe('canvas-mob');
        })
    });
</script>
<div id="shoes-fasciitis">
    <div class="max-width-wrapper">
        <div class="heading">
            KURU: The Best Support Shoes
        </div>
        <div class="part-heading center-align mobile-center">
            Better Everyday Support Footwear
        </div>

        <div class="social-links clearfixed">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_cont second">
                <span>Interesting article? Share with your friends.</span>
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
            </div>
            <!-- AddThis Button END -->
        </div>
        <div class="column-wrapper align-top">
            <div class="two-column">
                <p>If you spend a lot of time on your feet, you recognize the importance of supportive footwear. With so many diverse shoes on the market it can be hard to select quality support shoes for your needs. So many shoes either don’t have robust support in areas like the heel and arch, or they have low grade midsoles that break down too soon.</p>
                <p>KURU shoes for support are built with your everyday comfort in mind through an anatomical midsole design that molds to your foot.</p>
                <p>When a busy, active life demands that you constantly move around on hard, changing surfaces, you need support shoes that can adapt to your life on the move.</p>

                <h8 class="tagline">The Ultimate Comfort.</h8>
                <div class="illustration mobile-only">
                    <img src="http://kurufootwear.s3.amazonaws.com/media/experts_corner-footcare.gif" alt="KURU shoes provide the best shoes for heel support" title="Shoes for Heel Support" class="redchicane fasciitis-ipad-mob"/>
                </div>

                <div class="part-heading">Shop the best-selling Support Shoes:</div>
                <div class="buttons-wrapper">
                    <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-heel-pain.html"}}">
                        <span>Women's Support Shoes</span>
                    </a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-heel-pain.html"}}">
                        <span>Men's Support Shoes</span>
                    </a>
                </div>
            </div>
            <div class="two-column">
                <div class="illustration desktop-only">
                    <img src="http://kurufootwear.s3.amazonaws.com/media/experts_corner-footcare.gif" alt="KURU shoes provide the best shoes for heel support" title="Shoes for Heel Support" class="redchicane fasciitis-desk" />
                </div>
            </div>
        </div>
    </div>
    <div class="grey-part">
        <div class="grey-part-content">
            <div class="heading">
                Astounding Support Technology
            </div>
            <div class="column-wrapper align-top">
                <div class="two-column">
                    <p>KURU shoes are the most anatomically robust shoes available.</p>
                    <p>A custom orthotic midsole supports the arch for maximum comfort and stability on any surface.</p>
                    <p class="italic">Go. Open Life.&trade;</p>
                    <p class="italic">A shoe that shapes to your unique foot offers multiple levels of comfort in the forefoot, heel. and the arch.</p>

                    <div class="mobile-only center-align mobile-center">
                        <canvas id="canvas-mob" width="450" height="250"></canvas>
                        <br>
                    </div>

                    <div class="part-heading">Shop the best-selling Support Shoes:</div>
                    <div class="buttons-wrapper">
                        <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-heel-pain.html"}}">
                            <span>Women's Support Shoes</span>
                        </a>
                        <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-heel-pain.html"}}">
                            <span>Men's Support Shoes</span>
                        </a>
                    </div>
                </div>
                <div class="two-column center-align">
                    <canvas id="canvas" class="desktop-only" width="450" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="max-width-wrapper">
        <div class="heading">Why Others Love KURU</div>
        <div class="three-column">
            <div class="quote">
                <p>The moment I tried these shoes, they felt great. I suffer from plantar fasciitis and am now able to walk. They are very comfortable.</p>
                <p class="quote-author">~Don</p>
            </div>
        </div>
        <div class="three-column">
            <div class="quote">
                <p>I had been living in agony, trying everything I could think of to get some relief for my foot pain. From the very first day these shoes were so comfortable. My foot pain is a thing of the past. Thank you KURU!!</p>
                <p class="quote-author">~Leigh</p>
            </div>
        </div>
        <div class="three-column">
            <div class="quote">
                <p>I can honestly say these are the most comfortable shoes I have ever worn.</p>
                <p class="quote-author">~Eileen</p>
            </div>
        </div>
    </div>
    <div class="max-width-wrapper">
        <div class="heading">Ultimate Support</div>
        <div class="three-column">
            <div class="illustration stretch">
                <img src="{{media url="wysiwyg/caduceus-support-mobile.jpg"}}" alt="KURU shoes provide the best shoes for heel support" title="Shoes for Heel Support"/>
            </div>
            <div class="blue-heading center-align">Natural Construction</div>
            <p class="center-align">A deep <strong>HEEL</strong>KRADL&trade; design cups the fat pad of the heel for valuable cushioning and support. This benefits your every step by ‘pinching’ the fat pad to absorb shock and direct the foot toward a more neutral foot position. This shoe support facilitates healthier, natural, more anatomical foot motion.</p>
        </div>
        <div class="three-column">
            <div class="illustration stretch">
                <img src="{{media url="wysiwyg/leaves-support-mobile.jpg"}}" alt="KURU shoes provide the best shoes for heel support" title="Shoes for Heel Support"/>
            </div>
            <div class="blue-heading center-align">Customers Love KURU</div>
            <p class="center-align">We’ve received a lot of customer support and feedback in the development of our shoes. The orthotic shape and incredible comfort has helped many people overcome foot pain and experience life through better support shoes.</p>
        </div>
        <div class="three-column">
            <div class="illustration stretch">
                <img src="{{media url="wysiwyg/feet-support-mobile.jpg"}}" alt="KURU shoes provide the best shoes for heel support" title="Shoes for Heel Support"/>
            </div>
            <div class="blue-heading center-align">Discover the Benefits</div>
            <p class="center-align">Whether you deal with sporadic foot pain, a condition like <a href="http://www.kurufootwear.com/experts-corner/foot-care/plantar-fasciitis/shoes-for-plantar-fasciitis.html">plantar fasciitis</a>, or just want highly comfortable, versatile shoes with support, KURU is your answer. As one customer recently wrote, “My feet have never felt better. I have plantar fasciitis and heel pain and had suffered for years before finding Kuru shoes. These shoes are perfect for me.”</p>
        </div>
    </div>
    <div class="grey-part">
        <div class="grey-part-content">
            <div class="two-column">
                <div class="heading">Free Heel Support Secrets from the Experts</div>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
            <div class="two-column">
                <br class="mobile-only">
                <div class="heading">Shop the best-selling Support Shoes</div>
                <div class="buttons-wrapper center-align tablet-center">
                    <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-heel-pain.html"}}">
                        <span>Women's Support Shoes</span>
                    </a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-heel-pain.html"}}">
                        <span>Men's Support Shoes</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="max-width-wrapper">
        <div class="clear"></div>
        <p class="italic">DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical professional prior to any treatment regimen.</p>
    </div>
</div>