<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="main-banner sustainability-banner">
    <div class="banner-content">
        <div class="heading">KURU CARES™</div>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Let's Make a Difference. Together.</div>
    <p class="intro-text">Imagine if you had the ability to control how your favorite brands give back. With KURU CARES™, you choose how we give back.</p>
    <div class="buttons-wrapper">
        <a class="button blue-button" href="{{store direct_url="sustainability/register-your-product.html"}}"><span>Register Your Purchase</span></a>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Let's Make it Sustainable.</div>
    <p class="intro-text">We have hand-selected causes that focus on The Four Pillars of Sustainability and Social Responsibility™. By meeting these pillars, you can trust the chosen charities will make a lasting difference.</p>
    <div class="icons-part icons-one-line">
        <div class="icon-vertical-wrapper">
            <img class="icon" src="http://kurufootwear.s3.amazonaws.com/media/sustainability/education.png">
            <div class="one-row-icon-text"><p><strong>EDUCATION</strong></p>
			<p>Educating our children towards a brighter future.</p></div>
        </div>
        <div class="icon-vertical-wrapper">
            <img class="icon" src="http://kurufootwear.s3.amazonaws.com/media/sustainability/gear.png">
            <div class="one-row-icon-text"><p><strong>ECONOMIC DEVELOPMENT</strong></p>
			<p>Lifting people out of abject poverty.</p></div>
        </div>
        <div class="icon-vertical-wrapper">
            <img class="icon" src="http://kurufootwear.s3.amazonaws.com/media/sustainability/health.png">
            <div class="one-row-icon-text"><p><strong>HEALTH</strong></p>
			<p>Solving health and disease to help people live longer, happier and better.</p></div>
        </div>
        <div class="icon-vertical-wrapper">
            <img class="icon" src="http://kurufootwear.s3.amazonaws.com/media/sustainability/tree.png">
            <div class="one-row-icon-text"><p><strong>ENVIRONMENTAL IMPACT</strong></p>
			<p>Addressing our environmental impact so all can have a beautiful earth to enjoy</p></div>
        </div>
    </div>
    <div class="buttons-wrapper">
        <a class="button blue-button" href="{{store direct_url="sustainability/register-your-product.html"}}"><span>Register Your Purchase</span></a>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">We view sustainability as a lifestyle, a change of attitude.</div>
        <div class="column-wrapper reverse">
            <div class="two-column">
                <div class="illustration">
                    <img class="technology-image" src="https://ekjbje-fmdginxw.lagrangesystems.net/yEdUJhV88/media/wysiwyg/aSustainability-Page-Mockup.v2_22.jpg.pagespeed.ic.AjW50nWKQC.webp">
                </div>
            </div>
            <div class="two-column">
                <p>Sustainability is about improving the world around us; creating opportunities; and leaving a legacy for our children. All of us have the power to effect social and environmental change. Through KURU Cares™, you can take a small step to improve our world.</p>
                <p>Join us as we make a difference. Simply register your purchase and select your charity of choice.</p>
                <p class="italic">Empowering.</p>
                <a class="button blue-button" href="{{store direct_url="sustainability/register-your-product.html"}}"><span>Register Your Purchase</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="heading">Testimonials</div>
    <div class="three-column">
        <div class="quote">
    		<p><strong>Worth The Wait</strong></p>
            <p>I did the recommended break in (only wear a couple hours a day for a week)on these because I typically stand stationary most of the day. I was having so many issues with heel pain and tried multiple types of shoes for relief... I'm glad I waited it out because they are great...</p>
            <p class="quote-author">~ Nicole</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
    		<p><strong>Customer For Life</strong></p>
            <p>After wearing for just one day this is the best my feet have felt in over a year. I have plantar fasciitis and spent $300 for custom orthotics. They helped some, but nothing like my KURU kinetics. If I had known about KURU a year ago I would have saved a lot of money and a lot of foot pain. Thanks KURU you have a customer for life.</p>
            <p class="quote-author">~ Mike</p>
        </div>
    </div>
    <div class="three-column">
        <div class="quote">
    		<p><strong>5 Pairs and Counting</strong></p>
            <p>These are my 5th pair of KURU'S I am on concrete floors all day and Kuru is the best shoe I have found for pain and soreness in my legs. I have not had a pair I did not like, I do suggest paying attention to the "fit" suggestions from others...Love my KURU'S!!!!</p>
            <p class="quote-author">~ Madeleine</p>
        </div>
    </div>
</div>
<div class="keep-strong-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="heading">Keep strong with KURU!</div>
            <div class="buttons-wrapper">
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
            <p class="small-text">All KURU Shoes come with our revolutionary, patented <strong>KURU</strong>SOLE™ Technology for your plantar fasciitis.</p>
        </div>
    </div>
</div>

<div class="max-width-wrapper center-align">
    <div class="heading">Become a KURU insider</div>
    <p class="intro-text">Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
    {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
</div>
