<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/all.js#xfbml=1&appId=399119726815638";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="main-banner travel-banner">
    <img src="/media/wysiwyg/travel.jpg" alt="KURU travel shoes for amazing comfort" title="Travel Shoes" class="travel-header"/>
    <div class="banner-content">
        <div class="social-links">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_cont second">
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=kurufootwear"></script>
            </div>
            <!-- AddThis Button END -->
        </div>
        <div class="column-wrapper">
            <div class="two-column">
                <div class="heading">KURU TRAVEL SHOES</div>
                <div class="illustration mobile-only">
                    <img src="http://kurufootwear.s3.amazonaws.com/media/travel-shoes/kuru-chicane.png" alt="KURU travel shoes for amazing comfort" title="Travel Shoes">
                </div>
                <p class="mobile-only">Shop Top-Selling Chicane Travel Shoes in:
                    <br>
                    <a href="{{store direct_url="womens-shoes/chicane-womens.html?color=Riveter-Black"}}"> Women's</a> and  <a href="{{store direct_url="mens-shoes/chicane-mens.html?color=Smokestack-Black"}}">Men's</a>
                </p>
                <div class="moto">Leave Your Foot Print on the World</div>
                <p>Shop the Best-Selling Travel Shoes:</p>
                <div class="buttons-wrapper">
                    <a class="button blue-button" href="{{store direct_url="womens-shoes/womens-shoes-for-plantar-fasciitis.html"}}"><span>Women's shoes</span></a>
                    <a class="button blue-button" href="{{store direct_url="mens-shoes/mens-shoes-for-plantar-fasciitis.html"}}"><span>Men's shoes</span></a>
                </div>
            </div>
            <div class="two-column buy-kuru desktop-only">
                <div class="illustration">
                    <img src="http://kurufootwear.s3.amazonaws.com/media/travel-shoes/kuru-chicane.png" alt="KURU travel shoes for amazing comfort" title="Travel Shoes">
                </div>
                <p class="bold">Shop Top-Selling Chicane Travel Shoes in:
                    <br>
                    <a href="{{store direct_url="womens-shoes/chicane-womens.html?color=Riveter-Black"}}"> Women's</a> and  <a href="{{store direct_url="mens-shoes/chicane-mens.html?color=Smokestack-Black"}}">Men's</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="main-banner">
    <img src="http://kurufootwear.s3.amazonaws.com/media/travel-shoes/couple_11.jpg" alt="KURU travel shoes for amazing comfort" title="Travel Shoes" class="couple-img">

    <div class="banner-content">
        <div class="two-column">
            <p>Going somewhere? Picking the right travel shoes is essential to making your vacation the best ever. You have spent too much time and money planning your trip to let bad shoes and tired feet ruin it.</p>

            <p>Most travel shoes promise durability, but they end up bulky and heavy. In addition, most travel shoes are flat inside, which means they can not properly support your feet on those long days.</p>

            <p>What if there were perfect travel shoes that could pack easily and offers versatility from city streets to the mountainside? Imagine complete comfort with a travel shoe that custom molds itself to the contours of your feet, feeling as perfect as a glove.</p>
        </div>
        <div class="two-column">
            <p>KURU is the perfect travel shoe due to our patented <strong>KURU</strong>SOLE™ technology. This powerful technology uses your body heat to custom mold to your unique foot shape. In so doing, you get exceptional comfort for those long days on the other side of the world.</p>

            <p>With KURU, you can go longer on your next trip while virtually eliminating the risk of foot health issues.</p>

            <p class="italic">Be prepared.</p>
        </div>
    </div>
</div>

<div class="dark-blue-part">
    <div class="dark-blue-part-content">
        <div class="heading">THE SECRET OF KURU TRAVEL SHOES?</div>
        <div class="column-wrapper">
            <div class="two-column">
                <p class="italic"><strong>KURU</strong> travel shoes get you the world’s most comfortable travel shoes with the stability and support to take you anywhere. It's no wonder more experts recommend <strong>KURU</strong> travel shoes.</p>
                <div class="illustration">
                    <img class="technology-image" src="http://kuru.s3.amazonaws.com/media/videos/kuruComparisonGIF.gif">
                </div>
            </div>
            <div class="two-column">
                <p class="tecinfo"><strong>KURU</strong>'s technology is different from any other travel shoe. Our patented <strong>KURU</strong>SOLE™midsole includes a space-age orthotic directly molded into the footbed. This orthotic magically flexes inward to cup your heel with every step. This flexing creates a hug for the natural fat pad under your heel, offering unsurpassed comfort for all day wear.</p>

                <p>But we didn't stop there. On top of the <strong>KURU</strong>SOLE™ is a unique, heat reactive foam that uses your body heat to molds to your unique foot.</p>

                <p class="italic">Setting the standard.</p>
                <p class="bold">Shop the Best-Selling Travel Shoes:</p>
                <a class="button blue-button" href="{{store direct_url="womens-shoes.html"}}"><span>Women's shoes</span></a>
                <a class="button blue-button" href="{{store direct_url="mens-shoes.html"}}"><span>Men's shoes</span></a>
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="three-column">
        <div class="heading">For Travel or Every Day</div>
        <div class="quote">
            <p>Provides great arch support and will be a great shoe to wear while traveling or everyday shoe</p>
            <p class="quote-author">~ Brandon M, WV</p>
        </div>
    </div>
    <div class="three-column">
        <div class="heading">Exceptionally Good</div>
        <div class="quote">
            <p>In terms of comfort (and uniqueness), they are an exceptionally good travel shoe". </p>
            <p class="quote-author">~ Dennis R, MT</p>
            <p>(And he would know! Dennis has three pairs of KURU travel shoes which have journeyed with him from the jungles of Thailand to the streets of Ireland!) </p>
        </div>
    </div>
    <div class="three-column">
        <div class="heading">Less Pain</div>
        <div class="quote">
            <p>The cradle like sole is much easier for me to walk in....less pain and discomfort</p>
            <p class="quote-author">~ Carrie K. CA</p>
        </div>
    </div>
</div>

<div class="slider-banner">
    <div class="banner-content">
        <div class="two-column">
            <div class="kuru-slider">
                <div class="slide">
                    <h2>Improved Technology</h2>
                    <p>No matter where you go, <strong>KURU</strong>SOLE™ technology gives you total support and perfect comfort. Every <strong>KURU</strong> shoe is designed around the shape of the foot, which feels better all day long. </p>
                    <p>With KURU, you get superior travel shoes that will help you feel better as you crisscross the globe.</p>
                    <p class="italic">Enjoy the moment.</p>
                </div>
                <div class="slide">
                    <h2>Ideal Travel Shoe</h2>
                    <p>Those who travel often know exactly what to look for in a travel shoe. Lightweight and durable, KURU shoes live up to the hype. Whether you are hiking over the rockies or exploring rain forests, KURU’s quality materials are meant to last.</p>
                    <p class="italic">Proven the world over.</p>
                </div>
                <div class="slide">
                    <h2>Rated the Best</h2>
                    <p><strong>KURU</strong> shoes are the #1 travel shoe out there. You will have energy to spare as your travel shoes go wherever your feet take you!</p>
                    <p>Go ahead, hike up that trail or explore that quaint cobblestone street. Simply live your life to the fullest for a new level of travel bliss.</p>
                    <p class="italic">More energy to feel better.</p>
                </div>
            </div>
        </div>
        <div class="two-column">
            <div class="slider-newsletter">
                <h3>Become a KURU insider</h3>
                <p>Stay up to date with our latest product releases, rewards and much more with our exclusive <strong>KURU</strong> newsletter.</p>
                {{block class="Magento\Newsletter\Block\Subscribe" template="Magento_Theme::html/cms-subscribe.phtml"}}
            </div>
        </div>
    </div>
</div>

<div class="max-width-wrapper">
    <div class="legals">
        DISCLAIMER: The information on this site is for informational purposes and is not a substitute for advice, diagnosis, or treatment by a trained medical professional. If your plantar fasciitis symptoms persist, this could be a sign
        of a more serious condition. Because everyone´s feet and body are different, results are not guaranteed and may vary from the customer experiences and testimonials shared on this site. Always consult a trained medical
        professional prior to any treatment regimen.
    </div>
</div>
