<div class="get-help">
    <div class="block-title">Get Help</div>
    <div class="block-links">
        <ul class="link-list">
            <li class="list-item">
                <a href="{{store url='faq'}}" class="help-links blue">FAQs</a>
            </li>
            <li class="list-item">
                <a href="{{store direct_url='customer-service/shipping-and-delivery.html'}}" class="help-links blue">Shipping Policy</a>
            </li>
            <li class="list-item">
                <a href="{{store direct_url='customer-service/returns-and-exchanges.html'}}" class="help-links blue">Returns & Exchanges</a>
            </li>
            <li class="list-item">
                <a href="{{store direct_url='customer-service/shipping-and-delivery.html'}}" class="help-links blue">International Orders</a>
            </li>
            <li class="list-item">
                <a href="{{store url='contact'}}" class="help-links blue">Contact Us</a>
            </li>
        </ul>
    </div>
</div>

<h1 class="warranty-heading">KURU Warranty Policy</h1>
<h2 class="warranty-heading">100% Peace of Mind</h2>
<p class="intro-text">We strive to give you our signature comfort in the best quality products. Sometimes, a rogue pair slips through our strict Quality Control and onto your feet. Should your shoes fail due to defect of workmanship, you can be confident your purchase is backed by the following warranty:</p>

<div class="warranty-button">
    <a href="{{store direct_url="customer-service/warranty-request.html"}}" id="register-your-purchase" class="button blue-button"><span>SUBMIT A WARRANTY REQUEST</span></a>
</div>

<div class="warranty-part">
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/warranty-guarantee.jpg"}}" alt="" class="warranty-graphics-mob"/>
        </div>
        <p class="part-heading">Six Month Guarantee</p>
        <p>KURU will warrant your purchase for 6 months from the date of purchase for repair or replacement (as determined by KURU).</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/warranty-certainty.jpg"}}"  alt="" class="warranty-graphics-mob" />
        </div>
        <p class="part-heading">Replacement Certainty</p>
        <p>If we no longer have the same shoe, you can choose a similar, in-stock product for replacement.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/warranty-refunds.jpg"}}"  alt="" class="warranty-graphics-mob" />
        </div>
        <p class="part-heading">Refunds</p>
        <p>Refunds are not available as part of our warranty program.</p>
    </div>
</div>
<div class="warranty-part">
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/warranty-wear.jpg"}}"  alt="" class="warranty-graphics-mob" />
        </div>
        <p class="part-heading">Wear and Tear</p>
        <p>This warranty does not cover normal wear and tear, damage from use, discoloration, tears, or normal material breakdown expected over the life of the product, etc. Unfortunately, accidents that cause damage are not covered.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/warranty-fading.jpg"}}"  alt="" class="warranty-graphics-mob" />
        </div>
        <p class="part-heading">Color Fading</p>
        <p>Due to various environmental factors that are beyond our control, color fading is not covered under warranty. When you’re lucky enough to live life in the sunshine, fading can happen.</p>
    </div>
    <div class="three-column">
        <div class="illustration">
            <img src="{{media url="wysiwyg/warranty-international.jpg"}}"  alt="" class="warranty-graphics-mob" />
        </div>
        <p class="part-heading">International</p>
        <p>Were your shoes shipped international? Don’t worry, your order is still covered under this warranty. International shipping fees still apply for replacement pairs shipped internationally.</p>
    </div>
</div>

<div class="warranty-bottom">
    <p>We may request that you ship the defective product back to us as part of the warranty process. KURU reserves the exclusive right to determine if a product qualifies for warranty. Return shipping for warranties are the responsibility of the customer.</p>
    <p>If you have encountered an issue with your KURU shoes that you feel is a warranty issue, please submit a warranty request with details of the problem.</p>
    <h7>We got your back.</h7>
    <div class="warranty-button">
        <a href="{{store direct_url="customer-service/warranty-request.html"}}" id="register-your-purchase" class="button blue-button"><span>SUBMIT A WARRANTY REQUEST</span></a>
    </div>
</div>