<div class="yotpo-wrapper-ugc-1">
    <div class="yotpo-wrapper-ugc-2">
        <div class="yotpo-col1 col yotpo yotpo-pictures-gallery" data-gallery-id="1"></div>
        <a href="https://www.instagram.com/kurufootwear" target="_blank" class="yotpo-col2 col ugc-insta-overlay">
            <div class="tinted"></div>
            <div class="kurulove">
                <p class="kuru bold">#KURU</p><p class="love">LOVE</p>
            </div>
            <div class="instawear">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <p class="wear">@kurufootwear</p>
            </div>
        </a>
        <div class="yotpo-col3 col yotpo yotpo-pictures-gallery" data-gallery-id="1"></div>
    </div>
</div>