<div class="yotpo-wrapper" >
    <p class="yotpo-moto">Work miracles!</p>
    <div class="slider-wrapper">
        <div class="fade-wrapper">
            <div class="yotpo yotpo-reviews-carousel"
               data-background-color="transparent"
               data-mode="top_rated"
               data-type="site"
               data-count="3"
               data-show-bottomline="1"
               data-autoplay-enabled="1"
               data-autoplay-speed="7000"
               data-show-navigation="1">
                &nbsp;
            </div>
        </div>
    </div>
    <a href="{{store url='reviews'}}" class="yotpo-customers">See What Customers are Saying</a>
</div>