<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
 /** @var \Aheadworks\Faq\Block\Article\Article $block */?>
<div class="aw-page-container">
    <p><?php /* @noEscape */ echo $block->getContent() ?></p>
</div>