<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/

/** @var \Aheadworks\Faq\Block\Category\CategoryList $block */
?>
<div class="aw-container <?php /* @noEscape */ echo $block->getDefaultNumberOfColumnsToDisplay() == 1 ? 'columns-to-center' : ''; ?>">
<?php foreach($block->getCategories() as $category): ?>
    <?php $categoryArticles = $block->getCategoryArticles($category); ?>
    <?php $allowedArticlesNumber = $category->getNumArticlesToDisplay(); ?>
    <?php $moreArticles = count($categoryArticles) - $allowedArticlesNumber; ?>
    <?php if ($category->getArticleListIcon()) {
         $articleListIcon = 'class="image-item" style="background:url(' . $block->escapeUrl($block->getArticleListIconUrl($category)) . ')"';
    } else {
         $articleListIcon = '';
    }
    ?>
    <div class="aw-column">
        <section class="article-list">
            <h3 class="category-name">
                <?php if ($block->getCategoryIconUrl($category)) :?>
                    <img class="category-icon" src="<?php echo $block->escapeUrl($block->getCategoryIconUrl($category)); ?>" alt="<?php echo $block->escapeHtml($category->getName()); ?>" />
                <?php endif; ?>
                <a href="<?php echo $block->escapeUrl($block->getCategoryUrl($category)); ?>"><?php echo $block->escapeHtml($category->getName()); ?></a>
            </h3>
            <ul <?php echo $articleListIcon ? '' : 'class="aw-list-style"'; ?>>
                <?php if ($allowedArticlesNumber): ?>
                    <?php while($allowedArticlesNumber): ?>
                        <?php if (isset($categoryArticles[$allowedArticlesNumber-1])): ?>
                            <?php $article = $categoryArticles[$allowedArticlesNumber-1]; ?>
                            <li <?php /* @noEscape */ echo $articleListIcon ?> >
                                <a href="<?php echo $block->escapeUrl($block->getArticleUrl($article)); ?>"><?php echo  $block->escapeHtml($article->getTitle()); ?></a>
                            </li>
                        <?php endif; ?>
                        <?php $allowedArticlesNumber--; ?>
                    <?php endwhile; ?>
                <?php else: ?>
                    <?php foreach ($categoryArticles as $article): ?>
                        <li <?php /* @noEscape */ echo $articleListIcon ?> >
                            <a href="<?php echo $block->escapeUrl($block->getArticleUrl($article)); ?>"><?php echo  $block->escapeHtml($article->getTitle()); ?></a>
                        </li>
                    <?php endforeach; ?>
                <?php endif; ?>
            </ul>
            <?php if ($category->getNumArticlesToDisplay() && $moreArticles > 0):?>
                <a href="<?php echo $block->escapeUrl($block->getCategoryUrl($category)); ?>" class="more-articles-link"><i>Read <?php /* @noEscape */ echo $moreArticles; ?> more articles</i></a>
            <?php endif; ?>
        </section>
    </div>
<?php endforeach ?>
</div>
