<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/

/** @var \Aheadworks\Faq\Block\Category\Category $block */
?>
<?php $category = $block->getCategory(); ?>
<div class="article-list aw-page-container">
    <ul class="aw-list-style">
        <?php foreach($block->getCategoryArticles() as $article): ?>
            <li>
                <a href="<?php echo $block->escapeUrl($block->getArticleUrl($article)); ?>">
                    <?php echo $block->escapeHtml($article->getTitle()); ?>
                </a>
            </li>
        <?php endforeach ?>
    </ul>
</div>
