<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
 /** @var \Aheadworks\Faq\Block\Link $block */ ?>
<li class = "nav item">
    <a href="<?php echo $block->escapeUrl($block->getHref()); ?>">
        <?php echo  $block->escapeHtml($block->getFaqName()); ?>
    </a>
</li>
