<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
 /** @var \Aheadworks\Faq\Block\Article\Article $block */?>
<?php
    $votesYes = $block->getArticle()->getVotesYes();
    $votesNo = $block->getArticle()->getVotesNo();
    if ($votesYes) {
        $ratingMessage = __('(%1% of other people think it was helpful)', ceil($votesYes / ($votesYes + $votesNo) * 100));
    } else {
        $ratingMessage = __('Be the first to vote!');
    }
?>
    <input type="hidden" id="articleId" value="<?php echo (int)$block->getArticle()->getId() ?>">
    <?php if ($block->isAllowedHelpfulness()): ?>
        <div id="aw-faq__helpfulness">
            <span class="<?php /* @noEscape */ echo $block->isVoted() ? '' : 'aw_bold'?>"><?php /* @noEscape */ echo __('Was this helpful?'); ?></span>
            <span id="aw__helpfulness-vote-yes" class="aw_bold <?php echo ($block->getDislikeStatus() || !$block->isVoted()) ? 'aw-no-display' : ''; ?>">
                <?php echo $block->escapeHtml(__('You said "Yes"')); ?>
            </span>
            <span id="aw__helpfulness-vote-no" class="aw_bold <?php echo ($block->getLikeStatus() || !$block->isVoted()) ? 'aw-no-display' : ''; ?>">
                <?php echo $block->escapeHtml(__('You said "No"')); ?>
            </span>
            <?php if ($block->isVoted() && $block->isHelpfulnessRateAfterVotingEnabled()): ?>
                <span id="ratingMessage"><?php echo $block->escapeHtml($ratingMessage); ?></span>
            <?php endif;?>
            <?php if (!$block->isVoted()): ?>
                <span id="aw__helpfulness-voting">
                    <a title="<?php echo  $block->escapeHtml(__('I like it')); ?>" href="#" id="like"><?php echo $block->escapeHtml(__('Yes')); ?></a>&nbsp|&nbsp
                    <a title="<?php echo  $block->escapeHtml(__('I don\'t like it')); ?>" href="#" id="dislike"><?php echo  $block->escapeHtml(__('No')); ?></a>
                </span>
                <span id="ratingMessage" class="<?php echo $block->isHelpfulnessRateBeforeVotingEnabled() ? '' : 'aw-no-display'; ?>">
                    <?php echo $block->escapeHtml($ratingMessage); ?>
                </span>
            <?php endif; ?>
        </div>
    <?php endif; ?>
<script type="text/x-magento-init">
{
    "#aw-faq__helpfulness": {
        "helpfulness" :  {"url":"<?php /* @noEscape */ echo $block->getUrl('faq/article/helpfulness'); ?>"}
    }
}
</script>