// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.amazon-login-login-processauthhash {
    .page-main {
        @include outer-container();
        @include padding(20px);
    }

    .amazon-title {
        color: $clr-video-banner;
        font-family: $montserrat;
        font-size: $f-size-l;
        text-transform: uppercase;
    }

    .amazon-info {

    }
}