// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.braintree-paypal-review, .paypal-express-review {
    .page-main {
        @include outer-container();
        @include padding(20px);

        @include media($tablet) {
            @include padding(10px 20px 20px);
        }
    }

    .please-wait.indicator {
        @include display(none);
    }

    .checkout-main-top {
        @include margin(20px null 40px);

        .page-title {
            float: left;
        }

        .godaddy {
            float: right;
        }

        .questions-text {
            clear: left;

            span {
                @include display(block);

                @include media($desktop-small) {
                    @include display(inline-block);
                }
            }
        }
    }

    .header.content {
        @include media($desktop-small) {
            @include display(flex);
            @include justify-content(space-between);
        }
    }

    .header-right {
        @include display(flex);

        @include media($desktop-small) {
            @include position(relative);
            @include margin(15px null null);
            padding-right: $default-indent;
        }

        .phone-icon {
            @include display(inline-block);
        }

        .phone-icon-image::before {
            @include background-image(url('../images/phone-checkout.svg'));
            @include margin(null 20px null null);
            @include display(inline-block);
            @include size(28px);
            content: '';
        }

        .call-text {
            @include display(none);

            @include media($desktop-small) {
                @include display(inline-block);
                line-height: 18px;
                text-align: left;
            }
        }

        .speak-text {
            text-transform: uppercase;
        }
    }

    .page-title-wrapper {
        @include margin(null null 20px);
    }

    .block-content {
        @include display(flex);
        @include flex-direction(column);
        @include flex-wrap(wrap);

        @include media($tablet) {
            @include flex-direction(row);
        }
    }

    .box {
        @include span-columns(12);
        @include margin(null null 20px);

        @include media($tablet) {
            @include span-columns(6);
        }

        &:nth-of-type(2n) {
            @include margin(null 0 null null);
        }
    }

    .box-title {
        @include display(block);
        @include margin(null null 10px);
    }

    .box-content address {
        @include padding(5px null 5px null);
        font-style: normal;

        * {
            @include margin(5px 0);
        }

        br {
            line-height: 28px;
        }
    }

    .actions-toolbar .checkout {
        @include margin(null null 50px);
        float: right;
    }

    .table-caption {
        @include margin(null null 10px);
        @include padding(null null 10px);
        color: $clr-video-banner;
        font-family: $montserrat;
        font-weight: bold;
        line-height: 17px;
        text-align: left;
        text-transform: uppercase;
    }

    th,
    td {
        @include padding(12px 12px 12px 0);
        background-color: $clr-white;
        text-align: left;
    }

    .cart.item {
        @include margin(20px null);
        @include border-color($clr-silver-chalice);
        @include border-style(solid);
        @include border-width(1px 0 1px);

        .price {
            @include align-items(center);
            @include display(flex);
        }
    }

    .item-wrapper {
        @include display(flex);
    }

    .product-item-details {
        @include padding(null 5px);
        @include justify-content(center);
        @include display(flex);
        @include flex-direction(column);
        @include flex(1);

        @include media($tablet) {
            @include padding(null 20px);
        }
    }

    .price {
        color: $clr-video-banner;
        font-size: $f-size-5xl;
        font-weight: bold;
        line-height: 25px;
    }

    .opc-block-summary {
        @include media($tablet) {
            @include margin(null null null 66%);
            width: 34%;
        }
    }

    .totals-wrap,
    .grand-total {
        @include display(flex);
        @include flex-wrap(wrap);

        .label {
            width: 60%;

            &::after {
                content: ':';
            }
        }

        .value {
            @include flex(1);
            font-size: $f-size;
            text-align: right;
        }
    }

    .grand-total {
        @include margin(10px null null);
        @include padding(10px null null);
        @include border-color($clr-silver-chalice);
        @include border-style(solid);
        @include border-width(1px 0 0);

        .label {
            font-weight: bold;
            text-transform: uppercase;
        }

        .label,
        .value {
            font-size: $f-size-5xl;
        }
    }
}
