// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.checkout-index-index {
    .page-main {
        @include outer-container();
        @include padding($default-indent);
    }

    .page-title-wrapper,
    .authentication-wrapper {
        @include display(none);
    }

    .block-sociallogin {
        @include display(none); // Remove when needed
        overflow: hidden;

        .block-content a.action.sociallogin {
            margin-right: 10px;
        }
    }

    .opc-summary-wrapper {
        @include media($tablet) {
            @include span-columns(4);
            @include margin(null null null calc(100% / 6));
        }

        .table-totals {
            @include margin(30px 0 30px);
        }

        .rewards-points {
            .price {
                @include display(flex);
                @include align-items(center);
            }

            .price::before {
                @include background-image(url('../images/kuru_flag.svg'));
                @include display(inline-block);
                @include size(19px 10px);
                content: '';
                margin-right: 5px;
            }
        }

        .title,
        .table-caption {
            @include display(block);
            @include margin(null null 10px);
            @include padding(null null 10px);
            border-bottom: 1px solid $clr-gallery;
            color: $clr-video-banner;
            font-family: $montserrat;
            font-weight: bold;
            line-height: 17px;
            text-align: left;
            text-transform: uppercase;
        }

        .modal-header {
            @include display(none);
        }
    }

    .checkout-main-top {
        .page-title {
            float: left;
        }

        .godaddy {
            float: right;
        }

        .questions-text {
            clear: left;

            span {
                @include display(block);

                @include media($desktop-small) {
                    @include display(inline-block);
                }
            }
        }
    }

    .checkout-container {
        @include position(relative);

        .opc {
            @include padding(0);
            @include margin(0);
            clear: both;
            list-style-type: none;
        }

        > .content {
            @include margin(40px null null);

            @include media($tablet) {
                @include margin(0);
                @include span-columns(6);
                float: left;
            }
        }
    }

    .opc-progress-bar {
        @include display(flex);
        @include justify-content(center);
        @include padding(0);
        clear: both;
        list-style-type: none;

        @include media($tablet) {
            @include margin(null null 40px);
        }
    }

    .opc-progress-bar-item {
        @include border-color($clr-gallery);
        @include border-style(solid);
        @include border-width(0 0 2px);
        @include margin(1px);
        color: $clr-silver-chalice;
        float: left;
        padding-bottom: 25px;
        text-align: center;
        width: 50%;

        @include media($tablet) {
            @include margin(3px);
            width: 160px;
        }

        &._active {
            @include border-color($clr-pistachio);
            color: $clr-bluewood;
        }
    }

    .step-title {
        @include margin(null null 10px);
        @include padding(null null 10px);
        border-bottom: 1px solid $clr-gallery;
        color: $clr-video-banner;
        font-family: $montserrat;
        font-weight: bold;
        line-height: 17px;
        text-transform: uppercase;
    }

    .input-text {
        @include border-color($clr-silver-chalice);
        @include border-width(1px);

        font-weight: normal;
        height: 40px;
    }

    .actions-toolbar {
        @include display(flex);
        @include justify-content(space-between);

        .primary {
            @include margin(null null 10px);
            width: 100%;

            .login {
                @include margin(0);
                min-width: 120px;

                @include media($mobile-medium) {
                    min-width: 170px;
                }
            }

            .action {
                @include display(inline-block);
                width: 100%;
            }
        }

        .secondary {
            @include display(flex);
            @include justify-content(center);
            @include flex-direction(column);
        }

        .continue,
        .action.checkout {
            > span::after {
                @include display(inline-block);
                @include background(url('../images/lock.svg'));
                @include size(10px 12px);
                content: '';
                margin-left: 5px;
            }
        }
    }

    .braintree-paypal-actions {
        @include flex-direction(column);

        .payment-method-type::after {
            @include margin(null null null 2px);
            content: '-';
        }
    }

    .credit-wrapper {
        @include display(flex);
        @include margin(10px null 20px);
        @include flex-direction(column);

        @include media($tablet) {
            @include margin(20px null);
            @include flex-direction(row);
        }

        .legacy-border {
            @include padding(20px);
            @include margin(10px null);
            @include border-width(2px);
            @include border-style(solid);
            @include border-color($clr-pistachio);
            border-radius: 3px;
            width: 100%;

            @include media($tablet) {
                @include margin(0 10px 0 null);
                width: 75%;
            }

            .type {
                @include display(none);
            }

            .primary {
                @include margin(null null 0);
            }
        }

        .security-badges {
            @include display(flex);
            @include flex-direction(column);
            @include margin(10px null);
            width: 100%;

            @include media($tablet) {
                @include margin(10px null 20px);
                width: 25%;
            }
        }

        .ssl-logo,
        .ssl-info {
            @include display(block);
            @include margin(null null 10px);
        }

        .ssl-logo {
            background: {
                image: url('../images/ssl_logo.png');
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 32px;
            width: 132px;
        }

        .godaddy-logo {
            background: {
                image: url('../images/godaddy_logo.png');
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: 32px;
            width: 132px;
        }
    }

    .payment-method-billing-address {
        @include margin(0);

        .actions-toolbar {
            .primary {
                @include margin(0);
            }
        }
    }

    .amazon-widget-container {
        clear: both;

        .widget-container {
            z-index: 0;
        }
    }

    .revert-checkout.button {
        @include margin(null null 10px);
    }

    .checkout-shipping-address,
    .checkout-new-shipping-address,
    .checkout-billing-address,
    .billing-new-address-form {
        clear: both;

        .amazon-button-container,
        .amazon-button-container + .action-show-popup.secondary-button {
            @include display(none);
        }

        input::placeholder {
            text-transform: none;
        }

        .input-text,
        .selectric-select {
            @include margin(null null 8px);
        }

        .action {
            float: none;
            width: 100%;

            &.login {
                @include margin(0 0 5px);
            }

            &.remind {
                @include margin(0 0 5px);
                @include display(inline-block);
            }
        }

        .field._required,
        .field.required {
            > .label::after {
                color: $clr-cinnabar;
                content: '*';
            }
        }

        .field {
            @include display(flex);
            @include margin(0 0 5px);
            float: none;
            min-width: 100%;


            > .label {
                @include display(none);
                @include margin(10px 20px null null);
                color: $clr-video-banner;
                line-height: 18px;
                text-transform: uppercase;

                @include media($tablet) {
                    @include span-columns(4);
                }
            }

            > .control {
                @include flex-grow(1);
            }

            .message {
                @include margin(0 0 5px);
            }
        }

        .street.field {
            @include display(block);
            @include padding(0);
            @include margin(null 0 0);
            @include border-width(0);

            .control {
                @include display(inline-block);
                min-width: 0;
                width: 100%;

                @include media($tablet) {
                    @include span-columns(8);
                }

                .label {
                    @include display(none);
                }

                .control,
                .field {
                    @include display(block);
                    min-width: 0;
                    width: 100%;

                    @include media($tablet) {
                        min-width: 100%;
                    }
                }

                .input-text {
                    width: 100%;
                }
            }
        }

        .field-tooltip {
            @include display(none);
        }

        .note {
            @include margin(10px null null);

            @include media($tablet) {
                @include display(block);
            }
        }

        .shipping-address-item {
            @include border-color($clr-transparent);
            @include border-style(solid);
            @include border-width(1px);
            @include padding(10px);
            @include position(relative);
            margin-bottom: 10px;

            @include media($tablet) {
                @include span-columns(6);
            }

            &:nth-child(2n) {
                margin-right: 0;
            }

            &.selected-item {
                @include border-color($clr-picton-blue);
            }

            &.selected-item::after {
                @include size(30px);
                background: $clr-picton-blue url('../images/checkmark.svg') center no-repeat;
                background-size: 20px;
                color: $clr-white;
                content: '';
                position: absolute;
                right: 0;
                top: 0;
            }

            &.selected-item .action-select-shipping-item {
                opacity: 0;
                visibility: hidden;
            }

            .address {
                @include margin(10px null null);

                br {
                    @include display(none);
                }

                .line {
                    @include margin(10px 0);
                }

                .line:first-of-type {
                    @include margin(0 0 10px);
                }
            }

            .action-select-shipping-item {
                @include calc(width, '100% + 20px');
                @include margin(0 -10px);
                @include transition(opacity .5s linear);
                opacity: 1;

                @include media($tablet) {
                    @include margin(0);
                    width: 100%;
                }
            }
        }

        .form-login {
            @include margin(20px null null);

            .fieldset {
                @include padding(0);
                @include margin(0);
                @include border-width(0);
            }
        }
    }

    .checkout-billing-address {
        padding-bottom: 30px;

        button {
            width: 100%;
        }
    }

    .billing-address-same-as-shipping-block {
        input {
            @include position(relative, 3px null null);
        }
    }

    .addresses + .form-shipping-address {
        @include margin(30px null null);
    }

    .payment-method-braintree .action-cancel {
        @include margin(null null 10px);
    }

    .form-shipping-address,
    .billing-new-address-form,
    .payment-method-billing-address,
    .form-login {
        .field {
            @include display(flex);

            > .control {
                @include media($tablet) {
                    @include span-columns(8);
                }
            }
        }

        .choice {
            > .label {
                @include display(inline-block);
                @include margin(10px 0);
                @include padding(null null null 25px);
                text-transform: none;
            }

            .checkbox {
                @include position(absolute, 11px null null);
            }
        }

        .control {
            @include flex-grow(1);
        }
    }

    .form-login {
        .note {
            margin-top: 0;
        }

        .actions-toolbar {
            @include display(block);
            margin-top: 10px;

            @include media($tablet) {
                @include span-columns(8);
                float: right;
            }
        }

        .action.login {
            @include padding(14px null);

            @include media($desktop-small) {
                @include padding(12px null);
            }
        }

        .action.remind {
            margin-bottom: 15px;

            span {
                float: right;
            }
        }
    }

    .table-checkout-shipping-method {
        .title-wrapper {
            height: 30px;
            vertical-align: bottom;
        }

        .opc-continue {
            @include margin(20px null null);
        }

        input[type="radio"] {
            + .label::before {
                top: 9px;
            }

            &:checked + .label::after,
            + .label:hover::after {
                top: 10px;
            }
        }
    }

    .minicart-items {
        @include padding(0);
        list-style: none;

        .product-item {
            @include margin(null null 10px);

            .product {
                min-height: 80px;
            }
        }

        .product-image-container {
            @include display(inline-block);
            @include margin(null 10px null null);
            float: left;
        }

        .label,
        .values,
        .item-options {
            @include display(inline-block);
        }

        .product-item-name {
            font-family: $montserrat;
            text-transform: uppercase;
        }

        .cart-price {
            color: $clr-video-banner;
            font-weight: bold;
            line-height: 18px;
        }

        .label {
            color: $clr-video-banner;
            line-height: 18px;
            min-width: 60px;
            text-transform: uppercase;

            &::after {
                content: ':';
            }
        }

        .values {
            @include margin(0);
            color: $clr-corduroy;
        }

        .subtotal {
            float: right;
        }

        .product.options {
            @include margin(10px null null);
        }

        .item-options {
            width: calc(100% - 88px);
        }

        .option {
            @include display(flex);
            @include margin(2.5px 0);
        }
    }

    .minicart-cms-block {
        @include margin(0);
    }

    .table-totals {
        .totals,
        .rewards-points,
        .totals-tax {
            @include background(none);
            @include display(flex);
            @include justify-content(space-between);
            @include align-items(center);
            width: 100%;

            .amount {
                @include padding(null 0 null nulll);
                color: $clr-bluewood;
                font-weight: bold;
                text-align: right;
            }

            .mark::after {
                @include margin(null null null -3px);
                content: ':';
            }

            .mark {
                @include background(none);
                @include padding(5px 0);
                @include position(relative, 0 null null 0);
                font-weight: normal;
                text-align: left;
                width: 100%;
            }
        }

        .rewards-points {
            .mark::after {
                @include margin(null null null 0);
            }
        }

        .grand {
            @include margin(12px null null);
            @include padding(10px null null);
            border-top: 1px solid $clr-gallery;
            font-size: 20px;

            .mark {
                font-weight: bold;
                text-transform: uppercase;
            }

            .amount::before {
                @include display(none);
            }
        }
    }

    .required-note {
        @include display(none);
        @include margin(15px 0);
        color: $clr-corduroy;

        @include media($tablet) {
            @include display(block);
        }
    }

    .required-note::before {
        color: $clr-cinnabar;
        content: '*';
    }

    .comment-form {
        .field.wrapper {
            max-width: 100%;
        }

        .input-text {
            min-height: 40px;
        }

        .comment-title {
            @include margin(30px null 15px);
            @include padding(null null 10px);
            @include border-width(0 0 1px);
            @include border-style(solid);
            @include border-color($clr-gallery);
            min-width: 100%;

            .title {
                @include display(inline-block);
                color: $clr-video-banner;
                font-family: $montserrat;
                font-weight: bold;
                line-height: 17px;
                text-transform: uppercase;
            }
        }
    }

    .checkout-shipping-method {
        @include margin(30px 0);
        clear: both;
        min-width: 70px;

        .table-checkout-shipping-method {
            width: 100%;

            thead {
                @include display(none);
            }
        }

        .row {
            > .col-method {
                @include padding(0);
                width: 100%;
            }
        }

        .label {
            @include padding(7px 0 7px 20px);
            @include display(flex);
            @include justify-content(space-between);
            width: 100%;

            .col {
                @include flex-grow(0);
            }

            .col-price {
                @include padding(null 0 null 12px);
                font-weight: bold;
            }
        }

        .col-info {
            @include margin(null null null 10px);
            @include flex-grow(1);

            .col {
                @include padding(0);
                line-height: 20px;
            }

            .col-method {
                @include margin(null 5px null null);
            }
        }
    }

    .opc-sidebar {
        @include background($clr-white);

        @include media($tablet) {
            @include margin(0);
            @include span-columns(6);
            float: right;
        }

        @include media($desktop-small) {
            @include span-columns(4);
            float: right;
        }
    }

    .shipping-information {
        @include margin(30px null 20px);
        clear: both;

        .shipping-information-content {
            @include span-columns(8);
            @include margin(10px null 10px);
            float: none;

            br {
                line-height: 30px;
            }
        }

        .shipping-information-title {
            @include display(flex);
            @include justify-content(space-between);
            @include margin(null null 10px);
            @include padding(null null 10px);
            @include border-width(0 0 1px);
            @include border-style(solid);
            @include border-color($clr-gallery);

            .title {
                @include display(inline-block);
                color: $clr-video-banner;
                font-family: $montserrat;
                font-weight: bold;
                line-height: 17px;
                text-transform: uppercase;
            }

            .action-edit {
                @include background(none);
                @include display(inline-block);
                @include padding(0);
                @include margin(0);
                color: $clr-corduroy;
                float: none;
                font-size: $f-size-xs;
                min-width: 0;
                text-transform: capitalize;
                vertical-align: middle;
                width: auto;
            }

            .edit-icon {
                @include display(inline-block);
                @include margin(null 8px null null);
                background: {
                    image: url('../images/edit.svg');
                    position: center;
                    size: 15px;
                }
                height: 15px;
                vertical-align: middle;
                width: 15px;
            }
        }
    }

    .checkout-payment-method {
        @include margin(30px null null);

        @include media($tablet) {
            @include margin(0 null null);
        }

        .payment-method-billing-address {
            @include margin(null null 0);
        }

        .field-select-billing > .label {
            @include display(none);
        }

        .legend,
        .payment-method-title img {
            @include display(none);
        }

        .field {
            float: none;
        }

        .step-title {
            @include margin(0);
        }

        .payment-option-title {
            @include margin(15px 0);
        }

        .payment-method {
            @include border-width(0 0 1px);
            @include border-style(solid);
            @include border-color($clr-gallery);

            .payment-method-content {
                @include display(none);
            }

            &._active .payment-method-content,
            &.active .payment-method-content {
                @include display(block);
            }

            .action-edit-address {
                @include display(block);
                min-width: 100%;
            }
        }

        .payment-method-title {
            @include margin(15px 0);
            max-width: 90%;

            .label {
                line-height: 20px;
            }
        }

        .action.checkout {
            @include button-transition($clr-pistachio, $clr-pistachio-hover);
        }

        .credit-card-types {
            @include padding(0);
            @include margin(null null 10px);
            list-style: none;

            .item {
                @include display(inline-block);
            }
        }

        .braintree-paypal-fieldset,
        .fieldset {
            @include padding(0);
            @include margin(10px 0 0);
            @include border-width(0);
        }

        .field-tooltip {
            .field-tooltip-action,
            .field-tooltip-content {
                @include display(none);
            }

            img {
                max-width: 100%;
            }
        }

        .billing-address-details {
            @include span-columns(8);
            @include margin(10px null null);
            float: none;
            width: 100%;

            br {
                line-height: 30px;
            }
        }
    }

    .payment-group:not(:first-of-type) {
        .step-title {
            @include display(none);
        }
    }

    .expire-info {
        color: $clr-dusty-gray;
    }

    .payment-method-content {
        > p {
            @include display(none);
        }

        .field {
            @include margin(0);

            .type {
                min-width: 100%;
            }
        }

        .field.number,
        .field.cvv {
            float: none;
            min-width: 100%;

            > .label {
                color: $clr-video-banner;
                line-height: 18px;

                @include media($tablet) {
                    @include span-columns(5);
                }
            }

            > .control {
                @include media($tablet) {
                    @include span-columns(7);
                }
            }

            #braintree_expirationMonth,
            #braintree_expirationYear {
                @include span-columns(6);
                @include display(inline-block);
                @include margin(0 0 10px);
                color: $clr-video-banner;
                line-height: 18px;
            }

            #braintree_expirationMonth {
                @include margin(0 2% 10px 0);
            }
        }

        .hosted-error,
        .legend + br {
            @include display(none);
        }

        .credit-card-types {
            @include display(flex);
            @include flex-wrap(wrap);
            @include justify-content(center);
        }

        .hosted-control {
            @include border-color($clr-dusty-gray);
            @include border-style(solid);
            @include border-width(1px);
            @include padding(16px);
            @include margin(null null 10px);
            -webkit-appearance: none;
            color: $clr-bluewood;
            font-size: $base-font-size;
            font-weight: 600;
            height: 48px;
            line-height: 24px;
            transition: border 0.25s ease-in-out;
            width: 100%;

            @include media($tablet) {
                @include padding(12px);
                height: 40px;
                line-height: 18px;
            }

            &.mage-error {
                @include border-color($clr-cinnabar);
                color: $clr-cinnabar;
            }

            &:hover,
            &:focus {
                @include border-color($clr-picton-blue);
            }

            &.braintree-hosted-fields-invalid.braintree-hosted-fields-valid,
            &.braintree-hosted-fields-invalid:focus,
            &.braintree-hosted-fields-invalid:hover,
            &.braintree-hosted-fields-invalid {
                @include border-color($clr-cinnabar);
            }

            &.braintree-hosted-fields-valid:focus,
            &.braintree-hosted-fields-valid:hover,
            &.braintree-hosted-fields-valid {
                @include border-color($clr-pistachio);
            }
        }
    }

    .amazon-widget--address {
        height: 215px;
        width: 410px;
    }

    .amazon-widget {
        height: 228px;
        max-width: 400px;
    }
}
