// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.checkout-index-index,
.checkout-cart-index {
    .checkout-container,
    ._block-content-loading {
        @include position(relative);

        .loading-mask {
            @include background($clr-black-zero-five);
            @include position(absolute, 0 null null null);
            height: 100%;
            width: 100%;
        }

        .loader {
            @include position(absolute, calc(50% - 32px) null null calc(50% - 32px));
            animation: spin $duration linear infinite;
            background: url('/media/wysiwyg/loader.svg') no-repeat;
            height: 64px;
            transform: translate(-50%, -50%);
            width: 64px;

            * {
                @include display(none);
            }
        }
    }

    > .loading-mask {
        @include position(fixed, 0 0 0 0);
        @include background($clr-black-zero-five);
        height: 100%;
        width: 100%;
        z-index: 6;

        .loader {
            @include position(absolute, calc(50% - 32px) null null calc(50% - 32px));
            animation: spin $duration linear infinite;
            background: url('/media/wysiwyg/loader.svg') no-repeat;
            height: 64px;
            transform: translate(-50%, -50%);
            width: 64px;

            * {
                @include display(none);
            }
        }

        p {
            @include display(none);
        }
    }
}
