// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.checkout-cart-index {
    .block-rewards-form {
        @include padding($default-indent);

        @include media($tablet) {
            @include padding(0);
        }
    }

    .reward-discount-form {
        @include padding(15px);
        background: {
            color: $clr-grey-white;
            image: url('../images/kuru_flag_bg.svg');
            position: right -2px;
            repeat: no-repeat;
            size: auto 70%;
        }
        clear: both;

        @include media($tablet) {
            @include margin(0);
        }

        .login-link {
            @include margin(null 5px null 0);
        }

        .register-link {
            @include margin(0);
        }

        .link {
            @include display(inline-block);
            text-decoration: underline;
        }

        .wrapper-available {
            @include display(flex);
            @include flex-direction(column);

            @include media($tablet) {
                @include display(inherit);
            }

            @include media($desktop-small-l) {
                @include display(flex);
                @include flex-direction(row);
            }

            .header {
                @include display(inline-block);
                @include flex-shrink(0);
                width: 230px;
            }

            .title {
                color: $clr-bluewood;
                font-family: $montserrat;
                font-size: $f-size;
                font-weight: bold;
                line-height: 17px;
            }

            .instructions {
                color: $clr-bluewood;
            }

            .available-amount {
                @include margin(0 0 0 5px);
            }


        }

        .input-slider {
            @include margin(20px 0);
            text-align: right;
            width: 100%;
        }

        .wrapper-used {
            @include display(flex);
            @include flex-direction(row-reverse);

            @include media($tablet) {
                @include display(inherit);
            }

            @include media($tablet-medium) {
                @include display(flex);
            }

            .checkbox-group {
                @include display(inline-block);
                @include flex-shrink(0);
                width: 155px;
            }

            .label-checkbox {
                @include padding(5px);
                font-size: $f-size;
            }

            .used-amount {
                @include margin(0 0 0 5px);
            }
        }

        .currency-wrapper {
            @include display(inline-block);
        }

        .amount {
            font-size: $f-size-s;
            text-align: right;
            width: 100%;

            * {
                vertical-align: middle;
            }

            .kuru-currency {
                @include display(inline-block);
                background: {
                    image: url('../images/kuru_flag.svg');
                    position: center;
                    repeat: no-repeat;
                }
                color: $clr-black-zero;
                height: 10px;
                width: 20px;
            }

            .points {
                font-family: $montserrat;
                font-size: $f-size;
                line-height: 17px;
            }
        }



        .checkbox-group {
            font-size: $f-size-xxxs;
        }
    }
}
