// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.checkout-cart-index {
    .table {
        tr,
        th {
            @include background(none);
            @include padding(0);
        }
    }

    .cart-empty-wrapper {
        @include padding(null $default-indent 50px);
        text-align: center;
    }

    .page-main {
        @include position(relative);

        @include media($tablet) {
            @include margin(20px null null);
        }

        @include media($desktop-small) {
            @include margin(0 null null);
        }
    }

    .cart-empty {
        &,
        * {
            @include display(block);
            @include margin(null auto null);
            text-align: center;
        }

        .empty-icon {
            width: 50%;

            @include media($mobile-medium-l) {
                width: 25%;
            }

            @include media($tablet) {
                width: 20%;
            }
        }
    }

    .continue.button {
        @include display(inline-block);
        @include margin(20px null null);
        @include padding(null 16px);
        float: none;
    }

    .cart-empty-wrapper,
    .cart-container,
    .page-title-wrapper {
        @include media($tablet) {
            @include margin(0 auto);
            @include padding(null $default-indent);
            max-width: $desktop;
        }
    }

    .cart-container {
        padding-bottom: 50px;
        
        > .button-wrapper {
            @include margin(0 auto);
            max-width: calc(100% - 40px);

            @include media($tablet) {
                @include position(absolute, 0 0 null);
                max-width: $max-width;
            }

            .action.checkout {
                @include media($tablet) {
                    @include position(absolute, 10px 20px null null);
                    @include span-columns(4);
                }

                @include media($desktop-small) {
                    max-height: 35px;
                }
            }
        }
    }

    .page-title-wrapper {
        @include padding($default-indent);

        .page-title {
            @include margin(0);
        }
    }

    a.checkout {
        @include margin(0 null 10px);
        @include padding(14px null);
        z-index: 3;

        @include media($tablet) {
            @include margin(null null 10px);
        }

        @include media($desktop-small) {
            @include padding(10px null);
        }

        .checkout-lock-icon {
            @include margin(null null null 6px);
            height: 18px;
        }

        * {
            vertical-align: middle;
        }
    }

    .form-cart {
        @include padding($default-indent null);
        clear: both;

        .product-item-details {
            @include media($tablet) {
                float: right;
            }
        }
    }

    .cart.table-wrapper {
        @include media($tablet) {
            @include border-color($clr-gallery);
            @include border-style(solid);
            @include border-width(2px 0);
        }

        thead {
            border-bottom: 2px solid $clr-gallery;
        }

        th {
            @include padding(10px null);
            border: 0;
        }

        .cart.item {
            @include border-color($clr-alabaster);
            @include border-style(solid);
            @include border-width(4.5px 0);
            @include clearfix;

            @include media($tablet) {
                @include display(table-row-group);
                border: 0;
            }

            &:first-of-type {
                border-top-width: 9px;
            }

            &:last-of-type {
                border-bottom-width: 9px;
            }
        }

        .item-info {
            @include border-color($clr-gallery);
            @include border-style(solid);
            @include border-width(1px 0);
            @include clearfix;

            @include media($tablet) {
                @include display(table-row);
                border: 0;
            }

            td {
                border: 0;
                padding-left: 0;

                @include media($tablet) {
                    padding-left: 8px;
                }
            }

            td::before {
                @include display(none);
            }

            td:first-of-type {
                padding-left: 0;
            }

            td:last-of-type {
                padding-right: 0;
                text-align: right;
            }

            .message {
                border: 0;
            }
        }

        .col.item {
            @include display(flex);
            @include align-items(center);
        }

        .product-item-photo {
            padding-right: 20px;
        }

        .product-image-container {
            @include display(block);
        }

        .product-item-details {
            padding-right: $default-indent;
            text-align: left;
        }

        .item-options {
            @include clearfix;

            > * {
                float: left;
            }
        }

        .item-option-label {
            clear: both;
            color: $clr-bluewood;
            padding-right: 10px;
            text-transform: uppercase;

            @include media($desktop-small) {
                clear: none;
            }
        }

        .item-option-value {
            @include margin(0);
            min-width: 60px;
            padding-right: 20px;
        }

        .col.price {
            float: left;
            padding-left: 128px;

            @include media($tablet) {
                float: none;
                min-width: 100px;
                padding-left: 0;
            }
        }

        .cart-price {
            color: $clr-bluewood;
            font-weight: bold;
        }

        .col.qty,
        .col.item-actions {
            @include display(inline-block);
            @include padding(0);
            border-top: 1px solid $clr-gallery;
            float: left;

            @include media($tablet) {
                @include display(table-cell);
                @include padding(8px 13px);
                border: 0;
                float: none;
            }
        }

        .col.qty {
            @include calc(width, '100% - 120px');

            @include media($tablet) {
                width: auto;
            }
        }

        .field.qty {
            @include display(flex);
            @include align-items(center);
            @include margin(0);
            float: left;
            height: 55px;

            @include media($desktop-small) {
                @include justify-content(space-between);
            }

            .label {
                @include padding(null 20px);
                color: $clr-bluewood;
                text-align: left;
                text-transform: uppercase;

                @include media($tablet) {
                    @include display(none);
                }
            }

            .qty-input {
                @include display(flex);
            }

            .fa,
            .update-cart-item {
                color: $clr-silver-chalice;
            }

            .empty-space {
                @include media($tablet) {
                    width: 30px;
                }
            }

            .plus-minus {
                @include display(flex);
                @include align-items(center);
            }

            .plus,
            .minus,
            .cart-item-qty {
                @include media($tablet) {
                    @include border-color($clr-gallery);
                    @include border-style(solid);
                }
            }

            .plus,
            .minus {
                @include padding(5px);
                cursor: pointer;

                @include media($tablet) {
                    @include background($clr-gallery);
                    @include border-width(1px);
                    @include padding(13px 7px 14px);
                }
            }

            .cart-item-qty {
                @include border-width(0);
                @include padding(null 0);
                font-weight: normal;
                height: 50px;
                text-align: center;
                width: auto;

                @include media($tablet) {
                    @include border-width(1px 0);
                    @include padding(null 8px);
                }
            }

            .update-cart-item {
                @include background(none);
                @include margin(0);
                @include padding(0 20px);
                font-size: $f-size;
                min-width: 0;
                visibility: hidden;
                width: auto;

                @include media($tablet) {
                    @include padding(null 10px);
                }
            }
        }

        .col.subtotal {
            @include display(none);

            @include media($tablet) {
                @include display(table-cell);
            }
        }

        .action-towishlist {
            @include display(none);
        }

        .actions-toolbar {
            overflow: hidden;

            @include media($desktop-small) {
                @include display(flex);
                @include justify-content(space-between);
            }
        }

        .action-edit,
        .action-delete {
            @include border-color($clr-gallery);
            @include border-style(solid);
            @include border-width(0 0 0 1px);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            @include size(60px 55px);
            float: left;

            @include media($desktop-small) {
                border: 0;
                width: auto;
            }
        }

        .action-edit {
            @include media($desktop-small) {
                margin-right: 10px;
            }
        }

        .edit-icon,
        .delete-icon {
            @include size(15px);
            background-size: 15px;

            @include media($desktop-small) {
                margin-right: 8px;
            }
        }

        .edit-icon {
            @include background-image(url('../images/edit.svg'));
        }

        .delete-icon {
            @include background-image(url('../images/delete.svg'));
        }

        .edit-text,
        .delete-text {
            @include display(none);

            @include media($desktop-small) {
                @include display(inline-block);
                color: $clr-corduroy;
                font-size: $f-size-xs;
                text-transform: none;
            }
        }
    }

    .cart-summary {
        @include clearfix;

        @include media($tablet) {
            @include display(flex);
        }

        > .cart-discounts:nth-of-type(1) {
            @include media($tablet) {
                @include margin(null auto null null);
            }
        }
    }

    .cart-discounts,
    .crosssell,
    .cart-shipping-totals {
        @include media($tablet) {
            @include span-columns(4);
        }
    }

    .crosssell .block-title,
    .discount .title {
        color: $clr-bluewood;
        font-family: $montserrat;
        font-size: $f-size;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .crosssell {
        @include padding(null $default-indent);

        @include media($tablet) {
            @include padding(null 0);
        }

        .product-items {
            max-width: none;
        }

        .product-item {
            padding-bottom: 10px;
        }

        .product-item-details,
        .upper-details,
        .bottom-details {
            @include display(flex);
        }

        .bottom-details {
            @include justify-content(space-between);
        }

        .yotpo-small {
            @include align-items(center);

            &,
            .star-clickable {
                @include display(flex);
            }

            .yotpo-stars {
                @include margin(null 5px null null);
            }
        }

        .items-wrapper {
            @include flex(1);
        }

        .upper-details {
            @include justify-content(space-between);
        }

        .add-to-bag {
            width: auto;
        }

        .tocart.blue-button {
            @include margin(0 0 0 10px);
            @include padding(12px null);
            min-width: 0;
        }

        .button-title {
            @include display(inline-block);
            font-size: $f-size;
            line-height: 22px;
            white-space: nowrap;
            width: auto;

            @include media($desktop-small) {
                font-size: $f-size-xs;
            }
        }

        .short {
            @include display(block);

            @include media($mobile-medium) {
                @include display(none);
            }

            @include media($tablet) {
                @include display(block);
            }

            @include media($desktop-small) {
                @include display(none);
            }
        }

        .long {
            @include display(none);

            @include media($mobile-medium) {
                @include display(block);
            }

            @include media($tablet) {
                @include display(none);
            }

            @include media($desktop-small) {
                @include display(block);
            }
        }

        .type-text {
            @include margin(null null 10px);
            color: $clr-corduroy;
            font-family: $source-sans-pro;
            font-size: $f-size-xs;
        }

        .product-item-photo {
            @include display(inline-block);
            @include margin(7px 20px 7px null);
            float: left;
        }

        .price-box {
            color: $clr-ebony-clay;
            float: left;
            font-family: $source-sans-pro;
            font-size: $f-size-5xl;
            font-weight: bold;
        }

        .yotpo {
            clear: inherit;
            float: right;

            .yotpo-icon {
                float: left;
            }
        }

        .list {
            span {
                float: none;
                max-width: none;
            }
        }

        .type-text,
        .yotpo-icon,
        .yotpo-stars,
        .yotpo-display-wrapper,
        .product-image-wrapper,
        .product-image-container {
            width: 100%;
        }
    }

    .cart-discounts {
        .discount {
            @include padding(null $default-indent 20px);
            margin-top: 20px;
            overflow: hidden;

            @include media($tablet) {
                @include padding(null 0);
            }
        }

        .field {
            @include media($desktop-small) {
                width: 55%;
            }

            .input-text {
                @include media($desktop-small) {
                    height: 38px;
                }
            }
        }

        .actions-toolbar {
            @include media($desktop-small) {
                float: right;
                width: 42%;
            }

            .action {
                margin-top: 0;
                min-width: 0;
                width: 100%;
            }

            .long {
                @include media($desktop-small) {
                    @include display(none);
                }
            }

            .short {
                @include bp('max-width', $desktop-small - 1) {
                    @include display(none);
                }
            }
        }
    }

    .cart-totals {
        @include padding(20px 0 null);

        @include media($tablet) {
            @include padding(20px 0 null);
        }

        .table-caption {
            @include display(none);
        }
    }

    .checkout-methods-items {
        @include clearfix;
        @include padding(0 $default-indent);
        list-style-type: none;

        @include media($tablet) {
            @include padding(0);
        }

        .item {
            @include background($clr-white);
            @include calc(width, '100% + 2*#{$default-indent}');
            @include padding(0 $default-indent 10px);
            margin-left: -$default-indent;

            @include media($tablet) {
                @include span-columns(4);
                @include margin(0);
                @include padding(0);
            }

            &:first-of-type {
                @include media($tablet) {
                    float: left;
                }
            }

            &:not(:first-of-type) {
                @include media($tablet) {
                    clear: right;
                    float: right;
                }
            }

            &.scroll-to-fixed-fixed {
                @media (max-width: $tablet) {
                    overflow: visible;
                    width: 100%;
                }
            }

            &.scroll-to-fixed-fixed::before,
            &.scroll-to-fixed-fixed::after {
                @media (max-width: $tablet) {
                    @include border-color($clr-white);
                    @include border-style(solid);
                    @include background($clr-white);
                    @include calc(width, '100% + 2*#{$default-indent}');
                    content: '';
                    height: 22px;
                    opacity: 1;
                    z-index: 2;
                }
            }

            &.scroll-to-fixed-fixed::before {
                @media (max-width: $tablet) {
                    @include border-width(0);
                    @include position(absolute, null null -20px -20px);
                }
            }

            &.scroll-to-fixed-fixed::after {
                @media (max-width: $tablet) {
                    @include border-color($clr-gallery);
                    @include border-width(1px 0 0 0);
                    @include position(absolute, -21px null null -20px);
                }
            }
        }

        .disabled button:not(.continue) {
            cursor: default;
            opacity: .5;
            pointer-events: none;
        }

        .action-braintree-paypal-logo {
            @include padding(14px null);
            @include margin(0 0 10px);
            @include background($clr-white);
            float: none;

            @include media($desktop-small) {
                @include padding(10px null);
            }

            .braintree-info {
                @include margin(null 6px null null);
                vertical-align: middle;
            }

            .braintree-paypal-button-logo {
                height: 18px;
                vertical-align: middle;
            }

            .braintree-paypal-button-hidden {
                @include position(absolute, 0 0 0 0);
                min-height: 100%;
                min-width: 100%;
                z-index: 2;
            }
        }
        
        .action-paypal-express-logo {
            height: 42px;
            
            .button-content {
                padding: 12px 17px;
            }
        }

        .checkout.paypal {
            @include position(relative);
        }

        .paypal-info-tooltip {
            @include display(none);

            @include media($tablet) {
                @include display(inline-block);
                @include position(absolute, null null 13px -30px);
            }
        }

        .paypal-logo {
            &.after {
                display: none;
            }
        }

        .amazon-minicart-container {
            @include position(relative);
        }

        .amazon-button {
            @include background($clr-white);
            overflow: hidden;

            .amazon-title {
                @include margin(null 6px null null);
                vertical-align: middle;
            }

            .amazon-icon {
                height: 18px;
                vertical-align: middle;
            }
        }

        .amazon-button-container {
            @include margin(0 null 10px);
        }

        .amazon-info-tooltip {
            @include display(none);

            @include media($tablet) {
                @include display(inline-block);
                @include position(absolute, 13px null 0 -30px);
            }
        }

        .info-tooltip-icon {
            width: 20px;
            height: 20px;
        }

        .login-with-amazon img:last-of-type {
            @include position(absolute, 0 0 0 0);
            max-height: 100% !important;
            max-width: 100% !important;
            min-width: 100%;
            min-height: 100%;
            opacity: 0;
            z-index: 2;
        }

        button,
        .button {
            width: 100%;
        }

        .continue {
            @include margin(0);
        }
        
        .braintree-apple-pay-wrap {
            display: none;
        }
        
        .braintree-apple-pay-button {
            border: 1px solid #a0a0a0;
            min-height: 40px;
            cursor: pointer;display: inline-block;
            width: 100%;
        }
        
        .braintree-apple-pay-logo {
            background-image: url(../images/apple-pay.svg);
            background-position: 50% 50%;
            background-size: 50px;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 40px;
        }
    }

    .cart-shipping-totals {
        @include margin($default-indent);

        @include media($tablet) {
            @include margin(0);
        }

        .block.shipping.active {
            @include background($clr-grey-white);
            @include border-color($clr-grey-white);

            .title {
                color: $clr-video-banner;
            }

            .title::before {
                @include transform(translate(-50%, -50%) rotate(-90deg));
            }

            .title::after {
                @include transform(translate(-50%, -50%) rotate(180deg));
            }
        }

        .block.shipping {
            @include transition(.25s ease-in-out);
            @include transition-property(background border);
            @include border-color($clr-dusty-gray);
            @include border-style(solid);
            @include border-width(1px);

            .title {
                @include position(relative);
                @include padding(12px 14px);
                @include transition(color .25s ease-in-out);
                color: $clr-dusty-gray;
                font-family: $montserrat;
                font-size: $f-size;
                line-height: 17px;
                text-transform: uppercase;
            }

            .title::before,
            .title::after {
                @include background($clr-dusty-gray);
                @include position(absolute);
                @include transition(transform .3s ease-out);
                @include transform(translate(-50%, -50%));
                content: '';
                pointer-events: none;
                top: 20px;
                z-index: 1;
            }

            // Vertical line
            .title::before {
                height: 9px;
                right: 15px;
                width: 1px;
            }

            // Horizontal line
            .title::after {
                height: 1px;
                right: 7px;
                width: 9px;
            }

            .legend {
                @include display(none);
                @include margin(null null 20px);
            }

            .fieldset {
                @include margin(0);
                @include border-style(none);
                @include padding(0 14px 4px);
                min-width: 0;
            }

            .field.note {
                @include margin(null 10px null 20px);
                color: $clr-video-banner;
                font-size: $f-size;
                line-height: 18px;
                text-align: center;
            }
        }

        .input-text {
            @include padding(null null null 12px);
            @include border-style(solid);
            @include border-width(1px);
            font-weight: normal;
            height: 40px;
        }

        .input-text:not(:active):not(:focus):not(:hover) {
            @include border-color($clr-silver-chalice);
        }

        .estimate .field > .label {
            font-weight: 600;
        }

        .field > .label,
        .item-title {
            color: $clr-video-banner;
            font-size: $f-size-xs;
            line-height: 15px;
        }

        .warning {
            @include margin(null null 0);
        }

        .selectric .label {
            @include background($clr-white);
        }

        .rate {
            @include padding(0 14px 14px);

            .item-title {
                @include margin(null null 10px);
                font-weight: 600;
            }

            .items.methods {
                @include margin(0);
            }

            .item-options {
                @include margin(null null null 0);
                color: $clr-video-banner;
                font-size: $f-size-xs;
                font-weight: normal;
                line-height: 15px;
            }
        }
    }

    .product-item-name {
        text-transform: uppercase;
    }
}
