// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.checkout-cart-index,
.checkout-index-index {
    .table.totals {
        @include display(table);
        font-size: $f-size-l;

        tbody {
            @include display(table-row-group);
        }

        tr {
            @include display(table-row);

            &:nth-last-child(3) > * {
                padding-bottom: 15px;
                padding-top: 5px;
            }
        }

        th {
            @include position(relative, 0 null null 0);
            border: 0;
            font-weight: normal;
            text-align: left;
            width: 80%;
        }

        td {
            @include padding(5px null);
            @include position(static);
            color: $clr-bluewood;
            font-weight: bold;
            text-align: right;

            &::before {
                @include display(none);
            }
        }

        th,
        td {
            @include padding(null 0);
        }

        .rewards-points {
            .price::before {
                @include background-image(url('../images/kuru_flag.svg'));
                @include display(inline-block);
                @include size(19px 10px);
                content: '';
                margin-right: 5px;
            }
        }

        .grand {
            @include background($clr-white);
            border-top: 1px solid $clr-gallery;
            font-size: $f-size-5xl;
            text-transform: uppercase;

            th,
            td {
                @include padding(15px 0);
            }

            &.scroll-to-fixed-fixed {
                @media (max-width: $tablet) {
                    @include display(flex);
                    @include justify-content(space-between);
                    @include padding(null 20px);
                    border: 0;
                    // ScrollToFixed JS adds left value which cannot be easily circumvented because Total value is a table-row
                    left: 0 !important;
                    width: 100%;
                }
            }

            &.scroll-to-fixed-fixed::before,
            &.scroll-to-fixed-fixed::after {
                @media (max-width: $tablet) {
                    @include position(absolute, null null -60px -20px);
                    @include border-color($clr-white);
                    @include border-style(solid);
                    @include background($clr-white);
                    content: '';
                    height: 22px;
                    opacity: 1;
                    width: calc(100% + 40px);
                    z-index: 4;
                }
            }

            &.scroll-to-fixed-fixed::before {
                @media (max-width: $tablet) {
                    @include border-width(0);
                    @include position(absolute, null null 0 -20px);
                }
            }

            &.scroll-to-fixed-fixed::after {
                @media (max-width: $tablet) {
                    @include border-color($clr-gallery);
                    @include border-width(1px 0 0 0);
                    @include position(absolute, 0 null null -20px);
                }
            }
        }
    }
}
