<!--
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Checkout
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2018 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">

    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="text: getName($parent) "></strong>

            <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->

        </div>
    </div>

    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <div class="product options">
        <div data-role="content" class="content">
            <div class="item-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <div class="option">
                    <dt class="label" data-bind="text: label"></dt>
                        <!-- ko if: ($data.full_view)-->
                        <dd class="values" data-bind="html: full_view"></dd>
                        <!-- /ko -->
                        <!-- ko ifnot: ($data.full_view)-->
                        <dd class="values" data-bind="html: value"></dd>
                        <!-- /ko -->
                </div>
                <!-- /ko -->
                <div class="option">
                    <dt class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></dt>
                    <dd class="values" data-bind="text: $parent.qty"></dd>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
