<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Krisjanis Veinbahs <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 KURU Footwear. All rights reserved.
 */
use Kurufootwear\Rma\Controller\Customer\Failure;

/** @var \Kurufootwear\Rma\Block\Customer\Failure $block */
$action = $block->getSurveyAction();
?>

<div class="product-info-block-wrapper">
    <div class="info-block-toggler"></div>
    <div class="product-info-block">
        <div class="rma-image-box">
            <img src="<?php echo $block->getItemThumbnail($action) ?>" width="60" height="60">
        </div>
        <div class="rma-product-main-info">
            <div class="rma-product-name">
                <?php echo $block->getItemTitle($action) ?>
            </div>
            <div class="rma-product-options">
                <div class="rma-product-swatch size">
                    <span class="label"><?php echo __('Size') . ':' ?></span>
                    <span class="value"><?php echo $block->getItemSize($action) ?></span>
                </div>
                <div class="rma-product-swatch color">
                    <span class="label"><?php echo __('Color') . ':' ?></span>
                    <span class="value"><?php echo $block->getItemColor($action) ?></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="art-wrapper fail-wrapper">
    <div class="art fail-art">
        <?php if ($block->getSurveyItemCount() == 1 && $block->getIsItemLast()): ?>
            <p class="fail-message response"><?php echo _('Sorry, can not continue.') ?></p>
        <?php else: ?>
            <p class="fail-message response"><?php echo _('Sorry.') ?></p>
        <?php endif; ?>
    </div>
    <div class="response-info failure">
        <?php if ($block->getSurveyItemCount() == 1 && $block->getIsItemLast()): ?>
            <p><?php echo _('Items that are not in new condition can not be returned.') ?></p>
        <?php else: ?>
            <p><?php echo _('Item that isn\'t new can\'t be returned') ?></p>
        <?php endif; ?>
        <p>
            <?php echo _('Call us toll-free at: ') ?>
            <a class="blue" href="tel:(877) 211-5878">(877) 211-5878</a>
        </p>
        <div class="actions-toolbar">
            <?php if ($block->getSurveyItemCount() == 1 && $block->getIsItemLast()): ?>
                <form action="<?php $block->getFailureUrl(); ?>" method="post">
                    <input hidden name="<?php echo Failure::FAILURE_RESPONSE ?>" value="1"/>
                    <input hidden name="<?php echo Failure::ACCEPT_REMOVE ?>" value="1"/>
                    <input hidden name="<?php echo Failure::FINISH_SURVEY ?>" value="1"/>
                    <input hidden name="<?php echo Failure::REDIRECT_URL ?>" value="<?php echo $block->getBaseUrl() ?>"/>
                    <div class="button-wrap">
                        <button class="blue-button button" type="submit">
                            <span class="button-text"><?php echo __('Continue Shopping') ?></span>
                        </button>
                    </div>
                </form>
            <?php elseif ($block->getIsItemLast()): ?>
                <form action="<?php $block->getFailureUrl(); ?>" method="post">
                    <input hidden name="<?php echo Failure::FAILURE_RESPONSE ?>" value="1"/>
                    <input hidden name="<?php echo Failure::ACCEPT_REMOVE ?>" value="1"/>
                    <input hidden name="<?php echo Failure::FINISH_SURVEY ?>" value="0"/>
                    <input hidden name="<?php echo Failure::REDIRECT_URL ?>" value="<?php echo $block->getSuccessUrl() ?>"/>
                    <div class="button-wrap">
                        <button class="blue-button button" type="submit">
                            <span class="button-text"><?php echo __('Finish RMA') ?></span>
                        </button>
                    </div>
                </form>
            <?php else: ?>
                <form action="<?php $block->getFailureUrl(); ?>" method="post">
                    <input hidden name="<?php echo Failure::FAILURE_RESPONSE ?>" value="1"/>
                    <input hidden name="<?php echo Failure::ACCEPT_REMOVE ?>" value="1"/>
                    <input hidden name="<?php echo Failure::FINISH_SURVEY ?>" value="0"/>
                    <input hidden name="<?php echo Failure::REDIRECT_URL ?>" value="<?php echo $block->getRmaUrl() ?>"/>
                    <div class="button-wrap">
                        <button class="blue-button button" type="submit">
                            <span class="button-text"><?php echo __('Proceed to next product') ?></span>
                        </button>
                    </div>
                </form>
            <?php endif; ?>
            <form action="<?php $block->getFailureUrl(); ?>" method="post">
                <input hidden name="<?php echo Failure::FAILURE_RESPONSE ?>" value="1"/>
                <input hidden name="<?php echo Failure::ACCEPT_REMOVE ?>" value="0"/>
                <input hidden name="<?php echo Failure::FINISH_SURVEY ?>" value="0"/>
                <input hidden name="<?php echo Failure::REDIRECT_URL ?>" value="<?php echo $block->getRmaUrl() ?>"/>
                <div class="button-wrap">
                    <button class="secondary-button button" type="submit">
                        <span class="button-text"><?php echo __('Back') ?></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
