<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Krisjanis Veinbahs <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 KURU Footwear. All rights reserved.
 */

/** @var \Kurufootwear\Rma\Block\Customer\Success $block */
$request = $block->getRequestedRma();
$isExchange = $block->getIsExchange();
?>
<div class="art-wrapper thanks-wrapper">
    <div class="art thanks-art">
        <?php if ($isExchange): ?>
            <p class="thanks-message response"><?php echo __('Your exchange has been submitted!') ?></p>
        <?php else: ?>
            <p class="thanks-message response"><?php echo __('Your return has been submitted!') ?></p>
        <?php endif; ?>
    </div>
    <div class="response-info success">
        <?php if ($isExchange): ?>
            <p class="thanks-description points"><?php echo $block->getIssuedPoints() . __(' Reward points have been added to your account for this exchange which you can apply to your next purchase.') ?></p>
            <p class="thanks-description"><?php echo __('Exchange your order in 3 easy steps:') ?></p>
        <?php else: ?>
            <p class="thanks-description"><?php echo __('Return your order in two easy steps:') ?></p>
        <?php endif; ?>

        <p class="bold uppercase"><?php echo __('STEP 1: BOX THE ORDER IN SUITABLE SHIPPING PACKAGING') ?></p>
        <p>
            <?php echo __('Use your original shipping box, or suitable cardboard box, to ship your order back. Please do not use the shoe box as a shipping box. Shoes must be returned in new condition. See our full ') ?>
            <a target="_blank" href="<?php echo $block->getFullPathUrl('customer-service/returns-and-exchanges.html'); ?>"><?php echo __('Returns and Exchanges policy.'); ?></a>
        </p>

        <p class="bold uppercase"><?php echo __('STEP 2: SHIP YOUR ORDER BACK TO US') ?></p>
        <p><?php echo __('Print the prepaid shipping label by clicking the button below and place it on the shipping box (available for orders shipped within the continental USA.)') ?></p>

        <div class="center button-wrap">
            <a class="blue-button button" href="<?php echo $block->getLabelUrl(); ?>" target="_blank">
                <span class="button-text"><?php echo __('Download shipping label') ?></span>
            </a>
        </div>

        <p><span class="bold"><?php echo __('For HAWAII and ALASKA'); ?></span><?php printf(__(', email gurus@kurufootwear.com with subject line "RMA %u: USPS Return Label Request" for your prepaid shipping label. Please do NOT use the attached label.'), $request->getId()); ?></p>
        <p><span class="bold"><?php echo __('Drop off'); ?></span><?php echo __(' your box at any authorized UPS Shipping Center. PLEASE DO NOT USE A UPS DROP BOX!') ?></p>
        <p><?php echo __('Return and exchange shipping is FREE within the US.  To take advantage of FREE return shipping, you MUST use KURU\'s prepaid shipping label. Original shipping costs are not refunded. If you are not using our pre-paid UPS shipping label OR if you shipping from outside of the USA, use your preferred shipping provider that offers tracking and insurance* and send your box to the address below:') ?></p>

        <div class="wrapped">
            <?php $contacts = $block->getStoreContacts(); ?>
            <p><?php echo __('KURU: RETURNS') ?></p>
            <p><?php printf(__('RMA %u'), $request->getId()) ?></p>
            <p><?php echo $contacts->getData('street_line1') ?></p>
            <p><?php printf(__('%s, %s %u'), $contacts->getCity(), $contacts->getRegion(), $contacts->getPostcode()); ?></p>
        </div>

        <?php if ($isExchange): ?>
            <p class="bold uppercase"><?php echo __('STEP 3: USE YOUR REWARD POINTS TO PURCHASE YOUR EXCHANGE ITEM/S') ?></p>
            <div>
                <span class="bold">1. <?php echo __('Simply shop '); ?></span>
                <span><?php echo __('for your exchange and add the item/s to your cart.'); ?></span>
            </div>
            <div>
                <span class="bold">2. <?php echo __('Apply the credit '); ?></span>
                <span><?php echo __('from your KURU Rewards Points balance in the shopping cart to pay for the exchange order.'); ?></span>
            </div>
            <div>
                <span class="bold">3. <?php echo __('Your new order '); ?></span>
                <span><?php echo __('will be shipped within 1-2 business days after we receive your returned shoes.'); ?></span>
            </div>
        <?php endif; ?>

        <div class="actions-toolbar success">
            <?php if ($categoryUrl = $block->getRequestCategoryUrl()): ?>
                <div class="button-wrap">
                    <a class="blue-button button" href="<?php echo $categoryUrl; ?>">
                        <span class="button-text"><?php echo __('Shop Now') ?></span>
                    </a>
                </div>
            <?php elseif ($productUrl = $block->getRequestProductUrl()): ?>
                <div class="button-wrap">
                    <a class="blue-button button" href="<?php echo $productUrl; ?>">
                        <span class="button-text"><?php echo __('Shop Now') ?></span>
                    </a>
                </div>
            <?php else: ?>
                <div class="button-wrap">
                    <a class="blue-button button" href="<?php echo $block->getBaseUrl(); ?>">
                        <span class="button-text"><?php echo __('Shop Now') ?></span>
                    </a>
                </div>
            <?php endif; ?>
        </div>

        <?php if ($isExchange): ?>
            <p class="contact-note"><?php echo printf(__('Should you have any questions, please contact a KURU GURU toll-free at %s, 7am MST to 5pm MST.'), $contacts->getPhone()); ?></p>
        <?php endif; ?>

        <p class="italic note"><span class="bold"><?php echo __('* NOTE:'); ?></span><?php echo __(' KURU does not reimburse shipping costs for returns that do not use our provided return shipping label. KURU is not responsible for lost or misdirected shipments. For more information, read our Exchanges and Returns Policy.
') ?></p>
    </div>
</div>
