// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2018 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.catalog-product-view-new-pdp {
    .breadcrumbs {
        z-index: 3;

        .items {
            @include media($desktop-small) {
                padding: 10px 50px;
            }
        }
    }

    .mz-gallery-placeholder {
        display: block;

        @include media($desktop-small) {
            display: none;
        }
    }

    .desktop-gallery-placeholder {
        display: none !important;
        font-size: 0;
        white-space: normal;

        @include media($desktop-small) {
            display: inline-block !important;
        }

        .desktop-image {
            cursor: pointer;
            display: inline-block;
            padding-bottom: 20px;
            vertical-align: middle;
            width: 50%;

            &:nth-child(odd):not(.first) {
                padding-left: 10px;
            }

            &:nth-child(even):not(.first) {
                padding-right: 10px;
            }

            &.first {
                width: 100%;
            }

            // Show only thge first 7 images
            &:nth-child(n+8) {
                display: none;
            }
        }
    }

    .product-info-main {
        .media {
            @include position(static);
            margin-bottom: 10px;

            @include media($desktop-small) {
                max-width: calc(100% - 480px);
                margin-top: -70px;
            }
        }

        .product-info-bottom,
        .product-info-top {
            font-weight: 300;

            @include media($desktop-small) {
                max-width: 379px;
            }
        }

        .product-info-bottom  {
            font-family: $montserrat;

            &.sticky {
                background: $clr-white;
                right: 20px;

                @include media(#{$desktop} + 20px) {
                    right: calc(((100% - #{$desktop}) / 2) + 20px);
                }
            }
        }

        .color .swatch-attribute-selected-option {
            @include display(none);
            @include padding(0);
            @include margin(2px 0 0 0);
            max-width: calc(100% - 150px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;

            @include media($mobile-medium-l) {
                @include display(block);
            }

            @include media($desktop-small) {
                @include margin(4px 0 null 5px);
            }
        }

        .swatch-attribute-options {
            .clearfix {
                &::before {
                    content: '.';
                    display: block;
                    visibility: hidden;
                }
            }
        }

        .swatch-attribute-label {
            display: inline-block;
            font-family: $montserrat;
            font-size: $f-size-xl;
            font-weight: 700;
            margin-top: -2px;
            margin-bottom: 2px;

            @include media($desktop-small) {
                margin-top: 0;
            }
        }

        .swatch-opt {
            .attribute {
                &.width {
                    margin-bottom: 0;

                    > .label {
                        display: block;
                        font-family: $montserrat;
                        font-size: $f-size-xl;
                        font-weight: 700;
                        margin-bottom: 14px;
                    }

                    .swatch-option {
                        @include media($desktop-small) {
                            font-size: $f-size-xl;
                        }

                        &:first-of-type {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }

        .swatch-attribute-selected-option {
            font-size: $f-size-xs;
            float: right;
        }

        .swatch-attribute-selected-option,
        .size-info-wrapper {
            margin-right: 5px;
        }

        .size-info-wrapper {
            @include media($desktop-small) {
                margin-top: 2px;
            }
        }

        .swatch-attribute {
            &.color {
                margin-bottom: 10px;

                .swatch-option {
                    @include margin(null 11px 12px null);
                    @include size(54px);
                    border-radius: 0;

                    @include media($mobile-large) {
                        @include size(64px);
                    }

                    &.selected{
                        &::after,
                        &::before {
                            display: none;
                        }
                    }

                    &:nth-of-type(5n) {
                        @include media($desktop-small) {
                            margin-right: 0;
                        }
                    }
                }
            }

            &.size {
                margin-bottom: 5px;

                .swatch-option{
                    &.text {
                        @include size(40px);
                        padding: 10px 5px;
                        margin-right: 8px;
                        min-width: 0;
                        min-height: 0;

                        &:nth-child(8n) {
                            @include media($desktop-small) {
                                margin-right: 0;
                            }
                        }
                    }
                }

                .swatch-attribute-options {
                    margin-bottom: 20px;
                }
            }
        }

        .product-salespoints,
        .description-wrapper {
            font-family: $montserrat;
        }

        .product-salespoints {
            border-bottom: 2px solid silver;
            margin-bottom: 30px;
            margin-top: 25px;
            padding-bottom: 5px;

            .image-wrapper {
                width: 40px;

                .sales-icon {
                    @include size(24px);
                    border: 0;
                    border-radius: 0;
                    padding: 0;
                }
            }

            .text-wrapper {
                font-size: $f-size-xs;
            }
        }

        .product-benefits,
        .description-wrapper {
            .product-benefits-title {
                font-size: $f-size-xl;
                font-family: $montserrat;
                font-weight: 700;
            }
        }

        .description-wrapper {
            .content-wrapper {
                display: block;
            }

            .product-description-wrapper,
            .product-benefit-wrapper {
                float: none;
                width: 100%;
            }

            .product-description-content {
                color: $clr-bluewood;
                font-family: $source-sans-pro;
                margin: 20px 0 30px;

                @include media($desktop-small) {
                    font-size: $f-size-l;
                }

                p {
                    color: $clr-bluewood;
                    font-family: $source-sans-pro;
                    font-weight: normal;
                    margin: 0;

                    @include media($desktop-small) {
                        font-size: $f-size-l;
                    }
                }
            }
        }

        .product-benefits {
            border-top: 2px solid $clr-silver;
            padding-top: 30px;

            .product-benefits-title {
                margin-bottom: 25px;
            }

            .block-wrapper {
                .benefit {
                    margin-bottom: 10px;
                    display: inline-block;
                }

                .benefit-icon-wrapper {
                    @include size(35px auto);
                    left: 0;
                    top: 4px;
                    right: auto;
                    transform: translateY(0);
                }

                .benefit-icon {
                    @include size(20px);
                    border: 0;
                    border-radius: 0;
                    padding: 0;
                }

                .benefit-body {
                    .benefit-title {
                        font-size: $f-size-l;
                    }
                }
            }

            .text-wrapper {
                float: right;
                width: calc(100% - 35px);
            }

            .benefit-description {
                color: $clr-bluewood;
                font-family: $source-sans-pro;
                font-weight: normal;

                @include media($desktop-small) {
                    font-size: $f-size-l;
                }
            }
        }
    }

    .related {
        .block-title {
            text-align: left;

            @include media($mobile-medium-l) {
                padding-left: 0;
            }
        }
    }

    .review {
        &.block-title {
            padding: 15px;
            font-family: $montserrat;
            font-size: $f-size-10xl;
            text-align: left;
            text-transform: uppercase;

            @include media($mobile-medium-l) {
                padding-left: 20px;
            }

            @include media($desktop-small) {
                margin: auto;
                max-width: $desktop;
            }
        }
    }
}
