// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.catalog-product-view {
    color: $clr-bluewood;

    // TO DO: check if this can be done via xml
    .rewardssocial-buttons {
        @include display(none);
    }

    .selectric {
        .label {
            text-align: right;
        }
    }

    .mage-error {
        padding-bottom: 15px;
    }

    .page-main {
        @include padding(null null 30px);
    }

    .product-info-main {
        @include clearfix();
        @include padding($default-indent);

        @include media($desktop-small) {
            @include margin(0 auto);
            max-width: $desktop;
        }

        .product-info-top,
        .product-info-bottom {
            @include media($desktop-small) {
                clear: right;
                float: right;
                max-width: 360px;
                width: 48%;
            }
        }

        .media {
            clear: both;
            margin-top: 10px;

            @include media($desktop-small) {
                clear: none;
                float: left;
                margin-top: 0;
                min-height: 400px;
                width: calc(100% - 360px);
            }

            .thumb {
                @include padding(20px);
            }
        }

        .loading-mask {
            @include media($desktop-small) {
                min-height: 400px;
            }

            &.image {
                @include padding(0);

                .loader {
                    @include position(static);
                    @include size(auto);
                }
            }

            .base-image {
                @include margin(auto);
                @include position(static);
                display: block;
                max-width: 600px;
                width: 100%;

                @include media($tablet) {
                    height: 100%;
                    width: auto;
                }

                @include media($desktop-small) {
                    max-height: 350px;
                }
            }
        }

        .product-info-sticky {
            @include display(flex);
            @include align-items(flex-start);
            @include justify-content(space-between);

            @include media($desktop-small) {
                @include flex-wrap(nowrap);
            }

            .special-price {
                @include display(block);
                line-height: 38px;
            }

            .old-price {
                @include display(block);
                color: $clr-tundora;
                font-size: $f-size-11xl;
                text-decoration: line-through;
                line-height: 38px;

                &.hide {
                    display: none;
                }
            }

            .price-box {
                font-size: $f-size-25xl;
                font-weight: bold;
                line-height: 38px;
                padding-left: 8px;
                text-align: right;

                @include media($mobile-medium-l) {
                    padding-left: 30px;
                }
                
                &.initialising,
                .initialising {
                    visibility: hidden;
                }
            }

            .value {
                @include display(inline-block);
                @include padding(null null 5px);
                @include margin(0);
                font-size: $f-size-20xl;
                font-weight: 600;
                line-height: 38px;
            }
        }

        .orig-name,
        .long-name {
            text-transform: uppercase;
        }

        .orig-name {
            @include margin(0);
            font-family: $montserrat;
            font-size: $f-size-20xl;
            font-weight: 600;
            hyphens: auto;
            line-height: $f-size-12xl;
            padding-bottom: 5px;
            word-break: break-word;
        }

        .long-name {
            font-size: $f-size-l;
            font-weight: 400;
            line-height: 19px;

            .value {
                color: $clr-bluewood;
                font-family: $source-sans-pro;
                font-size: $f-size-l;
                font-weight: 400;
                line-height: 19px;
            }
        }

        .price-box {
            font-size: $f-size-11xl;
            font-weight: 600;
        }

        .yotpo.bottomLine {
            @include display(block);
            @include position(relative);
            @include margin(5px null null);
            float: none;
            min-height: 25px;

            .yotpo-bottomline {
                width: 100%;
            }

            .yotpo-stars {
                @include display(inline-block);
            }

            .yotpo-icon {
                font-size: $f-size-l;
            }

            .yotpo-icon,
            .text-m {
                color: $clr-black !important;
            }

            .text-m {
                @include position(absolute);
                @include margin(-1px null null 6px);
                font-size: $f-size;
                white-space: nowrap;
            }
        }

        .yotpo a,
        .yotpo-stars span,
        .yotpo-review-stars span,
        .yotpo .review-stars span {
            color: $clr-black !important;
        }

        .yotpo-size-bar-offset,
        .yotpo-size-bar-fit {
            background-color: $clr-black !important;
        }

        .towishlist {
            .wishlist-text {
                @include display(none);
            }

            &.updated .fa-heart {
                color: $clr-amber;
            }
        }

        .fa-heart {
            clear: right;
            color: $clr-gallery;
            float: right;
            font-size: 20px;
            padding-left: 15px;

            @include media($desktop-small) {
                font-size: 15px;
            }

            &:hover {
                color: $clr-amber;
            }
        }

        .product-add-form {
            @include padding(15px null null);
            @include clearfix();

            @include media($desktop-small) {
                @include padding(0 null null);
            }
        }

        .swatch-attribute-label {
            font-weight: normal;
            text-transform: uppercase;

            &::after {
                content: ':';
            }
        }

        .swatch-attribute-selected-option {
            color: $clr-corduroy;
        }

        .swatch-attribute.color .swatch-option {
            @include border-color($clr-white);
            @include border-style(solid);
            @include border-width(1px);
            @include margin(1px 15px 15px 1px);
            @include size(40px);
            border-radius: 30px;
            box-shadow: $clr-silver-chalice 0 0 2px,
                        $clr-silver-chalice 0 0 2px,
                        $clr-silver-chalice 0 0 2px;
            color: transparent;
            float: left;
            transition: all .3s ease-in-out;

            @include media($desktop-small) {
                @include size(30px);
            }

            &:hover:not(.disabled),
            &.selected {
                box-shadow: $clr-picton-blue 0 0 2px,
                            $clr-picton-blue 0 0 2px,
                            $clr-picton-blue 0 0 2px;
                outline: none;
            }

            &.selected::before,
            &.selected::after {
                @include background-image(url('../images/checkmark-swatch.svg'));
                @include display(inline-block);
                @include position(absolute);
                @include size(70px 39px);
                border: 0;
                content: '';
                left: -3px;

                @include media($desktop-small) {
                    @include position(absolute);
                    @include size(70px 29px);
                    left: -3px;
                }
            }

            &.selected::before,
            &.selected::after {
                top: 0;

                @include media($desktop-small) {
                    top: -1px;
                }
            }

            &.disabled::after {
                @include background($clr-white);
                opacity: .5;
            }

            &.color {
                @include transform(rotate(45deg));
            }
        }

        .swatch-attribute {
            &.size,
            &.womens_size,
            &.socks_size {
                @include display(inline-block);
                @include position(relative);
                float: none;
                width: 100%;

                .swatch-attribute-label {
                    @include position(absolute, 11px null null 12px);
                    left: inherit;
                    position: relative;
                    top: inherit;
                }

                .swatch-attribute-options {
                    @include margin(10px null);
                }

                .swatch-attribute-selected-option {
                    @include display(none);
                }
            }
        }

        .swatch-attribute,
        .attribute {
            &.womens_size,
            &.size,
            &.width,
            &.socks_size {
                .swatch-option.text {
                    background: $clr-white;
                }
            }

            .swatch-option {
                &.text {
                    @include padding (8px 0);
                    border: 1px solid $clr-transparent;
                    box-shadow: inset 0 0 0 1px $clr-grey-white;
                    color: $clr-black;
                    float: none;
                    font-size: $f-size;
                    font-weight: normal;
                    max-width: 39px;
                    min-height: 39px;
                    min-width: 39px;
                    text-align: center;
                    text-overflow: inherit;

                    @include media($desktop-small) {
                        @include padding (11px 8px);
                        max-width: 44px;
                        min-height: 44px;
                        min-width: 44px;
                    }

                    &::after,
                    &::before {
                        @include transition(none);
                    }

                    &:not(.disabled) {
                        box-shadow: inset 0 0 0 1px $clr-warm-grey;
                    }

                    &.selected,
                    &.checked {
                        font-weight: 500;

                        &::after,
                        &::before {
                            @include transition(none);
                            @include position(absolute, 0);
                            border: 2px solid $clr-picton-blue;
                            content: '';
                            height: 100%;
                            width: 100%;
                        }
                    }

                    &:hover,
                    &.selected,
                    &.checked {
                        font-weight: 500;
                        outline: 0;
                    }

                    &.disabled,
                    &.selected.disabled {
                        background: $clr-gallery;

                        &,
                        &:hover {
                            color: $clr-silver;
                        }

                        &::after,
                        &::before {
                            border: inherit;
                            content: none;
                        }
                    }
                }
            }
        }

        .fit,
        .width {
            margin-bottom: 20px;
        }

        .fit {
            @include display(inline-flex);

            .label {
                float: left;
                padding-right: 10px;
                text-transform: capitalize;
            }

            .value {
                @include margin(-2px null null);
                color: $clr-corduroy;
                font-family: $source-sans-pro;
                font-weight: normal;
                line-height: 21px;
                text-transform: none;
            }

            .label,
            .value {
                font-size: $f-size-xs;
            }
        }

        .width,
        .qty {
            @include position(relative);

            > .label {
                @include position(absolute, 11px null null 12px);
                text-transform: uppercase;
            }
        }

        .width {
            &.one-option {
                @include margin(null null 10px);

                .label {
                    @include position(static);
                    float: left;
                    padding-right: 10px;
                    text-transform: uppercase;
                }

                .value {
                    color: $clr-corduroy;
                }
            }

            > .label {
                left: inherit;
                position: relative;
                top: inherit;
            }
        }

        .product-options-bottom {
            clear: both;

            .fieldset {
                @include media(340px) {
                    @include display(flex);
                }
            }

            .actions {
                @include flex(1);
            }

            .tocart {
                @include margin(0 null null);
            }

            .stock-message-wrapper {
                .stock-message {
                    color: $clr-cinnabar;
                    margin-bottom: 0;
                }
            }
        }

        .field.qty {
            @include display(flex);
            @include flex(0);
            min-width: 100%;

            @include media(340px) {
                float: left;
                min-width: 120px;
                width: 120px;
            }
        }

        :not(.field).qty {
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-between);
            @include margin(0);
            @include flex(1);
            float: left;
            height: 46px;

            @include media(340px) {
                max-width: 120px;
                width: 120px;
            }

            @include media($tablet) {
                height: 42px;
            }

            .fa {
                color: $clr-silver-chalice;
            }

            .qty-input {
                @include border-color($clr-gallery);
                @include border-style(solid);
                max-width: calc(100% - 54px);
                text-align: center;
                width: calc(100% - 54px);
            }

            .plus,
            .minus {
                @include display(flex);
                @include align-items(center);
                @include background($clr-gallery);
                @include border-width(1px);
                @include border-color($clr-gallery);
                @include border-style(solid);
                @include padding(13px 7px 14px);
                cursor: pointer;
                height: 100%;

            }
        }

        .actions {
            @include media($tablet) {
                @include margin(0);
                overflow: hidden;
            }

            .tocart {
                @include media($tablet) {
                    @include margin(0);
                    @include padding(18px null);
                    font-size: $f-size-xxl;
                    width: 100%;
                }
            }
        }

        .product-size-guide {
            @include margin(null null null 15px);
            float: right;
        }

        .stock {
            color: $clr-bluewood;
            font-size: $f-size-xs;
            margin-top: 10px;
            text-transform: uppercase;

            @include media($desktop-small) {
                text-align: right;
            }

            &.available {
                color: $clr-pistachio;
            }
        }

        .available-tag,
        .unavailable-tag {
            &::before {
                @include border-color($clr-white);
                @include border-style(solid);
                @include border-width(1px);
                @include display(inline-block);
                @include size(9px);
                border-radius: 10px;
                content: '';
                visibility: visible;
            }
        }

        .available-tag::before {
            background-color: $clr-pistachio;
            box-shadow: 0 0 0 1px $clr-pistachio;
        }

        .unavailable-tag::before {
            background-color: $clr-silver-chalice;
            box-shadow: 0 0 0 1px $clr-silver-chalice;
        }

        .size-guide {
            font-size: $f-size-xs;
        }
    }

    .yotpo.bottomLine,
    .yotpo-display-wrapper,
    .write-question-wrapper {
        .text-m,
        .yotpo-sum-reviews,
        .yotpo-user-name,
        .goTo.yotpo-active,
        .yotpo-logo-title a,
        .yotpo-nav-wrapper span,
        .yotpo-icon:not(.yotpo-icon-write):not(.yotpo-icon-double-bubble),
        .list-category:hover span,
        .yotpo-thankyou-header span,
        .yotpo-action:hover .y-label,
        .yotpo-dropdown .list-category:hover a {
            color: $clr-black !important;
        }

        .yotpo-icon-profile,
        .yotpo-star-distribution-graph-score,
        .yotpo-regular-box .yotpo-submit,
        .yotpo-regular-box .primary-color-btn {
            &,
            &:hover {
                background: $clr-black !important;
            }
        }

        .yotpo-regular-box .primary-color-btn.yotpo-disabled {
            &,
            &:hover {
                background: $clr-silver-chalice !important;
            }
        }

        .yotpo-product-related-field-score-bar {
            &.yotpo-rating-bar-full,
            &.yotpo-size-bar-fit,
            &.yotpo-size-bar-offset {
                background: $clr-black !important;
            }
        }

        .yotpo-nav-wrapper {
            border-color: $clr-black !important;
        }

        .yotpo-default-button {
            color: $clr-white;
        }

        .write-question-wrapper .connect-wrapper {
            padding-left: initial;

            @include media($tablet) {
                max-width: 600px;
            }
        }
    }

    .zoomContainer,
    .zoomLens,
    .zoomWindowContainer div {
        z-index: 1 !important;
    }

    .zoomContainer {
        @include media($desktop-small) {
            @include display(none);
        }
    }

    .fancybox-infobar__body,
    .fancybox-button {
        float: inherit;
        min-width: inherit;
    }

    .mz-gallery-placeholder {
        @include media($desktop-small) {
            @include display(inline-block);
            @include margin(20px);
            float: right;
            height: $pdp-gallery-height-small;
            max-width: calc(100% - 140px);
            width: calc(100% - 140px);
        }

        @include media($desktop-small-xl) {
            height: $pdp-gallery-height;
        }

        &._block-content-loading {
            @include media($desktop-small) {
                @include display(none);
            }
        }

        .slick-slide {
            @include media($desktop-small) {
                height: $pdp-gallery-height-small;
            }

            @include media($desktop-small-xl) {
                height: $pdp-gallery-height;
            }

            img {
                cursor: pointer;

                @include media($desktop-small) {
                    min-height: $pdp-gallery-height-small;
                    max-height: $pdp-gallery-height-small;
                }

                @include media($desktop-small-xl) {
                    min-height: $pdp-gallery-height;
                    max-height: $pdp-gallery-height;
                }
            }
        }

        .slick-slide-wrap {
            img {
                max-width: none;
            }
        }

        .slick-dots {
            bottom: -30px;
            overflow: hidden;
            z-index: 4;

            @include media($desktop-small) {
                bottom: -54px;
            }

            li button::before {
                @include margin(null null null 10px);
                color: $clr-transparent;
            }
        }
    }

    .mz-gallery-container {
        @include display(block);
        @include margin(auto);
        height: 100%;
        width: 100%;

        @include media($desktop-small) {
            @include margin(null null 0);
            min-height: #{$pdp-gallery-height-small + 30px};
        }

        @include media($desktop-small-xl) {
            min-height: #{$pdp-gallery-height + 30px};
        }

        .loading-mask {
            @include media($desktop-small) {
                @include margin(20px);
                float: right;
                height: $pdp-gallery-height-small;
                max-width: calc(100% - 140px);
                width: calc(100% - 140px);
            }

            @include media($desktop-small-xl) {
                height: $pdp-gallery-height;
            }

            .loader {
                @include media($desktop-small) {
                    height: $pdp-gallery-height-small;
                }

                @include media($desktop-small-xl) {
                    height: $pdp-gallery-height;
                }
            }

            .base-image {
                max-width: none;

                @include media($desktop-small) {
                    min-height: $pdp-gallery-height-small;
                    max-height: $pdp-gallery-height-small;
                }

                @include media($desktop-small-xl) {
                    min-height: $pdp-gallery-height;
                    max-height: $pdp-gallery-height;
                }
            }
        }

        .loader {
            @include position(absolute);
            @include margin(auto);
            bottom: 0;
            height: 80px;
            left: 0;
            right: 0;
            top: 0;
            width: 80px;
        }

        .slick-slider {
            margin-bottom: 0;
        }

        .slick-arrow {
            background: transparent;
            min-width: inherit;
            top: 35%;
        }

        .slick-prev {
            left: -9px;
        }

        .slick-next {
            right: -10px;
        }

        .slick-slide-wrap {
            height: auto;

            img {
                @include margin(auto);
                height: inherit;
                max-width: 600px;
                width: 100%;

                @include media($tablet) {
                    width: auto;
                }

                @include media($desktop-small) {
                    max-width: 100%;
                }
            }
        }

        .mz-gallery-thumbs-wrap {
            // The !important's used here are because, we're overriding
            // Slick slider's native JS-set inline styles on elements.
            display: none !important;
            max-height: 120px;

            @include media($desktop-small) {
                display: inline-block !important;
                min-width: 100px;
            }

            .mz-gallery-thumbs {
                @include media($desktop-small) {
                    @include border-width(0);
                    max-width: 100px;
                }

                .slick-list {
                    @include media($desktop-small) {
                        @include margin(42px null 30px);
                        padding-top: 60px !important;
                        height: 350px !important;
                    }

                    @include media($desktop-small-xl) {
                        padding-top: 80px !important;
                        height: 540px !important;
                    }
                }
            }

            .slick-vertical {
                .slick-slide {
                    border: 0;
                }
            }

            .slick-slide.thumb {
                @include media($desktop-small) {
                    @include padding(5px);
                }

                @include media($desktop-small-xl) {
                    @include margin(18px null 18px);
                    @include padding(0);
                }

                img {
                    @include media($desktop-small) {
                        width: 65%;
                    }

                    @include media($desktop-small-xl) {
                        width: 85%;
                    }
                }
            }

            .slick-arrow {
                &::before {
                    background-image: inherit;
                }

                &.slick-prev {
                    @include arrow(left, $arrowsize, 1px, $clr-tundora);

                    @include media($desktop-small) {
                        @include transform(rotate(135deg));
                        @include position(absolute, -30px null null 42px);
                    }
                }

                &.slick-next {
                    @include arrow(right, $arrowsize, 1px, $clr-tundora);

                    @include media($desktop-small) {
                        @include transform(rotate(315deg));
                        @include position(absolute, inherit null -30px 42px);
                    }
                }
            }
        }

        .mz-gallery-thumbs {
            @include border-color(null null $clr-alto);
            @include border-style(null null solid);
            @include border-width(null null 1px);
            @include margin(0 auto);
            width: 95%;

            .slick-current {
                @include border-color(null null $clr-picton-blue);
                @include border-style(null null solid);
                @include border-width(null null 3px);
            }

            .slick-video-slide::after {
                @include border-color($clr-picton-blue);
                @include border-style(solid);
                @include border-width(1px);
                @include transform(rotate(45deg));
                background: $clr-picton-blue-seven;
                height: 18px;
                width: 18px;
                z-index: 1;
            }

            .slick-video-slide::before {
                @include border-color(transparent transparent transparent $clr-white);
                @include border-style(solid);
                @include border-width(3.5px 0 3.5px 7px);
                @include position(absolute);
                content: '';
                height: 0;
                left: 48%;
                top: 42%;
                width: 0;
                z-index: 2;
            }
        }

        .thumb {
            @include margin(5px 5px null);

            img {
                height: inherit;
                max-width: 65px;
                width: 100%;
            }
        }

        .mz-product-video {
            height: 100%;
        }
    }

    .products-related .slick-track {
        @include margin(null auto);
    }

    .product-options-wrapper {
        &.initializing {
            ~ .attribute.width,
            .attribute.width {
                display: none;
            }
        }
    }

    // <!-- Hax styling starts https://youtu.be/fVz1VVWcF5U?t=1m23s -->
    .swatch-opt {
        @include margin(20px 0 5px);

        @include media($desktop-small) {
            @include margin(10px null null);
        }

        .attribute {
            &.width {
                @include display(inline-block);
                @include margin(null 0 5px null);
                width: 100%;

                &.one-option {
                    @include media($mobile-large) {
                        @include padding(10px null null 10px);
                    }
                }

                .swatch-option {
                    min-width: calc(50% - 5px);
                }
            }

            .wrapper {
                @include margin(null null 12px);
            }

            .swatch-option:nth-of-type(2n) {
                @include margin(null 0 null null);
            }

            .label::after {
                content: ':';
            }
        }
    }
    // <!-- Hax styling ends -->

    .yotpo-main-widget {
        @include outer-container;

        input[type="radio"] {
            @include display(block);
        }

        .yotpo-size-bars {
            &::before,
            &::after {
                @include position(absolute);
                font-size: $f-size-xxxs;
                top: 14px;
            }

            &::before {
                content: 'Runs Small';
                left: -7px;
            }

            &::after {
                content: 'Runs Large';
                right: -25px;
            }
        }

        .write-form .yotpo-size-bars {
            &::before,
            &::after {
                @include display(none);
            }
        }

        .yotpo-action-hover {
            pointer-events: none;
        }
    }

    .read-more-wrapper {
        @include margin(10px null null);
        font-weight: bold;
    }

    > .loading-mask {
        @include position(fixed, 0 0 0 0);
        @include background($clr-black-zero-five);
        @include size(100%);
        z-index: 6;

        .loader {
            @include position(absolute, calc(50% - 32px) null null calc(50% - 32px));
            @include size(64px);
            animation: spin $duration linear infinite;
            background: url('/media/wysiwyg/loader.svg') no-repeat;
            transform: translate(-50%, -50%);

            * {
                @include display(none);
            }
        }

        p {
            @include display(none);
        }
    }

    #product_addtocart_form > .size-info-wrapper {
        @include display(none);
    }

    .size-info-wrapper {
        float: right;

        .fit {
            @include margin(0);
        }
    }
}

.catalog-product-view,
.cms-page-view {
    .slider-container {
        .sw-slider {
            display: none;

            &.slick-initialized {
                display: block;
            }
        }

        .slick-slider {
            @include margin(0);
        }

        .sw-slider-text {
            @include transform(translateY(-50%));
            bottom: auto;
            top: 50%;

            @include media($desktop-small) {
                @include transform(translate(-50%, -50%));
            }

            &.a-left {
                text-align: center;

                @include media($desktop-small) {
                    text-align: left;
                }
            }

            &.a-right {
                text-align: center;

                @include media($desktop-small) {
                    text-align: right;
                }
            }
        }

        .text-desktop {
            @include display(inline-block);
            text-align: center;

            @include media($desktop-small) {
                max-width: calc(100% / 3);
            }
        }

        .banner-message {
            line-height: 38px;

            @include media($tablet) {
                line-height: 42px;
            }
        }
    }
}
