// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2018 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.catalog-product-view-socks,
.catalog-product-view-new-pdp {
    .product-info-main {
        @include media($desktop-small) {
            @include position(relative);
        }

        .media {
            @include media($desktop-small) {
                @include position(fixed);
                max-width: calc(100% - 380px - #{$default-indent});
            }

            @include media($desktop) {
                max-width: 860px;
            }
        }
    }

    .product-add-form {
        @include margin(null null 20px);
    }

    .product-salespoints {
        border-bottom: 1px solid $clr-gallery;

        .salepoint {
            @include display(table);
            @include padding(null null 20px);
            @include size(100% auto);
        }

        .image-wrapper {
            @include display(table-cell);
            @include size(65px auto);
            float: left;
            vertical-align: middle;

            .sales-icon {
                @include display(block);
                @include padding(5px);
                @include size(42px);
                border: 3px solid $clr-fiord;
                border-radius: 50%;
            }
        }

        .text-wrapper {
            @include display(table-cell);
            @include margin(0);
            @include size(100% auto);
            vertical-align: middle;
        }
    }

    .size-info-wrapper {
        .fit {
            @include display(none);
        }
    }

    .product-info-bottom {
        .description-wrapper {
            @include margin(0);
            @include padding(0);

            .product-description-content {
                @include margin(0);
            }
        }
    }

    .product-benefits {
        @include margin(10px 0);

        .block-wrapper {
            @include margin(0);

            .showcase-wrapper {
                @include display(block);
            }

            .benefit {
                @include display(block);
                @include margin(0 0 20px 0);
                @include position(relative);
                @include size(100% auto);

                &:last-of-type {
                    @include margin(0);
                }
            }

            .benefit-body {
                .benefit-title {
                    @include margin(5px 0);
                    color: $clr-black;
                    font-family: $montserrat;
                    font-weight: 700;
                    font-size: $f-size;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            .benefit-icon-wrapper {
                @include display(inline-block);
                @include position(absolute, 50% 0 null null);
                background: transparent;
                max-width: 25%;
                transform: translateY(-50%);

                &:hover {
                    box-shadow: none;
                }
            }

            .benefit-icon {
                @include display(block);
                @include padding(5px);
                @include size(52px);
                border: 4px solid $clr-fiord;
                border-radius: 50%;
                min-height: 0;
            }
        }

        .text-wrapper {
            @include display(inline-block);
            @include size(75% auto);
        }
    }

    .swatch-attribute {
        &.socks_size {
            .swatch-attribute-options {
                @include display(flex);

                .swatch-option {
                    max-width: 100%;
                    width: 100%;

                    &:last-of-type {
                        @include margin(null 0 null null);
                    }
                }
            }
        }
    }
}
