// *
// * @category    Scandiweb
// * @package     Kurufootwear/default
// * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
// * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
// *

.catalog-product-view {
    .description-wrapper {
        @include outer-container;
        @include margin(10px 20px);

        @include media($desktop) {
            @include margin(null auto);
            @include padding(null 20px);
        }

        .expand {
            cursor: pointer;
        }

        .product-description-name {
            @include margin(40px 0);
            color: $clr-ebony-clay;
            line-height: 30px;
            text-align: center;

            .description-title {
                font-size: $f-size-10xl;
                line-height: $f-size-10xl;
            }
        }

        .product-description-title,
        .product-benefits-title {
            color: $clr-ebony-clay;
            font-family: $source-sans-pro;
            font-size: $f-size;
            font-weight: 600;
        }

        .content-wrapper {
            @include media($tablet) {
                @include display(flex);
                @include justify-content(space-between);
                flex-wrap: wrap;
            }
        }

        .product-description-wrapper,
        .product-benefit-wrapper {
            @include span-columns(12);
            @include margin(10px auto);
            @include flex(1);
            width: inherit;

            @include media($tablet) {
                @include span-columns(6);
                @include margin(10px null null);
            }

            &:last-child {
                @include margin(10px null null);
            }

            h2 {
                @include display(none);
            }
        }

        .product-description-content,
        .product-benefits-content {
            @include margin(10px null);
            @include position(relative);
            @include transition(all .5s ease-in-out);
            max-height: 900px;
            overflow-y: hidden;

            &::before {
                @include position(absolute);
                @include background(linear-gradient($clr-transparent 25px, $clr-white));
                @include transition(opacity .5s ease-in-out);
                content: '';
                height: 100%;
                left: 0;
                opacity: 0;
                top: 0;
                width: 100%;
            }

            &.expand {
                @include position(relative);
                max-height: 180px;
            }

            ul {
                @include padding(null null null 17px);
            }
        }

        .product-description-content.expand::before,
        .product-benefits-content.expand::before {
            @include position(absolute);
            @include background(linear-gradient($clr-transparent 25px, $clr-white));
            @include transition(opacity .5s ease-in-out);
            content: '';
            height: 100%;
            left: 0;
            opacity: 1;
            top: 0;
            width: 100%;
        }

        .expand-items {
            @include position(relative);
            @include transition(all .5s ease-in-out);
            color: $clr-picton-blue;
            cursor: pointer;
            font-family: $source-sans-pro;
            font-size: $f-size;
            width: 80px;

            &::after {
                @include arrow(up, 6px, 1px, $clr-picton-blue);
                @include transition(all .5s ease-in-out);
                @include position(absolute);
                background: transparent;
                content: '';
                right: 10px;
                top: 40%;
            }

            &.expand::after {
                @include arrow(right, 6px, 1px, $clr-picton-blue);
            }
        }

        p,
        li {
            color: $clr-corduroy;
            font-family: $source-sans-pro;
            font-size: $f-size;
            font-weight: 400;
        }

        strong {
            font-weight: 600;
        }

        // Tem sulution to remove border
        #borderimage {
            @include display(none);
        }
    }
}
