.catalog-product-view {
    .mfp-content {
        height: 840px;
        width: 95%;

        @include media($mobile-large) {
            width: 560px;
        }
    }

    .mfp-iframe-holder .mfp-close {
        color: $clr-black;
        font-family: $source-sans-pro;
        font-weight: 400;
        opacity: 1;
        padding-right: 12px;
        top: -21px;
    }

    .mfp-iframe {
        @include background($clr-white);
        box-shadow: none;
    }

    .mfp-bg {
        opacity: .4;
    }
}

.catalog-product-view-socks {
    .mfp-content {
        height: 350px;
    }
}

.sizechart-block-get {
    .size-title {
        @include margin(52px null 21px null);
        color: $clr-video-banner;
        font-family: $montserrat;
        font-size: $f-size-10xl;
        font-weight: bold;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
    }

    .table-wrapper {
        @include margin(0 auto);
        height: 722px;
        width: 250px;

        @include media(#{$mobile + 1px}) {
            @include margin(10px auto);
        }

        @include media($mobile-medium-l) {
            height: 710px;
            width: 390px;
        }

        &.socks-table-wrapper {
            height: auto;
            width: 85%;
        }
    }

    .table-content {
        font-weight: normal;
    }

    .table-title {
        @include display(table-cell);
        @include position(static);
        @include padding(12px 8px);
        font-size: $f-size-xs;
        text-transform: capitalize;
        word-wrap: break-word;

        @include media($mobile-medium-l) {
            @include padding(12px 19px);
            font-size: $f-size;
            max-width: none;
            min-width: 0;
        }
    }

    .table {
        @include display(table);
        width: auto;

        &.socks-table {
            width: 100%;
        }
    }

    .table-body {
        @include display(table-row-group);
    }

    .table-header,
    .table-content {
        @include display(table-row);
        font-family: $source-sans-pro;
        font-size: $f-size;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
    }

    .table-col {
        @include display(table-cell);
        @include padding(5px 0);
        font-weight: normal;

        @include media($mobile-medium-l) {
            @include padding(6.5px 0);
        }

        &::before {
            @include position(inital);
            content: '';
        }
    }

    .size-notes {
        @include margin(10px auto);
        color: $clr-corduroy;
        font-family: $source-sans-pro;
        font-size: $f-size-xs;
        line-height: 15px;
        width: 260px;

        @include media($mobile-medium) {
            width: 320px;
        }

        @include media($mobile-medium-l) {
            width: 390px;
        }
    }

    .notes-heading {
        @include margin(null null 0 null);
        font-weight: bold;
        text-transform: uppercase;
    }

    .notes-text {
        @include margin(0 null null null);
        font-weight: normal;
    }

    .zopim {
        display: none !important;
    }
}
