<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Slider
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */

use Magento\Catalog\Model\Product;
use Scandiweb\Slider\Model\Map;
use Scandiweb\Slider\Model\Slide;

/* @var Scandiweb\Slider\Block\Widget\Slider $block */
?>
<?php
    $slider = $block->getSlider();
?>
<div class="sw-slider" id="sw-slider-<?php echo $block->getSliderId() ?>">
    <?php foreach ($block->getSlides() as $slide): ?>
        <?php /* @var Slide $slide */ ?>
        <div class="sw-slider-slide sw-slider-slide-<?php echo $slide->getId() ?>">
            <?php if ($slide->getSlideLink()): ?>
                <a href="<?php echo $slide->getSlideLink() ?>">
            <?php endif ?>
            <?php if ($slide->getEmbedCode()): ?>
                <?php echo $slide->getEmbedCode() ?>
            <?php else: ?>
                <img class="desktop-slide-image <?php if (!$slide->getImageMobileUrl()): ?><?php echo 'desktop-slide'; ?><?php endif ?>"
                <?php echo ($slider->getLazyLoad()) ? 'data-lazy' : 'src' ?>="<?php echo $slide->getImageUrl() ?>"
                    usemap="map-<?php echo $slide->getSlideId() ?>"/>
                <?php if ($slide->getImageMobileUrl()): ?>
                    <img class="mobile-slide-image" <?php echo ($slider->getLazyLoad()) ? 'data-lazy' : 'src' ?>="<?php echo $slide->getImageMobileUrl() ?>" />
                <?php endif ?>
            <?php endif ?>

            <?php if ($slide->getHeaderText() || $slide->getMessageText()): ?>
                <div class="sw-slider-text <?php echo $block->getSlideTextClass($slide) ?>">
                    <div class="text-desktop">
                        <?php if ($slide->getHeaderText()): ?>
                            <h2 class="banner-title"><?php echo $slide->getHeaderText() ?></h2>
                        <?php endif ?>

                        <?php if ($slide->getMessageText()): ?>
                            <p class="banner-message"><?php echo $slide->getMessageText() ?></p>
                        <?php endif ?>
                    </div>
                </div>
            <?php endif; ?>

            <?php if ($slide->getSlideLink()): ?>
                </a>
            <?php endif ?>
        </div>
    <?php endforeach ?>
</div>

<?php if ($block->getMaps()->count()): ?>
    <script type="text/javascript">
        require([
            'scandiweb/slider-products'
        ], function() {});
    </script>
    <div class="sw-slider-maps" data-mage-init='{"scandiweb/slider-products": {"productsBlockId": "sw-slider-products-<?php echo $slider->getId() ?>", "sliderId": "sw-slider-<?php echo $block->getSliderId() ?>"}}'>
        <?php foreach ($block->getSlides() as $slide): ?>
            <?php /* @var Slide $slide */ ?>
            <?php $maps = $block->getSlideMaps($slide->getSlideId()) ?>

            <?php if (empty($maps)): ?>
                <?php continue; ?>
            <?php endif ?>

            <map name="map-<?php echo $slide->getSlideId(); ?>">
                <?php foreach ($block->getSlideMaps($slide->getSlideId()) as $map): ?>
                    <?php /* @var Map $map */ ?>

                    <area shape="poly" data-product-block-id="slider-<?php echo $slide->getSliderId() ?>-product-<?php echo $map->getProductId() ?>"
                          coords="<?php echo $map->getCoordinates(); ?>" href="<?php echo $block->getMapUrl($map) ?>"
                          title="<?php echo $map->getTitle() ?>" alt="<?php echo $map->getTitle() ?>"/>
                <?php endforeach ?>
            </map>
        <?php endforeach ?>
    </div>
<?php endif ?>

<?php if ($productCollection = $block->getMapProducts()): ?>
    <div id="sw-slider-products-<?php echo $slider->getId() ?>" class="sw-slider-products block widget">
        <?php foreach ($productCollection as $product): ?>
            <?php /* @var Product $product */ ?>
            <div class="product-item-info" data-product-url="<?php echo $block->getProductUrl($product) ?>" id="slider-<?php echo $slider->getId() ?>-product-<?php echo $product->getId() ?>" style="display:none;">
                <div class="image">
                    <?php echo $block->getImage($product, 'category_page_grid')->toHtml() ?>
                </div>
                <div class="info">
                    <p class="name"><?php echo $product->getName() ?></p>
                    <?php echo $this->getProductPrice($product) ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif ?>

<script type="text/javascript">
    require([
        'jquery',
        'scandiweb/slider',
        'scandiweb/rwd-image-maps'
    ], function($) {
        /* Add style changes for pdp banner slider */
        var sliderSelector = '#sw-slider-<?php echo $slider->getId() ?> ',
            slideId,
            headerHexColor,
            messageHexColor,
            headerMobileSize,
            messageMobileSize,
            headerTabletSize,
            messageTabletSize,
            headerDesktopSize,
            messageDesktopSize,
            tabletBp = 768,
            desktopBp = 1024,
            changeSlideStyles = function (slideId, headerMobileSize, messageMobileSize, headerTabletSize,
                                          messageTabletSize, headerDesktopSize, messageDesktopSize) {
                var windowWidth = $(window).width();

                if (windowWidth < tabletBp) {
                    $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-title').css('font-size', headerMobileSize);
                    $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-message').css('font-size', messageMobileSize);
                } else if (windowWidth >= tabletBp && windowWidth < desktopBp) {
                    $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-title').css('font-size', headerTabletSize);
                    $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-message').css('font-size', messageTabletSize);
                } else if (windowWidth >= desktopBp) {
                    $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-title').css('font-size', headerDesktopSize);
                    $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-message').css('font-size', messageDesktopSize);
                }
            };

        <?php foreach ($block->getSlides() as $slide): ?>
            slideId = '<?php echo $slide->getId() ?>';
            headerHexColor = '<?php echo $slide->getHeaderHexColor() ?>';
            messageHexColor = '<?php echo $slide->getMessageHexColor() ?>';
            headerMobileSize = '<?php echo $slide->getHeaderMobileSize() ?>';
            messageMobileSize = '<?php echo $slide->getMessageMobileSize() ?>';
            headerTabletSize = '<?php echo $slide->getHeaderTabletSize() ?>';
            messageTabletSize = '<?php echo $slide->getMessageTabletSize() ?>';
            headerDesktopSize = '<?php echo $slide->getHeaderDesktopSize() ?>';
            messageDesktopSize = '<?php echo $slide->getMessageDesktopSize() ?>';

            $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-title').css('color', headerHexColor);
            $(sliderSelector + '.sw-slider-slide-' + slideId + ' .banner-message').css('color', messageHexColor);

            changeSlideStyles(slideId, headerMobileSize, messageMobileSize, headerTabletSize,
                messageTabletSize, headerDesktopSize, messageDesktopSize);
        <?php endforeach; ?>

        $(window).resize(function () {
            <?php foreach ($block->getSlides() as $slide): ?>
                slideId = '<?php echo $slide->getId() ?>';
                headerHexColor = '<?php echo $slide->getHeaderHexColor() ?>';
                messageHexColor = '<?php echo $slide->getMessageHexColor() ?>';
                headerMobileSize = '<?php echo $slide->getHeaderMobileSize() ?>';
                messageMobileSize = '<?php echo $slide->getMessageMobileSize() ?>';
                headerTabletSize = '<?php echo $slide->getHeaderTabletSize() ?>';
                messageTabletSize = '<?php echo $slide->getMessageTabletSize() ?>';
                headerDesktopSize = '<?php echo $slide->getHeaderDesktopSize() ?>';
                messageDesktopSize = '<?php echo $slide->getMessageDesktopSize() ?>';

                changeSlideStyles(slideId, headerMobileSize, messageMobileSize, headerTabletSize,
                    messageTabletSize, headerDesktopSize, messageDesktopSize);
            <?php endforeach; ?>
        });

        /* Init Slider */
        $('#sw-slider-<?php echo $slider->getId() ?>').slick({
            dots: <?php echo $slider->getShowMenu() ? 'true' : 'false' ?>,
            arrows: <?php echo $slider->getShowNavigation() ? 'true' : 'false' ?>,
            speed: <?php echo $slider->getAnimationSpeed() ? $slider->getAnimationSpeed() : 300 ?>,
            autoplay: true,
            autoplaySpeed: <?php echo $slider->getSlideSpeed() ? $slider->getSlideSpeed() : 5000 ?>,
            slidesToShow: <?php echo $slider->getSlidesToDisplay() ? $slider->getSlidesToDisplay() : 1 ?>,
            slidesToScroll: <?php echo $slider->getSlidesToScroll() ? $slider->getSlidesToScroll() : 1 ?>,
            responsive: [
                {
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: <?php echo $slider->getSlidesToDisplayTablet() ? $slider->getSlidesToDisplayTablet() : 1 ?>,
                        slidesToScroll: <?php echo $slider->getSlidesToScrollTablet() ? $slider->getSlidesToScrollTablet() : 1 ?>
                    }
                },
                {
                    breakpoint: 641,
                    settings: {
                        slidesToShow: <?php echo $slider->getSlidesToDisplayMobile() ? $slider->getSlidesToDisplayMobile() : 1 ?>,
                        slidesToScroll: <?php echo $slider->getSlidesToScrollMobile() ? $slider->getSlidesToScrollMobile() : 1 ?>
                    }
                }
            ]
        });

        /* Init image maps */
        $('#sw-slider-<?php echo $slider->getId() ?>').find('img[usemap]').rwdImageMaps();
    });
</script>
