<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_Checkout
 * @author Krisjanis Veinbahs <krisjanisv@scandiweb.com>
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

/** @var $block \Amazon\Login\Block\OAuthRedirect */
?>
<h2 class="amazon-title"><?php echo __('Amazon Pay'); ?></h2>
<div class="amazon-info"><?php echo __('You will be redirected shortly...'); ?></div>
<script>
    require([
        'jquery',
        'Amazon_Login/js/amazon-redirect'
    ], function ($) {
        'use strict';
        $.amazon.AmazonRedirect();
    });
</script>
