<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/* @var $block \Kurufootwear\Rma\Block\Customer\Request\NewRequest\Step\SelectOrder\Items\Renderer */
?>
<?php if ($block->canRender()): ?>
    <?php
        /** @var \Magento\Sales\Model\Order\Item $item */
        $item = $block->getItem();
        $order = $item->getOrder();
        $itemMaxCount = $block->getItemMaxCount($item);
        $orderLeftCount = $block->getOrderLeftItemCount($order);
    ?>
    <?php if ($isItemsAvailable = $itemMaxCount && $block->isAllowedForOrder($order)): ?>
        <tr data-order-id="<?php echo $order->getId(); ?>"
            data-order-item-id="<?php echo $item->getId(); ?>"
            class="order-item-row sub-item-table <?php echo $block->getSelectedOrderId() === $order->getId() ? 'preselected-item' : '' ?>"
            <?php echo $block->getSelectedOrderId() === $order->getId() ? '' : 'style="display: none;"' ?>>
            <td class="col item-id">
                <?php if ($isItemsAvailable): ?>
                    <div class="input-wrapper">
                        <input type="checkbox"
                               name="item_selected"
                               value="<?php echo $item->getId(); ?>"
                               class="aw-rma-order-item-required order-item-select"
                               data-order-id="<?php echo $order->getId(); ?>"/>
                    </div>
                <?php endif; ?>

            </td>
            <td class="col product" colspan="3">
                <div class="image-wrapper">
                    <img src="<?php echo $block->getProductImage($item); ?>" class="product-image" alt="<?php echo $item->getName(); ?>">
                </div>
                <div class="status-wrapper">
                    <div class="product-name">
                        <span class="text"><?php echo $block->escapeHtml(__('Product')) . ':'; ?></span>
                        <?php if ($item->getProduct()): ?>
                            <a class="product-link" href="<?php echo $block->getProductViewUrl($item); ?>">
                                <span><?php echo $item->getName(); ?></span>
                            </a>
                        <?php else: ?>
                            <?php echo $item->getName(); ?>
                        <?php endif; ?>
                    </div>
                </div>
            </td>
            <td class="col items-for-return">
                <?php if ($isItemsAvailable): ?>
                    <div class="items-for-return-content">
                        <div class="control">
                            <input type="text"
                                   name="item[<?php echo $item->getId(); ?>][qty]"
                                   value="<?php echo $itemMaxCount > 1 ? '' : $itemMaxCount; ?>"
                                   class="input-qty required-number validate-greater-than-zero integer aw-rma-qty-max"
                                   data-order-id="<?php echo $order->getId(); ?>"
                                   data-order-item-id="<?php echo $item->getId(); ?>"
                                   data-max-value="<?php echo $itemMaxCount; ?>"
                                   <?php echo ($itemMaxCount <= 1) ? 'hidden="1"' : ''; ?>"
                            />
                            <?php if ($itemMaxCount > 1): ?>
                                <div class="qty-total">
                                    <span>&nbsp;/&nbsp;<?php echo $itemMaxCount ?> <?php echo __('available'); ?></span>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php else: ?>
                    <div class="item-message"><?php echo __('No items available'); ?></div>
                <?php endif; ?>
                <?php if ($requestCount = $block->getRequestsForItem($item)->getSize()): ?>
                    <div class="item-message"><?php echo __('Another Returns for this product'); ?>:</div>
                    <?php foreach ($block->getRequestsForItem($item) as $request): ?>
                        <a class="rma-link" href="<?php echo $block->getRequestViewUrl($request->getId()); ?>">
                            <span><?php echo $request->getIncrementId(); ?></span>
                        </a>
                        <?php if (--$requestCount): ?>, <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            </td>
        </tr>
    <?php endif; ?>
<?php endif; ?>