<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Krisjanis Veinbahs <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 KURU Footwear. All rights reserved.
 */
/* @var $block \Kurufootwear\Rma\Block\Customer\Request\NewRequest\Step\CreateRequest */
?>
<div class="aw-rma-new create-request">
    <?php if ($block->getTextCmsBlockHtml()): ?>
        <div class="block block-rma-text-block">
            <?php echo $block->getTextCmsBlockHtml() ?>
        </div>
    <?php endif; ?>
    <div class="block block-rma-form">
        <?php if ($block->isGuestMode()): ?>
            <input type="hidden" name="customer_email" value="<?php echo $block->getCustomerEmail() ?>" />
        <?php endif; ?>

        <div class="product-info-block-wrapper">
            <div class="info-block-toggler"></div>
            <div class="product-info-block">
                <div class="rma-image-box"></div>
                <div class="rma-product-main-info">
                    <div class="rma-product-name"></div>
                    <div class="rma-product-options"></div>
                </div>
            </div>
        </div>

        <div class="rma-survey">
            <div class="questions">
                <div class="question-form"></div>
            </div>
            <div class="navigation">
                <div class="prev-wrap">
                    <a class="previous button secondary-button">
                        <span class="back-arrowed"></span>
                        <span class="button-text"><?php echo __('Back') ?></span>
                    </a>
                </div>
                <div class="next-wrap">
                    <a class="next button blue-button arrowed">
                        <span class="button-text"><?php echo __('Next') ?></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        ".rma-survey": {
            "rmaSurvey": {
                "apiUrl": "<?php echo $block->getSurveyActionUrl(); ?>"
            }
        }
    }
    </script>
</div>
