<?php
/**
 * @category    Kurufootwear
 * @package     Kurufootwear\Rma
 * @author      Kristaps Stalidzāns <info@scandiweb.com>
 * @copyright   Copyright (c) 2017 Scandiweb, Inc (http://scandiweb.com)
 * @license     http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/* @var $block \Kurufootwear\Rma\Block\Customer\Request\NewRequest\Step\SelectOrder */
?>
<div class="aw-rma-new select-order">
    <?php if ($block->getTextCmsBlockHtml()): ?>
        <div class="block block-rma-text-block">
            <?php echo $block->getTextCmsBlockHtml(); ?>
        </div>
    <?php endif; ?>
    <?php if ($block->isOpenExchange()): ?>
        <div class="block-title">
            <strong class="title"><?php echo __('Create new exchange or return'); ?></strong>
        </div>
        <div class="blocking">
            <span>
                <?php echo __('You have an exchange in progress. Please place an order for your exchange, using your reward points, before starting a new return. If you need assistance please contact a KURU GURU at ') ?>
            </span>
            <a class="telephone" href="tel:8772115878">(877) 211-5878</a>
            <span>
                <?php echo __(' who would be happy to help.'); ?>
            </span>
        </div>
        <div class="secondary">
            <a class="action back button secondary-button"
               href="<?php echo $block->escapeUrl($this->getUrl('aw_rma/customer')); ?>">
                <span><?php echo __('Back'); ?></span>
            </a>
        </div>
    <?php elseif ($block->getOrders()->getSize() && $block->areReturnsAvailable()): ?>
        <div class="block block-rma-form">
            <form id="aw-rma-select-order-form" class="aw-rma-new__form" action="<?php echo $block->getSubmitUrl(); ?>" method="post">
                <?php echo $block->getBlockHtml('formkey'); ?>
                <div class="block-title">
                    <strong class="title"><?php echo __('Create new exchange or return'); ?></strong>
                    <p class="order-message"><?php echo __('Please select an order'); ?></p>
                </div>
                <div class="select-order-table__wrapper">
                    <table class="select-order-table table">
                            <thead>
                                <tr class="table-header-rma">
                                    <th scope="col" class="table-title-rma col order-id">&nbsp;</th>
                                    <th scope="col" class="table-title-rma col order"><?php echo __('Order'); ?></th>
                                    <th scope="col" class="table-title-rma col order-date" colspan="2"><?php echo __('Order Date'); ?></th>
                                    <th scope="col" class="table-title-rma col order-total"><?php echo __('Order Total');?></th>
                                </tr>
                            </thead>
                        <tbody class="table-body">
                        <?php foreach ($block->getOrders() as $order): ?>
                            <?php if (!$block->isOrderFinished($order)): ?>
                                <tr data-order-id="<?php echo $order->getId(); ?>"
                                    class="table-content <?php echo $block->getSelectedOrderId() === $order->getId() ? ' selected-item' : '' ?>">
                                    <td class="col order-id">
                                        <input type="radio"
                                               name="order_id"
                                               value="<?php echo $order->getId(); ?>"
                                               <?php echo $block->getSelectedOrderId() === $order->getId() ? 'checked' : '' ?>
                                               id="order-id-<?php echo $order->getId(); ?>"
                                               class="aw-rma-order-required aw-rma-order-items-available"/>
                                        <label class="radio-label label" for="order-id-<?php echo $order->getId(); ?>"></label>
                                    </td>
                                    <td data-th="<?php echo $block->escapeHtml(__('Order')); ?>" class="table-col col order">
                                        <a class="order-link" href="<?php echo $block->getOrderViewUrl($order->getId()); ?>">
                                            <span><?php echo __('Order'); ?> #<?php echo $order->getIncrementId(); ?></span>
                                        </a>
                                    </td>
                                    <td data-th="<?php echo $block->escapeHtml(__('Order Date')); ?>" class="table-col col order-date" colspan="2">
                                        <?php echo $block->formatDate($order->getCreatedAt(), \IntlDateFormatter::MEDIUM); ?>
                                    </td>
                                    <td data-th="<?php echo $block->escapeHtml(__('Order Total')); ?>" class="table-col col order-total">
                                        <?php echo $block->convertAndFormatPrice($order->getGrandTotal()); ?>
                                    </td>
                                </tr>
                                <?php if ($block->getOrderLeftCount($order) > 1): ?>
                                    <tr class="col select-item">
                                        <th class="table-padding table-col"></th>
                                        <td class="select-message table-col" colspan="4">
                                            <?= __('Please select the items from this order you would like to return or exchange') ?>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <?php foreach ($order->getItemsCollection() as $orderItem): ?>
                                    <?php echo $block->getItemRenderer($orderItem)->toHtml(); ?>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <div class="action-bar">
                    <div class="primary">
                        <button type="submit" title="<?php echo __('Next'); ?>" data-role="submit-btn" class="action primary next blue-button" disabled="disabled">
                            <span><?php echo __('Next'); ?></span>
                        </button>
                    </div>
                </div>
            </form>
            <script>
                require([
                    'jquery',
                    'mage/mage'
                ], function ($) {
                    'use strict';
                    var selectOrderForm = $('#aw-rma-select-order-form');
                    selectOrderForm.mage('validation', {
                        'errorPlacement': function(error, element) {
                            var errorPlacement = element;
                            if (element.is(':radio') || element.is(':checkbox')) {
                                errorPlacement = element.closest('.select-order-table');
                            }
                            if (element.is(':text.input-qty')) {
                                errorPlacement = element.closest('.items_for_return__content');
                            }
                            errorPlacement.after(error);
                        }
                    });
                    selectOrderForm.on('submit', function() {
                        if (selectOrderForm.valid()) {
                            selectOrderForm.find('button.next').attr('disabled', 'disabled');
                        }
                    });
                });
            </script>
            <script>
                require([
                    'jquery',
                    'jquery/ui'
                ], function($) {
                    'use strict';
                    $(document).ready(function() {
                        $(':radio').change(function () {
                            $(':radio[name=' + this.name + ']').closest('.table-content').removeClass('selected-item');
                            $(this).closest('.table-content').addClass('selected-item');
                        });
                    });
                });
            </script>
            <script type="text/x-magento-init">
                {
                    "#aw-rma-select-order-form": {
                        "awRmaSelectOrderForm": {
                            "currentRequestItems": <?php echo json_encode($this->getCurrentRequestItems()); ?>
                        }
                    }
                }
            </script>
        </div>
    <?php else: ?>
        <div class="message info empty">
            <span><?php echo $block->getNoOrdersMessage(); ?></span>
        </div>
    <?php endif; ?>
</div>