<!--
/**
* @vendor Kurufootwear
* @module Kurufootwear_OrderComments
* @author Krišjānis Veinbahs <krisjanisv@scandiweb.com>
* @copyright Copyright (c) 2017 Scandiweb, Ltd (http://scandiweb.com)
* @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
*/
-->
<div data-bind="visible: canVisibleBlock" class="comment-form">
    <div class="payment-option _collapsible opc-payment-additional discount-code">
        <div class="comment-title field choice" data-role="title">
            <span class="action action-toggle title" id="block-comment-heading" role="heading" aria-level="2">
                <!-- ko i18n: 'Order comments (Optional)'--><!-- /ko -->
            </span>
        </div>
        <div class="payment-option-content" data-role="content">
            <form class="form form-discount">
                <div class="payment-option-inner">
                    <div class="field wrapper">
                        <div class="control">
                            <textarea class="input-text" id="comment-code" name="comment-code" rows="2" maxlength="200" data-bind="attr:{placeholder: $t('Enter comment')} " ></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>