<?php
/**
 * @vendor Kurufootwear
 * @module Kurufootwear_CacheWarmer
 * @author Aleksejs Baranovs <info@scandiweb.com>
 * @copyright Copyright (c) 2018 KURU Footwear. All rights reserved.
 */
/**
 * @var $block \Kurufootwear\CacheWarmer\Block\Cache\CacheWarmer
 */
?>
<p>
    <?php if ($block->isEnabled()): ?>
        <button type="button" onclick="setLocation('<?= $block->getCacheWarmerUrl() ?>'); jQuery('body').trigger('processStart');" class="warm-cache">
            <?= __('Warm Cache') ?>
        </button>
        <span><?= __('Warm Cache. Execution time may be very long, so, please, be patient and do not refresh the page till any message.') ?></span>
    <?php else: ?>
        <span><?= __('Cache warmer is disabled. To enable it go to Stores -> Configuration -> Kurufootwear -> Cache Warmer.') ?></span>
    <?php endif; ?>
</p>
