<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<?php $initiallyOpen = false; ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2">
            <?php echo __('New Customers') ?>
        </strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p class="block-text">
            <?php echo __('By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.') ?>
        </p>
        <div class="registration-dropdown" data-mage-init='{ "collapsible": {
            "openedState": "open",
            "animate": "250",
            "active": <?php echo $initiallyOpen ? 'true' : 'false'; ?>,
            "saveState": false,
            "collapsible": true
        }}'>
            <?php echo $block->getChildHtml('sociallogin.register')?>
            <a class="action create primary button blue-button" data-role="title">
                <span><?php echo __('Create an Account') ?></span>
            </a>
            <div class="create form" data-role="content" <?php echo $initiallyOpen ? '' : 'style="display: none;"'; ?>>
                <?php echo $block->getChildHtml('customer_form_register.stripped'); ?>
            </div>
        </div>
    </div>
    <script>
        require([
            'expandSubmitButtons'
        ], function (expandSubmitButtons) {
            expandSubmitButtons.initializeRegisterButton();
        })
    </script>
</div>
<?php endif; ?>
