<?php
/**
 * @vendor Kurufootwear
 * @module Magento_Customer
 * @copyright Copyright (c) 2017 Scandiweb. All rights reserved.
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2">
            <?php echo __('PURCHASED HERE BEFORE BUT NOT REGISTERED?') ?>
        </strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p class="block-text">
            <?php echo __('If you have purchased with us before, but did not register after the purchase, you can submit your email address and the customer account will be created for you in seconds, you just need to follow the instructions in the email to create a new password.') ?>
        </p>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?php echo $block->getUrl('customer/account/sendmepassword') ?>" class="action create primary button blue-button">
                    <span><?php echo __('Send Password') ?></span>
                </a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
