<div class="text-desktop">
    <h2 class="banner-title">Hug your heels</h2>
    <p class="banner-message">Make your dreams come true</p>
    <div class="video-wrapper" data-video-link="//www.youtube.com/watch?v=BRKx20QLcxU">
        <span class="image-container">
            <img src="/media/wysiwyg/image-vid.png" alt="Video thumbnail" class="video-image"/>
        </span>
        <span class="text-container">
            <p class="video-text">Explore new world</p>
        </span>
    </div>
</div>
<a class="button blue-button arrowed" href="{{store direct_url='womens-shoes.html'}}">
    <span class="button-text">Shop women</span>
</a>
<a class="button blue-button arrowed" href="{{store direct_url='mens-shoes.html'}}">
    <span class="button-text">Shop men</span>
</a>