<div class="text-desktop">
    <h2 class="banner-title color-white">BELLA | TRINA</h2>
    <p class="banner-message color-white">&nbsp;</p>
</div>
<div>
    <a class="button blue-button arrowed" href="/womens-shoes/womens-bella.html">
        <span class="button-text">Shop BELLA</span>
    </a>
    <a class="button blue-button arrowed" href="/womens-shoes/womens-trina.html">
        <span class="button-text">Shop TRINA</span>
    </a>
</div>