<div class="text-desktop">
    <h2 class="banner-title color-orange">KINETIC</h2>
    <p class="banner-message color-orange">YOUR ENERGY</p>
</div>
<div>
    <a class="button blue-button arrowed" href="/womens-shoes/kinetic.html">
        <span class="button-text">Shop women's</span>
    </a>
    <a class="button blue-button arrowed" href="/mens-shoes/kinetic-mens.html">
        <span class="button-text">Shop men's</span>
    </a>
</div>