<div class="text-desktop">
    <h2 class="banner-title color-white">CHICANE BOOT</h2>
    <p class="banner-message color-white">&nbsp;</p>
</div>
<div>
    <a class="button blue-button arrowed" href="/womens-shoes/womens-chicane-boot.html">
        <span class="button-text">Shop women's</span>
    </a>
    <a class="button blue-button arrowed" href="/mens-shoes/mens-chicane-boot.html">
        <span class="button-text">Shop men's</span>
    </a>
</div>