<div class="text-desktop">
    <h2 class="banner-title color-white">SLING | SUOMI</h2>
    <p class="banner-message color-white">&nbsp;</p>
</div>
<div>
    <a class="button blue-button arrowed" href="/womens-shoes/womens-sling.html">
        <span class="button-text">Shop SLING</span>
    </a>
    <a class="button blue-button arrowed" href="/womens-shoes/womens-suomi.html">
        <span class="button-text">Shop SUOMI</span>
    </a>
</div>