<div class="text-desktop">
    <h2 class="banner-title">Hug your heels</h2>
    <p class="banner-message">Make your dreams come true</p>
    <div class="video-wrapper" data-lity data-lity-target="https://youtu.be/BRKx20QLcxU">
        <span class="image-container">
            <img src="/media/wysiwyg/image-vid.png" alt="Video thumbnail" class="video-image"/>
        </span>
        <span class="text-container">
            <p class="video-text">Explore new world</p>
        </span>
    </div>
</div>
<div>
    <a class="button blue-button arrowed" href="/womens-shoes.html">
        <span class="button-text">Shop Women's</span>
    </a>
    <a class="button blue-button arrowed" href="/mens-shoes.html">
        <span class="button-text">Shop Men's</span>
    </a>
</div>