<?php
/* @var WeltPixel\Maxmind\Block\Adminhtml\Order\View\Tab\Maxmind $block */

$maxmindData = $block->getMaxmindData();
$scoreThreshold = $block->getScoreThreshold();
?>

<div class="edit-order-comments-block">
    <div class="edit-order-comments-block-title">
        <?php /* @escapeNotVerified */ echo __('Maxmind Fraud Report Data') ?>
    </div>
</div>

<div class="maxmind-data">
    <section class="admin__page-section view-order-maxmind" style="float:left;">
        <div class="section-title"><?php /* @escapeNotVerified */ echo __('Risk Score'); ?></div>
        <div class="admin_content">
            <?php
            $fraudScore = $block->getFraudScore();
            $color      = $block->getColor();
            $percent    = $block->getPercent();
            ?>
            <div>
                <div>
                    <span><?php /* @escapeNotVerified */ echo __('Risk Score Estimate'); ?></span>
                    <span>
                        <?php if($fraudScore && !empty($fraudScore)) { ?>
                            <span style='color: <?php /* @escapeNotVerified */ echo $color; ?>'>
                                <strong>
                                    <?php /* @escapeNotVerified */ echo $fraudScore; ?>% <?php /* @escapeNotVerified */
                                    echo __('(Approximately %1 of all orders fall in this range)', $percent); ?>
                                </strong>
                            </span>
                        <?php } else { ?>
                            <span>-</span>
                        <?php }; ?>
                    </span>
                </div>
                <div>
                    <?php echo __('The riskScore is given as a percentage, and as such it ranges from 0.01 to 100.00. For example,
                    an order with a riskScore of 20.00 has a 20% chance of being fraudulent, while an order with a
                    riskScore of 0.10 has a 0.1% chance of being fraudulent. To change threshold estimate ');
                    ?>
                    <a href="<?php echo $this->getUrl("adminhtml/system_config/edit/section/weltpixel_maxmind_config"); ?>" target="_blank"><?php echo __('click here'); ?></a>
                </div>
            </div>
        </div>
    </section>

    <section class="admin__page-section view-order-maxmind" style="float:right;">
        <div class="section-title"><?php /* @escapeNotVerified */ echo __('Maxmind Account Information'); ?></div>
        <div class="admin_content">
            <table cellspacing="0" class="form-list">
                <tbody>
                <tr >
                    <td class="label">
                        <label>
                            <?php /* @escapeNotVerified */ echo __('Credit Remaining (relative to this order)'); ?>
                        </label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['queriesRemaining']) && !empty($maxmindData['queriesRemaining']))
                            ? ("<strong>" . $maxmindData['queriesRemaining'] . "</strong>")
                            : "&ndash;"; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Maxmind ID'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['maxmindID']) && !empty($maxmindData['maxmindID']))
                            ? ("<strong>" . $maxmindData['maxmindID'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Error Message'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['err']) && !empty($maxmindData['err']))
                            ? ("<strong>" . $maxmindData['err'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<div class="maxmind-data">
    <section class="admin__page-section view-order-maxmind" style="float:left;">
        <div class="section-title"><?php /* @escapeNotVerified */ echo __('IP Address Location Checks'); ?></div>
        <div class="admin_content">
            <table class="maxmind-table ip-check">
                <tbody>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Distance'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['distance']) && !empty($maxmindData['distance']))
                            ? ("<strong>" . $maxmindData['distance'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Country Match'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['countryMatch']) && !empty($maxmindData['countryMatch']))
                            ? ("<strong>" . $maxmindData['countryMatch'] . "</strong>")
                            : "&ndash;"; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Country Code'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['countryCode']) && !empty($maxmindData['countryCode']))
                            ? ("<strong>" . $maxmindData['countryCode'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('High Risk Country'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['highRiskCountry']) && !empty($maxmindData['highRiskCountry']))
                            ? ("<strong>" . $maxmindData['highRiskCountry'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Country Code'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['countryCode']) && !empty($maxmindData['countryCode']))
                            ? ("<strong>" . $maxmindData['countryCode'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('IP Region'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['ip_region']) && !empty($maxmindData['ip_region']))
                            ? ("<strong>" . $maxmindData['ip_region'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('IP City'); ?></label>
                    </td>
                    <td><?php /* @escapeNotVerified */
                        echo (isset($maxmindData['ip_city']) && !empty($maxmindData['ip_city']))
                            ? ("<strong>" . $maxmindData['ip_city'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('IP Latitude'); ?></label>
                    </td>
                    <td><?php /* @escapeNotVerified */
                        echo (isset($maxmindData['ip_latitude']) && !empty($maxmindData['ip_latitude']))
                            ? ("<strong>" . $maxmindData['ip_latitude'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('IP Longitude'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['ip_longitude']) && !empty($maxmindData['ip_longitude']))
                            ? ("<strong>" . $maxmindData['ip_longitude'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('IP ISP'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['ip_isp']) && !empty($maxmindData['ip_isp']))
                            ? ("<strong>" . $maxmindData['ip_isp'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('IP Organization'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['ip_org']) && !empty($maxmindData['ip_org']))
                            ? ("<strong>" . $maxmindData['ip_org'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="admin__page-section view-order-maxmind" style="float:right;">
        <div class="section-title"><?php /* @escapeNotVerified */ echo __('Address and Phone Number Checks'); ?></div>
        <div class="admin_content">
            <table cellspacing="0" class="form-list">
                <tbody>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Customer Phone in Billing Location'); ?></label>
                    </td>
                    <td>
                    <?php /* @escapeNotVerified */
                    echo (isset($maxmindData['custPhoneInBillingLoc']) && !empty($maxmindData['custPhoneInBillingLoc']))
                    ? ("<strong>" . $maxmindData['custPhoneInBillingLoc'] . "</strong>")
                        : "&ndash;"; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label>
                            <?php /* @escapeNotVerified */ echo __('Shipping Address is known mail drop'); ?>
                        </label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['shipForward']) && !empty($maxmindData['shipForward']))
                            ? ("<strong>" . $maxmindData['shipForward'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('City and Postcode Match'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['cityPostalMatch']) && !empty($maxmindData['cityPostalMatch']))
                            ? ("<strong>" . $maxmindData['cityPostalMatch'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Shipping City and Postcode Match'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['shipCityPostalMatch']) && !empty($maxmindData['shipCityPostalMatch']))
                            ? ("<strong>" . $maxmindData['shipCityPostalMatch'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="admin__page-section view-order-maxmind" style="float:right;">
        <div class="section-title"><?php /* @escapeNotVerified */ echo __('E-mail and Login Checks'); ?></div>
        <div class="admin_content">
            <table cellspacing="0" class="form-list">
                <tbody>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('Free Email Address'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['freeMail']) && !empty($maxmindData['freeMail']))
                            ? ("<strong>" . $maxmindData['freeMail'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('High Risk Email'); ?>
                        </label></td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['carderEmail']) && !empty($maxmindData['carderEmail']))
                            ? ("<strong>" . $maxmindData['carderEmail'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('High Risk Username'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['highRiskUsername']) && !empty($maxmindData['highRiskUsername']))
                            ? ("<strong>" . $maxmindData['highRiskUsername'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label><?php /* @escapeNotVerified */ echo __('High Risk Password'); ?></label>
                    </td>
                    <td>
                        <?php /* @escapeNotVerified */
                        echo (isset($maxmindData['highRiskPassword']) && !empty($maxmindData['highRiskPassword']))
                            ? ("<strong>" . $maxmindData['highRiskPassword'] . "</strong>")
                            : "&ndash;";  ?>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<div class="maxmind-data">
    <section class="admin__page-section view-order-maxmind" style="float:left;">
        <div class="section-title"><?php /* @escapeNotVerified */ echo __('Proxy Checks'); ?></div>
        <div class="admin_content">
            <table cellspacing="0" class="form-list">
                <tbody>
                    <tr>
                        <td class="label">
                            <label><?php /* @escapeNotVerified */ echo __('Anonymous Proxy'); ?></label>
                        </td>
                        <td>
                            <?php /* @escapeNotVerified */
                            echo (isset($maxmindData['anonymousProxy']) && !empty($maxmindData['anonymousProxy']))
                                ? ("<strong>" . $maxmindData['anonymousProxy'] . "</strong>")
                                : "&ndash;";  ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label><?php /* @escapeNotVerified */ echo __('Proxy Score'); ?></label>
                        </td>
                        <td>
                            <?php /* @escapeNotVerified */
                            echo (isset($maxmindData['proxyScore']) && !empty($maxmindData['proxyScore']))
                                ? ("<strong>" . $maxmindData['proxyScore'] . "</strong>")
                                : "&ndash;";  ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label><?php /* @escapeNotVerified */ echo __('IP Corporate Proxy'); ?></label>
                        </td>
                        <td>
                            <?php /* @escapeNotVerified */
                            echo (isset($maxmindData['ip_corporateProxy']) && !empty($maxmindData['ip_corporateProxy']))
                                ? ("<strong>" . $maxmindData['ip_corporateProxy'] . "</strong>")
                                : "&ndash;";  ?>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<style>
    .maxmind-data {float:left; width:100%;}
    .maxmind-data .view-order-maxmind table td {padding:6px;}
    .maxmind-data .view-order-maxmind .section-title {background-color: #E4E4E4; float: left; width: 100%; padding: 6px;}
    .maxmind-data .view-order-maxmind {float:left; width: 49%; box-sizing: border-box; border:1px solid #DDD;}
    .maxmind-data .view-order-maxmind .admin_content {float: left; width: 100%; padding: 6px; background: #F8F8F8 none repeat scroll 0 0;}
</style>
